[2018-02-18 18:16] alexellis commented on #520
Meeting kicking off shortly - thanks to all who accepted the invite.

[2018-02-18 18:16] #520 closed

[2018-02-18 19:17] BurtonR commented on #522
@derailed  Glad that helped out!

We're working on an official documentation site, but in the meantime, the `.yml` file is explained in the faas-cli repo here: https://github.com/openfaas/faas-cli#use-a-yaml-stack-file

As for different pods running different versions, you _could_, but they would need to be named differently. The gateway controls the execution of the functions and uses the functio

[2018-02-18 20:41] alexellis commented on #522
I'd say that's quite an accurate response from @BurtonR

If you need two versions of a function deployed at the same time I'd suggest doing them under two different names, each would get its own route and could be accessed independently with its own logs and metrics too.

Tools like Kong or Nginx can be used to hide both behind a single URL so you can switch.

You can also do rolling updates on yo

[2018-02-18 21:42] lucasalexander commented on #521
I get the same "None" reponse in the Docker playground environment. :(
[code]
![chrome_2018-02-18_15-34-26](https://user-images.githubusercontent.com/95673/36357280-5fd674cc-14c1-11e8-9ddb-18e9baed4b95.png)
![powershell_2018-02-18_15-34-44](https://user-images.githubusercontent.com/95673/36357277-57e8535c-14c1-11e8-9963-a872327816e5.png)
![chrome_2018-02-18_15-34-37](https://user-images.githubuser

[2018-02-18 21:50] alexellis commented on #521
My best guess at this time is that there's an underlying issue with Windows and secrets in the YAML file. This works fine on Linux and Mac.

Let's see what the other two guys can add on this. Have you tried running the FaaS CLI on a Linux machine too?

[2018-02-18 23:02] johnmccabe commented on #521
Its working for me on Windows 10...

- Deployed a stack to the playground. -
- Created the secret via the playground console
- Deployed the function from powershell on my laptop
- Invoked from my laptop
![image](https://user-images.githubusercontent.com/83862/36358057-b3a82ac6-14ff-11e8-9d56-03b55867e291.png)
- Deleted the fn/secret and deployed and it continued to work.

[2018-02-18 23:09] johnmccabe commented on #521
I did however observe swarm get itself in a mess, with the underlying container not being deleted when deleting via the cli.

![image](https://user-images.githubusercontent.com/83862/36358101-608de078-1500-11e8-9f4a-bdb421fec752.png)

OpenFaaS sees only one function, but both containers appear to be responding to requests (note the diff secrets).

![image](https://user-images.githubusercontent.com

[2018-02-19 12:44] derailed commented on #522
@BurtonR @alexellis - Thank you both for the excellent support and clarifications!

This totally makes sense and I do see now why this 1-1 is crucial when dealing with functions in terms of replication, updates and monitoring.

I'll keep digging on my use cases and will report back. For now, you've answered my quest perfectly, so  please close at your convenience.

Thank you both!!

[2018-02-19 19:32] rgee0 commented on #501
Are there any further thoughts on this?

Do we proceed at this point?

[2018-02-19 19:38] rgee0 commented on #498
Derek close: Further information requested.  @andrewb-ms thank you for using OpenFaaS; you're welcome to open a new issue if the question persists, or you require any further assistance.

[2018-02-19 19:38] #498 closed

[2018-02-19 20:31] johnmccabe commented on #521
@lucasalexander can you try deploying the example function again, but delete the language key:
[code]

[2018-02-20 00:35] lucasalexander commented on #521
I feel like I must be doing something dumb. I can't get it to work in the Docker playground with or without the language key when using faas-cli on either my Windows 10 laptop or a Linux machine. I also tried creating the function with Postman, and the function is still not seeing the secret:
[code]

Finally I tried deploying the function directly from within the Docker playground environment, and

[2018-02-20 08:34] LucasRoesler commented on #521
I have not been able to replicate this in the play-with-docker.com environment.  I was able to deploy faas, add a secret, and then deploy this stack

[code]

Having done this, the function executes and displays the secret as expected.

[2018-02-20 13:03] alexellis commented on #521
@lucasalexander to summarize - 4 of us have tried the setup on a mix of Linux, Mac and Windows and Play-with-docker and been able to access the secret. We cannot reproduce the issue.

I can offer you a brief Zoom call this week where we could screen share and observe the issue on your computer remotely. This may give some clues as to why you are encountering difficulties.

[2018-02-20 13:34] derailed opened #524 "Question about stdout and stderr within function output"
I've build some Go based handlers and trying to build a pipeline of functions and I am seeing some surprising and totally unexpected results. I hope I am missing something here...

Say I have a function f1 that needs to call another function f2.
For instance I am building a pipeline as such: echo -n "blee" |  f1() |  f2() -> "blee doh"
where function f2 appends the string its given with another.

[2018-02-20 13:39] alexellis commented on #524
The Go logging library writes to stderr.

Right now the watchdog version you are using captures both stderr and stdout for the function response. This is by design.

The of-watchdog incubator project I'm working on does not return anything printed to stderr. You are welcome to try that. It exists under the openfaas-incubator organisation and is a drop in replacement. To make use of it just edit yo

[2018-02-20 13:39] alexellis commented on #524
Derek set title: Question about stdout and stderr within function output

[2018-02-20 13:40] alexellis commented on #524
Derek add label: question

[2018-02-20 15:21] johnmccabe commented on #521
@alexellis is the problem not this:
[code]
Will that not try to spawn python to handle a request which won't be there in the test-secrets image?

[2018-02-20 15:25] derailed commented on #524
Thank you @alexellis for the reference!! I'll take a look. I don't mean to sound arch here but this does not sit well with me. It feels very strange to me to aggregate the streams automatically though my function specifically return "fred". As a function writer concerns me to have any debug/log contribute to the return value of my function. To boot one could define a custom logger and log to stdou

[2018-02-20 15:57] BurtonR commented on #524
@derailed, you mention Go and the HTTP framework in that language, but that is also limiting. The benefit of using the stdout is that there is no limitation to what language is used in the function. For example, I have several CLI tools that I have ported to be functions. That would be impossible if OpenFaaS only supported languages with an HTTP framework...

There is work in progress to make HTTP

[2018-02-20 16:44] derailed commented on #524
@BurtonR Thank you kindly for your feedback and additional info!  I'll take a peek...

[2018-02-20 22:36] lucasalexander commented on #521
I still can't access the secret even if I omit the envProcess from the JSON body when I create the function. @alexellis I will take you up on the Zoom call offer. I would definitely like to show what I'm doing to see if it's an easy fix. Thanks!

[2018-02-21 04:04] robertkeizer commented on #400
I'm in favour of not having OpenFAAS core handle multiple sources, although I am very much in favour of having the number of sources extended.

### Reasons for not supporting many triggering systems in core
 * It isn't too hard to imagine >20 different triggering systems as people start to adopt.
   * A single robust triggering system can be maintained much easier than many.
 * Features such as re

[2018-02-21 06:02] ericstoekl commented on #522
Derek close: (Thanks @BurtonR )

[2018-02-21 06:02] #522 closed

[2018-02-21 07:17] paulvanbladel opened #525 "Faas-cli list returns: " 'faas' is the only valid provider for this tool - found:""
Following this guide.
https://blog.alexellis.io/quickstart-openfaas-cli/
Works like charm with docker swarm, but faas-cli list gives strange output as described above.
New to open faas (and impressed), so difficult to give more pointers.
What i see from docker service ls is that the callme service is there.
Cheers
paul.
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to

[2018-02-21 08:37] alexellis commented on #525
@iyovcheva please could you help?

[2018-02-21 08:39] alexellis commented on #519
Thanks @kenfdev

[2018-02-21 10:01] white-cloud commented on #414
Hello please how i can autoscale my faas fucntion ??

[2018-02-21 10:02] white-cloud commented on #414
which command i use for example to fix the number of replica depend on the CPU usage or the number of requests ??

[2018-02-21 10:05] iyovcheva commented on #525
@paulvanbladel can you please share the steps to reproduce (would be very useful if you have your console history) and give some more information about your environment?
Thanks

[2018-02-21 13:32] paulvanbladel commented on #525
hi @iyovcheva
I think I wasn't running faas-cli list not in a directory that actually contains yaml files.
I can image that list only works under that condition?

[2018-02-21 13:52] iyovcheva commented on #525
hi @paulvanbladel

You don't need to run the command in the same directory.

In the `callme.yml` file there is a `provider` key:
[code]

The error occurs when provider does not match a valid one [1].
`faas-cli list` command parses the yaml files [2].

You may have a typo, missing space or missing provider line.

[1] https://github.com/openfaas/faas-cli/blob/f15e9814976c01b0ebeba3ff97edd178cd9ade86

[2018-02-21 16:38] lucasalexander commented on #521
Following up on this, I was able to get it working in Docker playground. The only thing I did different this time around was I installed version 0.7.1 instead of version 0.7.0. Would that be expected to make a difference?

[2018-02-21 18:25] maiermic opened #528 "Web UI shows undefined as response body"
## Steps to Reproduce
Run the Web UI as decribed in [Deployment guide for Docker Swarm](https://github.com/openfaas/faas/blob/35a9dbebe122b89b0789c1ca89051c4a6900fc20/guide/deployment_swarm.md#deploy-the-stack)

[code]

Create Node.js function:

[code]

**handler.js**
[code]

[code]

Open http://localhost:8080/ui/ and invoke a *Text* request for `ui-bug` function.

**Note:** Chrome Dev Tools shows

[2018-02-21 21:59] alexellis commented on #528
Hi thank you for filling out the whole template. I’d suggest you return an object and not a string as the response to the callback. Alex

[2018-02-21 22:00] alexellis commented on #528
Derek add label: question

[2018-02-22 07:04] maiermic commented on #528
I'm kind of confused. Why should I return an object? Do I always have to return an object? What kind of object is expected? I'd like to have plain text as response and not JSON. That's why I return a string in the handler and not an object. The response header is as I expect `Content-Type:text/plain` and not `Content-Type:application/json`. Does OpenFaaS (the Web UI) always expect plain text to be

[2018-02-22 07:23] paulvanbladel commented on #525
Can it be the case that faas-cli is confused by other yml files that are not at all related with open-faas?
Anyhow, don't want to loose your time with this, I will just reinstall everything and check if the problem still pops up. I'll close the issue now and come back to you when I discovered a rational/clean way to reproduce. Thanks a lot for your very kind help. Cheers.

[2018-02-22 07:23] #525 closed

[2018-02-22 07:39] alexellis commented on #525
There is no need to reinstall anything Paul. Please just follow the tutorial again in a new folder and report back. Multiple YAML files are a supported usecase too.

[2018-02-22 07:39] alexellis commented on #525
Thanks @iyovcheva for investigating this issue

[2018-02-22 08:49] paulvanbladel commented on #525
@alexellis thx. Btw, great software !!!
I'm basically writing functions based on the .net core template. Do you have any recommendation when I need a kind of CRON alike scheduler for these functions?
Sorry if this is a beginner question, but what would be the preferred way of actually calling the open faas function from that scheduler:
1. via faas-cli invoke ..
2. via curl and pass arguments in po

[2018-02-22 08:57] alexellis commented on #528
[code]

<img width="938" alt="screen shot 2018-02-22 at 8 56 16 am" src="https://user-images.githubusercontent.com/6358735/36528829-5832e558-17ae-11e8-8601-7353ed677a64.png">

This is what I'm getting when I return a string from the handler - same in Chrome and Safari.

[2018-02-22 09:03] alexellis commented on #528
The default response type for the Node template is `text/plain` - you can override it via an environmental variable in your YAML file or at deployment time if you do want to change it to something else.

<img width="399" alt="screen shot 2018-02-22 at 9 01 58 am" src="https://user-images.githubusercontent.com/6358735/36529092-354d4bea-17af-11e8-9611-4ded87ea5a37.png">

[2018-02-22 09:11] alexellis commented on #528
@maiermic there may be an issue in Angular (not OpenFaaS) that means the framework tries to parse anything that looks remotely like JSON - even when it's not valid JSON. Let's see if the folks on the angular project are able to help.

Bottom line:

* The UI is only meant for testing - the CLI and invocations over curl / HTTP will work fine
* Text responses that don't look like JSON will work fine

[2018-02-22 09:13] alexellis commented on #528
One more thing - you return `false` as an error.. you should not do this in a purist view. The error should be null or undefined when there is no error. False may evaluate to negative with the `!` operator - but best to be explicit.

[2018-02-22 10:32] maiermic commented on #528
I totally agree. If it is a bug in angular, we still have to update the dependency when it is fixed.

I see room for improvement in the documentation for *handler.js*. I had a look at the default template because I didn't know what to return as first argument. I saw it's the error parameter, but I still don't know exactly what kind of value is expected. I guess it has to be an error message, but m

[2018-02-22 11:01] jrevillas commented on #528
Thanks for the report, @maiermic. This is something I saw when working on #398. As @alexellis said, Angular's `$http` service transforms the content of the response when possible. I will do some research and tests to consolidate the experience in CLI and UI.

[2018-02-22 15:52] alexellis commented on #400
@robertkeizer how would you see using AMQP in your specific use-cases? Can you give us some idea of how that would look?

[2018-02-23 06:43] kenfdev commented on #528
@jrevillas I had some time so did a quick research.

As from this comment (Alex, you're fast)
https://github.com/angular/angular.js/issues/15897#issuecomment-367672775

It seems like upgrading AngularJS to 1.6.6 or greater would solve this problem. I did a quick check and confirmed that it is working as below:

![image](https://user-images.githubusercontent.com/3941889/36581244-5bbb8bba-18af-11e8-

[2018-02-23 07:59] alexellis commented on #528
Great input from #TeamServerless there - thank you.

@kenfdev or @jrevillas please could you co-ordinate and:

* Raise an issue to migrate to 1.6.6 (ideally with the same CDN if available)
* Raise a PR changing the `success/error` promise to `then/catch`

Whilst working on this - test out the store / manual deployment and auto-refresh behavior to see there is any regression or whether there are ot

[2018-02-23 08:55] kenfdev commented on #528
I can work on this today

[2018-02-23 12:54] kenfdev opened #530 "Migrate UI's AngularJS from 1.5 to 1.6"
## Current Behaviour

The current AngularJS version of the gateway UI is 1.5. The most recent AngularJS version is 1.6 and has some bugs fixed. For example, #528 occurs because of the bug of the `$http` service.

## Possible Solution

We should migrate from 1.5 to 1.6.
According to the [docs](https://docs.angularjs.org/guide/migration), there are some breaking changes so we need to be careful not

[2018-02-23 12:54] kenfdev commented on #530
Derek add label: UI

[2018-02-23 13:00] kenfdev commented on #530
@alexellis according to [this](https://github.com/openfaas/faas/issues/528#issuecomment-367936868) comment, you're suggesting 1.6.6 but the most recent is 1.6.9.
There are some bug fixes so I'd suggest we go with 1.6.9. How do you think?

[2018-02-23 19:13] lucasalexander commented on #521
I am closing this issue as it is now reliably working on 0.7.1.

[2018-02-23 19:13] #521 closed

[2018-02-24 09:36] alexellis commented on #530
Derek add label: priority/middle

[2018-02-24 14:16] stefanprodan opened #532 "Instrument the Gateway API system calls"
Provide Prometheus metrics for `/system/functions` API call as in:

* total invocations grouped by HTTP method and response status code
* invocation duration histogram

## Expected Behaviour
Be able to track the rate of system calls and alert on high latency system calls.

## Current Behaviour
API system calls are not instrumented.

## Possible Solution
Extend the current metric provider to system

[2018-02-24 17:53] alexellis commented on #532
Hey Stefan, thanks for working on this - it looks good on the whole but I have a question.

Imagine if we had an issue such as unexpected latency with one of the specific endpoints such as the one for scaling, listing or deleting a function. How would we diagnose that with the current implementation?

Should we also record the endpoint or the OpenFaaS operation taking place? We do this for individ

[2018-02-24 18:21] alexellis commented on #521
Glad we could be of assistance. We have been using `functions/gateway:0.7.0`, but if `0.7.1` works please stick with it. Keep in touch and maybe you could get involved with a #FaaSFriday next week? https://twitter.com/search?f=tweets&vertical=default&q=faasfriday&src=typd

[2018-02-24 18:36] BurtonR commented on #532
I think this would be a great addition! This would allow us/users/admins to be able to diagnose the OpenFaaS functionality rather than just a function.

It'd be good to know if the deploy or invoke process was taking too long and be able to find any potential issues there. At least enough to alert someone that they should take a deeper look.

[2018-02-24 18:51] alexellis commented on #524
The blog post you've written does not mention the of-watchdog instructions that I provided for you. It seems unfair that you'd omit this detail and then write negative and unrepresentative things about the project such as:

The of-watchdog resolves your reported issue, but you didn't try it. For full disclosure you really should say that you're writing a [comparative / critical piece on a project]

[2018-02-24 19:30] derailed commented on #524
Hi @alexellis Thanks for the feedback! You are totally correct my bad! I've meant to mention it in the post and spaced it. I will definitely try the new watchdog just ran out of time. I did not add it as this was not my out of the box experience. Thanks for calling me on this! I will correct the post and add the reference right away. Thanks Alex!!

[2018-02-25 12:05] alexellis commented on #414
@white-cloud this thread is closed - please open a new issue if you'd like support.

[2018-02-25 12:06] alexellis commented on #414
Derek lock: feature completed

[2018-02-25 12:07] alexellis commented on #519
Merged. Let's close the issue when we have confirmed the fix in 0.7.2

[2018-02-25 12:07] #528 closed

[2018-02-25 12:46] alexellis opened #537 "UI may be broken in IE11"
I tested the UI using a Microsoft free VM via https://github.com/openfaas/faas/blob/master/contrib/HACK.md

It seemed to work in "Edge" but fail in IE11 on Windows 10 - it could be the VM, or this could be a wider issue with IE11.

Either way I wanted to log it.

## Possible Solution

Work through issues in dev console.

## Steps to Reproduce (for bugs)

1. Deploy OpenFaaS somewhere (not in the VM

[2018-02-25 12:56] alexellis commented on #530
Fixed. What a fast turn-around @kenfdev - 💯 🥇

[2018-02-25 12:57] alexellis commented on #530
Derek close: fixed

[2018-02-25 12:57] #530 closed

[2018-02-25 12:57] alexellis commented on #528
@maiermic this has been fixed and is good to go in 0.7.2 - just do:

[code]

That should be it. Thank you for logging the issue.

[2018-02-25 13:01] alexellis commented on #528
<img width="744" alt="screen shot 2018-02-25 at 13 01 34" src="https://user-images.githubusercontent.com/6358735/36641697-071f5586-1a2c-11e8-9dee-dc283204c52c.png">

This is the function running in the new version by @kenfdev ^

[2018-02-25 13:08] alexellis commented on #519
<img width="1045" alt="screen shot 2018-02-25 at 13 08 10" src="https://user-images.githubusercontent.com/6358735/36641741-f4c609c4-1a2c-11e8-8430-eb7085c9abdb.png">

Did I mention it yet? @kenfdev is awesome

[2018-02-25 13:08] alexellis commented on #519
Derek close: fixed

[2018-02-25 13:08] #519 closed

[2018-02-25 13:11] alexellis commented on #481
I like the version you have in the gif @kenfdev - I think it's better than current but agree for the future we could revisit the UX and tune it even more.

Let's go ahead with the version as per the gif if you have time in the next week or two?

[2018-02-25 13:11] alexellis commented on #481
Derek add label: area/ux

[2018-02-25 13:16] alexellis opened #538 "Watchdog: marshal "Cookie" header into environment"
## Description

`Http_Cookie` should contain the value passed in the `Cookie` header if it is not already present.

Area for change:

https://github.com/openfaas/faas/blob/master/watchdog/main.go#L206

This change should also cover https://github.com/openfaas-incubator/of-watchdog

Work items:

* First of all - test that the the Cookie is not already transmitted by forcing a header at the gateway

[2018-02-25 13:16] alexellis commented on #538
Suggested contributors: @johnmccabe @dungeonmaster18 @viveksyngh

[2018-02-25 13:17] alexellis commented on #538
Derek add label: area/watchdog

[2018-02-25 13:18] alexellis commented on #501
On naming `armhf` vs `armv7` - I'm OK moving to `armv7`.

[2018-02-25 13:29] viveksyngh commented on #538
I will work on this.

[2018-02-25 14:05] maiermic commented on #528
@alexellis @kenfdev Thank you very much :+1:

[2018-02-25 15:01] johnmccabe commented on #538
Just sanity checked this and it appears to be unnecessary. The `Cookie` header, if present, is already resulting in `Http_Cookie` being set in the function env.

https://github.com/openfaas/faas/blob/8f8e337dccb66b3e1dcdc9287e0b037a9937c332/watchdog/main.go#L208-L211

[2018-02-25 15:34] johnmccabe commented on #538
Derek close: already implemented

[2018-02-25 15:34] #538 closed

[2018-02-25 20:28] white-cloud opened #541 "Question on OpenFaaS autoscaling"
Hello

which command i use for example to fix the number of replica depend on the CPU usage or the number of requests ??
Thank you .

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

* Pl

[2018-02-25 21:09] alexellis commented on #541
Please fill out "your environment" - thanks

[2018-02-26 05:02] ericstoekl commented on #541
@white-cloud -- You should be able to apply min/max scaling by adding the following to your stack.yml file:

[code]

Let us know if this works :)

[2018-02-27 10:01] continuata opened #542 "Question: how do I use xargs in a function?"
## Expected Behaviour
when calling a function I expect to be able to pass arguments like this
[code]

## Current Behaviour
I'm able to call my function successfully explicitly without xargs:
[code]
But if I try to use xargs I get `can't find service`

## Context
I want to be able to pass arguments into my compiled C++ function.

## Your Environment
* Docker version 17.12.0-ce-mac49
* Local test Do

[2018-02-27 10:51] alexellis commented on #542
As far as I'm aware the `xargs` approach works.

What `curl` / `invoke` statement are you using?

Do you want to push up a container for me to try out?

[2018-02-27 10:59] continuata commented on #542
I'm just running it with
[code]

Which works fine if I change the Dockerfile to be explicit i.e.
[code]

So I doubt there's anything wrong with how I'm invoking it.
I'm having the same problem with the nmap tutorial code.

[2018-02-27 11:35] alexellis commented on #542
Can your code be timing out? Have you looked at the logs yet in the troubleshooting guide re: `write_debug: true`?

https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

[2018-02-27 11:55] alexellis commented on #542
I tried your example and `docker service logs` gave the error.. this should always be the first port of call when things don't look right.

I then swapped scratch for `alpine:3.6` and the program ran. I used the sample here - https://www.geeksforgeeks.org/command-line-arguments-in-c-cpp/

[2018-02-27 14:04] continuata commented on #542
that's perfect.
Thanks so much for all the help.

[2018-02-27 14:04] #542 closed

[2018-02-28 14:56] mjbright opened #544 "Dashboard ui should indicate when function's Docker image is not yet available"
When deploying a new function via "Deploy New Function" it should be clear when a newly added function is not yet available because the Docker image has not yet been pulled.

## Expected Behaviour
I selected "colorize" in the list "From Store", then clicked on the "Deploy" button.
"colorize" is now listed in the list of functions
I should be able to select the "colorize" function, set the appropri

[2018-03-01 10:00] alexellis opened #547 "Watchdog: introduce endpoints for health and metrics"
Update the OpenFaaS Watchdog to introduce two new endpoints:

* /_/health

This should check for the lock file at `/tmp/.lock` - use the existing behavior for this.

* /_/metrics

Vendor Prometheus go library and expose:

Add a Prometheus counter:

[code]

This counter should represent the requests/second.

Once complete - make equivalent change to the of-watchdog here:

https://github.com/openfaa

[2018-03-01 19:03] alexellis commented on #107
This work has not been continued due to lack of interest from the community.

However - I think it may be easy to support via the new flask template I've been working on with the "HTTP mode" in of-watchdog. https://github.com/alexellis/python27-flask-template

[2018-03-02 16:33] ulm0 commented on #501
Problem with `alpine` is that `armhf` stands for `armv6` a.k.a `arm32v6` as mentioned in https://github.com/gliderlabs/docker-alpine/issues/298

Have you ever considered cross-compiling `armv6` bins using multi-stage dockerfile in an AMD64 machine?

Either [resin/raspberrypi3-alpine](https://hub.docker.com/r/resin/raspberrypi3-alpine/) or [multiarch/alpine](https://hub.docker.com/r/multiarch/alpin

[2018-03-02 17:35] ulm0 opened #548 "Community suggestions for Swarm implementation"
# Feature(s) proposal
First of all, thanks for the work you've been doing with this project, it's really amazing. I've been playing with it for the first time in my local Swarm through **UI only**.

And I've listed a few things it can be improved on:

### 1. Network-aware functions deployments

When deploying new functions, it either shows an empty network or a default (`func_functions`) one

![im

[2018-03-03 00:45] gkuchta opened #551 "Proposal: Amend fwatchdog documentation to reference container readiness checks"
I realize that using openfaas without `fwatchdog` isn't a supported use case, but it might still be handy to explicitly call out the additional constraint you need to satisfy:

I propose ammending [this section of the fwatchdog README.md](https://github.com/openfaas/faas/blob/master/watchdog/README.md#i-dont-want-to-use-the-watchdog) to:

---

### I don't want to use the watchdog

This is an unsup

[2018-03-03 08:58] alexellis opened #552 "API Gateway: move from Golang reverse proxy to HTTP client"
## Description

This is a performance tuning task.

API Gateway: move from Golang reverse proxy to HTTP client

The Golang reverse proxy spams DNS requests when this is unnecessary, after having looked into this with @stefanprodan we believe we should try swapping that out for a HTTP client to reduce contention when under very high load.

## Change domain

https://github.com/openfaas/faas/blob/mas

[2018-03-03 08:59] saad749 opened #553 "Troubleshooting question for faas-netes"
## Title

Queue worker and gateway pods in CrashLoopBackOff

## Expected Behaviour
The Queue worker and gateway should be running.

## Current Behaviour
Gateway and Queue worker are restarting and in CrashLoopBackOff status.

## Steps to Reproduce (for bugs)

1. Configure a 2 Node Kubernetes cluster with Weave
2. curl -sL https://cli.openfaas.com | sudo sh
3. git clone https://github.com/openfaas/

[2018-03-03 09:12] alexellis commented on #552
I'll take a go at this

[2018-03-03 10:54] alexellis commented on #553
I've been running it this same scenario several times this week and even deployed it this morning without any issues. I think what you are seeing is normal, but usually resolves itself.

There can sometimes be several restarts on the initial deployment until the gateway, nats and the queue worker are in sync. If the gateway comes up before nats is available it will attempt to connect several times

[2018-03-03 10:58] #551 closed

[2018-03-03 10:59] alexellis commented on #551
Thanks for catching this. Keeping docs up to date is something we care about.

[2018-03-03 11:12] saad749 commented on #553
Below logs are after re applying yaml.

[code]

In another trial:

[code]

[2018-03-03 11:42] alexellis commented on #553
Perhaps there's an underlying issue with your cluster? All I can really do is try to reproduce it and at the moment I can't. What networking driver are you using?

[2018-03-03 11:46] saad749 commented on #553
Weave

[2018-03-03 11:50] saad749 commented on #553
Any suggestions, what could be interfering with it?

[2018-03-03 12:07] alexellis commented on #553
You seem to have an odd IP CIDR in the cluster - 192.168.100.x

How did you set up weave?

Alternatively scale the gateway deployment to 0 then back to 1 again.

[2018-03-03 12:12] saad749 commented on #553
192.168.100.XX are the IPs of the nodes(17 for master and 12 for Minion).

I set up my cluster and weave as:
kubeadm init --apiserver-advertise-address 192.168.100.17

mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

export kubever=$(kubectl version | base64 | tr -d ‘\’)
kubectl apply -f "https://cloud.weave.works/k8s/ne

[2018-03-03 12:31] stefanprodan commented on #553
I'm guessing is something with the CNI setup, I see in your ifconfig flannel and weave, those don't work together well. Before running OpenFaaS on your cluster try to validate that networking is being properly setup.

[2018-03-03 13:27] saad749 commented on #553
The result is same after deleting the flannel interface and reapplying the yaml.
[Updated ifconfig -a](https://gist.github.com/saad749/55449093fe190d2ce2642e8b4cb0a7cd)

[code]

How can I validate that the networking is properly set up?

Is the IP for the pods correct? Should it refer to 192.168.100.xx ? Is it possible to specify it in the yaml files?

[2018-03-03 14:02] alexellis commented on #553
![hmm-2](https://user-images.githubusercontent.com/6358735/36935122-48e6b27a-1eeb-11e8-8665-1c514a4841be.png)
![hmm](https://user-images.githubusercontent.com/6358735/36935123-490b0864-1eeb-11e8-9d31-5cbd14c13c8a.png)

So I set up a new 2-node cluster using Ubuntu, but I provisioned the cluster with `kubeadm`. I set up weave also and my local network is running on 192.168.0.0/24

It took 30-60 sec

[2018-03-03 14:05] luigizuccarelli commented on #553
I have been experiencing the same problem as saad749. I have a 5 node pi cluster with docker version 17.12.0-ce and deployed using faas-netes.

I have made use of flannel (couldn't get weave to work)

The log output of the gateway pod reports this
[code]

The log output for the queue pod
[code]
Only difference is that I have deployed the pods in the default ns

[2018-03-03 14:08] alexellis commented on #553
You should not use `flannel` - weave does work fine if you follow my tutorial. https://blog.alexellis.io/serverless-kubernetes-on-raspberry-pi/

If you have an IP conflict between the Pod network and your local network you can override it with Weave, but you'd be better raising an issue with Weaveworks with your specific error than just installing flannel against advice of the tutorial.

`curl -SL

[2018-03-03 14:10] saad749 commented on #553
No, I dont have any flannel pods. The interface was there, because I had previously installed flannel instead of weave. I will try on a completely fresh ubuntu vm again now.

[code]

[2018-03-03 14:14] luigizuccarelli commented on #553
@alexellis - ok thanks for the advice.

In the guide https://github.com/openfaas/faas/blob/master/guide/deployment_k8s.md could you maybe add the namespace to ensure default is not used ?

[2018-03-03 15:32] alexellis commented on #553
For ARM there is a separate guide but both guides run in namespaces.yaml - did you specifically edit the yaml to have it appear in the default namespace?

[2018-03-03 17:32] alexellis opened #555 "Feature: Add readiness to the functions in the UI"
## Expected Behaviour

We should see if a function is ready to call.

* Invoke should be disabled if not
* A new field should indicate if it's ready

## Current Behaviour

* Error given - Service unavailable

## Possible Solution

Poll our new endpoint that exposes function readiness in the `availableReplicas` field.

`/system/function/<name>`

## Impact

* faas-netes, faas-swarm and faas-nomad

#

[2018-03-03 18:29] alexellis commented on #555
See also: https://github.com/openfaas/faas-swarm/issues/12

[2018-03-03 20:17] alexellis commented on #553
I would recommend only using the functions from the Function Store or ones you create with the CLI.

[2018-03-03 20:30] #553 closed

[2018-03-04 07:13] alexellis commented on #553
Glad it's all working now.

This is the best place to start learning right now https://github.com/openfaas/workshop

[2018-03-04 09:38] alexellis commented on #548
Thank you for providing your feedback. I'll try to give some responses that represent my available time and the usefulness of these suggestions to the project vs the cost in time and effort to implement them.

* 1. Network-aware UI for Swarm

This has been mentioned before, but it's both technically very involved and something we advise against. OpenFaaS is always deployed to the same network with

[2018-03-04 09:40] alexellis commented on #552
Merged, but marked as pre-release as UI is responding in unexpected way when timing out.

[2018-03-04 09:40] #552 closed

[2018-03-04 09:44] alexellis commented on #501
I agree - `armhf` does represent `armv6`/`arm32v6` which is compatible with `armv7`/`armv32v7`, that's why we build only `armhf`. @rgee0 suggests we build only for `armv7` that is the proposal.

[2018-03-04 09:45] alexellis commented on #501
@ulm0 on dropping support for arm32v6 see the detailed points in the "Description".

[2018-03-04 13:48] luigizuccarelli commented on #553
@alexellis - no I never edited the yaml at all. Just followed the guide mentioned and saw that the resources were appearing in the default ns

I'm retrying from scratch again.

[2018-03-04 19:28] alexellis commented on #544
I agree with the suggestion and it's one we've been working on since last year. Unfortunately it is not a trivial change and does add some latency for Swarm due to the way Docker provide to query the status of container readiness.

If you'd like to do some early testing then please see #556.

I'll close this issue as a duplicate for now.

[2018-03-04 19:28] alexellis commented on #544
Derek add label: duplicate

[2018-03-04 19:45] alexellis commented on #541
Ping for filling out the template - this will let us answer your question as it may depend on Swarm vs Kubernetes and which version of either. @white-cloud

[2018-03-04 20:06] alexellis opened #561 "Sample function: Update/extend DockerHubStats"
## Expected Behaviour

When given a username the function gives the amount of repositories for that username or org.

i.e.

[code]

If a username and repo combo is given `username/repo`:

[code]

## Current Behaviour

Only supports a username or org to count the repos available.

## Context

The API for fetching image pull statistics is here:

https://hub.docker.com/v2/repositories/functions/gatew

[2018-03-04 20:11] BurtonR commented on #561
I'll take this on. Looks like a useful update!

[2018-03-04 20:40] alexellis commented on #561
Thanks @BurtonR

[2018-03-05 11:25] white-cloud commented on #541
Hello @alexellis  thank you for your answer.

I'm using Openfaas in kubernetes v1.9 .

My question now is how to desactivate the autoscaling of openfaas.
Thank you.

[2018-03-05 11:34] alexellis opened #563 "Architecture: Extract package openfaas/go-http"
We have http.Client settings in almost every project, we should create a new package:

openfaas/go-http

* it should create a http.Client with defaults
* contain httpClientReverseProxy from the Gateway

[2018-03-05 11:38] alexellis opened #564 "Architecture: Invoke functions directly from gateway"
We should offer an option to invoke functions from the gateway rather than delegating to the provider. There is no benefit in invoking a function through the provider for Docker Swarm and Kubernetes.

- This reduces latency by removing one unnecessary HTTP hop through the provider
- Configuration for timeouts is simplified by not having to set it in two places

A no-op load-test with alexellis/gof

[2018-03-05 11:44] alexellis opened #565 "Architecture: move requests type from gateway to faas-provider"
We should move the requests type from the gateway to the faas-provider so that there are no dependencies on the gateway from other code.

[2018-03-05 11:46] #544 closed

[2018-03-05 11:46] stefanprodan commented on #547
Adding the Prometheus client will bring the watchdog binary size to 6MB

[2018-03-05 12:31] alexellis commented on #547
Thanks for commenting. The current size is around 3.92MB - so adding instrumentation almost doubles the size of the binary.

[2018-03-05 12:35] losintikfos opened #566 "Support question - Golang usage"
The call to `types.UnmarshalRequest(bytes)` is returning empty struct.

## Expected Behaviour

Struct object with non empty values. Including non empty **HTTP** header and request data.

## Current Behaviour

	bytes, _ := ioutil.ReadAll(os.Stdin)
	fmt.Println("HELLO -> ", string(bytes))
	req, err := types.UnmarshalRequest(bytes)
	fmt.Println("REQ=", req)

**Request:**

[code]

**Print 1 result**
`

[2018-03-05 12:47] alexellis commented on #566
Hi thanks for logging an issue.

I'm not sure what the problem is here. Can you summarize?

What is this line supposed to be doing and where is it being saved?

[code]

When you say:

[code]

What call, where? How are you invoking it?

[2018-03-05 13:18] losintikfos commented on #566
The call:
     ` CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -o my_service .`
builds `my_service` to local machine and then copies the built `my_service` app onto containers due to other dependent local modules I do not want to copy onto the container before building.

The example handler I am using is as shown below taken from [ApiKeyProtected](https://github.com/openfaas/faas/tree/ma

[2018-03-05 14:50] alexellis commented on #566
To write a Golang function please follow the official method:

[code]

To access HTTP headers look at `os.Getenv("Http_X_Key_Here")` where that represents a header such as `X-Key-Here` in `curl localhost:8080/function/<function_name> -H "X-Key-Here: value".

For more on how to read headers from the watchdog see the [documentation here](https://github.com/openfaas/faas/tree/master/watchdog)

For a

[2018-03-06 12:26] MarsWarrior commented on #400
As no one is mentioning MQTT - the standard protocol for IoT - as a source for triggering events, I thought I throw this in :smiley:

The use cases are numerous:

- A device that updates a topic, triggers a function call to initiate a function / alarm / email etc.
- A device that updates a value within a topic, triggers a function depending on the value of the topic
- A function can also be a micr

[2018-03-07 13:02] iyovcheva commented on #541
Hi @white-cloud

To disable auto-scaling, you should set the minimum and maximum scale to "1".

[2018-03-07 14:00] losintikfos commented on #566
@alexellis let me take this opportunity to thank you and the major contributors for the good work.

I am following the example project [apikey-secret](https://github.com/openfaas/faas/tree/master/sample-functions/apikey-secret) to adapt to my requirement which is to pre-build my app on local machine and export the built app to the container to be invoke by watchdog.

So far I am getting somewhere

[2018-03-07 14:58] alexellis commented on #541
Yes that will work great @iyovcheva - alternatively remove the alert from AlertManager's configuration. It's bind-mounted from faas-netes YAML / helm.

https://github.com/openfaas/faas-netes/blob/master/yaml/prometheus_config.yml#L40

Or keep the alert and stop OpenFaaS processing it:

https://github.com/openfaas/faas-netes/blob/master/yaml/alertmanager_config.yml#L62

[2018-03-07 20:12] #561 closed

[2018-03-08 17:48] alexellis commented on #565
Derek add label: enhancement

[2018-03-08 21:30] #555 closed

[2018-03-09 15:31] Templum opened #569 "Proposal Autoscaling Increments as percentage of max replica amount"
## Expected Behaviour
Currently, the auto scaling happens in static 5 increments which are limited by the settable max replicas amount. It would be a nice behaviour if that scaling increments would not be static, but instead a percentage of the max replica amount. Because this would also allow ways to define the scaling behaviour. Function with a high max replica amount will scale large that funct

[2018-03-09 15:38] alexellis commented on #569
Are you willing to work on this?

[2018-03-09 15:49] Templum commented on #569
Hi Alex,

I gave it a try as it is a smaller change. If you're happy with the [commit](https://github.com/Templum/faas/commit/8e3d5d77672dca92778a858d32ae34adcab36ca1) I also can set up the pull request.

Change to the handler and also updated the tests to match the percentage scaling.

Cheers,

Simon

[2018-03-09 20:59] MarsWarrior opened #570 "Question: Can OpenFaaS be connected to an existing NATS-Streaming cluster?"
## Expected Behaviour

OpenFaaS can work together with an existing NATS-Streaming cluster that is already used as a backbone for applications and micro services.

## Current Behaviour

AFAIK, NATS-Streaming is part of the OpenFaaS deployment stack for Docker Swarm / K8s.

## Possible Solution

Just a question :smile:

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):
D

[2018-03-09 22:51] alexellis commented on #570
Hi Mars I am not aware of anything that would prevent this. You may need to alter some of the configuration files so that they "point" at your existing NATS Streaming cluster. Of course the best way to approach this would be to try it out and test the assumption.

Looking forward to hearing back from you.

[2018-03-09 22:53] alexellis commented on #569
@stefanprodan ptal

[2018-03-09 22:53] alexellis commented on #569
We'll take a look, thanks again for the proposal.

[2018-03-10 10:01] MarsWarrior commented on #570
Hi Alex. That is great to know that there should  be no barriers to use aan existing NATS cluster.

I have no idea yet of the timeframe that we can test this. So if you can leave this issue open, we or anyone else can comment on this question.

[2018-03-10 10:21] alexellis opened #572 "Architecture: structured logging"
After reviewing the codebase with @stefanprodan we want to look into options for structured logging for OpenFaaS. Structured logging writes logs in a specific format that can be parsed easily via fluentd or some log aggregator.

Options mentioned:

* *glog* format
* JSON format
* KVP format

Glog has some questionable design decisions and mixed opinion within the Go community.

Logrus used by Dock

[2018-03-10 10:25] alexellis opened #573 "Architecture: watchdog - graceful termination"
The watchdog could benefit from doing a graceful termination where by it stops accepting new HTTP requests when it gets a SIGTERM from Swarm or Kubernetes.

Example of an issue reported by Simon (@Templum) during down-scaling of replicas:

https://github.com/openfaas/faas-netes/issues/156

This can be implemented via the new HTTP server cancellation in Go 1.9 and onwards: https://golang.org/pkg/ne

[2018-03-11 08:19] abhishiv commented on #468
Hey @alexellis, another use case would be running a multi-tennant paas. Very much like heroku or aws lambda. However in that case the router also needs to think about a grace period instead of just one container per request.

[2018-03-13 15:49] alexellis opened #574 "Docker Swarm: test faas-swarm with TLS-enabled engine"
OpenFaaS should function with TLS-enabled engine, such as Docker CE or Docker EE.

## Task

* Generate self-signed certs
* Attempt to configure dockerd and docker client
* Configure `faas-swarm` or patch code to mount/use certificates rather than mounting socket from a manager
* Verify behavior
* Document all steps in Docker Swarm deployment guide

Looking for help with this

Docker's docs on TLS

[2018-03-13 19:23] darknao commented on #574
Not sure what's the best way to do this, but here is what I've done in my case :

My ca.pem cert.pem and key.pem are stored in my home directory (/home/pi/.docker) on my manager (redpi.home).
I've basically just mounted this directory and added a few environment variables in `docker-compose.armhf.yml` :

[code]
a (more generic?) alternative way is to use `tcp://172.18.0.1:2376` for `DOCKER_HOST` b

[2018-03-13 20:56] alexellis commented on #574
That sounds like a good approach. How did it go?

Is there a way to avoid a bind-mount such as by using swarm secrets or swarm configs?

cc @justincormack

[2018-03-13 21:50] darknao commented on #574
Both method works fine. I currently use the second way.

Concerning the bind mount, I do like the swarm secrets approach.

Adding this at the end of the compose file :

[code]

then updating the `DOCKER_CERT_PATH` to `/run/secrets`
Works like a charm.

I do need to try this on a multi manager environment, though. But it should work.

[2018-03-13 22:07] serans1 opened #575 "Can we have custom docker guide ?"
## Expected Behaviour
Not really a bug but more of doc issue, All posts mention custom docker as an option while I couldnt find a guide on the matter.
Can you share some example on how this can be done ?

## Current Behaviour
Found the issue where the feature is requested , didnt find instructions how to use it.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Y

[2018-03-13 22:38] alexellis commented on #575
In unclear about what you're asking for.

Can you please explain with some examples?

[2018-03-13 22:39] BurtonR commented on #575
@serans1 We definitely want to make sure out documentation is accurate!

Can you provide a link to where the "custom docker as an option" is mentioned?
You say All Posts. Are you referring to the `community.md` blog posts section? Is there a specific guide you were following where there was some confusion?

[2018-03-13 22:45] BurtonR commented on #575
Derek add label: documentation

[2018-03-13 22:58] serans1 commented on #575
https://github.com/openfaas/faas-cli/issues/29

On Wed, Mar 14, 2018, 00:45 Burton Rheutan <notifications@github.com> wrote:

[2018-03-13 23:11] BurtonR commented on #575
I see. You were looking at an old issue. If you take a look at the merged PR, the "custom" was changed to "dockerfile" after some discussion:

So, to get the available templates, you can run the following commands:

[code]
which will return the following output:

[code]

This is described in the faas-cli readme: [Run the CLI](https://github.com/openfaas/faas-cli#run-the-cli)

[2018-03-14 00:01] BurtonR commented on #575
Derek: close

[2018-03-14 00:03] BurtonR commented on #575
Derek close

[2018-03-14 00:03] #575 closed

[2018-03-14 07:50] alexellis commented on #575
Thanks Burton :100:

[2018-03-14 08:36] serans1 commented on #575
Kudos for the prompt handling, Star is on the way :)
Giving it a drive

On Wed, Mar 14, 2018, 09:50 Alex Ellis <notifications@github.com> wrote:

[2018-03-14 08:38] alexellis commented on #574
The other thing we need to test is having the `faas-swarm` service running on a worker instead of a manager. Please could you try removing the constraint too?

[2018-03-14 09:14] alexellis commented on #564
I have a working PoC on this and it performs better under a heavy load-test having one less HTTP hop and less logging, but the Nomad provider we'll still need to invoke the provider as a middleware. @nicholasjackson

[2018-03-14 11:40] johnmccabe commented on #574
I started to rebuild my swarm last night, can check this out when I pick it up again tonight.

[2018-03-14 12:21] alexellis opened #576 "Load testing optimizations - DNS suffix"
We can avoid a flood of DNS lookups when doing load testing by adding a `.` to the end of DNS entries, but they must specify the full address.

I'd suggest doing this first with Kubernetes and then reviewing if it can fit anywhere else too.

I.e. in the gateway config for Kubernetes:

[code]

The final `.` period symbol prevents DNS lookups for all the search-domains - of which there are 4-5 by de

[2018-03-14 13:12] darknao commented on #574
Just tried `faas-swarm` on a worker, didn't go well using the docker_gwbridge gateway (172.18.0.1)  as DOCKER_HOST :
[code]
Which was expected I guess. Using the manager IP instead do the job, but is not reliable in multi manager environment.

[2018-03-14 15:15] alexellis commented on #574
Docker doesn't provide a HA mechanism for the manager IP, but if you put a hardware load-balancer or similar in front of the managers you could point at that instead.

@electricwarr has a requirement to not run any containers on his manager nodes, so this is probably what he'd have to do?

[2018-03-14 15:31] webroboteu opened #578 "Question: I need help extending timeouts"
I'm trying to integrate openfaas to my cloud service, I want to call the functions in the context of a spark executor.
Having said this, I have this problem.
If i associate the function with a delay of only 5-10 seconds, an error occurs and the function is not detected even by setting the 2 variables read_timeout and write_timeout at the template level.
what mistakes am I making?

[2018-03-14 15:34] BurtonR commented on #578
@webroboteu  Thank you for bringing this up! Could you please fill out the issue template completely?

The information requested in the issue template helps us figure out where the issue is and what we can do to correct it.

[2018-03-14 15:38] webroboteu commented on #578
provider:
  name: faas
  gateway: http://localhost:8080
functions:
  inductionstack:
    lang: inductionspider
    handler: ./inductionspider
    image: inductionstack:spider-last8
    environment:
      read_timeout: 200
      write_timeout: 200
      exec_timeout: 0

[2018-03-14 15:39] webroboteu commented on #578
in the function for the test i have only a istruction time.sleep(10) in python

[2018-03-14 15:42] webroboteu commented on #578
the function can take up to 10 seconds because there is a machine learning task behind it

[2018-03-14 15:46] BurtonR commented on #578
We're looking for "Expected Behavior", "Current Behavior", "Steps To Reproduce", etc. The text that is pre-filled in the comment when you create a new issue.

That said, I can guess that the actual error you're receiving is a "function not found" error. That would be an issue with the image/deployment of the function and not the timeout being set.

Have you had a look at the [troubleshooting guide

[2018-03-14 15:50] webroboteu commented on #578
the error is that but setting a delay to 0.5 for example the function is found

[2018-03-14 15:53] webroboteu commented on #578
ok, however, I will control the whole ride better. Thanks anyway

[2018-03-14 15:59] vosmith opened #579 "NATS clients not reconnecting if NATS server fails over"
When a NATS Streaming server running in in-memory mode restarts, all of the clients need to reconnect to NATS according to this issue:

https://github.com/nats-io/nats-streaming-server/issues/150

While using OpenFaas it appears that the Gateway and QueueWorker are not aware of restarts from NATS, and all subsequent async function calls fail due to a publish ack timeout.

## Expected Behaviour

If

[2018-03-14 18:08] alexellis commented on #253
See updated comment: https://github.com/openfaas/faas/pull/464#issuecomment-371971680

[2018-03-14 19:00] alexellis commented on #253
Cheers @genexp

[2018-03-14 21:49] yogeek opened #580 "Error : Manifest for function/faas-swarm:0.2.1 not found"
The "0.2.1" tag used in the default stack (docker-compose.yml) does not exist for the "function/faas-swarm" image

## Expected Behaviour
Testing openfaas stack with "Try in PWD" button must deploy the stack in PWD without error

## Current Behaviour
Testing openfaas stack with "Try in PWD" button leads to the following error :
`Error : manifest for functions/faas-swarm:0.2.1 not found`

## Possibl

[2018-03-14 22:37] alexellis commented on #580
Thanks for noting this. Can you checkout the tag 0.7.3 which is also in the test drive guide?

[2018-03-14 22:39] darknao commented on #574
I've tried to do some DNS load balancing using a single A record (ie: swarm-manager.home) with 3 managers.
Shutting down every manager one by one, faas-swarm never complained about anything.
Maybe that can do the trick

[2018-03-14 22:41] BurtonR opened #581 "Proposal: Move UI out of gateway"
Discussion about moving the UI code base to a separate image that could be developed/released independent of the gateway and would not be required for OpenFaaS cluster deployment

I imagine the UI as more of a development/testing component of the OpenFaaS framework and as such, believe it should not be included if deploying to a production environment

## Expected Behaviour

The UI should be a sep

[2018-03-14 22:41] alexellis commented on #580
Master also contains 0.2.2 which is a valid existing tag if you'd like to repull?

[2018-03-14 22:41] BurtonR commented on #581
Derek add label: proposal

[2018-03-14 22:42] BurtonR commented on #565
I do love clean code :smiley:

I can get started on this

[2018-03-15 09:56] vishweshwarp commented on #553
I was facing the same issue reported by @saad749. I had to disable firewall to make it work.

[2018-03-15 10:11] iyovcheva commented on #579
Derek add label: review
Derek add label: proposal
Derek add label: support

[2018-03-15 10:13] iyovcheva commented on #579
Derek add label: proposal

[2018-03-15 10:13] iyovcheva commented on #579
Derek add label: support

[2018-03-15 13:25] alexellis commented on #580
Moved to 0.2.2 tag to fix this. Thank you for reporting.

[2018-03-15 13:25] #580 closed

[2018-03-15 13:44] alexellis commented on #581
Correct - they are often coupled together - i.e. the gateway API and gateway UI should "agree" to a contract, this keeps them up to date.

In what way? The code is static HTML built into a container, it's the simplest form of a website.

The UI is a dashboard which is just as useful in production as development.  It may not be used to deploy functions, but the same argument can be made of the Kube

[2018-03-15 13:44] #581 closed

[2018-03-15 13:47] alexellis commented on #578
@webroboteu see the guide that Burton linked to:
https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

It explains how to appropriately set the timeouts throughout the system.

You also need to fill out the whole template, here it is again so that you can do that:

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

##

[2018-03-15 16:29] viveksyngh commented on #547
@alexellis for `_/health` endpoint, what if `.lock` suppressed with `suppressLock` configuration? We need to return 404 in that case.

[2018-03-15 16:54] alexellis commented on #547
Great question.. Can you check what Kubernetes expects to fail a health-check? (liveness probe)https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-a-liveness-http-request

[2018-03-15 17:13] alexellis opened #582 "Port RPi / armhf Dockerfile for latest AlertManager RC"
We need AlertManager to be ported over to the contrib folder where we have ARM build files for Prometheus 2.0 / 2.2 etc already in place.

Please use this as a basis for the build:

https://github.com/alexellis/docker-arm/tree/master/images/armhf/alertmanager

If you have access to a Raspberry Pi that will help a lot otherwise provision a node on Scaleway for a couple of hours to test your build.

[2018-03-15 17:31] viveksyngh commented on #547
for Kubernetes, anything greater than `200` to less than `400` is a success. For failed, it uses 500 response.

[2018-03-15 17:55] iyovcheva commented on #579
Thanks for logging this @vosmith
If you're interested in contributing a fix, we'd be happy to review/merge.

[2018-03-15 17:56] iyovcheva commented on #579
Derek add label: help wanted

[2018-03-15 18:04] alexellis commented on #547
Sounds good to me

[2018-03-15 18:43] rgee0 commented on #582
I'll have a look at this.

I'll add the label to the network as part of this too.

[2018-03-15 18:46] alexellis commented on #582
I appreciate it. Our Kubernetes config is broken right now on ARM. Do you have an ETA?

[2018-03-15 20:09] vosmith commented on #579
Hey @iyovcheva , I would love to! Let me see what I can do :+1:

[2018-03-15 20:50] #582 closed

[2018-03-16 09:04] alexellis commented on #566
You don't need to force anything but you do need to create your secrets inside the cluster before you can reference them.

The example has been updated to make things clearer - https://github.com/openfaas/faas/tree/master/sample-functions/apikey-secret#trying-the-sample

Hope this helps?

I'll close the issue but you can keep commenting as you need.

[2018-03-16 09:04] #566 closed

[2018-03-16 11:05] iyovcheva commented on #578
@webroboteu
There is a maximum timeout for the gateway and faas-swarm (don't know if you're using swarm and where your problem occurs, so please fill in the issue template mentioned above).
The maximum values are set in `docker-compose.yml` and they will override the function timeouts.

You can try to increase the `read_timeout` and `write_timeout` values in `docker-compose.yml`.

[2018-03-16 16:29] yogeek commented on #580
Sorry for the delay, I was not able to test the new tag before. Thank you for the fix !

[2018-03-17 03:40] BurtonR commented on #581
I can understand that there are not enough pros, and not compelling enough cons with the current process to do this work at this time.

To bring up some counter-points to your points:

* Keeping them in sync is important, but making a change to the layout, or UX of the UI should not require a new release of the API since that hasn't actually changed and would be confusing.
* To counter my own poin

[2018-03-17 10:45] Rillian-Grant opened #586 "Can't delete function from the UI in play with docker."
## Expected Behaviour

When you delete a function it disappears from the UI and the CLI.
## Current Behaviour

I can delete a function using the CLI but not with the UI.

## Steps to Reproduce (for bugs)

1. Follow the steps in TestDrive.md
2. Try to delete a function from the UI..

## Your Environment

# Note: this was done on play with docker.

[2018-03-17 10:46] alexellis commented on #586
Thanks for reporting that. I'm not aware of any issues but will take a look.

[2018-03-17 10:46] alexellis commented on #586
Derek add label: question

[2018-03-17 11:14] rgee0 commented on #586
Following the PWD directions in `testdrive.md` I have been able to delete sample functions and functions deployed from the store.

Can you provide further details on how you were using the CLI. Ideally the steps to reproduce via the CLI.

[2018-03-17 11:19] Rillian-Grant commented on #586
I can delete functions via the CLI using faas/faas-cli remove ...

With the web UI the popup box asking if you really want to delete the function pops up but when you click OK nothing happens.
I am using Google Chrome version 64

[2018-03-17 11:45] rgee0 commented on #586
I'm interested in the CLI in case you are deploying the function that you cannot delete in this way.  With the steps we can try to replicate and understand your question better.

When using the UI:

What actually happens when you click the OK button?
- Does it go away?
- Do you get the success toaster?

In the Network tab of dev tools do you see a DELETE request being made?
- Does the request have

[2018-03-17 12:16] Rillian-Grant commented on #586
The Box goes away
and I havent looked for the delete request

[2018-03-17 12:35] alexellis commented on #586
@Rillian-Grant we ask for the issue template to be filled out **for a reason** - it gives us the context we need to reproduce the problem. You don't say if you're using Windows, Linux or Mac for your client.

I have Chrome version Version 65.0.3325.162 (Official Build) (64-bit) on my Mac.

Delete works fine via PWD - same with 0.7.3.

Here's an idea - clear your browser cache and / or update your

[2018-03-17 12:36] kenfdev commented on #581
I'd like to leave some comments about this, too.

I understand this circumstance but separating the image may be too much for now. As Alex points out, the 'contract' part is much easier to be achieved if they are in the same image. One could update only the gateway and forget the UI image and could break the functionality because of the API difference (well, we should think about backwards compati

[2018-03-17 15:48] BurtonR commented on #565
@alexellis Currently, in the `faas-provider` the package `types` holds the `requests.go` file.

Changing faas to use the faas-provider would mean changing `requests.Function` (for example) to `types.Function`

Is that what you expect? Or should this change also include changing the faas-provider `types` to `requests` or maybe adding a new package to faas-provider for the requests?

Not sure how yo

[2018-03-17 17:18] alexellis commented on #565
This is not a simple change and will require co-ordination with all the consumer projects. I would not recommend starting out on this on your own as it will probably get stuck. I have some other things that need attention first. Once we have everything lined up this change can go in without causing too much hassle.

[2018-03-17 17:20] alexellis commented on #569
Perhaps rather than scaling continually by a proportional amount it could scale to a set value? i.e.

min: 1
max: 100

As a percentage of max:

1 r/s  -> 1 replica
2 r/s -> 2 replicas

and so on..

@stefanprodan ?

[2018-03-17 18:01] BurtonR commented on #565
Sounds good! I was just getting started with it when I realized how big of a change this is going to be!

Ping me again when we're ready

[2018-03-19 12:28] vosmith commented on #579
Hey @iyovcheva , the work done to fix this issue is actually in the [nats-queue-worker](https://github.com/openfaas/nats-queue-worker repository).  I've submitted PR [117](https://github.com/openfaas/nats-queue-worker/pull/17) as a fix and is ready for review.  Thanks!

[2018-03-19 17:07] alexellis commented on #441
Please see comment: https://github.com/openfaas/faas/pull/442#issuecomment-374289765

[2018-03-19 17:07] #441 closed

[2018-03-19 20:33] saad749 opened #589 "faas-cli : function build error with numPy for python function"
## Expected Behaviour
The function should build successfully

## Current Behaviour

The function fails to build.

[code]

[code]
## Steps to Reproduce (for bugs)

1. Requirements.txt
[code]
2. handler.py
[code]
3. sudo faas-cli build -f ./matrix-compute.yml

## Context
The function is multiplying two matrices that have been fetched from a remote server.

## Your Environment
* Docker version `docke

[2018-03-19 20:42] BurtonR commented on #589
@saad749  Thank you for including the console output, however, it is not clear what the "Current Behavior" is without having to read through most of the console output.

That being said, I did notice this line in the output:

It appears the problem is trying to use the package `numpy` on Apline Linux (which is the base image in the function template)

I am not familiar with Python, but doing a qui

[2018-03-19 21:09] alexellis commented on #589
I'm going to trim down the output as it makes the issue hard to read.

Numpy needs a build toolchain including GCC etc which is not in the minimal standard templates. The easiest way of getting to `numpy` would be to use the Python3 Debian template instead.

[code]

@saad749 do you want to give it a shot and get back to us?

[2018-03-19 21:18] saad749 commented on #589
Thank you for the quick replies.
@alexellis Yes, using python3-debian  template solves it.

[2018-03-19 21:20] BurtonR commented on #589
Glad you got it working!

[2018-03-19 21:20] BurtonR commented on #589
Derek close

[2018-03-19 21:20] #589 closed

[2018-03-20 02:54] ericstoekl commented on #572
What would this look like in the code? The advantage is that we have 4 times less log duplication, which makes sense. But instead of the gateway+provider collecting the logs, what service is collecting them? Is another container running in the deployment which does all the logging?

[2018-03-20 08:33] alexellis commented on #541
Derek close: question resolved

[2018-03-20 08:33] #541 closed

[2018-03-20 08:47] alexellis opened #590 "Feature: read-only root file-system for containers"
## Description

A container image is immutable, but once deployed as a running container changes can be made to the file-system aka the "root file-system" mounted at `/`. Relates to #144

This feature implements a read-only filesystem to protect the function code and libraries from changes at run-time. I was told by @justincormack that cloud providers such as AWS Lambda do not support this use-cas

[2018-03-20 08:48] alexellis commented on #586
We're unable to reproduce the issue. Please try the steps we mentioned above.

[2018-03-20 09:20] LucasRoesler commented on #144
Couple of questions about how this is used:

1. What the practical use case where a developer explicitly opts into a read-only fs or would it be opt-out to a non-root fs?
2. With the above question in mind, do we see the openfaas cluster admin having an option to enforce read-only root functions?
3. If the cluster admin can control this, does it simply override the setting and return a warning if

[2018-03-20 09:49] alexellis commented on #144
Please comment on #590

[2018-03-20 10:06] LucasRoesler commented on #590
Copying from my comment on #144

Couple of questions about how this is used:

1. What the practical use case where a developer explicitly opts into a read-only fs or would it be opt-out to a non-root fs?
2. With the above question in mind, do we see the openfaas cluster admin having an option to enforce read-only root functions?
3. If the cluster admin can control this, does it simply override the

[2018-03-20 12:45] alexellis commented on #590
The writable folder would be `/tmp/` as specified. Kubernetes does not allow a hard limit on `empty_dir` mounts right now but @stefanprodan tells me it's coming soon.

Version 1 of this feature will be opt-in only through the YAML file / config.

Do you have enough information to start working on this?

[2018-03-20 13:46] alexellis commented on #574
@darknao thanks for the help. I think it would make sense to write up the instructions here as an issue comment and then look at where we could integrate that into a guide in the faas repo.

[2018-03-20 16:19] Rillian-Grant commented on #586
OK thank you for your help.

[2018-03-20 16:19] #586 closed

[2018-03-20 20:03] stefanprodan commented on #572
On Kubernetes you would send the logs to stderr and use a format that Fluentd understands like json or glog. Fluentd will forward the logs the default could provider backend (Stackdriver, Cloudwatch, etc) or to Elasticsearch if you run on-prem. There is no need for us to ship a log collector on Kubernetes. Docker Swarm comes with several log drivers that will do the same.

[2018-03-20 20:06] stefanprodan commented on #572
I've tested several log packages and I would go with zerolog and json format.

| Library | Time | Bytes Allocated | Objects Allocated |
| :--- | :---: | :---: | :---: |
| zerolog | 767 ns/op | 552 B/op | 6 allocs/op |
| :zap: zap | 848 ns/op | 704 B/op | 2 allocs/op |
| :zap: zap (sugared) | 1363 ns/op | 1610 B/op | 20 allocs/op |
| go-kit | 3614 ns/op | 2895 B/op | 66 allocs/op |
| lion | 5392 ns

[2018-03-21 10:16] scher200 commented on #42
If just only we wanted this, still I thought it would be worth posting:
[https://github.com/scher200/dosd](https://github.com/scher200/dosd)
It gives you openfaas in a dind container, please try it:
[code]

[2018-03-21 13:23] alexellis commented on #42
Looks interesting. Have you run the tests from certify-incubator repo inside? Could be a good thing to try next

[2018-03-21 16:15] dvdmuckle opened #597 "[Proposal] Add title element to index.html for gateway"
## Expected Behaviour

Show something like "OpenFaaS Portal" as the title element for the OpenFaaS gateway UI.

## Current Behaviour

Currently, the title shows up as whatever URL the user uses to browser to the gateway UI

## Possible Solution

Add a <title> element to the index.html file for the gateway

[2018-03-21 18:18] rgee0 commented on #597
Derek add label: proposal

[2018-03-21 19:10] alexellis commented on #597
I think this makes sense. If you'd like to go ahead with that.

[2018-03-21 19:48] dvdmuckle commented on #597
Created #600

[2018-03-22 06:32] scher200 commented on #42
[code]

[2018-03-22 09:04] iyovcheva commented on #578
@webroboteu did that help you? Do you have additional comments/questions?

Going to close the issue due to no activity, but feel free to comment.

[2018-03-22 09:04] iyovcheva commented on #578
Derek close

[2018-03-22 09:04] #578 closed

[2018-03-23 09:46] scher200 commented on #42
do you mabe have a certify-incubator container, that i can use to setup a dockerized test?

[2018-03-23 12:17] bharatsush opened #602 "I need help configuring timeouts"
___________________________________
I am running ai model which is taking time to excute more then 30 sec. I unable run this python function openfaas. How can solve it?
-------------------------------------------------------
request:
curl http://127.0.0.1:8080/function/hello-python -d "somethind data"
response:
Can't reach service: hello-python
Following python function I used:
-------------------

[2018-03-23 13:19] iyovcheva commented on #602
@bharatsush
There are maximum `read_timeout` and `write_timeout` values (25s for gateway and 20s for faas-swarm) set in `faas/docker-compose.yml`.
You can try to increase them and run again `.\deploy_stack.sh`

[2018-03-23 16:38] alexellis commented on #597
Derek close: fixed by #600

[2018-03-23 16:38] #597 closed

[2018-03-23 20:12] astub commented on #579
Could this be the issue i'm having with async X-Callback-Url not getting a request? What logs should I look for to verify this?

[2018-03-24 10:19] alexellis commented on #602
The issue template tells you to look at the troubleshooting guide before raising an issue. It addresses any issues about timeouts.

Please work through it and let us know if you need further support.

https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

[2018-03-24 16:01] alexellis commented on #564
Fixed in #592

[2018-03-24 16:01] #564 closed

[2018-03-24 16:36] alexellis commented on #579
@astub it's unlikely unless you think your nats-streaming server restarted for some unknown reason.

You should check out the troubleshooting guide:

https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

Check the logs for the queue-worker and raise a new issue for your problem if you can't figure it out.

[2018-03-24 21:38] gesch opened #607 "test gofmt in the dockerfile fails "on my machine"."
Just as an disclamer, I'm new to openfaas and go, so a user error might be the obvious issue here.
I got started with the workshop and got a bit cocky and switched from ruby, which i also don't know much about to go because I'm interessed in go. I'm java developer by breed.
## Environment
The environment is a windows 10 laptop, openfaas is running on a azure virtual machine created with the docker

[2018-03-24 21:46] gesch commented on #607
think i added the wrong handler file the first time (the template, not the edited one).

[2018-03-24 22:00] gesch commented on #607
Tried to replace the lf with crlf, test blamed me to run gofmt, which turned them back into LF. So no luck with the line endings.

[2018-03-24 22:56] johnmccabe commented on #607
That handler works fine for me on Windows 10. The line-endings are supposed to be LF (Unix) and not CRLF (Windows) so that attached zip looks OK.

Can you zip up your functions build directory and also paste the output from the command line here. Its kinda hard to tell exactly whats going on for you here.

[code]

[2018-03-24 23:25] johnmccabe commented on #607
Can you also just confirm that the function built successfully (`faas-cli.exe build` rather than `go build`) before you changed the handler?

[2018-03-25 08:46] gesch commented on #607
Thats the build directory:
[hello-go.zip](https://github.com/openfaas/faas/files/1845128/hello-go.zip)
and the matching output
[code]

[2018-03-25 09:33] johnmccabe commented on #607
@gesch the line endings in `main.go` are `CRLF`, the test step is searching for all go files and its actually this which is resulting in the output you're seeing.

For reference, what editor are you using, and if you're committing this to a local git repo is it configured it to automatically change line endings (`git config core.autocrlf)?

[2018-03-25 09:40] gesch commented on #607
This solved the issue, i didn't check the unchanged files provided by the template. Sorry for bothering you :)

[2018-03-25 09:40] #607 closed

[2018-03-25 12:25] rgee0 commented on #509
Closing as the gateway armhf Dockerfile was updated in 3897d1f54e0b9d9662d2d651bb83be4c96852077

[2018-03-25 12:25] #509 closed

[2018-03-26 07:44] tarunmangukiya opened #608 "Support: Timeout troubleshooting"
## Expected Behaviour

I am writing a function to bulk transfer files to s3 from remote urls in NodeJS. Function container is responding with success and gateway must forward the same to the user.

## Current Behaviour
I have checked container logs. Function container is returning success in 26 seconds. But gateway is responding it with 502 error. I've checked that the function's the task is perfo

[2018-03-26 07:53] iyovcheva opened #609 "Push docker images to Quay as well as to DockerHub"
We would like to have an additional option for Docker registry in case DockerHub support is dropped.
Please find here the [Quay Documentation](https://www.google.bg/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjq3tXwvYnaAhUkIJoKHc_HDZ8QFggnMAA&url=https%3A%2F%2Fdocs.quay.io%2Fsolution%2Fgetting-started.html&usg=AOvVaw32taSpoVDZnr4Ak6jjFQ1d)

## Expected Behaviour

`faas push

[2018-03-26 07:54] iyovcheva commented on #609
Derek add label: proposal

[2018-03-26 08:14] alexellis commented on #608
Hi @tarunmangukiya it sounds like your timeout values have not been set appropriately.

You didn't say whether you followed the troubleshooting guide:

* Please also follow the [troubleshooting guide](https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md) and paste in any other diagnostic information you have.

Questions:

* Can you upload your docker-compose.yml and function's YAM

[2018-03-26 08:34] tarunmangukiya commented on #608
Hi @alexellis, Yes I've followed the troubleshooting guide to resolve timeout issue, earlier it was 500 error due to `timeout`, then I changed it accordingly and it worked for small 1-2 number of files.

Gist: https://gist.github.com/tarunmangukiya/16136dacba8e8a43ce458f3e353a2aa2
Includes: `docker-compose.yaml`, `handler.js`, `package.json` and `stack.yml`
In handler.js there're 3 env variables,

[2018-03-26 08:48] alexellis commented on #608
With the latest gateway version this field should be a Golang duration. So I think "1000" was meant to be 1000s which is 16 minutes (probably way too high)

`            read_timeout:  1000   # set both here, and on your functions`

Your gateway is also quite old at `functions/gateway:0.7.0`
Perhaps you could update to a later version of faas-swarm and the gateway?

Look at the file in master for

[2018-03-26 08:51] tarunmangukiya commented on #608
Yeah I set it to check if there's an issue with the timeouts. Let me update the gateway and revert soon.

Thank you!

[2018-03-26 10:02] tarunmangukiya commented on #608
@alexellis For now it feels like that was the gateway version issue itself, tried with 40+ files now and it's working perfectly. We can close the issue for now. Will inform in case of any issue in future.

Thanks for your help and OpenFaaS :)

[2018-03-26 10:11] alexellis commented on #608
I'm glad to hear this. You should also try the async route for longer running tasks. Then the jobs can go into the background.

[2018-03-26 10:13] tarunmangukiya commented on #608
Ya checked it, pretty useful to create large sized zip on the go for our [Iconscout.com](https://iconscout.com) 🥇

Will surely try it.

[2018-03-26 11:47] alexellis commented on #609
I think I didn't explain the intent of this very well.

The idea was to push the images during CI to both Docker Hub and Quay.io - it needs some PRs to the Travis YAML file for all the main repositories.

[2018-03-27 03:23] s8sg opened #611 "IDEA Transport Layer abstraction by introducing transport Plugin"
## Expected Behaviour
The current transport layer is based on HTTP. Having a transport level abstraction and plugin based implementation of different transport mechanism  (e.g. Kakfa, rabbitmq etc) would allow the platform user to choose best suited transport layer for their use-case.

## Current Behaviour
Currently `HTTP protocol` is being used as the basic transport layer for all the functions.

[2018-03-27 04:55] s8sg opened #612 "Suggestion: configure store URL in UI"
## Expected Behaviour
Load a store with provided functions definitions from a given link targeted to `store.json`or load a function directly from a git repo that includes `stack.yml`

## Current Behaviour
Currently the store is being loaded from fixed file hosted at
[code]
The functions in store are fixed and can be modified only after modifying the above file

## Possible Solution

The current st

[2018-03-27 11:15] alexellis commented on #548
Here's an update with some good news.

cc @rgee0

As of the latest versions of faas-swarm we can derive the network name for OpenFaaS functions - that means any stack name can be used. We will have to remove the references to the "func_functions" network from the store's JSON file but can only do that once most people have migrated up - otherwise they will see an error on the "manual" tab.

[2018-03-28 07:48] tarunmangukiya commented on #608
Hey @alexellis, new gateway is working great with, but there's one more issue started occurring. Now for long running functions > 20s the curl shows, `No reply from server` error. And the timing of this error is random.

Gateway logs `200 response` when it completes, and there's no timing relation between the error at calling server and Faas server.

Also, there was one more error that showing, `E

[2018-03-28 08:21] alexellis commented on #608
What are all the values you picked for the gateway?

[2018-03-28 08:46] tarunmangukiya commented on #608
300s for each read, write and upstream, I need higher values as we're already processing the events from the jobs, the FaaS are divided in different individual dockers.

[2018-03-28 08:47] alexellis commented on #608
Can you attach your current docker-compose.yml file as a gist?

Basically you are saying you have a 5 minute timeout which is cutting off at around 20 seconds in?

[2018-03-28 08:55] tarunmangukiya commented on #608
Yes, 5 minute timeout and that's not exactly 20s. Each time the time is different. I measured it with stopwatch.

And even I tried to put the higher values like 1800, but still no luck.

Docker-compose.yml: https://gist.github.com/tarunmangukiya/ebfd6cfeb830629f3cabf1d4f22408b7

[2018-03-28 08:59] alexellis commented on #608
Related issue:

`            upstream_timeout: "300s"     # Maximum duration of upstream function call - should be more than read_timeout and write_timeout
`

Please read the comment and alter this value.

[2018-03-28 09:06] alexellis commented on #608
Let's try this function: https://github.com/alexellis/issue-608/

[2018-03-28 09:11] alexellis commented on #608
I set the timeout_secs: value to "25000" - 25s and then ran this:

[code]

It worked as expected breaking off the connection at the 20s mark which is the default configuration set in the gateway under `upstream_timeout`.

[2018-03-28 09:13] tarunmangukiya commented on #608
Let me try.

[2018-03-28 09:16] alexellis commented on #608
I extended the timeouts on the gateway to around 60s for read/write timeout and 65s for the upstream_timeout and then set my timeout_secs in the function to 35000.

[code]

Worked as expected.

[2018-03-28 09:18] tarunmangukiya commented on #608
What's `timeout_secs`?

[2018-03-28 09:19] tarunmangukiya commented on #608
Got it, it's there for function handler.

[2018-03-28 09:24] tarunmangukiya commented on #608
Your function is working perfect.
While in mine.

**Output in Curl**

curl: (52) Empty reply from server

**Gateway Log**

Have increased `upstream time` in  `docker-compose.yml`

[2018-03-28 10:42] alexellis commented on #608
The handler you have exported in handler.js looks fairly different from what is generated by the template. I would not be surprised if the error is related to that.

[code]

[2018-03-28 10:43] alexellis commented on #602
Closing due to inactivity. Feel free to keep commenting.

[2018-03-28 10:43] #602 closed

[2018-03-28 10:43] #609 closed

[2018-03-28 10:44] alexellis commented on #590
Derek add label: help wanted

[2018-03-28 10:45] tarunmangukiya commented on #608
Actually I edited the handler to support AWS like `(event, context)`, `context.fail()` and `context.succeed()`.

Let me check & deploy the OpenFaaS into VMs if the issue is related to docker installation or OS.

[2018-03-28 10:59] alexellis commented on #608
My time is very limited so let's try this - revert your template to the official OpenFaaS version and drop the fancy async keywords etc. They are not going to leverage significant benefits for the function at hand.

Then create a GitHub repo - public or private - push your code there and try to build/deploy/invoke your code. If you are still having issues share the repo with me and any secrets nee

[2018-03-28 15:02] milsonian commented on #590
One issue is that in cases where a function wouldn't need a writeable filesystem at all, the lock file still implies a requirement of something like `emptyDir` in k8s.  Maybe it would be worth removing the lockfile in of-watchdog since it has an http check?  If it's tolerable to break backwards compatibility there...granted, that would imply adding something like `curl` for swarm, and not basing t

[2018-03-28 17:50] rgee0 opened #614 "Updates required to the ARM deployment guide"
## Expected Behaviour
The ARM documentation should be compatible with the current state of the product.

## Current Behaviour
Aspects refer to steps no longer required - patching of Dockerfiles, for instance

## Possible Solution
Update and reword where required

## Steps to Reproduce (for bugs)
Not a bug

## Context
Currently the documentation may cause confusion as some of the steps detailed are

[2018-03-28 17:51] rgee0 commented on #614
Derek assign: me

[2018-03-28 18:08] #614 closed

[2018-03-28 21:51] alexellis commented on #590
This proposal suggests a read-only filesystem for the function root filesystem and a writeable temporary area using an empty-dir or similar. This accommodates a writeable area which doesn't break compatibility with the lock file.

[2018-03-28 21:51] alexellis commented on #590
Are you interested in working on this?

[2018-03-28 21:52] alexellis commented on #608
I think you had an update that you posted on slack. What's the status of your issue now?

[2018-03-28 23:32] milsonian commented on #590
Probably can't swing it per the current spec - if there's more room in terms of design/goals as things evolve, let me know though.
Cheers

[2018-03-29 07:07] alexellis commented on #590
You can't swing it what does that mean?

[2018-03-29 08:39] tarunmangukiya commented on #608
Hi @alex, that empty response issue was with docker installation itself. Reinstalled docker and it's working like charm. Now there're few minor issues for now. I think I'll be able to manage with it.

Thanks for your help guys!

[2018-03-29 08:39] #608 closed

[2018-03-29 08:48] iyovcheva commented on #612
Derek add label: proposal

[2018-03-29 08:49] iyovcheva commented on #611
Derek add label: proposal

[2018-03-29 14:05] milsonian commented on #590
Edited above, to be more clear - I don't think the lockfile adds much value; I'd support an approach that allowed for both no writeable filesystems _and_ optional ones though.  I have code that removes the lockfile in favor of a simple http check (for k8s) and could look at what it means for swarm if/when headed that direction.

[2018-03-29 14:30] alexellis commented on #590
I cannot make a breaking change to the interface of the system. Right now the healthcheck is not passed through to the function so it's impossible to indicate an unhealthy state or failure. The function can do this right now by deleting the lock file.

Having a read-only option with a writeable temporary area will allow the majority of functions to continue to operate. This is a good first step th

[2018-03-29 14:36] #573 closed

[2018-03-29 15:45] rgee0 commented on #612
@s8sg Please have a look at the [CLI](https://github.com/openfaas/faas-cli) as this facility is already available there.

[2018-03-30 02:10] s8sg commented on #612
@rgee0 thanks a lot for pointing out. So as per my understanding the List of functions in Store currently only browsing the provided store in local context of `faas-cli`. The request is not being made to gateway until the function is being deployed. So every time the `fass-cli store` command is fired we need to provide the `url` of the store. It would be nice to have a functionality to save a stor

[2018-03-30 05:01] ericstoekl commented on #612
This should really be moved to the `faas-cli` repo, right? Maybe close this and re-open it there.

[2018-03-30 05:12] s8sg commented on #612
@ericstoekl this issue mainly describe the idea of having store handlers in the API provided by the`Gateway` of faas. And then providing the support to `faas-cli` and in the `UI`. I think it is more applicable to `faas` but I'm okay to move it in `faas-cli`. Please confirm

[2018-03-30 05:26] ericstoekl commented on #612
I prefer to keep things like the store as very simple template files that you load with only `faas-cli`. The Gateway is for core functionality, and its code base shouldn't be burdened with code unless there is a strong need. @alexellis please weigh in on whether or not the Gateway should be storing Store URLs

[2018-03-30 06:02] s8sg commented on #612
@ericstoekl I understand but in my use-case I would need a automated processed to load store definition from fass-cli. Although the list of available function is being acquired using the UI for now.
As currently both UI and CLI resolves the store.json file locally to generate the list; I can't Use the UI / API to get a function list

Currently the store is fixed in UI, allowing ability to specify

[2018-03-30 06:58] rgee0 commented on #612
@s8sg Could you more clearly express the use case, please.  It would help us understand what you are trying to do and whether there are more appropriate ways of doing it.

Currently I'm left with the impression that automation is a factor here, which I wouldn't expect the UI to be impacted by.  I'm also unsure as to why creating a custom store would be necessary when a function stack can be deploy

[2018-03-30 08:25] alexellis commented on #612
The function store supports an override for the store URL when using the CLI.

[code]

I think while it's possible to extend the UI to load 1-many different function stores I'd like to understand the use-case behind that. The UI is an admin dashboard and not supposed to be the primary way to deploy functions for your team and business .

[2018-03-30 08:28] alexellis commented on #611
I am not sure that the watchdog is the appropriate place to make this change - it introduces far too many moving parts. All traffic should ingress through the API gateway.

Please see my pattern for the Kafka connector - it uses OpenFaaS as a black box and enables any event type to be subscribed to providing a small amount of code is written to subscribe.

https://github.com/openfaas-incubator/kaf

[2018-03-30 08:28] #611 closed

[2018-03-30 08:29] alexellis commented on #611
I'm going to close the issue because it's a duplicate and we already have work underway to support this (see above). Please feel free to keep commenting. See also #400 #470

[2018-03-30 08:29] alexellis commented on #611
Derek add label: duplicate

[2018-03-31 08:53] alexellis commented on #607
@gesch which editor are you using?

John - thank you for the support with this issue.

[2018-04-01 11:16] saad749 opened #620 "Question: Async function invocation rate"
I have an async function that takes around 2-3 seconds to complete and I am using jmeter to invoke the function with 100 threads (users). I then proceed to the Prometheus graphs and check rate(gateway_function_invocation_total[10s]). The rate never goes above 0.6, I have tested with more users as well. It **seems** the functions are queued and are invoked after the previous has completed, but the

[2018-04-01 11:38] saad749 commented on #620
![prom_hello](https://user-images.githubusercontent.com/7619612/38172731-4f8f9a84-35ba-11e8-9d2d-d50a82c310b5.PNG)
![prom_long](https://user-images.githubusercontent.com/7619612/38172732-4fb649e0-35ba-11e8-9aad-19ee8b1c9a3c.PNG)

[2018-04-01 11:38] rgee0 commented on #620
Hello @saad749 thank you for your query and for using OpenFaaS.

When you state you are using an asynchronous function do you mean that you are using the `/async-function/` route to your function?

Your expected behaviour does seem to describe synchronous mode.  Have you tried your functions in this mode rather than in async?

[2018-04-01 11:39] rgee0 commented on #620
Derek add label: Question

[2018-04-01 11:40] saad749 commented on #620
Yes by async function, I mean invoking it from  /async-function/

[2018-04-01 11:48] saad749 commented on #620
E.g. http://192.168.100.19:31112/async-function/hello-python

[2018-04-01 11:48] rgee0 commented on #620
Async mode is intended for situations where you looking to:

- Enable longer time-outs
- Process work whenever resources are available rather than immediately
- Consume a large batch of work within a few seconds and let it process at its own pace

If I understand the detail correctly, you are looking to scale to process the work as quickly as possible which would suit synchronous mode.  Have you t

[2018-04-01 11:56] saad749 commented on #620
Synchronous mode timeouts because, the initial function X (as described in the context) might just take a couple of seconds or so, but the Y functions are long running tasks and can take several minutes.

I am not really looking to work as quickly as possible, but more towards, why I am observing the above scenario and if I can optimize my solution to be bit more efficient (In case I have some non

[2018-04-01 11:56] alexellis commented on #620
The queue worker has a default parallelism level of 1 item with a max 30 second timeout.

1. You can add more replicas of the queue worker to increase parallelism.
2. You can alter the inflight items from 1 to N to achieve level-N parallelism per queue worker, but pay attention to the maximum timeout.

This is not necessarily true unless you add more nodes to your cluster or have a particularly CP

[2018-04-01 11:59] alexellis commented on #620
Synchronous or asynchronous makes no difference you have to configure an appropriate timeout for both invocation modes. For more info see this docs page - http://docs.openfaas.com/deployment/troubleshooting/

For a duration of several minutes you will have to increase the timeouts appropriately

[2018-04-01 12:14] saad749 commented on #620
I think that's what I was looking for, All the other stuff seems to make sense now.

Thank you for the link to the docs, didn't knew they existed.

[2018-04-01 12:38] alexellis commented on #620
I recommend joining Slack too - http://docs.openfaas.com/community/#slack-workspace

[2018-04-01 12:55] saad749 commented on #620
Thank you. I have sent a request email.

[2018-04-01 12:59] saad749 commented on #620
Thank you

[2018-04-01 12:59] #620 closed

[2018-04-01 14:09] blaskovicz opened #621 "Unexpected output from Python 3 function"
I've deployed the following function to OpenFaaS via Docker Swarm and faas-cli: https://github.com/blaskovicz/rmb-to-usd.  After using it for a few days on and off via [my website](https://www.carlyzach.com/functions/rmb-to-usd), I noticed that it was no longer responding correctly.

After looking at the service in `docker service ps` it seemed to be up; upon scaling it down to 0 and then back up

[2018-04-01 14:28] rgee0 commented on #621
This is something I definitely haven't seen/experienced.  The unexpected output looks like the output from the `func_wordcount` sample function.

What happened 3 days ago? What are those failed state error messages alluding to?

Do the gateway logs still hold the info about the requests that returned the unexpected output?

Is this a isolated occurrence or are you able to reproduce it?

[2018-04-01 14:33] rgee0 commented on #621
Derek set title: Unexpected output from Python 3 function

[2018-04-01 14:51] blaskovicz commented on #621
3 days ago I did reboot the underlying system, but my other functions, [playground-golang](https://github.com/blaskovicz/playground-golang) and `func_markdown` rebooted and had no issues:

[code]

[code]

The gateway logs don't show anything useful, they seem to be the same for yesterday (non-working) and today (working after restart):
[code]

[2018-04-01 15:32] rgee0 commented on #621
Thanks for the further info.

Do you know if the unexpected output was extant for the full period from 3 days ago until the `service scale` activity today?  Or was the function confirmed as working following your reboot and switched to unexpected output some time later?  If the latter what time would that be?

My suspicion (and its no more than that currently) is that this could relate to a Docker

[2018-04-01 15:43] blaskovicz commented on #621
@rgee0 I didn't test the function immediately following the host reboot, but I would assume it was broken after that time up until I `docker service scale`d.

I could try updating docker. Seeing as 17.09 isn't that old, what issue do you think is causing this?

https://docs.docker.com/release-notes/docker-ce/#17091-ce-2017-12-07

[2018-04-01 16:52] rgee0 commented on #621
Whats concerning me is that your invocation seems to be hitting a totally separate function.  This could be that the wordcount image has been tagged as your rmb image (unlikely and wouldn't be fixed by a scale operation), or that the service definitions contain stale information, or something else that I'm yet to consider/uncover.

Although this is the first time I've seen this reported on OpenFaa

[2018-04-02 08:45] alexellis commented on #572
@ericstoekl I think there are two unrelated items I've represented in the issue.

* Reducing log verbosity

Less cost running at high load in the cloud

* Using structured (machine readable) logs

Logs can be indexed/searched in a repeatable way.

Errors for instance can be picked up and used to trigger alerts.

@stefanprodan are those log numbers your own stats? If not then maybe you can link to

[2018-04-02 22:27] gkuchta commented on #572
Just chiming in with a datapoint:

For our use case, simply wrapping the function-emitted log message in JSON and attaching a loglevel has been sufficient; it's all that's necessary to integrated into our existing log pipelines. It isn't amazingly flexible, but it gets the job done.

For example, if someone's using the http executor and writes to `STDERR`, they get `{"level": "ERROR", "message:" .

[2018-04-03 07:53] alexellis commented on #572
@gkuchta thanks for adding this. You said that you transport your logs over Kafka? Is that with fluentd collecting?

[2018-04-03 10:16] yoanisgil opened #622 "Question about HTTP PATH in functions"
The new HTTP mode from `of-watchdog` opens the possibility to running more than one endpoint from the same application.  For instance, [this file](https://github.com/openfaas-incubator/python27-flask-template/blob/master/template/python27-flask/index.py) could actually contain more than one route. However it will require that the gateway forwards not only HTTP calls which matches the exact functio

[2018-04-03 13:33] BurtonR commented on #622
That's an interesting proposal, however adding routes and multiple paths goes against the concept of a _function_ as a service. Where each function has a single, short-lived, process. What you're describing is an API.

To address your concern over the repetitive boilerplate code, this is the reason for the templates. There is also the ability to create your own template and use that as the base of

[2018-04-03 13:34] BurtonR commented on #622
Derek add label: question

[2018-04-03 13:39] yoanisgil commented on #622
I could not agree more. I think I was heavily influenced from working with frameworks like Zappa that allows you to run a Python applications using AWS Lambda + API Gateway. But yeah, when there is that level of coupling/coherence between multiple functions then it's just an API.

Anyway, thanks for hints.

[2018-04-03 13:42] alexellis commented on #622
Good suggestion. I've thought about it a number of times before. What do you think the benefit would be to using path over the query string, the body of the request or similar?

[2018-04-03 14:06] yoanisgil commented on #622
I cannot really think of a technical benefit solution right now, but for sure it eases the integration with Frameworks such as Flask, Bottle or any framework where routes are declared by means of using annotations. Generally speaking I think it makes a developer life easier. It also allows for better separation of concerns and not having, yet, another routing mechanism in your function's entrypoin

[2018-04-03 16:14] alexellis commented on #622
I think this is probably why we don't need full HTTP Path support at this stage.

We don't want you to start a HTTP server and manage Flask. That's the point of abstracting this away to give a light-weight function handler without any unnecessary concerns.

Here are some more questions / thoughts:

* What are the benefits in a single function having multiple routes?
* At what stage does it become

[2018-04-03 16:16] alexellis commented on #621
My guess is that this is either an issue with the Docker version you're using or that your Docker registry container wasn't started when you rebooted the machine.

Did you run your local registry with a --restart=always flag?

I can see from the output from docker service ps that you have had some issues with your local registry.

I'd be inclined to close this issue - it doesn't appear to be repro

[2018-04-03 16:20] alexellis commented on #612
@s8sg please see the updated comment here. Your thread seems to mix the CLI and the UI so perhaps  you could open a specific issue on the CLI repository instead?

Are you willing to do the work for your suggestion?

Also be aware that you can deploy a stack file via HTTP

[code]

[2018-04-03 16:25] alexellis commented on #548
@ulm0 please check out our update.

[2018-04-03 16:28] alexellis commented on #553
Derek lock: resolved

[2018-04-03 16:29] alexellis commented on #481
@kenfdev I would like to see this implemented as the current experience is super confusing without being able to see the error. Do you think you can push the PR for this change?

[2018-04-03 19:39] yoanisgil commented on #622
Yeah, all mentioned points are valid and I'm of the same mind when it comes to the fact that if a function is allowed to have multiple routes then ... well it's not longer a function but rather a micro-service.

That is indeed an interesting comment. The reason I switched to HTTP mode was mainly because performance issues. In my current setup if I use the current `watchdog` my functions will incur

[2018-04-03 19:52] alexellis commented on #622
I think you're misunderstanding what I'm saying.

As a developer in your function handler you should not try to bind to any HTTP ports at all.

See the Node and Python templates for of-watchdog for an example of what I mean.

Template | HTTP framework | Repo
-- | -- | --
Node.js | Express.js | https://github.com/openfaas-incubator/node8-express-template
Python 2.7 | Flask | https://github.com/open

[2018-04-03 19:54] yoanisgil commented on #622
The binding thing I got it from here:

https://github.com/openfaas-incubator/python27-flask-template/blob/master/template/python27-flask/index.py#L15

That's a port binding there.

[2018-04-03 19:55] alexellis commented on #622
So do me a favour and generate a function then paste the handler here.

[2018-04-03 20:35] yoanisgil commented on #622
My handler looks like this:

[code]

and this is the Dockerfile:

[code]

[2018-04-03 20:59] alexellis commented on #622
The handler is as follows:

[code]

The handler is the official serverless abstraction used by all FaaS frameworks. Any templates should hide technical details away in the Dockerfile and entrypoint leaving what is effectively just a callback or a handler for the client.

The Python template based upon Flask will be extended to support more context like HTTP headers and status codes.

[2018-04-03 21:01] yoanisgil commented on #622
I see. Thanks for letting me know :)

[2018-04-03 21:02] alexellis commented on #622
The Node and Golang templates I linked to show how you can access HTTP state for more involved handlers.

[2018-04-03 21:09] yoanisgil commented on #622
Yes sure. Let me know how I can help :).

[2018-04-04 02:29] s8sg commented on #612
Hi @alexellis , I understand the idea behind not having a  store functionalities inside the gateway from @ericstoekl 's comment, which make complete sense. I also understand that current UI is `admin` portal.  I don't have much experience on frontend although I can definitely give it a try to add the store URL in the UI to browse and deploy functions. I'll update on the same soon

**OFF TOPIC:**

[2018-04-04 07:27] alexellis opened #623 "Docs: write-up how to use a private registry with OpenFaaS on Kubernetes"
The docs site should have a new page or new paragraph added on how to use a private registry with Kubernetes.

* Link to how to deploy the registry in the K8s docs
* Show how to create an image pull secret
* Show an OpenFaaS YAML file with the secret added in the `secrets section`

Some of this has already been done in markdown in other markdown but can be condensed down.

https://github.com/openf

[2018-04-04 08:18] iyovcheva commented on #623
Derek assign: i yovcheva

[2018-04-04 08:18] iyovcheva commented on #623
Derek assign: iyovcheva

[2018-04-04 08:25] alexellis commented on #623
Please keep the docs information focused on the use of private images rather than on secrets as a generic topic. We should also add a separate page on the use of secrets.

[2018-04-04 13:54] kenfdev commented on #481
Sorry for the delay. I've applied the improvement.

[2018-04-04 14:25] ericstoekl commented on #623
Shouldn't this issue be tracked in the `docs` repo?

[2018-04-04 14:27] alexellis commented on #623
I have no problems with tracking it here since we have a lot of repositories much of the work is starting out in the faas repo which is the front-facing repo if that makes sense.

[2018-04-04 15:10] kenfdev opened #625 "Move gateway unit tests inside the same folder of test target"
Currently some of the gateway unit tests are inside `gateway/tests` directory (e.g. `gateway/tests/add_metrics_test.go`) . We should move these unit tests inside the same directory as the test target (e.g. `gateway/metrics/add_metrics.go` ). The coverage will show better percentages and editors could highlight the test covered areas.

## Expected Behaviour

The unit tests should take effect to the

[2018-04-04 15:10] kenfdev commented on #625
Derek add label: proposal

[2018-04-04 15:13] kenfdev commented on #625
I can create a PR on this tomorrow.

[2018-04-04 15:54] alexellis commented on #625
Hi Ken thanks for raising this issue. Please go ahead and move the test files in a PR.

[2018-04-04 16:31] jmo808 commented on #623
If OpenFaaS is deployed on K8s there's a way to assign private registry login info to the namespace service account. I tested this by assigning the docker registry secret to the openfaas-fn namespace and then you can push the private images and k8s auto assigns the imagePullSecrets to the pod manifest. On AWS and GKE managed K8s their own private registry login info is already added to their manag

[2018-04-04 16:50] alexellis commented on #623
The method we have documented is to create a named image pull secret and then to have that referenced at the function level in the YAML file

@jmo808 it'd be good for you to add your solution to the final page too.

Here's an updated version of Lucas' markdown for us to trim down and take over to the docs site: https://github.com/LucasRoesler/faas-netes/blob/2a2868e9000b437bd5e2baa90598e2369bafd7d

[2018-04-04 17:43] gkuchta commented on #572
@alexellis that's correct. container -> fluentd -> kafka -> Elastic Search

[2018-04-04 18:22] alexellis opened #626 "Docs: write up on how to start out contributing"
We need a very brief high-level document on how to start contributing. It should not be a duplication of the contribution guide - think of it as an onboarding guide for new people.

* Link to Golang tutorials - https://blog.alexellis.io/tag/golang-basics/
* Explanation of the different repos (cut/paste the GitHub headline)
* How to clone the repositories (a script to clone the main ones)
* Link to

[2018-04-04 19:27] jmo808 commented on #623
Yes, I did thanks! I'm in now.

[2018-04-04 19:50] alexellis commented on #626
An initial version is up here ready for a PR / enhancement from community - https://docs.openfaas.com/contributing/get-started/

[2018-04-04 19:52] alexellis commented on #623
Maybe you could send your initial PR and markdown here? https://github.com/openfaas/faas-netes/blob/master/SECRETS.md Then we could take it over to the new docs site from there.

Do you use Swarm in any of your work?

[2018-04-04 20:10] neomatrix369 commented on #626
@alexellis Take a look at what I did for https://github.com/neomatrix369/awesome-graal (see https://github.com/neomatrix369/awesome-graal/blob/master/CONTRIBUTING.md)

[2018-04-04 20:54] alexellis commented on #626
I like that page. We have something similar here - https://github.com/openfaas/faas/blob/master/community.md

[2018-04-04 21:08] yoanisgil commented on #622
@alexellis is this what you were talking about:

https://github.com/openfaas-incubator/python-flask-template/compare/master...yoanisgil:modify-headers-status-code?expand=1

I still need to add a few test cases and implement the same functionality for Python2.7.

Please let me know what you think.

[2018-04-04 23:52] cpitkin opened #628 "Docs: Add references to markdown extensions for mkdocs-material"
mkdocs-material supports several markdown [extensions](https://squidfunk.github.io/mkdocs-material/extensions/admonition/). The extra formatting is a good addition to allow for richer documentation.

## Current Behaviour
There is no reference to the extensions documentation so you have to search for it manually.

## Possible Solution
Add a reference in the docs repo README so anyone can use them w

[2018-04-05 03:04] EsrefDurna opened #629 "Question - unable to find samples.yml"
I'm following
https://github.com/openfaas/faas/blob/master/guide/deployment_k8s.md

cli examples aren't working.
$ faas-cli deploy -f samples.yml
Please provide a --image to be deployed

or

$faas-cli deploy -f samples.yml --gateway http://192.168.99.100:31112
Please provide a --image to be deployed

[2018-04-05 03:07] EsrefDurna commented on #629
plus
another example says
$ faas-cli list  -g http://127.0.0.1:31112

which I tried as below

$ faas-cli list -f http://192.168.99.100:31112
Parsed: http://192.168.99.100:31112
Error with YAML file
Yaml: line 31: mapping values are not allowed in this context

[2018-04-05 03:14] BurtonR commented on #629
@EsrefDurna Please fill out the new issue template completely. This is there for our benefit and yours. What is the context? Where in the guide are you when you get the error?
What OS are you running?
Docker version? K8s version?
etc...

That said, can you confirm that there is a `samples.yml` file present?

We've recently updated the repo to use the OpenFaaS standard `stack.yml` file, but it appe

[2018-04-05 04:03] EsrefDurna commented on #629
Hello Burton,
Yes sample.yml is there.
yes openfaas is already working fine.
system is ubuntu 16.04

what I tried is to configure faas-cli with yml and that instructions at the read me are buggt.

1-if you see the error message it says that present image, while the read me doesn't mention anything about the image.
2- second comment is also an instruction from read me and its also not working.

Tha

[2018-04-05 10:57] alexellis opened #630 "Update list of Derek maintainers across all repos"
The current list of active Derek users I believe is represented in the following list.

We need to create PRs (signed-off) to update this across all repos. Signing off can be done through the GitHub UI if this makes the task easier by putting a final line in the commit message.

I've also updated the list so that it has a priority of who is most active in the project.

[code]

@JockDaRock @itscaro

[2018-04-05 15:10] alexellis opened #632 "Watchdog: show version on start-up or with -version flag"
We we have more functions in use in the wild, for debugging and troubleshooting reasons we should print the version of the watchdog on start-up and allow a `-version` flag.

For instructions on how to inject a version at build-time please see the faas-cli or faas-netes / faas-swarm Dockerfiles.

[2018-04-05 15:52] ericstoekl commented on #632
Derek add label: skill/beginner

[2018-04-05 15:56] ericstoekl commented on #629
@EsrefDurna Thank you for reporting this issue. Like @BurtonR mentioned, if there is a `stack.yml` file present in the same directory then the `faas-cli` may be preferring that file over your `samples.yml`.

Can you list out the contents of the directory you are running your `faas-cli deploy` command in? Can you see if moving to a different directory changes the output message?

[2018-04-05 16:31] alexellis commented on #629
I don't believe you have a samples.yml file in your working directory? We renamed it to stack.yml and the -f parameter is no longer needed, but this isn't the easiest way to learn about OpenFaaS. How about you try the workshop via GitHub.com/OpenFaaS/workshop.

In the meantime one of us will update the Markdown file so it's in sync with the changes made in the CLI repo.

[2018-04-05 17:34] alexellis commented on #632
I believe @viveksyngh said he'd like to work on this.

[2018-04-05 17:35] alexellis commented on #630
@dungeonmaster18 is welcome to stay in the list where he is already there.

[2018-04-05 19:35] satie opened #633 "Issues with function chaining following function director pattern"
## Current Behaviour
I am trying out OpenFaas and having issues chaining/composing functions following the [function director pattern](https://github.com/openfaas/faas/blob/master/guide/chaining_functions.md#function-director-pattern). However, I can pipe output of one function to another using `curl`.

I am trying to accomplish the following -
* `world` function returns the text 'world'
* `hello`

[2018-04-05 19:54] viveksyngh commented on #632
Yes, I will work on this.

[2018-04-05 21:29] alexellis commented on #633
Hi I took a quick look at the code and noticed that it looked quite complicated. I wonder if you could try using the request.js npm module in your example?

I suspect that something like a missing callback or event in the example may be causing the issue.

Alex

[2018-04-05 22:21] ulm0 commented on #548
I'll give it a try asap, ty!

[2018-04-05 22:32] chzbrgr71 opened #634 "Function with custom response for Twilio"
I'm working on an OpenFaaS function that accepts webhook requests from Twilio based on incoming text messages. The standard Twilio response is packaged as XML, so the encoded message must be "text/xml" The current Python template just responds as text and thus creates an error in Twilio.

In my ```handler.py``` I am using print or return, but they result in an error within Twilio.

## Expected Beh

[2018-04-05 23:44] BurtonR commented on #634
Hi @chzbrgr71! It sounds like you're in need of the updated watchdog that handles function via an "http mode". This means you can set the headers, content type, response status, etc...
Check it out here: https://github.com/openfaas-incubator/of-watchdog

And for you, here's the Python/Flask template to start off with: https://github.com/openfaas-incubator/python-flask-template

[2018-04-05 23:52] satie commented on #633
Replaced the http calls with request.js.

Thanks.

[2018-04-06 03:01] EsrefDurna commented on #629
I do have samples.yml

$ ls s*
samples.yml  server.go

$  faas-cli deploy -f samples.yml
Please provide a --image to be deployed

[2018-04-06 03:02] EsrefDurna commented on #629
$ cat samples.yml
provider:
  name: faas
  gateway: http://192.168.99.100:31112

[2018-04-06 03:10] ericstoekl commented on #629
Derek close: @EsrefDurna -- That is your full `samples.yml` file? Looks like it does not actually define a function. Please create a function using the `faas-cli new` command.

Try following the full workshop, in particular this section: https://github.com/openfaas/workshop/blob/master/lab3.md#creating-a-new-function

[2018-04-06 03:10] #629 closed

[2018-04-06 03:16] EsrefDurna commented on #629
Thank you @ericstoekl  so please update the documentation because in the documentation is looks like this sample.yml is enough for cli configuration and this empty yml is enough for a deployment.
https://docs.openfaas.com/deployment/kubernetes/

thank you

[2018-04-06 13:08] chzbrgr71 commented on #634
Thank you for the help!!! I was able to try this out and it worked perfectly. I made zero changes to my code. Only changed to the above template.

[2018-04-06 13:08] #634 closed

[2018-04-06 19:48] alexellis commented on #633
I'm pretty sure I can see the issue now. You are referring to `localhost` from within a Docker container... that will not do what you're expecting. I think it may be calling the function recursively.

Check this line:
https://github.com/satie/helloworld-faas/blob/master/helloworld/handler.js#L6

You should use `gateway` or `gateway.openfaas` not `localhost`. Please try it again and let me know.

S

[2018-04-06 22:08] satie commented on #633
That seems to have done the trick. Thanks for pointing that out. I kind of thought that `gateway` was suggested more on general terms.

[2018-04-06 22:08] #633 closed

[2018-04-07 08:56] alexellis commented on #622
That looks really good. Let's raise a PR and take it from there?

[2018-04-07 08:56] alexellis commented on #622
Just avoid the word "utils" please 👍

[2018-04-07 08:56] alexellis commented on #622
Derek close

[2018-04-07 08:56] #622 closed

[2018-04-08 00:28] yoanisgil commented on #622
@alexellis will do. Yeah, I don't like it either but I just wanted to hack something real quick to get your input.

[2018-04-08 10:02] gesch commented on #607
@alexellis using latest version of visual studio code, which is good and bad at the same time. The editor fixes the encoding automatically for all edited files. But this way i was not aware of the issue at all for the other files cloned from the repository.

[2018-04-08 18:17] blaskovicz opened #635 "Question: Can Swarm Secrets take Different Source and Target projection?"
## Overview
I recently updated my playground-golang function to have redis support. As such, it was necessary for that function to have a redis url, and thus a docker swarm secret defined in its [yaml](https://github.com/blaskovicz/playground-golang/commit/668d21f010b3b51f13acb713c3c40daa4d283d21#diff-90444407ac06d912d8624b4396c7d99bR11).

I usually set my secrets in the form `$app-name-prefix_$va

[2018-04-08 18:39] blaskovicz commented on #621
I can see it being related to the registry being flaky. Earlier today I noticed it was in a bad state and had to scale it to 0 then back up to 1.

[code]

I think when I originally deployed openfaas, I changed the default published port:

[code]

[code]

[2018-04-09 01:39] #628 closed

[2018-04-09 01:41] alexellis commented on #621
I’m going to close the issue. Please comment again if needed.

[2018-04-09 01:41] #621 closed

[2018-04-10 15:36] iyovcheva commented on #623
@jmo808 Can you please send your PR on this as well - [docs/pull#6](https://github.com/openfaas/docs/pull/6) ?

[2018-04-10 16:33] dockerworxinc opened #636 "Deployment error: Error response from daemon: network is ambiguous (4 matches found)"
I was trying to follow https://blog.alexellis.io/first-faas-python-function/ to get my first hello-world  python function working. I followed the guide till

[code]
I faced the below issue:

[code]

## Expected Behaviour

[code]

## Current Behaviour

[code]
## Possible Solution

## Steps to Reproduce (for bugs)

Cloning the OpenFaas:
[code]

[code]

[code]

[code]
[code]

[code]

[code]
[code]
##

[2018-04-10 16:46] BurtonR commented on #636
Hi @dockerworxinc! First, thanks for the super detailed issue!

We recently made some updates to the CLI that attempts to lookup the appropriate network when it deploys. However, this feature is also dependent on newer versions of `faas` and `faas-swarm`.

Could you update your `git checkout` to use `0.7.7`? - that is the latest release

Curious where you came across the checkout of version `0.7.1

[2018-04-10 17:04] dockerworxinc commented on #636
Followed the blog completely and it worked fine. Is deploy_stack.sh dedicated to Docker Swarm. What if I want to setup OpenFaas on the single node?

[2018-04-10 17:30] BurtonR commented on #636
Oh great! So you're up and running fine then?

Yes, `deploy_stack.sh`, as the name implies, deploys a Docker Stack (on Swarm). We also have [faas-netes](https://github.com/openfaas/faas-netes) and a Helm chart for Kubernetes.

OpenFaaS runs with the underlying orchestration to allow for auto-scaling. The limitations on where it can run are on the orchestration. Swarm can run on a single node (like

[2018-04-10 17:37] dockerworxinc commented on #636
Cool..I am excited about to get started with it. Planning to see how it integrates well with system management tasks.

[2018-04-10 17:40] BurtonR commented on #636
Have a look at the [community](https://github.com/openfaas/faas/blob/master/community.md) file for a lot of really good write-ups.
[CLI Functions with OpenFaaS](https://blog.alexellis.io/cli-functions-with-openfaas/)
and
[Stop Installing CLI Tools on Your Build Server - CLI-as-a-Function with OpenFaaS](https://medium.com/@burtonr/stop-installing-cli-tools-on-your-build-server-cli-as-a-function-wit

[2018-04-10 17:40] BurtonR commented on #636
Derek: close

[2018-04-10 17:41] BurtonR commented on #636
Derek close

[2018-04-10 17:41] #636 closed

[2018-04-10 21:26] alexellis commented on #636
@dockerworxinc why did you checkout `0.7.1`? I want to update this reference so that nobody else does this and gets tripped up.

[2018-04-11 03:36] viveksyngh commented on #630
I would like to be added to this list.

[2018-04-11 09:44] iyovcheva commented on #623
Thanks @jmo808

[2018-04-12 10:20] dockerworxinc opened #638 "How to define 2 functions under the same image?"
I am new to OpenFaas. I have set it up on Ubuntu 16.10 running Docker 17.06. I am able to get it up and running under 8080 port under UI. Tried a simple python function and it was just quick without any issue.

May I know how shall I define 2 functions under the same image? TO be more clear, here is what I was trying out -

[code]
[code]
[code]
[code]

I am planning to include as many functions un

[2018-04-12 13:48] iyovcheva commented on #638
Hi @dockerworxinc,

The example you shared will not work, because [BuildImage](https://github.com/openfaas/faas-cli/blob/ae7390005a2fe13873f2cb6fcfa2d830dad4a40b/builder/build.go#L16) copies the files from the path, given in `handle`, in your case `./hello-python/handler1.py`. If there is no `handler.py` in that path, you can check in `build/<function_name>/function/` that a template `handler.py`

[2018-04-12 14:07] BurtonR commented on #638
@dockerworxinc also have a look at #622 for a discussion about multiple endpoints in the same function using an http server (flask)

[2018-04-12 14:07] BurtonR commented on #638
Derek add label: question

[2018-04-12 15:40] alexellis opened #639 "Research: show GPU attached to a function"
## Description

Show a GPU attached to an OpenFaaS function in Kubernetes

## Background

We have several users using Python for data-science where GPU acceleration is available. From the investigation I've done so far we should be able to make a few minor changes to [faas-netes](https://github.com/openfaas/faas-netes/) and then be able to mount a GPU into a function.

## Tasks

* List compatible

[2018-04-12 15:53] LucasRoesler commented on #639
Per these docs https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

There are two core changes

1. There is a new schedulable resource `nvidia.com/gpu`, this is a required change.
2. it is possible to have mixed types of resources, so they recommend using node lables and node selectors to ensure that your pod ends up on the node with the specific GPU you are looking for (this is probably

[2018-04-12 16:47] stefanprodan commented on #639
We already cover the node selector via stack constraints.

PS. I think this issue should be moved to faas-netes since it's Kubernetes specific.

[2018-04-13 02:54] dockerworxinc commented on #638
@iyovcheva I am currently working on a project which requires system management tasks like BIOS token change, firmware update, OS deployment etc. I have written individual python scripts to do so. Now, I want to leverage functions as a service. I want to have a single Docker image with all these functions so that anyone who want to do certain system management tasks can call it directly and get th

[2018-04-13 03:05] BurtonR commented on #638
I can understand what you're trying to do. I still suggest that each of those tasks could be functions. The routing for functions is easy: `<gateway url>/function/<function name>/`

So, in your case it could be `.../function/bios-token`, `.../function/firmware`, `.../function/os-deploy`, etc...

That way, if 100 people all wanted to perform the same task at the same time, that particular task woul

[2018-04-13 05:40] alexellis commented on #639
I would like project research and initiatives to start out here in the FaaS repo for visibility.

Thanks for the comments Lucas.

[2018-04-13 05:44] alexellis commented on #638
Some good suggestions so far.

I’d say use an if or switch statement in the single function and then make use of a query string to decide which piece of code to run.

There is a good example of doing this in the html lab in the OpenFaaS workshop. Please review it and try it out.

https://github.com/openfaas/workshop/blob/master/lab4b.md

[2018-04-13 05:44] #638 closed

[2018-04-13 05:45] alexellis commented on #638
I’ll close the issue now since we have provided some options, but feel free to keep commenting.

[2018-04-13 05:46] alexellis commented on #630
That’s fine by me Vivek. Feel free to raise some of the PRs to update the lists and to add yourself too.

[2018-04-13 05:48] alexellis commented on #626
Recording from recent meeting online with the community on this topic. https://youtu.be/7djgiSuoyII

[2018-04-13 05:48] #625 closed

[2018-04-13 05:48] alexellis commented on #625
Fixed

[2018-04-13 05:49] alexellis commented on #625
Ken FYI in future you can add a comment like Fixes #625 then after the merge the issue will be automatically closed also.

[2018-04-13 05:51] kenfdev commented on #625
ahh.. Thanks for letting me know. Will do from now on

[2018-04-13 08:22] CentricStraaten opened #642 "Azure function invocation failing with a-sync callback"
I implemented OpenFaas on Azure AKS.
I used https://github.com/openfaas/faas-netes as a source. All works fine.
Only the a-sync call-back functionality doesn't work.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* Link to your project or a code example to reproduce issue:

* Please also follow the [troubleshoo

[2018-04-13 09:44] simi-- opened #643 "Configure Traefik with SSL Support not working"
Thanks for this awesome project.

I was trying to follow [Integrate Traefik with your OpenFaaS cluster](https://github.com/openfaas/faas/blob/master/guide/traefik_integration.md) to add SSL support using LetsEncrypt.

I faced the below issue after __Configure Traefik with SSL Support__ and run `$ ./deploy_stack.sh`:
[code]
## Expected Behaviour

[code]

## Current Behaviour

traefik container exit

[2018-04-13 10:57] dockerworxinc commented on #638
Thanks for all these great suggestions. I will try it out.

[2018-04-13 12:31] iyovcheva commented on #642
Derek edit title: Azure function invocation failing with a-sync callback

[2018-04-13 12:47] CentricStraaten commented on #642
Hi, you should use a POST for the Azure Function. It expects a payload with data.

[2018-04-13 12:51] CentricStraaten commented on #642
I don't have service logs from the Azure Functions, the function is never called. I have included a Postman JSON which you can import into Postman. I use these request to test both functions.

[OpenFaas.postman_collection.zip](https://github.com/openfaas/faas/files/1907393/OpenFaas.postman_collection.zip)

[2018-04-13 13:31] CentricStraaten commented on #642
I solved the issue. The Azure Function did not accept a get. I changed the Function and the callback works!
Sorry, thank you for your support._

[2018-04-13 14:33] iyovcheva commented on #642
Derek close

[2018-04-13 14:33] #642 closed

[2018-04-14 04:40] ericstoekl commented on #643
I am unable to repro this issue. I deployed Traefik and got it to work using the guide linked in the issue (https://github.com/openfaas/faas/blob/master/guide/traefik_integration.md).

@simi--  I would recommend that you reduce this issue down to just the parts that describe the issue to us -- please cut the `docker service logs -f func_traefik` output to just what we need. Also please reduce the

[2018-04-14 06:50] simi-- commented on #643
@ericstoekl now I use the `docker-compose.yml`
[code]

the Traefik can run but still Can't connect via https
[code]

[2018-04-14 07:14] simi-- commented on #643
@ericstoekl I use `traefik:1.5` instead of `traefit:1.3`,  it work well, now visit `http://local.traefik.com/ui/` it will auto redirect to `https://local.traefik.com/ui/`

 `docker-compose.yml ` like this:

[code]

![image](https://user-images.githubusercontent.com/902283/38765482-edf2586c-3ff4-11e8-8390-3fc738d6e2d9.png)

[2018-04-14 10:19] Rillian-Grant opened #647 "UI doesn't work with JavaScript disabled"
## Expected Behaviour

You should get a message telling you to enable JS

## Current Behaviour

You get what looks like a html template

## Possible Solution

This pull request: #646

Signed-off-by: Rillian Grant <rillian.grant@hotmail.com>

[2018-04-14 16:34] alexellis commented on #647
Hi @Rillian-Grant thank you for your contribution. I would not expect the OpenFaaS UI to work without JavaScript, but this is an interesting PR. I'm going to ask @kenfdev to give some input.

Alex

[2018-04-14 16:46] ericstoekl commented on #643
Derek close

Thanks for trying out the project Simi -- glad this issue is now resolved.

[2018-04-14 16:46] #643 closed

[2018-04-15 00:44] alexellis opened #649 "CI: Update to use apt package for Travis"
All travis builds use a `curl | sh` utility script to ensure the latest version of Docker but Travis does have a recent apt package now which we can use.

Travis builds in faas/faas-netes/faas-swarm and others should be moved to follow this example via @stefanprodan

https://github.com/openfaas-incubator/faas-o6s/blob/master/.travis.yml#L11

Alex

[2018-04-15 00:46] alexellis opened #650 "CI: passwords for Docker Hub must be read from stdin"
Just like the OpenFaaS CLI the Docker CLI now mandates passwords are passed-in via STDIN.

We have to update all of our projects which publish Docker images to do this.

* faas
* faas-swarm
* nats-queue-worker

etc

The change needs to take place in .travis.yml - see faas-netes as an example of where I've already done this.

[2018-04-15 21:56] dkozlov commented on #639
FYI: https://github.com/dkozlov/openfaas-tensorflow-gpu

[2018-04-16 09:05] iyovcheva commented on #650
Derek assign: iyovcheva

[2018-04-16 12:45] alexellis commented on #639
That project looks like a useful example.

* I can’t see a patch for the GPU. Does it “just work”?
* where is the source for the object detection function?
* is it demonstrably faster on GPU vs. CPU?

[2018-04-16 13:29] #650 closed

[2018-04-16 21:13] ImVexed opened #653 "faas-cli build forcibly converts line endings to CRLF"
On Windows using faas-cli new to create the default Go template and then subsequently building it with faas-cli build without modifying anything fails with:

This issue was referenced here: https://github.com/openfaas/faas/issues/607 , however, this issue is experienced even without Git.

## Expected Behaviour
faas-cli build to either function with CRLF or not forcibly convert to CRLF.

## Current

[2018-04-16 21:46] alexellis commented on #653
Hi @ImVexed, thanks for reporting an issue. There are several people using Windows in the community who may be able to advise you.

Can you elaborate on the point where you say the CLI "forcibly converts" your line-feeds? I'm not aware of code that would do this in the code-base.

@johnmccabe @JockDaRock could either of you take a look?

[2018-04-16 21:47] alexellis commented on #607
@gesch what is the status of this issue?

Are you using a work-around that needs to be documented or is this resolved?

[2018-04-16 22:24] johnmccabe commented on #653
Yeah the CLI shouldn’t alter any of your line endings, usually it’s either the editor being used or git autocrlf config.

Have you taken a look at #607 (an issue search should have returned that issue for you).

[2018-04-17 01:51] ImVexed commented on #653
Interesting, it's still failing to build however I'm getting varied results from machine to machine, as far as handler.go being forcibly converted to CRLF goes.

Step 1: faas-cli new go-hi --lang go
[faas-cli new.zip](https://github.com/openfaas/faas/files/1917876/faas-cli.new.zip)
Step 2: faas-cli build -f ./go-hi.yml
[faas-cli build.zip](https://github.com/openfaas/faas/files/1917875/faas-cli.bu

[2018-04-17 06:08] ankitaggarwal-trantor opened #654 "Question: using Selenium with OpenFaaS"
I have a python application to automate browser using splinter (selenium) library. Its is working fine through Docker or directly through module. But when I am implementing it through Openfaas, it returning Bad Gateway Error. Seems like selenium or browser automation not working with Openfaas. I have tried headless and xvfb both. It will be great if any one can share working example of openfaas wi

[2018-04-17 06:59] saad749 commented on #589
Getting Message Python3-debian is unavailable or not supported with faas-cli 0.6.5

![image](https://user-images.githubusercontent.com/7619612/38853431-e286aa5e-4225-11e8-82cc-1c3a99adf8fd.png)

[2018-04-17 07:40] alexellis commented on #607
What did you learn from the chat in Slack that resolved this for you?

[2018-04-17 07:57] gesch commented on #607
a) windows is not suitable for go development
b) changing git config parameters solved the problem in the short term. However this will break other projects. I will create a couple .gitattributes for my own git repository to make sure, go line endings stay LF as they should. Not sure if this attributes are usable for the openfaas repo.

[2018-04-17 09:27] alexellis commented on #649
Here is an example where we're using the `curl` approach and should switch:

https://github.com/openfaas/nats-queue-worker/blob/master/.travis.yml

[2018-04-17 10:01] alexellis commented on #642
When using curl any parameters or headers should be quoted with `""` i.e.

[code]

I can't see any code which is doing a GET here.

* The curl statement from Ivana is a post due to `--data 1`
* The x-callback-url is also going to invoke via a POST

The reason for seeing the error may have been because the `curl` was not quoted so bash interprets the text as other commands.

Just wanted to make you

[2018-04-17 10:03] alexellis commented on #647
Hi @Rillian-Grant we will need some screenshots for this change. Please see the comments in the PR.

[2018-04-17 15:46] ericstoekl opened #655 "faas-cli build failing when using 'Dockerfile' (uppercase D)"
This is an issue that we fixed a while back, but there may be a regression. In version `0.6.5` I am seeing this issue crop up again:

## Expected Behaviour

Given a stack file that looks like this:

[code]

I would expect the `dockerfile` language template to be used. However I get the error:

[code]

Editing the `hellodocker.yml` file and putting it back to `dockerfile` resolves this issue.

## C

[2018-04-17 16:59] rgee0 commented on #655
Is this on the correct repo?

[2018-04-17 17:09] rgee0 commented on #655
https://github.com/openfaas/faas-cli/blob/ae7390005a2fe13873f2cb6fcfa2d830dad4a40b/builder/build.go#L18

and

https://github.com/openfaas/faas-cli/blob/b9e2aef1389f2027c3f55c6041e26ecfe2bab772/stack/language_template.go#L50

[2018-04-18 09:48] alexellis opened #657 "Research item: Long running batch-jobs"
Should we support long-running batch-jobs?

Are these in the scope of OpenFaaS functions which are typically several seconds in duration?

Are there primitives in Kubernetes such as jobs which we can leverage?

[2018-04-18 09:53] alexellis commented on #416
Bumping this up. cc @stefanprodan @rgee0 @ericstoekl

[2018-04-18 09:56] alexellis commented on #391
Please see - https://docs.openfaas.com/architecture/autoscaling/

[2018-04-18 09:56] #391 closed

[2018-04-18 10:56] stefanprodan commented on #416
For the Kubernetes backend we could extend the CRD controller and create [Kubernetes CronJobs](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/).

[2018-04-18 13:44] CentricStraaten commented on #642
Why is the x-callback-url called multiple times (each 20 seconds as long as the function is executing)?

[2018-04-18 13:53] CentricStraaten commented on #642
I am aware that we could use an OpenFaas function for call-back. For now it is convenient to use the Azure Function because it is allreay functional.

[2018-04-18 15:17] alexellis opened #658 "Future item: remove templates from faas-cli repo"
The `faas-cli` used to be the home for the OpenFaaS templates, but now it's the `templates` repo instead. We should delete the template folder from the `faas-cli` repo when we're comfortable that everyone has upgraded to a version of the CLI that points to the `templates` repo

https://github.com/openfaas/templates/

We will also need to update the build/deploy scripts for the samples so they do a

[2018-04-18 18:06] alexellis commented on #642
What timeout did you configure for your asynchronous tasks? It sounds like you'll need to up the value. NATS Streaming is the system we use under the hood for asynchronous processing. It will retry work which doesn't complete in the deadline. I'd say this is what you're seeing.

http://docs.openfaas.com/deployment/troubleshooting/#timeouts-asynchronous-invocations

[2018-04-18 18:51] viveksyngh commented on #655
I have tested this and it seems to work.

[code]

[2018-04-18 21:38] alexellis commented on #655
Good collaboration on this. Richard do you want to raise a PR?

[2018-04-19 08:42] CentricStraaten commented on #642
I also updated the queue worker's setting

![image](https://user-images.githubusercontent.com/17175831/38980622-98ccb11c-43bd-11e8-8858-89f360c5ddd8.png)

[2018-04-19 16:14] alexellis opened #660 "Update Golang versions"
Update faas gateway and watchdog to use Golang 1.9.6 in Dockerfiles.

No-harm testing will be necessary

Relates to #523

[2018-04-19 16:44] alexellis commented on #655
Fixed in https://github.com/openfaas/faas-cli/pull/383

[2018-04-19 16:44] #655 closed

[2018-04-19 21:38] burtonr opened #661 "Document CLI and yml file available options"
## Description

The documentation of the faas-cli YAML format is currently in its README and misses several of the new features.

## Tasks

* Move text from [README.md](https://github.com/openfaas/faas-cli/blob/master/README.md#yaml-format-reference) file and moved over to the docs site at https://github.com/openfaas/docs
* Add any missing sections about the YAML format (you'll need to identify wh

[2018-04-22 13:55] developer-rakeshpaul opened #662 "Support: Google Puppeteer (web-browser automation)"
Hi Team,

I am trying to run the google chrome puppeteer packge on faas. However, I get the following error when i try to invoke the function using a node template.  I did modify the node template to incorporate the troubleshooting suggestions provided by the puppeteer team.

[code]
I have used a modified template using the node template. Please find below the corresponding git repository with the

[2018-04-23 05:31] ericstoekl commented on #661
I am trying this out on my fork, any feedback is welcome:

https://github.com/ericstoekl/docs/blob/documentYamlCli/docs/reference/yaml.md

In particular, [this section](https://github.com/ericstoekl/docs/blob/documentYamlCli/docs/reference/yaml.md#limits-and-requests) is new, and it would be good to document these things. I am quite sure that `Limits` and `Requests` do something different on Swarm

[2018-04-23 14:05] cpitkin commented on #661
This issue will fix this issue in the docs repo openfaas/docs#12

[2018-04-24 13:10] alexellis commented on #654
@ankitaggarwal-trantor the runtime environment for an OpenFaaS function is a Docker container, but it's not privileged. Therefore you may want to look at how to run Selenium in an unprivileged mode or with something like Headless Chrome.

If you can find something that works with AWS Lambda then the chances are that you could make it work with OpenFaaS too. Here's a couple of links I found on Goog

[2018-04-24 13:12] alexellis commented on #654
One of the ways automation testing can scale up is by running a Selenium grid - or farm of different hosts and browsers. You can then use the remote web-driver to connect to them and this means you don't have to worry about installing or running a browser inside your function / container.

Example:

http://selenium-python.readthedocs.io/getting-started.html#using-selenium-with-remote-webdriver

Le

[2018-04-24 13:13] alexellis commented on #654
Derek set title: Question: using Selenium with OpenFaaS

[2018-04-24 13:16] alexellis commented on #662
cc @ericstoekl - have you worked with automating web-browsers/chrome with OpenFaaS?

[2018-04-24 13:18] alexellis commented on #660
Testing:
- Basic no-harm testing needed

[2018-04-24 13:27] alexellis commented on #653
Hi @iyovcheva - can you update with your instructions for reproducing the issue on Windows?

[2018-04-24 13:29] alexellis commented on #647
PR is now in: https://github.com/openfaas/faas/pull/659

[2018-04-24 13:53] alexellis commented on #623
Hi @jmo808 we're going to merge Ivana's PR then you can send one onto that.

https://github.com/openfaas/docs/pull/6

[2018-04-24 14:10] alexellis commented on #642
Try reproducing the issue in an isolated environment with a sleep function or similar.

[2018-04-24 14:18] alexellis commented on #416
Good idea. Is there a PoC you could do with that? Could we cover it with the faas-netes controller too?

[2018-04-24 14:33] alexellis commented on #623
Sounds good! (It's merged now)

[2018-04-24 14:50] marcosnils opened #663 "Build images for PR's to avoid checking out code to try new features"
It'd be nice if PR images could be built to try new features before they're meged to master without having to checkout the code and compile it locally.

Spoke briefly with @alexellis about it and we thought that it might be a good idea.

[2018-04-24 16:46] iyovcheva commented on #653
@ImVexed @alexellis I reproduced the issue with the following:
1. Deployed OpenFaaS on Windows 10
2. `faas-cli template pull`
3. `faas-cli new go-test --lang go`
4. `faas-cli build -f ./go-test.yml`

After it failed with the same error from the issue description, I was testing with `docker build -t go-test -f Dockerfile .`  trying some workarounds in the `Dockerfile`, but don't have a solution to

[2018-04-24 18:04] alexellis commented on #663
Who do we do about misuse?

[2018-04-24 18:07] marcosnils commented on #663
tag the images as snapshots so people won't use them unnecessary?

[2018-04-24 19:25] hveiras commented on #468
@abhishiv I think that if you are looking for a solution to that scenario at the same time you want to self-host your solution then Apache Openwhisk is the best option out there today.

[2018-04-24 20:04] alexellis commented on #653
Pinging @johnmccabe for input

[2018-04-24 20:06] alexellis commented on #663
I think we could do this if someone wanted to work on it. Perhaps it should use a different account name to make sure it is separate from the official builds.

[2018-04-24 20:06] alexellis commented on #663
Derek add label: help wanted

[2018-04-24 21:41] nishakm opened #664 "Proposal: Allow deploy_stack* scripts to run sudo docker commands"
Allow deploy_stack scripts to invoke sudo for users who have not added their user to the docker group. This makes the deploy scripts more user friendly.

## Expected Behaviour
./deploy_stack.sh should work successfully for users who run docker commands with sudo

## Current Behaviour
./deploy_stack.sh fails with permission denied error

## Proposed Change
Check if a user is in the docker group or

[2018-04-24 21:48] BurtonR commented on #664
haha! "one of those users..." :smile:

This sounds like a reasonable request. Perhaps add a check in the deploy script to check if the current user is in the `docker` group or already executing as sudo, and if not, request sudo access?

@nishakm Would you be interested in implementing this change? We are always welcome to pull requests! Also, if you're interested, join our Slack Community: https:/

[2018-04-24 21:59] nishakm commented on #664
@BurtonR I can submit a PR. I have already sent a request to add me to the Slack Community.

[2018-04-24 22:08] BurtonR commented on #664
Awesome! Be sure to have a look at the [Contribution Guide](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md) and don't be afraid to ask questions!

[2018-04-25 01:36] developer-rakeshpaul commented on #662
Hi Alex,

Could you please check  [troubleshooting document](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md) by the puppeteer team.

Is it possible to run the docker container like that using faas.

[2018-04-25 02:58] ericstoekl commented on #662
I have run into the same issue that @developer-rakeshpaul is reporting here -- it is not specifically an issue with OF. This was why I couldn't use the node template for making a screenshotter. Elevating privilege may be possible through the Dockerfile (@alexellis  please weigh in)

[2018-04-25 10:01] CentricStraaten commented on #642
What do you mean with an isolated environment? This is a POC environment which is only used by me.

[2018-04-25 10:15] alexellis commented on #664
@BurtonR please see my comments on #665.

[2018-04-25 10:17] alexellis commented on #664
In the same way that `apt-get install` fails to work with an unprivileged account I think the solution (without making the shell script more complicated)  is to type in `sudo ./deploy_stack.sh` just like `sudo apt-get install`. This is explained in more detail on the PR.

[2018-04-25 10:32] alexellis commented on #662
Functions do not run as `SYS_ADMIN` in any platform I can think of - this is really insecure, Docker Swarm won't even allow for it.

The options I linked to allow you to run Chrome without elevating privileges. Please try that first.

[2018-04-25 10:42] developer-rakeshpaul commented on #662
Sure Alex, I did give it a try and faced some issues. Will try once again and update with my results. Thanks a lot for the feedback.

[2018-04-25 10:48] nishakm commented on #664
As stated in the proposal, the motivation is to make them user friendly to users who do not add their user to the docker group or do not run as root. The obvious reason for not running docker commands as root or with root-like privileges is security. Docker's documentation specifically warns about this: https://docs.docker.com/install/linux/linux-postinstall/

Indeed it is a small annoyance to run

[2018-04-25 11:08] CentricStraaten commented on #642
I think I fixed it. I also had to change te env variables in the faas-netesd?

[2018-04-25 12:14] alexellis commented on #657
I spoke with @iyovcheva about this yesterday. My initial thoughts are that jobs are orthogonal to functions, but they are a common ask from the community around longer-running batch processing and CI jobs. Is there an opportunity to add value here?

[2018-04-25 12:30] BurtonR commented on #664
@alexellis regarding your comment on #665, There's nothing in the Docker docs _recommending_ that your user be added to the group. As Nisha mentioned, there is a security risk in adding your user to that group.

The change is a fairly simple/straight-forward `if` check. But, I do see your point of just running the script as `sudo`...

Maybe rather than changing the script, update the workshop (and

[2018-04-25 13:13] nishakm commented on #664
I would like to point out that the change doesn't affect how the majority of users run the deployment scripts. They wouldn't see any difference. You also get an additional utility if in the future you would need to make a check for any reason :)

[2018-04-25 15:58] johnmccabe commented on #653
@iyovcheva what is your gitconfig, from the same console as you are running `faas-cli` above.
[code]

@alexellis I hadn't realised the dependency on a git binary being on the path had been introduced, I'm assuming its picking up the system/global config and converting on clone (urgh). If that **is** the case you could set the local `core.autocrlf` behaviour [here](https://github.com/openfaas/faas-

[2018-04-25 17:29] alexellis commented on #664
I want you to know that I hear your point. It's not invalid but it does have wider impact than a single script and we already have a valid way of running scripts with `sudo`.

Docker on Mac runs with elevated permissions already and the client on Windows needs an elevated command prompt so this would just benefit people on Linux (I think). This change if accepted affects more than just a single sh

[2018-04-25 17:30] alexellis commented on #664
Derek add label: revisit

[2018-04-25 17:32] alexellis commented on #642
@BurtonR can you offer any insights for @CentricStraaten ?

[2018-04-25 17:33] alexellis commented on #661
@ericstoekl if unsure then please err on the side of caution and don't explain the concepts - just link to the relative documentation.

Have you covered everything that is available in the YAML stack in your new file? (There may be things which were not in the faas-cli README)

[2018-04-25 17:35] johnmccabe commented on #664
If the user installs docker according to their instructions it does point you towards setting up a non-root user. Not convinced we should support this use case as we'd have to test it going forward.

The correct solution is to setup docker group membership for the user surely and not varnish over it here?

[2018-04-25 17:37] alexellis commented on #664
The docs have been updated to mention use of `sudo`: https://github.com/openfaas/docs/commit/6bf7b681c9939b4ff29787c78040f0dc4bf0c889

[2018-04-25 17:39] BurtonR commented on #664
I agree. Let's leave this around as an open issue and see if there is a larger demand for it.

I hadn't considered the numerous other shell scripts we have across the repos that utilize the `docker` command that would then also need updating.

Updating the docs, is good. This will at least remove the surprise of getting an error right away.

[2018-04-25 17:45] alexellis commented on #658
@BurtonR @rgee0 FYI

[2018-04-25 17:45] alexellis commented on #639
@dkozlov we had some discussion about this on Slack.. please can you summarize the points for the community?

[2018-04-25 17:51] alexellis commented on #471
@ovation22 @kenfdev as #TeamServerlessUI what do you think?

[2018-04-25 18:46] BurtonR commented on #642
Hi @CentricStraaten! Were you able to resolve your issue? Could you share what you did, or when you realized what the problem was?

I'd recommend starting up a Play With Docker session (https://labs.play-with-docker.com/) and running the deployment one liner to get started in a fresh, clean environment. When you start a session, just follow the steps in the [Swarm Deployment Guide](https://docs.op

[2018-04-25 20:35] topicus opened #669 "Proposal: Use gRPC for communication between services"
## Expected Behaviour
I would like to call lambda functions using gRPC instead of http

## Current Behaviour
Currently, only http calls are supported.

## Possible Solution
Modify Function Watchdog to support gRPC

## Context
There are two main advantages of using gRPC over http:
- **Schema reflection:** Schema introspection open up an opportunity to compose function types into a bigger schema (Gr

[2018-04-25 20:56] alexellis commented on #669
Derek set title: Proposal: Use gRPC for communication between services

[2018-04-25 20:56] alexellis commented on #669
Derek add label: proposal

[2018-04-25 21:02] elijahgagne opened #670 "Support requested with Docker Swarm on timeouts"
I am trying to get started with openfaas, but hitting issues after several hours of trying.

I have three nodes running Docker version 18.03.0-ce with Swarm setup. I followed the first two labs without any issues:
- https://github.com/openfaas/workshop/blob/master/lab1.md
- https://github.com/openfaas/workshop/blob/master/lab2.md

When I get to https://github.com/openfaas/workshop/blob/master/lab3

[2018-04-25 21:13] alexellis commented on #670
Derek add label: support

[2018-04-25 21:14] alexellis commented on #670
Sorry to hear you are having difficulties.

I wouldn't expect you to be using 0.7.3 since the master branch has 0.7.9.. have you thought about updating before going any further?

[2018-04-25 23:26] cpitkin commented on #670
@elijahgagne I tested lab3's hello-world on a fresh swarm cluster and it worked ok for me. I would echo what Alex said the update the version of the gateway you are using and try deploying the function again. My versions are below for reference.

Gateway: 0.7.9
Faas-swarm: 0.2.5
Docker: 18.04.0-ce
Cli: 0.6.5

[2018-04-26 06:34] rgee0 commented on #658
Is this on the correct repo?

What is meant when we refer to future?  Is it hours, days, weeks?

This is where the anonymous analytics would have really helped out.  Using `av` we could measure __an__ impact of this change to inform our comfort levels.

[2018-04-26 06:51] alexellis commented on #658
Yes this is the best repo to surface and to track suggestions.

We are where we are, so when do we do this work?

[2018-04-26 06:59] CentricStraaten commented on #642
I added Application Insights to my function. In my function I added custom events to check if the could would run and finish after called a-sync. I used Postman to call my function on the async-function URL. I noticed that the function was initiated, received a timeout when the function exceeded the execution time of 8 seconds, and noticed that the code (sleep for 20 seconds) did not finish proper

[2018-04-26 12:46] developer-rakeshpaul commented on #662
@alexellis I am still facing some issues with the alternate methods suggested by you. I get the following error.

[code]

I have pushed the latest code to [GitHub](https://github.com/developer-rakeshpaul/faas-functions). I doubt if it is caused some missing dependencies by the headless chromium.

[2018-04-26 12:47] iyovcheva commented on #653
@johnmccabe it's set to `true`

[2018-04-26 13:04] johnmccabe commented on #653
@ImVexed can you do the same please (just to be sure)

@iyovcheva ok so that looks like its the root cause here, you could try setting this to false locally [here](https://github.com/openfaas/faas/issues/653#issuecomment-384339538), and trying with a fresh function. That should prevent this reoccurring in future I suspect. (my Win10 box is at home so can't verify this myself until later).

[2018-04-26 13:24] yurifrl opened #671 "Question on tuning auto-scaling"
Hy, I'm sorry to use an issue to ask this, but can someone point me to the docs of how to add a new scale rule? or force a scale manually. I've read about prometheus alerting but can't grasp my head around it, I've also tried to get an invite to slack with a email to alex@openfaas.com but it seams the address doesn't exist.

My problem is that I have a long time function, that runs asynchronously

[2018-04-26 13:29] BurtonR commented on #671
The [docs site](https://docs.openfaas.com/) is a work in progress, but still a good resource for more information on OpenFaaS. Here is the link to the auto-scaling section: https://docs.openfaas.com/architecture/autoscaling/

Also, [the workshop](https://github.com/openfaas/workshop) is another great resource to understand the basics of OpenFaaS. The lab on auto scaling may provide some useful inf

[2018-04-26 13:30] BurtonR commented on #671
Derek add label: question

[2018-04-26 13:51] alexellis commented on #670
@elijahgagne I'm not aware of any issues with running OpenFaaS functions over multiple nodes.

Here are two suggestions:

* Try the play-with-docker environment:

https://docs.openfaas.com/deployment/

You can set up a multi-node cluster there

* Check the new troubleshooting guide

The troubleshooting guide has been moved to the documentation site now - perhaps it has more context - https://docs.

[2018-04-26 14:01] alexellis commented on #671
Hi @yurifrl - you should scale the amount of queue-workers - each one will run a single task in parallel by default with a maximum task duration of 30 seconds. You can read about how to alter timeouts in the documentation.

You mention Pods but haven't filled out our issue template so I am going to guess you're on Kubernetes. Scale the queue worker to the degree of parallelism you want (it's a lig

[2018-04-26 14:03] alexellis commented on #662
The error clearly says that `/home/app/headless_shell` does not exist. Have you checked that it is where you expect it to be in the container?

`docker run webshot ls /home/app/headless_shell`

It would also help if you could push the image up to the Docker Hub.

[2018-04-26 15:28] elijahgagne commented on #670
Thanks. I used PWD site and saw that a 3 node swarm certainly works with openfaas. Testing in my environment more, I've found that if I run things on the two nodes that are in the same datacenter, things continue to work. When I move services to the third node that is in a different datacenter, that's when things start to break.

I'm going to close this as it's clear the issue is in my environment

[2018-04-26 15:28] #670 closed

[2018-04-26 17:14] ImVexed commented on #653
@johnmccabe can confirm over here. Setting it to `false` indeed fixed the issue.

[2018-04-26 17:28] alexellis commented on #653
If this is the work-around / fix - then what would you all suggest we do to move forward? Document this or keep working on an alternative solution?

[2018-04-26 19:34] developer-rakeshpaul commented on #662
Yes I did check that the file exists in the folder.. Please find below the result of ls -ltr on the /home/app folder

[code]

I will work on pushing the image to docker hub and update once it is done.

[2018-04-26 20:34] alexellis commented on #662
So I built your container and I think the problem is that you need to use Debian as a base or install libc which is probably missing in Alpine.

[2018-04-28 08:34] alexellis commented on #663
Also looks useful - https://docs.travis-ci.com/user/pull-requests/

[2018-04-28 08:42] alexellis commented on #669
@topicus please can you revise your proposal in accordance with the contribution guide? https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-have-a-great-idea

Thanks,

Alex

[2018-04-28 08:54] alexellis commented on #662
Ping @developer-rakeshpaul - PTAL

[2018-04-28 17:08] developer-rakeshpaul commented on #662
@alexellis finally got it working with the node:8-slim image. Pushed the changes to [GitHub](https://github.com/developer-rakeshpaul/faas-functions) Thanks a lot for the help Alex

[2018-04-28 21:15] #662 closed

[2018-04-30 06:55] ericstoekl commented on #663
RE misuse -- the issue would be if people create many pull requests and cause lots of builds to be run on the openfaas travis-ci account? Isn't travis-ci free for open source?

[2018-04-30 12:11] iyovcheva commented on #663
@ericstoekl yes, it is ([travis plans](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwiQkqPr-eHaAhXCNJoKHZDaAooQFggnMAA&url=https%3A%2F%2Ftravis-ci.com%2Fplans&usg=AOvVaw1bYqatsMt6_SzAQqlWTm_1)). I think there are 5 concurrent jobs available for open source projects.

[2018-04-30 13:49] yurifrl commented on #671
Hello everyone, thanks for your answers, I did scale the queue-workers, and it worked fine, Thank you.

[2018-04-30 13:49] #671 closed

[2018-04-30 13:51] yurifrl commented on #671
@alexellis If you can invite me to the slack channel that would be awesome, my email is yurifl03@gmail.com

[2018-04-30 18:30] alexellis commented on #671
Great to hear it.

[2018-05-01 03:40] bishwenduk029 commented on #663
Hello everyone I would love to work on this one, ofcourse if no one has started yet, will be needing guidance from you all.....

[2018-05-01 11:46] Rillian-Grant opened #675 "Suggestion: make UI available offline"
The web UI cannot be used offline as the angular.js file is grabbed from http://googleapis.com/

## Possible Solution

Store the angular.js file with the other js and the index.js files

## Steps to Reproduce (for bugs)

1. Visit the web UI without internet acess

[2018-05-01 11:52] alexellis commented on #675
I think this is to be expected.

Couple of questions about this issue:

Why do you need offline access? Who else would need offline access?

How important is this to the project vs the cost of maintaining all the files from a CDN?

[2018-05-01 11:53] alexellis commented on #661
@ericstoekl can you raise a PR if you're working on this? Thanks

[2018-05-01 11:53] Rillian-Grant commented on #675
I have a Pi that has no WIFI and I use it to play with OpenFaaS

[2018-05-01 11:55] alexellis commented on #675
How do you build OpenFaaS functions without internet access?

[2018-05-01 12:11] Rillian-Grant commented on #675
I pull the images over ethernet

[2018-05-01 13:39] alexellis commented on #647
@cpitkin do you want to try using Derek here to close the issue?

[2018-05-01 17:58] cpitkin commented on #647
Derek close

[2018-05-01 17:58] #647 closed

[2018-05-03 09:48] Rillian-Grant opened #676 "Can't figure out how to change the gateway URL the CLI connects to."
Can't figure out how to change the gateway URL the CLI connects to

[2018-05-03 10:12] iyovcheva commented on #676
Hi @Rillian-Grant ,

There are 3 options:
1. You can use the `-g` or `--gateway` flag to specify the url (f.e. `faas-cli deploy -g <your_url>`)
2. You can change the `gateway` value under `provider` in your deployment YAML file
3. Set the `OPENFAAS_URL` environment variable

[2018-05-03 11:11] craigrayner commented on #676
In case anything changes and people find this later, its currently documented here: https://github.com/openfaas/faas-cli#run-the-cli

[2018-05-05 14:08] tymanoj opened #677 "Python function timeout"
My function takes temperature and humidity data from weather API and writes it to MongoDB. I set a hard_timeout value of 20secs as suggested in troubleshooting.md. I am also doing a time.sleep(30) to see if the timeout works. Please note that, time.sleep() is implemented before writing the data to DB.
## Expected Behaviour

In my opinion, the function should exit with status 0 after 20 seconds and

[2018-05-05 14:15] alexellis commented on #677
Please see the [labs on timeouts in the workshop](https://github.com/openfaas/workshop) and make sure you are using the timeout everywhere it is needed.

[2018-05-05 14:34] tymanoj commented on #677
Hi,

Setting correct exec_timeout helped. Thank you :)

[2018-05-07 00:42] masonoise commented on #230
I just started doing some work with OpenFaaS and the lack of support for CORS configuration is definitely problematic. My use case is that on my laptop for development I have a front-end (in Vue.js) running on port 8080, and OpenFaaS running in k8s via Docker for Mac. So that means it's listening on port 31112, which makes it impossible for my front-end app to make AJAX calls to it unless I can ge

[2018-05-07 01:16] masonoise commented on #230
I ended up doing a more crude patch to just make things work, by editing `handles/proxy.go` in the `MakeProxy` handler function. At the bottom right before the `io.Copy()` of the body, I added:
[code]
And then did a rebuild and helm remove/update and it works. But obviously patching is not the right way to go. I'm thinking that an entry like `accessControlAllowOrigin` in the chart gateway.yaml mig

[2018-05-08 02:12] rosskevin commented on #504
FYI @alexellis - I've been using this is node and based on your original node8-express template, now looking at exposing my graphql-ruby endpoint (based on rails-api) in the same way.  I'm still early but I do thing this direction provides a lot of potential.

[2018-05-08 07:26] alexking opened #678 "Traefik guide should include the async-function endpoint"
Since queuing an async function uses a different endpoint than normal (`/async-function`) it isn't possible with the [documented traefik configuration](https://github.com/openfaas/faas/blob/17a3564ca0a31c68390de2d9de6cfde44021b931/guide/traefik_integration.md#update-the-gateway-service). Adding to the PathPrefix fixes this. Adding this as an issue because pull requests for [typos are discouraged](

[2018-05-08 14:43] kenfdev commented on #481
Derek close

[2018-05-08 14:43] #481 closed

[2018-05-09 05:15] s8sg opened #679 "Suggestion: Add Cache-Control and ETag in watchdog environments"
## Context
many website including github use aggressive cache in order to avoid excessive load. For an open-faas function providing content that is behind one of those server may not function properly till the cache is expired.
i.e: function like [of_badge_gen](https://github.com/s8sg/of_badge_gen) might not provide the right status image till the cache is expired.
The similar problem is described

[2018-05-09 10:22] rayhero opened #680 "is that possible to return message before function finish?"
I use faas to do a large time cost job. Since the job need 1.5 hours to finish, I want to return a receiving message to let caller know that the job is start. After job finish, I will trigger their webhook to process the result. I use nodeStdin sample to test the response flow. I found that the echo only return after function finish. I can not response first even I echo at beginning.

## Expected

[2018-05-09 11:51] iyovcheva commented on #680
Hi @rayhero ,
I suggest you to chain 2 functions asynchronously. You can find an example for chaining [here](https://github.com/openfaas/workshop/blob/27245090d09b1f63e3a0e33ce64b63132d6886f9/lab6.md) and async functions [here](https://github.com/openfaas/workshop/blob/4cf063d30807e81686a7df1b279ad451491207ae/lab5.md)

The additional function can invoke the original one and then return response, i

[2018-05-09 15:48] lapwat opened #681 "faas-cli fails to build my Go serverless app"
Running `faas-cli build -f function.yml` fails.

I go into `build/function/` folder & try to build manually the openfaas container with 'docker build . -t function'. I notice that this line is at fault:

`RUN test -z "$(gofmt -l $(find . -type f -name '*.go' -not -path "./vendor/*" -not -path "./function/vendor/*"))" || { echo "Run \"gofmt -s -w\" on your Golang code"; exit 1; }`

If I comment thi

[2018-05-09 15:57] alexellis commented on #681
You need to run gofmt on your code

[2018-05-09 16:05] lapwat commented on #681
Thank you for your quick response.
I tried in `function` folder:
[code]
[code]
Does this mean that it passed the test ?

[2018-05-09 16:43] alexellis commented on #681
You should run it on individual files and then try to build again.

[2018-05-09 19:33] alexellis commented on #639
I'm confused by this comment - I thought we were talking about scheduling constraints on Slack because two Pods cannot use the same GPU at the same time?

[2018-05-09 19:35] dkozlov commented on #639
Also I have found following problems with native [Schedule GPUs](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/):

As workaround I have implemented following:
* Add label to GPU nodes (```sudo kubectl label nodes  ip-123-45-67-890 label=gpu```) and to your OpenFaaS function
* Specify --max-pods limit for your node [https://github.com/kubernetes/kubernetes/issues/23349](https://githu

[2018-05-09 19:35] alexellis commented on #681
I'm unable to reproduce the error and I'm reasonably sure that the template is working as expected. I'm  going to close the issue but am happy to keep responding to comments to help you.

[2018-05-09 19:35] #681 closed

[2018-05-09 19:37] alexellis commented on #675
I'm not sure we should do this, so I'm going to close and mark for revisit.

[2018-05-09 19:37] #675 closed

[2018-05-09 19:37] dkozlov commented on #639
```I'm confused by this comment - I thought we were talking about scheduling constraints on Slack because two Pods cannot use the same GPU at the same time?```

If you install only NVIDIA drivers, docker and nvidia-docker it is enough to start GPU docker containers by kubernetes without any device plugin.

[2018-05-09 19:38] alexellis commented on #669
Derek close: doesn't comply with contribution guide.

[2018-05-09 19:38] #669 closed

[2018-05-09 19:38] alexellis commented on #669
Feel free to keep commenting and if you have data-points I'd be happy to consider them.

[2018-05-09 19:39] alexellis commented on #654
Derek close: this issue is now inactive after two weeks so I'm going to close it. Feel free to keep commenting.

[2018-05-09 19:39] #654 closed

[2018-05-10 07:48] alexellis commented on #639
My question was: "could you run two different functions using [the same] GPU at the same time?" (expecting an answer of no) and you answered "Yes, I can". Are we talking about the same thing? I thought GPUs could only be used by a single container/Pod at a time?

[2018-05-10 10:02] lapwat commented on #681
I have [pushed the folder](https://github.com/lapwat/project) for you to try to reproduce the error. Can you take a look at it when you have time ?
Thank you

[2018-05-10 16:01] dkozlov commented on #639
I could repeat it again: "Yes, it possible" :). It was even possible in 2016, see [ClarifAI blog post](https://clarifai.com/blog/scale-your-gpu-cloud-infrastructure-with-kubernetes) ```allow multiple pods on the same machine to share the same card, even if you know what you’re doing (at least on paper: ask us about this one weird trick to do just that!)```. Have you checked https://github.com/dkoz

[2018-05-10 16:04] dkozlov commented on #639
```My question was: "could you run two different functions using [the same] GPU at the same time?" (expecting an answer of no) and you answered "Yes, I can". Are we talking about the same thing? I thought GPUs could only be used by a single container/Pod at a time?```
If you try [nvidia-docker](https://github.com/NVIDIA/nvidia-docker/) you could allow single GPU usage by more than one container at

[2018-05-11 11:13] lapwat commented on #681
You were right, the error was that my code was not formatted correctly. Thanks for your help.

[2018-05-11 12:13] alexellis commented on #681
That's awesome - have fun and feel free to join the Slack community to keep in touch.

[2018-05-11 12:13] alexellis commented on #681
Derek lock: resolved

[2018-05-11 12:20] alexellis opened #682 "Support annotations in function schema"
## Description

We should consider adding annotations to the schema or using them to store labels with Kubernetes

## Example

`"label": {"value-with-json-meta": "data"}`
Swarm: valid
Kubernetes: invalid

`"Git-Deploy": "03/03/2018 10:10:00"`
Swarm: valid
Kubernetes: invalid

`"valid-for-both": "anything-that-123-looks-like-a.domain"`
Swarm: valid
Kubernetes: valid

## Problem/Issue

Kubernetes us

[2018-05-11 12:32] stefanprodan commented on #682
For Kubernetes we could use annotations instead of labels. This change only affects faas-netes and o6s.

[2018-05-11 12:44] alexellis commented on #682
What about where people have used labels for node-selectors?

[2018-05-11 14:11] stefanprodan commented on #682
The stack file has a dedicated field for node selectors, how would people use labels to target nodes in k8s?

[2018-05-11 14:16] iyovcheva commented on #680
@rayhero Did that work for you?

[2018-05-11 16:16] robertrbruno opened #683 "Question: how to set secrets via the REST API"
## Expected Behaviour

I am registering a new function using the REST api to a k8s deployment.

Using the POST to /system/functions  and sending json in the body with the service, image, and secrets where secrets is an array with one string "regcred" which is a secret it the openfaas namespace for the docker repo creds.

I would have expected this to set the imagePullSecret for the deployment.

##

[2018-05-11 16:26] iyovcheva commented on #680
Derek add label: question

[2018-05-11 16:26] iyovcheva commented on #680
Derek close

[2018-05-11 16:26] #680 closed

[2018-05-11 18:28] dkozlov commented on #639
@flx42 Which another tricks/hacks we could do for overcommitting of GPUs in scope of Kubernetes? I am asking because OpenFaaS scales by pods and it could not be scaled by containers in a single pod.

[2018-05-11 20:04] alanjds commented on #223
As my 2 cents:

Got to debug FaaS via WDB: https://github.com/Kozea/wdb

You need to poke a hole from the FaaS machine to your machine. I am opening the hole via Ngrok service for now. Then you tell the debugger to attach to the hole on their end, opening the breakpoint on your machine.

Needed options on the FaaS environment:
* `WDB_SOCKET_SERVER`: The Ngrok hole entrypoint/hostname
* `WDB_SOCKET

[2018-05-11 20:38] flx42 commented on #639
I don't think you should try to hack around the official upstream support: that means don't overcommit GPUs.

If you need to run multiple pods for the same function, you will need multiple GPUs.

[2018-05-12 17:50] alexellis commented on #683
@robertrbruno I'd suggest you try using the `faas-cli` for this and then compare that with the JSON you are generating in your own submission to the endpoint.

[2018-05-12 17:52] alexellis commented on #683
cc @LucasRoesler

[2018-05-13 18:16] dkozlov commented on #639
FYI: https://github.com/Microsoft/KubeGPU seems that Microsoft trying to solve this problem

[2018-05-13 20:53] alexellis commented on #639
@flx42 thanks for your input :+1: I would like to figure out what we need to do in the project to make it easy to consume GPU in a function on GKE or a bare-metal node / VM with nvidia-docker swapped in. If you'd like to collaborate on this we are also talking on Slack.

[2018-05-13 21:02] alexellis commented on #223
I'll take a look at this @alanjds

I used the instructions from @kenfdev - they still work but I ran the container with the process of `node --inspect-brk=0.0.0.0:9222 index.js` instead of using it as the `fprocess`.

[2018-05-14 14:56] kenfdev opened #684 "Proposal: UI Add a page for deploying functions"
## Expected Behaviour

1. Click on the `Deploy New Function` button
2. Show a page for deploying a new function (rather than opening a modal) inside the single page app.
3. Select a function from the store or fill in the information manually
4. Click the `Deploy` button
5. Go back to the functions list page

## Current Behaviour

1. Click on the `Deploy New Function` button
2. Open a modal
3. Sele

[2018-05-14 14:57] kenfdev commented on #684
Derek add label: proposal

[2018-05-14 15:47] robertrbruno commented on #683
The type of the secret is kubernetes.io/dockerconfigjson  it was created using kubectl create secret docker-registry regcred ..

[2018-05-14 17:30] flx42 commented on #639
I think you should embrace the current upstream support, including its limitations.
If you assume that the cluster is already configured with the NVIDIA device driver, the device plugin and optionally taints/tolerations (see [this article](https://notes.mindprince.in/2017/12/17/dedicated-node-pools-and-ExtendedResourceToleration-admission-controller.html)), then you can just schedule pods consumin

[2018-05-15 07:39] alexellis commented on #683
@robertrbruno please can you follow the suggestion I gave before going any further.

Please confirm that the secret works when binding via the faas-cli (this is a normal use-case for us and we have tested it). If you have an error at that point then you may be using an old version of faas-netes or you may be configuring your secret in the wrong namespace.

[2018-05-15 07:40] alexellis commented on #678
Hi @alexking this isn't a typo, it was just written before async was a stable feature. If you can test your change and confirm it works along with the previous behaviour still in fact for /ui and /system then I can merge a PR for the change.

Alex

[2018-05-15 07:41] alexellis commented on #678
Please also read the contribution guide about Git sign-off, that means not editing in the UI or if you do adding a proper signed-off line at the end of the commit message. The git CLI does this for you via `git commit -s`

[2018-05-15 07:42] alexellis commented on #664
Derek close: inactive

[2018-05-15 07:42] #664 closed

[2018-05-15 07:43] alexellis commented on #663
If someone wants to work on this and is able to test this independently then I'd support that. IMHO the images should push to a separate Docker namespace which makes it clear that these are untrusted builds from public PRs.

[2018-05-15 07:45] alexellis commented on #653
Please feel free to suggest an edit to the site at docs.openfaas.com for the CLI. https://github.com/openfaas/docs @ImVexed

[2018-05-15 07:49] alexellis commented on #635
Hi @blaskovicz thanks for your suggestion.

At this time we are not looking to change the secrets projection behaviour in Swarm and Kubernetes.

What code do you have which expects the secret format you mention above? Is there any reason why it can't use the full path as specified such as `$app-name-prefix_$var_name_$version`?

Maybe you could write some code to scan /var/run/secrets to match on y

[2018-05-15 07:51] alexellis commented on #626
Given the lack of interest in this topic I put something together and [published it in the docs](https://docs.openfaas.com/contributing/get-started/) - @iyovcheva then added a section with links for Go/Docker. :+1:

[2018-05-15 07:51] alexellis commented on #626
Derek close: completed

[2018-05-15 07:51] #626 closed

[2018-05-15 07:58] alexking commented on #678
Ah yeah I figured - was interpreting typo too broadly - I'll send in a pull request 😄

[2018-05-15 13:20] robertrbruno commented on #683
@LucasRoesler the secret is in the same namespace as the openfaas deployment which I thought is where it needed to be.   We named our namespace "openfaas".  Gatway version is 0.7.3.

@alexellis I'll do my best to test with faas-cli today.  Is there any easy way to see the json it produces if it does work?  I'd very much like to be able to use the REST api if at all possible.

[2018-05-17 06:01] liukaikai1211 commented on #379
Hi Rayhero, I have some clues for your concerns.

I configured prometheus to scrape the cAdvisor metrics in Kubelet for every pod and created related CPU usage alerts. I can see that the alert is firing when the CPU usage of a pod in the namespace of openfaas-fn exceeds the alert value. But that does not trigger Kubernetes or OpenFaaS gateway to create more pods. The reason I think is the followin

[2018-05-17 12:37] lapwat opened #686 "Question on rolling update behaviour in swarm"
When performing a rolling update, the function is not callable during 10 seconds.

## Expected Behaviour
A rolling update should be transparent to the user.
The function should always be callable during a rolling update. The function should never be in "Not ready" state.
The old version should be accessible until the updated version is Ready.

## Current Behaviour
If you try to call the function d

[2018-05-17 13:44] iyovcheva commented on #686
Hi @lapwat, do you push the image to a Docker registry?

[2018-05-17 17:01] rgee0 commented on #686
@lapwat can you provide the output from `docker service ls | grep -E 'func_faas-swarm|func_gateway'` please?

[2018-05-17 21:16] alexellis commented on #686
You don’t say what version of OpenFaaS you are using. I would recommend moving to master - the start first strategy does not cause 10 sec downtime.

[2018-05-18 06:03] lapwat commented on #686
@alexellis I was in 0.7.7, I tried with master & problem resolved :)
Now the behaviour is as expected.
[code]

@rgee0 FYI
[code]

Thank you all for your reactivity

[2018-05-18 06:03] #686 closed

[2018-05-18 07:48] alexellis commented on #686
@lapwat the policy for updating changed from StopFirst to StartFirst for Docker Swarm. You can find more release notes/PRs etc over on the repo - https://github.com/openfaas/faas-swarm

Also 🎉 👍 😄

[2018-05-18 07:59] Templum commented on #590
I would see this as an necessary feature to operate Open FaaS in an productive environment. As this reduces potential attack vectors on functions.

[2018-05-18 11:12] alexellis opened #687 "Proposal: Move Basic Auth into gateway code"
We currently secure the OpenFaaS administrative API route `/system/` by fronting it with Basic Auth through a HTTP Reverse Proxy.

If we implement basic auth within the the `/system/` route we can decouple this implementation detail.

The implementation may require the user to create a secret using `kubectl` / `docker swarm` before deploying.

We should also look at alternative options.

Do not fo

[2018-05-18 12:26] alexellis commented on #590
Since we have broad agreement the next thing is finding someone to work on this with Kubernetes being the starting point then swarm. Any volunteers?

[2018-05-19 08:51] Templum commented on #590
I will look into it and then decide if I'm capable of implementing it

[2018-05-19 13:04] BurtonR commented on #242
Derek close

[2018-05-19 13:04] #242 closed

[2018-05-19 18:53] alexellis commented on #687
Test

[2018-05-20 08:54] alexellis commented on #687
Some interesting ideas on different auth strategies: https://facundoolano.wordpress.com/2013/12/23/my-take-on-restful-authentication/

[2018-05-20 11:26] alexellis commented on #283
Derek close: completed migration.

[2018-05-20 11:26] #283 closed

[2018-05-20 11:28] alexellis commented on #683
@robertrbruno I believe you will need to set your secrets in the openfaas-fn namespace.

I'm not sure why you are using 0.7.3 of the gateway (that implies that components will also be out of date) - please update to master.

If we don't hear from you this week confirming that you've tested with the CLI (something we know that works). I'll close this issue.

Thanks,

Alex

[2018-05-20 11:35] alexellis commented on #683
I found no issues attaching and binding to a secret on Swarm, and we can bind to secrets successfully using the CLI with Kubernetes too. This means you're probably getting something wrong in your secret creation or your REST call.

Example:

[code]

[2018-05-20 11:40] robertrbruno commented on #683
Thanks for all the follow-up.   I'll test tomorrow.

[2018-05-20 12:01] alexellis commented on #683
Would also be good to check `kubectl get events openfaas-fn` - I believe this data is requested when raising an issue on faas-netes repo. If this issue is about faas-netes, it may make sense for you to close this issue and raise a new one there giving all the troubleshooting info.

[2018-05-20 17:59] alexellis opened #689 "Enable health and info endpoint"
## Add endpoints

These endpoints are exposed in underlying provider but not bubbled up/exposed.

* info -> `/system/info` GET
* health -> `/healthz` GET

Change should also cover swagger definition

[2018-05-20 17:59] alexellis commented on #689
Health endpoint is enabled in faas-swarm 0.2.7

[2018-05-22 12:40] LucasRoesler opened #692 "Proposal: Change secrets to mount in a specialized subfolder"
To address various issues that we have recently seen occur with secrets (mostly in Kubernetes) and to maintain cross-compatibility between Swarm and Kubernetes, we should mount all secrets to  `/var/openfaas/secrets`.

## Expected Behaviour

When a user indicates that a secret is required, we should specify that the orchestration layer mounts that secret inside `/var/openfaas/secrets`.  For exampl

[2018-05-22 12:48] LucasRoesler commented on #692
Some comments on the actual implementation, I am pretty sure that for both swarm and k8s, this is a one line change.

In swam, we would just need to update https://github.com/openfaas/faas-swarm/blob/master/handlers/deploy.go#L345 to use a formatted string with the `source=%s,target=/var/openfaas/%s` instead of the secret name, like it currently does.  Essentially we would be piggybacking on the s

[2018-05-22 16:42] Templum opened #693 "Proposal: Adjust Response Codes of the Rest API for Create / Update"
The api routes for create and update as defined [here](https://github.com/openfaas/faas/blob/master/api-docs/swagger.yml) in the official swagger documentation do return an inappropriate HTTP Status code.

Create and Update currently return an  [200 - OK](https://httpstatuses.com/200) which indicates that the operation was already completed. But in fact at that point we only started / created a de

[2018-05-22 16:48] Templum opened #694 "Update the Swagger API Documentation"
Currently, there is an swagger documentation available [here](https://github.com/openfaas/faas/blob/master/api-docs/swagger.yml), hower it is not update and also not complete.

For example both create and update return an 400 - Bad Request in case the provided information where not in the correct format. Which is not displayed.

Definition are only partially available and also lack the marking of

[2018-05-22 17:35] alexellis commented on #694
Hi Simon, thank you for raising this. I'd support you working on this and I think it will help the community going forward too.

[2018-05-23 00:47] cpitkin commented on #687
@alexellis Which auth strategy in that list did you have in mind? Starting out with Basic Auth then adding more later might not be a bad idea.

[2018-05-23 01:16] cpitkin commented on #657
Nomad and Kubernetes both have these primitives but I don't believe Swarm does. It looks like Swarm may get the primitive in the near future from the [issue](https://github.com/moby/moby/issues/23880) but not sure how long that will be.

I can see this being a larger ask from the community going forward. I have been thinking a lot about this myself for personal and work-related tasks. It would be

[2018-05-23 07:55] alexellis commented on #687
Would like input from the community on this. We've seen basic auth offer usefulness and simplicity, but is there more we could do?

[2018-05-23 10:42] #687 closed

[2018-05-23 13:44] LucasRoesler commented on #692
While implementing this change in `faas-swarm` I noticed something that will become broken with this change.  In `faas-swarm` we implicitly supported the entire docker secrets command line configuration for secrets.  In particular, it was possible to use the `source=,target=` notation as the secret and faas would be able to handle that correctly.  I don't think we ever explicitly stated support fo

[2018-05-23 17:46] faromero opened #696 "Controlling autoscaling with Kubernetes instead of OpenFaaS"
I would like to control the behavior of how each replica set scales based on criteria passed to `kubectl autoscale` instead of OpenFaaS's alert system. However, it seems that Kubernetes autoscale is conflicting with OpenFaaS's even though I believe I turned off the OpenFaaS alerts.

## Expected Behaviour
The autoscaling policy should only be managed by Kubernetes (via HPA) if the OpenFaaS alerts a

[2018-05-23 20:29] stefanprodan commented on #696
I've tested the HPA setup for the [OpenFaaS Kubernetes Operator](https://github.com/openfaas-incubator/openfaas-operator) with Alertmanager scaled to 0 and it works as expected. Can you please try out the operator and see if that works? Here is an example https://github.com/stefanprodan/openfaas-flux#manage-openfaas-functions-and-auto-scaling-with-weave-flux

Thanks

[2018-05-23 21:10] alexellis commented on #657
Having read the thread and following the thread, I think this is unlikely to happen in the near future.

Kubernetes can support this use-case natively, Swarm may need a separate controller writing to make this possible.

[2018-05-23 21:15] alexellis commented on #639
Would either of you be interested in helping to implement that within the project?

[2018-05-23 21:19] alexellis commented on #230
Hi @masonoise,

How would you run this combination of sites in production? I would suggest mirroring that in development.

Bypassing CORS is not something I would recommend, but I am willing to look at examples of what other projects are doing if you can find some.

[2018-05-23 21:44] faromero commented on #696
Hi Stefan,
Thank you for your response, I will try to test this on the operator.
I am new to OpenFaaS and Kubernetes, but what does the operator do that is different from just running FaaS-netes with the FaaS-CLI, and is using HPA instead of the AlertManager not possible without the operator?

Thanks again for your assistance, I will see if I can get it working with the operator.

[2018-05-23 22:06] alexellis commented on #696
@faromero Please see the notes on AlertManager - http://docs.openfaas.com/architecture/autoscaling/

You will not get scaling behavior from OpenFaaS (AlertManager) if you remove the alert or if you scale AlertManager to zero replicas. There is nothing else in the deployment which would scale your functions.

[2018-05-23 22:35] faromero commented on #696
@alexellis Thank you for the response and the helpful link!
From the link, it states at the bottom that you can scale using the HPA instead. My desired behavior is to control the scaling myself based on custom HPAs and _not_ have OpenFaaS scale my functions (hence my efforts to disable the alerts). However, currently it seems that even if I disable the alerts (i.e. comment out the lines in the two

[2018-05-23 22:46] BurtonR commented on #230
@masonoise, I agree with Alex that we would need to better understand your situation in production so that we can possibly help you set up your development environment to better match that. If you're not having this issue in production, you shouldn't have it in development either (at least in the best scenarios).

I know that there can be times when developing something locally does require the se

[2018-05-24 01:17] kenfdev commented on #230
@masonoise Although there are use cases for CORS, imo your's doesn't need CORS.

If you're using Vue.js and vue-cli to bootstrap your app, you should have a webpack dev server already set up for you. Take advantage of the [proxy feature](https://webpack.js.org/configuration/dev-server/#devserver-proxy) to proxy your request from `8080 -> 31112`.
Something like the following config should work. (Ch

[2018-05-24 02:22] CuZn13 opened #697 "Proposal: set replicas to zero in Prometheus when deleting a function"
# Title

When deleting a function, notify prometheus to set replicasCounter to 0

Delete a function, but still show one in prometheus. My approach is to add a deleteProxyHandler  add a method to metrics.go. Set replicasCounter to 0 when deleting a function

`func MakeDeleteFunctionProxyHandler(proxy *types.HTTPClientReverseProxy, metrics metrics.MetricOptions, baseURLResolver BaseURLResolver) http

[2018-05-24 04:15] masonoise commented on #230
@kenfdev you had it right. I'm still new to Vue and definitely more of a back-end dev so I had no idea there was built-in support for a proxy like that. That works just fine and is a solid solution for dev environment. This is a side project and is not in production yet, but in that environment I will probably need CORS support of some kind -- the front-end is most likely to be served from somethi

[2018-05-24 07:31] stefanprodan commented on #696
@faromero have you restarted the Alertmanager pod after changing the config?

[2018-05-24 08:05] affix commented on #230
This should not be part of the gateway to be honest.

Bypassing CORS introduces a security risk to the function, developer, service and user. If you need to add a CORS Header you should do so in the function.

If you can't do it in your function use a reverse proxy or gateway such as NginX, HAProxy, Kong or similar that will allow you to send CORS headers.

[2018-05-24 09:04] alexellis commented on #478
We need to move this forward, it's been sitting for 4 months. Please can someone on the thread volunteer?

[2018-05-24 10:57] tarunmangukiya commented on #230
@affix Agree with your comment.

Using it as a reverse proxy will be good idea as a security point of view, plus you won't leak your original faas domain/ip to the user.

[2018-05-24 17:45] faromero commented on #696
@stefanprodan, thanks for the suggestion. After I changed the config, I applied the changes to the pod via the following command: `kubectl apply -f ./namespaces.yml,./yaml`. Does this apply the update to the pod or do I need to run another command to restart it in order for the changes to take effect?

[2018-05-24 18:08] stefanprodan commented on #696
The pod is not restarted since nothing changed inside the Deployment object. The Alertmanager config is stored as a ConfigMap. You can delete the running pod or call `/-/reload` see https://github.com/prometheus/alertmanager/issues/353

[2018-05-25 00:13] faromero commented on #696
That's great to know. I did kill the pod, updated the config, and then brought the pod back up, but I am still getting the same behavior. Just to confirm: if I comment out lines 40-50 in prometheus_config.yml (highlighted [here](https://github.com/openfaas/faas-netes/blob/master/yaml/prometheus_config.yml#L40-L50)), OpenFaaS should not receive an alert to take action on scaling, correct?

[2018-05-25 03:05] CuZn13 commented on #657
There are many such scenarios in the actual business. Containers can do this kind of work well. Pull up the container when using it,Complete work to destroy the container. We are doing this based on openfaas.
When invoked, put the request in a queue and deploy function. Record the number of call requests and completions. If there is no new request in a certain period of time and all operations are

[2018-05-25 06:44] alexellis commented on #697
Hi I think this sounds like a good approach. Thanks for using OpenFaaS and for logging the issue.

Let's get another opinion and then look at moving forward with a solution and fix.

Alex

[2018-05-25 07:28] stefanprodan commented on #696
Ah sorry you need to restart the Prometheus pod not Alertmanager.

[2018-05-25 07:45] alexellis commented on #478
We need to update everywhere that references and mentions these sample functions including:

* The TestDrive (Markdown + docs.openfaas.com) and any other Markdown files
* Anything on docs.openfaas.com
* Suggest which blogs need editing that use the samples

Then:

Create a new YAML file to represent the missing functions (ideally in a stack.yml format if possible)

This should not be a duplication

[2018-05-25 10:38] moshe0076 opened #701 "Is there support for Cloud Events?"
Cloud events https://cloudevents.io/ failed to trigger an OpenFaaS function.
## Expected Behaviour
Cloud Events are handheld by the OpenFaaS function natively.

## Current Behaviour

I was trying to trigger an OpenFaas function from an Event Gateway (https://github.com/serverless/event-gateway), but the OpenFaaS function cannot handle the event.
## Possible Solution

Add support for Cloud Events.

[2018-05-25 10:47] alexellis commented on #701
We have support for CloudEvents, no changes are required in the function. FYI no "serverless event-gateway" is required either - Azure publishes events in this format via its EventGrid.

@johnmccabe can you share your example function please?

[2018-05-25 10:52] johnmccabe commented on #701
I'll push it up later today when I get home.

[2018-05-25 13:46] kenfdev commented on #697
Thank you for pointing this out @CuZn13 . This looks nice.  In addition, imo we should continue using the logic of the `MakeForwardingProxyHandler` so that we don't break the original functionality and not to duplicate code.

Something like the following:

[code]

1 caveat I already know is that, since the above request can't realize if the forwarded request succeeded or failed, it will always set

[2018-05-25 18:28] faromero commented on #696
I deleted the entire setup (`kubectl delete -f ./namespaces.yml,./yaml`) and then redeploying after making the change (`kubectl apply -f ./namespaces.yml,./yaml`), yet I _still_ see the conflict occurring (a second function pod is deployed, and then immediately killed). The logs from the AlertManager or Prometheus pods do not seem to indicate any activity related to this behavior (not sure if they

[2018-05-25 18:45] alexellis commented on #696
Please give us step by step instructions of what to type in exactly to reproduce your problem. We'll also need to know how you are generating high load.

[2018-05-25 18:59] alexellis commented on #701
Thanks please link to it here when ready.

Any tips for the issue poster?

[2018-05-25 19:03] faromero commented on #696
@alexellis thanks for your response. I am not generating a high load (yet), what I am doing is setting a minimum (2) and maximum (doesn't matter but let's say 5) number of replicas in my autoscale configuration. Hence, HPA always wants 2 replicas of a particular pod but OpenFaaS doesn't see a need for the second replica so it kills it (despite me trying to tell it otherwise). Here are the steps to

[2018-05-25 20:51] alexellis commented on #696
Thanks for the instructions.. So I ran through your instructions and found I could reproduce the error.

I think the problem is the you've modified the ReplicaSet and not the Deployment.

Deployment info:

[code]

RS info:

[code]

Why don't you try setting up HPA on the deployment like in Stefan's guide? https://github.com/stefanprodan/openfaas-flux#manage-openfaas-functions-and-auto-scaling-with

[2018-05-25 20:52] alexellis commented on #696
Derek close: not an issue

[2018-05-25 20:52] #696 closed

[2018-05-25 23:41] faromero commented on #696
Fantastic, that did the trick! Thanks so much @alexellis and @stefanprodan!

[2018-05-26 09:29] viveksyngh opened #703 "Proposal: Add new metrics for the functions"
Add more useful metrics for the functions like.

[code]

## Expected Behaviour

 We can expose these metrics through Gateway.

## Current Behaviour

Right now we are having metrics like `replicas`, `invocationCount`  for each function. We can also expose these new metrics.

## Possible Solution

All of these metrics are already there in Prometheus, we need to expose these metrics through the gatew

[2018-05-27 16:55] kenfdev commented on #697
Sure, I'll take it. Thinking about how I could unit test (or maybe it's more an integration test) the prometheus metrics.  Since it's currently difficult to inject a mock,  I'm searching if there's any helpers provided by the prometheus library to assert the metrics.
In addition, I've thought about adding integration tests to the `deletefunction_test.go`, but wasn't sure if it's worth waiting arou

[2018-05-28 06:56] #701 closed

[2018-05-28 11:24] klingenm opened #704 "Wrong env name for ack_wait in stack definition file"
https://github.com/openfaas/faas/blob/ab2aa14c4837626ddfef406a2c9ed5903f7b4e8a/docker-compose.yml#L91

According to https://github.com/openfaas/nats-queue-worker/blob/master/queue-worker/main.go#L206 it should be `ack_wait` not `ack_timeout`.

[2018-05-28 13:54] alexellis commented on #704
I think you're right. We updated the name and the config for Kubernetes but possibly not for swarm. https://github.com/openfaas/faas-netes/blob/master/yaml/queueworker.yml

[2018-05-28 13:55] alexellis commented on #704
Looks like the docs need an update too http://docs.openfaas.com/deployment/troubleshooting/#timeouts-asynchronous-invocations