[2017-01-23 15:22] alexellis opened #11 "Improve logging for functions during error"
Improve logging for functions during error conditions via @thejibz

Within watchdog binary:

The exec of process:
- results in non-zero exit code
- finds output in stderr and nothing in stdout
- gets output in stderr and stdout

https://github.com/alexellis/faas/pull/10#issuecomment-274496611

Also review whether panic is the correct behaviour for failure of exec.

[2017-01-23 23:27] alexellis commented on #11
See also: https://github.com/alexellis/faas/commit/b7d2845d6e10c0bf422226373949b6e861e56ba3

[2017-01-25 09:25] thejibz commented on #11
Every fprocess has only two sure ways to communicate with its fwatchdog atm: stdout and stderr. Beside these there is also the exit status code. So in my view :

For fprocess:
- stdout : ONLY valid result data must be printed here (e.g a final json object). No warning, error, debug output.
- stderr: ALL messages related to the execution of the fprocess (trace, debug, warn, error..).

For fwatchdog

[2017-01-26 23:25] alexellis commented on #11
Agreed on this point - I will create an issue to track documenting it.

[2017-03-02 23:53] macneib opened #17 "UI portal on 8080 only white screen"
This way cool, and thanks for posting this project!

I ran the quickstart, and again on my local machine, however I wasn't able to successfully bring the UI portal up.
1) Cloned mater branch
2 ) `docker swarm init --advertise-addr=$(ifconfig eth0| grep 'inet addr:'| cut -d: -f2 | awk '{ print $1}') &&   git clone https://github.com/alexellis/faas &&   cd faas &&   ./deploy_stack.sh &&   docker ser

[2017-03-03 04:25] macneib commented on #17
upon further investigation I suspect the issue arises from the Docker file

` faas/gateway/Dockerfile` line 11

[code]

should be

[code]

[2017-03-03 08:08] alexellis commented on #17
Thanks for the feedback on this - please see note on: https://github.com/alexellis/faas/pull/18

Btw you can create your own function two ways:
* through the stack file and running `docker stack deploy`
* through a new pop-up in the UI

The image I've pushed will now contain the "new function" popup and you can checkout [this]() as an example on how to create one with the base AlpineFunction image

[2017-03-03 19:22] macneib commented on #17
works now thanks!

[2017-03-03 19:22] #17 closed

[2017-03-03 19:42] alexellis commented on #17
Awesome, this will also work on your regular Docker installation just need at least 1.13. Do you have any pet projects or images you could try with FaaS?

[2017-03-09 15:21] macneib commented on #17
Currently, my plan to to do some experiments with a few esp8266 modules and FaaS to see if I can do multi-room temperature measurements.  I didn't want to go overkill on a stack just to collect temperature data, this faas stack is pretty much much perfect for me.  I'll post some snippets once I get things up and running.  Thanks again.

[2017-03-23 20:44] rcarmo opened #23 "Samples for persistent servers that are not started upon every request?"
I'd like to see a function container that was not restarted upon every request, preferably something that would accept HTTP or that could talk to a message queue (Redis, MQTT, etc.)

[2017-03-23 20:47] alexellis commented on #23
The container is persistent, but fungible (it may be recycled at any time).

The process inside the container is started on each request so that stdin/stdout can be used to pipe in / out the request and response. If you want a long running Redis server etc you can make that part of your stack, it won't be a function.

In terms of changing the behaviour - you can use any container as a function whi

[2017-03-24 00:53] rcarmo commented on #23
I want to have more efficient CPU/IO handling. Firing up a new runtime on a per-request basis is expensive (Java/Clojure particularly so, but Python can have longish startup times too as it gathers libraries).

Are there any samples that work with HTTP? I couldn't find any.

[2017-03-24 06:52] llitfkitfk opened #24 "docker-compose.yml cannot use '\t'"
when to execute
[code]

## Expected Behavior

pass
## Current Behavior

ERROR: yaml.scanner.ScannerError: while scanning for the next token
found character '\t' that cannot start any token
  in "./docker-compose.yml", line 106, column 22

## Possible Solution

#25
## Steps to Reproduce (for bugs)

1. git clone faas && cd faas && docker stack deploy -c docker-compose.yml func

## Context

## Your E

[2017-03-24 07:22] llitfkitfk commented on #24
#25

[2017-03-24 07:22] alexellis commented on #24
Hi please can you edit this issue to use the template provided? As far as I am aware the compose file is working in the master branch

[2017-03-24 07:58] llitfkitfk commented on #24
@alexellis  update

[2017-03-24 08:13] alexellis commented on #24
I have the same Docker version and cannot reproduce the issue on my Mac laptop or on Play-with-docker.com. I have removed any extra spacing I could find, do you want to try pulling from master again?

[2017-03-24 08:26] alexellis commented on #23
If you take the HubStats function for instance, it has very straight-forward code because it doesn't have to factor in serving HTTP, that's part of the stack. So all sample functions handle HTTP POSTs.

Let's take the Python example.

If you wanted to take HubStats and make it sticky, you would have to implement a web server in Python listening to POST on the `/` route.

The Python flask library c

[2017-03-24 09:37] llitfkitfk commented on #24
tried & works fine

[2017-03-24 09:38] #24 closed

[2017-03-24 13:55] vielmetti opened #26 "Adding and deleting a single new function without compose"
## Expected Behavior

I expect to be able to add a new function to a running installation without relaunching all of them, but I get an ambiguous error from the docker command I try. Instead I need rerun deploy_stack to relaunch everything.

## Current Behavior

[code]

I expected to be able to add a function to the func_functions network, but was rejected. Is this a Docker issue? Did I get the at

[2017-03-24 14:20] vielmetti opened #27 "Port to aarch64 (ARMv8, arm64)"
It would be great to get this working on ARMv8.

## Expected Behavior

The goal would be to provide a Dockerfile that enables FaaS on ARMv8 machines, specifically getting the watchdog process running.

## Current Behavior

The biggest challenge I've identified is finding a compact base container that provides a current version of Go to build and run the worker. The aarch64/ubuntu-golang container

[2017-03-24 14:21] alexellis commented on #26
To attach a function at runtime you can use the "New function" button on the portal UI at http://localhost:8080/

A HTTP post can also be sent via `curl` etc to the endpoint used by the UI (HTTP post to `/system/functions`)

[code]

[2017-03-24 14:29] alexellis commented on #27
An upstream container would be great - I think you already know @tiannon who manages aarch64.

I have my own set of armhf Dockerfiles in this repo -> [docker-arm](https://github.com/alexellis/docker-arm/tree/master/images/armhf) in the interim I'd be happy to have PRs here to create an ARMv8 version of Dockerfiles.

Did the watchdog / gateway build on Packet?

### Steps for porting

*There may be

[2017-03-24 14:40] vielmetti commented on #26
Working!

![screen shot 2017-03-24 at 10 39 48 am](https://cloud.githubusercontent.com/assets/35047/24299040/41a6cf30-107e-11e7-8c5c-4c2853751087.png)

[2017-03-24 14:45] alexellis commented on #26
Great! Here's the `curl` method:

[code]

[2017-03-26 23:19] vielmetti commented on #26
Blog post writeup, which points back here:

http://vielmetti.github.io/post/2017/2017-W12-4-oblique-strategy-as-a-service/

[2017-03-27 06:45] alexellis commented on #26
Thanks for this. Do you want to add a link in community.md. Please could you put a screenshot of the Gateway API on your blog post?

[2017-03-27 14:44] vielmetti commented on #26
Thanks Alex! I'll add some screen shots and will get the repo set up. When that is all properly handled I will do a PR for community.md .

[2017-03-27 21:52] alexellis commented on #26
I've also added the feedback to the TestDrive guide. https://github.com/alexellis/faas/blob/master/TestDrive.md

[2017-03-27 23:30] nkirsch opened #31 "func_webhookstash won't stash file larger than 100k, just hangs"
I'm able to stash (via func_webhookstash) a small text file, but when attempting a larger file (1.8M) the command simply hangs.

## Expected Behavior
I expect no behavior difference, regardless of file size/type.

Or I expect a meaningful error.
## Current Behavior
The larger upload hangs indefinitely.

I do see the gateway forwarding to webhookstash:
[code]

However, I see no further logging info

[2017-03-27 23:34] nkirsch commented on #31
Seems to break at 100K:

[code]

[2017-03-27 23:37] nkirsch commented on #31
Note this also fails using the `-d @IMG_0733.JPG` method (vs `cat` and `-d @-`)

[2017-03-28 07:04] alexellis commented on #31
I'll have a look into this issue, but a web-hook is just an event - not a blob. I.e. a JSON POST rather than binary images or dd-generated etc. It should be a short message in JSON plain-text or application/json.

[2017-03-28 08:48] alexellis commented on #31
This could be related to the way `curl` tries to upload the file.

During debugging I saw `curl` uploading a small JPG with `x-www-form-urlencoded` content-type, that was transmitted and written out fine. If the size is larger i.e. above around 65600 bytes it appears to choke. Larger files are not meant to be uploaded with `x-www-form-urlencoded`.

The content-type `x-www-form-urlencoded` basicall

[2017-03-28 09:03] edouardkleinhans opened #32 "Proposal: Basic Auth"
It would be great to have a basic security on admin ui and / or function call

## Expected Behavior

The goal would be to provide an API token to enble basic security on gateway UI access and function call.

## Current Behavior

There is no security to access gateway UI or call a function. Anybody that have access to ui can add a function.

## Possible Solution
Add an API key for each call to gate

[2017-03-28 09:51] alexellis commented on #32
This is on the roadmap and makes sense.

I'm not sure if a header/key can be used through a web-browser, but basic auth over SSL may serve this purpose?

[2017-03-28 10:55] alexellis commented on #31
Looks like the Golang buffered pipe in (watchdog process) was blocking at 64kb.

This is the fix - https://github.com/alexellis/faas/compare/watchdog_buffer_fix

If you'd like to try this before it's released then checkout the watchdog_buffer_fix branch and re-build the fwatchdog binary with the "build.sh" script in the watchdog folder. Then copy it to the webhook stash function.

[2017-03-28 18:23] vielmetti opened #34 "Proposal: Benchmarking performance and stability"
The benchmark tools at https://github.com/networknt/microservices-framework-benchmark provides a common "microservices" framework for testing and characterizing performance across systems; it would be useful to set something up for this.

The benchmark provided is a simple "Hello world" fetch, which is simple to implement.

## Expected Behavior

Performance of FaaS is well-characterized.

## Curre

[2017-03-28 18:25] alexellis commented on #34
I have done something similar with `go bench` - but since it runs in a way non-determinsitically it seemed hard to do repeat runs. Is this something you'd like to experiment with @vielmetti ?

[2017-03-28 18:27] alexellis commented on #31
Fixed by #33

[2017-03-28 18:27] #31 closed

[2017-03-28 18:29] nkirsch commented on #31
Thanks, @alexellis !

[2017-03-28 18:49] edouardkleinhans commented on #32
I'm not a developer, but this seems not so difficult to implement
https://github.com/graze/golang-service/blob/master/handlers/auth/README.md

[2017-03-28 18:57] vielmetti commented on #26
Alex, have you seen ever the issue of replicas spinning down? See this snapshot of the two functions I added through the API:

[code]

Is the `func_` prefix meaningful in this case to make sure things start up properly, or keep running?

[2017-03-28 18:58] alexellis commented on #26
If you enable experimental mode you can look at the logs with `docker service logs`

The `func_` prefix is added by Docker when using the `stack` file to create the initial set of functions, it's not used by FaaS to identify functions.

[2017-03-28 20:57] vielmetti commented on #34
I'm looking at `ab` (apache benchmark) if I can set it up correctly, since it seems to have some good repeated testing and measurement.

http://httpd.apache.org/docs/current/programs/ab.html

[2017-03-28 21:10] alexellis commented on #34
By all means play with `ab`, but I've had mixed results with Docker swarm in the past due to the way it keeps connections alive etc.

[2017-04-01 21:22] alexellis opened #37 "Scaling issue mix of resolved/firing alerts"
If there is a mix of resolved/firing statuses for > 1 function both auto-scale.

## Expected Behavior

The function at a reasonable rate should not scale. The function under pressure should

## Current Behavior

The previous function that had an alert scales with the new function under load

## Possible Solution

Check the message for more detail - specifically to see if each function has an indiv

[2017-04-02 08:47] alexellis commented on #32
Related -> #36

[2017-04-02 08:50] alexellis opened #38 "Performance test - IPVS vs VIP"
Run performance tests with VIP resolution vs IPVS.

## Context

* Monitor `conntrack` under high connection load > 10k requests
* Observe whether replicas are brought into round-robin before they are "ready"

[2017-04-02 08:52] alexellis opened #39 "Implement swarm healthcheck in Watchdog process."
* Healthcheck useful for Swarm
* Checks for readiness / health of watchdog within container

Write a lock file in /tmp/ on start so that we know the function can accept HTTP connections.

[2017-04-05 08:08] alexellis opened #41 "Watchdog not reading config overrides when set to false"
Watchdog not reading config overrides when set to false

[2017-04-05 08:08] alexellis commented on #41
Fixed in #40

[2017-04-05 08:11] alexellis opened #42 "Help wanted: Implement basic regression test through DIND"
DIND Docker in Docker can be used to deploy FaaS, run some basic tests and get a confidence level RE: PRs/changes.

Initial version of this would deploy built-in stack and test echo function for example.

Help wanted on this (re: time)

[2017-04-06 21:40] alexellis commented on #37
Yet unable to reproduce error in manual testing.

[2017-04-07 21:53] nkirsch opened #45 "Content-Type unset (or lacking control) on functions via watchdog"
It isn't clear to me how to set the Content-Type on an individual function, particularly run via the fwatchdog.

## Expected Behavior

I should be able to write HTTP headers as part of the output of the program (like cgi-bin):

[code]

Or specify it in the docker-compose:

[code]

## Current Behavior
Content-Type appears to be unset when using `fwatchdog`.

## Possible Solution

1) static content_

[2017-04-08 08:19] alexellis commented on #45
@nkirsch thanks for raising this issue. I'd like to work on this soon -
have you got a specific example that you're trying to get working?

The watchdog should match the output contentType to that of the input contentType. So if Github/slack/etc posts a webhook event then that will be matched in the response.

I think there are two main use-cases:

1. JSON webhoook events from third-party integrat

[2017-04-08 09:17] alexellis commented on #45
@nkirsch would you like to test PR #46 ?

[2017-04-10 21:18] #45 closed

[2017-04-12 06:55] alexellis commented on #38
Note:

The Healthcheck CMD appears to be keeping replicas out of RR/IPVS until it has run at least once and successfully. Using a healthcheck therefore introduces a minimum response time of N seconds before a replica can come up / online to serve requests.

[2017-04-12 06:56] #41 closed

[2017-04-12 06:56] alexellis commented on #39
Completed and merged. Each Dockerfile should implement a HEALTHCHECK CMD idealy.

[2017-04-12 06:56] #39 closed

[2017-04-12 06:57] alexellis commented on #26
Docs updated, thanks for this issue @vielmetti . Closing now.

[2017-04-12 06:57] #26 closed

[2017-04-12 07:01] alexellis commented on #11
@aafrey @vegasbrianc @nicolaka do you guys have any thoughts here?

[2017-04-12 07:09] alexellis commented on #23
@rcarmo did this help? It'd be great to see your FaaS functions if they're on Github

[2017-04-12 07:25] rcarmo commented on #23
Oh, I've managed to get an instance running, but there's only so much free time...

[2017-04-13 15:12] vielmetti commented on #27
The base image for Alpine is easy, that's aarch64/alpine.

The base for Golang 1.7.x or 1.8.x can be aarch64/ubuntu + a Go PPA.

I'll make a link from this issue to http://worksonarm.com/faas and chase dependencies there too.

[2017-04-13 16:42] alexellis commented on #37
Fixed by #51. Will monitor.

[2017-04-13 16:42] #37 closed

[2017-04-13 19:20] vielmetti commented on #27
WIP https://github.com/alexellis/faas/pull/52

[2017-04-13 19:21] vielmetti commented on #27
Someone has a Docker build for 17.04-ce as a binary, I'll find that and use it.

[2017-04-13 19:30] vielmetti commented on #27
I count 18 files to touch or add from

https://github.com/alexellis/faas/search?utf8=✓&q=armhf&type=

There might be some refactoring to be done.

[2017-04-14 22:36] #23 closed

[2017-04-14 22:38] alexellis commented on #32
See also for the API Key example - https://github.com/alexellis/faas/tree/master/sample-functions/ApiKeyProtected

[2017-04-15 07:38] edouardkleinhans commented on #32
Thanks a lot, now we can add protection inside function.Maybe another option, is to do protection on the gateway directly.

API KEY are defined on the gateway for each function.

[2017-04-15 07:39] alexellis commented on #32
See also my blog post on swarm secrets with Github. http://blog.alexellis.io/swarm-secrets-in-action/

Have you created any of your own functions yet? Any other ideas/feedback will be appreciated. :-)

[2017-04-18 08:22] bdestombe opened #53 "Pipe the functions?"
I currently haven't tried FaaS yet, but will do asap. I have one question though, something I couldn't make up from the documentation.

Is it currently possible to create pipes? Thus, to link the STDOUT from one function to the STDIN of another function? Would something like this work?

[code]
http://stackoverflow.com/questions/5129276/how-to-redirect-stdout-of-2nd-process-back-to-stdin-of-1st-pro

[2017-04-19 18:52] kinghuang opened #55 "Distinguish between functions belonging to different gateways"
## Expected Behavior

If there are multiple gateways in the same swarm, it should be possible to configure the gateways to pick up specific sets of functions, perhaps by labels. Otherwise, each gateway picks up all function services in the swarm.

## Current Behavior

Function services are currently denoted by the presence of a `function` label on the service. Gateways automatically pick up all se

[2017-04-19 20:38] alexellis opened #56 "API Gateway should scale (enhancement)"
The gateway could be a bottleneck in very high workloads. It should be able to scale.

## Current Behavior

Prometheus scraping would break

## Possible Solution

Add to prometheus.yml config:

[code]

[2017-04-19 20:40] alexellis opened #57 "Bind mounted config files should be baked into images (wip)"
Bind mounting config files for Prometheus and AlertManager means it's hard to remotely deploy with docker-machine etc. From: @timhaak

## Possible Solution

Build new images with config added already under functions repo on the Hub. Ideally via auto-build.

[2017-04-19 20:42] alexellis opened #58 "Enhancement / research: design CLI"
A CLI that would allow FaaS to build / deploy functions without using curl / docker CLI directly.

## Possible Solution

Some progress started at:

https://github.com/alexellis/faas-cli

[2017-04-20 14:36] alexellis opened #59 "Enhancement / research: Windows containers backend"
## Expected Behavior

Attempt to port gateway and/or function watchdog over to Windows containers.

## Possible Solution

Easiest way to try this may be to start by porting the watchdog component over to Windows containers and then attaching it to the existing Linux API Gateway.

## Help wanted: yes!

[2017-04-20 19:09] alexellis opened #60 "Move Prometheus to Hub image"
From Alibaba employee - Quai.io is banned in China, change to Hub reference.

[2017-04-24 12:34] ehirdoy opened #62 "Where to find Dockerfile for "Busybox / shell"(functions/alpine:latest)"
Hi,

I just want to confirm Docker file for https://hub.docker.com/r/functions/alpine/.
Can you git-add this file into repo too?

Thank you for exciting project!!

[2017-04-24 13:10] alexellis commented on #62
Hey, you're welcome!

It's in the samples folder -> https://github.com/alexellis/faas/tree/master/sample-functions/AlpineFunction

Also - I've set up auto-build for this but the name is a bit more verbose -> https://hub.docker.com/r/functions/base/tags/

[2017-04-24 13:11] #62 closed

[2017-04-24 15:26] amirmc opened #63 "Questions from Serverless Mingles"
I did a number of Moby Mingles at DockerCon on the topic of Serverless.  During those mingles, I showed people FaaS.  The following are some of the questions that came up during discussions (they're not necessarily FaaS-specific).

- How does the watchdog work?
- Do I have to have a replica of each function (what if I have thousands)?
    - What about management/discovery of all those functions?
-

[2017-04-24 15:30] alexellis opened #64 "Talk submission: TechXLR8"
London - 14th June
Title: How Serverless Functions will XLR8 your Cloud with Docker
Slot: 20 min
Audience: seats 100

Abstract:

This talk gives an overview of Serverless - a new architecture for building small, discrete and reusable chunks of code which when combined are more than the sum of their parts. You will see demos of integrations with the Amazon Alexa voice assistant, Twitter and Slack.

[2017-04-24 21:58] alexellis commented on #63
Rough diagram of the Watchdog

<img width="944" alt="screen shot 2017-04-12 at 16 49 20" src="https://cloud.githubusercontent.com/assets/6358735/25360546/8118d0c4-2941-11e7-8430-128139b13c09.png">

[2017-04-27 11:26] alexellis opened #68 "Project: design logo / name"
A logo will be useful for promoting project. Currently underway with designer.

At the same time a new project name could be useful. FaaS sounds a lot like "fast" which was confusing in the US.

[2017-04-28 00:27] aafrey commented on #53
@bdestombe i would be unsure about using unix pipes, but I've done something similar by chaining functions together. My example uses javascript and promises, but i'd think this could be done in any language. check out this FaaS [function ](https://github.com/aafrey/faas-demo/tree/master/src/Logger), index.coffee and faas-chain.coffee specifically for an example.

[2017-04-28 08:24] alexellis commented on #53
Hi @bdestombe,

The functions are accessed through the API gateway which is a HTTP endpoint. So for now, you can (pipe) chain functions in two ways:

* Through the client (transform passes back to caller each time - so network trips)
* On the server, a single function calls through to other functions via local network - so less latency

But effectively you are piping. In my Dockercon demo you'll s

[2017-04-28 09:44] bdestombe commented on #53
Ah indeed, this makes sense. Thanks, both of you @aafrey and @alexellis. Using a post request over http for chaining several function was indeed what I was looking for.

Thanks,
Bas

[2017-04-28 09:44] #53 closed

[2017-04-29 13:07] alexellis opened #71 "Proposal: "Serverless Inc. framework plugin" for OpenFaaS"
Serverless Inc framework provides a CLI / abstraction to public cloud, but they do not appear to have any Docker or Swarm backed providers.

Related: https://github.com/alexellis/faas/issues/58

## Help wanted from community.

## Research:

Run a spike / PoC to integrate with serverless project:

Repo & skeleton created:
* https://github.com/alexellis/serverless-faas

Goals:

* Identify missing en

[2017-04-29 13:08] alexellis commented on #59
Watchdog ported successfully to Windows back-end. Next task is to create mixed-swarm and attempt deployment via Swarm constraints.

[2017-04-29 13:24] alexellis opened #72 "Add health check to ARMHF examples"
## Expected Behavior

Auto-scaling without any drop  in performance

## Current Behavior

Lack of health check (only in arm examples) means that the performance drops and could cause oscillation between replica counts.

## Possible Solution

* Just need to add `HEALTCHECK CMD` as per 64-bit examples.
* Release new version of Watchdog for ARMHF

[2017-04-29 13:38] rcarmo commented on #56
I'm looking at deploying this on a Swarm cluster with dynamically scaled VMs. I was thinking of deploying the admin UI on the master node (on a separate port) and having the gateway be a Swarm replicated service.

Being able to split the admin UI from the gateway (on separate ports) would also help with #32, since it would make it easier to put something like an OAuth-enabled reverse proxy in fron

[2017-04-29 14:43] alexellis commented on #56
Would be good to find out more of your use cases. What are the benefits of splitting UI/gateway over keeping them together and just scaling?

[2017-04-29 23:14] bdestombe commented on #53
Ah eventually found what I was originally looking for. This example first prints the license file to the stdin of the built-in encrypt-to-base64 function, then passes the encoded string to the the decrypt-from-base64 function and prints it to the stdout. It works on the playground.

[code]
got some pointers from http://stackoverflow.com/questions/12583930/use-pipe-for-curl-data

[2017-04-29 23:46] alexellis commented on #53
I think that can become a bit simpler still. I'll see if I can suggest something in the week

[2017-04-30 09:08] alexellis commented on #53
Here we go -

[code]

[2017-04-30 09:12] alexellis commented on #72
https://github.com/alexellis/faas/commit/ac9f2fad32a98f4a2111cedecb48c96b381f55ee

[2017-04-30 09:13] alexellis commented on #59
[ ] Deploy as swarm service on Windows only swarm

[ ] Deploy in mixed swarm with constraint

[2017-05-01 08:12] alexellis opened #74 "Get to 1.0 - Security strategy"
Initial areas for security strategy. Implementation needs to be easy to use when deployed locally or in development environment.

**UI**

Static Angular UI tester visible when deployed

Suggestion - HTTPs / basic auth and cookie. Minimum initial version could have a single admin account.

**System API**

Endpoints: deploy function / delete function / get a list of functions

Approach needs to be c

[2017-05-01 22:08] diogomonica commented on #74
In general seems like you're thinking about all the right things. I would say that supporting an HMAC injected as a header from any function receiving a web hook is probably the right call. That means that you probably need to have per-function symmetric keys?

[2017-05-03 08:02] alexellis opened #77 "Get to 1.0 - hard timeouts"
Hard timeouts should be available for functions to prevent them running beyond desired duration.

## Expected Behavior

I.e. with a hard_timeout of 3 seconds, the process/request should be killed with appropriate HTTP error code after going beyond 3000 ms.

## Current Behavior

Read/Write timeouts are set at the HTTP gateway.

## Possible Solution

Go routine / timer

[2017-05-03 12:19] developius commented on #77
It should also be possible to disable this because you can sometimes have a long running task which you need to know the output from. Although, a better solution would be to have the function fire off a webhook itself so it's possible to get the output.

[2017-05-03 17:50] alexellis commented on #77
Yes, it would need to be configurable.

[2017-05-07 12:47] tieum commented on #57
Another option could be to use docker secrets, see: https://github.com/tieum/faas/commit/0f0fc958bd188440ca4a82567d2dbcfd84696c89

[2017-05-07 19:52] alexellis commented on #57
Hi @tieum thanks for getting in touch.

Docker secrets can act as configuration - however it still means keeping the configuration in every FaaS stack. An image with a sensible default built-in has pros and cons - on the pro side you only need a docker-compose.yml file and nothing else - on the cons side you may want to tune the config, then you add your config back in over the top.

I think "conf

[2017-05-09 12:15] xaviator commented on #77
Yes++

[2017-05-09 21:17] alexellis commented on #77
@xaviator how are you finding it FaaS?

[2017-05-12 07:16] alexellis commented on #71
Documentation from Serverless project on creating new provider was sparse. I was able to bootstrap the framework, but it requires a PR to their core project due to whitelist of provider names etc.

Parking issue for now in favour of faas-cli YAML - with similar format.

[2017-05-12 07:18] alexellis commented on #55
Hi @kinghuang,

Thanks for opening this issue. I'd like to understand your use-case a little more.

In terms of two making FaaS gateways available - have you tried deploying individual stacks on separate networks? Can you share your YAML file with me?

[code]

[2017-05-12 08:02] alexellis commented on #55
I could reproduce the issue with the steps above. Both gateways saw the functions from either stack.

How would you propose injecting the unique network name / namespace into the gateway process/container?

[2017-05-12 08:15] alexellis commented on #55
You can use this test implementation - and provide a `stack_namespace` environmental variable to your gateways. This will filter your functions to only the gateway / stack they belong to.

https://github.com/alexellis/faas/compare/filter_networks?expand=1

[2017-05-18 13:54] sebgl opened #83 "Support private Docker registry"
When using our own private docker registry, we need the swarm cluster to be able to pull images (functions) from it.

## Expected Behavior
When a new function service is created in Swarm, images from a private registry should be correctly pulled provided the registry credentials are available somewhere.

## Current Behavior
Images cannot be pulled by Swarm workers.

## Possible Solution
We can rel

[2017-05-18 14:03] alexellis commented on #83
Hi @sebgl - this makes sense and I'd like to support private registries.

Questions:

* Can [swarm secrets](http://blog.alexellis.io/swarm-secrets-in-action/) replace the plaintext environmental variables?

* Could you have to support multiple private registries at once? If that were the case how would that be possible with the proposal?

* Do you have a 1-liner to start a private registry with us

[2017-05-20 08:43] sebgl commented on #83
Hi @alexellis , thanks for the quick answer.

My use case (having only one single registry) is a tiny subcase of the more general one.
Since this might interest you: we're basically adding another API in front of the gateway to handle authentication, permissions, etc. This API is also responsible for building and pushing docker images, since we want users to give us code, not docker images. Hence

[2017-05-20 09:21] alexellis commented on #83
What are you calling your API for building Docker images from code? it sounds like it has overlap with the FaaS CLI - https://github.com/alexellis/faas-cli

I recently moved the UI under the /ui/ prefix, so that for security you could effectively keep /ui and /system within a blacklist and just expose /function via reverse proxy.

Who are you working with when you say we?

[2017-05-20 10:45] sebgl commented on #83
Let's discuss it on Slack :)

[2017-05-30 16:59] #83 closed

[2017-06-06 11:05] popey456963 opened #89 "FaaS Gateway doesn't work with the JSON format"
## Expected Behavior
The response should be a JSON-formatted version of the 'text' body.

## Current Behavior
The response is currently `null` or '' for all entries.

## Possible Solution
Convert the textual response to JSON.

## Steps to Reproduce (for bugs)
1. Clone repository on Playing With Docker.
2. Visit the UI page.
3. Select `func_nodeinfo`
4. Select `JSON` response.
5. Note `null` respon

[2017-06-06 11:07] alexellis commented on #89
This is only to indicate the client-side rendering of the response. The nodeinfo function is plaintext not JSON hence null.

[2017-06-06 11:08] popey456963 commented on #89
Ah, is there any way to define a function as only having one response format defined?

[2017-06-06 11:10] #89 closed

[2017-06-06 17:52] alexellis commented on #89
@popey456963 welcome to FaaS!

There's some documentation here regarding request/response format ->

https://github.com/alexellis/faas/tree/master/watchdog

Essentially the default is whatever content-type comes in - also comes out, but you can override the output content-type easily with an environmental variable.

The gateway UI is just a tester page - for most cases you will send in plain text

[2017-06-08 14:01] SylvainDeaure opened #90 "Feature Request : FaaS Exec helper"
Ease the use and pipelining of FaaS functions within a shell script.

## Expected Behavior
Pipe from and to FaaS function just as with local utils.

## Current Behavior
We can `curl http://faas... |`  and `| curl -X post -d '$(</dev/stdin)' http://faas` but it feels quite clumsy.
Maybe a little wrapper script or Go app could help, to pipe from/to a single faas-exec without extraneous switches.

##

[2017-06-08 14:11] SylvainDeaure opened #91 "Feature Request : Visual flow editor"
Design and run complex flows / State machines from FaaS functions.

## Expected Behavior
The idea is similar to amazon step functions and states language.
See https://aws.amazon.com/fr/blogs/aws/new-aws-step-functions-build-distributed-applications-using-visual-workflows/
We could use a visual editor to chain functions.

## Possible Solution
I'm willing to explore the node-red road : the blocks ar

[2017-06-14 21:16] alexellis commented on #91
Thanks for the suggestion. @SylvainDeaure

[2017-06-20 02:38] pascalandy opened #92 "Function suggestion: Password generator encrypted via openssl"
I'm simply suggesting to add this function. I use it to store passwords (while ensuring they are never plain-text) in our local documents. I used the container Alpine and installed openssh.

Just replace the master password 'FancyPasswordHere' with yours.

**1) fct_crypt**

[code]

**2) fct_decrypt**

Copy-paste back the output of the previous command. ie:
`THIS_VAR='U2FsdGVkX19YVGj32Z0lb1YlJbD2S3

[2017-06-20 07:48] alexellis commented on #92
Hi Pascal - this looks interesting. Did you fancy creating a function for it?

You can start with the base alpine function, you shouldn't need to add anything other than your shell script afterwards.

Here's an example for getting started - https://github.com/alexellis/faas/tree/master/sample-functions/AlpineFunction

Alex

[2017-06-20 11:58] pascalandy commented on #92
Hey Alex!

Right now I run this locally only. No functions per say. It would be great to put our master password within a secret as well.

At this point I'm lazy (a.k.a need to manage stuff in my prod first). If you don't want to adapt it leave it there and I'll jump on it on day :)

Cheers!

[2017-06-24 08:26] alexellis commented on #83
Fixed by 87

[2017-06-29 21:13] stealthybox opened #94 "Functions that run longer than 8 seconds return empty replies."
Long running functions (8+ seconds) return with empty responses.

## Expected Behavior
STDOUT should be returned in the response body.

## Current Behavior
The response body is empty.

## Steps to Reproduce
Deploy faas.
Create the following files:

#### func.yml
[code]
#### func.sh
[code]
This function takes a number as input and sleeps for that duration before responding.
Let's deploy it:
[code]

[2017-06-29 23:30] alexellis commented on #94
It's awesome to see you guys testing FaaS - the limit here is in the gateway rather than the watchdog which I think you've set up correctly. I think I'd consider anything over a few seconds to be asynchronous and that's something I want to tackle.

For the time being you could get past the 8 second limit by hacking `server.go` in the gateway - and I think that's probably something that should be c

[2017-06-29 23:31] stealthybox commented on #94
Taking a look right now -- thanks alex!

[2017-06-29 23:47] stealthybox commented on #94
Built and tagged it in our private registry.
Changing those values works 👍

I'll look at adding some config options for the gateway.
A pathPrefix for all of the routes would be helpful in addition to these timeouts.

[2017-06-29 23:49] cgpuglie commented on #94
That's awesome! Thanks for the quick reply, Alex!

On Jun 29, 2017 4:48 PM, "leigh schrandt" <notifications@github.com> wrote:

[2017-06-29 23:54] alexellis commented on #94
Great. Would be interesting to see a minimal example of the scraping contributed online somewhere or as a blog.

Btw you might find the faas-cli useful too - https://blog.alexellis.io/build-and-deploy-with-faas/

What are you thinking re: a path prefix?

[2017-06-29 23:58] stealthybox commented on #94
I still have a draft blog-post for some linuxkit usage on windows I never finished :/

For the path Prefix stuff, I was thinking setting `PathPrefix=/faas` would result in
[code]

Not sure what the best way to do this is in `gorilla/mux`

[2017-06-30 00:00] stealthybox commented on #94
I'm guessing that for the gateway config, we'd do something similar to what's implemented in `watchdog` with `osEnv` and `readConfig` ?

[2017-06-30 00:01] stealthybox commented on #94
I'm not sure about the Promethus `/metrics` endpoint -- can Prometheus be configured to scrape nested routes?

[2017-06-30 00:12] alexellis commented on #94
For now let's look at the timeout config in this issue. Feel free to open separate threads.

[2017-06-30 01:00] stealthybox commented on #94
I'm confused as to why there are two levels of timeout.
Does the gateway re-invoke on bad exit codes within the gateway timeout?

If not, I'd suggest we set the request's timeout values to match the function's service spec if present.
What do you think?

[2017-06-30 11:34] alexellis opened #95 "Allow configurable HTTP timeout in Gateway"
To resolve #94 or provide temporary work-around.

## Expected Behavior

The API Gateway has hard-coded 8-second timeout, this should be configurable. Most people will want this to be shorter - some longer.

## Current Behavior

8-seconds is the max duration

## Possible Solution

Introduce environmental configuration to match that of the watchdog's configuration options.

https://github.com/alexel

[2017-07-02 11:10] stealthybox opened #97 "Watchdog Timeouts are multiplied by time.Second^2"
## Expected Behaviour
Watchdog should timeout after 5 seconds (default) or the configured amount of seconds.

## Current Behaviour

Resulting timeout values are very large.
It's not possible to configure small values.
This also affects the default.

## Possible Solution

Remove the extra arithmetic in `main.go`.

## Context

This doesn't look intentional.
I'm not sure what the repercussions are.

[2017-07-03 16:18] alexellis commented on #77
Anyone want to test a PR for this? @developius @xaviator

[2017-07-03 18:36] alexellis commented on #56
The gateway can now scale and Prometheus will respond to this too - `docker service scale func_gateway=2`. I'm still interested in the idea of scaling via CPU workload.

[2017-07-03 18:36] #56 closed

[2017-07-03 18:36] alexellis commented on #60
Done and released.

[2017-07-03 18:36] #60 closed

[2017-07-03 18:37] alexellis commented on #55
@kinghuang please can you give feedback on above?

[2017-07-03 18:38] alexellis commented on #58
This has been released via above URL.

[2017-07-03 18:38] #58 closed

[2017-07-03 18:39] #64 closed

[2017-07-03 18:41] alexellis commented on #94
@stealthybox do you want to open another issue to talk about your idea re- prefixes?

[2017-07-03 18:42] alexellis commented on #57
@tieum I'll close this issue since we have auto-build for these images now.

[2017-07-03 18:42] #57 closed

[2017-07-03 18:42] #38 closed

[2017-07-03 18:50] stealthybox commented on #94
Yep!
I'll do that tonight

[2017-07-04 07:40] alexellis opened #101 "Proposal: functions should specify OS constraints"
## Expected Behaviour

Deploying a function on a mixed-OS cluster should be possible - where a Windows container is scheduled correctly.

## Current Behaviour

The task will be scheduled randomly - possibly on a Linux host.

## Possible Solution

Add a default constraint to Linux and allow this to be overridden in the *deploy function* endpoint. A change to the CLI may also make sense later down t

[2017-07-07 07:34] alexellis opened #102 "Research item: Kubernetes support for FaaS"
## Research / proof of concept item.

### Gateway

Using `kubeadm` or similar - FaaS should be able to deploy on a Kubernetes cluster using the API server to schedule and scale services.

* Does the auto-scaling component need to be refactored into its own process/container?

* via @errm - should API gateway create / apply new functions or should this be done via kubelet?

* Ingress controller may

[2017-07-07 07:41] alexellis opened #103 "Proof of concept: reliable asynchronous processing"
Asynchronous processing should be possible for long-running functions.

Must have:

* Work can be accepted through a new route or a Header

[code]

Or via Header:
[code]

* Work is accepted immediately and a 202 Accepted is returned. This should be handed off to a queue.

* One or more (scaleable) asynchronous workers read from a queue and call functions
 * Should dequeue item atomically
 * Upon f

[2017-07-07 20:28] bateramos commented on #68
I don't know the current status, but also think the Faas name is a little confusing in an already confusing topic (FaaS vs Serverless. What is the difference and things like that).
I think a good name for it could be something like  Everest, because, you know, it auto scale the functions. Its about scaling. Not very clever but its a suggestion. Don't now if you are accepting suggestions for names,

[2017-07-07 21:33] alexellis commented on #68
The company Serverless Inc appears to be doing well even with a generic name. I'm still looking into a logo which may involve a new alias or name.

[2017-07-10 14:55] bsommers opened #105 "url_ping sample function in README.md fails with readdirent: invalid argument"
## Expected Behaviour
Expected faas-cli to successfully build the function with:
[code]
## Current Behaviour

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.  create urlping.yaml as described in README.md
2.  create ./sample/url_ping as described in README.md
3.  execute faas-cli -action build -f ./urlping.yaml

## Context
Trying the sample code to get FAAS working in my environ

[2017-07-10 14:57] alexellis commented on #105
You need the template folder - v0.4 of the CLI will bring that down automatically if it's missing. For now can you `git clone https://github.com/alexellis/faas-cli` and run the command from inside that folder. Brew is lagging behind if you used that to get the CLI.

[2017-07-10 15:42] bsommers commented on #105
Thanks.  That did it.   I must have installed faas-cli using brew when I first start with it 2 weeks ago.

Good stuff!   Keep up the great work!

[2017-07-11 07:27] Tofull commented on #103
If you need a beta tester for asynchronous processing, I am in !

[2017-07-11 07:50] alexellis commented on #103
Thanks @Tofull - I've started a quick proof of concept with NATs streaming.

Have you started using FaaS or creating functions already? Do you have async workloads ready for testing?

[2017-07-11 11:22] Tofull commented on #103
Amazing ! You roks ! :)

I used FaaS to deploy some functions that my machine learning experts made with magic.

FaaS works great for prediction service as it is a synchronous task.

As some processing functions need time (training our models), we would use async processing and we already have a workflow ready for testing.

[2017-07-11 12:31] alexellis commented on #103
That sounds like a great use-case. Is there anything you can share on a blog or on Twitter?

[2017-07-11 14:08] alexellis commented on #105
Closing this issue for now @bsommers thanks for the feedback and I've sent you an invite to Slack.

[2017-07-11 14:08] #105 closed

[2017-07-12 09:59] Tofull commented on #103
When our developments will gain in stability, we will be able to communicate and mention FaaS as the solution we decided to use in a tweet or some presentations we will make ('cause we are working with French industries in aerospace :artificial_satellite: & :earth_americas: earth observation fields).
FaaS with async should completely meet our needs, here at the Institute of Technology Saint Exupér

[2017-07-17 07:41] alexellis opened #107 "Document: Flask usage"
## Expected Behaviour

With Lambda a modified Flask library can be used called Zappa to handle single requests.

CC @jockdarock

## Current Behaviour

This appears to be incompatible, but..

## Possible Solution

A CGI handler works in its place and lets you retain template functionality and views etc.

[2017-07-17 07:54] alexellis commented on #107
Initial worked example: https://gist.github.com/alexellis/39807167e93c29c60342df1f05349add

[2017-07-18 07:46] #95 closed

[2017-07-18 07:58] alexellis commented on #107
@JockDaRock - pushed some changes into this branch to support viewing the HTML in a browser. https://github.com/alexellis/faas/compare/107_flask?expand=1

[2017-07-18 19:02] alexellis commented on #97
Fixed in #98 thanks for raising the issue.

[2017-07-18 19:02] #97 closed

[2017-07-18 19:12] alexellis commented on #94
@stealthybox @cgpuglie closing this re: fix in #95 #96 - thanks for contributing and hope to see you in the Slack channel.

Did you want to raise another issue to discuss a path prefix?

[2017-07-18 19:12] #94 closed

[2017-07-18 19:13] alexellis commented on #90
Did you wan to have a go at the faas-exec? @SylvainDeaure

[2017-07-18 19:33] kinghuang commented on #55
@alexellis Will do! I've added this to my task list.

[2017-07-22 07:58] sandrom commented on #103
It would probably help to map out the use cases for the async processing first as there are a couple different ones I can think of that usually require different guarantees and metrics. anyone know what the users of this library would favor in use cases for this as this would ease up choosing the right queueing options here too. kafka for example might seem overly complex (and it is complex) but i

[2017-07-22 08:13] alexellis commented on #103
As you have mentioned - the various queue implementations available have their own pros/cons. Ideally it should be easy to swap between different "queue" providers or implementations.

[2017-07-22 08:14] sandrom commented on #103
ah i must have missed that idea - that sounds like the best possible outcome, yes :)

[2017-07-24 09:52] alexellis opened #108 "Introduce Kubernetes healthz endpoint"
Kubernetes has a convention of a healthz endpoint on port 10254.

* Introduce this for the watchdog / gateway etc.

[2017-07-24 09:54] alexellis commented on #77
Done.. merged.

[2017-07-24 09:54] #77 closed

[2017-07-26 18:01] alexellis commented on #102
This is now working with the UI, CLI and API gateway.

[2017-07-26 23:34] stevelacy opened #110 "Unable to successfully start the web ui"
I have attempted to manually start and run the stack without using the playground with a few issues when accessing the web ui.

## Steps to Reproduce (for bugs)

I built and started the stack with the shell scripts, then I attempted to load `http://localhost:8080` and got forever-loading empty request.

1. `./build.sh`
2. `./deploy_stack.sh`
[code]
3.
 -  `curl localhost:8080/function/func_markdow

[2017-07-27 02:35] stevelacy commented on #110
I got it to work by changing the build version of the gateway to the local image: https://github.com/alexellis/faas/blob/master/docker-compose.yml#L10 `latest-dev`.
Still some form of issue as I needed to change the image.

[2017-07-27 07:23] alexellis commented on #110
Hi @stevelacy,

Thanks for your message.

You may have an ipv4/ipv6 conflict on the name localhost in your hosts file such as:

[code]

You can comment out the 2nd line, or use 127.0.0.1 or the IP address of your LAN/WAN connection instead.

Curl can also be forced into ipv4 mode with the `-4` flag.

`docker-compose` is not used for FaaS, but it does have a `docker-compose.yml` file which is used

[2017-07-27 07:23] #110 closed

[2017-07-27 16:06] stevelacy commented on #110
Thanks

[2017-08-03 21:23] alexellis commented on #102
Closing main issue. Will add additional issues for any remaining items.

[2017-08-03 21:23] #102 closed

[2017-08-04 10:51] gijswobben opened #114 "Keep functions open"
Is it possible to keep a function running? The initialization of my function takes a long time so I have a delay in every call I make. It would be nice if my function could stay open and read every new line that is coming in via STDIN.

[2017-08-04 11:23] alexellis commented on #114
Hi @gijswobben thanks for testing out FaaS. It would be great if you could fill out the issue template.

Please let us know some more details

* Runtime (Node/Python/Go etc)
* Backend - Swarm or Kubernetes
* How long it takes to run your requests

Also if you can share code or push it to a private/public repo that would help.

[2017-08-04 11:30] gijswobben commented on #114
The template didn't seem applicable as this is a question (not an issue).. Everything is working fine, I was just wondering if I could speed things up. The initialization of my script cannot run any faster because it has to load some libraries and models from disk. After that I can use a very fast function to do something. I'd love to cache the libraries and models so my function can execute faste

[2017-08-04 16:38] alexellis commented on #114
The function watchdog works by forking a process - reading the entire body and then piping that to stdin, anything written to stdout is returned to the caller. So reusing the process is not possible, however there are some work-arounds.

* Batching - Instead of calling the function 1k times with 1 piece of data each time, call the function with a batch of 1k data items. It may involve a helper bas

[2017-08-07 10:16] alexellis opened #116 "API / UI - use Prometheus API (not local counter) for stats"
## Expected Behaviour

Now that the Gateway can be load-balanced an invocation count should cover the count across all of the gateways.

## Current Behaviour

For Swarm it shows the current gateway instance since we're reading the local counter

For Kubernetes it shows as empty

## Possible Solution

Query the Prometheus API from the gateway:

PromQL example:

[code]

Concerns:

* creates a circul

[2017-08-08 14:44] alexellis opened #117 "Research item: Azure Container Instance - ACI as FaaS backend"
### Item - Research into running FaaS with Azure CNI as a back-end

This may be via the Azure API or through the ACI Kubernetes Connector.

ACI:

https://azure.microsoft.com/en-us/blog/announcing-azure-container-instances/

Kubernetes connector:

https://github.com/Azure/aci-connector-k8s

Container instances have granular billing, public or private IPs and can be deployed to multiple regions easi

[2017-08-08 15:22] alexellis commented on #103
Hey @Tofull do you have a draft or published blog yet?

[2017-08-09 14:36] alexellis commented on #117
I'd like to see how this works when using the Kubernetes connector and what the effective cost is. It should (I am guessing) deploy as-is without changes? There are instructions in the [faas-netes repo](https://github.com/alexellis/faas-netes/)

The second idea is also very interesting - deploying the Gateway onto a Kubernetes cluster and introducing a new external plugin that manages functions vi

[2017-08-11 18:03] alexellis opened #123 "FaaS -> OpenFaaS"
The name of the FaaS project will transition to OpenFaaS. This issue is going to track the progress and list areas needing to change.

Areas to cover:

* [x] Repo names may stay the same and move to an organization.
* [x] New website www.openfaas.com - live with HTTPS, but without content.
* [x] additional pages to be added for features etc.
* [x] Utility download script cli.openfaas.com
* [x] Twi

[2017-08-13 20:02] alexellis commented on #72
Currently have some issues with Docker CE 17.07 regarding Swarm.. It won't schedule any services on ARM.

[2017-08-13 20:03] rgee0 commented on #72
I've been looking into this today

[2017-08-13 20:05] alexellis commented on #72
@rgee0 I can't seem to assign this to you. Let me know when you have a PR ready.

[2017-08-13 20:23] alexellis opened #126 "House-keeping: Bump to Golang 1.8.x across all repos"
Bump to Golang 1.8.x across all repos

This includes faas, faas-cli and faas-netes.

All existing tests should pass including functional test.

This will also need an ARMHF Golang Dockerfile.

[2017-08-13 20:28] alexellis commented on #92
Adding label - revisit, will come back to this and close for now. Feel free to re-open and add to the discussion.

[2017-08-13 20:28] alexellis commented on #91
Adding label - revisit, will come back to this and close for now. Feel free to re-open and add to the discussion.

[2017-08-13 20:28] #91 closed

[2017-08-13 20:28] alexellis commented on #90
Adding label - revisit, will come back to this and close for now. Feel free to re-open and add to the discussion.

[2017-08-13 20:28] #90 closed

[2017-08-13 20:29] alexellis commented on #90
It'd be great if you fancied working on this or putting something together.

[2017-08-13 20:29] #59 closed

[2017-08-13 20:39] #63 closed

[2017-08-13 20:39] alexellis commented on #63
Thanks Amir!

[2017-08-14 16:06] alexellis opened #127 "OpenFaaS global meet-up - November"
OpenFaaS Global Online meetup - October

![](https://blog.alexellis.io/content/images/2017/08/faas_side.png)

**Limited spaces - comment below to register interest**

This would be an online meet-up via Google Hangouts.

* There'll be a quick intro and demo
* We'll show off a couple of projects from the community and contributors
* And talk about what's coming next as well as open up to questions.

[2017-08-14 20:13] rgee0 commented on #72
@alexellis do we consider this closed now?

[2017-08-14 22:23] alexellis commented on #72
I'll defer to you.. are you saying there are no more healthchecks needed in the arm examples?

[2017-08-15 00:36] macneib commented on #68
Generally, project maintainers select a animal, or thing that shares common traits with the project to imply similar qualities.  Perhaps you have some traits in mind already?

[2017-08-15 06:06] alexellis commented on #68
We have a cut of the logo here:

https://blog.alexellis.io/introducing-functions-as-a-service/

[2017-08-15 06:06] alexellis commented on #68
Thanks for the comments

[2017-08-15 23:05] JockDaRock commented on #127
I am definitely up for this!

[2017-08-15 23:08] roachmd commented on #127
Definitely

[2017-08-16 20:52] alexellis commented on #127
@roachmd I'll invite you to Slack too

[2017-08-16 21:25] JAtula commented on #127
I'd love to participate!

[2017-08-16 21:41] arashkaffamanesh commented on #127
I'd love to join too.
By the way, if you'd like to use kubernauts GoToWebinar with up to 500 participants, please let me know.

[2017-08-17 03:51] skewart commented on #127
I'm new to Open FaaS, but I'm intrigued and I'd be stoked to check out the meetup.

[2017-08-17 05:47] sorenmat commented on #127
I would like to join too

[2017-08-17 06:10] sjeeva commented on #127
I would love to join too

On Thu, Aug 17, 2017 at 11:17 AM, Søren Mathiasen <notifications@github.com>
wrote:

--
Jeeva K S Chelladhurai

[2017-08-17 06:55] JaniKarh commented on #127
I'm interested! Would be awesome to see/hear/learn more what people have done with OpenFaaS.

[2017-08-17 08:34] johnmccabe commented on #127
Yep I'm in.

[2017-08-17 10:15] grealish commented on #127
Sure, Happy to Join and helpout :+1:

[2017-08-17 11:05] rycus86 commented on #127
I'm interested too!

[2017-08-17 12:02] radu-matei commented on #127
Awesome! I'm interested.

[2017-08-17 12:30] mjbright commented on #127
Interested to join in too ...

On 17 August 2017 at 14:02, Radu Matei <notifications@github.com> wrote:

[2017-08-17 13:38] erasmo07 commented on #127
I'm interested too!

[2017-08-17 14:43] allandequeiroz commented on #127
+1 :)

[2017-08-17 15:30] pfernandom commented on #127
I'm in!

[2017-08-17 20:54] jmkhael commented on #127
+1

[2017-08-18 08:28] altay13 commented on #127
In

On Thu, Aug 17, 2017 at 10:54 PM, Johnny Mkhael <notifications@github.com>
wrote:

[2017-08-18 16:49] alexellis commented on #103
Please see changes in #131

[2017-08-18 16:53] alexellis commented on #123
I've been able to register the open-faas organization on GitHub, but openfaas is taken by an account which appears to be "account sitting". They do have private activity and a message has been passed on to see if we can have the name.

[2017-08-18 16:55] alexellis commented on #126
Help wanted on this - a good beginner item since it involves search/replace and packaging.

[2017-08-18 20:57] sureshthalluri commented on #127
+1

[2017-08-19 09:53] jscruz commented on #127
I'd love to be involved and know more about the potential of OpenFaaS.

Thanks

[2017-08-19 15:49] muka commented on #127
Me too

[2017-08-20 07:39] alexellis opened #132 "cncf/landscape Add OpenFaaS to -> event-based compute"
I've raised a request to add OpenFaaS to the CNCF tech landscape - https://github.com/cncf/landscape

https://github.com/cncf/landscape/issues/137

Tracking progress here.

[2017-08-20 08:33] morsik opened #134 "Syntax highlighting in readme"
Please add syntax highlighting in readme, i'll look nicer ;)

PR: https://github.com/alexellis/faas/pull/133

[2017-08-20 13:12] theobouwman commented on #127
Im in

[2017-08-20 20:19] alexellis commented on #114
Hi, @gijswobben it's been 16 days since my response so I'll close this issue. Please do re-open if you need to, or join us on Slack to chat about any of the solutions outlined above.

[2017-08-20 20:19] alexellis commented on #134
Thanks for raising the corresponding issue. Merged.

[2017-08-20 20:19] #134 closed

[2017-08-20 20:37] alexellis commented on #107
Hey @JockDaRock when you're next free do we have enough to add a sample function and basic guide for this?

[2017-08-20 20:38] alexellis commented on #32
@edouardkleinhans

[2017-08-20 20:50] rgee0 commented on #27
[Arm64v8 on docker hub](https://hub.docker.com/r/arm64v8/golang/tags/) is showing recent activity.

Golang 1.7.5 to 1.9 appears to be available.

[2017-08-20 20:52] alexellis commented on #27
Yes, that's good. Docker for ARMv8 is broken for Swarm right now, so this is the blocking piece at the moment. You can do a manual build but if 17.07 is fully working we can move forward with this.

[2017-08-20 21:02] rgee0 commented on #126
[armhf golang images available here](https://hub.docker.com/r/arm32v7/golang/tags/)

I'll start having a look at this one.

[2017-08-20 21:08] rgee0 commented on #72
Strange. I replied to this days ago.

All armhf Dockerfiles for the sample functions now include healthcheck.  The base apline Dockerfile also includes healthcheck.  Does this need building and pushing as [functions/alpine:latest-armhf](https://hub.docker.com/r/functions/alpine/tags/)?

[2017-08-20 21:48] JockDaRock commented on #107
Yes absolutely, let's get this in there and up and running and see about
blogging about it.

On Sun, Aug 20, 2017, 2:37 PM Alex Ellis <notifications@github.com> wrote:

[2017-08-21 00:30] glyif commented on #127
Im down for a online meetup

[2017-08-21 00:32] glyif commented on #126
@alexellis im down to take this issue ang upgrade to 1.8.x

[2017-08-21 00:36] glyif commented on #123
@alexellis do you need help with the frontend of the site?

[2017-08-21 06:08] glyif commented on #101
I can try and take on this issue :)

[2017-08-21 07:13] alexellis commented on #123
There might be some opportunities to help with that, or more likely the Angular Material UI built into the API Gateway. I'd like to set the response body to use a mono-spaced font.

[2017-08-21 07:15] alexellis opened #135 "Enhancement - FaaS UI to use mono-spaced font for request/response"
## Issue

The FaaS UI can be used to invoke functions on the cluster - it has two textboxes for request/response - both are using the default Angular material theme's font.

### Proposed fix

Either find a way to force/override the Angular material font or embed a light-weight JavaScript code editor.

[2017-08-21 07:18] alexellis commented on #101
I think @rgee0 started work on this.. is that still in-progress?

@glyif thanks very much for the offer of help, much appreciated. Can you get in touch with your email address for an invite to Slack?

[2017-08-21 07:21] alexellis commented on #126
@glyif it looks like Richard @rgee0 might be working on this one too. Perhaps you guys can split the work up?

@glyif I could really use help with testing and reviewing https://github.com/alexellis/faas/pull/131

[2017-08-21 10:50] RayBenefield commented on #127
I'd be interested for sure! +1

[2017-08-21 15:35] kinghuang commented on #55
@alexellis Sorry again to take so long. I'm finally ready to take a look at this, but it looks like the `filter_networks` branch is gone. Any chance you can push that back up and I'll review it right away? Thanks.

[2017-08-21 15:42] alexellis commented on #55
We're talking about an issue opened in April.. so I think I pruned it. The branch should be there again now thanks for looking 👍

[2017-08-21 16:57] glyif commented on #126
oh haha, i thought @rgee0 was talking about the armhf issue. my bad :) I'll check out https://github.com/alexellis/faas/pull/131

[2017-08-21 16:58] glyif commented on #101
@alexellis my email is 122@holbertonschool.com :)

[2017-08-21 17:17] kinghuang commented on #55
Thanks. I don't see it on GitHub, yet. Mind double-checking the branch?

[2017-08-21 18:00] glyif opened #136 "Blog + function - Node.js"
I'll be writing a simple Node.js function that takes in a URI and takes a screenshot the page and uploads the file to a s3 bucket.

Afterwards, I'll write a blog on about the function, how to deploy and run it using OpenFaas, and my thoughts on all the things.

The purpose is to for me to familiarize myself with the project and write a bomb blog post.

[2017-08-21 18:04] alexellis commented on #136
For Node.js you can follow the Python guide and replace the word python for node.

https://blog.alexellis.io/first-faas-python-function/

[2017-08-21 19:06] johnmccabe opened #137 "Proposal: Enable "Remove function" in FaaS UI"
## Issue

It is not possible to delete functions via the FaaS UI.

### Proposed fix

Add an Angular card with a delete button below the Invoke function card. See [this comment](https://github.com/alexellis/faas/issues/137#issuecomment-324252757) for some UX direction on implementation.

[2017-08-21 19:40] alexellis commented on #137
@johnmccabe Please can you put together screenshot in paint or whatever works and attach?

[2017-08-21 20:06] johnmccabe commented on #137
<img width="1084" alt="delete_idea" src="https://user-images.githubusercontent.com/83862/29536146-92d6a144-86b4-11e7-93fd-7c80e76d563f.png">

@alexellis this good for you?

[2017-08-21 20:25] rgee0 commented on #137
While we've got this page open do we want to change FaaS to OpenFaaS in the top left too?

[2017-08-21 20:26] alexellis commented on #137
@johnmccabe  It's way too big and easy to hit. Perhaps this should be on a pop-up dialog via a "..." break-out.

[2017-08-21 20:28] alexellis commented on #137
@rgee0 good point, can you put that suggestion on issue #123 and ping @glyif?

[2017-08-21 20:51] rgee0 commented on #123
@glyif there is part of the gateway ui impacted by the rebrand. Theres reference to FaaS In the top left corner that should become OpenFaaS

[2017-08-21 21:10] johnmccabe commented on #137
<img width="1084" alt="dropdown_delete_idea" src="https://user-images.githubusercontent.com/83862/29538358-57a78134-86bd-11e7-85a0-a5d8eb0c98e3.png">

@alexellis with a dropdown, the wide delete button in a card seems like the more material-ly one to me fwiw, very subjective ofc :)

[2017-08-21 21:11] glyif commented on #137
we can also do something like this so peeps don't accidentally delete

<img width="1013" alt="screen shot 2017-08-21 at 2 11 15 pm" src="https://user-images.githubusercontent.com/25441110/29538431-a2081934-867a-11e7-9580-0a4f7e766711.png">

[2017-08-21 21:14] alexellis commented on #137
If you want to mix both you could but it on the row with Invoke, but have the pop-up for confirming. I think the huge red button in the first screenshot could draw the eye too much and it'll be hard to find when you invoke a function (i.e. it will be pushed very far down the screen)

[2017-08-21 21:19] johnmccabe commented on #137
And with an elipsis (looks cleaner)

![dropdown](https://user-images.githubusercontent.com/83862/29538671-bc8a9298-86be-11e7-8876-c851cb60fda7.jpg)
![dropdown](https://user-images.githubusercontent.com/83862/29538642-9b8bc7ec-86be-11e7-9d5b-bce981c76a5d.jpg)

[2017-08-21 21:20] rgee0 commented on #137
I'd say the delete button needs to be away from the function output. Top right feels better to me.

[2017-08-21 21:22] rgee0 commented on #126
I'm working on this. 64bit changes have been made and tested. May have run into an issue with the arm equivalents - need to test properly on a pi

[2017-08-22 08:58] fabienheureux commented on #135
[Roboto Mono](https://fonts.google.com/selection?selection.family=Crimson+Text%7CRoboto+Mono) could fit Material UI design, an be easily added to the project through google font import already in place: https://github.com/alexellis/faas/blob/19699d5e799f8ded9995cef0ded8f6558f53643c/gateway/assets/index.html#L4

[2017-08-22 08:59] alexellis commented on #135
That sounds like a good approach @fabienheureux. Can you try it out and share a screenshot in this issue?

[2017-08-22 09:00] fabienheureux commented on #135
Sure, will share something on my lunch break 😉

[2017-08-22 12:21] alexellis commented on #135
If you think the changes are good, you can just rebuild the container and deploy again.

./build.sh in gateway folder

then update docker-compose.yml to add the tag "latest-dev" instead of "0.6.0" (or whatever it is set to) for the gateway.

[2017-08-22 16:51] alexellis commented on #135
Fixed in #140

[2017-08-22 16:51] #135 closed

[2017-08-23 07:46] fabienheureux commented on #137
Hi, my thoughts on this issue:
- I agree with the dropdown solution, that let delete option appears
- I would place all action buttons at the same place, it makes more sense (invoke, actions, and maybe more in the future)
- Use label and/or pictograms usually helps user to understand the UI (e.g.: http://fontawesome.io)

An attached screenshot with what I think quite appropriate (did not saw @john

[2017-08-23 08:01] alexellis commented on #137
Can we move forward with the last suggestion - but with a caveat:

* Add the contextual menu top right
* Keep invoke where it is and revisit after adding actions drop-down menu

[2017-08-23 17:45] xichengc opened #141 "Help: How do you handle system level dependencies?"
## Issue
Some of my function's dependencies are not just python-level dependencies. What do I need to do to add system level dependencies such as GCC?

[2017-08-23 17:57] alexellis commented on #141
Hi there :-) you can edit the templates directly to suit your needs. I needed GCC for python-pptx - my example is here:

https://github.com/alexellis/faas-office-sample

Does this help? Also I think this needs documenting in the repo.

Alex

[2017-08-23 18:16] xichengc commented on #141
Thanks @alexellis
I can see there are 6 template directories in total: `csharp  node  node-armhf  python  python-armhf  ruby`

Is it possible to add a new template directory, say `custom-python` with a custom Dockerfile and somehow specify it in the `stack.yml`? I am trying keep all the existing templates as-is. :-)

[2017-08-23 18:42] alexellis commented on #141
If you could head over to the example I sent you'll see what you need to do from there.

* In the example I just have a template folder with a "python" template inside

* Here is the modified Dockerfile and template in the "template/python" folder:

https://github.com/alexellis/faas-office-sample/blob/master/template/python/Dockerfile

* The base image was changed to Debian

Each folder can have i

[2017-08-23 20:48] xichengc commented on #141
Thanks @alexellis for the help.
I was able to use the custom template for my function. So I guess the templates located in function directories override the global templates.

I am closing this issue.
I still have some questions non-related to the topics covered in this issue. Not sure if it's OK for us to connect on Slack? Thanks!

[2017-08-23 20:48] #141 closed

[2017-08-23 21:05] alexellis commented on #141
Please share your email address and I'll send an invite

[2017-08-23 21:10] alexellis commented on #141
I've sent an invite to your huawei.com address.

[2017-08-23 21:15] xichengc commented on #141
Sorry that email address expired long time ago. I forgot to update it. Could you send an invite to mr.xchang@gmail.com ?
Thanks.

[2017-08-24 07:20] alexellis opened #144 "Research item: container security features"
## Expected Behaviour

Containers offer more security features to the end-user

Here are some ideas (please add below)

* [read-only](https://www.projectatomic.io/blog/2015/12/making-docker-images-write-only-in-production/) root FS
* drop all capabilities
* sec comp / se-linux profiles

How much of this is supported by Swarm / K8s?
What is built into the image definition vs a runtime parameter?

[2017-08-24 23:58] tijoytom opened #146 "ERROR: unsatisfiable constraints: from faas-cli -action build -f ./urlping.yaml"
I am following the readme and trying to get my first function running , but hit the below error when trying to build the image

**-> sudo faas-cli -action build -f ./urlping.yaml**

 ---> Running in 1075c04bc182
fetch http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x86_64/APKINDEX.tar.gz
WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x86_64/APKINDEX.tar.gz: temporary error (try ag

[2017-08-25 02:40] ems5311 opened #147 "Bug in README.md sample code, ./sample/url_ping not found, path ./sample/url-ping exists"
I believe that the path is incorrect in the README sample code for the example function YAML file - urlping.yaml. Currently the handler section of the url_ping function in the urlping.yaml file points to `./sample/url_ping`, although in the project faas-cli, there is a folder called `./sample/url-ping`.

I have a fix for this in my local branch:

[https://github.com/ems5311/faas/commit/965339ba7f2

[2017-08-25 02:49] ems5311 commented on #127
+1, would attend

[2017-08-25 06:49] alexellis commented on #147
Hi, thanks for trying OpenFaaS. I've updated the reference from url_ping to url-ping to match the recent change in the GitHub repo.

[2017-08-25 06:50] alexellis commented on #147
Fixed in https://github.com/alexellis/faas/commit/5254f47c26f0e602185d4b39a1a8f9ef89803ae7 👍

[2017-08-25 06:50] #147 closed

[2017-08-25 06:55] alexellis commented on #146
Hi @tijoytom

Thanks trying OpenFaaS 👍 ! I've just tried this myself again and it works fine, so I suspect this may be an issue with your internet connection. I also haven't run the faas-cli as `sudo`.

[code]

Here's two things you can try:

* Force an update on the base Python image:

`$ docker pull python:2.7-alpine`

* Wipe cache

Use a flag of `--no-cache=true` on the `faas-cli`

Please let u

[2017-08-25 06:57] alexellis commented on #136
Hey @glyif are you still working on this? Do you need anything?

[2017-08-25 15:02] ems5311 commented on #147
Thanks Alex!

[2017-08-25 22:24] Franky1 commented on #127
I'm interested too!

[2017-08-26 04:23] ems5311 opened #148 "deploy_extended.sh not present in repo"
The [Guide on Asynchronous processing](https://github.com/alexellis/faas/blob/master/guide/asynchronous.md) mentions `deploy_extended.sh`, but I can't find this file in the repo.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you usin

[2017-08-26 04:28] ems5311 commented on #148
Sorry didn't realize the PR is still open

[2017-08-26 04:28] #148 closed

[2017-08-26 18:06] alexellis opened #149 "Integration: Hyper.sh provider"
Research item - help wanted from Hyper.sh or community.

Hyper functions can access each other via DNS so this may be a viable option for folks who are into what Hyper offers.

[2017-08-26 18:11] Gnep commented on #149
Cool, will check.

Also, https://github.com/hyperhq/hyper-connector-k8s, a quick change on the aci-k8s-connector. Maybe a unified API interface for swappable backend drivers?

[2017-08-26 18:21] alexellis commented on #149
I think that cloud be a very interested integration

[2017-08-27 14:37] itscaro opened #150 "Sorry, I created this issue in the wrong repo, could you close this issue please."
Sorry, I created this issue in the wrong repo, could you close this issue please.

[2017-08-27 16:16] #150 closed

[2017-08-27 17:10] alexellis commented on #127
Wow - awesome response.

Anyone who wants to join Slack - email alex@openfaas.com

@arashkaffamanesh could you send instructions for your service too?

[2017-08-28 06:14] Gnep commented on #149
Hi Alex,

Let me discuss with our engineering team. I'm the CEO of Hyper, therefore I'm more of a talking head, instead of actual developer :)

[2017-08-28 09:53] mrchypark opened #152 "Proposal: How do I contribute sample-functions for R lang?"
I find out sample-functions language have docker image like functions/base:python-2.7-alpine.
I want to contribute for R language which support dockerhub image like functions/base:R-3.4.1-alpine.

## Expected Behaviour

I want to run R lang based functions for faas using yml like lang: R
Before that, i contribute code for sample first.

## Current Behaviour

## Possible Solution

## Steps to Repro

[2017-08-28 17:06] alexellis commented on #146
Hi we couldn't reproduce the issue, I'd check your networking and try again. Let us know how it goes and feel free to re-open.

[2017-08-28 17:06] #146 closed

[2017-08-28 17:07] alexellis commented on #68
This is now widely known as OpenFaaS - www.openfaas.com. Closing issue.

[2017-08-28 17:07] #68 closed

[2017-08-28 17:08] alexellis commented on #107
Hey @JockDaRock would be great to know if you have anything on this yet.

[2017-08-28 17:49] tijoytom commented on #146
@alexellis Thanks , I was able to get it working on my windows machine , no idea what's wrong with the Ubuntu box..

[2017-08-28 18:49] alexellis commented on #146
That's good to hear. I'd suggest trying it again, or maybe provisioning a quick droplet on Digital Ocean?

[2017-08-28 18:49] alexellis commented on #152
Thanks I had a chat with the other maintainers and we're happy to accept the change.

[2017-08-28 23:18] ems5311 commented on #42
Instead of using DIND, would it be feasible to mount the docker socket as a volume in a docker container, so that instead of deploying FaaS inside of docker, we deploy it on our host, but controlled by a single docker container? I ran into this section of the [`docker run` documentation](https://docs.docker.com/engine/reference/commandline/run/#mount-volume--v-read-only):

[2017-08-29 10:59] arashkaffamanesh commented on #127
@alexellis we provide online meetups through GoToWebinar with up to 500 participants and GoToMeeting for virtual classes with 25 participants for our 2 k8s related meetups:
https://www.meetup.com/kubernauts/
https://www.meetup.com/NextGen-Kubernetes/

For GoToWebinar, we can setup a registration page for the OpenFaaS onlime meetups and make you as a co-organizer to perform the online sessions.

[2017-08-29 11:01] ivdelchev opened #156 "Slack channel invites"
The readme says this is the preferred way to request access to the slack channel so I am opening this issue. Could I get an invite? I am dealing with Docker on a daily basis on production and for fun and have already played with FaaS a bit.

[2017-08-29 11:08] alexellis commented on #156
Hi @ivdelchev - you'd be more than welcome - please send an email over to alex@openfaas.com

[2017-08-29 18:37] alexellis opened #157 "Research item: User-defined error codes in watchdog"
## Expected Behaviour

Return 200/404/400 etc from your function code.

## Current Behaviour

200 / 400 / 500 are supported but used internally to the watchdog only

Calling os.exit with a non-zero code may also cause a 500 to be returned.

## Possible Solutions

* Allow user to set environment such as `Http_Status_Code` and let the watchdog read this before returning. (Appears this doesn't work)

[2017-08-29 19:18] alexellis commented on #157
I wrote a prototype for pulling back environment variables set within a Node.js script.. it didn’t work. All I saw were the environmental variables I inputted (despite seeing them set successfully)

[2017-08-29 19:19] alexellis commented on #157
[code]

[code]

[2017-08-30 07:07] alexellis commented on #114
@gijswobben I've had a chance to revisit this item and I think I have a technical approach for helping with this. Did you try any of the outlined solutions? Do you have an example online somewhere?

[2017-08-30 07:19] gijswobben commented on #114
I've tried the first approach and the second. The last 2 are no option for me, in my opinion they introduce too much overhead code for something that should be a "function as a service"...

The approaches I did try work, but there is still a lot of overhead. I'm dealing with large quantities of data so even with the batching approach there is a lot of overhead. I don't have an example online since

[2017-08-30 07:21] alexellis commented on #114
I have made the changes to the watchdog and did some testing - it's blisteringly fast. This is the JVM & Java - https://www.youtube.com/watch?v=gG6z-4a1gpQ

Join us on Slack and let's do some testing with the new approach?

[2017-08-30 07:26] alexellis commented on #101
@rgee0 @glyif what's your bandwidth like for this week?

[2017-08-30 08:53] gijswobben commented on #114
Thanks, I give it a try

[2017-08-30 10:13] #156 closed

[2017-08-30 10:13] alexellis commented on #156
Invite sent - thanks for joining!

[2017-08-30 13:26] Marak commented on #157
@alexellis -

I've spent a lot of time researching and trying to solve this specific problem. The best solution I could think of was opening up FD 3 on the pipe and sending JSON messages back and forth.

We've got this technique working in production for 20 or so programming languages. For popular languages like Node or Python, we are able to completely wrap existing HTTP / WSGI interfaces so that

[2017-08-30 15:18] jlogelin commented on #127
Definitely interested in this Alex.

[2017-08-30 15:28] Omeryl commented on #74
Any further thoughts on this in the long run?

[2017-08-30 15:32] alexellis commented on #74
Hi @Omeryl - I would say that this is outside the scope of a serverless framework and could be implemented easily with a project specialising in these areas such as NGinx / Traefik or Kong. Does that make sense? What are your thoughts?

[2017-08-30 15:34] Omeryl commented on #74
@alexellis I mean, as long as the client is capable of doing basic auth, or sending specific headers, it could definitely be built as plugins for the client. I was just wondering what the official thoughts were on this before I started tinkering with this for some coworkers is all.

[2017-08-30 17:57] alexellis commented on #74
Can you give me a quick outline of what you had in mind?

[2017-08-30 23:05] Marak commented on #157
To be clear, FD 0, 1, and 2 are mapped to: STDIN, STDOUT, STDERR.

I've been using FD 3 as an additional communication channel for sending JSON between the parent and child process. Not sure if it's best practice, but it has been working and allowing for expressive APIs inside functions.

I don't see any specific reason why you couldn't just write the status header out directly to STDOUT and parse

[2017-08-31 05:12] ezeql commented on #127
Also interested.

[2017-08-31 07:01] alexellis commented on #157
Thanks for your input @Marak 👍 - an arbitrary protocol like reading JSON or HTTP over one of the streams could do the job for a managed language along with a set of client libraries. I am trying to see if this can be solved generically so that binaries which know nothing of custom protocols can still operate for instance: ffmpeg or [imagemagick](https://github.com/alexellis/faas-cli/blob/master/sa

[2017-08-31 11:41] Marak commented on #157
Yes. We still have full support for arbitrary binaries using this method.

[2017-08-31 11:55] Marak commented on #157
We also don't require a set of client libraries for users. Everything is handled by custom handler binaries we ship with our project per language. It's all seamless to the user ( no client libraries required in functions ), but does require a bit of work on our end to build these handlers.

Let me know if you want to discuss this or other issues further, I've been running an open-source faas platf

[2017-09-01 11:48] alexellis commented on #157
Great to hear about your success @Marak. Are you forking a new process per request or reusing the same one? If you were re-using the same process, then surely some code needs to be in your language runtime to output the "custom JSON" format on stderr?

[2017-09-01 13:57] Marak commented on #157
Not outputting custom JSON on stderr ( that is FD 2 ), we are using FD 3 which is an unused pipe. Overloading stderr is not a good idea ( we tried it ).

We are currently forking a new process per request. The Bash helloworld service takes about 20ms to complete it's entire request / spawn / response lifecycle. I've considered preforking and doing a FastCGI type approach, but our scaling strategy

[2017-09-01 14:00] alexellis commented on #157
We should setup a hangout to compare notes. I think I have a strategy which could help make this even faster.

[2017-09-01 14:04] Marak commented on #157
That sounds good to me. I'd be interested to see what the absolute minimal baseline is for processing a request and spawned process. The fastest I've gotten without pre-forking is about ~20ms.

Im on Google Hangouts as: marak.squires@gmail.com

[2017-09-02 18:51] alexellis commented on #157
@johnmccabe - what do other frameworks do? consult CNCF white-paper.

@JockDaRock - API Gateway still gives 200 OK

[2017-09-02 18:53] alexellis commented on #137
@fabienheureux - how do you feel about implementing the UI? cc @aafrey

[2017-09-02 18:58] rgee0 commented on #72
@alexellis can this be closed?

[2017-09-02 19:22] alexellis commented on #101
In lieu of this being completed #160 makes the default experience better by ensuring Linux containers are scheduled on Linux nodes.

[2017-09-02 19:23] alexellis commented on #103
Work merged into master and released in 0.6.3 https://github.com/alexellis/faas/releases/tag/0.6.2

If anyone wants to start on a Kafka implementation that would be great.

[2017-09-02 19:24] #103 closed

[2017-09-02 19:25] #152 closed

[2017-09-02 19:25] alexellis commented on #152
Thank you for this!

[2017-09-02 19:26] alexellis commented on #74
Kong/Mashape are working on a plugin for OpenFaaS - this should add whatever we need in terms of security / OAuth / basic auth / rate-limiting etc.

[2017-09-02 19:27] alexellis commented on #34
Please see - https://blog.alexellis.io/openfaas-serverless-acceleration/

Happy to re-open the issue if you find some more time for testing @vielmetti

I hear Gattling is really good for ramping up tests.

[2017-09-02 19:27] #34 closed

[2017-09-02 19:52] #72 closed

[2017-09-02 19:53] alexellis commented on #72
functions/alpine:latest-armhf pushed

[2017-09-03 07:35] alexellis commented on #149
@Gnep I had an email from Song on your team about about starting work on this. Let me know if I can help in any way.

[2017-09-03 19:52] johnmccabe commented on #116
I'll pick this one up @alexellis

[2017-09-03 20:20] alexellis commented on #116
Here's a sample for parsing the Prometheus format from your local gateway.

[code]

[2017-09-03 21:44] johnmccabe commented on #116
Just dumping in some notes.

You can reproduce the behaviour that needs fixed as follows (on Docker Swarm):
- Scale the gateway to 3 instances
[code]
- Open the gateway dashboard in an incognito and non-incognito tab, and invoke the echoit function a few times in each window, you should see that the counts increment independently as you've got a sticky session with different instances.

[2017-09-03 23:18] e-beach commented on #108
I'm interested in working on this. Under what circumstances should the watchdog and gateway return a failing status?

[2017-09-03 23:51] e-beach commented on #107
Hi @alexellis , I'm also wondering as I'm looking to contribute to this project. If @JockDaRock is busy, I'd like to tackle this.

[2017-09-04 06:18] alexellis commented on #107
Sounds great. Are you already on the slack community? The gist provided
allows for a single route site with Flask. The plan is to document this
then look at extending the watchdog and Flask proxy to map incoming
requests to other routes also.

On 4 Sep 2017 00:51, "Elliott Beach" <notifications@github.com> wrote:

[2017-09-04 06:20] alexellis commented on #108
So for the watchdog let's start by returning everything is OK once the lock
file is in place - then go from there. You'll also need to update
faas-netes to programmatically add the healthcheck and readiness probe to
new functions.

On 4 Sep 2017 00:18, "Elliott Beach" <notifications@github.com> wrote:

[2017-09-04 06:52] alias1 opened #162 "Document/expose the minimum API required to be 'watchdog compatible'"
I would like to enable my golang executable to be directly 'watchdog compatible', without needing to include the separate watchdog binary in my container.

## Expected Behaviour

Have the minimal API/interface of the watchdog documented/exposed as a library so that I can embed it directly into my golang executable.

## Current Behaviour

I believe the currently recommended way is to just use the w

[2017-09-04 06:52] JockDaRock commented on #107
Hey @e-beach and @alexellis I have been working on this this weekend.  Long weekend for me in the States.

I have something put together but if you want to also take a stab at it as well @e-beach that is fine with me too.  I got caught up doing it on Saturday and then started thinking I wanted to try and go ahead and extend some functionality to work the way I liked ;).

That being said, in it's c

[2017-09-04 07:18] alexellis commented on #162
This is an unsupported configuration, but you can expose port 8080 and OpenFaaS should treat your container the same as if it was running the watchdog.

[2017-09-04 07:39] alias1 opened #163 "Proposal: Reduce the size of the watchdog executable"
## Expected Behaviour

Through a combination of multi-stage builds, and some other tricks (static compilation, packing), it would be possible to reduce the size of the current watchdog executable. For large legacy programs, the current size may not make much of a difference, but for a current project i'm working on, the watchdog is ~6 times larger than my actual program.

This is the multi-stage D

[2017-09-04 07:45] alexellis commented on #163
I'm not sure why this would be a concern, especially if it's a cached and shared layer between your functions. However if you can optimise the watchdog further (it already uses a multi-stage build in so much as a lone binary is extracted from a build-time container) then I think we would consider a PR. It also needs to work on ARM / Linux and Windows.

[2017-09-04 07:51] johnmccabe commented on #163
+1 on using `upx` to shrink the watchdog, I've used it for go binaries linked against C++ libs in the past, what size reduction are you getting against the watchdog?

[2017-09-04 07:55] alias1 commented on #163
From the code I read (maybe wasn't latest) it used a multi-stage build styled pattern, but not the new multi-stage build Dockerfile syntax.

I suppose at the end of the day it doesn't represent a massive issue, but I like to optimize things where they can be.

Running a quick test:
[code]

Inspecting in that container
[code]

[2017-09-04 07:57] alexellis commented on #163
I don't want to strip debug info or line numbers.

Here's what we can do with a suggestion via @justincormack

[code]

He also suggested looking at removing the log package due to its unicode/utf-8 support.

[2017-09-04 07:59] alias1 commented on #162
Program already includes net packages (static linked, packed with `upx`), but the hard timeout is something I probably can't enforce from the single executable. Good to know that I can get the 'basic' functionality just by exposing on `8080` though :)

[2017-09-04 08:08] alias1 commented on #163
Nice. I would have to read the specifics on upx again, but I think you can still get the size reductions without losing the debug info (though don't quote me on that), at the cost of very slightly increasing delay on first-run.

[2017-09-04 08:09] alexellis commented on #163
In that context what does `upx` remove? We've tried a minimal HTTP server with the new flags and it still comes out at 3.8M

[code]

[2017-09-04 08:12] alias1 commented on #163
I think it's more about compression than stripping things:
* https://upx.github.io/

[2017-09-04 09:13] alexellis commented on #162
Note added here https://github.com/alexellis/faas/blob/master/watchdog/README.md

Closing issue - feel free to keep discussion going 👍

[2017-09-04 09:13] #162 closed

[2017-09-04 09:14] alexellis commented on #163
I'll close this issue once PR #164 is merged. If you would like to research using `upx` perhaps we can provide an alternative instructions for its usage or link to a blog / GitHub repo etc.

[2017-09-04 12:57] gijswobben commented on #114
Performance is okay.. Certainly not what I hoped for but it gets the job done. What you show in you're video is indeed a fast example, however, try to add a 15 second delay to the initialization of your function and run it again. The startup cost (in this case the delay) is so high that it will ruin your performance.

I think we can close this issue. Thank you very much for the effort and a workab

[2017-09-04 12:57] #114 closed

[2017-09-04 13:04] alexellis commented on #114
I think you might be going about it a different way to intended.

If you need a 15 second boot-up - then you need it, nobody can change that - but you can put it into the initialiser and not the handler 👍

Maybe you can explain what you mean?

[2017-09-04 13:16] gijswobben commented on #114
Totally agreed, I cannot avoid the 15 second boot-up. However, it would be nice if I didn't have to wait that 15 seconds with every new call. It would be great to have such an "initialiser". Run the initialiser once, and than run the handler as many times as needed (for every call). However, looking through the documentation and code, there is no way to do such an initialisation right now, is ther

[2017-09-04 13:54] alexellis commented on #114
No you could add an explicit initialisation separately. We can adjust the template for that or you could do something simple like write a lock file to understand whether to run the initialization a second time.

[2017-09-04 13:55] alexellis commented on #163
Closing. Let's revisit the `upx` idea later on. I'll mark this as "revisit"

[2017-09-04 13:55] #163 closed

[2017-09-04 16:19] JockDaRock commented on #107
Hey @e-beach,

I need some help getting rid of the status message from the CGI response for the flask app.

could you research this item from flask / werkzeug library to figure out how to remove the status code when the CGI returns the standard output of the flask page?

the following mod I have removes the headers, now we just need to remove the status code.

[code]

Let me know if you need any h

[2017-09-04 16:20] JockDaRock commented on #107
also the purpose of this is so it just returns the straight html without any extra content.

[2017-09-04 17:33] yancybulski commented on #127
+1

[2017-09-04 17:37] alexellis commented on #107
Guys you need to use the branch / PR I pushed up for this a couple of weeks ago. Then set the watchdog env `cgi_body` to `true`. It'll then function how you expect.

[2017-09-04 19:01] erasmo07 commented on #127
I'm in

[2017-09-04 20:44] JockDaRock commented on #107
Thank you @alexellis, I had forgotten about you fixing that

[2017-09-05 00:40] alias1 commented on #163
Sounds good to me :)

[2017-09-05 00:43] alias1 commented on #162
Awesome, thanks :)

[2017-09-05 11:19] alexellis commented on #101
Now available in the FaaS-CLI by passing --constraint or using a `constraints` element for a function. @glyif @rgee0 fancy writing a quick guide/blog?

[2017-09-05 11:19] #101 closed

[2017-09-06 20:23] johnmccabe commented on #149
Derek add label: skill/advanced

[2017-09-06 21:25] alexellis commented on #149
@Gnep - I think this will be of use to your team, it makes implementing the code easier:

https://github.com/alexellis/faas-provider

[2017-09-07 07:45] alexellis commented on #137
@fabienheureux ping 🏓

[2017-09-07 07:47] alexellis commented on #117
Ping @bketelsen

[2017-09-07 07:50] alexellis opened #167 "Story: Kong Integration"
Kong / Mashape have agreed to write a plugin for OpenFaaS in 2018 Q1.

Kong enables interesting features around security and hardening:

* Caching
* rate-limiting
* OAuth tokens
* Basic auth

The OpenFaaS gateway will remain in-tact since its concerns are well defined container management tasks and will receive calls via the Kong API Gateway.

Note: Kong can also be used without a specific OpenFaa

[2017-09-07 07:52] alexellis opened #168 "Integration: Hashicorp Nomad"
Hashicorp via @nicholasjackson is writing a back-end provider for OpenFaaS

This code is evolving quickly - check their readme for more information:

https://github.com/hashicorp/faas-nomad

[2017-09-07 08:24] Gnep commented on #149
Thanks. Song is working on the integration right now. I'll ask him to follow up with you guys here.

[2017-09-07 09:33] nicholasjackson opened #169 "Proposal: Secrets Integration for OpenFaas with Vault"
HashiCorp Vault is an open source tool for managing and controlling access to tokens, passwords, certificates.  Integrating OpenFaas with Vault would allow a generic backend which would enable the injection of secrets into OpenFaas.  In addition to secrets Vault could be used to generate and and manage x.509 certificates for jobs again enabling transparant cross platform TLS.

## Expected Behaviou

[2017-09-07 09:38] imeoer commented on #149
@alexellis Thanks for the working, we will take a look and apply to our provider.

[2017-09-07 11:40] alexellis commented on #149
If anyone would like to try out the Hyper.sh integration it's available here:

Sign up with my referral code:

https://console.hyper.sh/register/invite/oAx1am6b7eFa2L40ary7TBYWE6eDxWFN

Then follow the detailed instructions here:

https://github.com/hyperhq/faas-hyper

Here are a couple of working screenshots 🍾 👍

![s2](https://user-images.githubusercontent.com/6358735/30161708-a8b1e74a-93c9-11e7-

[2017-09-07 13:47] bketelsen commented on #117
I'm pretty busy until this weekend, is there something specific you want help with?  Do you just want to stand up FaaS on ACI with kubernetes?

[2017-09-07 17:54] vivekjuneja commented on #149
I deployed the following functions

1. functions/alpine:latest
2. functions/nodeinfo:latest

The deployment works great, and I was able to test the functions.

The invocation count however on the OpenFaaS portal does not seem to work.

![openfaas_hyper](https://user-images.githubusercontent.com/122003/30177494-4ecfac8e-9406-11e7-8ad4-f632ba1a641a.gif)

[Link to screencapture](http://g.recordit.co/

[2017-09-07 18:02] alexellis commented on #149
Thank you for testing @vivekjuneja ! Here's what it looks like with metrics working: https://github.com/hyperhq/faas-hyper/issues/2

[2017-09-07 21:42] #116 closed

[2017-09-07 21:46] alexellis commented on #71
@aafrey I've re-opened this to track progress.

[2017-09-08 04:16] aafrey commented on #71
initial commands are functional. I'll have more time to spend on it this weekend to clean things up.

[2017-09-08 11:55] JockDaRock commented on #117
I have tried the ACI-connector. Are some bugs on the Azure side that need to be worked out.

Bug 1: You cannot connect ACI services to functions spun up with the ACI-connector. This might be solved by deploying the whole application to ACI, but this runs in to bug 2. https://github.com/Azure/aci-connector-k8s/issues/51

Bug 2: When creating deployments with replicas the ACI-connector node starts s

[2017-09-08 11:57] JockDaRock commented on #117
On bug 1. I meant you cannot connect regular k8s services to pods spun up by the ACI-connector node, or vice versa.

[2017-09-08 12:05] alexellis commented on #117
Thanks for the updates @JockDaRock. @bketelsen would love your input on this and if you could try setting things up with ACI.

[2017-09-08 12:30] fabienheureux commented on #137
@alexellis sure, I will work on this next week 👍

[2017-09-08 14:33] kinghuang commented on #55
@alexellis I still don't see the branch. Considering how much development has happened since May, would it be better to just re-implement? If so, I will take that on.

[2017-09-08 14:47] alexellis commented on #55
Sure. Please join us on Slack to coordinate - message alex@openfaas.com

[2017-09-08 21:03] alexellis commented on #55
@kinghuang thanks for joining. Here is the branch - https://github.com/alexellis/faas/compare/filter_networks?expand=1

[2017-09-09 08:16] JockDaRock commented on #107
So I got the cgi_body watchdog env to work.  Although I was pretty sure this was working before I was not able to get query parameters to work with a single route this time.

Tried using cgi_headers as described in the watchdog doc to pass the query parameters to the flask handler... however, I was not able to get the query parameters to show up in the flask handler or function. When I check all o

[2017-09-09 08:26] JockDaRock commented on #107
On a more good news front... testing on a single route, with no query parameters still works well and I tweaked the flask code for the handler to make the flow of the flask developer a bit easier.  This way the dev can drop in a basic flask application, e.g. app.py, and the handler.py will call the app file and app object and use the proxy fix in handler.py the same as before.

This will make it e

[2017-09-09 08:36] alexellis commented on #107
You'll need to use the proxy to set the request parameters by reading them from the variables that are set at runtime.

[code]

Query string serialisation might be in this PR rather than main code.. can you check it out?

[2017-09-09 08:43] alexellis commented on #107
OK I've fixed a small bug causing the query string not to be passed:

https://github.com/alexellis/faas/commit/b9be8293a84bcdac11e845dc613ab12d6fcd0a90

You need to manually re-build the watchdog.

[2017-09-09 10:40] johnmccabe opened #172 "OpenFaaS on Kubernetes getting started guides for DigitalOcean, Packet & AWS"
## Expected Behaviour

Guides should be provided to allow a user to easily set up an OpenFaaS platform on Kubernetes across a range of cloud providers. The initial target list includes:

- [ ] DigitalOcean
- [ ] Packet
- [ ] AWS

[2017-09-09 10:41] johnmccabe commented on #172
Derek add label: enhancement

[2017-09-09 10:41] johnmccabe commented on #172
I've picked this up.

[2017-09-09 10:49] alexellis commented on #172
Thanks John. Should we prioritise K8s and kubeadm?

[2017-09-09 11:05] johnmccabe commented on #172
Probably a good idea, I'll have a look at that now.

[2017-09-09 11:11] alexellis commented on #172
You can direct people to https://blog.alexellis.io/tag/learn-k8s/

[2017-09-09 13:08] alexellis commented on #107
@JockDaRock see also - https://github.com/alexellis/faas/pull/174/files

[2017-09-09 20:12] kinghuang opened #175 "Proposal: Support multiple different gateways with filtering options for function services"
This proposal relates to #55.

The OpenFaaS API Gateway discovers function services in a Docker Swarm based on the presence of a `function` label (or the `func` label on external providers). This behaviour is problematic if there are multiple instances of the API Gateway running, where each gateway is meant to cover different sets of services.

For example, in a multi-tenant environment, there may

[2017-09-09 20:36] OR13 opened #176 "Pricing Scenarios"
Given the multitude of potential backend providers, it is desirable to develop a system for comparing operating costs across providers.

## Expected Behaviour
Ideally there would be cost estimates for network, compute and storage bound functions.
A simple experiment on each provider should be able to provide function costs.
Assuming operating costs could be parametrized, a pricing calculator could

[2017-09-09 22:54] kinghuang commented on #175
Another option that just occurred to me is to allow the gateway to be configured with arbitrary key-value matches on tags/labels. That would enable matching on stacks and any user-defined label.

The following would be the default behaviour.

[code]

A list of constraints could be passed.

[code]

[2017-09-10 00:21] clh8801 opened #177 "add line http.HandleFunc("/README", readmeRequestHandler(&config))"
https://github.com/alexellis/faas/blob/b9be8293a84bcdac11e845dc613ab12d6fcd0a90/watchdog/main.go#L253
return the `README` file content to the apigateway

[2017-09-10 08:07] metrue opened #179 "nothing wrong when deploy, but cannot access localhost:8080"
## Expected Behaviour
[code]
nothing was wroing after above, but localhost:8080 could not be accessiable.
[code]

## Possible Solution
document improvement, I am totally new to this project, after reading the README.md, I'd like to try a simple demo.

## Steps to Reproduce (for bugs)

[code]
then open http://localhost:8080

## Context

## Your Environment
Docker version 17.06.2-ce, build cec0b72

[2017-09-10 09:46] alexellis commented on #179
It's ./deploy_stack.sh - please provide some debug info. Also it's not localhost.com? Try http://127.0.0.1:8080

https://github.com/alexellis/faas/blob/master/guide/deployment_swarm.md

[2017-09-10 09:49] alexellis commented on #177
Please fill out the whole template. What is this change for?

[2017-09-10 11:45] alexellis commented on #179
Are you doing this on your laptop or the cloud? If it's on a remote host you will absolutely need to use the public IP of that host to access OpenFaaS

[2017-09-10 11:51] johnmccabe commented on #179
@alexellis looks like linode from the uname output

[2017-09-10 13:17] oren commented on #127
+1

[2017-09-10 18:44] aafrey commented on #71
I've updated `build` to be `package` to be inline with other providers. Also, using the `create` command would require a PR to serverless to include the OpenFaaS templates, it can't be over-ridden like some of other commands, instead we could use the `install` command to pull templates from github, rather than using `create`. this is partly why I lobbied for separate template repos here: https://g

[2017-09-10 19:43] jmkhael commented on #179
In addition to @alexellis suggestions, try another browser: I had problems with localhost address with chrome. try using another browser if you are using chrome.

Try using your machine name too.
check your `/etc/hosts` if you have

[code]

[2017-09-10 20:04] mjbright commented on #179
Otherwise performing
    docker stack ps func

might give you information about tasks which are failing in your "func"
stack.

On 10 September 2017 at 21:43, Johnny Mkhael <notifications@github.com>
wrote:

[2017-09-10 22:33] kenfdev commented on #137
![func_deletion](https://user-images.githubusercontent.com/3941889/30253527-142e20e2-96c2-11e7-8089-c1ec2a8abbe7.gif)

Hi, I didn't realize this thread and was thinking about deletion, too. I basically agree with the final suggestions but how about making the "ACTIONS" button an ellipsis icon like @rgee0 suggests?

Here is a sample I was making.  But including the above suggestions, the trash icon

[2017-09-11 01:02] clh8801 commented on #177
the file README.md is the document of fprocess,'/README' return the document content,it's will If the fprocess version changes frequently.

[2017-09-11 01:07] kenfdev opened #180 "Proposal: Make the side nav toggleable on FaaS UI"
## Expected Behaviour

When the screen is smaller than a certain width (probably 960px?), the side nav should be hidden and toggleable.

## Current Behaviour

When the screen is smaller than a certain width (probably 960px?), the side nav is hidden but not toggleable. Therefore, people who don't know this behavior get lost in how to create function, find functions, etc.

## Possible Solution

Add

[2017-09-11 01:09] kenfdev commented on #180
I'll take a look at this this week if there's no problem on that.

[2017-09-11 03:56] alexellis commented on #180
Please do

[2017-09-11 15:11] kenfdev commented on #180
@alexellis how about something like this? Just added a few lines for a toggle button and added a svg in `assets/img/icons/menu.svg` from the [material design icons](https://materialdesignicons.com/).

![toggle_sidenav](https://user-images.githubusercontent.com/3941889/30281827-73644866-974e-11e7-8086-80967b710237.gif)

I'll create a PR if it's ok or edit it more if there is more to do.
The `bootst

[2017-09-11 16:45] johnmccabe commented on #180
@kenfdev looks good 👍

[2017-09-11 16:46] johnmccabe commented on #180
Derek add label: enhancement

[2017-09-11 16:46] johnmccabe commented on #179
Derek add label: question

[2017-09-11 16:46] alexellis commented on #180
Very nice 💯

[2017-09-11 16:47] johnmccabe commented on #176
Derek add label: proposal

[2017-09-11 16:48] alexellis commented on #176
Derek add label: revisit

[2017-09-11 16:48] johnmccabe commented on #175
Derek add label: proposal

[2017-09-11 16:49] johnmccabe commented on #169
Derek add label: proposal

[2017-09-11 16:49] alexellis commented on #176
This would require a significant amount of consulting and analysis - and I suspect it would be a moving target also. Also worth nothing that the spot instance market with AWS, Packet and others could easily provide a much cheaper back-end for some of the stack - particularly functions.

[2017-09-11 16:49] johnmccabe commented on #168
Derek add label: proposal

[2017-09-11 16:49] johnmccabe commented on #167
Derek add label: proposal

[2017-09-11 17:01] genexp opened #182 "AfterBurn for Node.js Implementation"
## Expected Behaviour
I'd like to help create or test an AfterBurn example for NodeJS.

## Current Behaviour
Examples exist for Java and Python.  Let's make more!

## Context
We use NodeJS as our main execution environment for small JS based functions.  Because we use them mostly for data processing, we'd like them to be as fast as possible and not incur the overhead of starting up Node each time.

[2017-09-11 17:08] alexellis commented on #182
Derek add label: proposal

[2017-09-11 17:09] alexellis commented on #182
Derek add label: skill/intermediate

[2017-09-12 10:59] amitkumarj441 commented on #172
@johnmccabe @alexellis I'm willing to take up this task by setting up OpenFaas on AWS.

Please let me know if it's still pending.

[2017-09-12 11:02] johnmccabe commented on #172
@amitkumarj441 picking up AWS would be cool, please do

[2017-09-12 11:03] amitkumarj441 commented on #172
Thanks a lot @johnmccabe for your prompt response.

Any suggestion before starting OpenFaas on AWS?

[2017-09-12 11:31] johnmccabe commented on #172
@amitkumarj441 have you used OpenFaaS/AWS before?

[2017-09-12 11:57] amitkumarj441 commented on #172
@johnmccabe Yes, I'm using AWS extensively for my research projects since an year and I have used OpenWhisk before and OpenFaaS is new to me, but I'm going to deploy it on AWS and open to suggestions.

[2017-09-12 12:08] amitkumarj441 commented on #172
@johnmccabe I'm a Docker and Kubernetes intermediate hacker and would like to give a try on Rancher as well. Please add Rancher in the above list and I'll try to get OpenFaas up on both of these cloud providers.

[2017-09-12 12:14] alexellis commented on #172
I'm ok with a Rancher guide - in fact we can link to Ken's blog post. However we need to focus in on Kubernetes and then Swarm for this issue.

John could you update the title to set the scope?

[2017-09-12 15:05] nullseed commented on #127
+1 Emailed

[2017-09-12 17:50] drojas commented on #127
+1
On Tue, Sep 12, 2017 at 12:31 PM Alex Young <notifications@github.com>
wrote:

[2017-09-12 17:54] kinghuang commented on #127
I'm interested!

[2017-09-13 01:31] aafrey commented on #71
summarizing a thread from slack:
- Is it necessary to return a promise in the various plugin commands? (`deploy`, `package`, etc) it does not seem to have an impact when removed on the `forked_cmds` branch
- there are two options to generating function boilerplate with the Serverless framework: 1) `create` requires a PR to the main Serverless repo to add the OpenFaaS templates. 2) `install` pulls

[2017-09-13 05:42] jonocodes commented on #167
Hi. This is something I might be intersted in. A couple questions though.

Would a plugin really be needed for this? With Kong, you can just point to OpenFaaS as an API and then get access to all the functions provided by that OpenFaaS server. Or presumably just the one in question.

OpenFaaS exposes a REST interface with no credentials out of the box, so its a little simpler then AWS Lambda and O

[2017-09-13 06:37] alexellis commented on #167
I believe you are correct - you can treat the API Gateway as a RESTful interface and use standard Kong features. Would you like to put together a config, template or example?

[2017-09-13 06:46] alexellis commented on #177
This isn't something we are planning on supporting - so I'll close the issue. Do we need to make the versioning or documentation better?

[2017-09-13 06:46] #177 closed

[2017-09-13 06:47] alexellis commented on #179
@metrue - we're going to close the issue, but please feel free to keep commenting.

[2017-09-13 06:47] #179 closed

[2017-09-13 06:49] #157 closed

[2017-09-13 06:51] alexellis commented on #137
I like this final gif - @kenfdev if you want to commit this in a PR I think we could just merge it and close this issue.

[2017-09-13 06:51] alexellis commented on #136
Closing..

[2017-09-13 06:51] #136 closed

[2017-09-13 06:52] alexellis commented on #27
Closing - will create new issue when we tackle this.

[2017-09-13 06:52] #27 closed

[2017-09-13 07:16] kenfdev commented on #137
@alexellis No problem. I think I can implement it tonight (GMT+9)

[2017-09-13 20:40] takotuesday commented on #172
This would be really helpful. I just recently discovered OpenFaaS and have spent a decent amount of time trying to get it going in my VPS with not much luck.

[2017-09-13 21:07] alexellis commented on #172
Email me at alex@openfaas.com and I'll invite you to slack so we can try to help you

[2017-09-13 21:47] takotuesday commented on #172
@alexellis thanks! Email sent

[2017-09-13 22:05] alexellis commented on #172
Hey what is your actual name so I know who to look out for?

[2017-09-13 22:29] jonocodes commented on #167
Ok. Here is a sample I worked out. You should be able to paste the whole thing into [Play WIth Docker](http://labs.play-with-docker.com/)

Let me know if this is how you or the Kong folk thought it might work.

[code]

[2017-09-14 00:03] alexellis commented on #167
Thank you for this @jonocodes .. are you already in our Slack community?

Also - I saw Kong can run in-memory, too. Do you have the altered version which doesn't use postgres?

[2017-09-14 00:06] alexellis opened #185 "Backlog: rolling updates"
We should be able to provide a seamless rolling update.

## Expected Behaviour

We have i.e. Derek version 0.2 in "production" and want to transition to version 0.3.

## Current Behaviour

Right now we can use the Swarm or Kubernetes CLI to do this.

## Possible Solution

* Enable the deployment endpoint to take an update flag

Suggestion via @gabrtv

A longer version of this story includes:

* ca

[2017-09-14 00:09] ems5311 commented on #167
This is awesome because I had the exact same question (whether we need a Kong plugin, or if Kong will just work as-is). If there's no extra work needed to take full advantage of Kong, then that gives OpenFaaS a full API Gateway solution, which we can easily dockerize/automate. Awesome work @jonocodes

[2017-09-14 00:11] alexellis commented on #185
Derek add label: priority/high

[2017-09-14 00:12] alexellis commented on #169
Derek add label: priority/middle

[2017-09-14 00:13] alexellis commented on #132
Derek add label: priority/high

[2017-09-14 00:13] alexellis commented on #123
Derek add label: priority/high

[2017-09-14 00:14] alexellis commented on #71
Derek add label: priority/low

[2017-09-14 00:15] alexellis commented on #71
I hope to sit down with this next week @aafrey

[2017-09-14 00:15] alexellis commented on #180
Derek add label: priority/middle

[2017-09-14 00:15] alexellis commented on #176
Derek add label: priority/low

[2017-09-14 00:15] alexellis commented on #55
Derek add label: priority/low

[2017-09-14 00:16] alexellis commented on #182
Derek add label: priority/medium

[2017-09-14 00:55] alexellis opened #186 "Wider contributors meeting - 19th Sept"
**Let's Build OpenFaaS together**

If you've contributed to the OpenFaaS project or are planning to start, it'd be great to have you along so we can sync up and set the direction for the next few weeks as well as longer term.

Drop your email address into the thread in the `#contributors` Slack channel. If you're not in the Slack group yet then please email alex@openfaas.com with a one-line intro.

[2017-09-14 15:39] aafrey commented on #107
would something like this make sense for the concept of microfrontends?

[2017-09-15 03:23] ems5311 opened #189 "Tear-down question for Docker Swarm"
When I run `docker stack rm <stack name>`, I would expect all of the functions to get deleted, but it doesn't seem to do so:

[code]

If this is necessary or by-design, let me know, but in order to remove all functions I have to run `docker service rm` for the remaining containers when I want to update the faas platform.

## Expected Behaviour

All faas functions are removed.

## Current Behaviour

[2017-09-15 03:37] JockDaRock commented on #107
this could definitely be used for that @aafrey .

[2017-09-15 03:38] JockDaRock commented on #107
I have also made some updates on my fork of this since Alex last updated.

You can view those changes here...

https://github.com/alexellis/faas/compare/cgi_body...JockDaRock:cgi_body?diff=split&name=cgi_body

[2017-09-15 04:36] alexellis commented on #189
Docker stacks are actually built up with labels and metadata injected via the Docker CLI. We don't have access to it at deployment time. If you'd like to remove the functions deployed in your OpenFaaS instance maybe you could create a shell script to filter on network or such?

[2017-09-15 06:46] rgee0 commented on #189
Building on @alexellis's response, I tend to `rm` containers on the func_function network before running `docker stack rm func`.

`docker ps -a --filter network=func_functions | awk '{print $1}' | xargs docker rm -f`

[2017-09-15 14:56] ems5311 commented on #189
@alexellis and @rgee0, thanks for your informative responses. Now it makes sense why the stack removal doesn't remove all functions. @rgee0 , thank for that command, I think there's an even slightly better way:

`docker ps -a --filter network=func_functions -q | xargs docker rm -f`

Closing this issue.
--Erich

[2017-09-15 14:56] #189 closed

[2017-09-15 18:58] rgee0 opened #191 "Amend CONTRIBUTING.md to mandate use of Fixes #issue"
Use of GitHub [keyword references](https://help.github.com/articles/closing-issues-using-keywords/) in PR descriptions and/or commit messages

## Expected Behaviour
GitHub has built in functionality which helps project maintainers manage issues.  Encouraging contributors to reference issues in their PR descriptions or or commit messages means that github will be able to automatically close the ass

[2017-09-15 19:01] alexellis commented on #191
Can Derek help with this?

[2017-09-15 19:02] rgee0 commented on #191
I thought he might like to check for 'Fixes #' (for example) and flag it if the PR doesn't apparently address an issue.

[2017-09-15 19:58] #191 closed

[2017-09-15 20:34] JockDaRock commented on #107
If you want to build it yourself you can try these commands in a [Play-With-Docker instance](http://play-with-docker.com).  This is assuming you don't want to change the flask app though... if you want to change the app you can do that after downloading the repo and doing the git checkout and the issue the remaining commands.

[code]

after a couple minutes, you can access the web page directly in

[2017-09-15 21:25] JockDaRock commented on #107
@e-beach, @aafrey, @johnmccabe if you want to give the above a try I would like to see what you think.

[2017-09-15 22:09] JockDaRock commented on #107
I have also done an implementation of the new flask support with my [Time2Code project](https://github.com/JockDaRock/Time2Code).  I was originally using a separate service to run my in-browser IDE alongside OpenFaaS.  Now the IDE (based in Flask) can be served up as a function.

if you want to try it out press the button ;)

[![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/a

[2017-09-16 00:19] aafrey commented on #107
@JockDaRock i'll run through this tomorrow! (9/15)

[2017-09-16 19:34] e-beach commented on #107
@JockDaRock
The Flask function works with GET requests, but isn't it supposed to work with POST requests?
The "invoke" button of http://pwd10-0-43-3-8080.host4.labs.play-with-docker.com/ui/ sends a post request to those URLs, so that doesn't work currently.

[2017-09-16 20:00] JockDaRock commented on #107
Hey @e-beach,
Thank you for testing! technically it does work with POST, it is just that Flask be is returning a 405. The function itself is working as far as OpenFaaS is concerned.

Mission, if you choose to accept it ;), Is modify the main flask route, @app.route('/'), to accept both GET AND POST methods in the app.py file and then redeploy the function. You should get a different result when yo

[2017-09-16 21:15] e-beach commented on #107
@JockDaRock Thanks!  I tested that change at https://github.com/e-beach/faas/commit/7fd943ace843e095fb3a65e965042ef25a81d923 and it behaves correctly.

[2017-09-16 21:40] JockDaRock commented on #107
Thank you @e-beach! YOU ROCK!! Your help is greatly appreciated.

If you have any ideas for flask apps we can demo, that would be great! There was a flask blog I was looking to deploy and demo, but either something like that or other applications would be great. Maybe you can pick something out and make it work. Thoughts?

[2017-09-16 22:10] e-beach commented on #107
@JockDaRock I could probably do that. One question would be what constitutes a good app - I'm thinking something simple, that most people familiar with Flask will appreciate. It'd be cool to do httpbin.org.

[2017-09-17 13:57] JockDaRock commented on #107
@e-beach So I did the httpbin.org app last week and changed and added some code to my fork of the [httpbin repo](https://github.com/JockDaRock/httpbin) under the faas_flask branch. I made some changes to make it work, but this particular app does highlights some interesting things about having flask as a function.

**Redirects basically don't happen.** This is due to the nature of the CGIHandler a

[2017-09-17 14:21] alexellis commented on #137
Merged. Thank you to everyone on the thread for your contribution and to @kenfdev for the PR.

[2017-09-17 14:21] #137 closed

[2017-09-17 16:15] alexellis commented on #127
We're trying to find the best time to set up this call, so keep an eye out on this thread. For current or prospective contributors we have a separate call happening Tuesday 19th September. Sign up for the contributors call by emailing alex@openfaas.com.

[2017-09-17 16:17] mjbright commented on #127
... unfortunate, I'll be presenting on Serverless Tuesday evening ;-)

On 17 September 2017 at 18:15, Alex Ellis <notifications@github.com> wrote:

[2017-09-17 18:26] e-beach commented on #107
I'll start working on doing a speed comparison of httpbin  with/without Fast Fork.

My impression is that, ideally, complete response information and redirects would be possible.
Amazon has a [blog](https://aws.amazon.com/blogs/compute/redirection-in-a-serverless-api-with-aws-lambda-and-amazon-api-gateway/) on how they implement redirects for Lambda. Something like that would be useful for faas.

[2017-09-17 18:28] alexellis commented on #107
We really do not need any speed testing doing on this until the work is completed. I haven't been able to add to help with being away. Can we focus on addressing the remaining issues?

[2017-09-17 18:31] e-beach commented on #107
Yes, but the remaining issues are also related to open-faas code.

On Sun, Sep 17, 2017 at 1:28 PM Alex Ellis <notifications@github.com> wrote:

[2017-09-17 19:31] JockDaRock commented on #107
Potentially if you think the core code changes I have made in addition to your changes @alex on the cgi_body branch, are good, I can do a pull request and we can merge the current changes and worry about the other issues in a different branch. Thoughts?

I feel like we have a lot of added enough functionality to make the UX for the flask developer easy enough.  We can always point out in the guide

[2017-09-17 20:56] alexellis commented on #107
The next couple of weeks are going to be tight on time and I need to catch up on the thread to see where we are and what changes were needed in FaaS, the Flask proxy and the watchdog . @e-beach @JockDaRock thanks for helping move this forward

[2017-09-18 02:33] ericstoekl opened #193 "Need to run ./build.sh for sample functions before they will work"
Is it intended that you need to run `./build.sh` in a directory of a function in the `sample-functions/` directory before the function will work? I set up a `.yml` file and ran `faas-cli build -f <>` on the function, and it did not work due to 500 internal server error. However, after I ran the `./build` file in the sample function (this one was `WebhookStash`), the function now works when deploye

[2017-09-18 08:03] alexellis commented on #193
Can you share the YAML file you generated? Perhaps the sample functions you tried out were not pushed to my remote Docker Hub account?

[2017-09-18 08:05] alexellis commented on #182
Initial work at - https://github.com/alexellis/nodejs-afterburn

[2017-09-18 14:26] aafrey commented on #107
@JockDaRock played with this this weekend. very cool! first time looking at your time2code project too, but that looks great 👍

[2017-09-18 16:39] JockDaRock commented on #107
Hey @aafrey Thank you for taking a look at the Flask updates...

I think once we have Flask usage ready for the Python Flask community to try, it will be a big win for OpenFaaS

if you wanted to take a look at a demo of a more complicated flask application, please use this PWD button... [![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/assets/images/button.png)](http://play-wi

[2017-09-18 18:27] nullseed commented on #157
What would also be a nice feature would be the ability to add custom headers to the response for example `Cache-Control` or `Content-Type`. I had a couple of ideas how this could be done, one of which is to follow the CGI/FastCGI approach of writing the entire HTTP response out. This does however have the disadvantage of complicating writing a simple response out but @alexellis i know you're worki

[2017-09-18 18:35] alexellis commented on #157
Yes - fast fork allows full headers to be passed in either direction including error codes. It comes at a cost to the maintainers of the project but not to the consumer. The consumer would likely write the same handler they do today with the regular CGI.

This approach cannot be used when running binaries unless shell-script trickery is created too.

[2017-09-18 18:47] alexellis commented on #157
This is an example of how I did it for my Dockercon demos - https://github.com/alexellis/faas-dockercon/blob/master/GetAvatar/handler.py

[2017-09-18 22:03] ems5311 commented on #193
I created my own YAML file, named the image something like
`eric/webhook-stash`. I was under the impression that if the image does not
exist, it would be built by the `faas-cli build` command. Is this not the
case? Does the image need to be built first?

Thanks,
Eric

On Mon, Sep 18, 2017 at 1:03 AM, Alex Ellis <notifications@github.com>
wrote:

--
Erich Stoekl

[2017-09-19 00:19] alias1 commented on #176
While this would likely take a pile of effort, as @alexellis mentioned, it's something that would be pretty cool IMO.

I wonder if this information could be 'derived' through some base pricing, and some more detailed metrics collected around the function execution.

For example, it might not be possible/practical to say the exact cost to run on EC2/similar given spot pricing/changes/etc. But it mi

[2017-09-19 03:14] alias1 opened #195 "Return a HTTP error response when 'MakeNewFunctionHandler' logs an error"
## Expected Behaviour

When an error is encountered while deploying a function to a non-existent network, the gateway should return a corresponding error response so that `faas-cli` can properly pick it up.

## Current Behaviour

An error is logged in the gateway logs, but `faas-cli` receives a `200` response, indicating success. Not sure if this happens in other places. May be worth a quick check

[2017-09-19 04:07] alias1 commented on #195
ping @ems5311 RE: https://github.com/ems5311/faas/blob/fbe19240a67f7b24c2862f1e1ad6a024d9455125/gateway/handlers/createhandler.go#L57

[2017-09-19 05:58] ems5311 commented on #193
Here is my YAML file. The sample function was not pushed to docker hub, but I ran `faas-cli build` first which normally creates the proper docker image for me, which is ready to deploy

[code]

[2017-09-19 07:57] undernewmanagement commented on #167
@alexellis you mentioned earlier that you read where kong could be used with an in-memory database. I can only find references to cassandra and postgres (i use the latter). Would you happen to remember where you read that?

[2017-09-19 09:32] alexellis commented on #167
@undernewmanagement sure it was via the Kong team and it is not available for testing yet. When it is I think we should switch so we can drop the heavy-weight relational DB.

[2017-09-19 11:13] alexellis commented on #193
That is not the image name, it's functions/webhookstash:latest. But generally yes - unless you know the exact image name it's always worth building samples first.

Would you be open to write a YAML file to build all the sample functions?

[2017-09-19 15:47] ericstoekl commented on #193
Just created the YAML file in my branch: https://github.com/ericstoekl/faas/blob/7a635b6cee7790acc922f7d921d6d005c5da756e/sample-functions/sample-functions.yml

Question: It seems like many of the sample functions (ex. NodeInfo, ResizeImageMagick, WebhookStash) require running `./build.sh` before they will work. Is there a way we can have the Dockerfile run the `build.sh`, or run the same function

[2017-09-19 16:08] coopr commented on #167
Hi, I'm the Product Manager at Mashape / Kong. Currently Kong requires either Postgres or Cassandra. Someday we may support other datastore options.

[2017-09-20 15:13] hcguersoy opened #198 "docker-compose.yml uses depends_on (which is ignored by stack deploy)"
In the version _47d0fdcf_ of the file [faas/docker-compose.yml](https://github.com/alexellis/faas/blob/47d0fdcf6cc23612f246094c193fd8a1de7fd94d/docker-compose.yml) in several services `depends_on` is used.
In [deploy_stack.sh](https://github.com/alexellis/faas/blob/47d0fdcf6cc23612f246094c193fd8a1de7fd94d/deploy_stack.sh) this file used with `docker stack deploy`.
Unfortunately the compose file re

[2017-09-20 15:25] alexellis commented on #198
So we've not run into those issues yet, but the services have a restart policy which should allow them to be rescheduled. 3.x is needed for Swarm secrets - do you have any other suggestions?

[2017-09-20 15:42] hcguersoy commented on #198
Maybe using something like [vishnubob/wait-for-it](https://github.com/vishnubob/wait-for-it) or [jwilder/dockerize](https://github.com/jwilder/dockerize) in the services which are depending from e.g. _gateway_, simply waiting for a reachable port.

[2017-09-20 15:55] alexellis commented on #195
The code is fixed in the server, but I think we're working on UI enhancements too. @ericstoekl @nullseed ?

[2017-09-20 15:55] alexellis commented on #186
Thanks to everyone who attended! If you're on Slack and want the recording or notes - join #contributors.

[2017-09-20 15:56] alexellis commented on #182
Ping @genexp

[2017-09-20 16:03] nullseed commented on #195
@alexellis Yep, i'll be commiting the UI enhancements tonight

[2017-09-20 19:26] hcguersoy commented on #198
p.s.: another alternative would be to implement the [circuit breaker pattern](https://martinfowler.com/bliki/CircuitBreaker.html) in the containers which use e.g. gateway.

[2017-09-21 08:50] alexellis commented on #198
@johnmccabe @rgee0 - should we drop the depends_on then?

[2017-09-22 08:09] alexellis opened #202 "Proposal: Support ARM64"
## Expected Behaviour

Integration for SoC  boards - Packet.net and Scaleway.

## Current Behaviour

Not officially ported and made available in the project

## Possible Solution

* Create a base Golang builder image
* Port the gateway and other Golang components
* Port Prometheus, NATS Streaming and AlertManager

Issues:

* Lack of availability of official matching images from Docker Hub.
* Proje

[2017-09-22 08:12] alexellis commented on #202
![1](https://user-images.githubusercontent.com/6358735/30735175-e8aad606-9f75-11e7-8b93-543061852316.gif)

![2](https://user-images.githubusercontent.com/6358735/30735217-1702b4ce-9f76-11e7-8257-ecafba228165.gif)

[2017-09-22 10:27] vielmetti commented on #202
The Prometheus issue is https://github.com/prometheus/prometheus/issues/3203

[2017-09-22 10:29] vielmetti commented on #202
One "official matching issues" question is Alpine multiarch for Docker https://github.com/gliderlabs/docker-alpine/issues/304

[2017-09-22 14:19] jmkhael opened #205 "Proposal: provide solution so the secrets don't end up in source control"
## Expected Behaviour
Add support for adding secrets, without having to commit them to GitHub

## Current Behaviour
Currently, the only way to add secrets is within a stack YAML file.
I cannot just add it to .gitignore, as I need this to build/deploy/...

This usually implies inadvertent commits of secrets in GitHub (slack tokens, mino credentials...)

## Possible Solution
* support secrets or vau

[2017-09-22 14:26] alexellis commented on #205
How does this look that I did on my lunch break? https://github.com/alexellis/faas-cli/pull/110

It's available for testing if you can pull and rebuild the `env_file` branch

[2017-09-22 15:05] jmkhael commented on #205
Hello @alexellis this works.

One question though, do we have to add the **environment:** part in each file?

**login.yml**
[code]

[2017-09-22 17:46] alexellis commented on #205
I think it's explained in the PR.. did it make sense?

[2017-09-23 14:19] vielmetti commented on #202
A second issue is that `gateway/Dockerfile` references a non-multiarch `golang` image.

[2017-09-23 14:34] alexellis commented on #202
There is no multi-arch image for Golang, so we are using a contrib model temporarily. Building Golang isn't a problem for getting to a PoC.

[2017-09-23 23:02] johnmccabe commented on #205
Derek add label: proposal

[2017-09-23 23:04] johnmccabe commented on #193
Derek add label: question

[2017-09-23 23:05] johnmccabe commented on #195
Derek add label: enhancement

[2017-09-23 23:06] johnmccabe commented on #202
Derek add label: proposal

[2017-09-23 23:12] johnmccabe commented on #198
Yep, they're ignored as @hcguersoy points out. Docker are pushing stack users towards using healthchecks and fault tolerant service implementations - ie you shouldn't blow up when a service you depend on isn't there, you should just wait for it to appear.

[2017-09-23 23:13] johnmccabe commented on #198
Derek add label: proposal

[2017-09-24 03:45] leenux opened #209 "How to deploy execute program by faas-cli?"
After deploy faas stack and success can access by localhost:8080/ui/, I already build execute program by host's go build and it isn't docker's
```$ curl localhost:8080/function/func_faas1```
The echo was null
## Expected Behaviour

Should return ```Hello!``` but return null

Need document about deploy bin execute.
## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.main

[2017-09-24 04:48] austinfrey commented on #209
Someone with more Go knowledge can step in if I'm off base but it doesn't look like your function is reading from STDIN. have you seen this Go example? Might provide some insight https://github.com/alexellis/faas/tree/master/sample-functions/BaseFunctions/golang

[2017-09-24 05:41] leenux commented on #209
@austinfrey
Hi,
Thank you first.
https://github.com/alexellis/faas/tree/master/sample-functions/BaseFunctions/golang
used container's golang compiler and I want to use host's golang compiler.somewhat different

[2017-09-24 08:27] alexellis commented on #205
@jmkhael yes every external file will look like that:

[code]

[2017-09-24 08:27] alexellis commented on #205
Implemented in https://github.com/alexellis/faas-cli/pull/110

[2017-09-24 08:28] #205 closed

[2017-09-24 08:29] alexellis commented on #198
@hcguersoy if you'd like to submit a PR with those removed for docker-compose.* we'll merge it 👍

[2017-09-24 08:31] alexellis commented on #209
Hi @leenux thank you for trying out OpenFaaS - the good news is that you've got a function working 👍

The functions can only be invoked by POST, so if you want to use curl then type in:

[code]

[2017-09-24 08:32] alexellis commented on #209
Also if you use the FaaS-CLI then you never have to edit the docker-compose.yml file again:

[code]

Find out more about the CLI here - https://blog.alexellis.io/quickstart-openfaas-cli/

[2017-09-24 10:05] alexellis commented on #123
All repos moved to https://github.com/openfaas

[2017-09-24 11:38] vielmetti commented on #202
Regarding nats, an open issue for multiarch support in their Docker Hub manifest is here: https://github.com/nats-io/nats-docker/issues/12

[2017-09-24 11:44] leenux commented on #209
@alexellis
Hi,
Yes,it work fine
Thank you.

[2017-09-24 12:22] alexellis commented on #209
Great! Please ask again if you have questions

[2017-09-24 12:22] #209 closed

[2017-09-24 18:04] hcguersoy commented on #198
@alexellis If I find some time I'll create a PR involving some changes making the components somewhat resilient and removing the `depends_on` directives in the compose file.

[2017-09-24 18:23] alexellis commented on #198
Thank you 👍 NATS for instance already has retry logic in place in docker-compose.extended.yml

[2017-09-24 22:43] jonocodes opened #212 "Document: Kong integration using Kubernetes"
Now that we have a Kong guide using swarm here:
https://github.com/openfaas/faas/blob/master/guide/kong_integration.md

lets updated it to show how this can be done with Kubernetes.

[2017-09-25 00:00] ericstoekl opened #213 "'500 Internal Server Error' recieved when POSTing to function that has environment variables set in the YAML"
I was trying out the `environment:` YAML element to set environment variables in the deployment file. However, it causes some problems for me. When I deploy the following function:

[code]

When I go to use this function (`cat file.mp4 | faas-cli invoke -f file.yml`) I always get a `500 Internal Server Error` response from the function. When I remove the environment variables `read_timeout: 65` an

[2017-09-25 00:12] alexellis commented on #213
Environmental variables are used widely so it might be something more subtle. Also check the function logs.

Check the service, deployment logs and gateway logs.

Is this a local or remote cluster? What backend are you using? (Issue template asks for this info)

[2017-09-25 02:43] ericstoekl commented on #213
Updated the original post with Environment info. This error is seen when trying to access the function locally (localhost:8080/) or remotely.

I checked the logs for `docker service logs func_gateway` and `docker service logs gif-maker` and both don't show any info. `func_gateway` logs show the function being called, but no errors. `gif-maker` only shows the `Writing lock-file to: /tmp/.lock` line

[2017-09-25 07:32] alexellis commented on #213
Yes I shared instructions for this with the group yesterday https://gist.github.com/alexellis/cd50a1d957702164e1a830ed42d993d4

[2017-09-25 07:32] #213 closed

[2017-09-25 07:46] imeoer opened #214 "Implement strict RESTful API"
## Expected Behaviour

The API definition of gateway and provider should be more in line with the RESTful semantic specification.

## Current Behaviour

// List of deployed functions.
`GET /system/functions`
-> 200 Ok

// Deploy a new function.
`POST /system/functions`
-> 200 Ok

// Remove a deployed function.
`DELETE /system/functions`
-> 200 Ok
-> 404 Not Found

// Invoke a deployed function.
`P

[2017-09-25 08:27] alexellis commented on #214
Can you do a current behaviour vs expected for this please?

[2017-09-25 08:50] imeoer commented on #214
@alexellis Updated. where is the `UPDATE` definition in the Swagger doc?

[2017-09-25 09:09] alexellis commented on #214
It is currently in progress in #208 @johnmccabe can you also update the Swagger when you have time?

[2017-09-25 10:35] imeoer commented on #214
@alexellis I will try to update once have time.

[2017-09-25 11:08] markboost commented on #172
@johnmccabe As discussed, it would be great to add a Civo to this list.

The guide below would also in theory would with any Openstack provider, as it's using the Openstack API. Feel free to use it.

https://www.civo.com/learn/kubernetes-and-openfaas-using-terraform

[2017-09-25 11:16] alexellis commented on #172
We've merged the link into the community guide :+1:

[2017-09-25 16:39] george-polevoy opened #218 "There are no clear installation instructions"
It is misleading, as it leads to an online playground.

[2017-09-25 16:48] alexellis commented on #218
How is this? https://github.com/openfaas/faas/blob/master/guide/deployment_swarm.md

[2017-09-25 16:52] #218 closed

[2017-09-25 23:39] johnmccabe commented on #214
Derek add label: proposal

[2017-09-25 23:40] johnmccabe commented on #212
Derek add label: proposal

[2017-09-26 00:54] johnmccabe opened #221 "Add favicon to UI"
## Expected Behaviour

The UI currently doesn't include an OpenFaaS favicon, it should have a favicon.

## Current Behaviour

Accessing the UI from a browser/phone/tablet should result in a platform appropriate favicon being presented to the user.

## Possible Solution

Generate a favicon with https://realfavicongenerator.net/ and add to index.html.

## Steps to Reproduce (for bugs)

n/a

## Conte

[2017-09-26 00:54] johnmccabe commented on #221
Derek add label: proposal

[2017-09-26 08:32] alexellis commented on #221
Merged. Looking forwarding to seeing it in the next release.

[2017-09-26 08:34] alexellis commented on #214
How can a GET form a bad request in this instance?

// List of deployed functions.
GET /system/functions
-> 400 Bad Request
-> 200 Ok

[2017-09-26 09:24] #221 closed

[2017-09-26 11:06] alexellis opened #223 "Research item: Remote debugging"
Research into debugging deployed functions remotely.

Idea - if a function container image contains additional tools and exposes an additional port then breakpoints can be set and hit and a remote debugger can be attached.

Workflow - configure metadata - build image, deploy function, open VSCode and attach to remote debugger. Hit breakpoint inspect values etc and disconnect.

Initial languages to

[2017-09-26 16:14] alexellis commented on #175
Related - multi-tenancy for Kubernetes backend - https://github.com/openfaas/faas-netes/issues/20

[2017-09-26 16:30] alexellis commented on #193
That YML file looks great. Will try building them all in parallel later

[2017-09-26 21:05] itscaro opened #227 "Migrate all imports/references to OpenFaaS org"
Rename owner from alexellis to openfaas org

[2017-09-26 22:04] johnmccabe commented on #227
Derek add label: duplicate

[2017-09-26 22:05] johnmccabe commented on #227
See #123

[2017-09-26 23:50] johnmccabe commented on #123
@alexellis can you change the description to a checklist, nicer way of letting people see what is/isn't done

[2017-09-27 09:55] #227 closed

[2017-09-27 14:20] austinfrey opened #229 "Document: Traefik integration for Docker Swarm"
## Expected Behaviour

Add documentation to add Traefik as an API gateway providing Basic Authentication to the Gateway and SSL

## Current Behaviour
Without and Basic Authentication, OpenFaaS is open the the public internet

## Possible Solution
Provide documentation similar to Kong to add another option for Basic Auth and SSL

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?
Docker Swarm

[2017-09-27 14:31] alexellis commented on #229
How would this differ to the Kong guide?

Do you have pros/cons of using either?

[2017-09-27 14:33] austinfrey commented on #229
I updated with Pros and Cons

[2017-09-27 15:35] austinfrey commented on #229
i have a write up for the Basic Auth piece here: [traefik integration](https://github.com/austinfrey/faas/blob/traefik_integration/guide/traefik_integration.md)

Tried to follow the same style as other guides. I'll write up the SSL piece later today.

[2017-09-28 03:56] imeoer commented on #214
@alexellis Right, updated. :)

[2017-09-28 15:39] asimashfaq opened #230 "Support request - re: Cross Origin"
Need help regarding Cors Origin

[2017-09-28 17:11] alexellis commented on #230
Hi @asimashfaq I'm not sure what you are looking for. Please can you explain what the problem is or what you need?

[2017-09-28 21:11] austinfrey opened #232 "Proposal: Standardized OpenFaaS Github Badges for related repositories"
The idea would be to create standardized GitHub badges for related projects on GitHub. Something like this:
![OpenFaaS](https://img.shields.io/badge/openfaas-v0.6.5-blue.svg)

We could have different ones to label projects as OpenFaaS compatible `functions` or a project that's in an `incubator` phase of development, or even certified `provider` badges. I wanted to open up the discussion for additi

[2017-09-28 21:59] alexellis commented on #223
Derek add label: hacktoberfest

[2017-09-28 21:59] alexellis commented on #214
Derek add label: hacktoberfest

[2017-09-28 21:59] alexellis commented on #212
Derek add label: hacktoberfest

[2017-09-28 21:59] alexellis commented on #202
Derek add label: hacktoberfest

[2017-09-28 22:00] alexellis commented on #182
Derek add label: hacktoberfest

[2017-09-28 22:00] alexellis commented on #149
Derek add label: hacktoberfest

[2017-09-28 22:00] alexellis commented on #108
Derek add label: hacktoberfest

[2017-09-28 22:00] alexellis commented on #117
Derek add label: hacktoberfest

[2017-09-28 22:03] alexellis opened #233 "Proposal: ECS OpenFaaS provider"
In the same vein as a Kubernetes, Nomad and Docker Swarm integration I'm hearing from folks at JeffConf that an ECS provider would be useful for them to bypass some of the Lambda limitations without having to learn K8s or Swarm. @stack360 has started some initial work as his 20% project at Huawei.

https://github.com/stack360/faas-ecs

[2017-09-28 22:03] alexellis commented on #233
Derek add label: hacktoberfest

[2017-09-28 22:07] alexellis opened #234 "Proposal: Kafka queue-worker"
In a similar vein to [openfaas/nats-queue-worker](https://github.com/openfaas/nats-queue-worker), we should support Kafka (initially a set topic/partition) as a back-end for asynchronous process and model the NATS Streaming implementation.

Notes:
* Kafka runs its own cluster with zookeeper as an additional dependency
* Kafka complexity is several times greater than NATS Streaming
* Needs a new re

[2017-09-28 22:07] alexellis commented on #234
Derek add label: hacktoberfest

[2017-09-28 22:09] alexellis opened #235 "Release Docker images upon tag pushed"
* Upon successful builds, release a Docker image with the corresponding tag.

This should cover openfaas/faas, openfaas/faas-netes and openfaas/nats-queue-worker ideally via Travis or Docker Hub.

[2017-09-29 03:05] BurtonR commented on #235
Hi Alex,
I'm just started using this project and would love to help out for Hacktoberfest!

Just to be sure I know what you're expecting here, you want Travis-CI to push a docker image with the git commit tag as the image tag to Docker Hub.

Would you want also want a `:latest` tag as well?

For the other projects, faas-netes and nats-queue-worker, are you going to open issues on each of those pro

[2017-09-29 04:44] austinfrey commented on #223
So this is a little rough, but it could be a start.

Using Node 8+ I was able to add debugging with Chrome dev-tools by exposing a new port and overriding the default `fprocess` with a new one.

I used the Node template from the CLI but swapped the base image for Node 8 to make use of the `--inspect-brk` flag, added the function to the `docker-compose.yml` and added the additional port mapping and

[2017-09-29 06:38] alexellis opened #236 "Hacktoberfest"
We've created and marked some of the issues as #hacktoberfest across all the repos in the organisation.

If contributors have ideas please add them in this thread for consideration as #hacktoberfest items. Ideas include:

* UI tweaks
* PoCs - i.e. helping the faas-ecs implementation move on
* Blogging / guides
* CLI enhancements

and whatever else you have in mind.

Open issues:

* https://github.

[2017-09-29 08:29] alexellis opened #237 "Test and write brief guide to running OpenFaaS on GKE"
Test and write brief guide to running OpenFaaS on GKE.

I imagine this will work more or less out of the box, but haven't had time to try it yet.

[2017-09-29 08:35] alexellis opened #238 "Research item: Scale to zero and back again"
This is a research item or PoC - not necessarily going to be merged into the project. The aim is to learn about challenges and trade-offs about scaling to zero and back again.

## Expected Behaviour

Given a service has been scaled to zero replicas, upon synchronous or asynchronous invocation we should increase the replica count to 1/1 and then wait until the function is ready and invoke it.

## C

[2017-09-29 08:36] rawkode commented on #237
I'll pick this up :+1:

[2017-09-29 09:46] zouyee commented on #127
I'm interested too !

[2017-09-29 10:52] alexellis opened #239 "Backlog: User-configureable memory/RAM limits per function"
## Expected Behaviour

With some back-ends a hard-coded memory limit is needed - we should be able to set this at deployment time by passing additional parameters.

## Current Behaviour

Leave unbounded or set a hard-limit

## Possible Solution

For DC/OS in particular - memory limits need to be set - so we'd pass additional data in the Create/Deploy endpoint.

Individual providers can opt in or i

[2017-09-29 11:09] theobouwman opened #240 "Stop openfaas"
How to kill all processes?

[2017-09-29 14:11] kenneyhe commented on #240
I stop it through kitematics' stop container

[2017-09-29 14:38] alexellis commented on #240
Derek add label: question

[2017-09-29 14:39] alexellis commented on #240
Please start here and if you have further questions, reply here. https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

I'll close the issue since we've answered the question.

[2017-09-29 14:39] #240 closed

[2017-09-29 14:51] alexellis commented on #232
Let's do it. The version number would be hard to maintain/keep up. What other text could we use?

[ openfaas | node/Docker/mixed ] ?

[2017-09-29 15:09] austinfrey commented on #232
Just to get a list going and see what sticks

`openfaas | <runtime> ` for functions like you mentioned
`openfaas | provider` for things like swarm, k8's, cattle, hyper.sh etc
`openfaas | <certification level>` - meet certain testing criteria

definitely open to suggestions

[2017-09-29 15:12] alexellis opened #242 "Hacktoberfast - provide guide for self-hosted registry"
For Hacktoberfast

We could do with a guide for running the open-source self-hosted registry with OpenFaaS and Docker Swarm. Also Kubernetes via https://github.com/openfaas/faas-netes/issues/32

[2017-09-29 15:13] alexellis commented on #242
Related via @johnmccabe  - https://gist.github.com/johnmccabe/55baab605c0fb82df9c1cbf8c3dde407

[2017-09-29 16:20] ericstoekl commented on #223
With some help from Austin I figured out how to do this in Python. I created a python function, and modified it to look like this:

https://github.com/ericstoekl/misc-functions/blob/master/python-dbg/handler.py

Then I built the function into a docker image.

Next I re-deployed the whole swarm, modifying `docker-compose.yml` appending the function to the list of `functions:`

[code]

After the sta

[2017-09-29 20:42] rgee0 commented on #236
Function invocation scheduler.
UI enhancements to configure such a scheduler.

[2017-09-29 20:45] austinfrey commented on #236
@rgee0 i had a preliminary function scheduler working with redis if you wanted to check it out https://github.com/austinfrey/skej

[2017-09-30 02:01] leenux opened #244 "How to integrate 3rd libs that have log or debug with themself"
If the 3rd libs's debug log output to console,Hope to ignore these console output.
How to deal with it?
No inspiration or ideas were found with #11 #157 #53

[2017-09-30 02:32] e-beach commented on #244
I don’t think openfaas can deal with this problem, since we rely on your handler to control console output. There are often tools to suppress console output in the language you are dealing with (e.g., in
 [JavaScript](https://stackoverflow.com/questions/1215392/how-to-quickly-and-conveniently-disable-all-console-log-statements-in-my-code)).
Alternatively you can write a wrapper script around your

[2017-09-30 02:57] leenux commented on #244
@e-beach
Hi,
Thank you.
It looks like that need to switch between redirection and normal output repeatedly.

[2017-09-30 06:36] alexellis commented on #223
The issue I ran into with debugging was:

* Deploy the function (fprocess hasn't been run yet)
* Hit function over HTTP (function forks - starts, then runs then stops)
* Then try to attach debugger, but process has already finished

The afterburn example re-uses the process so that could be a way of debugging since when you attach the process is already running and will stay running. Otherwise som

[2017-09-30 06:38] alexellis commented on #244
All messages written to `stdout` and `stderr` will be returned as part of the function response. There is a possibility that we can add a "mode" to only return data printed to `stdout`. What library are you struggling with @leenux ?

[2017-09-30 06:50] alexellis commented on #237
Thanks. I suspect the use of a `LoadBalancer` will be needed like: https://github.com/openfaas/faas-netes/blob/master/cloud/azure/acs.yml

[2017-09-30 11:49] austinfrey commented on #223
Using the `inspect-brk` flag in node stops the node function before it runs, so you have all the time you need to attach and step through the function. So I'm not sure if there would be a standard way of implementing this across languages?

[2017-09-30 14:54] alexellis opened #245 "Multi-platform: Use tempdir() from Golang instead of /tmp"
This is a change for the watchdog.

We write a lock-file to `/tmp/` and have to disable it for Windows (via `suppress_lock`) since it is an invalid path. If we use Golang's tempdir() method in `os` then we should never need to use the `suppress_lock` configuration.

[2017-09-30 15:51] benjic commented on #245
Would a contributor need access to a windows machine in order to test the changes?

[2017-09-30 15:52] alexellis commented on #245
I.e. An azure VM or Vagrant box would do fine too.

[2017-09-30 19:01] kenneyhe commented on #232
Since we are talking about badges, is there a code coverage badge for the python component? unittest coverage will be great.  I am using coverall.io my other projects.. nosetests/pytest with circleci /codeship might be nice..

[2017-09-30 23:29] e-beach commented on #108
I wasn't working on this for a while while I figured things out, going to come back to this now.

[2017-10-01 07:28] alexellis commented on #245
Change would go here:

https://github.com/openfaas/faas/blob/master/watchdog/main.go#L258

TempDir function:

https://godoc.org/os#TempDir

Suggestion by @jstarks

[2017-10-01 10:30] kenfdev commented on #223
Following @austinfrey 's steps, I've confirmed debugging works with VSCode, too. The `launch.json` will look like this:

[code]

Be sure `localRoot` and `remoteRoot` match.

![image](https://user-images.githubusercontent.com/3941889/31053716-d0b58c56-a6de-11e7-813f-abd63f8a544d.png)

[2017-10-01 13:40] rgee0 opened #247 "functions/gateway:armhf-0.6.5 exits/fails on PiZero"
## Expected Behaviour
Gateway UI on ARM should be consistent with that of X86-64.

## Current Behaviour
The UI is dated on ARM such that the OpenFaaS branding is not yet reflected.
`docker-compose.armhf.yml` needs amending to pull in a later gateway image.  However, upon trying this `functions/gateway:armhf-0.6.5` was found to be failing on ARMv6 with the following error:
[code]
Further investigat

[2017-10-01 13:40] rgee0 commented on #247
Derek add label: bug

[2017-10-01 14:26] alexellis commented on #247
I think this still works on RPi2/3 but is only built on manual best-effort basis. We may have to deprecate Pi Zero to enable CI to keep in sync with main releases.

Were you able to rebuild from scratch? Did it all work as expected?

[2017-10-01 14:29] rgee0 commented on #247
Yes, I got it going, seems OK - certainly looks nicer.

[2017-10-01 18:40] e-beach commented on #108
@alexellis
I'm having trouble understanding what this has to do with the watchdog.
If we configure a request in the Probe section of the container, kubernetes will periodically ping the container, but the proxy only involves POST requests, so when does the watchdog code need to be changed?
Healthcheck:
https://github.com/e-beach/faas-netes/blob/b1fde54e1e62f0a108a017f31a2307346a6db698/handlers/dep

[2017-10-01 18:45] austinfrey commented on #223
@alexellis i could add this to the NodeJS starter guide if you'd like?

[2017-10-01 19:17] austinfrey commented on #223
thanks for testing @kenfdev , @alexellis if this is the route we want to take for NodeJS would it be helpful to add ti to the NodeJS starter guide, or would it be best as a a separate guide?

[2017-10-01 20:21] alexellis commented on #230
@austinfrey I'll close this issue in a couple of days if we don't hear from @asimashfaq - but do you have any ideas what this could be about?

[2017-10-01 20:22] alexellis commented on #185
This needs additional testing on K8s/Swarm then we can close out the issue. @johnmccabe @ericstoekl @rgee0

[2017-10-01 20:23] alexellis commented on #198
Hacktoberfest - remove all `depends_on` metadata in compose files.

[2017-10-01 20:28] fharding1 commented on #245
@alexellis I believe this issue can be closed Since PR #246 was merged.

[2017-10-01 20:33] alexellis opened #249 "Consolidate arm build/deploy scripts"
## Expected Behaviour

`./build.sh` should work for ARM/x86_64 etc
`./deploy.sh` should work for ARM/x86_64 etc

## Current Behaviour

`./build.armhf.sh` is needed along with `./build.sh` for x86_64.

A separate deployment script is also needed - this should be consolidated. See #248 for an example of a technique for this work.

[2017-10-01 20:34] vielmetti commented on #236
Multiarch support, so that OpenFAAS runs everywhere Docker runs. Hopefully some IBM'ers could be called into service to get it running on Power and s390, and I'm happy to help with the armhf and arm64 side of things.

The main blocker for this one is https://github.com/gliderlabs/docker-alpine/issues/304 which is being addressed by https://github.com/gliderlabs/docker-alpine/pull/337 which is nati

[2017-10-01 20:35] alexellis commented on #236
In terms of a scheduler - if we do make this, it should be a Golang service which is deployed alongside the gateway. We need to dig into why `cron` is discouraged in containers etc.

[2017-10-01 20:36] alexellis commented on #236
I don't have access to IBM Power or s390 hardware, but armhf has support (with manual builds) and ARM64 is partially ported. I'd like to make the armhf builds automated which may involve paying for a Scaleway instance.

[2017-10-01 21:08] alexellis commented on #108
Ping the watchdog how? We do not want to invoke the function to check it for readiness. This is what I'd expect would be needed:

* A new healthz route for the watchdog.
* A Kubernetes configuration to add readiness probe to the deployment / pod spec

[2017-10-01 21:23] austinfrey commented on #230
@alexellis @asimashfaq
the only time I've seen an issue with this is when running the OpenFaaS service on one domain, and making a request to it from the browser on another. I believe you could fix this by running Nginx in front of the gateway and configuring cors settings to allow for cross origin requests. Unsure if that's the question though

[2017-10-01 21:27] alexellis commented on #245
It is merged and released in 0.4.17.. let's download it and give it a shot on Windows 👍

[2017-10-01 21:27] #245 closed

[2017-10-01 21:31] alexellis commented on #245
MacOS:

[code]

Linux container with (Alpine):

[code]

[2017-10-02 07:14] alexellis commented on #223
I think we still need additional research since doesn't this currently require us to `docker run` rather than deploy via the gateway?

[2017-10-02 07:21] asimashfaq commented on #230
@austinfrey  got it. I fix that by adding the cors support in the gateway

[2017-10-02 07:23] asimashfaq commented on #230
@actuino  Thanks for the suggesting. I would use this method.

[2017-10-02 07:24] asimashfaq commented on #230
I would be happy if give support in the gateway and we didnt have to setup Proxy in the Nginx.

[2017-10-02 07:46] alexellis opened #251 "Hacktoberfast: Make read_/write_debug false in watchdog"
## Expected Behaviour

Functions should not write their input/output (request/response values) to the console by default.

If this change is put in place, then we should at least print something to show a request was handled, but on a single line and not N lines. Imagine if your function returned 5k lines of text.

## Current Behaviour

The watchdog has `read_` and `write_debug` on by default and

[2017-10-02 08:40] alexellis commented on #230
What is your solution / architecture like @asimashfaq ?

It'd be good for us to understand more detail here so we can understand whether we need to make any changes to docs/code.

[2017-10-02 17:12] BurtonR commented on #251
I'd like to try my hand at this one. Sounds easy enough to reproduce and just enough to get my feet wet in the code base to get me up to speed for future contributions.

To be clear, the default behavior will be changed from printing all lines, to a single line in the log. The `read_` and `write_debug` will retain the option to be turned on.

[2017-10-02 17:31] iampeterbanjo commented on #149
What else is needed to close this issue?

[2017-10-02 19:19] alexellis commented on #149
Hey @iampeterbanjo are you thinking of helping out for Hacktoberfest? I think you'd need to compare notes with @Gnep and Song Yong over on their repo - http://github.com/hyperhq/faas-hyper

Testing would be good as a starting point 👍

[2017-10-02 19:52] alexellis opened #252 "Client-side validation for "New Function""
## Expected Behaviour

On the API gateway, you should not be able to click "Create/New" if the image field is invalid (red). There is some work to do server validation underway in #199 - but the UI should also stop this.

I think the button / click needs to look at the "state" of the model to see if it's valid before allowing the click. The red colouring in the UI indicates the validation is worki

[2017-10-02 19:55] alexellis commented on #195
@alias1 - fixed in #195. Can you test?

[2017-10-02 20:48] nullseed commented on #195
@alexellis - I think think you mean fixed in #199 rather than #195

[2017-10-02 20:51] alexellis commented on #251
Yes that's right. The single line would maybe say how many bytes were read or written if that's easy to do.

[2017-10-03 01:46] austinfrey commented on #182
@alexellis you mentioned the initial parser needed some improvements? if you could elaborate a bit, I could try and make some headway

[2017-10-03 04:31] asimashfaq commented on #230
I am Team Lead at Expanse.org and we are building our backend using openfaas. We are building different products and our api will be publicly available for 3rd Party Websites/App to use. We build the service on openfaas and try to use in different websites it was giving cors-origin error. I want we should able to set cors-origin option while deploying  the function in the gateway.

[2017-10-03 04:37] iampeterbanjo commented on #149
hi @alexellis yes I'm thinking of contributing as part of Hacktoberfest. Looking at Hyper's repo what's left seems to be adding new features so I think I might be getting in over my head :-)

[2017-10-03 04:53] austinfrey commented on #230
@asimashfaq would it be possible to set the cors policy with a reverse proxy like nginx? Or is this something you would want the gateway to handle?

[2017-10-03 05:13] asimashfaq commented on #230
@austinfrey  i want the gateway to handle also what options for the SSL in the gateway we have. Right now i made the change in server.go for CORS .and make it work

[2017-10-03 05:35] austinfrey commented on #230
@asimashfaq currently SSL can be implemented with third party API gateways like Kong, Nginx,  or Traefik. There is currently a guide detailing Kong instructions here: https://github.com/openfaas/faas/blob/master/guide/kong_integration.md

[2017-10-03 06:37] asimashfaq commented on #230
Yes i know about that.

[2017-10-03 08:31] alexellis commented on #182
Hi - they are using a buffer that assumes each "data" element received is a whole payload. Instead it needs to buffer until "done" using some kind of "peaking".

https://github.com/alexellis/nodejs-afterburn

[2017-10-03 08:39] alexellis commented on #123
Welcome to the OpenFaaS community 👍 💯

[2017-10-03 08:39] #123 closed

[2017-10-03 09:13] alexellis commented on #230
We need a setup we can reproduce the error with. If you can detail it or setup a quick GitHub repo we'll take a look. I would suggest covering your endpoints with Kong or NGinx as a matter of course anyway - you will need that for TLS.

[2017-10-03 09:14] alexellis commented on #149
We have other areas that might be easier for you to get involved with. Please browse issues here and on the openfaas/cli project.

[2017-10-03 09:19] alexellis commented on #167
I'll close this issue since we now have a guide in /guide/ by @jonocodes - I'll also mark #revisit since Mashape have agreed to write a specific integration in Q1 2018.

[2017-10-03 09:19] #167 closed

[2017-10-03 09:19] alexellis commented on #167
Derek add label: revisit

[2017-10-03 09:19] asimashfaq commented on #230
Well openfaas is  on machine 192.168.1.20 and i make the request in ReactJS from PC 192.168.1.7.
Request get failed due to cors-origin,
Then i made the change in server.go in gateway folder.Add these 2 lines
c := cors.New(cors.Options{
        AllowedOrigins: []string{"*"},
        AllowCredentials: true,
})
Bind it to the handler
Handler:         c.Handler(r)
and its work

[2017-10-03 09:20] alexellis commented on #176
Closing and marking #revisit for follow-up at a later date.

[2017-10-03 09:20] #176 closed

[2017-10-03 09:23] alexellis commented on #42
A core use-case is multi-node clustering which is not possible by mounting a container.

[2017-10-03 11:01] iampeterbanjo commented on #149
Ok thanks, I'll do that.

[2017-10-03 12:16] jonocodes commented on #167
I'm curious what a specific integration would look like since it only takes a single curl to put kong in front of openfaas. Perhaps it will only do that in a Kong plugin? And this would help by giving visibility to openfaas in Kong's plugin list. Besides that would it expose more openfaas functionality?

[2017-10-03 13:35] alexellis commented on #167
There are a lot of ad-hoc manual steps required to follow the guide, even then you don't have a "default configuration" that covers all functions - you have to run them in one-by-one right? So an integration into the API would allow for this to be done automatically with a sensible configuration that covers the state as it changes declaratively - not imperatively.

[2017-10-04 04:55] jonocodes commented on #167
The single curl here:
https://github.com/openfaas/faas/blob/master/guide/kong_integration.md#use-kong-to-secure-openfaas

is the OpenFaaS equivalent of the Kong Lambda plugin here:
https://getkong.org/plugins/aws-lambda/

All the rest of my doc is boilerplate Kong. I'm just showing how to use their auth plugins.

And in the original readme I provided a way to expose a single function and then anot

[2017-10-04 05:25] alias1 commented on #195
Looks good to me!

[code]
[code]

[2017-10-04 07:22] alexellis opened #253 "Hacktoberfest: generated documentation site"
We need a separate documentation site to be generated by

* or Jekyll Github pages
* Hugo in CI
* Something else

This is an example from NATS.io: https://github.com/nats-io/nats-site

This should have the OpenFaaS branding and colour-scheme similar to www.openfaas.com

We have content building up on blog posts and in the ./guide folder.

[2017-10-04 08:15] rozuur commented on #252
Can I work on this?

[2017-10-04 08:23] alexellis commented on #252
Please do 👍

[2017-10-04 08:31] alexellis commented on #195
Good news! How about testing via the UI now with the updated Docker image?

[2017-10-04 08:31] #195 closed

[2017-10-04 09:35] johnmccabe commented on #253
I'd started looking into this last week going the Jekyll/Github route that K8s followed (avoids having to deal with the site building in a pipeline)

[2017-10-04 10:19] alexellis commented on #253
Updated title/body to match up with this.

[2017-10-04 12:34] genexp commented on #253
Humble suggestion: Gitbook is open source and very easy to use.  We moved a bunch of our documentation to it over the last six months and we've been really happy with the ease of updates.

A nice example:
https://frontendmasters.com/books/front-end-handbook/2017/

(It's all just markdown with optional theming)

[2017-10-04 18:25] austinfrey commented on #232
@kenneyhe are you asking if there is code coverage for python functions generated using the OpenFaaS templates? some more clarity there might be helpful?

also, if no one else has suggestions, I think moving forward with some preliminary badges for OpenFaaS functions and OpenFaaS providers would be a good start. That way on landing on a repo page, users can immediately identify if it's a function

[2017-10-04 19:00] alexellis commented on #232
How about::

![OpenFaaS](https://img.shields.io/badge/openfaas-<3-blue.svg)

![OpenFaaS](https://img.shields.io/badge/openfaas-serverless-blue.svg)

[2017-10-04 20:05] austinfrey commented on #232
Which badge would go with what?
<3 = affiliated project?
serverless = provider?

[2017-10-05 02:35] alias1 commented on #195
UI seems to work as well.

![image](https://user-images.githubusercontent.com/753891/31208630-0de42754-a9d2-11e7-83f1-62e0cbaf4af3.png)

[2017-10-05 07:53] alexellis commented on #232
People could put either on their repos which contain OpenFaaS functions

[2017-10-05 16:53] alexellis opened #257 "Hacktoberfast - provide guide for self-hosted registry"
Provide a guide for a self-hosted registry that can be used with OpenFaaS on Swarm and Kubernetes for quick, private deployments of functions.

[2017-10-05 19:16] kenneyhe commented on #232
@austinfrey any code coverage badge (I am code agnostic) to show coverage % for the template code will be appreciated.   I usually have a tests directory for unittests with python coverage tool to show current code quality.  Since it is a rest-api, all we need is curl commands to make sure template is sound..  here is one example..

[![Coverage Status](https://coveralls.io/repos/github/kenneyhe/Bi

[2017-10-05 23:24] austinfrey commented on #229
closing since this was merged in #231

[2017-10-05 23:24] #229 closed

[2017-10-05 23:28] austinfrey commented on #230
I wonder if this is something that could be set as an environment variable?

[2017-10-06 03:03] alias1 commented on #149
Commented on https://github.com/hyperhq/faas-hyper/issues/1 as well, but is there a canonical `faas-cli` example with this?

[2017-10-06 03:33] unicman opened #258 "Long running python3 function gives error 500 - Internal Server Error null"
Any python3 function that runs more than few seconds gives 500 Internal Server Error. I earlier posts that some fix went in server.go, but it seems this error is coming in proxy.go - Can't .

I've set read_timeout (65) and write_timeout (65) in docker-compose.yml and ran deploy_stack.ps1 and confirmed that docker service inspect func_gateway shows *_timeout values.

## Expected Behaviour
It should

[2017-10-06 05:44] alias1 commented on #233
Funny how my research leads me in circles to things that are already half started. In a similar vein (lambda restrictions), OpenFaaS support for ECS would be extremely beneficial. I'm not sure if it will directly map for me though, as i'm interested in scaling out a function invocation to X instances, with varied params. (eg. function based 'threading as a service')

[2017-10-06 06:14] alexellis commented on #258
The troubleshooting guide explain later that a timeout must be set at the function and gateway level. https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

Btw you don't need to edit the yaml of OpenFaaS to deploy functions or set environmental variables. Use the CLI which is also documented in the guides.

[2017-10-06 06:36] alexellis commented on #195
Brilliant - thank you for testing.

[2017-10-06 09:14] unicman commented on #258
I'm deploying my function using faas-cli deploy -f function_name.yml

Added exec_timeout = 0 to docker_compose.yml, ran deploy_stack.ps1 and remove+deploy function using CLI. That didn't work.

So changed function_name.yml like this,

[code]

And deployed function using faas-cli. That worked!

Thanks!

[2017-10-06 09:14] #258 closed

[2017-10-06 14:40] austinfrey commented on #239
possibly related to https://github.com/openfaas/faas-cli/issues/143

[2017-10-06 20:16] alexellis commented on #233
What is the use-case? Maybe it will work?

[2017-10-06 22:50] alias1 commented on #233
The basic thing i'm currently working on is a static compiled go binary that will process through a large wordlist (could be 20k lines or more) and check if files exist on a website (dirbusting).

So I will probably include the wordlist in the docker image (or have the image know how to pull it down), then provide the domain and 'slice' (start/end line) of the wordlist to use. Ideally I would then

[2017-10-07 09:39] nicholasjackson opened #262 "Security - External Function Delegation"
## Expected Behaviour
The watchdog should be able to delegate responsibility to external functions for various security related features such as:
1. Obtaining TLS certificates
2. Obtaining Secrets
3. Checking Authorisation

## Current Behaviour
This is currently not implemented behaviour

## Possible Solution
Defining an interface for the three external functions would allow the watchdog to delega

[2017-10-07 09:46] nicholasjackson commented on #169
This is potentially superseded with the following proposal which would allow implementation outside of OpenFaaS.
[https://github.com/openfaas/faas/issues/262](https://github.com/openfaas/faas/issues/262)

[2017-10-07 13:33] alexellis commented on #262
Hi Nick, thanks for your proposal. This looks like a significant change that touches every service. We'll look into this in detail and get some feedback.

[2017-10-07 13:35] alexellis commented on #252
@rozuur this is still outstanding if you'd like to work on it.

Referenced PR only covers part of the work, but not the required field validation on the client-side.

[2017-10-07 13:35] alexellis commented on #244
@leenux this issue has been idle 7 days so we'll close, but feel free to keep commenting.

[2017-10-07 13:35] #244 closed

[2017-10-07 13:48] alexellis commented on #249
Assigned to Richard.

[2017-10-07 14:13] nicholasjackson commented on #262
Yes it is significant, however the external functions could be disabled by default giving backwards compatibility.  Before even thinking about this there would probably pre work needed such as the ability to pass parameters to functions for startup such as those outlined in the Paramus to specify memory and cpu allocation.

[2017-10-07 14:15] nicholasjackson commented on #262
This is the issue I was relating to in the previous comment. https://github.com/openfaas/faas/issues/239

[2017-10-07 17:20] alexellis opened #263 "Research: Integrate with AWS SNS"
Since some of our users are deploying OpenFaaS to production with Kops (on AWS) - we should look at the work required to integrate events from a AWS SNS as triggers. This may be through the use of a side-car for the gateway or a new "queue" type similar to NATS Streaming's "queue worker".

[SQS vs SNS](https://stackoverflow.com/questions/13681213/what-is-the-difference-between-amazon-sns-and-amazo

[2017-10-08 08:12] alexellis opened #265 "Rename sample function names to lowercase"
The current set of function names in the samples.yml file are invalid, so need to be lowercase to be deployable on Swarm/K8s. Also replace `_` for `-` for DNS validation.

Testing:

This should yield no errors:

[code]

https://github.com/openfaas/faas/blob/master/sample-functions/samples.yml

[2017-10-08 08:19] alexellis commented on #265
Derek add label: helpwanted

[2017-10-08 08:23] riktimmondal commented on #265
i am taking it

[2017-10-08 10:04] VijayGomathi commented on #265
don't know how to run these commands

faas-cli build -f samples.yml
faas-cli deploy -f samples.yml

[2017-10-08 10:10] rgee0 commented on #265
@VijayGomathi Can you give us a bit more info?  How have you tried so far? What message do you get when trying to run them?

[2017-10-08 10:14] VijayGomathi commented on #265
@rgee0 I tried installing faas-cli via npm. but i could not run the command. I am getting the following error message.
"'faas-cli' is not recognized as an internal or external command,
operable program or batch file."

I also tried installing faas-cli package globally in npm. Still getting the same error

[2017-10-08 10:16] rgee0 commented on #265
@VijayGomathi please try `$ curl -sSL https://cli.openfaas.com | sudo sh`

[2017-10-08 10:19] VijayGomathi commented on #265
@rgee0 I am using windows operating system

[2017-10-08 10:25] alexellis opened #267 "testing for demo"

[2017-10-08 10:25] alexellis commented on #267
Derek add label: invalid

[2017-10-08 10:25] alexellis commented on #267
Derek assign issue to: johnmccabe

[2017-10-08 10:26] alexellis commented on #267
Derek assign to: johnmccabe

[2017-10-08 10:27] alexellis commented on #267
Derek assign: johnmccabe

[2017-10-08 10:37] alexellis commented on #267
Derek add label: demo

[2017-10-08 10:38] alexellis commented on #267
Derek add label: demo

[2017-10-08 10:38] VijayGomathi commented on #265
@rgee0 now I'm getting this error. Please help.
![faas-cli](https://user-images.githubusercontent.com/31568585/31316053-e60c882a-ac42-11e7-8c2a-d00987609f80.PNG)

[2017-10-08 10:40] alexellis commented on #265
You can't use Windows containers for this script.. switch to Linux containers.

[2017-10-08 11:25] johnmccabe commented on #262
Derek add label: proposal

[2017-10-08 19:33] johnmccabe commented on #234
@kinghuang is this something you'd be interested in

[2017-10-08 21:36] schickling opened #268 "PUT /system/functions endpoint returns 404"
When trying to re-deploy a function using the `HTTP PUT` method the server returns a 404 like here:

![image](https://user-images.githubusercontent.com/1567498/31321145-62c3aaea-ac81-11e7-9b45-12502a1841c7.png)

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

![image](https://user-images.githubusercontent.com/1567498/31321149-74f606ae-ac81-11e7-9510-203ed5b4f8a6.png

[2017-10-08 21:48] johnmccabe commented on #268
@schickling can you retry your curls adding the scheme to the urls:
[code]

[2017-10-08 21:49] johnmccabe commented on #268
Derek add label: question

[2017-10-08 21:51] johnmccabe commented on #268
Is it just the update that fails, can you hit any other endpoint successfully?

And does it also fail with the `faas-cli`

[2017-10-08 21:52] alexellis commented on #268
Our recommended approach for interacting with OpenFaaS is via the `faas-cli`.

https://blog.alexellis.io/quickstart-openfaas-cli/

`PUT` for updates is available in the latest release and Docker image (functions/gateway:0.6.6-beta2)

[2017-10-08 21:53] schickling commented on #268
`faas-cli` works, `HTTP POST` and `HTTP GET` works.

[2017-10-08 22:02] alexellis commented on #268
Just gave the latest release a test on my "lab" - appears to take the update as expected. Can you move to a newer gateway image please @schickling ? Also getting Chromeless working on OpenFaaS is very interesting if you have any ideas about that.

If you'd like to join our community on Slack just email alex@openfaas.com for an invite.

[2017-10-08 22:05] schickling commented on #268
I've installed the CLI via `brew install faas-cli` - any instructions how to upgrade the versions?

Re Chromeless: Yes, that would definitely be interesting, however, I won't be able to look into that before November. Maybe someone can [open an issue](https://github.com/graphcool/chromeless/issues/new)?

[2017-10-08 22:29] alexellis commented on #268
For the gateway edit your docker-compose.yml file and change image: functions/gateway:... to the above then run `./deploy_stack.sh` again. It's late in the UK so will catch up with you in the morning. Unless you want to join Slack where we may have folks in your timezone.

[2017-10-09 00:43] leenux commented on #244
@alexellis
Sorry the echo delayed  because holiday.
The libs is docker container's log 3rd lib.
It is excited for this mode to only return data printed to  stdout  and allow  stderr  to be only printed to the logs.Wait for this mode to join.
Thank you.

[2017-10-09 03:45] VitorFalcao commented on #214
@alexellis I would like to start contributing to the project and this seems to be a nice start. May I have it? And do you have any further instructions? Thank you.

[2017-10-09 04:21] VitorFalcao commented on #32
@alexellis I would like to work on this. Do you have any further instruction?

[2017-10-09 04:28] VitorFalcao commented on #263
@alexellis I would like to work on this. Do you have any further instructions? Thank you.

[2017-10-09 04:30] VitorFalcao commented on #234
@alexellis Could I work on this? If yes, could you give me some pointers? This seems to be an awesome feature.

[2017-10-09 04:34] VitorFalcao commented on #92
@alexellis I would like to work on this as well. Do you have any further instructions?

[2017-10-09 05:54] psyhomb opened #270 "Question on watchdog and environmental variables (Kubernetes)"
It looks like function watchdog environment variables are not exported, not available to the forked process (function).

## Expected Behaviour

According to this [doc](https://github.com/openfaas/faas/tree/master/watchdog) if I execute function via API with `fprocess=env` I should see `Http_Query="reverse=true"` as well as other environment variables exported from request headers
[code]

## Curren

[2017-10-09 06:35] alexellis commented on #270
You need to enable cgi_headers as per Readme for the watchdog.

[2017-10-09 06:55] alexellis commented on #263
Yes I'd start with the documentation and do a minimal example that can handle the handshake and receive a message. After that it should be a case of digging on the detail and finding out the best way to integrate. You're also welcome to join our slack community - email alex@openfaas.com.

[2017-10-09 06:55] alexellis commented on #92
Derek add label: revisit

[2017-10-09 06:56] #92 closed

[2017-10-09 06:56] alexellis commented on #92
This was a community suggestion for a utility function. We could use your help with the SNS queue if you'd like to start there?

Marking issue as Revisit for future follow-up

[2017-10-09 06:58] alexellis commented on #234
Stay tuned.. we may have something from one our contributors coming around this

[2017-10-09 08:44] schickling commented on #268
Thanks @alexellis - this works with the `functions/gateway:0.6.6-beta2` image.

Is there a way to make the `PUT`/`POST` call blocking until the function has been deployed and is ready to be used without running into `Can't reach service:` errors?

[2017-10-09 09:09] psyhomb commented on #270
Ok but according to [README.md](https://github.com/openfaas/faas/tree/master/watchdog) `cgi_headers` option should be enabled by default?

Option | Usage
-- | --
`cgi_headers` | HTTP headers from request are made available through environmental variables - Http_X_Served_By etc. See section: Handling headers for more detail. Enabled by default.

and that reflect what I see in the source code IINW
h

[2017-10-09 09:36] alexellis commented on #270
Interesting - this unit test is showing that it defaults to true:

[code]

You can prove out the default by entering the watchdog directory and doing:

[code]

If you still have issues we'll publish a new release of the binary later today.

[2017-10-09 11:09] sorenbs commented on #238
What is the best case delay when scaling up from zero?

~ 10 ms
~ 100 ms
~ 1 s
~ 10 s

[2017-10-09 11:16] alexellis commented on #238
That's a great question, but it depends on so much - including the back-end you're targeting and the hardware you've deployed to. Are you adding to the discussion or keen to try implementing this?

[2017-10-09 12:52] psyhomb commented on #270
Ok I just made some tests with proposed version (0.6.6b) and `Http_Query` environment variable is available now but it's always empty (`Http_Query=/`) despite the fact that `querystring` is present in the http request
[code]

[2017-10-09 13:29] psyhomb commented on #270
Strange, when I try same thing directly, not via Kubernetes, everything seems to be OK.
Any clue what this could be?

[code]

[2017-10-09 13:50] VitorFalcao commented on #263
Great. Thank you for the instructions, I will start working on it and join the slack community.

[2017-10-09 15:44] ericstoekl opened #273 "Research: Report function replica status by querying Docker Swarm API"
From Alex:

We need a way to report to the user whether their function is ready-to-go, without making them examine the output of `docker service ls` (and probably `| grep <functionname>`), which is currently what's required to find out whether your container is replicated or not.

Each of the different backends (Swarm, K8, etc) will need their own implementation of this feature, because each backe

[2017-10-09 15:45] ericstoekl commented on #273
Derek assign issue to: ericstoekl

[2017-10-09 15:46] ericstoekl commented on #273
Derek assign: ericstoekl

[2017-10-09 19:16] johnmccabe commented on #273
Docker add label: proposal

[2017-10-09 19:16] johnmccabe commented on #273
Derek add label: proposal

[2017-10-09 21:09] johnmccabe commented on #253
assign to: johnmccabe

[2017-10-09 21:11] johnmccabe commented on #257
Derek add label: duplicate

[2017-10-09 21:11] johnmccabe commented on #257
Dupe of #242

[2017-10-09 21:14] johnmccabe commented on #253
Derek assign: johnmccabe

[2017-10-09 21:30] #257 closed

[2017-10-09 23:46] johnmccabe commented on #242
Note there are is also some existing material here - https://github.com/openfaas/faas/blob/master/docs/managing-images.md#deploy-your-own-private-docker-registry

[2017-10-10 06:53] psyhomb commented on #270
It turns out like Kubernetes is altering or doing something with the querystring, because if I run same commend inside pod (container) querystring is available...

From inside container
[code]

From outside container (service)
[code]

[2017-10-10 07:25] alexellis commented on #270
Hi, I have a change pending in #276 which will help with getting Query value through to the watchdog. I think you are right in identifying the gateway (proxy) as where the data is being stripped. The watchdog component is ready to work with the Query/Path already as you saw with `kubectl exec`.

[2017-10-10 12:40] asimashfaq commented on #230
yes you can

[2017-10-10 13:02] austinfrey commented on #230
@asimashfaq more wondering if that's how OpenFaaS should currently handle something like this, or would it be best to rely on a third party service. What would the Pros/Cons be of making it a native solution vs third party?

[2017-10-10 13:14] asimashfaq commented on #230
Openfaas is  not handling something like this right now. There recommend solution is to use the nginx and other stuff to fix the cors origin issue.

[2017-10-10 17:22] jonocodes commented on #242
I have started working on this.

[2017-10-10 17:48] nullseed commented on #214
@VitorFalcao have you started work on this?

[2017-10-10 23:23] VitorFalcao commented on #214
@nullseed I am currently familiarizing myself with the codebase and then I will implement it. If this is urgent and you want to solve it, then go ahead. If not, I would like to keep working on it, I find this project very interesting and would like to start contributing to it.

[2017-10-11 18:24] rgee0 commented on #249
Should we adopt the arm32v7 notation to replace armhf as part of this?

[2017-10-11 18:33] alexellis commented on #249
My feeling is maybe but not yet. Armhf arm64

[2017-10-11 18:57] nullseed commented on #214
@VitorFalcao I'll leave it to you then, feel free to run ideas by me here, I'm also interested in this issue.

[2017-10-11 19:59] alexellis commented on #214
@nullseed this can be implemented on the faas-netes side too and faas-provider. Do you want to take that piece?

[2017-10-11 20:34] johnmccabe commented on #270
Derek add label: question

[2017-10-12 01:17] metrue commented on #179
@alexellis @jmkhael @mjbright

sorry for my late response, internet not work when I was on vacation few days ago.

thanks for you guys' explanation,  I will try it again, will update if it still not work.

[2017-10-12 07:11] alexellis commented on #179
Ok thanks for letting us know

[2017-10-12 08:18] alexellis opened #282 "Proposal: Use Swarm Configs for Prometheus and AlertManager"
## Expected Behaviour

We should be able to use the pinned official Prometheus images with no changes - by using "Docker Swarm Configs"

https://docs.docker.com/engine/swarm/configs/

## Current Behaviour

We have to bake config into our own images and push to the Hub which is hard to maintain and confusing for newcomers. With Kubernetes we use config-maps.

## Possible Solution

The solution shou

[2017-10-12 08:21] alexellis opened #283 "Proposal: Migrate to Prometheus 2.x"
Migrate to the latest Prometheus 2.x version including latest AlertManager.

## Context

We should do this due to memory and disk usage improvements and to keep current.

I have tried this and there appears to be breaking changes in the config for AlertManager and Prometheus. The person taking this task on will need to work through any issues and ensure auto-scaling and metrics are unaffected.

I

[2017-10-12 11:23] LucasRoesler opened #285 "Proposal: Secure secret management"
This proposal is inspired by the Docker Swarm secret management but should be generalizable to Kubernetes Secrets and possibly other 3rd party secret management systems.

## Summary
It is common that a function may need to connect to a database or a secure API. The username and password values used to connect to these data sources should be kept secret and secured.  Currently these values are eith

[2017-10-12 12:08] fntlnz commented on #282
This impacts also faas-netes which uses the `latest-k8s` tag, there we could use a `ConfigMap`.
The first supported version for configs is `17.06` that would pull out a large amount of users as you said though.

[2017-10-12 14:51] psoares opened #286 "Documentation issue on the testdrive"
The README example on the testdrive says to type the following command:
`echo "# Test *Drive*"| faas-cli --invoke --name func_markdown`

The --name parameter needs to be removed for this to work, otherwise the following message displays: "Please provide a name for the function".

The correct syntax seems to be:
`echo "# Test *Drive*"| faas-cli --invoke func_markdown`

[2017-10-12 15:14] alexellis commented on #286
Thanks or mentioning this. We've recently made the change and the docs are catching up. Check back now.

Alex

[2017-10-12 15:14] #286 closed

[2017-10-12 15:25] weikinhuang commented on #282
I'm planning on making this change to the faas-netes yaml files, when I made the helm charts, they've already been migrated to use the library images and mount `ConfigMaps`.

[2017-10-12 21:09] alexellis commented on #270
Fixed and released in latest version of watchdog. @psyhomb if you'd like to do a PR for the Dockerfiles in this repo I can merge that.

[2017-10-12 21:10] alexellis commented on #285
Which do you need first? We have a PR for Kubernetes and the faas-cli has been released with support already. https://github.com/openfaas/faas-netes/pull/54

[2017-10-13 01:14] StevenACoffman commented on #234
So, kubeless integrates kafka. It's also written in golang. Is there any interest in collaborating?

[2017-10-13 07:26] LucasRoesler commented on #285
I was going to submit the PR for faas gateway today (hopefully).  Almost all of my local development is in Docker Swarm, so I always start there.

[2017-10-13 11:23] developius opened #291 "Async function call duration is not exported"
Async function calls don't export the execution duration of the call, unlike non-async calls.
They do, however, track the status code.

## Expected Behaviour
Execution duration should be exported to prometheus

## Current Behaviour
Async function calls do not record execution duration

## Steps to Reproduce (for bugs)
1. Call an async function
2. Observe tracked status code, but not duration

## C

[2017-10-13 19:19] vielmetti commented on #202
A patch for Docker Swarm for arm64/aarch64 makes Swarm schedule things correctly on that platform.

https://github.com/docker/swarmkit/pull/2411
https://github.com/docker/swarmkit/issues/2401

[2017-10-13 22:30] GrantSheehan commented on #265
I'm not sure what was meant by `Also replace _ for - for DNS validation.`, maybe those replacements were made in an earlier merged PR?

[2017-10-13 22:50] alexellis commented on #202
Nice work

[2017-10-14 05:48] kenfdev opened #295 "Proposal: Add CI/CD pipeline guideline or example"
It would be nice to have a CI/CD pipeline guideline or example.

## Expected Behaviour

* Push the Code
* Pipeline gets triggered
  * `faas-cli build`
  * `faas-cli deploy` -> [Deploy to Temporary Test Environment]
  * Test the Function
  * If Test passes
    * `faas-cli push` and update the registry
    * Optionally trigger a deploy to external environment (dev, prod, wherever)
* Pipeline Finish

[2017-10-14 15:24] BurtonR commented on #235
We can close this as PR https://github.com/openfaas/faas/pull/254 has been merged

[2017-10-15 00:08] johnmccabe commented on #283
I'll pick this up, been meaning to get hacking on the main platform again.

[2017-10-15 01:20] austinfrey commented on #295
Derek add label: proposal

[2017-10-15 01:21] austinfrey commented on #285
Derek add label: proposal

[2017-10-15 08:54] #265 closed

[2017-10-15 08:55] alexellis commented on #265
Fixed by @GrantSheehan - thank you. @VijayGomathi thank you for taking a shot at this.

[2017-10-15 15:02] udondan opened #297 "Question about using AlpineFunction sample function"
I am trying to convert a present Dockerfile into a FaaS function. I'm feeling like an idiot but I am not getting this to work. Failing with the simplest examples.

I tried this on CentOS and MacOS with the same results.

[code]

The same happens with other examples.

## Expected Behaviour
Not failing

## Current Behaviour
Failing, invoking a function shows:

[code]

Service log shows:

[code]

##

[2017-10-15 15:07] alexellis commented on #297
Send your email to alex@openfaas.com and I'll invite you to slack. Someone should be able to help you there

[2017-10-15 17:11] elliott-beach opened #298 "Document Environment Variables"
There are several undocumented environment variables :

Watchdog (read into WatchdogConfig):
`fprocess`, `read_timeout`, `writeTimeout`, `write_debug`, `cgi_headers`,
`marshal_request`, `debug_headers`, `suppress_lock`, `content_type`

Gateway (read into GatewayConfig):
`read_timeout`, `write_timeout`, `functions_provider_url`, `faas_nats_address`,
`faas_nats_port`, `faas_prometheus_port`, `faas_p

[2017-10-15 17:11] elliott-beach commented on #298
Does anyone know why the openfaas gateway and watchdog both have environment variables configuring http timeouts? What's the use case for configuring the watchdog differently than the gateway?

[2017-10-15 17:16] johnmccabe commented on #297
@udondan I'm able to reproduce this locally, having a look into it now

[2017-10-15 17:16] johnmccabe commented on #297
Derek add label: bug

[2017-10-15 17:18] johnmccabe commented on #297
Derek remove label: bug

[2017-10-15 17:19] johnmccabe commented on #297
Derek add label: question

[2017-10-15 17:24] elliott-beach commented on #291
I can get started on this and learn something about Prometheus. H

[2017-10-15 18:15] alexellis commented on #297
Please try the tutorials or samples. Tutorials are in faas repo under the guide folder.

[2017-10-15 18:55] johnmccabe commented on #297
@udondan for your particular case I assume you're just attempting to run the basic provided function, in which case can you deploy with the following:
[code]
This will explicitly set the process to invoke in the function - have a look at the `Dockerfile` you can also see it there in a comment.

You should normally be able to just use the `fprocess` envvar in the image itself, but we currently have

[2017-10-15 19:17] johnmccabe commented on #298
Wouldn't going with a single gateway defined timeout result in you always using the longest timeout for all watchdog processes regardless of whether it made any sense in the context of that specific function?

[2017-10-15 19:19] elliott-beach commented on #298
yeah, makes sense.

[2017-10-15 19:22] rgee0 commented on #298
The watchdog variables are described here:

https://github.com/openfaas/faas/tree/master/watchdog

What would you like to see beyond this detail?

[2017-10-15 19:27] elliott-beach commented on #291
Still figuring this out - I think this will involve calling trackTime at some point during handling of request to `"system/async-report"`

Calling trackTime:
https://github.com/openfaas/faas/blob/6dc9ffbfce2abd58a3cdde518fcd1fabd33e196e/gateway/handlers/proxy.go#L198-L205

Around here:
https://github.com/openfaas/faas/blob/6dc9ffbfce2abd58a3cdde518fcd1fabd33e196e/gateway/handlers/asyncreport.go#L1

[2017-10-15 19:29] elliott-beach commented on #298
@rgee0 Thanks, didn't see that! I'll try and imitate that style into documentation for faas-netes or the gateway if a similar table doesn't exist.

[2017-10-15 20:29] johnmccabe commented on #298
Derek add label: proposal

[2017-10-15 20:29] johnmccabe commented on #298
Derek add label: skill/beginner

[2017-10-15 20:30] johnmccabe commented on #295
Derek add label: skill/intermediate

[2017-10-15 20:31] johnmccabe commented on #297
@udondan there's a fix in the pipeline for the CLI issue, can you let us know if the suggestion above gets you moving.

[2017-10-15 22:02] alexellis commented on #297
@udondan - just had a chance to look at this. AlpineFunction is a base image that will allow you to run  built-in busybox commands as serverless functions - or to which you can add your own code.

I'd suggest you follow one of the CLI tutorials first - https://github.com/openfaas/faas/tree/master/guide

I.e. first Go/Python function.

[2017-10-15 22:27] alexellis commented on #298
+100 points for this issue. A readme in the Gateway directory would be good 👍 and the same table for faas-netes.

[2017-10-16 07:53] udondan commented on #297
Yes, that's what I was aiming for. :)

This explain it. I started with my own Dockerfile and then reduced it step by step until I ended up with an empty Alpine image calling a system function. I then used the AlpineFunction Dockerfile in the sample folder and of course also tried with the fprocess uncommented.

So yes, passing the `--fprocess` along with the `deploy` succeeds.

Also tested https:/

[2017-10-16 07:53] #297 closed

[2017-10-16 13:52] scher200 commented on #236
@alexellis https://github.com/dshearer/jobber might do the cronjob alike thing.

[2017-10-16 15:57] udondan opened #304 "Proposal: Set an env var to make container aware if started in faas context"
I'm looking into creating an image that can run a program adhoc when started by hand _or_ with the faas watchdog in front of it when deployed through faas.

If faas could just set an env var (e.g. `IS_FAAS`) that can be checked this should do it. Inside the entrypoint script then one can do something like this:

[code]

## Expected Behaviour
When container is deployed, an env var should be set.

#

[2017-10-16 16:07] alexellis commented on #304
I don't fully understand the motivation. Can you give a full example please?

[2017-10-16 16:19] alexellis commented on #236
Thanks or the suggestion @scher200

[2017-10-16 16:20] alexellis commented on #270
@psyhomb closing as fixed, but if you want to submit PR to upgrade watchdog we can merge that.

[2017-10-16 16:47] udondan commented on #304
I created a Docker image to show the goal: [udondan/awesome](https://github.com/udondan/faas-awesome)

You can run this adhoc:

[code]

Or deploy it as a function to OpenFaaS:

[code]

And then invoke it.

[code]

The entrypoint of the image decides, based on the existence of the env var `IS_FAAS` if the watchdog should be started or the _awesome_ application should be triggered directly.

Right n

[2017-10-16 16:55] scher200 commented on #236
@alexellis I am not a go beginner, but I am willing to try.