[2018-05-30 13:01] rorpage commented on #416
I have a PoC I'd like to propose for this: https://github.com/rorpage/openfaas-crondog

Standing on the shoulders of giants, a lot of this code is a duplicate from the `watchdog`, but builds a simple cron-based go app that you can trigger OF jobs on a schedule.

The final output is a ~7.95MB image based on Alpine.

I could see something like this for a `stack.yml`:

[code]

Because the `is_trigger

[2018-05-31 05:26] ericstoekl commented on #693
Derek add label: proposal

[2018-06-01 11:46] Templum commented on #693
@ericstoekl I actually can confirm that behaviour for K8S it returns 202. Also the faas-cli checks for both. Guess the API implementation is overall very inconsistent, at least based on swagger.

[2018-06-01 11:47] Templum commented on #694
Based on feedback in #693 it seems that the return types are different based if the provider is K8S or Swarm.

[2018-06-02 01:13] alexellis commented on #704
I think everything is updated now. @klingenm can you confirm please?

[2018-06-02 01:15] alexellis commented on #693
I would not quite go a strong as that Eric. I would say 202 is fine if you want to update across the board the please go ahead.

[2018-06-02 19:32] viveksyngh commented on #704
I think this one also needs an update in `openfaas-cloud` repo documentation. I have created a PR for that.  https://github.com/openfaas/openfaas-cloud/pull/66

[2018-06-03 00:16] alexellis commented on #704
Thank you, that's merged now. Any mentions in the workshop?

[2018-06-03 00:17] alexellis commented on #704
Derek close: resolved

[2018-06-03 00:17] #704 closed

[2018-06-03 07:07] BurtonR commented on #683
derek close

[2018-06-03 07:08] BurtonR commented on #683
@robertrbruno  I closed this issue as it seems you have resolved this with the information provided. If not, please feel free to comment and re-open (or open a new issue in the faas-netes repo)

[2018-06-03 07:10] BurtonR commented on #683
Derek close

[2018-06-03 07:10] #683 closed

[2018-06-03 07:34] BurtonR commented on #630
This work is in progress and has been completed (via redirect to faas' `.DEREK.yml`)
* [faas-cli](https://github.com/openfaas/faas-cli/pull/412)
* [faas-swarm](https://github.com/openfaas/faas-swarm/commit/7f5eed999bf81b67961c670327eb942702dec5a6)
* [faas-netes](https://github.com/openfaas/faas-netes/commit/36b6c87ceff44e2be9222947ee3e36ff08b442c8)

Still needs to be done on the following:

- [ ]

[2018-06-03 07:35] BurtonR commented on #623
Derek close: merged

[2018-06-03 07:35] #623 closed

[2018-06-03 07:37] BurtonR commented on #612
@s8sg  any luck with this?

[2018-06-03 07:39] BurtonR commented on #590
@Templum how do you feel about working on this? If you'd like to tackle it, but need some help, feel free to ask in the contributors channel in Slack.
No problem if you don't want to work on this, we can look for someone else. Just let us know where you're at :smile:

[2018-06-03 07:43] BurtonR commented on #576
ping @rgee0  :smile:

[2018-06-03 07:44] BurtonR commented on #569
Derek close: merged

[2018-06-03 07:44] #569 closed

[2018-06-03 09:27] napperley opened #709 "Kotlin Native Support"
In OpenFaaS there is no [support](https://github.com/openfaas/faas/tree/master/sample-functions/BaseFunctions) for the [Kotlin](https://kotlinlang.org/) programming language (specifically for Kotlin Native). Unlike the other languages supported by OpenFaaS Kotlin isn't tied to a single platform (Kotlin runs on [JVM](https://kotlinlang.org/docs/reference/server-overview.html), [JS](https://kotlinla

[2018-06-03 11:12] Templum commented on #590
@BurtonR sorry due to some other points I looked into, I forgot to report back :) I will start working on this matter, however as my time is limited. It will take some time, if that's fine by you

[2018-06-03 15:52] BurtonR commented on #590
Sounds good @Templum! Let us know if you need any help along the way!

[2018-06-04 13:26] ray211 opened #710 "RESTful URL Parameters"
I am very new with OpenFaas. I created a raspberry pi cluster following Alex's [blog](https://blog.alexellis.io/your-serverless-raspberry-pi-cluster/). The cluster is working and I managed to create my first python function per the [instructions](https://blog.alexellis.io/first-faas-python-function/).

I created the Hello Python example and got it working using the Gateway UI. However, if I invoke

[2018-06-04 14:28] iyovcheva commented on #709
@napperley Thank you for opening this issue.
I think it fits better in the [templates](https://github.com/openfaas/templates) repo, but is ok to stay here.

If you're interested in creating a Kotlin template, your help is welcome.

@alexellis any thoughts on that?

[2018-06-04 14:28] iyovcheva commented on #709
Derek add label: proposal

[2018-06-04 14:28] iyovcheva commented on #709
Derek add label: help wanted

[2018-06-04 14:37] iyovcheva commented on #710
Derek add label: question

[2018-06-04 14:37] iyovcheva commented on #710
Derek add label: support

[2018-06-04 16:34] iyovcheva commented on #709
@napperley you can create your own custom template for Kotlin following these [docs]( http://docs.openfaas.com/cli/templates/#40-customise-a-template) and then share the repo.

If you have any questions or need support on that, please reach out.

[2018-06-04 18:26] ray211 commented on #710
Sorry for the typo, yes I tried both methods without any luck.

After reading the workshop documentation, specifically [lab 6](https://github.com/openfaas/workshop/blob/master/lab6.md) I found the value using the environment variable: Http_Query. However, changing the code and the URL string breaks the Gateway UI invoke.

[2018-06-04 18:30] alexellis commented on #710
Ray what's the specific problem you're encountering? The function doesn't work at all?

[2018-06-05 00:20] elimisteve opened #711 "README: PWD link leads to page that errors out"
## Expected Behaviour

http://play-with-docker.com/?stack=https://raw.githubusercontent.com/openfaas/faas/master/docker-compose.yml&stack_name=func , a URL in `README.md`, should allow me to spin up OpenFaaS and play around with it.

## Current Behaviour

https://labs.play-with-docker.com/p/bcat9e8qr900009ftkk0 displays error that either shows that the config didn't work, on at least displays a mi

[2018-06-05 03:42] alexellis opened #712 "Help wanted: AWS SNS blog post"
Eric stated that at a recent meet-up someone asked whether AWS SNS can be deployed on OpenFaaS.

This can be done even within the function as demonstrated by @johnmccabe with his CloudEvents demo. We need to put together a short blog post / tutorial for AWS to show how easy this is and share that with our community.

I'd like someone to volunteer to write a short blog post showing how to subscribe

[2018-06-05 16:08] elimisteve commented on #711
On second glance, maybe the PWD deploy _did_ work?...  It complained about a .yml file not being present.  I _was_ able to SSH into the machine though.  I don't know what I was supposed to be able to do after that.

But if PWD doesn't deploy OpenFaaS in a functioning (no pun intended) way, consider removing the PWD deploy button from `README.md`.

Good to know, and something that should also proba

[2018-06-05 18:22] alexellis commented on #711
@elimisteve it's been added and removed half a dozen times over the last year depending on whether PWS is working or not.

@marcosnils it sounds like we'll have to remove the one-click button because we do need to use Swarm config files. This is a common use-case so I'd recommend re-visiting it on your backlog. It will be even more relevant with play-with-kubernetes where many projects use YAML de

[2018-06-05 18:23] marcosnils commented on #711
SGTM!.

[2018-06-05 18:24] alexellis commented on #711
This also needs modifying over in the openfaas/docs repo: http://docs.openfaas.com/deployment/#docker-playground

Alex

[2018-06-05 18:28] BurtonR commented on #711
I can remove that button and write up a "how to play with OpenFaas on Play-With-Docker". That is my go-to option for testing PRs and features.

[2018-06-05 22:52] alexellis commented on #711
Sounds great.

[2018-06-05 23:34] telackey commented on #622
I know this is closed, but if I might bring it back to what @yoanisgil was saying in an earlier comment using the example of get-users/get-records.

In Lambda, one can do something like (using node as example):

`module.exports = {
     taskA: (event, context, callback) => { ... },
     taskB: (event, context, callback) => { ... }
};`

And (after appropriate configuration) invoke something like:

[2018-06-06 03:03] #711 closed

[2018-06-06 03:09] BurtonR commented on #711
@elimisteve  and @marcosnils  check out the new Docker Playground docs site for a detailed guide on deploying to PWD manually: http://docs.openfaas.com/deployment/play-with-docker/

[2018-06-06 03:10] marcosnils commented on #711
LGTM!. Nice work @BurtonR .

[2018-06-06 05:52] telackey commented on #622
As a quick update to the above, I made some draft changes to the API Gateway and of-watchdog to support passing the path through.  It is working nicely with node8-express.

At least in concept, are these changes something you would think about integrating?

[2018-06-06 11:36] tarunmangukiya opened #714 "Functions are accessible if we add slash (/) at the end of url"
Let's say our function name is `download`, and we access that function using GET `http://localhost:8080/function/download` then it gives proper response. But if we access it using `http://localhost:8080/function/download/` then it throws 502 server error.

## Expected Behaviour
I think both of the urls are technically same and both of them should work.

## Current Behaviour
It throws 502 server er

[2018-06-06 11:42] tarunmangukiya opened #715 "Proposal: Ability to add extra headers in function"
We're doing image resizing on the fly with OpenFaaS and we want to add extra headers such as cache control and last updated in the response. Thus the images will be cached in the user's browser saving time and bandwidth.

### Headers required
- `Cache-Control`
- `Expires`
- `Pragma`

[2018-06-06 12:41] BurtonR commented on #715
@tarunmangukiya There is already a way to dynamically add HTTP headers to the request/response per function by creating and reading the environment variables as `Http_<your_header_name_here>`

Please see the example in the workshop: https://github.com/openfaas/workshop/blob/master/lab4.md#use-http-context---querystring--headers

This is also explained in the watchdog readme: https://github.com/ope

[2018-06-06 12:54] rorpage commented on #416
Commenting to try to re-invigorate this idea/thread...

I haven't been able to readdress the yaml I propose above, but having another `crondog` container is working and easy enough.

Another idea with my `crondog` proposal is that I'd like it to be able to take the response and do something with it, but perhaps that's moving into more of an "orchestrator" idea that can link functions together.

[2018-06-06 13:03] tarunmangukiya commented on #715
@BurtonR But here in watchdog, there's no such variables shown.
https://github.com/openfaas/faas/tree/master/watchdog

[2018-06-06 13:31] BurtonR commented on #715
Perhaps the wording there needs updated, but here:

This is saying that environment variables starting with `Http_` are interpreted to/from HTTP headers.

A better explanation can be found in the workshop though.

In your case, you can set the environment variable `Http_Cache_Control` to return the `Cache-Control` header. And so on for the others you have listed

[2018-06-06 17:49] affix commented on #714
I don't feel this is a bug, more of a proposal.

However I don't see a real benefit to supporting a trailing slash in the URL as this is something that can be handled by your load balancing software (if using any).

A trailing slash would break get params and theres no real benefit to supporting both URL schemed.

making it "neat" doesn't seem like a valid reason for this change.

[2018-06-06 17:52] tarunmangukiya commented on #715
Added `Http_Cache_Control: "public, max-age=31536000"` in `stack.yml`. But it doesn't respond with the specific header.

[2018-06-06 18:06] alexellis commented on #715
@tarunmangukiya please be clear about what you want.

To read these headers from incoming requests or

To set these headers on outgoing responses

[2018-06-06 18:13] tarunmangukiya commented on #715
I want to set these headers in the outgoing response.

[2018-06-06 19:04] alexellis commented on #715
So you'll need to look into the of-watchdog for that, or do it at your reverse proxy layer.

http://docs.openfaas.com/architecture/watchdog/#of-watchdog

Alex

[2018-06-06 19:04] #715 closed

[2018-06-06 19:04] alexellis commented on #715
I'm going to close as resolved, but feel free to keep commenting.

[2018-06-06 19:30] telackey opened #716 "Proposal: Allow for path parameters by passing full URI to of-watchdog HTTP functions"
The new of-watchdog HTTP-style functions (cf. https://github.com/openfaas-incubator/node8-express-template) have a long-running HTTP server behind the actual function code.  This is very similar to other FaaS solutions, such as AWS Lambda, and is mostly hidden from the function developer.

The end result offers greater flexibility as arbitrary headers, response codes, etc. can be more easily retur

[2018-06-06 21:04] alexellis commented on #714
Can we validate this with the normal classic watchdog? And the latest gateway.

Which docker image are you using?

[2018-06-06 21:36] alexellis commented on #714
I reproduced the problem on Kubernetes with the nodeinfo function. It used to work with a trailing slash, so it should still do that now. I think it may be a regression around the direct functions access code. I'd like help looking into this.

[2018-06-06 21:43] LucasRoesler commented on #714
I got it

[2018-06-06 21:55] affix commented on #714
Tested this with the latest gateway on k8s using figlet

[code]

Also tested using my faas-ruby-login function

[code]

[2018-06-06 22:01] affix commented on #709
@iyovcheva I believe that the best way is to have a community template and add it to the community.md file

[2018-06-08 14:38] rorpage commented on #416
Azure functions use a `function.json` file to define a schedule:
[code]

[2018-06-08 14:40] KrustyHack commented on #416
Ay,

I don't know how it works at Fission but maybe we can take a look at their TimeTrigger functions : https://docs.fission.io/0.8.0/usage/trigger/#create-a-time-trigger.

I think they are using CRD for that.

Sorry I'm not confident with K8S/Go development. :/

Regards,

[2018-06-08 14:41] rorpage commented on #416
@KrustyHack That looks very similar to the syntax I have for my `crondog` idea. Are you thinking we could enhance the faas-cli to include those features?

[2018-06-08 14:45] KrustyHack commented on #416
Ay,

It would be nice to add timetrigger with the faas-cli as I did with the fission cli :+1:

Regards,

[2018-06-08 15:57] alexellis opened #719 "Docs: write docs page on scheduled jobs with K8s"
We need to document scheduled jobs in the docs at GitHub.com/openfaas/docs

## Task

Write a docs page on scheduled jobs with K8s. Use Stefan's approach as a basis and state that this is only for Kubernetes.

https://github.com/stefanprodan/openfaas-flux#manage-openfaas-cron-jobs

Alex

[2018-06-09 15:19] itscaro commented on #630
Hi Alex, I will be less busy in a few weeks, hopefully starting from mid
July.

Thanks
--
Minh-Quan TRAN

[2018-06-09 16:00] affix commented on #630
Hey Alex, Add me :)

[2018-06-09 16:05] affix commented on #712
I'm on it :)

[2018-06-09 16:38] alexellis commented on #712
Thank you 👍 let us know if you have questions or run into any issues etc.

[2018-06-09 16:39] alexellis commented on #712
Bonus points if it can run on the new staging OpenFaaS Cloud where we have sealed secrets available too.

[2018-06-11 08:55] iyovcheva commented on #709
Closing this as the issue is raised in `openfaas/template`.

[2018-06-11 08:55] iyovcheva commented on #709
Derek close

[2018-06-11 08:55] #709 closed

[2018-06-11 12:45] JonathanBowker opened #720 "Request: Do you have a template for R functions?"
Do you have a template for R functions?

[2018-06-11 12:46] iyovcheva commented on #716
This looks like a good-to-have.
@alexellis @rgee0 @ericstoekl any thoughts?

[2018-06-11 12:46] iyovcheva commented on #716
Derek add label: proposal

[2018-06-11 15:42] iyovcheva commented on #720
Hi @JonathanBowker
There isn't a template, but [here](https://github.com/openfaas/faas/tree/master/sample-functions/BaseFunctions/R) is a sample function you could reuse.

You're also welcome, if you wish to create a custom template following these [docs](http://docs.openfaas.com/cli/templates/#40-customise-a-template)

[2018-06-11 15:49] alexellis commented on #720
Sounds good to me @iyovcheva, @JonathanBowker if you need anything more please feel free to comment or re-open the issue.

We've given a sample R Dockerfile you can build into an OpenFaaS function and linked to the docs where you can create your own template (this will be hosted in your GitHub repo and fetched via `faas-cli template pull`.)

[2018-06-11 15:49] #720 closed

[2018-06-12 01:04] alexellis commented on #630
Go for it.. send a PR to derek.yml here Keiran

[2018-06-12 01:05] alexellis commented on #630
@itscaro welcome back, looking forward to catching up and showing you OpenFaaS Cloud

[2018-06-13 05:52] alexellis commented on #701
@johnmccabe please provide an update and link to your blog or GitHub repo for @moshe0076

The event gateway is not required for OpenFaaS, we have an API Gateway built-in and no changes are needed to handle CloudEvents.

[2018-06-13 09:39] johnmccabe commented on #701
https://github.com/johnmccabe/cloudevents-slack-demo - blog post isn't ready.

[2018-06-15 18:06] alexellis commented on #660
Nobody has worked on this issue for 2 months - Go 1.9.7 is now available so we should move straight to that.

1.10 has breaking changes so will be the next move later on.

[2018-06-15 18:14] wwsean08 commented on #660
Will be opening a PR tonight or tomorrow moving to 1.9.7.

[2018-06-15 18:44] alexellis commented on #622
I have already made a change / PR to support path in of-watchdog, but it is not merged since the templates for of-watchdog do not yet support a path.

The gateway has a deterministic route rathe than a wildcard route, and a wildcard route would be needed to pass an arbitrary path through.

[2018-06-15 18:49] telackey commented on #622
@alexellis

As an update, I made a proposal with a couple of proof-of-concept changes to `of-watchdog` and the `API Gateway`.  The proposal is here: https://github.com/openfaas/faas/issues/716

[2018-06-15 19:02] telackey commented on #622
As regards the template, this is _not_ something I mentioned in the proposal I made, but I construct the routes dynamically from the `handler.js` exports, with `root` ending up as '/':

[code]

[2018-06-15 19:03] alexellis commented on #576
No we don't have it yet.. https://github.com/openfaas/faas/blob/master/docker-compose.yml#L18

Let's see if we can get an absolute address on Swarm? Check out the docs on Swarm tasks/DNS

[2018-06-15 19:04] alexellis commented on #622
To be fair the change would be just:

From:

[code]

to:

[code]

[2018-06-16 05:37] stantonxu commented on #658
@alexellis @rgee0 I would like to work on this issue by submitting a pull request. Before doing that, I've reviewed the code. In the current HEAD version, the `DefaultTemplateRepository` is already set to `https://github.com/openfaas/templates.git`.

And in the build script, it already calls the `PullTemplates` method, which will pull template from default repo `https://github.com/openfaas/templat

[2018-06-16 05:46] BurtonR commented on #658
I do believe that you are correct @stantonxu! Thanks for taking the time to dig through all the code to be sure of that though!
Be sure to check out the [contribution guide](https://github.com/openfaas/faas-cli/blob/master/CONTRIBUTING.md) and don't forget to sign your commit :smile:

[2018-06-16 06:17] stantonxu commented on #658
Thank you @BurtonR for your quick confirm. Working on it.

[2018-06-16 06:49] stantonxu commented on #658
https://github.com/openfaas/faas-cli/pull/419 ready for review.

[2018-06-16 07:08] rgee0 commented on #658
Please be advised that this is potentially a breaking change for some users and so timing of any merge will be a consideration.  In light of that please provide details of affected versions and dates in the PR detail as this will help the decision process.

[2018-06-16 17:10] #630 closed

[2018-06-16 23:05] #714 closed

[2018-06-16 23:07] alexellis commented on #719
Stefan would be best to do this but I think he's quite busy this week. @johnmccabe you're experienced with K8s.. could you pick this up? @LucasRoesler this could also be useful reference material for your reference if you have capacity to pick up.

[2018-06-16 23:10] alexellis commented on #703
Prometheus provides cloud-native instrumentation and monitoring. @ericstoekl why would you deprecate Prometheus?

[2018-06-16 23:10] alexellis commented on #693
@Templum do you want to update the Go code for this in faas-swarm and faas-netes?

[2018-06-16 23:13] alexellis commented on #693
I opened an issue for faas-swarm and faas-netes for you to work on.

[2018-06-16 23:51] alexellis commented on #612
To support this we need a CORS rule for the UI, or a new server endpoint to serve the store data. The URL would have to be configured through the gateway at run-time. I could see this as being useful for an enterprise user who has all their images stored in a private repo, but we do support this via the CLI already.

Thoughts from all here?

Alex

[2018-06-17 03:07] stantonxu commented on #658
@rgee0 thanks, is there a template for the affected versions and dates to be included in the PR details?

By the way, it depends on when you guys decide to approve and merge the PR. I see the current released version is 0.6.10 by Alex on Jun 5th. So should I say that the affected versions are 0.6.10 and below, and dates are Jun 5th and before?

[2018-06-17 08:30] LucasRoesler commented on #719
I will take a quick stab at this today, using Stefan's  page as a reference

[2018-06-17 10:11] LucasRoesler commented on #719
I created a quick walkthrough that uses Stefan's example as its basis. See openfaas/docs#35

[2018-06-17 12:18] affix commented on #712
had some issues with my setup through the week, will get this done by Tuesday

[2018-06-17 16:17] #719 closed

[2018-06-17 18:54] Templum commented on #693
Thanks for setting up the issues, after the ready only fs I will move over to those.

[2018-06-17 22:36] BurtonR commented on #660
Derek close

[2018-06-17 22:36] #660 closed

[2018-06-18 03:49] ericstoekl commented on #703
Ok, sounds like Prometheus will cease to be used for the autoscaling functionality, but we will continue to use it for monitoring. Makes sense.

[2018-06-19 20:42] affix commented on #712
got an SNS Subscribe handler working, Just does an echo at the moment

https://github.com/affix/OpenFaaS-SNS

[2018-06-20 01:57] nelfer opened #725 "[Question] Pass API key in URL?"
Hi,

I just learned from the guides about the docker secrets and passing the header with the key to grant access to a function. My question is, can this key be passed in a query string parameter? There are some programs that can post to the functions but have no option to add additional HTTP headers.

I learned about OpenFaaS because I was working Azure Functions and I thought there must be an ope

[2018-06-20 08:35] alexellis commented on #725
I think this seems like two questions - you can use query strings, check out the workshop repo and docs site for more information on that. We've documented it in detail.

You may want to look at OpenFaaS Cloud on Kubernetes which has support for SealedSecrets enabling a "git push, get functions" experience.

[2018-06-20 11:50] nelfer commented on #725
Thanks for the quick response.

It seems I got confused with this:

https://github.com/openfaas/faas/blob/master/guide/secure_secret_management.md

The link to the APIKeyProtected function is not working. So I thought that the gateway (somehow) can automatically filter/validate secrets. But now reading more into it, it seems like each individual function has to handle it.

Any plans to make the ga

[2018-06-20 12:28] alexellis commented on #725
I don't know what you mean by this.

We have documented how to use secrets here https://docs.openfaas.com/reference/secrets/ - what about this isn't working for you?

[2018-06-20 12:38] nelfer commented on #725
The secrets work. But I have to implement it on each function (validation).

What I'm asking is if the gateway in some future, can handle secret validation. For example when configuring deployment of a function, tell it the secret name and where we expect the secret to come in the call (query string or form variable)

Then the gateway could block the function execution if the wrong parameter is pa

[2018-06-20 14:46] alexellis commented on #712
That's a good first step, thank you. Looking forward to reviewing the blog post before it goes live.

[2018-06-20 19:02] stantonxu commented on #682
Hi @alexellis @stefanprodan , do you mean label like below is invalid for Kubernetes? I got it from one of the yaml files of the `faas-netes`.
[code]

If we just simply move these labels to annotations, will that cause problem for label selector? Though I don't see any label selector in all the yaml files of `faas-netes`.

[2018-06-20 19:33] alexellis commented on #682
No this is about where we store the labels for OpenFaaS functions when we create/update functions. It's not about the helm chart.

Look at the faas-netesd controller code where we store the labels from the request.

[2018-06-20 19:38] #658 closed

[2018-06-21 10:56] feri commented on #639
I'm working on a patch that will enable scheduling functions in k8s if there is an extended resource exposed, by let's say a suitable device plugin, such as [[this](https://github.com/intel/intel-device-plugins-for-kubernetes)]. The work includes changes to faas-netes and faas-cli, and a minor one to the[ FunctionResources struct](https://github.com/openfaas/faas/blob/08d57de1f6950a5700f0443f32d42

[2018-06-21 19:53] dkozlov commented on #639
@alexellis https://hub.docker.com/r/tensorflow/tensorflow/
 nvidia-docker run -it -p 8888:8888 tensorflow/tensorflow:latest-gpu
 or
sample code:
[code]

[2018-06-22 02:13] shaunc opened #730 "Proposal: allow slashes in function names to provide namespacing"
Currently, when you try to deploy a function with a slash in it, you get an error. It would be quite
useful to be able to use "/" to group functions into namespaces (and sub ... namespaces), so functions for a particular service could bee foo/, then for instance foo/stats/ could be monitoring functions and foo/tests/ could be testing functions, as well as foo/bar/... for functions within "foo" rel

[2018-06-22 03:33] nelfer opened #731 "Completely bock UI but allow function calls?"
So I've successfully used OpenFaaS to create integration points between internal applications. Congratulations on making such a great product!

Now my predicament is another: I want to use OpenFaaS for microservices for a software/site that will be exposed to people outside my company. Think for example AJAX calls to do some processing.

The issue is that the UI runs in the same port as the functi

[2018-06-23 02:05] nelfer commented on #731
Found the article that shows the endpoints to secure here: https://docs.openfaas.com/reference/authentication/

[2018-06-23 02:05] #731 closed

[2018-06-23 09:01] alexellis commented on #731
Great, glad that you found it in the docs 👍

[2018-06-24 08:56] alexellis commented on #730
I'm going to sum this up as a request for (soft or hard) multi-tenancy, please comment if that's not what you want.

## Existing solution

We already have a solution for this "namespacing" suggestion and you're quite right that a `/` is an illegal name for a Swarm or Kubernetes service. We map directly to the function name so you need to use a valid character as a separator.

We are grouping funct

[2018-06-24 08:58] alexellis commented on #730
Derek close: existing feature

[2018-06-24 08:58] #730 closed

[2018-06-24 11:50] ewilde opened #733 "Extend health endpoint to include gateway version and commit details"
This issue proposes to extend the health endpoint and add `gateway` version information

## Current Behaviour
Currently the info endpoint shows helpful information about the configured provider:

[code]

## Possible Solution
To help provide better runtime information to developers and operators, I propose to add a version block for the gateway:

[code]

## Context
When I was testing a change to Op

[2018-06-24 11:59] alexellis commented on #733
The endpoint isn't being used and was recently added so I think this would be fine.

Perhaps this part should remain with the provider?

[code]

Alex

[2018-06-24 14:00] shaunc commented on #730
Thanks for the reply. I'll have to study openfaas-cloud to see how it works. (nb the first link to "echo-function" is broken.)

We are working on a set of functions that provide (among other things) auth and a P2P distributed hashtable (loosely based on chord). We would like to support plugins that extend the functionality, and want a mechanism so that (modulo plugin name) their functions don't cl

[2018-06-27 08:17] alexellis commented on #733
Hi @ewilde, just to confirm. This is for the /system/info endpoint and not the health endpoint.. correct?

[2018-06-27 08:17] alexellis commented on #733
When you have a PR please link here by `#PR_NUMBER`

[2018-06-27 20:43] gmcelhoe commented on #716
This is very exciting, I was trying to write a REST-like API using OpenFaas and was getting stuck.  I'll try applying these changes locally.

[2018-06-28 05:54] alexellis commented on #658
If you land here via Google or searching issues, please let us know if you had an issue with this change. We recommend you update your CLI via curl, brew or the releases page.

[2018-06-28 05:54] alexellis commented on #658
Thanks @stantonxu for your first PR 🎉

[2018-06-28 07:12] alexellis commented on #716
@gmcelhoe what is the most useful part of the change for you?

For me it's being able to store a list of "topics" in a label/annotation for use with our event brokers such as the Kafka broker. Right now we can't store arbitrary data or even a comma in the strict Kubernetes format.

i.e.

Currently valid:

[code]

Currently invalid:

[code]

Currently invalid:

[code]

[2018-06-28 07:13] alexellis commented on #716
@gmcelhoe I would suggest you use query string and/or a body right now. Functions are not RESTful, they are HTTP-compatible.

[2018-06-28 07:21] alexellis commented on #712
Hi @affix what do you have around this now?

[2018-06-28 08:07] affix commented on #712
So far,

- Subscribe to SNS Topic (HTTP(s))
- Handle Notifications from S3
  - Trigger another function based on the notification
    - Trigger OCR on an image in an S3 Bucket

[2018-06-28 16:55] stantonxu commented on #658
Thank you @burtonr @rgee0 @alexellis

[2018-07-02 12:42] alexellis opened #741 "Move all core builds from functions/* to openfaas/* on Hub"
This work involves moving all builds of all core components from functions/* to openfaas/* on the Docker Hub.

This moves to a better name for images and also gives free image-scanning. I've done the change for faas-swarm as an example for whoever works on this. @stefanprodan gave this perspective: this task also gives our users more confidence that we ship regularly and makes any vulnerabilities

[2018-07-02 14:44] alexellis commented on #741
Includes CLI repo if we haven't done this already - both pushing to Quay and rename to openfaas/*

[2018-07-02 15:21] alexellis commented on #741
Related - #61

[2018-07-03 10:36] alexellis opened #744 "Proposal: Enable auth by default for Swarm"
For Docker Swarm we should enable basic auth by default.

We don't want users deploying OpenFaaS with public IPs and having that open to the world.

Since we use a shell script to deploy I think we can automate this with bash.

First attempt #743

Feedback/suggestions/ideas welcome

Alex

[2018-07-06 12:47] ivanayov commented on #744
What do you think about allowing the user to create own credentials by passing them as arguments to `deploy_stack.sh` (or some better approach for the same)?

[2018-07-06 16:50] #733 closed

[2018-07-06 18:53] alexellis commented on #744
It is a valid suggestion, but I'd rather not complicate things at this stage. The secret can be updated easily with the `docker secret` command. Please see the suggestions on the PR and feel free to comment on those too.

[2018-07-06 20:18] RAKedz opened #748 "Question: Deploying on Swarm with "Nexus" gives "No such image""
When issuing the command:

faas deploy -f ./stack.yml --network saturn --send-registry-auth  –update

The service created for the function keeps spewing the message:

        "Status": {
            "Timestamp": "2018-07-04T21:44:17.077754447Z",
            "State": "rejected",
            "Message": "preparing",
            "Err": "No such image: myregistry.com:28833/func-nmap:latest",

[2018-07-06 20:34] alexellis commented on #748
Hi Rebecca,

I met Lyndon and he told me you were using Kubernetes in production and Swarm in development.

I haven't used Nexus, do you know whether three is a free/open-source version I can find to set-up and reproduce your issue?

Have you tried pushing an image to the Docker Hub, setting it to "private" and then deploying that too?

As far as I am aware the private repo work was tested both wi

[2018-07-06 20:42] johnmccabe commented on #748
Are you able to spin up a shell container on the `saturn` network and check whether you are able to access `myregistry.com:28833` from that, would rule out the issue being with networking/firewall.

[2018-07-08 05:01] ericstoekl commented on #744
For Kubernetes, we could include the Caddy basic auth ingress object in the helm template. As described in @stefanprodan 's blog post: https://stefanprodan.com/2017/openfaas-kubernetes-ingress-ssl-gke/

[2018-07-08 07:31] stefanprodan commented on #744
There is no more need for Caddy since the OpenFaaS Gateway implements basic auth. For Kubernetes I've added the basic auth option to the Helm chart https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#secure-the-gateway-administrative-api-and-ui-with-basic-auth

[2018-07-08 11:51] info2000 opened #749 "Question: What should value of Http_X_Forwarded_For be in function?"
The header Http_X_Forwarded_For is returning a wrong value, returning a local ip, it appears is fordwading the gateway container ip

This are the headers received:

[Http_Content_Type] => text/plain
    [Http_Origin] => http://217.182.87.71:8080
    [Http_Referer] => http://217.182.87.71:8080/ui/
    [Http_Content_Length] => 0
    [Http_Accept_Encoding] => gzip, deflate
    [Http_X_Call_Id] => d6c

[2018-07-08 16:19] alexellis commented on #749
Hi, thanks for logging the details for this.

We should take a look at this to confirm, but the code looks correct in the gateway package:

https://github.com/openfaas/faas/blob/6676d1b80749d94aef3e750dd38109255161be67/gateway/handlers/forwarding_proxy.go#L58

Just to confirm.. what were you expecting to see in the function under `Http_X_Forwarded_For`? The original client IP from your home networ

[2018-07-08 16:20] alexellis commented on #749
@ericstoekl I know you wanted to do some more support issues, can you take a look into this please?

[2018-07-08 16:29] stefanprodan commented on #749
We can close this issues as it's not related to OpenFaaS. @info2000 please see https://github.com/moby/moby/issues/25526

[2018-07-08 16:57] alexellis commented on #749
Derek close: not an issue

[2018-07-08 16:57] #749 closed

[2018-07-08 23:37] info2000 opened #750 "Proposal: Marshal headers in CGI standard"
The actual http headers syntax don't follow the usual syntax

## Expected Behaviour
This is an example of how are now in nginx and http
 [HTTP_COOKIE] => metaUUID=MjEzLjI3LjIyNS4xNzB8YjhhYTE2Y2IyZjgyZWRmZjgzNTQwYzRjZTAwYTU1NTc%3D
    [HTTP_ACCEPT_LANGUAGE] => en-US,en;q=0.9,es-ES;q=0.8,es;q=0.7
    [HTTP_ACCEPT_ENCODING] => gzip, deflate, br
    [HTTP_ACCEPT] => text/html,application/xhtml+xml,app

[2018-07-09 05:41] ericstoekl commented on #750
@info2000 Thank you for your submission.

It would help a lot if you could give some example commands that led you to the conclusions that issues 1,2, and 3 exist. If there are some issues, please tell us how to reproduce them.

Do you want the Openfaas functions to return the same HTTP headers as Nginx? Or is there some standard that we should be following (in your estimation)?

The proposals are

[2018-07-09 05:41] ericstoekl commented on #750
Derek add label: proposal

[2018-07-09 08:02] ivanayov commented on #741
@alexellis ok, I can have look today

[2018-07-09 08:05] stefanprodan commented on #741
@ivanayov I can do the operator change since I need to update the readme with the Helm installer anyway

[2018-07-09 11:41] ivanayov commented on #741
@stefanprodan Thanks for taking this

[2018-07-09 14:00] alexellis opened #751 "Suggestion: surface logs in REST API"
Suggestion from @burtonr

Can we, and should we surface function logs via the REST API?

If we do then these could be queried from the OpenFaaS UI/CLI also.

[code]

Is tailing logs in or out for the first version?

[2018-07-09 14:01] alexellis commented on #703
@burtonr @viveksyngh @stefanprodan

What could we add in the API that would let us draw some graphs in the UI such as RED metrics for the last period i.e. 15mins?

[2018-07-09 14:23] alexellis opened #752 "Research: support new set of official of-watchdog templates"
There is utility in having two sets of templates for OpenFaaS - the existing (forking) mode templates and the new templates using of-watchdog and HTTP which can handle significantly more throughput due to re-use.

## Challenges:

* keeping compatibility
* clean naming / UX

Right now people have functions defined as "node" or "go" without an associated version, this is probably something we _shoul

[2018-07-09 14:45] RAKedz commented on #748
Hi Alex,

I couldn't attend the DockerCon in San Francisco, I really wanted to go.  Glad you met Lyndon.

For this ticket I changed out the websites because this was public and wanted to give the details to show what we tweaked and if perhaps we left something off or didn't configure something correctly.

Nexus comes in open-source.  We use Nginx to proxy Nexus to get to the docker repos.  It work

[2018-07-09 15:05] RAKedz commented on #748
John,

We have several other containers in our Swarm that uses our private registry and they have no issues acquiring them.  The myregistry.com:28833 isn't the real name, but used for public for the ticket.  Our environment is private and locked down.  I sent an invitation to Slack to see how to approach this.

Thanks,

Rebecca

________________________________
From: John McCabe <notifications@git

[2018-07-09 16:50] alexellis commented on #748
Rebecca please set up a minimal example on the 1 or 2gb DigitalOcean droplet with Nexus and share the credentials with us over email. We can then try setting up OpenFaaS to pull from there and debug it.

Alternatively you could create a user in your live or staging nexus.

Alex

[2018-07-09 17:56] viveksyngh commented on #703
As per my understanding, we can call Prometheus Range queries API's to scrape these metrics based on timestamps for a specified interval (say last 15 minutes) and then we can pass that data to frontend which can we used for plotting graphs in UI.

https://prometheus.io/docs/prometheus/latest/querying/api/#range-queries

[2018-07-09 21:10] alexellis commented on #750
@info2000 I think you could do the remapping of environmental variables from OpenFaaS Watchdog format to the (CGI) format you are referring to using a helper function. You could build this into your PHP function so that your developers don't have to see it in action.

As for $_GET / $_POST - I'm not sure what they are meant to do. Can you link to the spec?

Alex

[2018-07-09 21:11] alexellis commented on #750
cc @itscaro who authored the PHP template.

[2018-07-09 21:22] RAKedz commented on #748
Hi Alex or Support,

I am curious on how the command:

faas deploy -f ./stack.yml --network mynetwork --send-registry-auth

is passing the docker user and password to the Swarm in order to pull the image?

When we created our private registry using Nexus we had to do:

docker login myregistry.com:28833

and it saves the values into ~.docker\config.json

Then we include this when creating the servi

[2018-07-09 21:23] RAKedz commented on #748
Sorry, hit wrong button.  ;<

[2018-07-10 02:23] Littermonkey opened #757 "can I define dockerfile myself?"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I need a docker image is based on ubuntu . can you help me ?

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to yo

[2018-07-10 02:32] burtonr commented on #757
Hey @Littermonkey! You sure can use your own Dockerfile!
Have a look at our [Dockerfile template](https://github.com/openfaas/templates/blob/master/template/dockerfile/function/Dockerfile)

Basically, all you need is to include the `watchdog` binary, set the `fprocess` to the command you want run, and set the `CMD`.

[2018-07-10 02:33] burtonr commented on #757
Derek add label: question

[2018-07-10 02:43] Littermonkey commented on #757
Hi @burtonr ! How do I modify the dockerfile template , so that I can customize my own docker image. can you tell me what should I do ?

[2018-07-10 02:48] burtonr commented on #757
Sure!
You'll need the cli installed [here](http://docs.openfaas.com/cli/install/).
Then, run the following:

`faas-cli new docker-func --lang dockerfile`

That will give you a directory `docker-func`, inside there is a Dockerfile that you can modify as you need.

Then, of course follow the process like any other function:
[code]

[2018-07-10 02:59] Littermonkey commented on #757
ok ,  will the new customize dockerfile replace the old dockerfile? or Do I need to delete the old?

[2018-07-10 03:02] burtonr commented on #757
That generated Dockerfile is what you would change to have what you want. Alternatively, you _could_ replace it with another Dockerfile. Just be sure to include the watchdog so OpenFaas has something to call.

I'd recommend changing the one that is there though

[2018-07-10 03:05] Sandyman opened #758 "Function keeps returning the same result even after redeploying"
I built a little function based on the tutorial using nodejs. It returns `{"status":"done"}` as intended.

After changing the code, it keeps returning this data when it shouldn't.

This is more a question than a bug report: how can I make sure the latest code is used after a rebuild/redeploy?

## Expected Behaviour
After changing the code, it should return different data: `{"licenseKey":"<somethin

[2018-07-10 03:07] Littermonkey commented on #757
ok . I got it . thank you very much

[2018-07-10 04:02] burtonr commented on #758
I've experienced this before as well when running on Swarm. At the time, I was able to find an issue on the `docker/swarm` repo, but can't seem to find it now.

What I've done to prevent that is to use version tags on the images when you re-deploy.

So, your func.yml would look like this:
[code]

Then, when you update the code, also update the `func.yml` to a new version:

[code]

[2018-07-10 04:03] burtonr commented on #758
Also, make sure you're running the `build` command after you update your code!
[code]
then, re-deploy:
[code]

Where `func.yml` is your function's yml file

[2018-07-10 04:04] burtonr commented on #758
Derek add label: question

[2018-07-10 04:04] burtonr commented on #757
Great!

[2018-07-10 04:05] burtonr commented on #757
Derek close: answered

[2018-07-10 04:05] #757 closed

[2018-07-10 04:06] Sandyman commented on #758
Thanks. I defs build then deploy:

```faas-cli build -f license.yml && faas-cli deploy -f license.yml```

I'm gonna give your suggestion a try. It's a bit of a hassle, but if it works I'm happy for now. :)

[2018-07-10 04:08] burtonr commented on #758
just making sure! :smile:
I understand that it can be a bit of trouble. It's not consistent either. I haven't had it happen recently, but every once in a while it pops up again...

[2018-07-10 04:16] Sandyman commented on #758
You're absolutely right for pointing it out. Pet peeve at previous job was 'Did you actually `git push`?' followed by a pause and answered with 'erm, no.' :)

Unfortunately, your suggestion doesn't prevent the problem. I can see that the image name is actually used in the build:

[code]

[2018-07-10 04:44] Sandyman commented on #758
I don't know if this is of interest, but I ran a `docker ps`, and I noticed that the image is available, but the PORTS column is empty for this particular image:

[code]

[2018-07-10 04:44] wooramkang opened #759 "Question: is Prometheus required?"
Question: i red pull request #442, #441,  issue #190 in this repository, so is there no way to run openfaas without prometheus yet?

I have read #442, #441, #190 in this repository, so is there no way to run openfaas without prometheus yet?

## Expected Behaviour
openfaas run without prometheus or with others

## Current Behaviour

i tried all the possibility i can, but i couldn't make it

## Poss

[2018-07-10 05:04] Sandyman commented on #758
I found the problem, and I believe apologies (from me) are in order. Turns out that my main file was called `index.js` and not `handler.js`.

It's too late to check, but either I left `handler.js` after the initial build (from the tutorial) and started working in the copied `index.js`, or faas somehow remembers it if you've used it once. I'm not sure.

Problem solved, and sorry for wasting your ti

[2018-07-10 10:23] burtonr commented on #758
No worries! Glad you got it sorted!

[2018-07-10 13:27] burtonr opened #761 "Blog for OpenFaaS"
We should have a blog site to host articles written for and about OpenFaaS at blog.openfaas.com

[2018-07-10 13:49] burtonr opened #762 "Proposal: Port UI Portal to React.js"
## Task

Move UI to Vue.js or React

## Scope

A migration from Angular 1.x to a React.js

## Non-goals

* Hosting the UI in a separate server component / container.
* Adding new features
* Changing look and feel

## Details

In order to keep the UI up to date and attract new contributors we should re-write the UI in Vue.js or React.

* UI should retain look and feel and "material" theme/component

[2018-07-10 13:53] burtonr commented on #751
Being able to access the logs from the `faas-cli` would mean that users wouldn't need to switch context when working with their functions between `faas-cli deploy` and `docker service logs <function>` or `kubectl logs <function pod>`

This would make it easier to be able to deploy and work with OpenFaaS regardless of the orchestrator used.

Also, being able to view the logs from the UI would make

[2018-07-10 13:55] burtonr commented on #703
Having more metrics available through the API means that we could make debugging and monitoring function performance possible from the OpenFaaS UI directly!

If you use the UI for development locally, you could easily tell if your function was slow, or had a memory leak, etc.

[2018-07-10 15:32] RAKedz commented on #748
Alex,

I'll start looking into this and letting you know how to proceed when I am finished.

Thanks,

Rebecca

________________________________
From: Alex Ellis <notifications@github.com>
Sent: Monday, July 9, 2018 11:51 AM
To: openfaas/faas
Cc: RAKedz; Author
Subject: Re: [openfaas/faas] Question: Deploying on Swarm with "Nexus" gives "No such image" (#748)

Rebecca please set up a minimal exampl

[2018-07-10 16:33] shaunwarman commented on #762
Are there thoughts or current functionality for adding tracing info to UI or even CI/CD integrations to get a good view of deployment / rollback?

[2018-07-10 17:40] alexellis commented on #761
Cc @johnmccabe

[2018-07-10 17:43] burtonr commented on #762
Thanks for the support!

Could you expand a little on what you would expect to see with the tracing info?

How would Ci/CD fit into the UI? We already display the state of the function container in a "Ready"/"Not Ready" status. The CI/CD would be before the OpenFaaS UI where the function would be committed to a repo, built, tested, pushed to a registry, then deployed. Before the deployment step th

[2018-07-10 19:57] RAKedz commented on #748
Alex,

I completed this and sent you details in private.

Thanks,

Rebecca

________________________________
From: Alex Ellis <notifications@github.com>
Sent: Monday, July 9, 2018 11:51 AM
To: openfaas/faas
Cc: RAKedz; Author
Subject: Re: [openfaas/faas] Question: Deploying on Swarm with "Nexus" gives "No such image" (#748)

Rebecca please set up a minimal example on the 1 or 2gb DigitalOcean drop

[2018-07-10 20:50] johnmccabe commented on #761
Yup on it this evening

[2018-07-11 07:38] LucasRoesler commented on #751
Exposing logs via the REST API also means that the requesting user does not need cli access to the cluster (e.g.`kubectl`). This makes it easier to provide the needed information to more people without giving all of them direct access to the cluster.  This should make it easier to deploy and operate OpenFaaS with larger teams and in organizations with more access controls in place.

I think we sho

[2018-07-11 07:51] LucasRoesler commented on #752
Another option:

1. we should definitely deprecate the old templates and give a reasonable deprecation window (similar to Option 3).
2. we should add versions to the templates (similar to Option 1).
3. create a new template repo (similar to Option 2).
4. we should add a `version` field to the stack schema (similar to docker-compose).
5. during the deprecation window we can use the stack version fi

[2018-07-11 10:56] Sandyman commented on #758
I can quite easily reproduce it. Which begs the question: is it expected behaviour that a faas function keeps working even when it no longer has a `handler.js`?

Here's how to reproduce it:

[code]

Now invoke the new function. I used curl:

[code]

Now, replace `handler.js` with 'index.js`, rebuild and redeploy:

[code]

Invoke again:

[code]

Nothing's changed...

What do you reckon? I'm happy t

[2018-07-11 11:16] Littermonkey opened #763 "can you tell me how to use the gateway ? Is it like the aws api gateway ?"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

* Please als

[2018-07-11 12:16] burtonr commented on #763
Please see the [Docs](https://docs.openfaas.com/)
Also, we have a workshop that you can go through that will allow you to try out many of the features of OpenFaaS so you may have a better understanding of how it all works.

https://github.com/openfaas/workshop

[2018-07-11 12:20] burtonr commented on #763
Derek close

[2018-07-11 12:20] #763 closed

[2018-07-11 12:22] burtonr commented on #763
@Littermonkey  I closed this issue as the question is very broad and more information can be found in the docs, or explained in the workshop.

Please feel free to open a new issue with specific questions or problems you may have. Also, please be sure to fill out the template when asking the specific questions. It will help us determine the cause of the issue much faster and easier. Thanks!

[2018-07-11 12:33] burtonr commented on #752
I was thinking about a flag on the `faas template pull` that would indicate you want the of-watchdog versions. Like a "type" flag
[code]
Similar to what Lucas was saying, we could initially default to the `--fork` in order to continue to pull the "legacy" templates. Then, after a certain release of the CLI (v7 perhaps) we could switch the default to the `--http` option to utilize the new of-watchd

[2018-07-11 12:36] alexellis commented on #752
We know what `fork` and `http` means, but what about our users? They shouldn't have to care.

cc team @openfaas/cli

[2018-07-11 12:42] johnmccabe commented on #762
Why was Vue chosen here?

React is more widely used and I would have imagined it would be easier to find new contributors who'd be experienced with it?

[2018-07-11 13:07] burtonr commented on #762
My main reason for pushing for VueJS is that they use a template style which means HTML is used with some additional syntax. I feel this is more generally maintainable vs the React `jsx` style where everything is in javascript. I feel it's a bit easier to reason about and faster for others to jump in and understand since it's mostly HTML.

Here's Vue's comparison (possibly a little bias...): https

[2018-07-11 13:22] kenfdev commented on #762
I'm open to both Vue and React as well. Personally I like React + Redux + TypeScript to create robust apps but as Burton points out:

I agree with this, too. IMHO, React has a learning curve higher than Vue.js. I also like how Vue.js has an official CLI to handle the develop pipeline.

The only strong reason I choose React over Vue is when TypeScript comes in. React has a better integration with i

[2018-07-11 13:39] shaunwarman commented on #762
Right, I mainly snuck in some questions around future features to get a since of how large this project would be. For larger projects, right now, it seems react / redux / typescript is the way to go. But bootstrapping and starting these projects can be a bit cumbersome at first.

[2018-07-11 14:32] LucasRoesler commented on #751
I think that would depend on what kind of support we want to offer.  If the goal is to show the current logs, like `tail`, it would be enough to scrape the current containers and stream those back to the user.

_Side note_ This would required multiple goroutines, at least for the kubernetes implementation because I believe the API only allows you to fetch/stream for a single container

If we want

[2018-07-11 14:33] shaunwarman commented on #758
I think this is more of a `node` related thing to look for `index.js` if you are just specifying a directory for your handler, right? Unless you are being explicit in pointing to `handler.js`.

[code]

Node docs:

[code]

[2018-07-11 14:44] ericstoekl commented on #752
I would be in favor of adding the new (HTTP) templates to the existing templates repo, and moving the forking mode templates to a new repository called `templates-legacy`. I think most users don't care, and the ones who do probably want the benefits of the new HTTP mode rather than forking mode for common programming languages.

[2018-07-11 15:41] alexellis commented on #752
What data is that based on?

The existing templates are used by every OpenFaaS user apart from those who set up their own for some other purpose - it would be a breaking change for almost _every user of OpenFaaS_.

There are some languages where the new node is essential for high-throughput, for everything else they are acceptable. Node and Java are the core runtimes where we absolutely need anoth

[2018-07-11 15:43] alexellis commented on #759
Hi @wooramkang please can you explain your use-case where there is a need not to include Prometheus in the stack? It is a light-weight component and used to make decisions on scaling amongst other things.

Alex

[2018-07-11 15:45] alexellis commented on #751
@shaunwarman no. It would expose whatever is in the Swarm/K8s/Fargate logs API.

The first version of this should be scoped to fetch the "tail" of N log lines, but not "watch/follow" as in "tail -f" or "kubectl logs -f".

[2018-07-11 15:52] alexellis commented on #762
I am open to us using either, but have a preference for React.

Additional features / laundry-list of ideas should be tracked elsewhere @shaunwarman. This issue is scoped to re-writing existing UI in a new technology.

[2018-07-11 15:52] alexellis commented on #762
@burtonr I've edited the task for clarity.

[2018-07-11 16:23] RAKedz commented on #748
I upgraded faas from 0.8.2 to 0.8.5 and updated the docker-compose.yml for our environment.  Here are the specific changes:

    gateway:
        ports:
            - 8180:8080

All the networks are replaced with ours.

        networks:
           - saturn

faas-swarm:
        environment:
            DOCKER_API_VERSION: "1.37"

    prometheus:
        ports:
            - 9190:9090

networks:

[2018-07-11 17:19] burtonr commented on #762
@alexellis Thanks for doing that! The issue is much cleaner/clearer now.

[2018-07-12 00:44] wooramkang commented on #759
i didn't ask all the detail about the project i'am doing to my boss, but my boss order me to remove prometheus from openfass so if you need further detail, i'll ask

[2018-07-12 08:30] alexellis commented on #759
Why would your boss ask you to remove Prometheus from OpenFaaS? Without any context this makes little sense.

[2018-07-12 10:41] alexellis opened #765 "UX: can we show invocation URL in UI?"
To improve UX, can we show invocation URL in UI for invoking a function as part of the details page?

We don't know the external IP when inside Kubernetes/Swarm, but we know the "host" the browser is pointing at. Can we use this information to give the user a public URL/link for their function?

Alex

[2018-07-12 10:41] alexellis commented on #765
Feedback/idea was from large bank evaluating OpenFaaS.

cc @kenfdev

[2018-07-12 11:00] kenfdev commented on #765
Let me prototype this tonight or tomorrow 👍

[2018-07-12 11:16] andrew-s commented on #716
@alexellis Is this likely to happen/roadmapped? I'm kind of in the same boat and work around would be to write a gateway that translates paths into query stringed function calls but, then that gateway needs to sit somewhere and be H/A too.

[2018-07-12 16:40] telackey commented on #716
To look at this from the other side, it is difficult for me to see what if anything is gained by stripping the path, while there seem to be definite gains from passing it.

@andrew-s

It is unfortunate to be forced to fork, but if you look at the example patches to the Gateway and of-watchdog in the initial proposal, I think you'll find they are simpler to maintain than the proxy you mention.

[2018-07-12 18:00] berndtj commented on #238
I'd like to see this feature move forward.  We are trying to host a multi-user service in a restrictive k8s environment.  We need to free up idle resources and scaling to zero will make a huge difference.

[2018-07-12 18:51] alexellis commented on #238
Hi @berndtj I've restarted the work on this and there is more conversation in the linked PR.

[2018-07-12 18:57] telackey commented on #716
@alexellis

I would suggest that it makes sense for anyone that might wish to do have a path like`/functionName/recordTypeA/recordId`.

The fact that a query string could be used does not mean it _must_ be used.  There can be cases where a path appear as a better fit without it being strictly impossible to use a query.  (As an analogy from another sphere, blogs could use query strings rather than

[2018-07-12 23:01] stantonxu commented on #682
@alexellis , sorry just get time to look back at this thread. Do you mean the code under `handlers` in the `faas-netes`  project? Or could you help me point out where the code is? I am still trying to get familiar with the code.

[2018-07-13 07:02] alexellis commented on #682
Yes search for the word label and exclude the vendor folder. You'll see it then.

[2018-07-13 07:37] alexellis commented on #682
@ewilde I've updated this issue with more details.

[2018-07-13 07:41] alexellis opened #766 "Docs: Swarm/Kong guide should show how to add async-function route"
Via community member Omar Qureshi:

In

https://github.com/openfaas/faas/blob/master/guide/kong_integration.md

Add:

[code]

[2018-07-13 07:43] alexellis commented on #765
I am thinking we can utilise this space by splitting the image area in half and placing to the right.

<img width="1463" alt="screen shot 2018-07-13 at 08 41 56" src="https://user-images.githubusercontent.com/6358735/42679111-cb7c31ac-8678-11e8-943d-9b2d6d1fcd80.png">

[2018-07-13 07:43] alexellis commented on #765
@kenfdev

[2018-07-13 07:55] kenfdev commented on #765
<img width="1273" alt="link7" src="https://user-images.githubusercontent.com/3941889/42679590-79a8e056-86bd-11e8-9f72-2658b41d226f.png">

Yes, that's what I did. WDYT?

[2018-07-13 08:03] alexellis commented on #765
I like it 🎉 ! Should it have the copy icon there too and then clicking adds it to the clipboard?

[2018-07-13 10:17] alexellis opened #768 "Docs: retrieve basic auth password value"
Please update the docs to give a mechanism to retrieve password from a docker secret (may involve running a container and using "cat") and for Kubernetes secret which may involve `base64 --decode`

Alex

[2018-07-13 13:45] alexellis commented on #768
Derek add label: area/docs

[2018-07-13 13:46] alexellis commented on #768
Derek add milestone: 0.8.6

[2018-07-13 13:46] alexellis commented on #768
Derek set milestone: 0.8.6

[2018-07-13 14:13] alexellis commented on #744
Derek set milestone: 0.6.0

[2018-07-13 14:13] alexellis commented on #744
Derek set milestone: 0.8.6

[2018-07-13 15:22] andrew-s commented on #716
Not sure I could add much more to this but, for me for example, query strings in rest API's are only useful in some situations, e.g. you wouldn't want to do;

`/category?catid=6`

Instead, you'd want it to look like;

`/category/6` or `/category/cat-name`

Definitely makes it easier to build requests or to organise them in the client application. I was thinking of a solution that didn't require a

[2018-07-13 17:37] rgee0 commented on #752
We haven't got to 1.0 yet, but that said, we should still try to minimise breaking changes.  People have systems and pipelines already built on the current mode of operation, and these should continue to function in the expected mode of operation as we start to introduce this.

So, from that viewpoint, we need to be able to offer the current mode of operation without a change in pattern for the us

[2018-07-13 17:44] ewilde commented on #682
@alexellis thanks for updating the issue description, seems clear, will begin working on this

[2018-07-13 18:38] alexellis commented on #682
Great, thank you for the update.

[2018-07-14 18:16] alexellis commented on #768
Work done here - https://github.com/openfaas/docs/pull/42

[2018-07-15 03:52] burtonr commented on #752
I like that concept! Concise lang options, and granular flags/options. Curious how far you took that thought @rgee0.

How would the `faas template pull` behave?

For example, would pulling the node template result in a structure that looked like this?
[code]
and I imagine we could implement the various watchdog versions with a `build-arg` to pull the correct one.

How would you handle the various

[2018-07-15 07:35] rgee0 commented on #752
Much as it does now.  The number of templates would increase and involve implementation via a convention that the CLI is aware of, but the user doesn't need to be.  Remember, the idea is that existing CLI commands should still function with the missing new flags being defaulted to what they'd be today.

For a build-arg to work - if I'm accurately understanding the suggestion - the watchdog and tem

[2018-07-16 05:44] jonasrosland opened #771 "Minor error in lab4"
## Expected Behaviour
On line 186 of https://github.com/openfaas/workshop/blob/master/lab4.md, it says:
`$ echo -n "" | faas-cli invoke nodeinfo | faas-cli invoke func_markdown`
However, in the workshop there is no function with that name created.

## Current Behaviour
The invocation breaks.

## Possible Solution
Change the line to the correctly named function:
`$ echo -n "" | faas-cli invoke node

[2018-07-16 06:29] ewilde commented on #682
@alexellis i'm guessing we are adding the annotations support so that functions themselves can access this new meta-data? If so, how does the function access the meta-data?

[2018-07-16 07:00] ewilde commented on #682
@alexellis I guess what i'm asking for is how to position annotations in the documentation / code comments? Currently labels are described as:

[2018-07-16 11:01] mrtind commented on #768
I already found a way to retrieve content of docker secret with redis. Can i take this one ?

[2018-07-16 12:30] #771 closed

[2018-07-16 12:30] alexellis commented on #771
Fixed 👍

[2018-07-16 12:30] alexellis commented on #768
Derek close: resolved

[2018-07-16 12:30] #768 closed

[2018-07-16 12:33] alexellis commented on #744
Derek close: resolved

[2018-07-16 12:33] #744 closed

[2018-07-16 14:04] lioncruise opened #772 "Question: how can I effectively benchmark Python functions?"
Hello, recently I'm doing some performance research on Serverless computing architecture, and use OpenFaaS as the researching entity. I wrote 2 "hello world" logic code respectively in OpenFaaS function with the built-in Python template and a Python Flask application deployment on Kubernetes. I set the number of replica all the same, and started pressure testing with wrk tool.  According to my exp

[2018-07-16 14:07] alexellis commented on #772
Hi @lioncruise please break down your method into something we can reproduce scientifically.

You should also read up on the documentation for performance testing and be using the high-throughput version of the Python templates.

https://github.com/openfaas/faas/blob/master/guide/performance_testing.md

http://docs.openfaas.com/architecture/watchdog/

Alex

[2018-07-16 14:08] alexellis commented on #765
Derek set milestone: 0.8.6

[2018-07-16 20:00] alexellis commented on #765
Derek close: merged

[2018-07-16 20:00] #765 closed

[2018-07-16 20:00] alexellis commented on #761
@johnmccabe do you want to share your copy of this for people to help with multi-browser testing? @kenfdev is also good with CSS.

[2018-07-16 20:03] alexellis commented on #682
The functions will not have access to the annotations, it will be used to manage and orchestrate them with things like automation, eventing and build.

[2018-07-17 03:00] heroic opened #773 "Support: async mode mode appeared to hang"
I set up open faas on GKE, and when I submit a batch of tasks to be executed asynchronously, the request times out and throws 502. At this moment a synchronous call continues to work.

I am taking a guess that the NAT streaming is causing an issue here, not sure how to be sure, or to solve.

## Expected Behaviour
The async request should be accepted and executed in the background.

## Current Beha

[2018-07-17 07:35] alexellis commented on #773
Hi @heroic GKE is a very well tested configuration for us, I can't think of any scenario where any part of OpenFaaS would hang when calling a function in async mode. Therefore can you please do a couple of things for us:

Work through the troubleshooting guide

* [ ] retrieve the logs of the queue worker and gateway, save them into a Gist (send link to this issue)
* [ ] try to reproduce the issue

[2018-07-17 08:34] heroic commented on #773
@alexellis What I meant by scaling was, apply a CPU limit and kubectl replace the pods.

I'll share the logs when the hang happens again.

[2018-07-17 08:49] Littermonkey opened #774 "Question: HTTP OPTIONS support"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I have done  a API, Option is displayed when I request with ajax. so can you tell me how to create method with option.
## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?
docker swarm
* Ope

[2018-07-17 09:36] ivanayov commented on #774
Hi,

Can you please share more details about your function and context?

Thanks

[2018-07-17 09:36] ivanayov commented on #774
Derek add label: support

[2018-07-17 09:36] ivanayov commented on #774
Derek add label: question

[2018-07-17 10:14] Littermonkey commented on #774
hi,
    Is there any 'option' get' put' other than 'POST' in our API's HTTP methods? when I use ajax to call the api it send twice requests , One is 'option'(Preflighted Requests) and the other is 'post'.

[2018-07-17 12:45] alexellis commented on #774
Supported methods are currently GET and POST. We could potentially implement `OPTIONS` in the API gateway to return those values?

Alex

[2018-07-17 16:24] drago87 opened #775 "Web GUI not accessible"
The problem started happening last week (Around the 9 of July) dont remeber exactly the date. It worked before then.
Updating creepMiner did not help.
The GUI worked in version
1.7.16
1.8.0
1.8.2 (Worked from when i dowloaded it around a week after release)
## Expected Behaviour
After starting creepMiner going to http://localhost:port would open the web GUI
(port is the port number i have tried)
#

[2018-07-17 17:07] #775 closed

[2018-07-17 17:08] alexellis commented on #775
Derek lock: invalid

[2018-07-18 06:03] Littermonkey commented on #774
OK  ,  what can i config for supported GET methods ?

[2018-07-18 11:22] alexellis opened #776 "End-user community / ADOPTERS.md"
If your company has adopted OpenFaaS then you can add your use-case to the ADOPTERS.md file and/or request your logo to be listed. All logos listed must have an entry in the ADOPTERS.md file.

You will need to request authorisation from your manager and employer.

## Process

1) Send a PR to https://github.com/openfaas/faas/blob/master/ADOPTERS.md with a brief description of how you're using OpenF

[2018-07-18 11:24] alexellis commented on #776
Other inspiration from the CNCF End User Community - https://www.cncf.io/people/end-user-community/

[2018-07-18 12:46] mrtind commented on #766
I can work on this one.

[2018-07-19 08:19] LucasRoesler commented on #776
Contiamo is using OpenFaaS and would like to be included on the page.  What format, shape, and size should the logo be?

[2018-07-19 08:21] alexellis commented on #776
It would be ideal if it was a similar format / shape to the ones on the CNCF page linked above.

[2018-07-19 10:10] rimiti commented on #776
Hello @alexellis !

Dim Solution is using OpenFaas (soon in production), you can use our logo:
- [Website](https://dimsolution.com/)
- [Black logo (prefered)](https://dimsolution.com/wp-content/uploads/2018/03/logo-black-1.png)
- [White logo](https://dimsolution.com/wp-content/uploads/2018/03/logo-white.png)

Regards,

[2018-07-19 13:14] jnovack commented on #750
Unsolicited third-party comments.

* Issue 1.  Apache and Nginx both include `QUERY_STRING` and `REQUEST_URI`.  Unsure about IIS.
* Issue 2/3.  I believe you have this issue because `QUERY_STRING` or `REQUEST_URI` is NOT populated by the forwarding gateway.  It is my understanding that PHP's `$_GET` is a special function/variable which populates based on the parsing of one or both of those variabl

[2018-07-19 15:13] alexellis commented on #750
Thanks for the comments from everyone.

OpenFaaS functions are not involved via CGI, even though it looks similar. I am not sure this is a priority or even a goal for us right now.

My advice would be to write a very small middleware in your PHP template or function that places the variables where you like to see them taking them in from where we have them documented now.

If there is HTTP header

[2018-07-19 15:21] ewilde commented on #776
@alexellis

Form3

* [website link: https://form3.tech](https://form3.tech)
* [logo designed for white backgrounds](https://form3.tech/images/press-media/Form3FinancialCloud_Logo.svg)
* [logo designed for dark backgrounds](https://form3.tech/images/press-media/Form3FinancialCloud_Logo_white.svg)

[2018-07-19 22:30] jacobsmith928 commented on #776
Happy to have Packet included on this list - our OpenFaaS use for demos has been awesome!

- [Website](https://www.packet.net/)
- [Logo](https://assets.packet.net/company/logo.png)

[2018-07-20 08:36] CrystalMethod opened #778 "Question: Installing OpenFaaS on Swarm and Docker 17.05"
I would like to use OpenFaaS on latest Synology - initially in single node Docker Swarm mode. But I'm not able to fully deploy the stack. The gateway restarts continuously and logs the error message "You must provide an external provider via 'functions_provider_url' env-var." I've reverted the "monitoring containers" to mounted configuration because of missing support of "configs" attribute. Addit

[2018-07-20 09:05] alexellis opened #779 "YAML templating - always add tag to functions"
## Expected Behaviour

Functions are given an image without any tag, not even ":latest" or "0.1".

We should add one of the above to be explicit and encourage versioning.

Docker also has an odd feature discovered by @ivanayov where if you have multiple tags for an image and push without using a tag, all versions are pushed to the remote side.

## Current Behaviour

No tag is given, when you do a

[2018-07-20 10:00] Kashyap12 commented on #766
Hi @alexellis Can I take this up?

[2018-07-20 10:37] tarunmangukiya commented on #779
I think giving static "0.1" like tag will increase the time to manage `stack.yml` file on continuous updates. Giving them "latest" by default is good idea.

[2018-07-20 10:49] alexellis opened #780 "Bump release for "scale_from_zero" feature"
Task:

* The docker-compose.yml file needs to be bumped to latest release on releases page (0.8.7)
* An env-var should be added to the gateway for "scale_from_zero: false"

This will enable users to switch that over to true if they need with minimal effort.

Alex

[2018-07-20 10:49] alexellis commented on #780
https://github.com/openfaas/faas/releases/tag/0.8.7

[2018-07-20 10:50] alexellis commented on #780
@viveksyngh

[2018-07-20 14:51] mcgoober commented on #776
Thanks @alexellis,
Happy to have Citrix included.

Website: [https://www.citrix.com](https://www.citrix.com/)
Logo: [Citrix.svg](https://commons.wikimedia.org/wiki/File:Citrix.svg)

[2018-07-20 16:52] alexellis commented on #716
@telackey I've had a chat with David from Wireline.io - he gave me some more details on the use-case for this feature. Please can you write a PR for this, the of-watchdog and the traditional watchdog too?

All of the of-watchdog based templates will need to be updated too: flask, Go, Python, Node and Java.

Alex

[2018-07-20 20:33] telackey commented on #716
@alexellis

I'll open a PR.

[2018-07-20 23:47] andrew-s commented on #716
Is this implementation set around just parameters as functions or an implementation or REST into OpenFaaS?

E.g. For true rest, we'd want to be able to specify method + path (with parameters, and ideally for these to be named parameters so they can be referenced within the function).

Would there also be an implementation of middleware like in AWS's API Gateway - you can reference a function to ac

[2018-07-21 08:33] #780 closed

[2018-07-21 08:39] alexellis commented on #716
Hi Andrew,

I spoke to the guys at https://wireline.io yesterday. about how they are using OpenFaaS and why they need the additional path after the function name, but I'm not clear on your specific use-case. Please can you tell me a bit more about how your business is using OpenFaaS?

There was a wild-card route for OpenFaaS which I think I removed at some stage, perhaps it would work better for y

[2018-07-21 08:51] alexellis commented on #716
@telackey re: my comment on no-harm / smoke-testing:

https://github.com/openfaas/faas/issues/716#issuecomment-406660563

As I recall all of the templates based-upon of-watchdog only have one route which is `/` - this works well with the data they are sent from the gateway. As soon as I broadened the of-watchdog to support any PATH, that was being sent down to the handler code (in Java/Node/Python

[2018-07-21 13:40] andrew-s opened #782 "Proposal: Custom route support and middleware plugins"
There's a few elements to this so I'll try and break this down - the main use case here is to be able to build full REST based applications.

**1. Routing**

This may already exist but couldn't really find it, when defining your functions in yml - you would ideally want to specify a path and method exclusively for that function. There would need to be some validation somewhere so that 2 or more fu

[2018-07-21 18:02] alexellis opened #783 "Feature: Official vs community PHP support"
OpenFaaS can support any language due to our focus on portability, but with each "supported" language there is a cost to the regular contributors. I want to gauge the interest levels in moving a PHP template into the [official repository](https://github.com/openfaas/templates).

## Existing community-supported PHP templates

@itscaro put together the "original" PHP template here:

https://github.c

[2018-07-21 18:43] itscaro commented on #783
Cool 👍 I will have a look @alexellis @andrew-s

[2018-07-21 20:59] alexellis commented on #682
Derek set milestone: 0.8.7

[2018-07-21 21:11] alexellis commented on #778
Hi @CrystalMethod, thank you for your interest in OpenFaaS.

Reverting to Docker 17.05 is not a supported configuration. @johnmccabe also tried this, you're basically going to be on your own in this instance. If someone needed 17.05 for some commercial or business reason then we would spend additional time on it.

Your other alternative is to install a KVM VM if that's a supported variation on the

[2018-07-21 21:12] alexellis commented on #773
Which pods did you replace?

Alex

[2018-07-21 21:12] #773 closed

[2018-07-21 21:13] alexellis commented on #773
I'll close this issue for now, but please keep commenting and if you get the data points re-open it at any time.

Alex

[2018-07-21 21:14] alexellis commented on #779
I would say that at a conceptual level there is no difference between `0.1` or `latest`, it's up to the user to change the value. I'd be OK with `latest` being used as an initial step when we generate templates.

Alex

[2018-07-21 21:30] alexellis commented on #748
@RAKedz

This is unfortunate and it's challenging for us to help given the limited information. We do not have access to your environment and don't know how you configure Nexus so cannot test the scenario that you're running into. It sounds like there are more moving parts than we'd typically expect in the configuration.

Did you set up the minimal droplet configuration we asked for? That might b

[2018-07-22 07:55] tarunmangukiya commented on #748
As @johnmccabe suggested to me is to try out below steps to check if that's issue with `faas-cli`
The parameter name is `registry_auth` not `registryAuth`

1. Add `registry_auth` to your `stack.yml` function, `registry_auth`: base64 of `username:password`
2. Clear all the images gateway server of that particular function, so that gateway tries to fetch latest image from registry
3. Check that you'

[2018-07-22 20:58] johnmccabe commented on #748
You can reproduce this by deploying nexus with https://github.com/sonatype-nexus-community/docker-nginx-nexus-repository (deploy a hosted repo on 5000 rather than the proxied), updating the `localhost` with a valid local domain (I run internal DNS so have a nexus deployed in the lab on `nexus.lab.johnmccabe.net`), if running OpenFaaS on a mac you'll want to add the `nexus.lab.johnmccabe.net:5000`

[2018-07-22 21:16] johnmccabe commented on #748
fwiw the nexus registry is a V2 docker registry.

version - Nexus OSS 3.13.0-01

[2018-07-22 21:34] RAKedz commented on #748
@tarunmangukiya  and @johnmccabe

I emailed @alexellis a username:password to our private registry to test with.  I can forward that email on to anyone who wants to reproduce my issue.

The stack.yml now contains this:

[code]

When I issue the command:

`faas deploy -f ./stack.yml --network saturn --send-registry-auth`

It will only work if the image has already been pulled across the swarm.  I c

[2018-07-22 21:37] #590 closed

[2018-07-23 08:05] edouardb commented on #776
Hi @alexellis
Happy to have Scaleway included.

- [Website](https://scaleway.com)
- [Logo](https://www.scaleway.com/assets/images/illustrations/scw-logo-large-purple.svg)

[2018-07-23 10:06] maiermic opened #784 "Suggestion: Export deployed functions"
I'd like to be able to save all deployed functions and (re-) deploy them to another OpenFaas platform/gateway.

## Expected Behaviour
1. save deployed functions
2. stop and remove OpenFaas platform (e.g. Docker stack) from server (all function services should be stopped and removed)
3. deploy OpenFaas platform on another server
4. deploy all saved functions

## Current Behaviour
1. You can not sav

[2018-07-23 10:11] alexellis commented on #784
Hi Michael,

I strongly recommend against using docker-compose.yml for your functions.

When working with a git-oriented workflow you should always be deploying functions from a CI server using the stack.yml file that makes up your functions.

I'd suggest keeping a Git repo with the functions you want so that you can regenerate this in a declarative way.

If you are working your way towards the ab

[2018-07-23 11:23] maiermic commented on #784
It is a topic I will be confronted with in the future. I've just set up a test environment/server yet. I will have to move this test environment to a production server sometime. I don't like to move all functions manually if it can be avoided even though it might not be that many (maybe 5 or 10).

The functions are defined in different repositories and should be deployed  from a CI server using th

[2018-07-23 11:44] tarunmangukiya commented on #784
I think migration is one time task and most of the migrations do require human actions. Plus even with current OpenFaaS & `faas-cli`, I am able to re-deploy all functions anywhere within 5 minutes (this includes creating new Docker VM).

* We are having around 26 functions for different processing tasks.
* Also, I don't use OpenFaaS UI to delete functions, so all the required functions are in `sta

[2018-07-23 11:44] LucasRoesler commented on #784
This is just an idea about how to build a migration or backup based on the current feature set:  functions already supports labels and the concept of annotations is coming soon.  I wonder if adding the project name and git repo to the annotations could be helpful here.  You could ask OpenFaaS for the functions and generate the list of projects that are deployed.  It would then be easy to checkout

[2018-07-23 11:46] Brunty commented on #783
I'd use this for personal stuff, work is a possibility too

[2018-07-23 14:37] dtrce opened #785 "Question: How do you get headers and query params in the function?"
Is it possible to pass in all the headers and query params that were part of the request when the function was called via Http endpoint?

## Expected Behaviour

The input of the function should use a standard format such as Json. Json data could have keys such as body, headers and queryparams.

## Current Behaviour

Currently it only passes in the body of the http request.

## Possible Solution

#

[2018-07-23 15:11] alexellis commented on #785
I'm going to point you at this for the QueryString and "all" headers -> https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables

As for "params" I'm not sure if you mean URL parameters like /employee/:id/ kind of thing?

JSON is supported as a body type / content-type already.

Hope this helps.

[2018-07-23 15:13] alexellis commented on #785
Then I'd say it really depends on which programming language you are using too. The newer style templates do have an event and context that can be used for some of this, the classic versions access this data via environmental variables as you'll see in the link.

[2018-07-23 15:13] alexellis commented on #785
Derek close: support question / query, not a defect.

[2018-07-23 15:13] #785 closed

[2018-07-23 15:13] alexellis commented on #785
Please feel free to keep commenting.

[2018-07-23 15:28] white-cloud opened #786 "Question regarding a Python function"
Hello everyone,

I'm trying to use a very simple python function:
Handler.py

from flask import request, redirect
import redis

# Connect to redis.
redisConnection = redis.StrictRedis(host='redis.guestbook', port=6379, db=0)

def handle(req):
    # Read the item from POST params, add it to redis, and redirect
    # back to the list
   # if 'text' in event['data']:
        item = req['data']['text'

[2018-07-23 18:40] rgee0 commented on #786
Hello @white-cloud. Its really difficult to tell from the detail provided, but this does look alike a python error.  Have you tried validating the code outside of openfaas?

Is your code available in a repo anywhere?  Can you provide enough detail to enable someone else to reproduce, please?

[2018-07-23 18:42] rgee0 commented on #786
Derek set title: Question regarding a Python function

[2018-07-23 19:01] alexellis commented on #786
Derek add label: support

[2018-07-24 07:12] Warlord77 commented on #478
Hi , Is this is issue open . I would like to work on this

[2018-07-24 07:45] white-cloud commented on #786
Hello @rgee0  Thank you for your answer

actually this is the code that i'm trying to execute in openfaas.

https://github.com/fission/fission/tree/master/examples/python/guestbook

I will really appreciate your help.

Thank you again :)

[2018-07-24 07:47] white-cloud commented on #786
I tried a lot to change the code so many time to not getting this errors, i fixed some , but always having that error when trying the call the function:

curl -d '{"text": "hello"}' http://172.16.52.11:31112/function/add
exit status 1
Traceback (most recent call last):
File "index.py", line 15, in
ret = handler.handle(st)
File "/home/app/function/handler.py", line 11, in handle
item = request['dat

[2018-07-24 07:59] alexellis commented on #786
OK this appears to be the reason. You can't deploy a code sample designed for one project straight into another, but it looks like a simple program, so with some adaptations you could do.

What do you want to achieve here? Just to access redis or to specifically port their sample to OpenFaaS for community-use?

I'd suggest you also create a GitHub repo and upload what you have now so we can advise

[2018-07-24 08:04] white-cloud commented on #786
Hello @alexellis  thank you for your answer,
That's what i tried to do i tried to adapted the way how is the python functions are written and executed in Openfaas.
but had those errors :(

[2018-07-24 08:30] white-cloud commented on #786
Hello again @alexellis  i created the Github repo with the changes that i did in the previous guestbook code.

https://github.com/white-cloud/Openfaas-sample

[2018-07-24 08:31] alexellis commented on #786
Swarm or Kubernetes?

You have the errors because you're not following the OpenFaaS approach, you have it all set out wrong.

It's best for you to stop now and go over to the workshop and learn how to set out a function, then copy in the code you want after that. You can't copy/paste a code sample from another unrelated project and expect it to work.

https://github.com/openfaas/workshop

Alex

[2018-07-24 08:37] white-cloud commented on #786
I'm using it in kubernetes .

[2018-07-24 15:45] alexellis opened #787 "Update contributing guide to use markdown headers"
## Expected Behaviour

Markdown headers i.e. `#` `##` `###` etc should be used to enable linking to sub-sections such as the group of core contributors or the section on commit messages.

## Current Behaviour

Only implemented partially.

## Possible Solution

Make some edits to the file (try to retain the same headings, just use `####` etc where needed)

https://github.com/openfaas/faas/blob/mast

[2018-07-25 08:14] alexellis opened #790 "Update NATS Streaming to 0.11.0"
## Suggestion

It looks like nats-streaming has a new version 0.12.0 - we should test this and move to it if it is stable.

## Changes

- docker-compose.yml
- helm chart
- Kubernetes YAML files

https://hub.docker.com/_/nats-streaming/

Additional due diligence:
- check client library and re-vendor/update if needed
- "handler" package in queue-worker may need to be revendorded, which is a rebuilt

[2018-07-25 08:20] alexellis commented on #790
Anything else to add @stefanprodan ?

[2018-07-25 11:03] alexellis commented on #661
@ericstoekl please raise a PR, this work appears to have been dropped.

[2018-07-29 07:46] rgee0 commented on #787
Derek close: merged in #788

[2018-07-29 07:46] #787 closed

[2018-07-29 07:50] rgee0 commented on #761
Derek close: blog released & roadmap updated

[2018-07-29 07:50] #761 closed

[2018-07-29 19:30] alexellis opened #793 "Research: implement authentication recommendations"
The IETF provides some guidance on implementing OAuth 2.0. Whilst basic auth (used for the gateway administrative endpoints) is less sophisticated than OAuth 2.0, but there are some improvements we could make to the current model.

## Brute-force mitigation

The implementation of basic-auth authentication for the Gateway can be enhanced to migrate brute-force / dictionary attacks by locking out th

[2018-07-30 14:17] nelfer opened #795 "Support - investigate CPU needed by Swarm health checks"
I have created a couple of c# functions, very simple ones (get input, process, write output and exit). They work fine. However, today I notice that using `docker stats` there's some minor CPU usage. Compared to 0% from sample functions. I'm sure no one is using the functions, because this is my development environment. The functions in question are the ones with prefix `bot-`

[code]
The very firs

[2018-07-30 14:53] alexellis commented on #795
Feel free to look at the templates repo to see if you can find more info https://github.com/openfaas/templates

The CPU stats appear to be minimal, perhaps node exporter or cadvisor would give better measurements?

I've also pinged @burtonr to review this issue

[2018-07-30 14:53] alexellis commented on #795
Derek add label: support

[2018-07-30 14:54] alexellis commented on #795
Derek set title: Support C# Functions using less than 2% CPU constantly

[2018-07-30 14:55] alexellis commented on #795
Derek set title: Support - C# Functions using less than 2% CPU constantly

[2018-07-30 14:57] burtonr commented on #795
That's interesting... I wouldn't expect a different language template to behave any differently. Especially that the C# function in the templates in merely a console application....

I'll take a look into this later this afternoon and get back to you with what I find

[2018-07-30 15:10] nelfer commented on #795
@alexellis I reviewed the code of the template Program.cs and it's pretty straight forward. Read input, instantiate function, execute. So maybe the issue is somewhere else? the `fwatchdog` perhaps? (not sure what it does but I see that's the entry point command of all images)

[2018-07-30 15:16] burtonr commented on #795
The `fwatchdog` is the piece that listens to the gateway and passes the request to the function via stdin. This is part of all OpenFaaS functions, so I'd expect if there were a problem there, it would be affecting _all_ functions...

[2018-07-30 15:17] stefanprodan commented on #795
One way to diagnose this would be to exec into a container and run top

[2018-07-30 16:01] fpommerening commented on #795
I have tested the behavior - the cause is the healthcheck. After commenting out the line from the dockerfile the function using 0%.

[2018-07-30 17:49] nelfer commented on #795
That is odd...because it seems to be the same healthcheck as other images, but the others are 0% usage (at least `figlet`)

[2018-07-30 18:19] nelfer commented on #795
OK I rebuild the images without the healthcheck and now in my server the CPU usage has been reduced by about 30% (I had several functions deployed)... I'll keep it like that until there's a solution why health check for c# will take CPU but not for others.

[2018-07-30 20:49] alexellis opened #796 "CI failing due to rate-limiting downloading CLI"
The CI job is failing sometimes due to GitHub applying rate-limiting to our CLI download script.

Example:

https://travis-ci.org/openfaas/faas/builds/409389167#L810

We can't avoid this easily given that we're only allowed around 50 unauthenticated requests per hour to the GitHub API and the get.sh (faas-cli repo) makes use of this API. Since Travis uses a common set of outgoing IPs we're sharing

[2018-07-30 20:50] alexellis commented on #796
CC @ewilde

[2018-07-30 20:57] alexellis commented on #795
The `healthcheck` should _not_ be disabled, it serves a purpose. I wouldn't be surprised to see that the health check consumes some CPU, but not constantly. You could try fine-tuning the interval at which it runs.

The [CSharp / .NET image uses a different base image](https://github.com/openfaas/templates/blob/master/template/csharp/Dockerfile) (Debian-based vs Alpine for the others) - this differ

[2018-07-30 20:58] alexellis commented on #795
Try adjusting the `1s` interval to something like `5s`?

https://github.com/openfaas/templates/blob/master/template/csharp/Dockerfile#L45

[2018-07-30 21:27] ewilde commented on #796
@alexellis would this work https://help.github.com/articles/linking-to-releases/

[2018-07-30 21:32] alexellis commented on #796
If we can follow that link, then construct or extract the binary for the CLI somehow, that would work I think. It'd all need to be in bash too.

The existing script also omits any releases which have the pre-release flag (there is a delay of up to 15 mins between cutting the release and Travis adding the build artefacts )

[2018-07-30 21:32] nelfer commented on #795
The plot thickens... so I changed it to 5s, and sure enough, it's 0% until it's time to do the health check. So every 5 seconds CPU usage goes to ~2%.

But if I enter the container and execute the check manually, there's barely CPU usage. It's somehow the way Docker calls the function on that image.

CPU usage goes to 2%:
[code]

CPU usage goes to 0.01% :
[code]

Weird to say the least. I don't kn

[2018-07-30 22:48] ewilde commented on #796
@alexellis reading up on this issue seems that if we use an access token it increases [rate limit](https://developer.github.com/v3/#rate-limiting) to 5000 requests per hour

Could store the token(s) in encrypted travis env vars and then adjust curl statement in contrib.sh (https://developer.github.com/v3/#authentication)

[2018-07-31 00:13] nelfer commented on #795
What do you know... the function I was comparing to, `figlet`, doesn't have a health check. No wonder.

Now that I have installed sentimentanalysis and nodeinfo (from the store), they too show a ~2% constant CPU usage. So it's not particular to c#.
[code]

So maybe every 1s is a very aggressive health check?

[2018-07-31 06:12] rgee0 commented on #796
[code]
Need to test with a pre-release to make sure it doesn't appear

[2018-07-31 08:12] martindekov commented on #790
I can work on this one. Can I assign myself ?

[2018-07-31 08:52] #779 closed

[2018-07-31 08:57] alexellis commented on #766
Hi @Kashyap12, we got to the point where we updated the async route but it looks like Kong may have had some changes since we wrote the original and it's now giving some errors for @martindekov around the auth section. Feel free to take a look.

Alex

[2018-07-31 09:36] alexellis commented on #462
Derek close: thanks to everyone who worked on this.

[2018-07-31 09:36] #462 closed

[2018-07-31 09:38] alexellis commented on #796
For testing, the latest release is v1.0, v1.0-rc1 is a pre-release - https://github.com/alexellis/release-test-1/releases

[2018-07-31 09:38] alexellis commented on #796
[code]

Looks like it might work?

[2018-07-31 09:48] rgee0 commented on #796
I’ve a branch in the pipeline from this morning. Need to test before raising PR

[2018-07-31 10:26] alexellis commented on #790
(This work needs thorough regression/hands-on testing)

[2018-07-31 10:39] martindekov commented on #790
Yeah ok I will continue with the faas-cli.

[2018-07-31 21:08] CrystalMethod commented on #778
Hi Alex, thx for clarification. Will close this issue for now. I will stick with my RPi based cluster for a while and hope for Docker updates from Synology. Nevertheless I will give Debian chroot a shot to install k8s there.

[2018-07-31 21:08] #778 closed

[2018-08-01 08:28] ivanayov commented on #716
I think this needs some regression testing with already existing functions

[2018-08-01 15:36] stefanprodan commented on #793
One option would be to use https://github.com/bitly/oauth2_proxy with Nginx or Envoy in front of the Gateway

[2018-08-01 15:38] stefanprodan commented on #793
Another option would be to use the `basic-auth` secret and store key-value pairs in there with user:password. An admin could add, remove and change users/passwords with kubectl.

[2018-08-01 16:39] alexellis commented on #572
We touched upon this in the contributors call today.

[2018-08-01 16:47] alexellis commented on #793
That's an interesting suggestion for a full OAuth implementation, which I think we should also track via another issue.

[2018-08-02 08:33] white-cloud opened #797 "Question: Memory size and disable autoscaling"
Hello everyone,

I want to ask you please how can i  fixe a specific  memory size for  the openfaas function ?
second question is how to desactivate the autoscaling ?.

Thank you.

[2018-08-02 08:53] ivanayov commented on #797
Hi @white-cloud

You can disable autoscaling by setting the min and max replicas to 1:
[code]

For memory limits you can use:
[code]

[2018-08-02 09:17] ivanayov commented on #797
Derek add label: question

[2018-08-02 10:08] itibb13 opened #798 "console.log() in javascript not working?"
Hi guys,

I am using OpenFaas with the Node.js template. While playing around with simple examples written in Javascript, I noticed that console.log() works only while invoking the functions via command-line tool faas-cli. However, when I invoke the same function (unchanged) via the browser interface then I receive a null message.  In contrast, when I remove the line with the console.log(), everyt

[2018-08-02 10:15] alexellis commented on #798
Hi @itibb13 thanks for your interest in OpenFaaS.

Please see the OpenFaaS workshop Lab 4 for everything you need to know about this.

https://github.com/openfaas/workshop/blob/master/lab4.md

Regards,

Alex

[2018-08-02 10:15] alexellis commented on #798
Derek close: resolved

[2018-08-02 10:15] #798 closed

[2018-08-02 10:15] alexellis commented on #798
Derek add label: support

[2018-08-02 10:15] alexellis commented on #798
Feel free to keep commenting, closing as resolved.

[2018-08-02 10:16] alexellis commented on #797
Derek close: resolved

[2018-08-02 10:16] alexellis commented on #797
Please feel free to keep commenting. Thanks for your interest in OpenFaaS.

[2018-08-02 10:38] alexellis commented on #748
Hi @RAKedz having looked into this with @johnmccabe we believe that you may need to pass a full path for the function rather than using a repo directly on the registry.

Please can you try the following?

[code]

This adds the `/user/` part which was missing from your example.

[2018-08-02 10:55] alexellis commented on #748
I've created a patch, so building the faas-cli from master should also fix the original issue with the way you were using Nexus without a username prefix.

https://github.com/openfaas/faas-cli/issues/489

[2018-08-02 14:56] ArieLevs opened #799 "expending template.yml file"
Hi,
functions are running as pods at openfaas-fn namespace,
but there is very poor ability to manipulate these pods, does that makes sense to provide ability to mount volumes to a faas framework?

is there an option to pass Kubernetes secrets as environment vars?

## Expected Behaviour
Able to use Kubernetes deployment syntax on template.yml
example 1:
Have the ability to add `volumeMounts` and po

[2018-08-02 15:26] alexellis commented on #692
Derek close: released

[2018-08-02 15:26] #692 closed

[2018-08-02 15:26] alexellis commented on #689
Derek close: merged.

[2018-08-02 15:26] #689 closed

[2018-08-02 15:27] alexellis commented on #678
Derek close: fixed / released.

[2018-08-02 15:27] #678 closed

[2018-08-02 15:27] alexellis commented on #661
Derek close: merged - I updated this and released it on the docs site today.

[2018-08-02 15:27] #661 closed

[2018-08-02 15:29] alexellis opened #800 "UI: add read-only root file-system flag to store"
## Expected Behaviour

All store functions (where possible) should deploy with the read-only root file-system flag enabled if and when it is defined in the store manifest file.

## Current Behaviour

Only available if deploying via API or CLI if picking Docker image manually.

## Possible Solution

Update UI code in the gateway/assets/ folder

Help wanted.

[2018-08-02 15:35] padiazg commented on #776
Hi @alexellis,
Please include Vision Banco SAECA, we are using OpenFaaS in production to serve a couple (and counting) of requests at the home banking page.

* [Website](https://www.visionbanco.com/)
*  [Logo](https://www.visionbanco.com/assets/img/core/vision-logo.png)

[2018-08-02 16:52] alexellis commented on #800
https://github.com/openfaas/faas-cli/issues/490

[2018-08-02 16:54] alexellis commented on #799
Derek add label: duplicate

[2018-08-02 16:56] alexellis commented on #799
There are several different questions or suggestions here.

Main suggestion is for volume mounting which is a duplicate of #320 (so will be closed, feel free to +1 or comment there) We recommend using Ceph or Minio for storage in S3 buckets, functions are not stateful so should not have volumes mounted.

Second suggestion: secrets as ENV-vars, this is also a duplicate. Please can you explain why y

[2018-08-02 16:57] alexellis commented on #799
Derek close: duplicate

[2018-08-02 16:57] #799 closed

[2018-08-02 17:01] alexellis commented on #799
Here's an example of how you can read a file, and if you want push that into the environment in Python. For Node it'll be almost identical. I recommend against storing secure secrets in environmental variables.

[code]

[2018-08-02 21:14] RAKedz commented on #748
@alexellis and @johnmccabe I will try out the /user/  I use for the registry and then will try the #489 patch when it gets closed which doesn't require the /user/.

Thanks so much for all your effort.  Will keep you posted.

[2018-08-02 22:13] alexellis commented on #741
Derek close: this appears to be completed now.

[2018-08-02 22:13] #741 closed

[2018-08-03 08:58] rdimitrov opened #802 "Idea: Setup an ARM virtual environment for deploying OpenFaaS"
The idea is inspired by the following blog post (https://blog.alexellis.io/your-serverless-raspberry-pi-cluster/) where the OpenFaaS framework is deployed on a set of Raspberry Pi boards configured in a cluster.

The main concept is the same, but instead of using physical boards, we'll have a set of VM nodes. The goal is to have OpenFaaS running in a virtual cluster with QEMU as a hypervisor.

##

[2018-08-05 13:48] ArieLevs opened #803 "Question: how do I set an annotation?"
Hi,

As part of securing k8s, we set IAM role annotation per pod.
Since function pods are created from the `template.yml` file there is no option to add IAM role annotation per function.

## Expected Behaviour
Have the ability to add annotations to `template.yml` deployment file

## Current Behaviour
`template.yml` deployment files do not allow annotations pass to function pods

## Context
When wo

[2018-08-05 17:54] RAKedz commented on #748
@alexellis I was able to make it work by using the /user/ and this is what I had to do:

Tag the image from `myregistry.com:28833/mynodeinfo:latest `to `myregistry.com:28833/myuser/mynodeinfo:latest` and push it back into the registry.

Then changed stack.yml to:
[code]

Issued the command `faas deploy -f ./stack.yml --network saturn --send-registry-auth`

Then checked the service `docker service

[2018-08-05 18:07] alexellis commented on #748
So glad we could get to the bottom of this! Thank you for working with us.

The new CLI version will support images without a user prefix, but I'd recommend using one anyway. It could be something like system or payroll etc.

[2018-08-05 18:38] alexellis commented on #803
Hi @ArieLevs,

You can set annotations via the stack.yml file, this was released recently. I'd suggest updating to the latest version of faas-netes, the gateway and the CLI. Let us know how you get on.

Cc @ewilde who implemented the feature.

Regards,

Alex

[2018-08-05 18:39] alexellis commented on #803
Derek add label: support

[2018-08-05 18:40] alexellis commented on #803
Derek set title: Question: how do I set an annotation?

[2018-08-05 19:05] ArieLevs commented on #803
Hi @alexellis
Thanks Found it https://github.com/openfaas/faas/issues/682,
Will try it out, btw, i could not find this on the official site or github docs.
[code]

Thanks again!

[2018-08-05 20:46] alexellis commented on #803
Feel free to join slack to ask questions like this in #kubernetes.  https://docs.openfaas.com/community

[2018-08-05 20:48] alexellis commented on #799
Would you like to be listed on our users page because you're a user of OpenFaaS? https://docs.openfaas.com/#users-of-openfaas

Alex

[2018-08-06 06:45] ArieLevs commented on #799
Hi @alexellis

We are currently running a POC with OpenFaaS, Let me check this option, will update.

[2018-08-06 06:51] lapwat opened #804 "Question: How to reuse code across different functions"
Good morning,

Is there a best practice for reusing the same files across different functions. Let me explain myself.

I have got 2 different functions: one that will return a category given an input, the other one will return a number given an input. They share some of the same code.

The folder structure is
- functions
    - stack.yml
    - function1
        - handler1.py
        - utils.py

[2018-08-06 07:00] rgee0 commented on #804
Possible duplicate. Ref: OpenFaaS/faas-cli#322

[2018-08-06 07:03] rgee0 commented on #804
Derek set title: Question: How to reuse code across different functions

[2018-08-06 09:40] ivanayov commented on #804
Derek close

[2018-08-06 09:40] #804 closed

[2018-08-07 03:07] wdyun opened #805 "Question: How to manage/isolate environments?"
Is there any easy way to isolate prod 、dev environment？In CI/CD use Jenkins，how to define the 'provider gateway', so use one same code just different config?

[code]

[2018-08-07 05:01] james-r-smith opened #806 "Proposal: Deprecate dep usage in favour of vgo"
As Go has been on a [mission to get dependency management nailed](https://github.com/golang/proposal/blob/master/design/24301-versioned-go.md), the decision is clear that modules are the direction that has been decided. Go 1.11 is going to be the first release that will offer basic support for dependency management into the Go toolchain.

Currently, Go modules are in a stable condition to be used

[2018-08-07 08:14] alexellis commented on #806
Hi James, thanks for your suggestion.

My take is that deprecating `dep` will be a huge amount of work and I'm not sure what the value proposition is (yet). It may be something that should be reviewed in time once vgo is GA and we have some spare cycles or moving offers considerable value to the project and contributors.

Perhaps as an interim step you may want to help with migrating some of the p

[2018-08-07 08:14] alexellis commented on #803
Derek close: resolved

[2018-08-07 08:14] #803 closed

[2018-08-07 08:17] alexellis commented on #800
Derek close: merged via https://github.com/openfaas/faas-cli/issues/490

[2018-08-07 08:17] #800 closed

[2018-08-07 08:27] alexellis commented on #805
Hi @wdyun,

The best way to isolate environments is with multiple installations of OpenFaaS on Kubernetes. Use NetworkPolicy to separate them if you need a hard link between them.

@stefanprodan can send you a link to some examples of this.

Btw you cannot change the `provider.name` field, it must be `faas`.

Once your environments are established leave the `gateway` field out of the YAML file and

[2018-08-07 08:28] alexellis commented on #805
Derek close: resolved

[2018-08-07 08:28] #805 closed

[2018-08-07 08:29] alexellis commented on #805
Please feel free to keep commenting. I'm closing since since this is not an Issue with the project, more of a support question. These are best asked on Slack - via https://docs.openfaas.com/community/

[2018-08-07 08:30] stefanprodan commented on #806
Most OpenFaaS projects depend on Kubernetes and Docker Moby, I would wait for these two project to make the move first.

[2018-08-07 08:36] ivanayov commented on #802
Derek add label: proposal

[2018-08-07 08:40] ivanayov commented on #802
@rdimitrov +1 for this

[2018-08-07 11:35] alexellis opened #807 "Proposal: manage secrets via OpenFaaS API"
## Feature

This feature would allow secrets to be created in the backing provider's credential store using a single CLI command regardless of what the backing orchestrator is.

[code]

It could also be used with reading from a file with `--from-file` for instance.

## Why is this needed?

Each tutorial for OpenFaaS has to list Docker Swarm and Kubernetes secret creation commands. This is becoming

[2018-08-07 11:38] alexellis commented on #786
Derek close: inactivity

[2018-08-07 11:38] #786 closed

[2018-08-07 11:40] alexellis commented on #795
This seems to have a minimal impact on the environment overall, but I would be OK with upping the interval to something higher. Would you like to raise a PR?

[2018-08-07 11:41] alexellis commented on #772
Derek close: inactive

[2018-08-07 11:41] #772 closed

[2018-08-07 11:41] alexellis commented on #772
For high-throughput tests, take a look at the of-watchdog Python template

[2018-08-07 11:44] alexellis commented on #783
@andrew-s let's look at a PR to the templates repo to add your template there for the latest PHP version?

[2018-08-07 11:45] alexellis commented on #759
Derek close: inactive

[2018-08-07 11:45] #759 closed

[2018-08-07 11:45] alexellis commented on #748
Derek close: resolved

[2018-08-07 11:45] #748 closed

[2018-08-07 11:46] alexellis commented on #697
Update from @kenfdev - new version of the PR is coming with the `Collector` interface in Prometheus. cc @stefanprodan

[2018-08-07 11:47] alexellis commented on #679
@s8sg do you still have interest in this issue?

We cannot return arbitrary data or headers from the classic watchdog, but `Cache-Control` could be set to a one-time value via an environmental variable if you think that helps.

In the of-watchdog you can set whatever headers you like.

[2018-08-07 11:50] alexellis commented on #574
Ping @darknao - do we need to make any code changes for this or is it just config?

[2018-08-07 11:51] alexellis commented on #565
@burtonr @ewilde what if we dual-maintained the requests package in both locations temporarily? what about spinning out a new package/repo for the requests since they're also used in the CLI?

I know @stefanprodan has an interest in this issue

[2018-08-07 11:52] alexellis commented on #524
Derek close: inactive

[2018-08-07 11:52] #524 closed

[2018-08-07 11:52] alexellis commented on #532
Bump @stefanprodan - this should still happen.

[2018-08-07 11:53] alexellis commented on #501
Derek close

[2018-08-07 11:53] #501 closed

[2018-08-07 11:53] alexellis commented on #488
Derek close: inactive

[2018-08-07 11:53] #488 closed

[2018-08-07 11:54] alexellis commented on #479
+1

This is a good idea. If it can be done with a minimal package it would be great.

[2018-08-07 11:54] alexellis commented on #478
Derek close: fixed

[2018-08-07 11:54] #478 closed

[2018-08-07 11:54] alexellis commented on #454
Derek close

[2018-08-07 11:54] #454 closed

[2018-08-07 11:55] alexellis commented on #467
You can now do this with the of-watchdog and the new generation of templates. Example: https://github.com/openfaas-incubator/node8-express-template

[2018-08-07 11:55] alexellis commented on #467
Derek close: inactive

[2018-08-07 11:55] #467 closed

[2018-08-07 11:55] alexellis commented on #450
Derek close: released by @ericstoekl + @squillace

[2018-08-07 11:55] #450 closed

[2018-08-07 11:56] alexellis commented on #437
Derek close: completed

[2018-08-07 11:56] #437 closed

[2018-08-07 11:56] alexellis commented on #428
Derek close: lack of interest

[2018-08-07 11:56] #428 closed

[2018-08-07 11:56] alexellis commented on #416
Derek close

[2018-08-07 11:56] #416 closed

[2018-08-07 11:57] alexellis commented on #416
This feature is non-trivial and would need a distributed store / cluster to decide which node should run each task. This is already a feature of Kubernetes and with Swarm Jenkins would make a great cron-job runner.

[2018-08-07 11:57] alexellis commented on #405
Derek close: I believe this to be resolved - a health check is always needed in Swarm

[2018-08-07 11:57] #405 closed

[2018-08-07 11:57] LucasRoesler commented on #807
I think this is a good idea, I like that it will streamline the documentation. I don't see any major gaps at the moment.

There might be some questions around access controls, but the OpenFaaS system wouldn't be able to support those right now anyway. The system would not be any more leaky than it currently is.

[2018-08-07 11:59] alexellis commented on #396
This suggestion configures the readiness check on a per function basis. I'm not sure what the point of that is?

[2018-08-07 11:59] alexellis commented on #396
Derek close: inactive

[2018-08-07 11:59] #396 closed

[2018-08-07 11:59] alexellis commented on #389
Derek close: inactive

[2018-08-07 11:59] #389 closed

[2018-08-07 11:59] alexellis commented on #379
Derek close: inactive

[2018-08-07 11:59] #379 closed

[2018-08-07 12:00] alexellis commented on #379
That sounds really useful @kaikai-liu - would you be wiling to write-up the steps here?

[2018-08-07 12:01] alexellis commented on #362
Derek close: n/a

[2018-08-07 12:01] #362 closed

[2018-08-07 12:01] alexellis commented on #349
Derek close: fixed with basic auth in GW

[2018-08-07 12:01] #349 closed

[2018-08-07 12:02] alexellis commented on #347
Derek close: fixed with watchdog via `combine_output` flag

[2018-08-07 12:02] #347 closed

[2018-08-07 12:02] alexellis commented on #337
Derek close: version of this available in openfaas-incubator/of-watchdog

[2018-08-07 12:02] #337 closed

[2018-08-07 12:03] alexellis commented on #282
Derek close: fixed

[2018-08-07 12:03] #282 closed

[2018-08-07 12:03] alexellis commented on #273
Derek close: fixed

[2018-08-07 12:03] #273 closed

[2018-08-07 12:04] alexellis commented on #263
Derek close: fixed via kafka-connector and annotations field in YAML

[2018-08-07 12:04] #263 closed

[2018-08-07 12:04] alexellis commented on #238
Derek close: released and blog available at https://www.openfaas.com/

[2018-08-07 12:04] #238 closed

[2018-08-07 12:06] alexellis commented on #356
Derek close

[2018-08-07 12:06] #356 closed

[2018-08-07 12:06] alexellis commented on #383
Derek close: done

[2018-08-07 12:06] #383 closed

[2018-08-07 12:06] alexellis commented on #361
Derek close: https://github.com/openfaas-incubator/kafka-connector

[2018-08-07 12:06] #361 closed

[2018-08-07 12:06] alexellis commented on #249
Derek close

[2018-08-07 12:06] #249 closed

[2018-08-07 12:07] alexellis commented on #253
Derek close: thanks @johnmccabe

[2018-08-07 12:07] #253 closed

[2018-08-07 12:07] alexellis commented on #233
Derek close: Implemented by @ewilde - https://github.com/ewilde/faas-fargate

[2018-08-07 12:07] #233 closed

[2018-08-07 12:08] alexellis commented on #235
Derek close

[2018-08-07 12:08] #235 closed

[2018-08-07 12:08] alexellis commented on #235
@burtonr please close issues using Derek

[2018-08-07 12:09] alexellis commented on #234
Thank you for all the work on this. It was used in the Kafka-connector, but the gateway still uses NATS Streaming for Async. We may revisit in the future depending on appetite from users.

[2018-08-07 12:09] #234 closed

[2018-08-07 12:09] alexellis commented on #175
Derek close: fixed

[2018-08-07 12:09] #175 closed

[2018-08-07 12:09] alexellis commented on #182
Derek close: n/a

[2018-08-07 12:09] #182 closed

[2018-08-07 12:10] alexellis commented on #202
Derek close: this was made to work, but is lacking appetite from users. Is unlikely to be working presently on ARM64.

[2018-08-07 12:10] #202 closed

[2018-08-07 12:10] #212 closed

[2018-08-07 12:10] #107 closed

[2018-08-07 12:10] #55 closed

[2018-08-07 12:12] alexellis commented on #169
It would be nice to see this in the faas-nomad implementation. See also: #807

[2018-08-07 12:13] alexellis commented on #774
Both `GET` and `POST` are supported verbs for all functions. It's up to you to handle them inside your function code.

[2018-08-07 12:13] alexellis commented on #774
d

[2018-08-07 12:13] #774 closed

[2018-08-07 12:14] alexellis commented on #766
Derek close: fixed

[2018-08-07 12:14] #766 closed

[2018-08-07 12:15] alexellis commented on #408
Derek close

[2018-08-07 12:15] #408 closed

[2018-08-07 12:25] ivanayov commented on #469
This is addressed in docs: [#define-a-secret-in-kubernetes](https://docs.openfaas.com/reference/secrets/#define-a-secret-in-kubernetes)

[2018-08-07 12:27] ivanayov commented on #469
Derek close

[2018-08-07 12:27] #469 closed

[2018-08-07 12:35] s8sg commented on #679
@alexellis  `Cache-Control` alone is not enough to get the benefits. As we can't use dynamic value for either `Expires`, `Last-Modified` or `Etag`. I guess it better to take those use-case in `of-watchdog`.

Although we might generate dynamic `Last-Modified`/`Etag` tag from the watchdog itself for each request, but not sure it thats a good idea

[2018-08-07 13:15] kaikai-liu commented on #379
@alexellis I added more scrape setting of kubelet cAdvisor and more alert rule setting in prometheus config file and then I can see the pod scales up when there is a firing alert in prometheus. The following is the revised version of the yaml file `prometheus_config.yml`.
[code]

The part of `job_name: "cadvisor"` is responsible for obtaining the cadvisor metrics of every Kubernetes node and the p

[2018-08-07 15:10] james-r-smith commented on #806
@alexellis, I agree that small steps should be made, and it should be done in one big sweep through the projects. That's a great start! Should we upgrade the version to Go `1.11beta3`, or go with the latest released version like `1.10.3`? Also, I would think if we do projects one at a time, it would help with the migration.

@stefanprodan, Kubernetes has seemed to go with [Bazel](https://bazel.bui

[2018-08-07 15:37] stefanprodan commented on #806
@james-r-smith I think you are confusing a build tool such as Bazel with a dependency one such as [Godep](https://github.com/tools/godep). Kubernetes didn't made the switch to [dep](https://github.com/golang/dep) because it didn't work for them, they use [godep](https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json). Docker Moby uses [vndr](https://github.com/LK4D4/vndr).

We've

[2018-08-07 16:05] james-r-smith commented on #806
Ah, okay, @stefanprodan. Thanks for clearing things up. I can understand your side of the argument now. That sounds fine. We can definitely initiate the process by upgrading the versions of Go throughout. Would this be okay to start now, or should we pick this back up once `1.11` is released?

[2018-08-07 20:26] rgee0 commented on #807
I like the idea, and like Lucas my first thought was around controls.  There would be a shift here in managing secrets which would need some thought, particularly in the context of dev teams sharing a platform.  It feels like this is something which could do with multi-tenancy support in order to work effectively.

[2018-08-07 20:53] alexellis commented on #807
I think I'm hearing: exposing a secrets creation endpoint feels like opening up more access, but if you have access to the API you can do whatever you want already. TLS + auth should be a must for using this - it's one of the reasons I think we should have list, but not "get value"

I'd also like @stefanprodan's input.

[2018-08-08 05:57] johnmccabe commented on #776
@alexellis as discussed I've started having a look at integrating these into the site

[2018-08-08 07:54] stefanprodan commented on #807
If we want to offer secrets management with OpenFaaS I would consider the following:

Swarm doesn't support secret updates so we need to generate a unique name for it, detect what functions are using the secret, create a new function definition with the new secret name, change the mount, delete the current Docker service and create a new one. I see no way to avoid downtime for this, also the code

[2018-08-08 07:58] alexellis commented on #807
I did say CRUD, but in effect what I want is for us to provide a way to make our tutorials more concise by having one CLI command for secrets. Given that Swarm can't update a secret, and can't delete one which is in-use with a function, maybe create/delete/list would solve most of the problem?

[2018-08-08 08:05] stefanprodan commented on #807
Why limit the capabilities just because Swarm doesn't supports it? I would do create/update/delete/list and for update/delete just error out on Swarm with a message telling the user about the Swarm restrictions.

[2018-08-08 08:30] MarsWarrior commented on #776
Nice issue.
You may add us too!
Using OpenFaaS voor integration and callable AI/ML models for asset management.

- [Website](https://www.intraffic.nl/)
- [Logo](https://www.intraffic.nl/wp-content/themes/intraffic/assets/img/base/logo.svg)

[2018-08-08 08:32] alexellis commented on #807
I'd consider the live-reloading a non-goal for this item.

[2018-08-08 08:36] stefanprodan commented on #807
On Kubernetes the `live-reloading` can be done in the function code, we can advise our users to read the secret file on every function call even if they use of-watchdog.

[2018-08-08 08:37] LucasRoesler commented on #807
I like the idea of returning an error for update endpoint in Swarm

[2018-08-08 08:38] LucasRoesler commented on #807
for `live-reloading` couldn't of-watchdog watch the secrets folder for changes and reload itself?

[2018-08-08 08:40] stefanprodan commented on #807
Yes it can, all it need is to detect changes in the `..data` symlink, here is an example https://github.com/stefanprodan/k8s-podinfo/blob/master/pkg/fscache/fscache.go

[2018-08-08 09:59] stefanprodan commented on #807
If we would have a `context` object in the handler to wrap the HTTP headers, query strings, env vars, etc we could implement the secrets management in the watchdog and make things easier for out users. For example, the watchdog would read/reload all secrets from disk and expose them as a map attached to the `context` object.

[2018-08-08 11:43] andrew-s commented on #783
@alexellis Yeah, sounds good - let me know what you need and I'll get it going.

[2018-08-08 11:45] Brunty commented on #783
If there’s anything I can help with let me know :)

[2018-08-08 11:55] alexellis commented on #807
This is going a bit off-topic, perhaps open a new issue to suggest live-reloaded of secrets?

The other issue is that we are assuming the underlying code or function can automatically reset itself and that's rarely the case.

Please can we keep this feature discussion focused on how to enable a single UX for creating, deleting and listing secrets? Updating I'd say is out of scope, but if we want t

[2018-08-08 12:51] alexellis commented on #783
How about a PR to the templates repo? Please just checkout the contribution guide in the faas repo before starting that though.

[2018-08-08 12:53] alexellis commented on #776
Thank you @MarsWarrior, would the company name be `Intraffic`? 👍

[2018-08-08 13:04] MarsWarrior commented on #776
If you could change Intraffic to InTraffic (capital T) everything is ok!

[2018-08-08 13:29] nelfer commented on #795
Yes. I'll do some preliminary experimentation to see what's the actual impact once deploying a lot of functions.

[2018-08-08 15:06] rgee0 commented on #807
Can we elaborate on why reading was omitted from the initial idea?  I think that is alluding to something which needs exploring further.  If we were to omit reading but allowed listing then isn't trivial to create a function to dump out all the secrets?

Earlier @alexellis mentioned that if you have API access then you already have free rein.  What about situations where that (API access) isn't th

[2018-08-08 18:59] maiermic commented on #776
Happy to have Virality included.

- [Website](https://www.virality.de)
- [Logo](https://www.virality.de/wp-content/uploads/2016/07/virality_logo_big.png)

[2018-08-09 15:56] stefanprodan commented on #807
@rgee0 If I can gain control of an OF Gateway, let's say a weak password is used, I can use the `list` API to find all the secrets name and using those I could deploy my own function that maps and reads all the secrets. So in a way, not implementing secret `get` in the API doesn't make your secrets safer.

[2018-08-09 16:56] LucasRoesler commented on #807
Since you can't read the secret value, what purpose does a `GET` endpoint for a specific secret serve? what would it return?

WRT to not having API access, if you don't have API access, then you can't have CLI access either, right?

[2018-08-09 16:58] alexellis commented on #807
I see no value in adding a `GET` that would give the plaintext value of the secret from a vault. I do see value in having one single CLI command to create, delete and list them. The commands are there to service the cluster and developers - `GET` serves no value in my opinion.

[2018-08-09 17:08] rgee0 commented on #807
@stefanprodan I agree

@lucas - it depends which API we are referring to.  I took the original reference to mean the orchestrator API, since this is about adding secret support to the OF API gateway.  There may be situations within enterprises where the platform is managed by a separate team / org and so adding something to the CLI would open up more access to the developer than they would be used

[2018-08-09 17:16] alexellis commented on #807
Not implementing `list` does not constitute a security feature. If CREATE/DELETE/UPDATE are available then LIST is going to be needed with it for the user-experience.

If someone has access the to secrets API, they would indeed be able to list the secrets (that is the feature) then request them for their function. At that point they already have administrative access on the whole OpenFaaS API anyw

[2018-08-09 17:53] LucasRoesler commented on #807
Is it worth pointing out a potential client only implemention that leverages the users credentials already configured in docker/kubeconf? The CLI could talk to the underlying orchestration directly and leverage what ever credentials and ACL already implemented through those systems?

Ultimately, either solution still relies on security through obscurity, there is nothing stopping someone from gues

[2018-08-10 06:27] pourabolghasem opened #813 "Enable X-Call-Id header for async-function calls"
## Expected Behaviour

When an async-fucntion call is made, the only way for the caller to track the function execution is through X-Callback-Url header. This is great for event driven architectures. But if the caller wants to track (i.e., correlate) the result of individual function calls with the actual calls, it seems the only way is to embed the tracking information (uuid) within the request b

[2018-08-10 06:36] alexellis commented on #813
Sounds good to me.

Would you like to implement and test it?

I also wondered if you had more info on your usecase?

Alex

[2018-08-10 07:27] ivanayov commented on #813
Derek add label: proposal

[2018-08-10 07:27] ivanayov commented on #813
Derek add label: help wanted

[2018-08-10 10:41] ivanayov commented on #782
Derek add label: proposal

[2018-08-12 19:48] pharrukh opened #814 "Support: Issue with AKS + RBAC + Helm"
I run this command:

[code]

`Error: error validating "": error validating data: found invalid field readOnlyRootFilesystem for v1.PodSecurityContext`

## Expected Behaviour

The services of OpenFaas are deployed to Azure Kubernetes Services.
## Current Behaviour

Services are not deployed.
## Context

When I edit the file: `./faas-netes/chart/openfaas/templates/gateway-dep.yaml` and remove `readO

[2018-08-12 20:06] alexellis commented on #814
@stefanprodan PTAL, any relation to recent refactoring work in helm chart? AKS used to work without RBAC as per the guide written with @squillace and @ericstoekl

I would think you can get paste this by creating your cluster with RBAC enabled (I believe you need to use the AKS CLI for that)

[2018-08-12 20:06] affix commented on #814
by setting `--set rbac=false` you don't create the service account.

Do you have RBAC enabled on your AKS Cluster?

[2018-08-12 20:56] alexellis commented on #814
How about trying?

[code]

[2018-08-12 20:57] alexellis commented on #814
Try this:

[code]

It'll tell us whether you have RBAC on or not.

[2018-08-12 21:07] alexellis commented on #814
So we set up an AKS cluster with 2 nodes in `eastus` using these instructions:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

Then I installed OpenFaaS with:

[code]

Before that I installed helm + tiller -> https://github.com/openfaas/faas-netes/blob/master/HELM.md

Then I got a LoadBalancer for the gateway and tried to deploy `figlet`

<img width="903" alt="screen shot 2018-0

[2018-08-12 21:13] alexellis commented on #814
The SA does appear to exist, but do we know why we're getting the error on a cluster which has RBAC turned off?

[code]

[2018-08-12 21:17] alexellis commented on #814
As strange as it sounds, setting rbac to `true` resulted in the cluster fully working, despite me being able to detect RBAC in the Kubernetes cluster. Perhaps Azure are enabling RBAC silently now?

[2018-08-13 07:33] alexellis commented on #814
I pinged @lachie83 from Azure / AKS who told me RBAC is on, on all clusters by default when created with the current CLI version of `az`. That would add up with that I saw when I installed OpenFaaS with `--set rbac=true`. @affix can you try installing with `--set rbac=true` on your test cluster?

[2018-08-13 17:11] lachie83 commented on #814
Hey @alexellis. Apologies. I've done some digging and I don't believe it is on by default in the CLI just yet. You would have to explicitly enable it. In order to confirm you can show the cluster details using the CLI. ```
az aks show -g <RESOURCE_GROUP> -n <CLUSTER_NAME>
Look for - enableRbac
[code]

[2018-08-13 18:02] pharrukh commented on #814
This is the result of `az aks show -g berlincluster-dev-rg -n berlincluster`

`{
  "aadProfile": null,
  "addonProfiles": {
    "omsagent": {
      "config": {
        "logAnalyticsWorkspaceResourceID": "/subscriptions/ef7fec7f-59c8-46f3-8fd6-b66cbd0a1205/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-ef7fec7f-59c8-46f3-8fd6-b66cbd0a1205

[2018-08-13 18:04] pharrukh commented on #814
I am now recreating a cluster, as I did not find a way to change `rbac`. Here is the warning message:
`az aks create --resource-group serverless-dev-rg --name serverless-cluster --enable-rbac

Argument 'enable_rbac' has been deprecated and will be removed in a future release. Use '--disable-rbac' instead.`

[2018-08-13 19:36] alexellis commented on #814
I think it's confusing but the Azure team changed their setup to enable RBAC rather than disable it. So you should create a cluster and then install with OpenFaaS without setting `--set rbac=false`

Please do this and report back.

[2018-08-14 03:26] thepudds commented on #806
One quick update/comment: kubernetes is now moving towards Go 1.11 modules (aka vgo). See for example here:

https://github.com/kubernetes/kubernetes/pull/64731#issuecomment-407345841

and here:

https://github.com/kubernetes/kubernetes/pull/65683

(And in general the whole design of versioned modules / vgo allows for the ecosystem to adopt at different rates, and it is still very much at the opt-

[2018-08-14 06:43] farrukh-normuradov commented on #814
@alexellis I did exactly that yesterday. I got faas service installed in the cluster and I got functions deployed through UI.  But status never turned to "Available/Ready", it was not ready so the "Invoke" button was disabled. I did not yet figure out how to control deployment with `faas-cli`.

I will retry today, in 10 hours and report back.

[2018-08-14 07:45] alexellis commented on #806
Thanks for the discussion. I think we need to hold off for now, certainly we do not want to be adopting a beta or alpha version of Go.

James et al, if you're looking for ways to contribute please comment in #contributors on Slack.

[2018-08-14 07:45] alexellis commented on #806
Derek lock: revisit

[2018-08-14 08:16] ivanayov commented on #813
Derek assign: me

[2018-08-14 08:19] alexellis opened #815 "Support additional HTTP verbs"
## Feature

It appears that more and more users are looking to OpenFaaS for stateless microservices as well as functions, they expect a set of "REST"-like features including expansion of HTTP verbs and additional path support i.e. #789

This feature adds support for additional HTTP verbs: DELETE, PUT, PATCH.

## Design considerations

GET and POST are currently supported by the gateway, so the mux

[2018-08-14 08:33] alexellis commented on #778
OK @CrystalMethod 👍

[2018-08-14 08:59] alexellis commented on #815
of-watchdog -> https://github.com/openfaas-incubator/of-watchdog

[2018-08-14 09:05] alexellis commented on #748
@RAKedz please update your CLI version to latest.

Alex

[2018-08-14 09:08] ivanayov commented on #814
@farrukh-normuradov what is the pod status?

[2018-08-14 17:00] pharrukh commented on #814
I got it working by not setting `--set rbac=false`.

My request was graciously handled, I appreciate. Thanks.

[2018-08-14 17:00] #814 closed

[2018-08-15 07:31] wnagchenghku opened #817 "Concurrent executions of the same function in a single container?"
I would like to ask about the concurrency of OpenFaaS.

## Current Behaviour

According to the [SAND paper](https://www.usenix.org/system/files/conference/atc18/atc18-akkus.pdf) (Section 2.3), OpenFaaS allows parallel executions of the same function in a single container, but I didn't find any such information on OpenFaaS website. May I know does OpenFaaS support this behavior? If it supports, doe

[2018-08-15 13:32] scher200 commented on #488
Hi @alexellis I experience the same thing as @dayuoba has but then with faas-netes:
[code]
or
[code]
both result in an old image being launched. While deleting the function first and then deploying, is not helping either.
I am using a private repository but this is well configured and pulled the image the first time.
It just does not seem to re-pull and upgrade to the new version of the equally na

[2018-08-16 07:56] alexellis commented on #817
Hi @wnagchenghku, this is documented but perhaps not in the language you were looking for.

Concurrent execution is supported with both function execution models. We use a watchdog shim component in the container to manage this.

https://docs.openfaas.com/architecture/watchdog/

Alex

[2018-08-16 07:56] #817 closed

[2018-08-16 07:56] alexellis commented on #817
If you'd like to ask more questions please join the Slack community https://docs.openfaas.com/community

[2018-08-16 07:56] alexellis commented on #813
@ivanayov what's your ETA on this? Thanks

[2018-08-16 07:58] alexellis commented on #807
OpenFaaS users may not have administrative access to the cluster (or in the case of Docker Swarm, may not be logged into the server directly)

Another place where this would be needed is OpenFaaS Cloud for Swarm, where the SealedSecret definitions could be created by the import-secrets function.

[2018-08-16 12:43] ivanayov commented on #488
@scher200 I've experienced the same when pushing images to registry, but didn't investigate the issue yet. Might be with Docker Hub.
It seems that there is some caching.

What helps is repeating build/push/deploy.

[2018-08-16 13:08] alexellis commented on #488
Why don't you try using a new tag with each version? It's not a good practice to keep reusing the same tag.

You can also use --tag=sha between git commits passed to build, push and deploy. Please open your own issue if you have any other issues with full instructions on how to reproduce

[2018-08-16 13:09] alexellis commented on #488
Derek lock

[2018-08-16 15:16] #813 closed

[2018-08-17 12:34] alexellis commented on #759
Sure your can do that, but it's not going to be a supported configuration. That means you'll need to maintain your own patch and configuration. If that feels like too much work then use our bundled version which is scoped to the openfaas namespace.

Alex

[2018-08-18 18:34] ewilde commented on #815
@alexellis do you want to have a way to invoke the new HTTP verbs in the UI? (I see the --method alread exists in the CLI)

[2018-08-18 18:43] alexellis commented on #815
For now the UI could remain the same, leaving it to POST only.

[2018-08-19 18:45] SlopezP opened #823 "Question: Is it possible to redo the basic authentication process, or find out what the credentials for the gateway are?"
I am very inexperienced with all of this so any help at all would be appreciated.

I deployed openfaas via Docker swarm, and got to the point where the credentials for the gateway were created. However, I was greeted with a few permission errors, and ran the process again as a super user. What I didn't realize before I closed the terminal was that the credentials were printed within the terminal t

[2018-08-20 13:14] alexellis commented on #815
Example of where direct-functions is disabled and the functions are called via the back-end:

https://github.com/openfaas/faas-swarm/blob/master/handlers/proxy.go#L49

I know that CapitalOne needed to use this in their locked-down Kubernetes environment with faas-netes.

[2018-08-20 13:15] alexellis commented on #815
Additional verbs to be added for /function and /async-function endpoints (only):

There are other verbs which are often used with REST, but these are not part of the initial PR which should be incremental.

[2018-08-20 13:54] kenfdev commented on #776
@lucasalexander, could you give me the link to the logo for Contiamo? Thank you.

@tarunmangukiya Thank you for the links! It seems the logo's link is dead. Could you give me a new link for the logo? Thank you.

[2018-08-20 15:23] alexellis opened #824 "Amend Derek users"
We need to update the Derek user-list in the faas repo. Most repos redirect to this repo for access.

Remove inactive users

 - ovation22
 - cpitkin
 - jockdarock
 - itscaro

Add new full-time team:

- bartsmykla

Please cross-reference the GitHub org and add anyone who is missing: https://github.com/orgs/openfaas/people

[2018-08-20 22:32] ohld opened #825 "Reset the credentials"
Hi there! I've just found OpenFASS, created the docker swarm and run the installation bash script. It has generated a login-password pair that I have not saved anywhere.

Can you please describe the way how to reset the credentials instead of using `--no-auth` every time. Thanks and sorry for such a noob question.

[2018-08-21 05:58] stantonxu commented on #824
@alexellis , I've deleted the inactive users and added the individual users per the "People" list. How to add the full-time team? Add as an individual user?

[2018-08-21 08:01] bartsmykla commented on #824
As an individual user is fine I think. :-)

[2018-08-21 09:27] ivanayov commented on #825
Hi @ohld

This should help: [troubleshooting/#i-forgot-my-gateway-password](https://docs.openfaas.com/deployment/troubleshooting/#i-forgot-my-gateway-password)

Ivana

[2018-08-21 09:27] ivanayov commented on #825
Derek add label: quiestion

[2018-08-21 09:28] ivanayov commented on #825
Derek add label: question

[2018-08-21 09:28] ivanayov commented on #825
Derek add label: support

[2018-08-21 09:29] ivanayov commented on #825
Derek remove label: quiestion

[2018-08-21 10:44] alexellis commented on #825
Hi @ohld did that help?

[2018-08-21 10:49] alexellis commented on #825
I've also updated the docs page @ivanayov quoted to mention how to retrieve the credentials from the CLI config file.

[2018-08-21 12:25] ohld commented on #825
Yes. That helped. Thanks a lot!

[2018-08-21 12:25] #825 closed

[2018-08-21 17:05] stantonxu commented on #824
Thank you @bartsmykla , I will add `bartsmykla` as individual user, and remove the duplicated one.

[2018-08-22 06:06] tarunmangukiya commented on #776
Sorry for that. Fixed the issue!

[2018-08-22 07:08] #824 closed

[2018-08-22 07:08] alexellis commented on #824
Fixed via Stantonxu's PR

[2018-08-22 07:37] LucasRoesler commented on #776
Here they are
* [Website](https://www.contiamo.com)
* [Logo](https://uploads-ssl.webflow.com/5b4d97b58ebe677e65f7ebf1/5b574228dbd9dd57ad1c11ff_ContiamoWithText.svg)

[2018-08-22 18:45] RAKedz commented on #748
@alexellis I updated the client and tried using an image without the /myuser/ and now I get:

I put the /myuser/ back and now it deploys as expected.

[2018-08-22 18:58] alexellis commented on #748
Ok.. thanks for updating. Please can you just use a prefix all the time, it doesn't have to be the user - it can also be for instance "payroll" as a kind of namespace? Alex

[2018-08-22 19:25] RAKedz commented on #748
@alexellis  That means a 'payroll' can be use though it may not be a actual user in the registry, it's just a placeholder?

[2018-08-22 19:30] RAKedz commented on #748
I also had to use our existing network and I had to change the openfaas docker-compose.yml as described here:

Use a pre-existing network
If you want your containers to join a pre-existing network, use the external option:

[code]

[2018-08-23 11:14] alexellis opened #827 "UI: automatically select "Download" for store functions"
## Expected Behaviour

If a store function has a label of `com.openfaas.ui.ext` then we should automatically select the `Download` button because it means a binary file will be generated.

## Current Behaviour

Users may not know to click the button and then end up with binary data in the response text-box which is less than ideal.

## Possible Solution

Minor fix to the Angular 1.x / JS code.

##

[2018-08-23 13:50] ivanayov commented on #823
Hi @SlopezP

You can find the credentials following these instructions: [troubleshooting/#i-forgot-my-gateway-password](https://docs.openfaas.com/deployment/troubleshooting/#i-forgot-my-gateway-password)

[2018-08-23 13:50] ivanayov commented on #823
Derek add label: support

[2018-08-23 13:50] ivanayov commented on #823
Derek add label: question

[2018-08-23 17:25] ivanayov opened #829 "Add GET method for async calls"
At the moment async functions allow only POST requests.

I cannot think of practical example for using GET asynchronously (if someone can point out - thanks for sharing), but a benefit of supporting GET is that the user will not be confused with non-success status `405` when trying such request, i.e. acessing in browser.

Came from #789 where path parameters are supported for both async and non-as

[2018-08-24 01:29] lsca commented on #776
Happy to have Ustore included.

- [Website](http://ustore.com.br)
- [Logo](https://umail.usto.re/img/ustore/Logo_Ustore.png)

We're using Open Faas in production

[2018-08-24 02:46] SlopezP commented on #823
I tried resetting the password, and copying the printed string into the password field with "admin" as the username, but could not get in. Where am I going wrong? or what am I not understanding?

[2018-08-24 07:52] alexellis opened #831 "UI: Show info icon for gateway & provider version/data"
## Expected Behaviour

Using a Glyphicon we can now surface the information provided by `/system/info` which gives relevant versions and the back-end type. See `faas-cli version` as an example of the data or call the endpoint on your own gateway.

## Current Behaviour

Version available via API or `faas-cli version`

## Context

This data is now fully available in the API and stable. The original

[2018-08-24 07:54] #827 closed

[2018-08-24 08:01] #697 closed

[2018-08-24 09:37] ivanayov commented on #823
@SlopezP  Password reset is not supported at the moment. Did you try to retrieve the old credentials with the instructions shared above?

[2018-08-24 09:57] ivanayov opened #833 "Suggestion: Allow password update for basic authentication"
Forgetting the password for basic-auth starts to be a common issue. (#823, #825)

There is a [documentation](https://docs.openfaas.com/deployment/troubleshooting/#i-forgot-my-gateway-password) for how to retrieve the old password, but people might find it hard to follow every time they forget it. Password update would allow them to set their own.

[2018-08-24 10:00] alexellis commented on #823
@SlopezP run through the steps in the documentation that was shared by Ivana. That will give you your password. Hope this helps.

I'm going to close this issue because if you follow the instructions you'll get what you need. If you want to change the password you can remove the gateway, remove the secret then run the deployment again to generate a new password.

Alex

[2018-08-24 10:00] #823 closed

[2018-08-24 10:01] alexellis commented on #833
To address this I added a third method for password retrieval via looking at .openfaas/config.yml

I'll close this issue, but feel free to track suggestions here.

[2018-08-24 10:01] #833 closed

[2018-08-24 10:07] alexellis commented on #823
(Reset is supported) if you want to reset your password, simply delete the password and run the deployment script again. If your password is not compromised I'd suggest you run the instructions in the docs and then save your password somewhere like 1password for further use.

[2018-08-24 15:46] SlopezP commented on #823
I did run through the steps, is what I'm saying, but using "admin" as the username and using the password that the steps give me does not work.

How do I go about deleting the secrets to start over then? I don't see a guide for that in the troubleshooting page.

[2018-08-26 16:11] andrew-s commented on #783
Apologies for the delay, see the PR at; https://github.com/openfaas/templates/pull/65

[2018-08-27 14:40] ivanayov commented on #829
Derek add label: design/review

[2018-08-27 14:40] ivanayov commented on #829
Derek close

[2018-08-27 14:40] #829 closed

[2018-08-28 09:32] alexellis opened #835 "Document the scaling endpoint in Swagger"
An endpoint was added to the gateway to enable scaling programmatically. This needs to be added to the Swagger definition

[2018-08-28 09:32] alexellis commented on #835
Derek add label: help wanted

[2018-08-28 10:18] white-cloud commented on #797
Thank you for your answers @ivanayov  i wanna please to know the name of the yaml file that i should to modify and add the the lines;

com.openfaas.scale.min: 1
com.openfaas.scale.max: 1
# Limits for function
limits:
  memory: 40m
# Requests of resources requested by function
requests:
  memory: 40m

and what is the maximum memory size of the function that could be used???

[2018-08-28 11:37] alexellis commented on #797
Hi, GitHub is probably not the best way for us to do lots of ad-hoc user-support.

Perhaps you can join Slack? https://docs.openfaas.com/docs/ and ask there.

Also this is covered in the docs which is frustrating for me because it shows either we haven't done a good enough jobs on the docs or perhaps you could do more on your end before posting an issue.

* https://docs.openfaas.com/reference/yaml

[2018-08-28 11:37] #797 closed

[2018-08-28 13:08] ivanayov commented on #835
Derek assign: me

[2018-08-29 09:29] alexellis opened #836 "Pass basic auth upstream to providers"
## Expected Behaviour

When calling the /system/ or protected routes on the backend providers (upstream) i.e. faas-netes / faas-swarm, we should pass the basic credentials.

## Current Behaviour

This is not being done. For faas-swarm it is essential since faas-swarm is accessible via the network from functions. Related issue: https://github.com/openfaas/faas-swarm/issues/31

## Possible Solution

[2018-08-29 12:42] alexellis commented on #716
Derek close: released in 0.9.0

[2018-08-29 12:42] #716 closed

[2018-08-29 12:42] alexellis commented on #710
Derek close: inactive

[2018-08-29 12:42] #710 closed

[2018-08-30 10:12] alexellis opened #841 "Sample-functions: Convert ADD https:// to use curl"
## Expected Behaviour

All functions to use `curl` to get the watchdog since this can be cached by Docker.

[code]

## Current Behaviour

Some use `ADD https://` which cannot be cached.

## Possible Solution

Update all samples in the faas repo and test that they still build.

[2018-08-30 10:27] alexellis commented on #784
Is there any data-loss between creating functions via a stack.yml file and querying them back via the `/system/functions` endpoint?

If not, then we could add some kind of CLI command `faas-cli export --gateway https://...` > stack.yml

Alex

[2018-08-30 10:27] alexellis commented on #784
@rgee0 @ivanayov any thoughts?

[2018-08-30 10:29] rdimitrov commented on #841
I'll be happy to cover it.

[2018-08-30 17:59] rgee0 commented on #784
Not sure environment variables are stored in `/system/functions` nor `/system/function/fn`

[2018-09-01 13:42] LucasRoesler commented on #784
According to our documentation, https://github.com/openfaas/faas/blob/7a2a3542da5d5f67af001e6cd9948672945a0495/api-docs/swagger.yml#L409-L442
it looks like a env variables, secrets, limits, requests, and constraints are all missing

We would need the api to match this struct, right?
https://github.com/openfaas/faas-cli/blob/85e2bd1d2b1cd8682d45a156f68ab3e518d5392c/stack/schema.go#L14-L59

[2018-09-01 17:00] alexellis commented on #784
What’s in the code in faas-swarm? Swagger may lack some details but is updated on a best effort basis.

[2018-09-01 17:00] alexellis commented on #841
Thank you. All yours.

[2018-09-01 17:03] alexellis commented on #831
Thank you

[2018-09-02 08:40] LucasRoesler commented on #784
From faas-swarm https://github.com/openfaas/faas-swarm/blob/be442da69feaeff3e19be1ecbc18c1c3b2ef1ff5/handlers/reader.go#L39
it returns a `requests.Function`

https://github.com/openfaas/faas/blob/7a2a3542da5d5f67af001e6cd9948672945a0495/gateway/requests/requests.go#L61-L78

[2018-09-02 20:57] rdimitrov commented on #841
@alexellis Do you have any suggestions about how to handle [this](https://github.com/rdimitrov/faas/blob/eceac0a097d4df0f428f1e724c84f23b990acb76/sample-functions/BaseFunctions/golang/Dockerfile.win#L9l) Windows Dockerfile?

[2018-09-03 02:25] s8sg opened #845 "Proposal: Make Function Name Available To Function"
The idea here is to enable the function name available as a readable form.
Which later can be retrieved from the the handler or in the template.

One friendly way could be from Environment Variable, say `OPENFAAS_FUNCTION `:
[code]

## Expected Behaviour
Once we build and deployed, it will have the environment variable `OPENFAAS_FUNCTION`, that can be used to retrieve the  function name.

## Curre

[2018-09-03 09:47] rdimitrov commented on #841
* All samples for each architecture (where applicable) are updated and tested that there's no difference in terms of building.
    * The only one left is [this one](https://github.com/rdimitrov/faas/blob/eceac0a097d4df0f428f1e724c84f23b990acb76/sample-functions/BaseFunctions/golang/Dockerfile.win#L9l)
* The changes related to each architecture are split in different commits - for ex. amd64, arm64,

[2018-09-03 12:36] alexellis commented on #841
Hi @rdimitrov I don't think anyone is using the Windows example so I'd leave it as it is for now.

[2018-09-03 12:36] alexellis commented on #841
Do you have a pull request ready?

[2018-09-03 12:40] alexellis commented on #845
If this is something we want to do then it can be applied through the provider easily in one single place - or injected at the gateway into labels on create/update.

[2018-09-03 12:41] alexellis commented on #845
@s8sg thanks for the suggestion. Do you have a practical need for this or is it a "nice to have"?

[2018-09-03 12:41] alexellis commented on #845
Derek add label: proposal

[2018-09-03 12:44] stefanprodan commented on #845
Injecting this variable from the Gateway will not work if you use the kubectl and the operator since it skips the Gateway API when you create a function this way. We could add this at the provider level.

[2018-09-03 12:45] alexellis commented on #845
OK you're right. The Operator is an exception when used via kubectl.

[2018-09-03 12:46] stefanprodan commented on #845
In Kubernetes getting the function name can be done by parsing the Hostname env var. The hostname it the pod ID that's prefixed with the function name.

[2018-09-03 12:47] LucasRoesler commented on #845
The list of use cases provided are not fully supported by just this change, except for logging.  In each of the other cases it seems like the function would need to know other deployment information about the gateway and ingress configuration.

I am very sympathetic about the logging use case though.  The name could possibly injected using the `fieldRef` https://kubernetes.io/docs/tasks/inject-dat

[2018-09-03 12:47] s8sg commented on #845
I agree with the point. Theres way to provide it as a build time argument
and add it in some file while building the image. Or simply provide a
secret with function name

On Mon, 3 Sep 2018 at 21:44, Stefan Prodan <notifications@github.com> wrote:

[2018-09-03 12:48] alexellis commented on #845
For the implementation I'd rather inject an env-var from the provider like the suggestion outlines. This way if we change the name of the function pod in the future to be a GUID etc we can still support the use-case.

I just don't want us to do "busy-work" unless we see real value in this being added. It will touch faas-swarm, faas-nomad, faas-netes, openfaas-operator and faas-fargate, so it's not

[2018-09-03 23:14] stefanprodan opened #847 "Setting upstream host breaks Istio"
The forwarding proxy sets the upstream request host by coping it from the incoming request breaking Envoy upstream when the upstream protocol is set to HTTP.

## Expected Behaviour

The gateway function calls should work inside Istio mesh.

## Current Behaviour
The gateway function calls fail with 404 since Envoy forwards the request back to the Gateway due to the host setting.

## Possible Soluti

[2018-09-03 23:16] stefanprodan commented on #847
The commit that broke Istio was https://github.com/openfaas/faas/commit/fd0abe46dd7d057e9553d51a939227c6bafeefa1

[2018-09-04 04:16] s8sg commented on #845
@alexellis I faced similar problem when I was implementing the `faaschain`. In a workflow it a very possible scenario that function need to call `itself`. Passing a `environment` variable with function name externally is a valid way around, only that we need to specify it seperately.

As per the use case its not only limited to `logging`
For example a set of function might need to register themsel

[2018-09-04 06:42] ewilde opened #848 "Add missing attributes to /system/function/{functionName}"
## Expected Behaviour
Attributes used to create a function with the `POST` endpoint should be mirrored when retrieving the function meta data using the `GET` endpoint

## Current Behaviour
The attributes are currently as follows:

| Name        | POST     | GET    |
|:------------|:--------|:----------|
|service      | <ul><li>- [x] &nbsp;</li></ul> | <ul><li>- [x] - called `name` </li></ul>|
|net

[2018-09-04 07:05] alexellis commented on #848
Thanks for adding the context for this.

The service list / endpoint is used for auto-scaling, event connectors and checking readiness. What kind of latency or size increase would we expect for this?

[2018-09-04 13:06] stefanprodan opened #851 "Istio integration"
This is an overarching issue to keep track of the progress on making OpenFaaS compatible with Istio service mesh.

Goals:

- tracing function calls with Jaeger from Istio Gateway to the function pod and back (https://github.com/openfaas/faas-netes/issues/272)
-  inbound/outbound traffic monitoring for each OpenFaaS service with Prometheus
-  isolate OpenFaaS core services and functions with Mixer

[2018-09-04 22:45] rdimitrov commented on #802
The resulted guideline of this effort, covering both ARMv8 and ARMv7 virtual environments, can be found in the [following gist.](https://gist.github.com/rdimitrov/74cb3afb081f15f818d9188c33ea96a9)

[2018-09-05 09:15] alexellis commented on #806
Derek add label: proposal

[2018-09-06 02:56] WhoisZihan opened #853 "Support: Docker Swarm issue on Ubuntu"
I am deploying openfaas using docker swarm in ubuntu 16.04.5, but after running `./deploy_stack.sh`, I find the containers are created, but port 8080 is NOT being listened on, and openfaas keeps creating new openfaas/prometheus containers, even though none of them is running(their status are all `Created`)

Here is the docker verison
[code]

## Expected Behaviour

After `./deploy_stack.sh`, it sho

[2018-09-06 03:38] WhoisZihan commented on #853
Another small issue is that if I install cc-runtime, openfaas will start all components using `qemu-lite-system-x86_64` even if I'm using docker swarm, but I just want to use containers instead of VMs. Virtual machines consumes my CPU really quickly.

Is there any way to use only containers instead of VMs?

[2018-09-06 07:08] alexellis commented on #853
Hi @WhoisZihan,

Thank you for trying OpenFaaS. I use Swarm on Ubuntu Linux 16.x quite often and I can confirm that neither VMs or QEMU are used or needed.

I just set up my own temporary Linux VM and installed Swarm / OpenFaaS without any issues.

Alex

As a tip for debugging you may find many containers appearing on `docker ps -a` means that your system is not configured properly or that there i

[2018-09-06 08:07] alexellis commented on #853
From what I can see this is not related to OpenFaaS. Feel free to open a ticket with the Docker team. I'm going to close the issue but let us know how you get on.

[2018-09-06 08:07] #853 closed

[2018-09-06 13:18] WhoisZihan commented on #853
Hi @alexellis , thanks a lot for your detailed reply, adding `--gateway` solves the login problem.

I also find the root cause of using qemu: I once installed clear container long time ago and used `cc-runtime` as the runtime, and it will sometimes use lightweight VM as low-level runtime instead of containers. After I delete the old system service file, everything is normal now.

[2018-09-06 14:30] alexellis commented on #841
@rdimitrov in your next PR please add the text: "Closes #...."

[2018-09-06 14:30] #841 closed

[2018-09-06 14:43] alexellis commented on #853
So happy to hear that 😄

Btw you're welcome to join Slack - https://docs.openfaas.com/community - it might be easier for Q&A there and to share more about the project.

Alex

[2018-09-06 14:45] alexellis commented on #848
@openfaas/core please take a look. I'd like your input.

[2018-09-06 16:12] rdimitrov opened #856 "Bump gateway to version 0.9.1"
Update the gateway version to 0.9.1
## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

* Please also follow the [troubleshooting guide](https://github.com/openfaas/faas/blob/mas

[2018-09-06 17:17] #856 closed

[2018-09-06 23:54] telackey commented on #776
@alexellis

We would be glad to have Wireline.io add to the list and are thankful for the excellent help and cooperation from the OpenFaaS team.

- [Website](https://www.wireline.io/)
- [Logo](https://d33wubrfki0l68.cloudfront.net/4f6804cf76b6552ddb15a6c3cc4faf16114977ea/64559/images/wireline-hero-large.svg)

[2018-09-07 05:42] polvoazul commented on #391
@stormwalkerec
You could try setting the alert policy to something like:

    sum by(function_name) (rate(gateway_function_invocation_total[10s])
    ) / sum by(function_name) (avg_over_time(gateway_service_count[10s])) > 5

as opposed to the default:

    sum by(function_name) (rate(gateway_function_invocation_total{code="200"}[10s])) > 5

In English this means: more than 5 function calls per sec

[2018-09-07 11:28] heroic commented on #776
@alexellis Here you go:

[SVG Logo](https://drive.google.com/open?id=0B7s7yYPKbuN2Tnh6aDRwTjVzMUU)

[2018-09-07 11:38] kenfdev commented on #776
Thank you @heroic . Looks like the SVG has White text? PNG is fine so I'll use the png version 👍

[2018-09-07 11:43] heroic commented on #776
@kenfdev You can fill the svg with #0079f3, if you'd like to use SVG

[2018-09-08 13:57] ewilde opened #860 "Proposal: adopt bash as the preferred scripting shell and improve error handling"
## Expected Behaviour
* Scripts used to build, run tests and orchestrate CI should behave the same way when run on either linux or mac. Some developers use a mac and some use linux

* Scripts, in general, should exit if an error occurs and not continue regardless

## Current Behaviour
Most openfaas shell scripts I have come across reference the `#!/bin/sh` shebang. On current versions of mac osx t

[2018-09-09 23:50] Cerebus opened #862 "Use distroless image for runtime images"
In the interests of resource usage minimization and security, faas templates should use distroless images where available.

## Expected Behaviour
[Google distroless images](https://github.com/GoogleContainerTools/distroless) provide only necessary files for the contained application to run.  The resulting production image is substantially smaller in most instances.

Images without even a lightweig

[2018-09-10 07:55] alexellis opened #863 "Community: Meet at Open Source Summit Edinburgh"
## Event

[Open Source Summit Edinburgh - October 22-24](https://osseu18.sched.com/list/descriptions/)

## What's happening?

A number of the community and contributors will be attending and it'd be great too see you there too.

I have a talk on OpenFaaS Cloud on the Monday and would love to set up an afternoon/evening meet-up or get-together.

[Monday, October 22 • 15:05 - 15:45 - Introducing Ope

[2018-09-10 07:56] johnmccabe commented on #863
Yup

[2018-09-10 08:18] ivanayov commented on #863
I'm there. Glad to meet you all :)

[2018-09-10 08:46] affix commented on #863
Can't make the conference but the EICC is next to my office can meet up for a beer :)

[2018-09-10 08:57] #847 closed

[2018-09-10 09:02] alexellis commented on #851
@stefanprodan please update the tasks above with the current status

[2018-09-10 11:52] ivanayov commented on #862
+1 for this suggestion

I have thought about similar idea for minimising the images by separating the templates on 2 build stages, where the second image contains only a single binary, but didn't know it's already available with a multi-stage build.

My only concern about using [distroless](https://github.com/GoogleContainerTools/distroless) is that it looks like not being supported.

I think this

[2018-09-10 11:54] ivanayov commented on #862
Derek add label: proposal

[2018-09-10 12:10] ivanayov commented on #860
Derek add label: proposal

[2018-09-10 12:15] ivanayov commented on #860
Considering all the testing required after editing all scripts for `sh` and that there are no strong benefits from that, I would suggest going with solution 1.

One more reason, as listed in the pros, is that bash is the standard, so we should better stick to it.

[2018-09-10 13:52] burtonr commented on #836
This was resolved by #850

[2018-09-10 13:52] burtonr commented on #836
Derek close

[2018-09-10 13:52] #836 closed

[2018-09-10 14:37] ewilde commented on #863
:+1: yup, I'll be attending

[2018-09-10 14:41] Cerebus commented on #862
Google's distroless is mainly just an example.  Docker multi-stage builds might have made it obsolete, but I need to dig into the bazel builds and see what's really happening in there.

[2018-09-10 14:51] alexellis commented on #862
Unikernel-style microcontainers have their own maintenance issues and tradeoffs.

Happy for you to fork the templates repo and do your own experimentation. The CLI will allow you to pull templates from anywhere. This will allow you to test out whether any additional changes are required.

I don't see this as something we'll be approaching at this stage, but happy to revisit after your initial rese

[2018-09-11 11:03] stefanprodan commented on #851
@alexellis you could merge https://github.com/openfaas/nats-queue-worker/pull/37 first, do a release and I can update the Helm PR to include the new worker release.

[2018-09-11 15:16] ameier38 commented on #776
Would love to have MoneyLion included. Thanks for all the great work!

[Website](https://www.moneylion.com/)

[SVG Logo](https://drive.google.com/file/d/17hU5hX1R1zvRcbni7eSblDGKlVdLnGvo/view?usp=sharing)

[2018-09-12 02:04] kenfdev commented on #776
Thank you @ameier38 ! The logos would appear as soon as we merge the following:
https://github.com/openfaas/docs/pull/69

[2018-09-12 12:42] #851 closed

[2018-09-13 07:54] alexellis commented on #836
Thank you @burtonr

[2018-09-13 15:51] ngcdev opened #868 "Investigate: Invocation count 0 for some functions"
Only functions invoked with `curl` have a count

This is more of a question than an issue per se. I have several functions. A couple of those functions are called by our SVN post commit hook. We're using `curl` to make those calls.

The other functions are being consumed by Mattermost (a team collaboration tool that allows integration with HTTP services).

I know all of them are working and respon

[2018-09-13 18:49] Hellisotherpeople opened #869 "Question: Can I switch OpenFaaS to use Intel Optimized versions of Python?"
## Context
I am an employee at Intel Corporation. We are attempting to use OpenFaaS to benchmark the performance of Intels Python distribution with certain workloads.

## Questions

 **1. Is it possible to have OpenFaaS use the Intel Optimized version of Python instead of defaulting to the generic "python3-alpine" image?** Would it be worth it to try changing the image used even if it's not direct

[2018-09-13 19:49] alexellis commented on #868
Hi @ngcdev thanks for raising this issue with us.

What is the best way to reproduce the issue? Can you give a series of steps? What language template are you using? (Is it modified or official?)

I'd also encourage you to fill out the whole template with all the information we ask for so that we can better help you. If in doubt look at the template here -> https://github.com/openfaas/faas/blob/ma

[2018-09-13 19:56] alexellis commented on #868
Another thing you can do is to look up the gateway's raw metrics by adding:

[code]

To the end of the gateway URL.

Look for `gateway_invocation_count`.

Perhaps the reason we're seeing 0 is due to the results being non-200 results? (not sure)

[2018-09-14 02:59] kenfdev commented on #868
Thanks @ngcdev . As Alex says, we would like more context to reproduce this.

An additional question from me is:

Are you saying that the functions below get counted if using `curl`?

[code]

[2018-09-14 05:38] viveksyngh commented on #869
To answer your first question, you can create a custom template using the docker image you want to use.

For more details on using and creating a custom template, please refer to this link.
https://docs.openfaas.com/cli/templates/#70-customise-a-template

Also, join our slack community channel https://docs.openfaas.com/community/#slack-workspace.

[2018-09-14 08:07] alexellis commented on #863
Tagging @amouat who I've been talking to about arranging a small event. Potential talk from myself and @stefanprodan on Istio / OpenFaaS and maybe another topic?

[2018-09-14 10:06] viveksyngh commented on #869
Derek add label: question

[2018-09-14 13:40] amouat commented on #863
Just to be clear, it would be as part of the Docker meetup and I am talking to other speakers as well. But it would be great to have something on OpenFaaS and Istio.

[2018-09-14 17:18] augustin-taiwan commented on #776
@alexellis @kenfdev
Here is my company's logo and web site:

- [Website](https://www.pentium.network/)
- [Logo](https://w.uimt.com/img/pentiumlogo.svg)

Thank you!

[2018-09-14 18:50] Hellisotherpeople commented on #869
Thank you. I consider question 1 resolved. I will ask about question 2 in Slack.

[2018-09-14 19:18] alexellis commented on #776
Added by @LucasRoesler

[2018-09-16 08:22] padiazg opened #870 "Proposal: Edit metadata for functions from UI"
It is necessary that the UI handle the same information as the CLI.
It would be interesting to be able to visualize or modify the labels and annotations also from the UI.

Actually you can define labels & annotations throwght the CLI but not from the UI.

[2018-09-17 12:15] alexellis commented on #848
@ewilde this may also need adding to `/system/functions`

@martindekov was writing a script to add new labels to existing deployments but could not do so because if any functions had env-vars or secrets then they would be removed by the update.

[2018-09-17 12:29] bartsmykla commented on #848
I think that it's a good idea to mirror them, it'll improve coherence of API

[2018-09-17 12:50] LucasRoesler commented on #848
@alexellis if we are worried about the latency/size impact, we could

1. move this to subpaths, `/system/functions/spec` and `/system/functions/{name}/spec`.  So that `/system/functions` would just be a summary.
2. Or add a nullable `spec` field and only include it if a GET parameter is sent.
3. Or add a nullable `spec` field  and a GET parameter `hide_spec` to explicitly hide it in those cases wh

[2018-09-17 12:52] alexellis commented on #848
I like that option 1 is a non-breaking change that achieves what we need for Ed's terraform use-case and for anyone else who wants to make an update to an existing deployment who may not have all the original source data. With OpenFaaS Cloud for example we have all the data i.e. lists of secrets/envs so there it hasn't been an issue yet.

For Ed and for @martindekov who was writing a script over t

[2018-09-17 13:02] viveksyngh commented on #870
Derek Add label: proposal

[2018-09-17 13:07] viveksyngh commented on #870
Derek add label: area/ux

[2018-09-17 13:13] viveksyngh commented on #869
If you want to explore more python templates checkout flask template https://github.com/openfaas-incubator/python-flask-template and python debian template, https://github.com/openfaas-incubator/python3-debian.

Also, check out `of-watchdog` https://github.com/openfaas-incubator/of-watchdog which in the next version of `watchdog`

[2018-09-17 18:04] ewilde commented on #848
Happy to go with `option 1`. However; looks like it would be a breaking change though, if I've understood the proposal correctly

To create a new function resource you would `POST` to `/system/functions/spec` and read the resource `GET` from `/system/functions/{name}/spec`. Presumably older versions of the cli would still `POST` to `/system/functions` and other components would read from `/system/

[2018-09-17 19:05] LucasRoesler commented on #848
I like this

[2018-09-17 20:33] alexellis opened #875 "Migrate to Go 1.10 / Alpine 3.8 for core components"
Providing there are no blocking issues we could start updating the Dockerfiles for all OpenFaaS core components to use the Golang 1.10 builder SDK instead of 1.9.7.

The other change we can make is to move the runtime to Alpine 3.8 to keep up to date.

Anyone see a problem with above?

The incubator Golang template is using the above combination. https://github.com/openfaas-incubator/golang-http-t

[2018-09-17 20:34] alexellis commented on #875
Related for templates: https://github.com/openfaas/templates/issues/70

[2018-09-18 10:07] alexellis opened #876 "Gateway scale_from_zero behaviour for non-existing functions"
## Expected Behaviour

The gateway should not try to scale up any non-existing function deployments.

## Current Behaviour

In the deployment of OpenFaaS Cloud when I tried to access a function that didn't exist it tried to scale it to 1 and then gave a warning / error.

## Possible Solution

Dig into why this is happening, report back on the issue with some ideas for a fix. By extension add unit

[2018-09-18 13:10] alexellis commented on #783
Thanks Andrew, I see some people have given feedback given on the PR. I've also left some messages.

[2018-09-18 14:16] ngcdev commented on #868
Thanks for your responses and sorry about the delay.

I have to adjust the issue, because further investigation showed that curl calls are not being recorded as invocations either. I thought that we were calling `bot-jira-comment` and `bot-revision-notice` from the SVN hooks, but in reality, we're calling (via curl) `bot-revision-process` (which shows 0 invocations). That function internally is ca

[2018-09-18 14:36] ngcdev commented on #868
OK...so it seems to be an issue with OpenFaaS being behind a nginx reverse proxy. The moment that I tried to replicate it calling it locally (localhost) with `curl` it worked. But when I use the URL that is exposed via nginx, it's not working. Also I'm using basic authentication in nginx.

It will be a little hard to replicate for someone else. I'll try to replicate without basic authentication ne

[2018-09-18 14:38] ngcdev commented on #868
Regarding the 200 status, this is in the log of nginx for the call:
[code]
The `ovhYD...` is the user name for basic auth.

[2018-09-18 15:57] ngcdev commented on #868
So this environment has 3 variants:
- Running behind an nginx reverse proxy (not an issue, replicated in another machine and works fine)
- Using Basic Authentication (not an issue, replicated in another machine and works fine)
- Using SSL, nginx handles it and the connection to OpenFaaS is over regular HTTP (no yet discarded as the culprit)

I was able to to get a count invocation on every scenari

[2018-09-18 16:13] alexellis commented on #868
OpenFaaS Cloud is running with Nginx as Ingress on Kubernetes with SSL enabled. You can access my dashboard and then one of the public functions for instance `fn1` and then see the invocation count go up.

https://system.o6s.io/dashboard/alexellis

Do you have any specifics on how to reproduce as of now?

Alex

[2018-09-18 16:37] ngcdev commented on #868
I have another piece of information... the `faas` DNS  (as opposed to the `faasadmin`) has a rule in nginx to block the UI url (gateway?)... maybe this is causing something not to register properly with the counters, although the functions are being executed. It seems execution is being done directly with the swarm service instead of going via the gateway...

[2018-09-18 17:28] rgee0 opened #877 "Consider changing the gateway info in stack.yml & stack_arm.yml"
## Expected Behaviour
If a user sets `OPENFAAS_URL` prior to running:

[code]
Then it should target the OPENFAAS_URL.

## Current Behaviour
Deploying the samples will use yamlGateway (localhost) as this differs from the CLI defaultGateway (127.0.0.1).  This means that a user deploying to a remote instance will have to specify '-g' in order for the over-ride to take effect.

## Possible Solution
Re

[2018-09-18 18:16] ngcdev commented on #868
OK so I'm going to close it, because once I removed the nginx restriction to the getaway go via that URL to execute the functions, the invocation counters update properly. It was the setup of this environment that was going directly to the swarm service instead of the gateway.
Sorry for the disturbance.

[2018-09-18 18:16] #868 closed

[2018-09-18 18:18] ngcdev commented on #776
You can add us:
- website: https://www.ngcsoftware.com
- logo: https://www.ngcsoftware.com/images/ngc-logo.png

[2018-09-18 19:29] alexellis commented on #776
Thanks @ngcdev - could you send a quick email over to alex@openfaas.com?

[2018-09-19 13:27] poerwiyanto opened #879 "Support question: metrics with Swarm"
## Expected Behaviour

Gateway service count returns no. of replicas and auto scaling works.

## Current Behaviour

Gateway service count returns "no data points" error in Prometheus and auto scaling did not work (checked from docker service ps command) even APIHighInvocationRate is firing.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Deploy stack in Docker Swarm with 2 nodes.
2. De

[2018-09-19 13:54] DMajrekar commented on #776
Feel free to add Bulletproof:

* website: www.bulletproof.co.uk
* logo:
![bulletproof logo_rgb](https://user-images.githubusercontent.com/28898/45757626-bd3f9600-bc1b-11e8-9d28-16aebe10ac72.png)

Blurb on how we're using OpenFaaS:

[code]

[2018-09-19 14:40] alexellis commented on #879
Hi thanks for raising an issue please could you work through the troubleshooting guide and report back to us? We are unaware of any issues with metrics or autoscaling at this time.

[2018-09-19 16:28] poerwiyanto commented on #879
Hi, Alex. Thanks for your fast response. I will try the troubleshooting and get back to you.

[2018-09-19 16:33] alexellis commented on #879
I'd also advise taking a look at this - https://github.com/openfaas/workshop/blob/master/lab9.md

[2018-09-19 16:34] alexellis commented on #776
@DMajrekar thank you very much. Do you have a SVG version of the logo available, too?

[2018-09-19 16:42] poerwiyanto commented on #879
Actually, I followed the workshop and got stuck in lab9 because prometheus returns "no data points" for gateway_service_count and the no. of replicas for my function is stuck at 1 even after APIHighInvocationRate is triggered. I'm still figuring it out. Thanks a lot.

[2018-09-19 17:46] alexellis commented on #879
So you're using a docker-machine VM on top of Ubuntu using the KVM driver right?

Is this all with what's in master?

What function did you deploy? Maybe try the store too.

[2018-09-19 17:52] poerwiyanto commented on #879
![screenshot from 2018-09-19 10-40-53](https://user-images.githubusercontent.com/12395856/45771113-7464fd00-bc6e-11e8-927f-4b2e0dfbef58.png)
![screenshot from 2018-09-19 10-42-25](https://user-images.githubusercontent.com/12395856/45771114-7464fd00-bc6e-11e8-8f68-70ac82e2dd4f.png)
![screenshot from 2018-09-19 10-43-15](https://user-images.githubusercontent.com/12395856/45771115-74fd9380-bc6e-11e8-

[2018-09-19 18:34] LucasRoesler commented on #879
I deployed my own 2 node swarm and found this in my gateway logs

[code]
Note the 401 errors during the scaling request.  A scaling request is being made

I also noticed that when we try to scrape the service count here https://github.com/openfaas/faas/blob/ddc59f6403331c56aa4167756572f093e2f09875/gateway/metrics/exporter.go#L79-L86

it does not seem to set any authentication headers, so that woul

[2018-09-19 19:34] LucasRoesler commented on #879
@poerwiyanto can you try disabling auth on the faas-swarm component.  You can do this by modifying the `docker-compose.yaml` file so that `basic_auth: "false"` in the `faas-swarm.environment`

[2018-09-19 19:52] #879 closed

[2018-09-19 19:55] alexellis commented on #879
The part of the issue template asks users to provide logs as part of the troubleshooting steps.

Once @LucasRoesler was able to do this I could track down the error to needing additional authentication for the faas-swarm component. I've mentioned the workarounds on the linked PR above.

@poerwiyanto please see the instructions for updating your local environment. This will get you past the issue a

[2018-09-20 01:18] poerwiyanto commented on #879
Okay, thanks for your help, Alex and Lucas.

[2018-09-20 17:05] ivanayov opened #882 "Scale request via /system/scale-function/ ignores auto-scaling labels"
After deploying a function with scaling limits `com.openfaas.scale.max = 4`, running
[code]
causes the function to scale up to 10:

[code]
## Expected behaviour
Replicas should be at most 4

## Steps to Reproduce (for bugs)

1. Deploy function `myFn` with
[code]
2. Run
[code]
3. Check `http://127.0.0.1:8080/system/function/myFn`

## Context

Reproduced while writing a certifier test [certifier#13]

[2018-09-21 16:38] siilime commented on #776
# Naamio

- https://naamio.cloud
- logo:
![naamio logo](https://user-images.githubusercontent.com/989895/45893693-be67f300-bdd4-11e8-9cda-f45a91908473.png)

Background on how we're using OpenFaaS:

[2018-09-21 17:33] alexellis commented on #876
@rgee0 also mentioned seeing this with OpenFaaS Cloud live environment.

[2018-09-21 20:22] rgee0 commented on #876
I added a couple of tests for `cache.go` which have confirmed that the cache functions are performing as expected.

Digging deeper I think the problems lie in `external.go` because in `scaling.go` the call to `GetReplicas` does not return an error when the function isn't found. This means the execution moves on into `SetReplicas` which is where the errors that we see bubble up from.

I need to con

[2018-09-21 22:21] rgee0 commented on #876
Might be a bit hacky as I've not created mock http tests previously but tests to demonstrate the failure can be found here https://github.com/openfaas/faas/compare/master...rgee0:scaleInvestigation?expand=1
`TestGetReplicasNonExistentFn` Fails as we should expect an error out of GetReplicas if the function isn't found.  Instead we see a nil error and a struct returned which consequently causes a s

[2018-09-22 08:58] rgee0 commented on #876
Derek assign: me

[2018-09-22 09:29] alexellis commented on #876
The approach sounds good to me. Please proceed with a PR.

[2018-09-23 09:05] alexellis commented on #848
What if we extend the main existing API and add a summary api if needed?

[2018-09-23 11:39] #876 closed

[2018-09-23 11:42] alexellis commented on #862
Derek close: revisit

[2018-09-23 11:42] #862 closed

[2018-09-23 11:49] alexellis commented on #882
What do we think about this? The scaling limits are for the auto-scaler not for the API endpoint, so should the API endpoint be subjected to the same limits?

[2018-09-23 11:50] alexellis commented on #882
@openfaas/core @openfaas/faas-team what do we think?

[2018-09-23 11:52] alexellis commented on #860
@ewilde I'm fine with option 1. Given the lack of response from the community on GitHub, do you want to socialise the idea on the Slack community before then going ahead and raising a PR?

Alex

[2018-09-23 11:53] alexellis commented on #831
@dmcclory it's almost one month on since you volunteered to take this task. Have you made any progress or should we allow someone else in the community or @openfaas/faas-team to pick this up?

[2018-09-23 11:53] alexellis commented on #815
@ewilde can this be closed yet? (feel free to use `Derek close` with any issues/PRs)

[2018-09-23 11:55] alexellis commented on #784
This work is blocked by and related to: #849

An export would be useful for any operators someone wants to write for use with OpenFaaS and for backup scripts as suggested by @maiermic

Alex

[2018-09-23 11:56] alexellis commented on #750
Derek close: inactivity / lack of interest from original poster.

[2018-09-23 11:56] #750 closed

[2018-09-23 11:58] stefanprodan commented on #882
I think the auto-scaling limits should not affect the scaling API.

[2018-09-23 11:58] alexellis commented on #751
If aggregating to a third-party component such as ELK then we'd have to interface with ELK to fetch logs.

Based upon feedback from the community some people already do this and have their own solutions for it.

There is value in providing a link to the logs API provided by `kubectl logs` / `docker service logs` especially in development. I was speaking to Wireline.io about this with @telackey (pi

[2018-09-23 12:00] alexellis commented on #751
If we were to provide an endpoint to follow logs such as /system/logs/<fn> - this would need to connect to all available replicas (which can change at any time) so may be best implemented in a web socket and would probably have to have its own go-routine looking after detecting which replicas to collect from and which to disconnect from.

If not following logs, but just tailing N lines from all cu

[2018-09-23 12:23] rgee0 opened #885 "Add a write to logs on a scaling up event"
## Expected Behaviour
When a scale up of a function occurs we should write some pertinent information to the log

## Current Behaviour
Only error events are logged

## Possible Solution
Look at relevant areas in `external.go` and `scaling.go` where requests and successful events could be logged.

## Steps to Reproduce (for bugs)
Not a bug

## Context
During testing of #884 it became obvious that t

[2018-09-23 12:38] jnovack commented on #750
I'm just really confused why the choice to intentionally not make something like an already established standard?

I now have to code my application to accept OpenFaaS's non-standard headers rather than just reusing my code which already used CGI standard headers.  Code that was portable between Traefik and Nginx and HAProxy now has to get rewritten to be behind an OpenFaaS.

I do not see how this

[2018-09-23 14:28] rgee0 commented on #882
I think I agree with Stefan. There's a distinction between the two.

Should the label keys be more indicative of purpose/intuitive?

[code]

Can appreciate probably not an easy change given they've been here forever, and the body of material detailing the existing. Perhaps something to mull over?

[2018-09-23 15:56] burtonr commented on #869
@Hellisotherpeople could you put the result of the Slack conversation here to complete this issue?

If you feel you have enough information to answer both your questions (after posting the conversation for others) could you close this issue? Thanks!

[2018-09-23 16:15] burtonr commented on #790
Derek assign: martindekov

[2018-09-23 16:17] burtonr commented on #790
@martindekov if you are no longer working on this you can use `Derek unassign: me` in order to remove yourself from the issue.

[2018-09-23 16:58] alexellis commented on #882
Happy to take a PR to the API swagger documentation for this endpoint stating that it is not subject to autoscaling labels.

[2018-09-23 19:13] dmcclory commented on #831
Hi @alexellis - I've been doing some work on it, it's taken me a little longer than I anticipated to get figure out angular. But I think I've turned a corner and I'm pretty close to having something. Right now I have it as a floating action button in the lower right part of the screen:

![screen shot 2018-09-23 at 3 11 55 pm](https://user-images.githubusercontent.com/1952789/45931915-10c72200-bf43

[2018-09-23 21:32] alexellis commented on #831
Thanks for the update. I was wondering whether it might sit as three dots up by the logo or by the deploy from store button. If you're on Slack you could post this link above into #ui-taskforce to get some other suggestions/help if needed.

Alex

[2018-09-24 02:32] lmoran commented on #774
If I may chime in, OPTIONS method is necessary for CORS, and HEAD is useful to invalidate a cache: what could be done to of-watchdog to support these methods?

[2018-09-24 07:13] lmoran commented on #774
I solved the issue putting NGINX in front of OpenFaas, which is arguably a good solution.

[2018-09-24 08:12] ewilde commented on #815
@alexellis still some items to investigate & complete

# Tasks
- [x] [Cli support for PUT, PATCH, DELETE](https://github.com/openfaas/faas-cli/pull/505)
- [x] [Watchdog add PATCH](https://github.com/openfaas/faas/pull/822)
- [x] [Certifier tests for new verbs](https://github.com/openfaas/certifier/pull/10)
- [x] [Update alpine function to use version 0.9> of watchdog with patch support](https://gi

[2018-09-24 18:18] rdimitrov commented on #860
This is great, I'm also opting for the 1st one. Recently I had some troubles in that context and I believe it would be quite useful.

[2018-09-25 07:52] martindekov commented on #790
Hey @burtonr I just saw you assigned me. I actually meant I am passing that and haven't even started working on it. If you want to work on this take it.

[2018-09-25 07:52] martindekov commented on #790
Derek unassign: me

[2018-09-25 09:29] alexellis commented on #750
@jnovack you're free to use these conventions, a very small piece of code to remap the existing established headers would get you exactly what you want. Feel free to contribute that to the upcoming PHP template. https://github.com/openfaas/templates/pull/65

OpenFaaS functions can be invoked over HTTP, but it's not the only kind of trigger so strongly binding to the PHP / CGI standard is not an im

[2018-09-25 09:47] bartsmykla commented on #885
Derek assign: me

[2018-09-25 10:35] bartsmykla commented on #885
@rgee0 I think that I need more info, because when I look at gateway's logs when functions are scaled I see:
[code]
Do you mean something else than that?

[2018-09-25 11:18] alexellis commented on #885
This is about zero to one (or to N) scaling. We already have scaling up/down messages that you can see above.

Here's the use-case - we turn on scale_from_zero on a public environment, now we want to monitor and track how well it performs. We can't do that easily since it's not in the logs. This is the line of code responsible for initiating a "wake up" or scale from zero -> https://github.com/ope

[2018-09-25 14:06] alexellis opened #886 "Research: create a template with photonOS"
As a research item I'd like to see someone port two of our templates from Alpine Linux to PhotonOS from VMware. This would not replace our community templates, but would provide an experimental version of 1-2 programming languages in our incubator repository.

I could see this as a positive step to helping enterprises bring OpenFaaS to serverless to whatever "golden Linux" they have been given ent

[2018-09-25 14:17] alexellis commented on #807
Related https://github.com/openfaas/openfaas-cloud/issues/220

[2018-09-25 14:36] LucasRoesler commented on #848
It is a larger potentially breaking change if we do it that way.  But it might be worth it for API consistency

[2018-09-26 15:49] padiazg commented on #886
I want to take this. That's the kind of stuff I like to do.

[2018-09-28 02:00] rcjpisani commented on #875
I would be interested in taking this on, but I'm afraid I'm not too familiar with Golang. Might pick it up just to contribute here. Just recently discovered this project and I'm really impressed. Considering migrating one of my side projects over to OpenFaaS.

@alexellis had a brief look at the above, we might want to consider using Alpine 3.8.1 instead of 3.8, by the looks of it, 3.8.1 has a secu

[2018-09-28 06:29] alexellis commented on #875
Thanks for reaching out. Would you like to join Slack and discuss with the community? https://docs.openfaas.com/community/

[2018-09-28 07:34] alexellis commented on #860
Derek remove label: design/review

[2018-09-28 07:34] alexellis commented on #860
Derek add label: design/approved

[2018-09-28 07:35] alexellis commented on #860
Good to see we have consensus. @ewilde please go ahead and note there are quite a few projects to cover here - see the contributing page of the docs site for more. Includes openfaas-incubator org.

[2018-09-28 07:39] alexellis commented on #762
At this point we have already started to build skills with React through the OpenFaaS Cloud dashboard. The initial experience with the community has been positive with around a dozen PRs raised/merged already.

It may not be trivial to move the existing portal over to React so I want to get some input on what sort of steps we would need to take. Once done we could then build on the experience to a

[2018-09-28 07:40] alexellis commented on #762
cc @bartsmykla @jaigouk @jagreehal

[2018-09-28 16:05] johnmccabe commented on #875
@alexellis @rcjpisani the RCE fix is in the upstream 3.8 library image

- https://github.com/docker-library/official-images/pull/4834

[2018-09-28 19:01] alexellis opened #890 "UI: tutorial panel for functions"
## Expected Behaviour

Several popular tutorial sites such as Play With Docker or "katacoda" embed a markdown file within their UI allowing users to get some context about what they should be doing with what they are seeing on the screen at that time.

Here's an example:

![](http://img-src.scoop.it/f1a077f1-f5d4-4181-b294-574d9632b1e0)

Clicking on a specific designated area or block also results

[2018-09-28 20:51] alexellis commented on #875
@stefanprodan may have some input here. The 3.8 image is already in use in some components so should be fine.

[2018-09-29 06:35] stefanprodan commented on #875
I've seen no problem with Alpine 3.8 should be ok to use it everywhere.

[2018-09-29 06:51] alexellis commented on #875
And the Go version?

[2018-09-29 08:17] stefanprodan commented on #875
I would say Go 1.10.x, there some problems with 1.11 on Alpine as the net/http package moved to modules and requires CGO.

[2018-09-29 09:13] LucasRoesler commented on #790
Derek assign: me

[2018-09-29 19:16] alexellis commented on #875
Let's do it then. :+1:

[2018-10-01 19:48] auyer commented on #875
@stefanprodan installing `gcc` and `libc-dev` solves issues in 1.11 image.
Those packages have been removed from the GO base image, and the reason behind this is is explained by the docker team in [this](https://github.com/docker-library/golang/issues/119) issue.

[2018-10-01 20:37] alexellis commented on #875
(I think the above may also be related to whether the `golang` image is based upon Alpine or something else)

[2018-10-02 07:49] alexellis commented on #875
Edit posted for clarification:
https://github.com/openfaas/faas/issues/875#issue-361032425

[2018-10-02 08:18] alexellis commented on #885
@bartsmykla any updates on this? I think I saw you mention this on Slack

[2018-10-02 20:06] telackey commented on #751
@alexellis

I have returned from vacation.  I'd be interested in taking a look at this (with the warning that I'll have to work it in amongst other commitments).

For development purposes, I think the most attractive option is, as you mention, tapping into the APIs used for `kubectl logs` / `docker service logs`.

[2018-10-03 08:17] alexellis commented on #890
Derek add label: Hacktoberfest

[2018-10-03 08:17] alexellis commented on #882
Derek close: works as designed

[2018-10-03 08:17] #882 closed

[2018-10-03 08:18] alexellis commented on #882
Ivana please raise a PR to the swagger docs if you think it'd be worth documenting this.

[2018-10-03 08:18] alexellis commented on #831
Derek add label: Hacktoberfest

[2018-10-03 08:20] #682 closed, assigned to nobody

[2018-10-03 08:27] ivanayov commented on #694
This looks completed.
Waiting for @Templum to confirm before closing.

[2018-10-03 08:37] Templum commented on #694
Sorry for the delay,  it is fixed. Going to close the issue now

[2018-10-03 08:37] #694 closed

[2018-10-03 10:01] LucasRoesler commented on #751
@telackey I have worked with the logs sdk for Kubernetes quiet a bit, so if you run into any issues there, please feel free to reach out to me

[2018-10-03 12:37] stefanprodan commented on #532
Someone else can take it, I don't have spare time to work on this right now.

[2018-10-03 13:20] philippe-lavoie commented on #91
fission which is a competitor ( ? ) to open-faas has fission-workflow. Argo is bound to containers but not to specific serverless stack does workflow and has a nice dashboard (just hard to find screenshots in their documentation). I don't think neither of those has a GUI to generate the workflows.

[2018-10-03 13:33] padiazg commented on #886
I managed to port 3 of the templates to PhotonOS, pyton2, python3 and node.js. They are [here](https://github.com/padiazg/of-photon-templates) if anyone wants to give them a try.

Found that it's hard to port a template using the Alpine "recipe", that is installing the language from source and compiling it.

After comparing the latest source code version with the version provided as packages for e

[2018-10-03 15:35] LucasRoesler commented on #790
I just looked at the nats client library and there are no newer releases than our currently vendored package

[2018-10-03 16:16] alexellis commented on #532
Derek add label: skill/advanced

[2018-10-03 17:29] LucasRoesler commented on #790
It is also worth noting that the title for this ticket says version 0.12.0 but the latest tag I could find for nats-streaming is 0.11.0

[2018-10-04 13:09] philippe-lavoie commented on #91
Just found this video that integrates open faas with node-red

https://www.youtube.com/watch?v=ndv1KFtxT38

Not sure if the integration between node-red and open-faas couldn't be made better. But it does look interesting.

[2018-10-06 08:38] alexellis commented on #45
@nkirsch did you ever come back to this? Might also be worth looking at of-watchdog via https://docs.openfaas.com which allows much more control over the HTTP response.

[2018-10-07 08:08] alexellis commented on #532
Can you link us to your preferred implementation/naming convention? This is to enable HPAv2-style metrics as I remember.

[2018-10-08 10:01] ivanayov commented on #807
I'd like to work on this

[2018-10-08 10:57] alexellis commented on #807
We are still elaborating on design. Please don't work on this.

[2018-10-09 07:18] FlankMiao opened #898 "Cannot connect to OpenFaaS on URL: http://127.0.0.1:8080"
https://github.com/openfaas/workshop/blob/master/lab1.md
https://github.com/openfaas/workshop/blob/master/lab2.md
I follow these, but when I  execute [faas-cli list] ，I got this message:"Cannot connect to OpenFaaS on URL: http://127.0.0.1:8080"
![doc](https://user-images.githubusercontent.com/19262116/46652726-82a39a80-cbd6-11e8-8d05-30d9a3d414af.PNG)

the [docker service ls] command can list the

[2018-10-09 07:57] FlankMiao commented on #898
when I input [docker stack ps func], I got this :"ERROR : "no suitable node (scheduling …""

[2018-10-09 08:21] feifeiiiiiiiiiii opened #899 "Suggest: code formatter in bootstrap.js file"
Expect code pretty and format unified

[2018-10-09 08:42] feifeiiiiiiiiiii opened #901 "Suggest: verify args when deploy a new function"
I suggest should to verify arguments  when our use `OpenFaas Portal` to deploy a new function

## Expected Behaviour

If args `Docker Image` or `Function name` is empty, `deploy` button should disabeld or show warning message , not send request to backend server

## Current Behaviour

If arguments `Docker Image` or `Function name` is empty, can also send request get error

## Possible Solution

1.

[2018-10-09 10:44] FlankMiao commented on #898
@rgee0 no, I use the default windows containers,ok, I wil  try

[2018-10-09 10:49] ivanayov commented on #898
Derek add label: support

[2018-10-09 10:49] FlankMiao commented on #898
@rgee0  It worked, thanks a lot :).

[2018-10-09 10:50] ivanayov commented on #898
Derek close

[2018-10-09 10:50] #898 closed

[2018-10-09 12:13] FlankMiao opened #902 "error when I build the go function example"
**faas-cli build -f gohash.yml:**
**I got this:**
[0] > Building gohash.
Clearing temporary build folder: ./build/gohash/
Preparing ./gohash/ ./build/gohash/function
Building: gohash:latest with go template. Please wait..
Sending build context to Docker daemon  6.656kB
Step 1/20 : FROM golang:1.9.7-alpine3.8 as builder
 ---> b0260be938c6
Step 2/20 : RUN apk --no-cache add curl     && echo "Pulling