[2017-10-16 19:16] DQvsRA opened #306 "Question - how do I run on ARMHF or ARM64?"
I'm experimenting with OpenFAAS from "Morning coffee with the OpenFaaS CLI"

## Expected Behaviour
I should have a built docker image, isn't it?

## Current Behaviour
En error

## Steps to Reproduce (for bugs)
Following the description
Here is a picture
![image](https://user-images.githubusercontent.com/442111/31630469-f82c37a6-b2b6-11e7-9ac1-8fd56a522e1f.png)

## Your Environment
Docker version 1

[2017-10-16 19:21] rgee0 commented on #306
Although not explicitly stated, the tutorial is really intended for readers using linux/mac. You appear to be trying to build from an x86_64 Dockerfile on an aarch64 system.

[2017-10-16 19:44] DQvsRA commented on #306
Same thing happened for armv7, orangepi plus 2e
![image](https://user-images.githubusercontent.com/442111/31631819-3cf7de54-b2bb-11e7-9e94-bb5d0e477f97.png)

[2017-10-16 19:49] DQvsRA commented on #306
@rgee0 Yes it's true. I thought that "Serverless functions on any platform" ([link](https://blog.alexellis.io/quickstart-openfaas-cli/)) includes arm processors. Isn't it?

[2017-10-16 19:51] rgee0 commented on #306
You've swapped aarch64 for armv7l, so this is to be expected.  You'll need to swap the template to accommodate the architecture you are running on

You could try copying the Dockerfile from `./template/node-armhf/` into `./template/node` before running `faas-cli build`?

[2017-10-16 20:03] DQvsRA commented on #306
@rgee0 Now it's built. And I probably should use --lang node-armX, next time?

Successfully built ded0d9c3f714
Successfully tagged callme:latest
Image: callme built.
[0] < Builder done.

[2017-10-16 20:20] rgee0 commented on #306
Currently its a manual task to patch the Dockerfile according to your chosen architecture.

Glad we got you moving.

[2017-10-16 20:21] rgee0 commented on #306
Derek add label : question

[2017-10-16 20:25] alexellis commented on #306
Changing title to "Question - how do I run on ARMHF or ARM64?"

Answer - ARM64 support is in-progress, we can walk you through it but ARMHF is easier.

@DQvsRA details for ARMHF are explicitly stated in this tutorial: (requires patching the Dockerfiles for ARM)

https://blog.alexellis.io/serverless-golang-with-openfaas/

[2017-10-16 20:27] alexellis opened #307 "Proposal: Quick guide for ARMHF / ARM64"
This will be a quick guide showing:

* Deploying on ARMHF on Swarm
* Getting the CLI
* How to patch the templates

For ARM64 we'd show:

* How to deploy on Swarm
* How to patch the templates (includes Nodejs)

I suggest this is written by a maintainer or contributor.

[2017-10-16 20:34] rgee0 commented on #307
Readme.md, or blog? If .md would this be placed in faas-cli?

[2017-10-16 20:38] alexellis commented on #307
Guide in the guides folder so that this is documented re: #306

[2017-10-16 20:45] DQvsRA opened #308 "getsockopt: connection refused"
I'm trying to run an example project callme on nodejs but armv7

## Expected Behaviour
Running on localhost:8080

## Current Behaviour
"... cannot connect to OpenFaaS on URL: http://localhost:8080"

## Steps to Reproduce (for bugs)
Same as in topic "Morning coffee with the OpenFaaS CLI"
faas-cli deploy -f callme.yml (with or without --gateway "http://localhost:8080" )

## Context
![image](https://

[2017-10-16 20:49] DQvsRA commented on #308
And the same thing on armv8. Is this a general problem of a network setup?

root@odroid64:~/openfaas#  faas-cli deploy -f callme.yml
Deploying: callme.
Error removing existing function: Delete http://localhost:8080/system/functions: dial tcp [::1]:8080: getsockopt: connection refused, gateway=http://localhost:8080, functionName=callme
Is FaaS deployed? Do you need to specify the --gateway flag?
Po

[2017-10-16 21:02] rgee0 commented on #308
::1 suggests it’s trying to dial ipv6.

Either try 127.0.0.1 instead of localhost or if possible comment out the ipv6 entry in your hosts file.

[2017-10-16 21:06] rgee0 commented on #308
Derek add label: question

[2017-10-16 21:26] DQvsRA commented on #308
Hosts are clean now but still same problem

![image](https://user-images.githubusercontent.com/442111/31636057-600be1ca-b2c9-11e7-8700-2caf432d7a51.png)

[2017-10-16 21:28] rgee0 commented on #308
Is 8090 as the port a typo?

[2017-10-16 21:30] DQvsRA commented on #308
It does not matter the same thing happened on every port number. Or what do you mean?

[2017-10-16 21:33] rgee0 commented on #308
The gateway normally runs on port 8080, rather than 8090.

You were trying 8080 earlier, why have you changed to 8090 since resolving the IPv6 issue?

[2017-10-16 22:14] DQvsRA commented on #308
@rgee0 I tried different ports but every time have the same output

[2017-10-17 00:49] yglcode commented on #234
as an learning exercise, i added initial code to use kafka, along the path of minimal impact:

* follow alex's suggestions, current code/flow for nats queue worker, add code in gateway and add kafka_queue_worker repository.

* add docker-compose.kafka-queue.yml to bring up zookeeper & kafka nodes in swarm together with gateway and kafka-queue-worker.

* to avoid tool-chain change, use Shopify sara

[2017-10-17 04:50] Marak commented on #182
@alexellis -

I took a look at the afterburn node.js example as well as some of the other afterburn code.

I'm curious, will using afterburn allow for state to be acquired in the process? At first glance it looks like https://github.com/alexellis/nodejs-afterburn can acquire state based on custom `handler.js` files. If so, this could lead to unexpected behavior of function.

[2017-10-17 05:51] rgee0 commented on #308
Are you running OpenFaaS Swarm or Kubernetes - which pre-requisite did you follow from the guide?

[2017-10-17 06:04] DQvsRA commented on #308
It's a Swarm

[2017-10-17 06:18] rgee0 commented on #308
Please provide output of `docker service ls`

[2017-10-17 07:12] DQvsRA commented on #308
It's clean

![image](https://user-images.githubusercontent.com/442111/31651282-524d6520-b31b-11e7-86d6-1652fad84de7.png)

[2017-10-17 07:25] rgee0 commented on #308
Indicates that OpenFaaS isn't deployed. And the same on the arm7 machine?

I suggest that on the arm7 machine you following the instructions in the swarm deployment guide:

https://github.com/openfaas/faas/blob/master/guide/deployment_swarm.md

With one change to the deploy command run the following:

[code]

This aims to deploy the arm stack.

As @alexellis mentioned in #306 arm64 support in work

[2017-10-17 11:06] DQvsRA commented on #308
Seams like that problem about GOPATH. I checked everything again and rebound PATH.
After rebuild "callme" nodejs example for arm64 (Odroid C2) the result is next:
![image](https://user-images.githubusercontent.com/442111/31661556-7bbdc4d4-b33b-11e7-8927-7ebe286817b5.png)

![image](https://user-images.githubusercontent.com/442111/31661581-8b0dc7a4-b33b-11e7-9f32-df650384d497.png)

For armv7 deploy

[2017-10-17 11:30] DQvsRA commented on #308
It's WORKING!
root@odroid64:~/openfaas# date | faas-cli invoke callme
{"status":"done"}

Thanks for help!

[2017-10-17 18:36] VitorFalcao commented on #214
@alexellis I would like to confirm what I would need to do. Basically: check every single route handler and set the `w.WriteHeader(http.StatusOK)` to the appropriate status, correct?

[2017-10-18 09:44] mcgoober opened #312 "Function return Content-Type not honored by Gateway"
## Expected Behaviour
The watchdog has a setting 'content_type' which when set forces the return content-type of a function. This content-type that is returned by the watchdog should be also be returned by the gateway.

## Current Behaviour
The gateway returns the same content-type as the request. i.e if you POST with content-type 'application/json' in the request, then 'application/json' is in th

[2017-10-18 17:18] rgee0 commented on #308
Derek add label: Resolved

[2017-10-18 17:19] rgee0 commented on #308
Derek add label: resolved

[2017-10-19 04:26] ericstoekl commented on #273
Update: https://asciinema.org/a/M7OS28J4tvza0oe7ZVXLusfqa

Will be making a pull request soon, if this looks good.

[2017-10-19 15:58] alexellis commented on #312
Thanks for using OpenFaaS @mcgoober

I am sure I have this working correctly in my recent Alexa skills - but it may be as you say because of the caller. I'll look into this over the next few days. We can also take a PR if you want to move quicker than that.

You can also checkout the new code branch I pushed on for enabling "GET" routes. We published some info about it in the Slack channel #genera

[2017-10-19 16:10] ericstoekl commented on #273
`faas`: https://github.com/ericstoekl/faas/tree/replicaStatus
`faas-cli`: https://github.com/ericstoekl/faas-cli/tree/replicaStatus

[code]

Without this change, the time to run `faas-cli list` is around `real	0m0.014s`. With the update, it is about `real	0m0.026s`. @alexellis suggested having this as `--verbose` option.

[2017-10-19 16:26] alexellis commented on #312
Thank you for picking this up @ericstoekl

[2017-10-20 02:27] ericstoekl commented on #273
Updated with verbose as an option. Check it out:

https://asciinema.org/a/cwClkFoAWUg1VTCns8FwXrMNP

[2017-10-20 09:16] alexellis opened #316 "Watchdog review: fprocess variable"
I'd like to discuss the experience of using the watchdog especially the `fprocess` variable which some of us understand to mean `fork_process`.

Can we improve on the name of the variable?

This issue is open for discussion - please do not create a PR.

[2017-10-20 10:48] radu-matei commented on #117
@alexellis @JockDaRock - so if I understand correctly, you deployed using the aci-connector and encountered some issues - I know the second bug is now solved as part of https://github.com/Azure/aci-connector-k8s/pull/54

For the first bug I don't think there's a fix (I'm not working on Azure Container Instances, cannot officially speak 😄) - my question, @alexellis - what does it mean if the functi

[2017-10-20 11:25] alexellis commented on #117
The function should be able to make use of other Kubernetes services as exposed by kubedns, but it's not necessarily a deal-breaker for some workloads. I'd appreciate your input @radu-matei - looking forward to seeing how you get one and maybe you could put together a quick blog or guide too?

[2017-10-20 11:34] udondan commented on #316
I thought it meant `faas_process`.

In general I think it is important to namespace environment variables to avoid conflicts with other software.

I also prefer uppercase for environment variables.

Therefore my choice would be: `FAAS_PROCESS`

[2017-10-20 12:34] developius commented on #273
This is great, looking forward to not have to login to my swarm master any more 😀

[2017-10-20 13:46] shawnhwei opened #317 "Kubernetes using rkt"
Does it work?

[2017-10-20 14:31] ericstoekl commented on #273
@alexellis Has mentioned that we should have this functionality on K8 as well.

@developius Good call about that, I'll need to test it.

[2017-10-20 20:42] alexellis commented on #312
@ericstoekl I had some time to work on this on the flight.

[2017-10-20 20:46] alexellis commented on #312
I've implemented the new behaviour with a fall-back to old behaviour when the variable is not defined with a value.

[2017-10-20 20:47] #312 closed

[2017-10-20 21:17] alshabib opened #320 "Proposal: Adding mount options to functions."
* Brief summary including motivation/context

The proposed change would allow functions to mount volumes and other directories through the normal docker configuration. This would allow a function to process relatively large amounts of data without having to pass it through http/stdin.

Any design changes

Add docker mount struct to the CreateFunctionRequest struct and passing it along in the  crea

[2017-10-21 06:41] ericstoekl commented on #291
Derek assign: elliott-beach

[2017-10-21 08:42] rgee0 commented on #316
Taking a semantic approach`process` implies a running state.  Within a container the Watchdog is running and upon function invocation the Watchdog issues a command to satisfy the function request.

If the nomenclature is to change then I'd suggest involvement of `command` rather than `process`.

[2017-10-21 10:35] alexellis commented on #291
Sounds about right to me. Do you want to try it out? Technically you can test this work during development by using `curl` or postman to hit the gateway.

[2017-10-21 10:36] alexellis commented on #291
Derek assign: elliott-beach

[2017-10-21 10:48] rgee0 commented on #307
Is the latest armv8 branch [arm64_part1](https://github.com/openfaas/faas/tree/arm64_part1)?

Is there a possibility to add a deploy_stack.arm64.sh to this branch to simplify the guide?

[2017-10-21 11:00] alexellis commented on #307
I think if ARM64 is still WIP we can say that and mention what is available.

I would like a single deploy_stack file which checks the uname and then picks the right compose file..

[2017-10-21 11:00] alexellis commented on #307
yes

[2017-10-21 12:18] InTheCloudDan commented on #298
If the table is just being copied wouldn't it be cleaner to just point a link for faas-netes to the table here? That way there is a single source of truth for the information.

[2017-10-21 15:52] rgee0 opened #322 "Add NATS Streaming stack for ARM"
## Expected Behaviour
Create ARM equivalents of `docker-compose.extended.yml`

## Current Behaviour
Currently `docker-compose.extended.yml` is aimed at x86_64.

## Possible Solution
Create armhf and arm64 equivalents of `docker-compose.extended.yml`.
n.b. Full arm64 support is currently WIP so depending upon timings it may make sense to create the armhf equivalent initially.

Once #321 is merged t

[2017-10-21 15:52] rgee0 commented on #322
Derek add label: Proposal

[2017-10-21 15:53] rgee0 commented on #320
Derek add label: proposal

[2017-10-21 20:49] InTheCloudDan commented on #108
@elliott-beach are you still working on this PR? If not I'd like to take a shot at seeing if I can figure it out.

[2017-10-21 20:52] elliott-beach commented on #108
@InTheCloudDan mostly addressed in https://github.com/openfaas/faas-netes/pull/33, there is  still a dangling thread of the readiness probe as mentioned in https://github.com/openfaas/faas-netes/pull/33#issuecomment-335032333.

[2017-10-21 21:12] alexellis commented on #298
Gateway needs separate config from faasnetesd and visa versa because they are deployed as separate processes or containers. I don't mind some repetition over no documentation.

[2017-10-22 00:45] kenfdev commented on #295
Here's a blog post about this pipeline. Feedbacks are welcome!
https://medium.com/@kenfdev/an-introduction-to-serverless-devops-with-openfaas-b978ab0eb2b

[2017-10-22 10:12] udondan commented on #304
Does the example make sense? Also, can we tag this correctly as proposal?

[2017-10-22 13:29] alexellis commented on #304
Derek add label: proposal

[2017-10-22 13:30] alexellis commented on #295
Really good work Ken.

[2017-10-22 16:24] austinfrey commented on #317
hi @shawnhwei, not sure if anyone has tried. i have not used rkt so maybe someone else can chime in here.

[2017-10-22 16:25] austinfrey commented on #317
Derek add label: question

[2017-10-23 09:55] rayhero commented on #237
I really need this. I meet deploy problem on GKE. [https://github.com/openfaas/faas-netes/issues/59](url)

[2017-10-23 13:59] #306 closed

[2017-10-23 13:59] alexellis commented on #306
Closing due to label "resolved" - @DQvsRA please checkout the PRs we raised above. Feel free to keep commenting.

[2017-10-23 14:00] #308 closed

[2017-10-23 14:00] alexellis commented on #308
Closed since this appears to be resolved. Feel free to keep commenting.

[2017-10-23 14:00] alexellis commented on #308
@rgee0 Derek can also close issues.

[2017-10-23 14:08] rgee0 commented on #308
@alexellis can he?  I couldn't see provision in the code for closing / re-opening.

[code]

[2017-10-23 14:13] #251 closed

[2017-10-23 14:16] alexellis commented on #317
I suspect it would work exactly the same as using runc. We even have people using cri-containerd and runV. I'll close this issue because I'm not sure there is any useful context here. Feel free to keep commenting.

[2017-10-23 14:16] #317 closed

[2017-10-23 14:17] alexellis commented on #322
Thanks.

Did you find the multi-arch images from nats.io for testing on ARM/RPi?

I can see "NATS" is multi-arch but not NATS-Streaming which is what we need.

https://hub.docker.com/r/library/nats/
https://hub.docker.com/r/library/nats-streaming/

[2017-10-23 14:20] alexellis commented on #308
I might be wrong then.. I think maybe we at least have an issue around for it. Do you want to work on it?

[2017-10-23 15:18] alexellis commented on #304
I'm sorry I don't understand what this is trying to achieve.

[2017-10-23 15:45] udondan commented on #304
I'm honestly puzzled how this can still not be clear. Trying one last time to put this into other words:

The goal of this proposal is, to make the software running inside the container aware if it is been executed as a function in faas - or not. With the awareness of this fact, images can be built with **optional** faas support and applications don't need to be re-packaged just for faas.

If that

[2017-10-23 15:45] austinfrey commented on #268
@schickling not currently. is there a particular situation where you would not want that feedback?

[2017-10-23 15:48] austinfrey commented on #230
@asimashfaq I don't believe adding this is a high priority right now. and you're correct, the current recommended solution is to keep using a third party gateway to handle things like auth, cors, and SSL.

[2017-10-23 17:01] alexellis commented on #316
`command` will conflict with `CMD` - the container directive. All OpenFaaS env-vars are currently lower_case @udondan

faas_command - might work better but is pretty long

Maybe `faas_cmd`?

[2017-10-23 17:02] alexellis commented on #298
I think this is complete now. thanks @elliott-beach - :1st_place_medal:

[2017-10-23 17:02] #298 closed

[2017-10-23 18:57] alexellis opened #328 "Hacktoberfest: Show progress animation in UI for long running functions"
We need to show progress animation in UI for long running functions. I've seen functions tested via the UI that run for up to 30 secs or more. We should provide some visual feedback. This issue is about coming up with proposals / visuals and then when we have consensus raising a PR with the changes.

## Possible Solution

Options:
* [ ] blur / defocus
* [ ] inline "pop-up"
* [ ] cursor animation
*

[2017-10-24 01:16] shawnhwei commented on #317
Thanks for your replies. I was just curious if anyone had any experience using rkt before I invest time into it. I'll give it a shot and get back to you.

[2017-10-24 10:23] trusch opened #334 "Suggestions for watchdog"
I see some problems regarding the openfaas watchdog.

Problem 1: The watchdog does a `ioutil.ReadAll(r.Body)` before calling the function. This could be fatal if a function can take huge amount of data as input (think about hashing a movie or something).

Problem 2: The watchdog itself is not very carefully written from my perspective. The `pipeRequest()` function is ultra long and not very mainta

[2017-10-24 12:00] trusch commented on #334
Things that are definetly missing:

* writing the lock-file
* interpret the `cgi_headers` environment variable (currently on by default)
* The whole "json / not json" handling

[2017-10-24 12:19] alexellis commented on #334
My sense is that there are more effective ways to introduce oneself to a community and better ways of delivering feedback and criticism, especially when aiming to influence.

On your feedback

Note 1 - "reads all data before invoking function"

Happy for you to prototype an alternative in a PR for review. A `read_limit` may be sensible and the watchdog could read incrementally into a buffer and re

[2017-10-24 12:33] trusch commented on #334
I'm sorry if I was too direct and hurt your feelings. I already stated my understanding of why the current form of the watchdog is as it is. I really like this project and when reading over the codebase I simply found the watchdog implementation.

My only concern is that such a basic component, which is used in every function call, should be written very carefully. Once again, I did not want to bl

[2017-10-24 12:39] trusch commented on #334
I added `read_limit` to [trusch/frunner](https://github.com/trusch/frunner) as suggested by @alexellis

[2017-10-24 15:11] rorpage commented on #334
I agree with Alex that there are better ways to jump in. If you think changes are needed for the watchdog, then it would help to document that in constructive language with test cases to demonstrate the point you are trying to make.

As far as swapping out the watchdog with your own code, that's not typically how things are done in, really, any open source project I've seen. It’s much better to ge

[2017-10-24 15:37] trusch commented on #334
I got your point but do not want to swap out the watchdog. This is not a PR. It just happened that this prototype exists and I just referenced it here to have a basis to discuss on.

[2017-10-24 17:32] ericstoekl commented on #320
Personally I think this is a fantastic idea. @alshabib , do you have any specific use-cases in mind that would necessitate this functionality? I'm thinking maybe a database (like MongoDB) as a function...?

[2017-10-24 22:37] petemiron commented on #322
Sample Docker image is available at: docker pull `petemiron/nats-streaming-server-arm64`

Full multi-platform support will be available once this is merged: https://github.com/nats-io/nats-streaming-docker/pull/8 waiting on nats-streaming-server 0.6.0 release, which should be out end of this week (10/27/2017).

cc @kozlovic

[2017-10-25 06:23] alexellis commented on #322
Hey Peter, thank you. This will be very helpful for a Hyper armv demo and for Packet. I need the 32-bit version for Raspberry Pi for the demo we talked about. I'll also have a look at the Dockerfile for this.

[2017-10-25 07:46] trusch opened #337 "Proposal: stream data to functions to process data bigger than available memory"
## Overview

When using the watchdog in constraint environments it happens that you run out of memory for operations that are not memory intensive.

Examples for such operations are:

* hashing of something
* apply operations on every frame of a movie
* scanning large archives for malware

## Expected Behaviour
It should be possible to operate on input data which is bigger than the available memor

[2017-10-25 08:32] alexellis commented on #337
Thanks for the details and follow up. The predominant issue with connecting an IO pipe straight to the underlying process it that it will prevent us from writing custom headers if an error occurs while processing a request for example. I think this may a good option for a third mode along with the original buffering mode and afterburn.

[2017-10-25 08:33] alexellis commented on #328
Merged. Thank you.

[2017-10-25 08:33] #328 closed

[2017-10-25 09:12] trusch commented on #337
This is true. We can not start writing to the http.ResponseWriter before the execution finished. So the output of the process needs to be buffered. The input on the other hand could be piped into the process without affecting our possibility to set customs headers in error cases. Do you see other problems when only the input would be piped?

All of the examples I provided would be possible with th

[2017-10-25 12:34] alshabib commented on #320
Thanks!

For example, for the process cleaning large amounts of data it is simpler for a function to read the raw data from a volume and rewrite the processed data to the same or other volume.

The database use case is an interesting one, especially if you want to scale the number of readers to a database easily.

--
Ali Al-Shabibi

On Oct 24, 2017, 7:32 PM +0200, Eric Stoekl <notifications@github

[2017-10-25 14:33] johnmccabe commented on #337
Derek add label: proposal

[2017-10-25 16:46] kozlovic commented on #322
@alexellis We have this [PR](https://github.com/docker-library/official-images/pull/3622) submitted to the official-images repo. We do include an arm32v7 docker image. Hope this is what you were looking for. The PR has not been merged yet, but they usually have a pretty good turn around, so I would not be surprised if this was merged today and available on Docker Hub by EOD.

[2017-10-26 06:58] alexellis commented on #337
I have started some work with this, but it needs to cover every part of the pipeline from the gateway to the back-end provider all the way to the function itself. (It's not just a case of hacking on the watchdog).

[2017-10-26 07:12] alexellis opened #339 "Proposal: Refactor custom limits for maximum auto-scaling limits"
We currently have a max number of replicas for any function, but in Swarm we also support overriding that. This issue is about providing a label that can be passed at deploy-time to specify the minimum number of replicas and maximum number too.

* If the min=max this disables auto-scaling on a per-function basis
* This should be agnostic to Kubernetes, Swarm or any other back-end
* We may have to

[2017-10-26 07:14] alexellis commented on #304
I'm just asking for a use-case. Give me a practical example explained clearly.

How about @rgee0 @JockDaRock ?

[2017-10-26 07:15] alexellis commented on #316
@trusch I know you've been looking at the watchdog. Any thoughts from your side?

[2017-10-26 07:16] alexellis commented on #291
Fixed in #338

[2017-10-26 07:16] #291 closed

[2017-10-26 07:28] trusch commented on #337
I just created a pull request to offer a bit of help from my side to this topic. It is a very small change which won't break anything but should lower memory consumption on the gateway.

[2017-10-26 07:29] LucasRoesler commented on #316
I like the idea of name spacing `faas_cmd` seems reasonable and clear. Although would it be more correct to say `watchdog_cmd`?

[2017-10-26 07:47] trusch opened #341 "Proposal: gateway: pass request body to service without buffering"
The request body is currently buffered completely in the gateway. There is no need for that as discussed in #337

## Expected Behaviour
There should be no full buffering of incoming requests in the gateway

## Current Behaviour
The requests is buffered completely just to be wrapped in an bytes.Reader a few lines later.

## Possible Solution
Required change is in #340

## Context
I want to be able

[2017-10-26 07:54] trusch opened #342 "Proposal: watchdog: pass request body to process without buffering"
The request body is currently buffered completely in the watchdog. There is no need for that as discussed in #337

## Expected Behaviour
There should be no full buffering of incoming requests in the watchdog

## Current Behaviour
The requests is buffered completely.

## Possible Solution
use io.Reader rather than a byte slice

## Context
I want to be able to process big input data (movies, big arc

[2017-10-26 08:14] trusch commented on #316
I think prefixing with the project name is quiet common to prevent collisions with other variables. So the only question is, what is the project name ;) From my point of view the current `fprocess` variable is specific to the openfaas/faas/watchdog implementation so either `watchdog_cmd` or `fwatchdog_cmd` would come to my mind.

[2017-10-26 08:38] #307 closed

[2017-10-26 10:50] Lewiscowles1986 commented on #316
`fwatch_cmd` for brevity and clarity? :thinking:

[2017-10-26 11:11] nullseed commented on #214
@VitorFalcao there's also identifying error paths and returning the appropriate error codes when an error occurs. It would be great to add some tests around these endpoints changes too. If you like i will take a stab at this one and you can look at my PR and use it as a reference for contributing to faas-netes and faas-provider. @alexellis where would you like the tests adding, in this repo or cer

[2017-10-26 12:10] alexellis commented on #214
This is work @imeoer committed to do. @imeoer are you still wanting to do this or can someone else pick it up?

@VitorFalcao basically I think the idea was to include the function name as part of the URL. You could start there with a PR to the openfaas/faas-provider repo (do not modify the existing routes).

[2017-10-26 12:46] johnmccabe opened #344 "Proposal: Support multipart/form-data in the watchdog"
## Expected Behaviour

I would like to be able to send multipart/form-data to a function and have the parts in that form-data exposed to the function in a json object.

For example:
[code]
Would result in the following map being passed to the function (expect this to be packaged up with the headers similarly to when `marshalRequest` is set).

| key | value | encoded | filename |
|-----|------|----

[2017-10-26 12:47] johnmccabe commented on #344
Derek add label: proposal

[2017-10-26 15:32] stealthybox commented on #316
I always thought it meant `function-process` because it's used by the [Function Watchdog](https://github.com/openfaas/faas#function-watchdog).

I like `faas_cmd` or `watchdog_cmd`.

[2017-10-26 17:13] udondan commented on #304
In the ticket description I already mentioned our Ansible use case. Let me elaborate a bit on how that is related.

Ansible needs to run in a very controlled environment, especially the Ansible version itself [should never be changed](https://www.reddit.com/r/ansible/comments/739zdr/is_it_just_me_or_does_working_with_ansible_kind/) if you don't want to break your old playbooks, roles, modules and

[2017-10-26 17:21] austinfrey commented on #342
Derek add label: proposal

[2017-10-26 17:21] austinfrey commented on #341
Derek add label: proposal

[2017-10-26 17:22] austinfrey commented on #339
Derek add label: proposal

[2017-10-26 19:15] johnmccabe commented on #334
Derek add label: proposal

[2017-10-26 22:19] kozlovic commented on #322
@alexellis If you need to build your own docker image, it is pretty simple. If you don't need to recompile the server with Go 1.9.2, then simply go on an ARM machine where docker is installed, then either clone repo https://github.com/nats-io/nats-streaming-docker/ and cd into directory `arm32v7` or copy the content of this directory locally and then build the image:
[code]
You should now have an

[2017-10-26 23:41] imikushin opened #347 "Make stderr output from the function available to clients (e.g. for logging)"
## Expected Behaviour
As a FaaS function developer, I'd like to be able to use standard POSIX streams in a familiar way: stdin to read input, stdout to write output, stderr - to print/log messages and errors.

The proposal is to capture both stdout **and** stderr and return the content of both, appropriately separated, so that the API clients could make use of both.

An example CLI usage would loo

[2017-10-27 00:42] kozlovic commented on #322
@alexellis It seems that they have merged the PR and there is a tag for arm32v7. However, it seems that there is a problem and the linux/amd64 seem to be unavailable. Not sure what's going on there.

[2017-10-27 12:50] austinfrey commented on #347
Derek add label: proposal

[2017-10-27 13:47] imeoer commented on #214
@alexellis Sorry, I do not have time to do this now, hope someone else picks it up.

[2017-10-27 13:55] alexellis commented on #214
Was it Harry Zhang that took over from you? Do you think he can pick it up?

[2017-10-27 15:13] nullseed commented on #214
I'd like to continue work on this if no one else has started.

[2017-10-27 21:40] alexellis opened #349 "Research: always-on/generated token for UI and API"
It's very hard to automate security out of the box for an API/UI because this generally involves:

* non-default username/password
* tokens
* CA/certs

We should force always-on/generated auth for the UI and API via basic auth or a token, so that if someone does deploy in production (without reading the best practice guide) they are not wide open to vulnerabilities.

[2017-10-27 21:41] alexellis commented on #349
Ideas? @chanezon @chanwit @Lewiscowles1986 + Joe Beda.

This would be at the API gateway level - so agnostic to the scheduler so it can work with Swarm, K8s and other back-ends.

We could have a user create a secret or token (using the orchestrator) ahead of time then fetch that back before accessing the cluster.

[2017-10-27 22:00] Lewiscowles1986 commented on #349
I can generate a secure'ish random string and sed it in as part of setup. I can also generate two for basic-auth and feel I have a good handle on wrangling basic-auth into the gateway services with a middleware.

For the record I don't like the idea. What happens if someone insists they need kerberos next?

Perhaps we could instead add to tutorials a kong setup. I've never used Kong and would enjo

[2017-10-27 22:46] alexellis commented on #349
It needs to be a one click deployment. We like Kong but it needs a multi stage manual setup. Suggestions welcome

[2017-10-28 20:06] VincenzoFerme opened #353 "Docker Compose v3.3 Not Yet Supported on the Docker Playground"
The Docker Compose version 3.3 specified in the `docker-compose.yml`, is not yet supported on the Docker Playground.

## Expected Behaviour

I expect the stack to correctly start on the Docker Playground when clicking on [![Try in PWD](https://cdn.rawgit.com/play-with-docker/stacks/cff22438/assets/images/button.png)](http://play-with-docker.com?stack=https://raw.githubusercontent.com/openfaas/faas

[2017-10-28 20:46] alexellis commented on #353
Can you raise this with the PWD website? https://github.com/play-with-docker/play-with-docker/issues

Seems like they are running a "very old" version of Docker. cc/ @marcosnils

[2017-10-28 20:49] alexellis commented on #353
@VincenzoFerme we'll temporarily roll-back to support PWD. This is unfortunate because we want to take advantage of newer Swarm features for a better user experience. It should allow you to use the "automatic button" though.

[2017-10-28 22:16] marcosnils commented on #353
We're planning to update PWD this week to https and the latest compose version. I'll let you know when it's done so you can give it a try.

[2017-10-29 11:35] johnmccabe opened #356 "contrib/nginx should lock down prometheus server and alertmanager"
## Expected Behaviour

Currently the nginx auth conf in `contrib/nginx/gateway.conf` only locks down the OpenFaaS gateway, it should also lock down the Prometheus Server and Alertmanager, both UIs and APIs.

## Current Behaviour

Currently the both the Prometheus Server and Alertmanager are exposed.

A bad actor could delete series data from prometheus

    curl -XDELETE -g 'http://localhost:9090/

[2017-10-29 11:35] johnmccabe commented on #356
@alexellis ^

[2017-10-30 18:30] imikushin commented on #337
Would be awesome if all the I/O could be streamed: stdin into, stdout / stderr from the function.

[2017-10-30 18:32] imikushin commented on #347
Related to #337

[2017-10-30 18:36] alexellis commented on #347
Getting stderr is important, but the HTTP transport is raw binary, so you would have to do special encoding or serialisation which I don't think is a good idea.

What behaviour have you observed currently? Do you have a function which prints to stderr and stdout?

We need to take some proposals on the implementation detail and design.

[2017-10-30 18:50] alexellis commented on #347
Current function side-car/watchdog implementation:

https://github.com/openfaas/faas/tree/master/watchdog

Proposed re-write:

https://github.com/openfaas-incubator/of-watchdog/blob/master/README.md

Perhaps this would fit into the "Serialising model"?

[2017-10-31 08:29] alexellis commented on #347
<img width="1212" alt="screen shot 2017-10-31 at 08 29 23" src="https://user-images.githubusercontent.com/6358735/32214099-9fd9cf54-be15-11e7-9697-732968aa51cc.png">

@imikushin also checkout this example.. If your caller knows how to deserialise your custom format, you are able to write back some sort of custom payload.

[2017-10-31 22:58] alexellis opened #361 "Proposal: Golang Kafka connector for OpenFaaS functions"
The University of Calgary put together a Kafka connector for their OpenFaaS deployments.

https://github.com/ucalgary/ftrigger

We have had several requests for the ability to trigger a function (via the gateway) from a message published to a Kafka topic. Let's think about how to provide a connector written in Go. At the same time it's worth thinking about how this pattern could be applied to othe

[2017-11-01 08:34] alexellis commented on #262
Update - we have secure secret support in place/under-way through Swarm and Kubernetes secrets. Nic also wants to revisit his proposal.

[2017-11-01 18:38] rgee0 opened #362 "Proposal: Capture stdout from the watchdog when running Afterburn mode"
## Expected Behaviour
stderr from the process could be piped to stdout so that errors can be made available within logs

## Current Behaviour
Function errors are not easily observable

## Possible Solution
Similar work took place under #313

## Steps to Reproduce (for bugs)
Not a bug

## Context
Errors occurring within Afterburn functions are not easily observable

## Your Environment
Not a bug

[2017-11-01 18:38] rgee0 commented on #362
Derek add label: Proposal

[2017-11-01 22:23] imikushin commented on #347
The problem that we want to solve is being able to look at the logs, errors and stack traces, that the function prints. In order to do that, we want to record all the information about the function invocation:
- arguments (input),
- results (output) and
- logs (errors/messages).

As of now, we can only record the first two. The last one is the problem, because stderr content is not being captured

[2017-11-02 10:15] rayhero opened #364 "Question: Extreme memory requirements - Pod needs 13GB"
I have a image processing function that need to use 13G memory. I create a Cluster
have 16G memory with 3 nodes. But I can not find a way to configure my function's
Pod memory size or swap memory size. And if several request at same time, How to
set configure to make my each function call can have enough memory to complete the job?

## Expected Behaviour
The image processing job can finish and upl

[2017-11-02 10:31] rgee0 commented on #267
Derek add label: conor

[2017-11-02 10:32] rgee0 commented on #267
Derek remove label: conor

[2017-11-02 10:38] rayhero commented on #364
And I also notice that I can not change the function's pod memory. If I want to increase the pod's memory I need to create a new pods. But the create flow is control by faas-cli. How can I manual recreate the pod with large memory?

[2017-11-02 15:36] mcgoober commented on #312
Thanks @alexellis for the fix. However the behavior hasn't changed in 0.6.7.
The pull request from this ticket would have worked as far as I can see...
https://github.com/openfaas/faas/commit/6d5ae1af5bf5b2f8f365438b3eac845000c4fb46#diff-a7739e9c4834f2d0769169a1c27e7774
However in a further commit this code was modified and the original functionality re-introduced due to an argument ordering error

[2017-11-02 18:04] austinfrey commented on #364
Derek add label: question

[2017-11-02 18:17] austinfrey commented on #230
@asimashfaq i'm going to close this. for the time being CORS can be configured using gateways like Nginx. feel free to keep commenting if you have more input or would like this to be re-opened.

[2017-11-02 18:17] austinfrey commented on #230
Derek close

[2017-11-02 18:17] #230 closed

[2017-11-02 18:19] austinfrey commented on #268
@schickling closing for now, but if you have further input or want to re-open, please feel free!

[2017-11-02 18:19] austinfrey commented on #268
Derek close

[2017-11-02 18:19] #268 closed

[2017-11-02 22:24] alexellis commented on #268
@schickling Austin is correct - but @ericstoekl is doing some work which will help your scenario by giving data over the RESTful endpoints and CLI as to when a function has a replica ready. Are you on our Slack channel? Maybe we could chat more there.

[2017-11-02 22:43] alexellis commented on #362
I have this pushed up for testing. also #313 https://github.com/openfaas-incubator/of-watchdog

[2017-11-03 03:12] rayhero commented on #364
It seem like I can hard code modify the createhandler.go locate at gateway/handlers/ and redeploy the faas to make faas set my resource limit & request during deploying function?

[2017-11-03 08:54] alexellis commented on #364
Hi @rayhero we're working on something which I think will help with dealing with more memory than is available in the pod. Are you dealing with a 16GB image file?\

What is the specific use-case and function? Is it available online for us to test?

[2017-11-03 09:01] alexellis commented on #364
@trusch @rgee0 can we reproduce this issue simply?

[2017-11-03 09:03] alexellis commented on #353
Thanks @marcosnils - is the login page issue fixed now too that was preventing us from using the button?

[2017-11-03 09:06] trusch commented on #364
@alexellis as you said we need more information about the specific nature of the usecase. Perhaps the function really needs that much memory than even io-streaming wouldn't help.

[2017-11-03 16:21] marcosnils commented on #353
@alexellis yes, that is fixed. The only issue missing is that when using the button sometimes the exposed ports don't appear at the top. We're investigating why that happens. Compose has been also updated to 1.16 which supports the 3.3 format.

[2017-11-04 01:35] rayhero commented on #364
@alexellis I using Open CV image processing library to do the image feature detection. Since I need to processing 4K image one one thread. Open CV need to use large memory to build the Gaussian Pyramid model for feature detection. I think I need to set the pod's memory limit to make sure each pod can have enough memory to finish it's job

[2017-11-04 11:19] nenadilic84 commented on #239
I'll start looking into this.
My suggestion would be to have a structure like this:
[code]
that will be propagated from the faas-cli, read from the `myfunctions.yml` or from a commandline arguments: `--limit-cpu`, `--limit-memory`, `--reserve-cpu`, `--reserve-memory`.
Then we can have implementations in the gateway for different backends.

If no one objects on this, I'll start working on it...

[2017-11-04 15:26] wonderxboy opened #366 "Doc Proposal: get started with the source code"
I am new to this awesome project. So when I browse the docs, I did not find a doc for "get started with the source code" or the like. I think it would be great if there is such a doc for someone new to this project, especially when he wants to contribute on the source code level. In the meanwhile, where should I get started if I want understand the source code?

[2017-11-04 16:45] maxbry opened #367 "Serverside callback when any function has been uploaded?"
Is it possible to determine a function/callback/script that should be triggered whenever a new function has been uploaded?

[2017-11-04 17:39] alexellis commented on #366
Hi Sean, the best way to get started if you would like to contribute is with the contribution guide and then one of the open issues. We'd also encourage you to join the Slack community so you can get connected and support for your first contributions. Email alex@openfaas.com to get started.

[2017-11-04 20:17] alexellis commented on #367
Derek add label: question

[2017-11-05 00:03] rayhero commented on #239
Yes!! I really want this feature. Can you advise us how to achieve this in faas-cli or faas-netes?

[2017-11-05 00:07] rayhero commented on #239
Currently I want to hard-code the limitation for memory. But I have no useful clue to set it. Currently I found deploy handler may is the   correct place to set it. But what variable a response for the resource limited?

[2017-11-05 01:28] abdelhadi24 opened #368 "Limit on how many functions can be deployed in a single server?"
Is there a limit on how many _unique_ functions can be deployed in an openfaas instance?

[2017-11-05 02:46] austinfrey commented on #368
Derek add label: question

[2017-11-05 16:51] alexellis opened #369 "Async: Custom headers and QueryString should be serialized and passed onto function."
Custom headers and QueryString should be serialized and passed onto function.

## Expected Behaviour

Custom headers such as `X-Forwarded-By` or query string values such as `?id=alex` should be passed onto the function when it is invoked by a queue worker.

## Current Behaviour

Ignored by async, passed by synchronous invocations.

## Possible Solution

Alter the en-queuing code to serialize this

[2017-11-05 16:56] alexellis commented on #369
The header may already be serialized - https://github.com/openfaas/faas/blob/master/gateway/queue/types.go#L10

[2017-11-05 18:38] maxbry opened #370 "Cannot push example to remote"
I create a docker swam on my localhost running [this](https://github.com/openfaas/faas/blob/master/guide/deployment_swarm.md) tutorial. I then create the examplary function using [this](https://blog.alexellis.io/first-faas-python-function/) tutorial. When doing `faas-cli push -f hello-python.yml`
I'm getting:

    $ faas-cli push -f hello-python.yml
    [0] > Pushing: hello-python.
    The push re

[2017-11-05 18:40] rgee0 commented on #370
Hello @maxbry,

Can you confirm you have logged in to your docker hub account on the machine prior to attempting to push, please?

[2017-11-05 19:21] maxbry commented on #370
$ docker login
    Login with your Docker ID to push and pull images from Docker Hub. If you don't have a Docker ID, head over to https://hub.docker.com to create one.
    Username: maxbry
    Password:
    Login Succeeded
    $ faas-cli push -f hello-python.yml
    [0] > Pushing: hello-python.
    The push refers to a repository [docker.io/library/hello-python]
    b2a90e359469: Preparing
    05a

[2017-11-05 19:24] rgee0 commented on #370
Cool.  So now, if you haven't done so already, you need to edit your `hello-python.yml` to add your account/use namespace to the front of the image name:
[code]

becomes:

[code]

[2017-11-05 20:09] alexellis commented on #370
Richard is correct, you'll need to specify your Docker Hub account there under the `image:` prefix.

[2017-11-05 20:15] maxbry commented on #370
Ah great, that solved it!

[2017-11-05 20:27] alexellis commented on #370
Derek close

[2017-11-05 20:27] #370 closed

[2017-11-05 20:27] alexellis commented on #370
No probs Maxbry. Let us know if we can help again.

[2017-11-05 20:35] alexellis commented on #366
I'll mark this issue as revisit and close, please feel free to keep commenting.

[2017-11-05 20:35] alexellis commented on #366
Derek add label revisit

[2017-11-05 20:35] alexellis commented on #366
Derek close

[2017-11-05 20:35] #366 closed

[2017-11-05 20:35] maxbry opened #371 "Question: Multi-tenancy"
I'm interested in using OpenFaaS for a team of developers. Each developer should work on dedicated problems and upload his solution. The functions should then being called by a backend system.
* When a function is used in a productive system, can it be prevented from being overridden?
* Can I limit access to that OpenFaaS server with something like accounts?

[2017-11-05 20:35] alexellis commented on #366
Derek add label: revisit

[2017-11-05 20:37] alexellis commented on #371
Hi we have no multi-user support at this point however we'd recommend you deploy to your production servers via a CI/CD process which will void the problem above. If you need support for OpenFaaS we can invite you to the Slack community to talk about your use case more. Just drop an email to alex@openfaas.com

[2017-11-05 20:44] alexellis commented on #368
Derek close

[2017-11-05 20:44] #368 closed

[2017-11-05 20:44] alexellis commented on #368
Hey @abdelhadi24 I think we'd need a bit more information to be able to help you. This depends on the size of your server and how much memory your functions require.

[2017-11-05 20:46] alexellis commented on #367
Can you give the scenario please?

[2017-11-06 00:37] ericstoekl commented on #369
There may be many concurrent requests to the same function, so will each function call be guaranteed to have the environment variables set to its proper value at the time of function execution?

For example, I send data blob `A` to the function with environment variable setting a parameter to `b`. At nearly the exact same time, another user sends data blob `C` to the same function with parameter s

[2017-11-06 07:46] alexellis commented on #369
We fork a process for each request in the watchdog and in afterburn we are passing data in the same way to a single process. This work is complete for synchronous calling. The ticket is for implementing in the queue code.

[2017-11-06 09:27] alexellis commented on #239
@nenadilic84 are these both compatible with the notions of reservations and limits in Docker Swarm and Kubernetes? @realbot would this work for you too?

[2017-11-06 09:35] alexellis commented on #239
Would you like to collaborate with @nenadilic84 on Slack since you are both there and interested in seeing this happen?

[2017-11-06 10:06] rayhero commented on #364
@alexellis if you want the docker image to test, I can provide the sample image for you to test the limitation setting is work or not.

[2017-11-06 12:47] alexellis commented on #364
Please do that.. @rayhero

[2017-11-06 15:38] VincenzoFerme commented on #353
I just tried to start PWD with the [current version](https://github.com/openfaas/faas/blob/10feadf965185e64d4562a4ca90f336042a2ad3a/docker-compose.yml) of the `docker-compose.yml` and I get:

[code]

[2017-11-06 15:43] alexellis commented on #353
![screen shot 2017-11-06 at 15 43 38](https://user-images.githubusercontent.com/6358735/32449356-3d042390-c309-11e7-9e1e-a9900118f435.png)

I got this.. what are we doing differently?

[2017-11-06 15:50] alexellis commented on #353
@VincenzoFerme @marcosnils reports above that PWD is not ready for use with the "1-click buttons" which is why we took it off the homepage. You can do what I did above and just paste in the 1-liner from the TestDrive.

[2017-11-06 21:21] #247 closed

[2017-11-07 07:54] Templum opened #373 "Question: Is there a way to restrict to which nodes a function can be deployed?"
Hello,

I have the following question regarding the OpenFaaS project. Is it possible to manipulate or restrict on which nodes a function gets deployed? Both kubernetes and swarm allow deploying services to nodes based on requirements.

The use case I have in mind is, that I like some of the functions to be deployed in special regions to avoid issue regarding data laws. As for example, germany has

[2017-11-07 14:10] austinfrey commented on #373
Hi @templum yes, you can apply constraints just like you would for regular swarm services. here is an example from the OpenFaaS docker-compose.yml https://github.com/openfaas/faas/blob/b92b0926fa11a1fae61925ec8fad066c159c486a/docker-compose.yml#L73

And here is a link to the Docker Swarm instructions: https://docs.docker.com/engine/reference/commandline/service_create/#specify-service-constraints-

[2017-11-07 14:12] austinfrey commented on #373
Derek add label: question

[2017-11-07 14:15] alexellis commented on #373
Hi @Templum are you using Docker swarm or Kubernetes?

Specify a constraint in the YAML file. More info here - https://github.com/openfaas/faas-cli#constraints

[2017-11-07 14:51] Templum commented on #373
@alexellis I'm using Kubernetes

[2017-11-07 16:24] wonderxboy opened #374 "Question about localhost time-out"
1. run deploy_stack.sh
2. http://localhost:8080 shows up and functions work as expected
3. run deploy_extended.sh
4. http://localhost:8080 times out

## Expected Behaviour
Per the description on https://github.com/openfaas/faas/pull/131 , the functions can be invoked async after deploy_extended

## Current Behaviour
http://localhost:8080 times out
invoking functions also times out
## Possible Solu

[2017-11-07 16:29] #304 closed

[2017-11-07 16:37] alexellis commented on #374
Have you checked the docs about localhost and ipv6? Perhaps try using 127.0.0.1 instead to force ipv4?

[2017-11-07 19:54] alexellis commented on #374
Derek assign: rgee0

[2017-11-08 06:10] wonderxboy commented on #374
The issue went away when I restart my docker...and it did not repo after that

[2017-11-08 06:10] #374 closed

[2017-11-08 08:29] alexellis commented on #374
Great to hear that

[2017-11-08 08:36] alexellis commented on #373
@Templum what kind of constraints do you need? Label-based constraints?

[2017-11-08 14:22] wonderxboy commented on #369
I can take a look

[2017-11-08 15:40] wonderxboy commented on #369
Fix: https://github.com/openfaas/nats-queue-worker/pull/7

@alexellis needless to say, when the PR is approved, you have to push a new docker image at functions/queue-worker:#tag

and then change the following lines in docker-compose.extended.yml

queue-worker:
        image: functions/queue-worker:#tag

And then the issue can be finally closed!

[2017-11-08 17:41] johnmccabe opened #376 "Async route doesn't support GET"
## Expected Behaviour

I should be able to invoke an async function via GET.

## Current Behaviour

Invoking an async function via GET is currently not possible as the route isn't configured (you get a `404`).

The nats-queue-worker also doesn't honour the request method set in the request object.

The introduction of support for GET invocations appears to have missed this out.

## Possible Soluti

[2017-11-08 17:41] johnmccabe commented on #376
Derek add label: bug

[2017-11-08 17:42] alexellis commented on #376
Derek remove label: bug

[2017-11-08 17:43] alexellis commented on #376
Design constraint is that asynchronous functions are invoked with a post. Could raise a PR to document that.

[2017-11-08 17:43] alexellis commented on #376
Derek add label: enhancement

[2017-11-08 17:52] Templum commented on #373
@alexellis Normal label constraints should do the job. So will the "constraints" field within the yaml translate to nodeSelector for a kubernetes cluster? If so thanks for the help, and sorry for the caused inconvenience. I should have read the documentation more strictly then.

[2017-11-08 18:03] alexellis commented on #369
Thanks for working on this.

[2017-11-08 18:10] johnmccabe commented on #376
Derek remove label: bug

[2017-11-08 18:32] johnmccabe commented on #376
Closing as docs have been updated

[2017-11-08 18:32] #376 closed

[2017-11-08 18:32] johnmccabe commented on #376
Closing as docs have been updated

[2017-11-08 18:53] alexellis commented on #373
I have nodeSelectors ready in https://github.com/openfaas/faas-netes/pull/77

I've done some initial testing on it by swapping the faas-netesd tag to "constraints". Would you like to take it for a test-drive and report back before we merge/release?

[2017-11-08 19:23] alexellis commented on #356
I wonder if we could mitigate partially by taking the port off AlertManager by default.

[2017-11-08 19:24] alexellis commented on #356
Can you add a footnote to the Nginx guide for the Prometheus proxy support? Good thinking about this.

[2017-11-08 20:20] johnmccabe commented on #356
Derek assign to: johnmccabe

[2017-11-08 20:20] johnmccabe commented on #356
Derek assign: johnmccabe

[2017-11-09 04:10] rayhero opened #379 "Auto scaling not only by request/seconds but also considering CPU/Memory usage"
Currently the auto scaling is base on request time/sec. Can we trigger the auto scaling by CPU/Memory usage? Currently if the request less than 5 times/secs and the cpu/memory resource is out of limits, the function will be terminated.

## Expected Behavior
The auto scaling is not only trigger by request/secs but also trigger by replica sets's CPU & Memory's usage

## Current Behaviour
Currently i

[2017-11-09 05:23] ericstoekl commented on #379
Derek add label proposal

[2017-11-09 05:23] ericstoekl commented on #379
Derek add label: proposal

[2017-11-09 11:52] alexellis commented on #322
@kozlovic I think it's all good now for ARMHF - not sure about ARM64?

[2017-11-09 13:08] alexellis commented on #322
This is now available for armhf in our repo.

[2017-11-09 13:08] #322 closed

[2017-11-09 13:08] #369 closed

[2017-11-09 13:08] alexellis commented on #369
Merged, thanks @wonderxboy

[2017-11-09 14:00] austinfrey commented on #270
Derek close

[2017-11-09 14:00] #270 closed

[2017-11-09 16:03] kozlovic commented on #322
@alexellis we do have an ARM64 image too.

[2017-11-11 12:20] alexellis commented on #373
This is merged now @Templum - let us know if you need any help with it.

[2017-11-11 12:20] #373 closed

[2017-11-11 12:24] alexellis commented on #373
Docker image will be updatable now to:

https://github.com/openfaas/faas-netes/releases/tag/0.3.4

[2017-11-11 15:04] wonderxboy commented on #238
Anyone working on this？

[2017-11-11 15:11] alexellis commented on #238
Yes I have a prototype but Docker Swarm is misrepresenting readiness so going back up to 1/1 was less reliable

[2017-11-11 15:36] alexellis commented on #379
Entirely valid scenario, here's two ideas:

## 1. Change alerts/metrics

* Install NodeExporter and capture metrics on each host / container
* Update the alerts

## 2. Use K8s built-in scaling

* Add a regular Kubernetes pod scaler policy

There may be other suggestions worth exploring too. Option 1 is not going to work with Swarm, Nomad, Hyper, etc.

[2017-11-12 06:48] burtonr opened #383 "Upgrade NodeJS sample functions to latest LTS version"
The sample functions reference the previous version of NodeJS. 8.9.1 is now the current LTS

## Context
This change doesn't really affect this project directly, however, having the sample functions match the latest LTS version will (may) eliminate confusion that OpenFaaS doesn't support the latest version of NodeJS.

Update to the templates over on the cli project: [faas-cli PR](https://github.com

[2017-11-13 00:45] marcosnils commented on #353
@VincenzoFerme @alexellis I believe this should be fixed. Please give it a try and let me know if something's not working for you.

[2017-11-13 03:37] rayhero commented on #379
@alexellis thanks for the suggestion! I'll try to integrate the NodeExporter in prometheus.

[2017-11-13 06:57] rayhero commented on #379
@alexellis : I try to use kubectl create -f node-exporter.yaml to add node-exporter on kubernetes. But the prometheus can not find the node-exporter on target page. The yaml I using: https://github.com/cedriclam/example-Prometheus-with-Kubernetes-and-Grafana/blob/master/node-exporter.yaml
I try to set the namespace but still not work. How to add node-exporter in openfaas?

[2017-11-13 08:22] rayhero commented on #379
I try to use the sample (https://github.com/cedriclam/example-Prometheus-with-Kubernetes-and-Grafana) to install nodeExporter on Kubernetes. And I add the scrape setting on faas-netes's configmaps.yaml:

# Scrape some pods (for daemon sets)
- job_name: 'kubernetes-pods'
  kubernetes_sd_configs:
  - api_servers:
    - 'https://kubernetes.default.svc.cluster.local'
    in_cluster: true
    role: pod

[2017-11-13 09:20] rayhero commented on #379
I fix the bug. It's the network issue. The fix flow is install nodeExporter first. And set nodeExporter's ip in scrape's settings. I can got the node info from nodeExporter now lol.

[2017-11-14 08:24] alexellis commented on #367
@maxbry what's the use-case?

[2017-11-14 18:16] VincenzoFerme commented on #353
Now it starts all the services correctly. You have a warning:

[code]

because your definition in the `docker-compose.yml` file is in fact a `docker-stack.yml` definition.

[2017-11-14 18:40] alexellis commented on #353
This is probably to do with the way PWD works with stacks. We are not advising anyone to use compose.

We have an open issue to removes the old depends on tags. If you would like to raise a PR I can merge it.

There's no concept of a docker-stack.yml file and we are targeting stacks not compose.

[2017-11-14 19:07] marcosnils commented on #353
PWD doesn't use compose to deploy. But it first does `docker-compose pull` so you can see the images being downloaded and that's were you get the warning.

After that it just does a regular `docker stack deploy`. You can verify this by running `docker stack ls` after everything finishes.

[2017-11-15 02:59] VenkateshSrini opened #388 "Support question: How to deploy multi container application as serverless"
Hi,
I have a  .NET core WEB API that uses PostgresSQL for persisting the data. Both are in container. I use docker compose to deploy them. Now I want to use docker with Kubernetes and deploy them as ServerLess in openFaaS. I need some guidance step by step do the same. I'm old to docker but new to both Kubernetes as well as openFaas

## Your Environment

* Docker version `docker version` (e.g. Doc

[2017-11-15 07:12] rayhero commented on #379
I can success fire the alert on prometheus. But I can not see the pod number increase. How do control the auto scaling in openfaas? I check to code and found the control flow is in configmaps,
so I add the node resource monitoring:

[code]

then I notice that I need to set the alert rule to observe resource:
[code]

I use the same label which the autoscaling example used. I can see the alert firin

[2017-11-15 07:59] rayhero opened #389 "Question: on scaling with high memory usage Pods"
I using faas to do the image processing job. It cost 4cores,8GB memory/request and 20mins
processing time. My environment is GCP kubernetes. I create a Cluster with 10core, 25GB memory.
I set the pod resource limit to 4core and 8GB memeoy. And I using

`kubectl autoscale deployment auto-hotspot --cpu-percent=20 --min=1 --max=100 --namespace=openfaas-fn`

to do the pod's autoscaling.

When I try to

[2017-11-15 08:40] alexellis commented on #389
Derek add label: question

[2017-11-15 08:42] #239 closed

[2017-11-15 08:55] rayhero commented on #389
maybe the readinessprobe is the correct way to avoid busy pod's get more job?

[2017-11-15 09:29] VincenzoFerme commented on #353
@alexellis you are right, my mistake about the docker-stack.yml file, sorry :). @marcosnils is right, I experienced exaclty what he is describing in https://github.com/openfaas/faas/issues/353#issuecomment-344364207. Locally I can replicate the same behaviour by first issuing `docker-compose pull` and then `docker stack deploy -c docker-compose.yml faas` where the `docker-compose.yml` file is [htt

[2017-11-15 10:43] drpaneas commented on #258
@alexellis  I applied the same configuration with @unicman with the `ENV` variables like that into the `*.yml` but it doesn't work for me. The `time` it's always `15 seconds` ... :/

[code]

and

[code]

I am running it on Kubernetes but I haven't configured anything on that side apart from the `list-pr.yml`.

[2017-11-15 10:56] alexellis commented on #258
@drpaneas please open a new issue.

[2017-11-15 14:35] alexellis commented on #322
Perfect.. 👍

[2017-11-15 17:16] stormwalkerec opened #391 "Question: How does the Auto-scaling work ?"
Using your pingurl sample, I set 5 systems to constantly use the function using the loop you used in your video getting nodeinfo.

'while [ true ] ; do curl -4 http://domain.com/function/url-ping -d "http://www.google.com/" ; done'

The (gateway_function_invocation_total) or functions per second [f/p/s] was minimum 6 to trigger the scaling, but no higher than 8.2

During this time, every 40s it in

[2017-11-15 17:20] stormwalkerec opened #392 "Question: asynchronous & synchronous on same cluster possible?"
As I'm new to this (OpenFaas & Kubernetes), under deployment_k8s.md you specify to choose with stack you want to install. If I recall correctly, in your demo video you mentioned to get async you just changed the url request. How did you achive both asynchronous & synchronous in your video ?

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swar

[2017-11-15 18:42] johnmccabe commented on #392
@stormwalkerec when you deploy with async support you can still invoke functions synchronously.

All that changes is the endpoint by which you invoke the function. For example, say you have a function called `mycoolfunction` you could invoke it as follows via these endpoints:

| Mode         | Method | URL                                            | Body | Headers  | Query string
| -------------|

[2017-11-15 18:46] alexellis commented on #392
Thanks for commenting @johnmccabe. @stormwalkerec I'm going to close the Issue since it's been answered now, but please feel free to keep asking questions here.

[2017-11-15 18:46] #392 closed

[2017-11-15 18:47] alexellis commented on #391
@stefanprodan has spent lots of time with the auto-scaling. @johnmccabe did we document this anywhere other than in the blog posts?

[2017-11-16 02:44] rayhero commented on #391
I also meet this problem too. I trace the code and found the flow may control by configurmaps.yaml. But when I try to send the same 'scale-up' event the autoscaling not trigger as APIHighInvocationRate. So I use kubectl auto scaling instead the original way which openfaas provided....

[2017-11-16 06:46] rayhero commented on #389
I finish this job by using the readinessprobe. The kubectl autoscaling can not work since the resource usage will be hide if the pod becom un available.

[2017-11-16 13:38] johnmccabe commented on #391
@alexellis I don't believe so, it probably warrants a guide with some examples.

[2017-11-16 18:00] johnmccabe commented on #198
For reference - https://github.com/moby/moby/issues/30404#issuecomment-274825244

[2017-11-16 18:04] alexellis commented on #198
We have a PR for this now

[2017-11-16 18:05] johnmccabe commented on #198
Yeah I know, have commented on it, added this here to give more background to the reason its been deprecated.

[2017-11-17 03:28] rayhero commented on #389
@alexellis does openfaas support setting readinessprobe on each function?

[2017-11-17 04:23] rayhero opened #396 "Can not set readinessprobe on each function"
it's related to https://github.com/openfaas/faas/issues/389. I can set the readinessprobe on
faas-netes/handlers/deploy.go. But it will let every function need to follow the readinessprobe check

## Expected Behaviour
Just like @alexellis enhance the function resource limit (https://github.com/openfaas/faas-cli/pull/225), Can we also put the readinessprobe setting on each function?

## Current Beh

[2017-11-18 08:33] jrevillas opened #398 "UI does not render JSON responses in certain scenarios"
The UI sets a `Content-Type` header on the request to explicitly specify if the payload is a JSON document (`Content-Type: application/json`) or something else (`Content-Type: text/plain`). The request is then sent to the selected function, waiting for a response.

## Expected behaviour
Gateway's UI should render the response data according to the content type of the response. It should make use o

[2017-11-18 08:38] rgee0 commented on #391
Derek add label: question

[2017-11-18 08:39] rgee0 commented on #383
Derek add label: proposal

[2017-11-18 09:33] alexellis commented on #398
Yes this is by design, you can manually pick the content-type in the UI with the option boxes. Automatic selection based upon content type of the response would be better. Thanks for working on this.

[2017-11-19 16:13] austinfrey commented on #396
Derek add label: proposal

[2017-11-20 15:07] Templum commented on #388
@VenkateshSrini I don't think you can and should host a PostgresSQL on the FaasPlattform. However, you can deploy the database on its own. And instead, do the persisting call from the .NET application. If you have some code to share I might give more concrete advice on how to approach.

[2017-11-20 15:09] alexellis commented on #388
@VenkateshSrini you should deploy Postgres within your cluster in a namespace reachable by your OpenFaaS function. Depending on the latency to open a DB connection you may want to create a small micro service to manage a connection pool (long-running service) and then call into it via the functions.

@BurtonR is also looking at doing this with T-SQL and MSSQL.

@Templum Hi Simon, thanks for offeri

[2017-11-21 01:45] VenkateshSrini commented on #388
@alexellis,
This is where the problem comes. When I deploy that as a separate docker in Kubernetes and run OpenFass in a separate POD how will I make them communicate is the challenge. That is where we are asking for the step by Step by article of how this can be achieved. Could you please help me on the same.

[2017-11-21 07:46] Templum commented on #388
@VenkateshSrini

Start by installing and setting up Helm on your machine/cluster. The instructions for this can be found [here](https://github.com/openfaas/faas-netes/blob/master/HELM.md). After the setup, you can continue to install PostgresSQL using. [More Enterprise ready approach for installing PostgresSQL can be found [here](http://blog.kubernetes.io/2017/02/postgresql-clusters-kubernetes-sta

[2017-11-21 08:29] Templum opened #400 "Proposal: Generic trigger event source plugin system"
## Description

I want to introduce support for trigger/event sources.

Currently, a user of Open Faas has to call the function he likes. And in a system where he likes to react to events from a special source he is required to create a connector which stores not only the mapping from the event -> Lambda, but further also invoke the lambda with the payload.

## Possible Solution

Introduce a defin

[2017-11-21 10:56] alexellis commented on #400
@Templum thanks for your suggestion. Just curious - is this an idea or something you personally have a business use-case for?

Btw are you on Slack? You may want to attend some of the contributor meetings too.

[2017-11-21 11:25] Templum commented on #400
@alexellis Just to highlight I propose a standardized way of connecting event trigger with the openfaas framework and this should happen using the HTTP API, but with additional endpoints and additional CLI support. This would enable developers to create connectors for event sources they need like internal systems or more general approaches like the observation of databases. Further, it would allow

[2017-11-21 13:13] alexellis commented on #361
Initial alpha version of the Kakfa Connector in Golang - https://github.com/openfaas-incubator/kafka-connector

[2017-11-21 13:30] reiz commented on #400
@alexellis I think the proposal from @Templum makes sense. The [Apache OpenWhisk](https://openwhisk.apache.org/) project has a concept for [Triggers and Rules](https://github.com/apache/incubator-openwhisk/blob/master/docs/triggers_rules.md). Having a concept for triggers makes sense if you want to react to an event from a WebSocket for example.

Let's say there is a WebSocket API. You are connect

[2017-11-21 14:27] VenkateshSrini commented on #388
Hey mine is a windows 10 machine. Don't I have an exe or msi

[2017-11-21 14:54] Templum commented on #388
So with which one of the required tools do you struggle ?
kubectl => [using choco package manager](https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-with-chocolatey-on-windows)
helm => exe can be obtained from the [official website
](https://github.com/kubernetes/helm#install)

[2017-11-21 18:56] #198 closed

[2017-11-22 05:58] wonderxboy commented on #238
@alexellis I see your code proxy.go only spins up the service instance when there is 0 instance of such a service.
1. How could a service get into a 0-instance at the first place? At deploy time with a instance number(faas-cli does not seem to have such an option)?
2. Does it scale back to 0 automatically when there is no activity for a given time span?

[2017-11-22 07:44] alexellis commented on #238
You would use the logs to decide when the function was inactive and then scale down.

[2017-11-22 07:44] alexellis commented on #238
Logs or metrics.

[2017-11-22 13:29] wonderxboy commented on #238
Would you work on that? Or should I have a look? I would expect this to be a full-fledged feature in that the system automatically take care of the whole process. This is a very useful feature form a cloud provider's perspective, the functions can be served with less resource consumptions

[2017-11-23 13:12] chaim1986 opened #405 "the function can not be reached from the OpenFaaS gateway when the function is scaling"
When I did a stress test to my function "whoami" from the  OpenFaaS gateway  , I got some errors  like "Can't reach service:  whoami " which  responsed from the JMeter.

I find that all these errors happened when the function is auto-scaling,  and at the same time the function will disappear from the OpenFaaS Portal  UI and go back again when the scaling finish .

I  think maybe  there are somethi

[2017-11-23 15:14] austinfrey commented on #405
Derek add label: question

[2017-11-23 15:16] austinfrey commented on #400
Derek add label: proposal

[2017-11-23 21:10] alexellis commented on #400
I think I have to say what @reiz is saying aligns best with the values of the project. Simplicity for the developer and operator is key to the value. Being an open-platform is also very important so that means something like this can be built and run-alongside the existing solution to add the functionality.

One of the examples I really like is this from @kinghuang which takes around 90 lines of P

[2017-11-24 17:29] rgee0 opened #406 "Proposal: Introduce a .DEREK.yml file for managing maintainer permissions"
## Expected Behaviour
The latest version of Derek uses yaml format for managing maintainers and features.  The repo should include a `.DEREK.yml` to enable the use of the latest version of Derek.

## Current Behaviour
Derek is still wearing flares & a tank top and relies on MAINTAINERS.

## Possible Solution
Add a .DEREK.yml which includes the current maintainers and includes `comments` and `dco_c

[2017-11-24 17:29] rgee0 commented on #406
Derek add label: proposal

[2017-11-25 10:57] alexellis commented on #127
I'm closing this issue in favor of the regular contributor meetings we hold. I have a special one-off town-hall scheduled for Sunday 26th Nov 19.00 GMT+0. Email alex@openfaas.com if you would like me to forward the invite.

[2017-11-25 10:57] #127 closed

[2017-11-25 10:58] alexellis commented on #405
Please attach your test plan from jMeter. Do you have a healthcheck built into your function when running on Swarm?

[2017-11-25 19:09] alexellis commented on #405
@chaim1986

[2017-11-25 19:11] alexellis commented on #391
@stormwalkerec I'm not clear what the question is. Please try to summarize what kind of response you need.

[2017-11-25 19:12] #388 closed

[2017-11-25 19:13] alexellis commented on #388
We have provided an answer, so closing the issue. Please feel free to keep commenting.

[2017-11-25 19:13] alexellis commented on #398
Fixed in #399. Cheers

[2017-11-25 19:13] #398 closed

[2017-11-25 19:14] alexellis commented on #389
Hi @rayhero what is the difference between this issue and #379? Do you need two issues?

[2017-11-25 19:14] alexellis commented on #371
We have provided an answer, so closing the issue. Please feel free to keep commenting.

[2017-11-25 19:14] #371 closed

[2017-11-25 19:15] alexellis commented on #364
Related to #379. Closing as resolved.

[2017-11-25 19:15] #364 closed

[2017-11-25 19:16] alexellis commented on #341
Believe we have implemented and released this now. Closing.

[2017-11-25 19:16] #341 closed

[2017-11-25 19:17] alexellis commented on #334
I think issues have been opened or points addressed in openfaas-incubator/of-watchdog. Closing, please feel free to keep commenting.

[2017-11-25 19:17] #334 closed

[2017-11-25 20:22] stormwalkerec commented on #391
It is not scaling in what I understand is scaling ... ie, 6 f/p/s = 5 works, ok. wait till more than 10 f/p/s to initiated the next 5 workers.

The current system is: If there is more than 5 f/p/s, keep increasing worker count till 40 every 40s. at the end, your having 40 works processing only 5.1 f/p/s, ie, HUGE wasted resources, and I fail to see how this is scaling (Increase based on demand) ..

[2017-11-26 08:54] rgee0 commented on #406
Derek close

[2017-11-26 08:54] #406 closed

[2017-11-26 16:27] Templum commented on #400
Okay, I will try to come up with a possible solution for a generic approach and show it on some use cases.  By the way, haven't heard back from you since my email with my little intro.

[2017-11-26 17:07] stormwalkerec commented on #391
addendum:

I see there is some work towards setting more parameters for a function (warm worker count, amount to scale past current 40 hard limit) etc, maybe this is where we can set the scaling factor? As a simple function pinging a server is vastly different to a function that processes a whole web page ...

[2017-11-27 08:16] alexellis commented on #400
I'll send you an invite today. I'd like to start thinking about the concrete use-cases.

[2017-11-27 08:32] alexellis opened #408 "Document: fine-tuning async with NATS Streaming"
The asynchronous guide needs updating to cover new configuration flags for NATS Streamining:

There are two important environmental variables:

[code]

Due to the way NATS Streamining does re-deliveries all messages must be acknowledged (completed) within a certain timeframe which means each message must complete in ack_timeout / max_inflight seconds.

If you have a long running function that take

[2017-11-27 09:15] stefanprodan commented on #391
@stormwalkerec if you want have linear scaling with different scaling rules (CPU/RAM/IO/RPS/etc) tailored to your functions, you should consider using Kubernetes [HPA](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/). But HPA will not you far if you're dealing with massive load, you also need to scale your infrastructure. For this you could use cluster autoscaling so you

[2017-11-27 15:37] Templum commented on #400
# Use cases:

1. Using a Lambda function to react on database modification

In a typical microservice environment services tend to have their own data and also manage their data explicitly. Other services, in this case, need to request data directly from the service. With a trigger system and openfaas, the services could store that information in there own data storage, of cause only for reading a

[2017-11-29 01:35] blachniet opened #410 "K8S Deployment Guide References Missing Sample Functions"
## Expected Behaviour

I'd like to be able to easily set up a sample openfaas deployment by following the walkthroughs.

## Current Behaviour

The [Use OpenFaaS](https://github.com/openfaas/faas/blob/master/guide/deployment_k8s.md#30-use-openfaas) section in the [Deployment guide for Kubernetes](https://github.com/openfaas/faas/blob/master/guide/deployment_k8s.md) references functions that do not

[2017-11-29 16:29] alexellis commented on #312
Can you give a concrete test-case that we can use to reproduce the issue?

[2017-11-29 18:19] alexellis opened #414 "Feature: Add min/max scale for auto-scaling - Swarm & external providers"
Should be able to set a minimum scale for functions as well as the maximum (existing)

We can configure this through labels on the Docker Swarm service.

[code]

Labels are generic so this would need faas-netes to expose some new data for the /system/function/<name> call too.

This will be useful for functions which are known to need to have high availability or traffic.

Implementation on Swarm:

[2017-11-29 22:16] stefanprodan commented on #414
Tested on Kubernetes with the following stack:

[code]

It got up to 15 PODs during the load test and down to 5 after that:

<img width="1026" alt="screen shot 2017-11-30 at 00 14 48" src="https://user-images.githubusercontent.com/3797675/33401898-980aff0e-d563-11e7-9c6d-8d058a93781d.png">

[2017-11-29 22:54] alexellis commented on #414
Thank you for helping to test this on Kubernetes Stefan.

That result sounds like what we want. When the settings are not present does it fallback to the old behavior?

[2017-11-29 22:58] stefanprodan commented on #414
With no `com.openfaas.scale.min` label it goes back to one pod.

[2017-11-29 23:45] alexellis commented on #32
Implemented and released in a guide.

[2017-11-29 23:45] #32 closed

[2017-11-29 23:45] alexellis commented on #42
Closing due to lack of interest.

[2017-11-29 23:45] #42 closed

[2017-11-29 23:46] #74 closed

[2017-11-29 23:46] #126 closed

[2017-11-29 23:46] #132 closed

[2017-11-29 23:47] alexellis commented on #168
Closing as complete.

[2017-11-29 23:47] #168 closed

[2017-11-29 23:48] alexellis commented on #149
Have not heard from Hyper in a few months. No feedback on open issue so assuming inactive. Will close issue. cc/ @Gnep

[2017-11-29 23:48] #149 closed

[2017-11-29 23:49] alexellis commented on #117
@bketelsen what state is ACI in.. can containers talk to each other yet over private networking?

[2017-11-29 23:50] alexellis commented on #172
@ericstoekl can you put together a short guide for AWS when you have time? Create an issue to track it if you need to.

[2017-11-29 23:51] alexellis commented on #172
@vielmetti do you think you'd have time or someone on the Packet team to write up a short guide for OpenFaaS on Packet? I think you could set up the hosts then point to our standard Kubernetes guide.

[2017-11-29 23:51] alexellis commented on #172
Closing issue in favor of opening new ones.

[2017-11-29 23:51] #172 closed

[2017-11-29 23:52] #180 closed

[2017-11-29 23:52] alexellis commented on #263
@VitorFalcao did you make any progress with this?

[2017-11-29 23:55] #252 closed

[2017-11-29 23:56] alexellis commented on #237
@stefanprodan 😆 I think you have done this right?

[2017-11-29 23:56] alexellis commented on #367
Closing due to lack of information / activity.

[2017-11-29 23:56] #367 closed

[2017-11-29 23:57] alexellis commented on #353
Can we add the button back yet @VincenzoFerme ?

[2017-11-29 23:57] #353 closed

[2017-11-29 23:57] alexellis commented on #342
This is available in of-watchdog https://github.com/openfaas-incubator/of-watchdog

[2017-11-29 23:57] #342 closed

[2017-11-29 23:58] alexellis commented on #320
We might revisit this in the future but I think it is an anti-pattern for functions which are short-lived and stateless. This will encourage stateful behavior and assumptions.

[2017-11-29 23:58] #320 closed

[2017-11-29 23:59] alexellis commented on #337
@trusch can you verify if this is now working in https://github.com/openfaas-incubator/of-watchdog with the streaming mode?

[2017-11-30 00:00] alexellis commented on #339
In progress via #414

[2017-11-30 00:00] #339 closed

[2017-11-30 00:00] alexellis commented on #295
Done

[2017-11-30 00:00] #295 closed

[2017-11-30 00:34] alshabib commented on #320
I agree that this feature may encourage bad behavior, but then again you cannot stop people from shooting themselves in the foot.

Agree also that functions should be stateless and short-lived but that does not mean that they will not consume or emit large amounts of data and there is no reason why the volume of this data should be limited by the http session. This is simply an alternative method

[2017-11-30 08:29] developius commented on #408
Awesome to finally know why this was happening - good job @alexellis!

[2017-11-30 08:54] alexellis commented on #408
Yes it's great to have this documented. It does mean we have to know what our max time / duration is for a piece of work. We should also probably swallow / ack any task that gets redelivered so we don't get into a loop. Here's the scenario:

* Max ack time is 30 secs
* Max in-flight is 1
* User creates task that takes 40 seconds
* Results in redelivery message until it takes less than 30 seconds t

[2017-11-30 09:13] alexellis opened #416 "Design/research: Schedule/cron-like invocation of functions"
This is a placeholder for discussion around a scheduler / cron-like invoker for functions. It should be a side-car to the gateway and needs to work at the OpenFaaS API Gateway level so that it is available for all back-ends.

## Use-case

* Regular job needs to run on an interval

For example - ElasticSearch cleanup every night at 1am (out of hours)

* Polling function

Your integration can't work

[2017-11-30 16:19] ericstoekl commented on #408
@alexellis I would like to work on this item. To clarify, we need the following:

1. Timeout instead of redeliver if `ack_wait` expired.
2. Tests to validate
3. Detailed guide on these env variables and their usage.

Let me know if this is OK.

Thanks,
Eric

[2017-11-30 16:28] alexellis commented on #408
Not sure. I think this is ready now and I'll move the issue description into the docs.

Speaking of docs.. John's PR for docs is looking abandoned. Could you try it out and find out how long the docs build takes? Maybe we can launch it next week if it looks good.

[2017-11-30 17:05] ericstoekl commented on #408
Regarding the docs PR -- sure, I'll take a look at that.

[2017-11-30 17:16] rprakashg commented on #416
I use this library in the Seattle food truck slack bit I wrote github.com/robfig/cron

[2017-11-30 17:54] rorpage commented on #416
This is very rudimentary (and not quite working), but I was experimenting with this:

[code]

[2017-11-30 19:04] JockDaRock commented on #117
On the the issue on https://github.com/Azure/aci-connector-k8s/issues/51, there is someone there that seems to think testing with k8s version 1.8.1 might be worth a try on integrating with the k8s connector for ACI...

[2017-12-01 08:52] VincenzoFerme commented on #353
I think we can add it back, to me it is working again.

[2017-12-03 11:00] alexellis commented on #356
Derek assign: me

[2017-12-03 11:01] alexellis commented on #356
Derek add label: priority/middle

[2017-12-03 19:40] tkiraly opened #421 "nginx sample file not working"
hi

in https://github.com/openfaas/faas/blob/master/contrib/nginx/gateway.conf the proxy_pass values are end with a slash. Because of this nginx appends the location string. if no slash there, then no append happens.

## Expected Behaviour

no append happen

## Current Behaviour

append happen and behind nginx /ui is not working aka not finds any function (system/functions endpoint is 404 not foun

[2017-12-03 19:48] alexellis commented on #421
What isn't working? Lots of us are using this config including me

[2017-12-03 20:15] tkiraly commented on #421
i'm sorry, it was something on my side!

[2017-12-03 20:15] #421 closed

[2017-12-04 00:41] alexellis commented on #421
No worries. Let us know if you need help with anything

[2017-12-04 18:02] alexellis commented on #414
Derek add label: enhancement

[2017-12-04 18:28] alexellis commented on #416
Derek add label: enhancement

[2017-12-05 06:36] trusch commented on #337
@alexellis yes this works, I also really like the code, it's much cleaner now ;) Only one thing: in streaming mode stdin and stdout are both streamed. What happens if a function fails after the first byte has been send?

[2017-12-05 06:40] trusch commented on #337
I think a very simple solution would be to send an HTTP trailer X-Error or so in this case before returning the handler and making the cli (not the gateway) aware of this, so that it can mimic the exit code of the invoked function.

[2017-12-05 11:47] alexellis commented on #337
Appreciate that, thanks  How would that look for a hello world sample? Can you write some fake request and response text here?

[2017-12-05 12:43] alexellis commented on #316
Thanks for the suggestions.

`function_process` and `fprocess` are now both supported in the new of-watchdog project.

[2017-12-05 12:43] #316 closed

[2017-12-05 12:48] alexellis commented on #410
Hi @blachniet thanks for trying OpenFaaS - it looks like we changed the samples. I've added that one back in: https://github.com/openfaas/faas-cli/commit/44c51d4ecaae25cb22bf3fca978c78b03382d714

You might prefer to make use of the new Function Store too (available if you update to 0.6.13). https://blog.alexellis.io/announcing-function-store/

[2017-12-05 12:48] alexellis commented on #410
Derek close

[2017-12-05 12:48] #410 closed

[2017-12-05 12:53] alexellis commented on #232
I think we have a badge now like in the faas-cli repo .. @austinfrey would you like to add a brief sentence to the community.md file about using it?

[2017-12-05 12:53] alexellis commented on #232
Closing as resolved.

[2017-12-05 12:53] #232 closed

[2017-12-05 14:26] MadsRC commented on #416
I have a minor project where this would be awesome so I don't mind lending a hand, committing some time and writing some code to solve this.

I'd propose a solution with a scheduler (fScheduler, anyone 💃) running alongside the gateway (Which I guess is what you also proposed?). You'd then create the jobs by posting to the scheduler.

Jobs could be in the cron format, maybe JSON encoded during tran

[2017-12-06 00:19] austinfrey commented on #232
sure thing!

[2017-12-06 07:38] samiyuru commented on #209
Hi, Where did the config files say POST?

[2017-12-06 11:58] alexellis commented on #209
Hi can you open a new issue please and fill out the whole template too.

[2017-12-07 07:27] mjafarpour opened #425 "How to set circuit breaker mechanism"
Hi,
How can use circuit breaker mechanism? For example set the rate limit for fuction links to call.

[2017-12-07 14:08] austinfrey commented on #425
hey @mjafarpour, at the moment, rate limiting would be done using an api gateway layer on top of OpenFaaS. Something like Kong or Nginx can be placed in front of OpenFaaS to provide those features.

[2017-12-07 14:08] austinfrey commented on #425
Derek add label: question

[2017-12-07 16:40] austinfrey commented on #414
Is this closeable with the merge of #419?

[2017-12-07 16:41] alexellis commented on #414
Derek close

[2017-12-07 16:41] #414 closed

[2017-12-07 16:41] austinfrey commented on #361
cc @viveksyngh this could probably use some attention if you're interested

[2017-12-07 16:41] alexellis commented on #414
Yes thanks for helping out

[2017-12-07 16:42] austinfrey commented on #283
here's another one @viveksyngh

[2017-12-07 16:43] austinfrey commented on #263
cc @viveksyngh you might be able to collaborate with @VitorFalcao here

[2017-12-07 16:46] alexellis commented on #263
I think we'll need to work on this through the contributors group instead of wider community. Austin please could you look into the analysis / high level details around handshakes and configuring SNS to emit events? Maybe see if Robby can help since he has worked with EventGrid which is concentually the same thing.

[2017-12-07 18:52] viveksyngh commented on #263
@austinfrey I would like to work on this one. I am part of contributors group of open-faas slack community. Please guide me on how to get started for this.

[2017-12-08 02:47] alexellis commented on #263
Start at the beginning with analysis about how to register, and handshake for receiving from SNS.

[2017-12-08 13:16] #186 closed

[2017-12-08 18:15] viveksyngh commented on #263
Thanks. I will start working on it.

[2017-12-08 23:11] mjafarpour opened #427 "freeze on downloading APKINDEX.tar.gz"
Hi,
I try nodejs sample from official document and have this problem:
freeze build process on fetch http://dl-cdn.alpinelinux.org/alpine/v3.6/main/x86_64/APKINDEX.tar.gz
step.
Network connection is OK.

output:
[0] > Building: callme.
Clearing temporary build folder: ./build/callme/
Preparing ./callme/ ./build/callme/function
Building: callme with node template. Please wait..
Sending build context

[2017-12-09 02:27] alexellis commented on #427
Thank you for using OpenFaaS.

I have to say I used this today so I suspect it's something else that's wrong. This is a standard Alpine Linux command. I'm going to close the issue because I can't reproduce it but feel free to keep commenting.

What country are you connecting from?

[2017-12-09 02:27] #427 closed

[2017-12-09 02:28] alexellis commented on #425
If you follow our guide for Kong you can set up everything you need there. Thank you for using OpenFaaS. I'll close the issue and feel free to keep commenting. https://github.com/openfaas/faas/blob/master/guide/kong_integration.md

[2017-12-09 02:28] #425 closed

[2017-12-09 02:29] alexellis commented on #416
Good discussion so far. I believe @stefanprodan also has some thoughts to add here.

I would say you are also raising valid design questions. Can we summarise all this in a bullet-point list?

[2017-12-09 04:45] mjafarpour commented on #427
My country is iran.

[2017-12-09 04:49] mjafarpour commented on #425
Thanks for your attention. I checked the nginx samples. I don't have any experience with kong. but if you recommend the kong, i'll use it.

[2017-12-09 20:12] mjafarpour commented on #427
OK thanks, i try again the build command after some and this problem is fixed.
But after the end build step successfully according to sample, i run Deploy command as below line :
`faas-cli deploy -f callme.yml `
and get this error :

`Deploying: callme.
Error removing existing function: Delete http://127.0.0.1:8080/system/functions: dial tcp 127.0.0.1:8080: getsockopt: connection refused, gateway=

[2017-12-10 00:31] alexellis commented on #427
Hi glad you got that working :-) looks like the internet connection getting in the way. These sites I believe are in the US. So did you deploy OpenFaaS yet?

[2017-12-10 00:31] javajon commented on #71
Just a vote here.

In reviewing Kubeless it is nice to see this [serverless.com plugin](https://github.com/serverless/serverless-kubeless).

Adding a plugin for OpenFaaS may add more momentum.

(Along the lines of momentum, also a [stable helm chart for faas-netes](https://github.com/openfaas/faas-netes/issues/10))

[2017-12-10 04:43] austinfrey commented on #71
@javajon. Thanks for the interest. Feel free to give it a try. It needs updated to match certain newer changes but it's functional as an MVP. https.com/openfaas/serverless-openfaas

[2017-12-10 05:53] alexellis commented on #71
Hi @javajon, for context about momentum this analysis from The New Stack may be helpful - https://thenewstack.io/aws-lambda-still-towers-competition-much-longer/

There is a stable helm chart in our repository with instructions for how to get started and about available settings/flags. We're also doing the necessary to get it listed "upstream" in the charts repo. If you would like to be involved /

[2017-12-10 10:43] viveksyngh commented on #263
@alexellis @austinfrey  I have written a sample HTTP subscriber for SNS in Go, which makes subscription request, confirms the subscription, receives and process notification. Please have look at this repo.

https://github.com/viveksyngh/aws-sns-subscriber

[2017-12-10 15:55] austinfrey commented on #263
@alexellis I don't believe it supports all the flags yet

[2017-12-10 17:34] diddledan opened #428 "Suggestion: Allow functions to use multiple networks [Swarm]"
Faas-cli can only deploy a function into a single Docker network. The default for this is `func_functions`. I am proposing allowing multiple networks to be specified on the command-line when deploying a function to enable a function to access services which are logically separated such as for policy reasons.

## Expected Behaviour
When deploying a function I should be able to specify multiple netw

[2017-12-10 17:45] rgee0 opened #429 "Proposal: Add support for ARM images in function store"
## Expected Behaviour
When a user uses the UI their experience should be the same on all supported platforms.

## Current Behaviour
User is presented with a store on x86_64.  The gateway on `arm` does not yet include the store functionality.

## Possible Solution
To avoid duplication in the JSON where functions are available across multiple HW architectures, add an additional attribute to the func

[2017-12-11 04:54] mjafarpour commented on #427
Thanks for your attention.

[2017-12-11 05:17] alexellis commented on #427
Generally this error means you didn't deploy OpenFaaS

Can you check and try again?

[2017-12-11 05:18] alexellis commented on #429
@kenfdev @ericstoekl can we get your thoughts on this proposal?

[2017-12-11 06:46] alexellis commented on #263
There should be examples for configuring SNS events to be published within AWS and all the steps required. Also need to have the analysis / documentation on the hand-shake so we can understand how to integrate.

[2017-12-11 06:46] alexellis commented on #263
@austinfrey what doesn't support which flags?

[2017-12-11 06:51] alexellis commented on #361
I would like input from @kinghuang and maybe @kars7e too on whether a single topic is suitable for triggering functions. Can we use a wildcard for a consumer with this Go library?

[2017-12-11 06:53] alexellis commented on #389
@rayhero

[2017-12-11 09:26] kfukuyama commented on #429
Sorry if this is a noob question but isn't a cluster able to have both architectures and deploy to a specific architecture using constrains? Was thinking if the UI should show architectures as an option  .
If we don't need to think about that situation, I think @rgee0 's proposal is good 👍

[2017-12-11 09:41] rgee0 commented on #429
Is that how the function store currently works?

If I have a gateway running on x86 backed by arm worker nodes what happens when I try to deploy from the function store?

[2017-12-11 09:52] kenfdev commented on #429
@rgee0 The function store is only calling a ajax which is the same as the one used by "manually deploy". So it has to know which image to use if there are multiple definitions like your proposal above.

So applying ^this part is going to do the trick. The JS could read the variable at runtime.

What I was concerned was if we need to be able to deploy to both architectures if there _are_ both in th

[2017-12-11 10:09] rgee0 commented on #429
I understand your concern.  It’s how that concern has been addressed in the initial implementation that I’m interested in. Sounds like it hasn’t? So it’s already a potential problem.

We should probably place this on hold and raise an issue against the current implementation in mixed architecture deployments.

It’s a shame as I’ve a working prototype that filters based on gateway architecture, whi

[2017-12-11 13:55] mcgoober commented on #312
I understand your need for a repro, and if I have to go to the trouble I will, but please check your code first.

Your tests for the new code in tests/proxy_tests.go are great, and work, because they call GetContentType with the correct parameter order (Request, Response, DefaultHeader). Your code in gateway proxy.go does not.

The fix for this is to change the call to GetContentType in proxy.go t

[2017-12-11 15:22] alexellis commented on #312
We have a lot of work on right now and a very small team. The issue template asks for a repro scenario so if this is important to you I'd ask you to help us help you.

[2017-12-11 16:05] ChrisCGH opened #431 "Functions deployed from store are not getting environment set"
When I deploy a function from the function store which has environment values specified in store.json, the container that is run does not have the environment values set.

## Expected Behaviour
For example, the inception function should have read_timeout and write_timeout set

## Current Behaviour
After deploying inception from the function store:
$ docker ps | grep inception
9643e58ecd3d        a

[2017-12-11 17:30] ChrisCGH commented on #431
Maybe this bit of bootstrap.js needs to be updated to send the environment values (func.environment?):
`            $scope.onFuncSelected = function(func) {
                $scope.item.image = func.image;
                $scope.item.service = func.name;
                $scope.item.envProcess = func.fprocess;
                $scope.item.network = func.network;
                $scope.selectedFunc =

[2017-12-12 05:08] ericstoekl commented on #431
Derek add label: proposal

[2017-12-12 05:10] ericstoekl commented on #431
Hi @ChrisCGH , thanks for your suggestion. Last I heard we are still deciding what to do with environmental variables with regards to the function store. The reason that this is slightly more complicated is because the `read_timeout` and `write_timeout` will need to be set at the gateway level as well for the function to work with increased timeouts. @alexellis, correct me if I'm wrong here.

[2017-12-12 07:47] ChrisCGH commented on #431
Hi Eric, it's true that the gateway timeouts need to be increased too, but at least that's something that I can control when I deploy faas. How about making the gateway timeout dynamic, by allowing them to be specified in the create function request, and adding some protection by specifying hard limits when deploying the gateway?

[2017-12-12 11:54] mcgoober commented on #312
Repro Steps...
1. Deploy gateway version 0.6.13 and create a function though the gateway UI as follows...
Image: functions/alpine:latest
Name: Putty
fprocess: wget -q -O - http://www.putty.org/

2. Execute this command to add content_type env param to service. This line should force the response to always return 'text/html'. I'm using Docker, but I'm sure an equivalent command for Kubernetes exist

[2017-12-12 14:29] alexellis commented on #312
Thanks for taking time to write this up.

So with step 2 you can just add the environment in the YAML when you deploy.

If you hard-code a request content-type then the proxy will match that for the return value. This behaviour can probably be removed now (subject to testing).

Historically the time when this was most useful was when writing an Alexa skill for instance which queries in JSON and wa

[2017-12-12 14:31] alexellis commented on #431
As I suspected the code is not merged yet, but the store is ready i.e. the timeouts are set in the definitions. Please re-test after we merge the changes here: https://github.com/openfaas/faas/pull/424

[2017-12-12 15:41] ChrisCGH commented on #431
Thanks Alex, will do

[2017-12-12 16:04] ericstoekl commented on #312
Can confirm that fixing the ordering of the function call parameters in `GetContentType()` fixes the issue for @mcgoober 's specific case.

@alexellis , do you want to remove the `headerContentType = requestHeader` assignment entirely, as taking `requestHeader` is not something we should ever do?

[2017-12-12 18:00] austinfrey commented on #263
@alexellis apologies posted in the wrong issue thread :/

[2017-12-13 06:59] viveksyngh commented on #263
Please help me in understanding. What kind of integration will we do with open faas and SNS? Will open faas functions push an event to AWS SNS topic (Publisher) ? or Open faas function will be used as an HTTP subscriber to receive an event from SNS topic?

What I have tried to do till now is write an HTTP subscriber in go which will programmatically subscribe to an SNS topic, confirm subscription

[2017-12-13 07:04] viveksyngh commented on #361
I was looking for issues to work on. @austinfrey was helping me out by pointing to some issues on which I can work on.

[2017-12-13 12:43] #431 closed

[2017-12-13 12:43] alexellis commented on #431
Closed as this feature is not released.

[2017-12-13 12:46] alexellis opened #433 "UI: offer binary/download option"
UI: offer binary/download option

## Expected Behaviour

When invoking a function (from the store) such as QR-code - have a third UI option along with text/json called Binary or Download.

When invoked the browser will download a file with the appropriate filename

## Current Behaviour

Binary appears in response text-box.

## Possible Solution

Current solution is to invoke via curl/faas-cli and

[2017-12-13 18:23] kylos101 opened #436 "Question: can I skip pushing images when using minikube?"
Hi, OpenFaaS looks awesome (I've watched a couple videos and read a few blog posts)! I apologize in advance if I've missed something...

## Expected Behaviour
Have the ability to deploy functions' images in Minikube w/o publishing to a remote docker registry and running "docker login".

## Current Behaviour
Images built with faas-cli cannot be pulled from my local docker registry (the desired imag

[2017-12-13 21:35] alexellis commented on #436
Derek add label: question

[2017-12-13 21:41] alexellis commented on #436
If you use Docker Swarm then your library is shared between OpenFaaS automatically and you have no need to push. When using `minikube` you need to push to an intermediary registry or build directly into the Docker version running in minikube.

* Running a local registry on minikube:

https://github.com/kubernetes/minikube/blob/master/docs/addons.md

Or Google it

* Use minikube's Docker version an

[2017-12-13 21:41] #436 closed

[2017-12-14 11:57] alexellis commented on #436
@kylos101 please feel free to keep commenting on this issue.

[2017-12-14 12:49] alexellis opened #437 "Enable NATS Streaming for async by default"
Suggestion from @stefanprodan - to enable NATS Streaming for async by default.

## Expected Behaviour

Deployment already includes NAT Streaming for async behaviour

## Current Behaviour

Optional via helm or by using separate YAML

## Possible Solution

Bake it in, but document how to swap/remove in markdown/docs.

[2017-12-14 12:49] alexellis commented on #433
Merged and released in 0.6.14.

[2017-12-14 12:49] #433 closed

[2017-12-14 12:51] alexellis commented on #429
Looks like we need more design / discussion around this. Please can you guys summarise where you are now?

[2017-12-14 12:52] alexellis commented on #428
Derek add label: swarm

[2017-12-14 12:52] alexellis commented on #362
This is present in https://github.com/openfaas-incubator/of-watchdog @rgee0 can you test?

[2017-12-14 12:57] kylos101 commented on #436
@alexellis will do, thank you very much for the detailed response, and rephrasing this issue (I was struggling with phrasing).

I am currently building my images into minikube, but I'm not running a registry container, so I'm going to try that first. More updates to follow - probably in a few hours.

[2017-12-14 13:20] alexellis commented on #436
Docker for Mac/Windows + Kubernetes will be even more interesting too since I think it will give both a recent version of Docker and a local Kubernetes environment.

[2017-12-14 18:57] kylos101 commented on #436
Hi there, I got the registry running following [this](https://github.com/kubernetes/minikube/blob/master/docs/addons.md) and [this](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry), and just need to figure out how to build and publish to it.

More updates later tonight (hopefully). Thanks again!

[2017-12-14 20:29] kylos101 commented on #436
Setup the registry today in a k8s pod, just need to figure out how to
publish to it.

Some homework for tonight.

On Thu, Dec 14, 2017, 8:20 AM Alex Ellis <notifications@github.com> wrote:

[2017-12-15 11:29] mcgoober commented on #312
Many thanks for your help guys. I was wondering if it would be possible to allow a function to set the content type based on some logic. Headers from the request are transferred via environment vars to the function but could the function set content_type env var during execution such that its value is used as the response content type?

Happy to raise another ticket to cover this as a feature requ

[2017-12-15 11:59] alexellis commented on #312
This is not a simple request, it's hard to accomplish what you're asking for since you cannot extract data from the forked process other than stdout, stderr and the exit code. I.e. environment on a child process is not observable from the parent. We do have an alternative way of accomplishing this with the new afterburn mode. https://github.com/openfaas-incubator/of-watchdog

[2017-12-15 12:00] alexellis commented on #312
Out of curiosity are you on Slack yet? Email alex@openfaas.com if you'd like to join.

[2017-12-15 14:37] mcgoober commented on #312
Ohh, nice tip on afterburn mode. This will do the trick nicely. Yep, already on Slack, thanks for adding me.

[2017-12-16 00:30] kenfdev opened #439 "Proposal: Add repository link to the function store list"
The function store should have a link to the function's repository. This way people could easily jump to the function's information.

## Expected Behaviour

Click a link in the function store and jump to the repository with a new tab or window.

[2017-12-16 00:30] alexellis commented on #439
Approved

[2017-12-16 16:08] #285 closed

[2017-12-16 17:49] nicholasjackson opened #441 "Support metrics servers other than Prometheus"
OpenFaaS should support other metrics collection and aggregation services other than Prometheus.  For example DataDog or NewRelic or Circonius are excellent SaaS based metrics platforms.

## Expected Behaviour
Prometheus metrics should be enabled by default however it should be possible to override with another provider.

## Current Behaviour
All metrics are passed to Prometheus

## Possible Solut

[2017-12-17 00:10] kylos101 commented on #436
Hi @alexellis, I'm such a doofus. I should have provided more context in my initial post.

To recap, I was trying to figure out why my minikube kubernetes instance was having trouble pulling images for OpenFaaS.

What I failed to mention, is that I have no problems using images in kubernetes that are local to my machine:
kubectl create -f some/deployment.yaml

I just found that this is ideal when

[2017-12-17 13:07] #429 closed

[2017-12-17 13:10] rgee0 commented on #236
Derek close

[2017-12-17 13:10] #236 closed

[2017-12-17 17:24] alexellis commented on #236
Thank you for the admin Richard. Any take aways @rgee0?

[2017-12-17 17:25] alexellis commented on #429
@rgee0 why is the proposal closed?

[2017-12-17 17:25] alexellis commented on #439
Code merged, thank you Ken.

[2017-12-17 17:25] #439 closed

[2017-12-17 17:26] alexellis commented on #437
@rgee0 if you'd like to help with this I think it would be a packaging exercise - easy to merge.

[2017-12-17 17:47] rgee0 commented on #429
I closed it because the right course of action would seem to be re-evaluate once the function store implementation has had more thought / design as per @kenfdev's concern.

[2017-12-17 21:30] alexellis commented on #429
That should be done on this issue.

[2017-12-17 21:58] rgee0 commented on #429
On the basis that the initial implementation had no supporting issue, nor a design / discussion so this is the only place for it?

[2017-12-17 22:19] ravikalla opened #443 "Java document is not there"
There are no steps to deploy a Java function

## Expected Behaviour
Document should explaining the deployment steps

## Current Behaviour
There is a simple Java function with Docker image and there are no steps to explain how to deploy it
With the new document, users can easily deploy Java function

[2017-12-18 13:18] nicholasjackson opened #446 "Suggestion: TLS and Mutual Authentication"
Mutual Authentication with TLS is a standard format for securing servers which is implemented by applications such as Docker and Kubernetes.  It allows the securing of endpoints by the server validating that the X509 certificate provided by the client is valid by checking it has been signed by a certificate in its own content trust pool.

Any request to an endpoint which either does not present a

[2017-12-18 13:58] dexterg commented on #320
I am wrinting a function that find an IP address in configuration files (firewall, proxy, bigip etc)
there is a process that download these file with (scp, expect etc.)

That's a good use case for a mount volume fonctionnality no ?

[2017-12-18 19:08] ndarilek opened #447 "Question: Functions from scratch?"
This project looks interesting, and I look forward to making things wih it! One thing I'm a bit confused about is how one goes about building a function from scratch, where a template isn't available. I.e. how would I build a function in Rust? What should my Dockerfile look like? Can I just use the official Rust image and ensure that my binary launches as soon as the container comes up?

I also ga

[2017-12-18 23:14] imikushin commented on #273
Looking forward to see this resolved!

[2017-12-18 23:16] InariTheFox opened #448 "Question: could not access UI"
Using the getting started script (./deploy_stack.ps1) to create the base functions successfully deploys all the stack functions, but when attempting to access the UI on port 8080 the service returns 404. The only thing accessible is Prometheus on port 9090.

This is directly running Docker on Windows, not using through the Ubuntu on Windows Bash Shell.

## Expected Behaviour
The UI should be acces

[2017-12-19 08:59] alexellis commented on #448
Hi @InariTheFox thanks for using OpenFaaS.

We have folks using Docker for Windows including @JockDaRock and @johnmccabe and @itscaro to name a few. I'm not aware of any issues.

Just for reference which part of the documentation told you to checkout `0.6.5` tag? (I want to update it)

I'd try checking out master and redeploying. First of all remove the old stack:

[code]

Might also be worth call

[2017-12-19 09:03] alexellis commented on #447
Hi @ndarilek thanks for using OpenFaaS. We do actually have [a template for Rust](https://github.com/ericstoekl/faas-custom-templates) maintained by @ericstoekl, but I'll point you in the right location. We have answers for the questions you're asking in the documentation.

I'd start by reading the documentation in the TestDrive which explains some of this and the [beginner guides too](https://git

[2017-12-19 09:07] alexellis commented on #443
Hey @ravikalla thank you for using OpenFaaS.

We have a Java base image available here:

https://github.com/openfaas/faas/tree/master/sample-functions/BaseFunctions

You can customise it and add your own code.

We also have a template for building fast Java applications with our AfterBurn technique and another template for Scala which is being built out by Amir K within our community.

I've invite

[2017-12-19 09:29] ganesshkumar commented on #443
Hi @ravikalla.

Amir's java template is available here, [amirkarimi/openfaas-jvm-afterburn-template](https://github.com/amirkarimi/openfaas-jvm-afterburn-template). The template requires the user to create a jar and place it in the function folder.

An example bindings(accepts http requests over stdin from watchdog, parses it and pass it to the java function) for the java function with the watchdo

[2017-12-19 09:33] alexellis commented on #443
Thank you @ganesshkumar

I've also pushed up a simple Java template which can be customised and built-upon. It is not optimised with AfterBurn but seems to offer a good response time.

https://github.com/openfaas-incubator/java-template

Usage:

[code]

[2017-12-19 10:14] stefanprodan commented on #237
Should be covered by #445

[2017-12-19 16:08] InariTheFox commented on #448
I tried master as well with no luck, but to answer your question, the instructions were from the main getting started with Docker Swarm guide (https://github.com/openfaas/faas/blob/master/guide/deployment_swarm.md)

docker service ps func_gateway shows nothing different from the previous information posted originally, but docker service logs func_gateway just shows the following:

func_gateway.1.o

[2017-12-19 17:26] johnmccabe commented on #448
Just ran the script from master on a cleaned Docker install (all images deleted so only pulling fresh) and it works as expected.

@InariTheFox are you sure you don't already have a container running thats bound to `:8080`?

Run `docker ps` and check what port mappings exist for all of your running containers. For example, this is an example of Nginx mapped to port `8080`:

    CONTAINER ID   IMAGE

[2017-12-19 18:28] InariTheFox commented on #448
I feel like such an idiot here. Thanks @johnmccabe ... apparently the National Instruments multisim install (I'm using this on my dev machine) launches two web servers on both port 8080 and 9090, which would explain why the system cannot bind to the ports.

Maybe this is a failing of Docker for not notifying the user when ports cannot be bound to.

Thanks to you both for putting up with my derp mo

[2017-12-19 18:33] johnmccabe commented on #448
One option is to change the bound port in the compose file here - https://github.com/openfaas/faas/blob/master/docker-compose.yml#L7

You'll just need to make sure to point the cli at the gateway on the new port when using it.

Alternatively shut down NI Multisim 😄

[2017-12-19 18:35] johnmccabe commented on #448
Derek close

[2017-12-19 18:35] #448 closed

[2017-12-19 19:19] alexellis commented on #448
Thank you for the assist @johnmccabe and glad we figured it out @InariTheFox - let us know if we can help you again and feel free to join our Slack community. Just email alex@openfaas.com with an intro.

[2017-12-19 19:46] akeshavan opened #449 "Question about Traefik setup error on AWS"
Thanks for this awesome software! I was able to deploy this on AWS very easily, except for getting SSL set up.

## Expected Behaviour

I'm following the Traefik integration instructions to deploy faas on my EC2 micro instance on AWS, and I'm not able to get SSL to work.

## Current Behaviour

The `docker service logs func_traefik` output shows the error

`"Error creating TLS config: Unknown entryp

[2017-12-19 20:50] rorpage opened #450 "Help wanted: Blog post about using OpenFaaS with AKS"
Write a blog post about Azure Container Services with Kubernetes (https://docs.microsoft.com/en-us/azure/aks/)

[2017-12-19 20:51] rorpage commented on #450
Derek add label proposal

[2017-12-19 20:51] rorpage commented on #450
Derek add label: proposal

[2017-12-19 20:54] rorpage commented on #450
Derek assign: me

[2017-12-19 21:07] squillace commented on #450
Hey, speaking for Azure I'd love to help out here. Let me follow up. FWIW, anyone can submit a document at https://github.com/MicrosoftDocs/azure-docs, but as the repo is GIANT I'll be glad to do the lifting here.

[2017-12-19 21:08] rorpage commented on #450
Awesome, thanks @squillace!

[2017-12-19 22:40] alexellis commented on #449
Thank you for using OpenFaaS. This is probably not going to be an issue with our project itself - I can ping the author of this guide but you may need to seek help with the Traefik community. @austinfrey

The guide does need customisations - so please make sure you've done that too. I don't think it's just a case of copy/paste.

[2017-12-19 23:47] akeshavan commented on #449
Thanks! I did the customizations, but removed them from my gist to keep things private. I'll continue hacking away at it.

[2017-12-19 23:59] alexellis commented on #449
Let's see how you get on. Kong and Nginx also work really well.

[2017-12-20 01:12] akeshavan commented on #449
Ha! Even though Kong's directions were longer, it was very simple. This is great!

[2017-12-20 10:55] alexellis commented on #214
@nullseed how far did you get with this? Do you still need more time to complete your changes?

cc/ @stefanprodan we spoke about this yesterday.

[2017-12-20 11:16] stefanprodan commented on #214
I propose to start versioning the API. This way we can ensure backwards compatibility with the CLI.
In the past I've used `go-chi` middleware, it has a nice way of handling API versioning, an example can be found here https://github.com/go-chi/chi/blob/master/_examples/versions/main.go

[2017-12-20 13:34] mitrilmad commented on #263
@viveksyngh I think that aws events (like a S3 operation, triggered cloudwatch metric) can trigger functions on openfaas like a lambda.

[2017-12-20 16:00] ndarilek commented on #447
Hey, thanks for the detailed response!

So I have a bit more clarity now. I didn't realize the stdin/stdout
support was part of watchdog rather than the way things were.

So, by default, a function is just a web server that listens on port
8080? I guess I didn't see that anywhere in the docs I checked. :) Is
that accurate? Should it always listen on 8080, or on the value of some
other port (I.e. o

[2017-12-20 19:19] alexellis commented on #237
@rayhero check out #445! :-)

[2017-12-20 22:03] akeshavan commented on #449
Ok, I think Traefik isn't working because LetsEncrypt doesn't work for an EC2 domain. The error message must be buried somewhere. Since the Kong SSL directions are for a self-signed certificate, it works. If using Traefik w/ EC2, make sure you have a domain name first.

[2017-12-20 22:03] #449 closed

[2017-12-20 22:42] alexellis commented on #449
Really glad you got to the bottom of this. It'd be great if you could submit a brief PR to the guide along these lines?

I also wanted to invite you to join our Slack community. It'd be great to speak to you more. Just email alex@openfaas.com - hope to speak soon.

Alex

[2017-12-20 22:43] alexellis commented on #450
@squillace would be so awesome to get your help with this ⭐️

[2017-12-20 22:44] alexellis commented on #446
Thanks for taking time to write up your proposal.

Is this something Istio or the envoy proxy can provide transparently at the infrastructure level?

[2017-12-21 02:16] squillace commented on #450
I'm starting to have a look at this. I'll post a doc in draft in my repo for comments over the next week.

[2017-12-21 09:04] alexellis opened #454 "Backlog: Move Swarm code into its own provider faas-swarm"
I'm moving Docker Swarm out of the API Gateway into faas-swarm.

The reason is so that each provider follows the same model, we will end up with this for every provider:

[code]

Currently we have the above for providers but swarm is orthogonal:

[code]

https://github.com/openfaas/faas-swarm

It will also mean that anyone who needs to vendor the gateway gets a much leaner dependency. Most people

[2017-12-21 19:28] willhallonline opened #455 "Use #!/bin/sh rather than #!/bin/bash for compatibility with other shell environments"
We should use #!/bin/sh rather than #!/bin/bash for greater compatibility with other shell environments. Generally speaking #!/bin/sh will be more operable within different environments.

## Possible Solution
Replace #!/bin/bash with #!/bin/sh except in situations where bash is **required**. Which I can't see in the current *.sh files.

## Context
Generally, I have been running a whole bunch of th

[2017-12-21 19:37] willhallonline opened #457 "WORKDIR lower case inside ./contrib/prometheus/Dockerfile"
Line 3. It should be UPPERCASE. Simple.

I will submit a pull request if required, but probably not required ;-)

[2017-12-21 20:14] nicholasjackson commented on #446
Good question, let me look into that tomorrow.

[2017-12-21 20:34] alexellis opened #458 "Remove non-async stack option"
Having two options for deployment was necessary while testing / stabilising the NATS Streaming integration. It's now stable and running in colorisebot we can simplify the setup by just having an async stack option.

## Expected Behaviour

deploy_stack.sh is only deployment method

## Current Behaviour

deploy_stack.sh is only deployment method
deploy_extended.sh is alternative deployment method

#

[2017-12-24 17:02] nozzlegear opened #461 "Watchdog docs: marshal_requests should be marshal_request"
Bumped into this just now trying to get the watchdog to marshal my requests to JSON. The watchdog docs tell you to use `marshal_requests` env var, [but the `Read` function is looking for `marshal_request`](https://github.com/openfaas/faas/blob/6199c61178bc34a09d99a2c9a23b631c703deacc/watchdog/readconfig.go#L78). I was going to submit a pull request but since this is just a typo the contribution gu

[2017-12-27 00:56] BurtonR commented on #447
Hi @ndarilek, the latest watchdog/gateway _does_ supprt `GET` requests. Make sure you update your cli and Docker images to take advantage of the latest updates. It's a fast moving repo 😄

Also, the port `8080` is defined as environment variables for the gateway and watchdog. You can change them to whatever you'd like by mapping the ports in the `docker-compose.yml` file
as an example:
[code]

As f

[2017-12-27 02:26] dvdmuckle commented on #429
Now that the function store has been merged, I believe this issue should be reopened.

[2017-12-27 13:41] ndarilek commented on #447
You're right, I was using an old binary. I'd copy-pasted the Rust template Dockerfile into my own, and it used 0.6.4. Updated that, and now things work as expected. Thanks!

[2017-12-27 13:41] #447 closed

[2017-12-28 09:37] stefanprodan opened #462 "Proposal: Migrate all OpenFaaS projects to dep vendoring"
Use [dep](https://github.com/golang/dep) project wide.

## Projects

- [x] openfaas/faas
- [x] openfaas/faas-swarm
- [ ] openfaas/faas-netes
- [x] openfaas/faas-cli
- [x] openfaas/faas-provider
- [x] openfaas/nats-queue-worker
- [x] openfaas-incubator/faas-o6s

[2017-12-28 13:53] BurtonR commented on #461
@nozzlegear we request that issues be opened so that we can track problems/changes easier and prevent a bunch of unsolicited PRs from popping up without warning.

Please do open a PR so we can get this corrected. Don't forget to sign your commit :)

[2017-12-28 13:56] alexellis commented on #461
Can I ask why you want to marshal the requests? As far as I know nobody is using this and headers are already available through environment.

[2017-12-28 14:07] BurtonR commented on #443
Derek add label: question

[2017-12-28 14:19] nozzlegear commented on #461
@alexellis Sure! I'm using watchdog for a couple F# functions, I was marshalling the requests to see if there were some common properties that would always be passed to the function that I could then turn into a real F# type for deserializing. I'm not opposed to using the environment variables, it's just something that I would consider "weird" in a dotnet application and would rather have it passe

[2017-12-28 14:33] BurtonR commented on #108
@alexellis Is this still needing work? It's been a while, and the [faas-netes PR](https://github.com/openfaas/faas-netes/pull/33) has been merged.

Not sure if either @InTheCloudDan or @elliott-beach  are still interested in getting this over the line (assuming there's still something left to do). If they're not, I could dive in and try to close this out

[2017-12-28 14:36] alexellis commented on #108
I've added a health endpoint but it's currently Judy returning OK which is slightly better than not having one. I'll close the issue since I think it has been resolved now

[2017-12-28 14:36] #108 closed

[2017-12-28 14:38] stefanprodan commented on #108
The gateway needs a `healthz` endpoint so we can avoid hacks like this one https://github.com/stefanprodan/openfaas-gke/blob/master/openfaas-tls/caddy-cfg.yaml#L12

Without this endpoint there is not possible to expose the gateway via a K8S Ingress controller.

[2017-12-28 14:38] alexellis commented on #461
That's because it was an experimental feature which has not kept up with the default way of doing things. It can adapt and change but this type you're mentioning would be better populated by the entry point then sent into the F# handler. Look at through OpenFaaS/templates repo for inspiration. If you could join our Slack Community we can discuss more in the contributors channel.

To join email ale

[2017-12-28 14:38] alexellis commented on #461
By all means also PR the docs / README for the typo.

[2017-12-28 15:02] BurtonR commented on #175
@kinghuang Is this proposal now possible thanks to these PRs?
* CLI - [Add label support](https://github.com/openfaas/faas-cli/pull/184)
* FaaS (Swarm) - [Add label support](https://github.com/openfaas/faas/pull/325)
* Faas-netes - [Add custom labels](https://github.com/openfaas/faas-netes/pull/58)

If there's something else that's needed, how about closing this and opening a new issue with the sp

[2017-12-28 15:27] BurtonR commented on #185
@alexellis, @johnmccabe, @rgee0, and @ericstoekl The update feature has been in the wild for a couple of months now. Do you think this still needs "testing"?

If so, what sorts of additional testing needs done?

[2017-12-28 15:36] #185 closed

[2017-12-28 15:41] alexellis commented on #185
Can be closed now. This is live.

[2017-12-28 17:06] nozzlegear commented on #461
Thanks! I've already switched over to environment variables in the couple functions I've built, but I'll send a PR soon since this was confusing for me when reading the current docs.

[2017-12-28 19:03] alexellis commented on #462
We'll do the `faas` gateway with the changes in #460.

I don't think the watchdog vendors packages yet or of-watchdog.  (so we could take them off the list)

[2017-12-28 19:04] #458 closed

[2017-12-28 19:04] alexellis commented on #458
Done for x86_64 - armhf / arm64 pending.

[2017-12-28 19:24] alexellis commented on #462
@BurtonR want to test out derek here to add the label of `proposal`?

[2017-12-28 19:24] BurtonR commented on #462
Derek add label: proposal

[2017-12-28 19:37] alexellis commented on #267
Derek set title: testing for demo

[2017-12-28 19:38] alexellis commented on #267
Derek reopen

[2017-12-28 19:38] alexellis commented on #267
Derek close

[2017-12-28 19:38] #267 closed

[2017-12-28 19:38] alexellis commented on #267
@rgee0 looks good.

[2017-12-29 03:37] ericstoekl commented on #462
Can we get brief instructions on how to convert the projects to use `dep` for vendoring? Something like, delete the `vendor/` directory, run `dep init`, then run `dep add` on each package that is still missing? Or is there more to it?

[2017-12-29 09:23] stefanprodan commented on #462
@ericstoekl `dep init` should be enough but in same cases the package doesn't have a sem ver release or the release is very old. In these cases you can override the revision git sha to the Gopkg.toml, here is an [example](https://github.com/stefanprodan/faas-o6s/blob/master/Gopkg.toml#L15).

[2017-12-29 09:26] stefanprodan commented on #462
One more thing, the `Gopkg.toml` should contain only the imported packages from your code, `dep` will add the inner dependencies to `Gopkg.lock` when you run `dep ensure`.

[2017-12-29 09:33] alexellis commented on #462
So it's just like `vndr` - we do an `init` up front then later on do an `ensure -add` or `ensure -update` to add/maintain dependencies. I've just updated the contribution guide with a link to the dep homepage.

https://github.com/golang/dep

[2017-12-29 13:31] BurtonR commented on #461
Derek add label: documentation

[2017-12-29 13:36] BurtonR commented on #238
Bumping this as it's a common question when I do demonstrations of OpenFaaS to the community.

@wonderxboy or @alexellis has any progress been made on this? I'd love to help if I can 😄

[2017-12-29 13:52] alexellis commented on #238
The target audience for running OpenFaaS is not a cloud provider, that's why this isn't top priority on the roadmap. People often ask about this because their only frame or reference is a cloud provider who has massive multi-tenancy issues. It's much more useful for them than for a small-to-medium team running functions alongside their existing deployments.

I have a PoC but it's dependent on some

[2017-12-29 13:56] #461 closed

[2017-12-29 13:57] alexellis commented on #461
Changes made in README file for watchdog. Thanks for pointing out.

[2017-12-29 14:07] BurtonR commented on #238
I agree that the target audience isn't a cloud provider, but rather the audience may be using a cloud provider and being able to scale back to 0 could save a lot of charges. At least that's the response from my company when I pitched it to them.

When those other 2 issues do get resolved (sounds like it could be soon) I'd like to lend a hand in getting this going again.

[2017-12-29 14:18] alexellis commented on #238
It's the response from folks who use cloud functions as a point of reference. Happy to discuss more on Slack.

[2017-12-30 04:38] mysmartbus opened #465 "Help wanted with Raspberry Pi and Prometheus"
## Expected Behaviour
When running `docker service ps --no-trunc func_prometheus` and `docker service ps --no-trunc func_alertmanager`, the desired state is supposed to be `running`.

## Current Behaviour
Running `docker service ps --no-trunc func_prometheus` and `docker service ps --no-trunc func_alertmanager` lists both of them as `Shutdown`.

Error message given is `invalid mount config for typ

[2017-12-30 06:39] alexellis commented on #465
Derek set title: Help wanted with Raspberry Pi and Prometheus

[2017-12-30 06:45] alexellis commented on #465
That's a lot of managers for a cluster of 2 nodes. Try with one manager or clone the code to the same place on each manager to satisfy the mount. OpenFaaS doesn't currently use bind mounting for the regular PC version.

[2017-12-30 15:23] gaberger opened #466 "Spelling error in faas/watchdog/README.MD"
Spelling error:  s/appliaction/application

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a co

[2017-12-30 19:22] mysmartbus commented on #465
Solved the problem.

[2017-12-30 19:22] #465 closed

[2017-12-30 20:43] alexellis commented on #465
Great to hear that 👍 We're making some changes to make this better for ARM too. Please get in touch if you'd like more support or to join our Slack Community.

[2017-12-30 20:45] alexellis commented on #466
Thank you for this 👍

[2017-12-30 20:45] #466 closed

[2017-12-31 16:17] ndarilek opened #467 "Question: How can I set custom headers on function responses?"
It would be nice if functions could somehow override returned headers on a per-instance basis.

## Expected Behaviour

I would like to override the returned content-type of a function based on the incoming content-type. If I need to support multiple content-types, and the only difference in a function that returns JSON vs. one that returns XML is 1-2 lines, having the ability to set the content-ty

[2018-01-01 02:57] Th0masL opened #468 "Question: Can a function be made ephemeral?"
I'm new to OpenFaas, and I've been playing with it for couple of days. I'm looking for a way to kill/renew the function/containers after it has been used once.

## Expected Behaviour
Everytime a function is called, a new container should be deployed for this function, then do the job, and then get killed. If there's launch delay, 1 or couple containers could be running in advance to limit the laun

[2018-01-01 10:04] stefanprodan commented on #468
This could be covered by scaling down to zero #238

[2018-01-01 11:33] alexellis commented on #468
@sappounet what is the use-case for having the container die for every request? You realise this would be very slow right? What level of traffic are you expecting?

We have plans to introduce an option for a completely read-only filesystem option - I've tested it as a PoC and it works well. I would have thought that would satisfy your constraint.

[2018-01-01 11:46] alexellis commented on #467
This would be useful, however it is not an easy problem to solve.

If I understand this right by "per instance" meaning "per function" then you can already override `Content-Type` etc through watchdog environmental variables.

We have some work in the AfterBurn mode which may allow for custom headers to be set but for the time being unless priorities change or you are willing to fund the developme

[2018-01-01 11:47] alexellis commented on #457
Cheers.. updated.

[2018-01-01 11:47] #457 closed

[2018-01-01 11:47] #455 closed

[2018-01-01 11:47] alexellis commented on #455
Thanks Will.

[2018-01-01 12:19] sappounet commented on #468
Happy new year guys ! Thanks for your quick answers :)

I'm not sure I've been clear, nor if I'm using OpenFaas properly or not, so I'm open to any solution around this question :)

The point of the process of spinning a new container all the time being slow is quite true, which is why by setting the minimum number of nodes to, let's say 5 ( labels: com.openfaas.scale.min: "5"), Docker will ensure

[2018-01-01 13:05] alexellis commented on #468
Can you say why a read only filesystem is not suitable?

[2018-01-01 16:44] Th0masL commented on #468
It would eventually behave pretty much the same way, but the Information Security Manager of my current company would say that as long as the container is running, we can extract data from the previous processes by accessing the RAM.

Yeah, I know, we have crazy security restrictions when working in the financial market and you have to be PCI compliant / audited :)

Also, this would permit to recr

[2018-01-01 16:53] alexellis commented on #468
I'm not sure I fully understand all the aspects of PCI compliance which mean that a process cannot handle two requests independently. Surely this is what all web-servers, monoliths and microservices do today in the industry? What examples do you have of how you process credit card data in other systems?

Here are a couple of posts I found on PCI / DSS:
* https://www.schellman.com/blog/docker-pci-c

[2018-01-01 17:11] Th0masL commented on #468
The thing behind security is that we always tend to do our best with what we have (technologically speaking).

I could tell you that all our servers are fully up-to-date, that would not be true, and I'm pretty sure that most of the people who has been using Linux for a while had at least one time to deal with the fact that some monoliths are soooo old and the code is soooo specific to the current

[2018-01-03 17:22] rimusz opened #469 "Document: use of Kubernetes secrets"
Document how to use Kubernetes secrets in functions and add it to https://github.com/openfaas/faas/blob/master/guide/README.md

[2018-01-03 18:51] JockDaRock commented on #468
@Th0masL Just curious how your testing went with deleting the lock file?

[2018-01-03 18:56] JockDaRock commented on #454
Tested this on Mac and Play-With-Docker last night.  Seems to be working fine so far.

Would like to test out several more functions.  But this seems to be working great so far.

[2018-01-03 20:01] dghadi1 opened #470 "Feature Request: CQRS, SAGAs and Event Sourcing as a director function pattern modeled as state machines in yml"
## Expected Behavior
- Model the behavior of [director functions](https://github.com/openfaas/faas/blob/006299c9d848da4071258de9ad1c5d7dae4d37f3/guide/chaining_functions.md) (acting as orchestrators or transactors) as a series of commands, handlers, events and states that can allow for complex enterprise use-cases where handlers can be simple functions combined together by modelling a cohesive bus

[2018-01-03 20:39] alexellis commented on #470
Hi thanks for your interest in the project. What you're asking for here is a huge and complex piece of work. Maybe we need to start at the beginning? Could you introduce yourself and give some context about the proposal and usecase?

[2018-01-04 04:19] dghadi1 commented on #470
Thanks for your quick reply

I'm a devops/microservices engineer consulting for a large enterprise running hundreds of micro services. We have a custom engineered platform which has a workflow model as I described above. I'm primarily skilled in JVM technologies but interested to try my hand in golang (which I'm still a beginner)

## more context and use case

I'm looking to evaluate/pilot OpenFaa

[2018-01-04 16:00] kinghuang commented on #175
@alexellis @BurtonR Sorry, I've been away for a while. Will try this out today or tomorrow.

[2018-01-04 16:19] alexellis commented on #175
Good to hear from you. Please also make use of Slack

[2018-01-05 00:02] Th0masL commented on #468
Hey guys !

I finally had some time to test more what happen when we simply killing the lock file ( /tmp/.lock ) at the end of the function.

We have to keep in mind that that's not exactly an expected behavior (to kill the lock file on purpose), but more some kind of "test" or "quick hack" to see if we can make a container/function ephemeral.

And for a "quick hack", it seems to be working quite

[2018-01-05 04:17] ericstoekl commented on #469
Derek add label: proposal

[2018-01-05 04:17] ericstoekl commented on #469
This would be a great addition to the auto-generated documentation site.

[2018-01-05 13:58] alexellis commented on #468
You should not delete the lock file. This is a health-check mechanism for recovering from a bad container / application crash.

One container per request is not a supported use-case but as I've said I think a root r/o filesystem will satisfy the constraints of your security officer. If not then perhaps we should have a call together rather than going by conjecture.

[2018-01-06 09:46] alexellis commented on #446
@nicholasjackson I believe you've had a look into this already re: envoy. I had a chat with @squillace about TLS too.

[2018-01-08 00:53] jrevillas opened #471 "UI: setting environment variables in manual deployments"
I want to add support for environment variables while deploying new functions through the UI. This operation is currently supported by API Gateway and `faas-cli`, but the UI needs to be updated in order to handle these dynamic inputs. And since this is a common task, here you have some different approaches for the same "UX challenge".

## Heroku

* Blankslate with a link to documentation and the f

[2018-01-09 12:43] alexellis commented on #469
As the generated site is WIP I'd suggest adding this as a footnote to the Kubernetes deployment guide in the faas/guide folder.

[2018-01-09 12:44] alexellis commented on #470
Have you got examples of your Akka / YAML services you can share here?

[2018-01-10 02:54] lzfxxx opened #473 "Proposal: Docs for watchdog streaming mode"
The description of the streaming mode is only available in [https://github.com/openfaas-incubator/of-watchdog](url), but docs for how to use it with the main repo and examples are not available.

## Expected Behaviour
Expected the docs for using the watchdog in streaming mode and example code for doing the streaming with FaaS.

Code written in python is personally preferred :P

[2018-01-10 03:16] Reasno commented on #416
I think cron format is good enough, but cron by it self is not. The ability to retry, reschedule on node failure, and scale on demand is almost always needed.

[2018-01-10 22:17] nicholasjackson commented on #446
Yeah, actually Its looked a better option, but it feels like overkill, I need to do a POC rather than just groking the docks

[2018-01-11 10:40] amiryal opened #475 "Use cleaner image in guide/backends.md"
Suggestion: in `guide/backends.md`, use the following image instead of the one below it:
![](https://imgur.com/download/RXG4N1b)

![](https://camo.githubusercontent.com/c250e0dc975e50b6fae3fc84ba5cdc0274bc305c/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f44466837692d5a586b41415a6b77342e6a70673a6c61726765)

[2018-01-11 12:18] alexellis commented on #475
Looks good to me. Thank you Amir.

[2018-01-11 21:14] paphillon opened #477 "Issue with Prometheus 2.0"
I deployed faas-netes with an existing prometheus 2.0 on k8s cluster. Upon checking the log files of gateway I see the following errors

"Error querying Prometheus API: invalid character 'p' after top-level value"

Other than the above error, I am able to deploy sample functions and invoke them.

## Expected Behaviour
No Errors

## Current Behaviour
Gateway unable to get metrics from Prometheus

#

[2018-01-12 18:35] rorpage opened #478 "Add minimal deploy script and Docker Compose files"
As a frequent user of the project, setting up a new instance that includes all of the samples functions is redundant.

## Expected Behaviour
A user issues a command such as `./deploy_stack_minimal.sh` and only the necessary functions are deployed (gateway, monitoring, etc.)

## Current Behaviour
A user can issue a `./deploy_stack.sh` but then half a dozen or so sample functions are included.

## P

[2018-01-12 18:35] rorpage commented on #478
Derek add tag: enhancement

[2018-01-12 18:36] rorpage commented on #478
Derek add label: enhancement

[2018-01-12 18:40] rorpage commented on #478
Derek add label: skill/beginner

[2018-01-13 03:22] Toggi3 commented on #320
This is the only missing feature that prevented me from deploying this system for functions that handle batches of file pulls/pushes, translations, scraping.  It's really an amazing framework, but I have to often handle very large pipelines of handling files gathered from various protocols due to various obligations from the people we process data for.  A serverless function system like this with

[2018-01-13 07:41] alexellis commented on #320
Hi I'd like to know more about your usecase. Do you have any specifics?
Functions are not supposed to be stateful - it breaks the design, however I think you should try minio object storage for your storage - makes sense to explore the recommended approach for the project/architecture.

[2018-01-13 07:41] alexellis commented on #320
Hi I'd like to know more about your usecase. Do you have any specifics?
Functions are not supposed to be stateful - it breaks the design, however I think you should try minio object storage for your storage - makes sense to explore the recommended approach for the project/architecture.

[2018-01-13 09:19] nicholasjackson opened #479 "Proposal: Form a consistent approach to common attributes for constraints and limits"
The ability to restrict the placement of a function based upon attributes such as "name" or cpu architecture is a very useful feature in OpenFaaS allowing it to take advantage of multi-architecture scheduler clusters.

However all of the schedulers implement a custom naming convention for describing these  features and while they are generally based on a key/value  convention the differences betwe

[2018-01-13 09:23] alexellis commented on #479
Thanks for writing this up Nic. Having a consistent experience is going to be beneficial in the long run - we just need to check what the "cost" of that would be. (For instance the Kubernetes parsing code is huge.)

I'd like to make sure we have limits and constraints fully working, finished and tested in Swarm and Kubernetes before working on this.

[2018-01-13 09:26] alexellis commented on #477
Prometheus 2.0 is not supported for faas-netes yet. You should deploy separately the version we recommend.

We will be moving faas-netes over to Prometheus 2.0 - you can see the work already in place for the Swarm implementation - https://github.com/openfaas/faas/pull/460

I'll close this issue as invalid and but please let me know how you go. There is no reason why this would affect running a PoC

[2018-01-13 09:30] nicholasjackson commented on #479
Currently there is no implementation for Nomad which I need to build so I can filter functions for CPU arch. I am happy to make a first pass on this and create an example tokenizer, using this example for a test bed.  If the implementation looks good and once existing Swarm and K8s is settled I am happy to help out with the other schedulers.

Also happy to use the Nomad implementation a working pr

[2018-01-13 09:37] alexellis commented on #479
What if we could support both?

[2018-01-13 11:23] paphillon commented on #477
@alexellis Thanks for the reply. I was able to successfully validate by using functions/gateway:0.6.15-non-root version of the gateway.

[2018-01-13 13:50] rgee0 commented on #443
@ravikalla how have the responses helped with your issue?  Are there any remaining items on this issue that you would like information on?

[2018-01-13 14:03] rgee0 commented on #193
Derek close: No movement on this one for ~ 4 months and I think @ericstoekl's understanding has moved along greatly since this issue was created.

[2018-01-13 14:03] #193 closed

[2018-01-13 14:04] alexellis commented on #193
Thanks for helping Richard

[2018-01-13 14:08] rgee0 commented on #479
Derek set title: Proposal: Form a consistent approach to common attributes for constraints and limits

[2018-01-13 14:09] rgee0 commented on #479
Derek add label: Proposal

[2018-01-13 14:12] rgee0 commented on #478
@rorpage I'd suggest that rather than have multiple `.sh` scripts for different deployment states we should aim to have one `deploy.sh` that accepts arguments such as `minimal`, `with samples`, `extended`.  One of the options should be the default - I think there was mention at some point that extended might become that.

[2018-01-13 14:18] rgee0 commented on #477
Derek close: @paphillon thank you for your feedback.  From you latest comment I understand your issue to be resolved.  Please look out for upcoming changes in this area (#460) and of course feel free to raise further questions should any arise.

[2018-01-13 14:18] #477 closed

[2018-01-13 15:00] alexellis commented on #477
@paphillon you should be able to use the "0.6.16" tag

[2018-01-13 15:20] nicholasjackson commented on #479
I am not against the k8s format, however if it is adopted I would suggest it is the only format, I think specific attributes per scheduler is a little confusing.  The adaption for native format could be dealt with by the provider.

For example, Swarm uses Nano cpus, Nomad and K8s use mili cpu however in k8s you can also specify decimal instances of a CPU.  I think the later example even confuses m

[2018-01-13 17:26] alexellis opened #481 "Function Store - bubble up errors."
## Expected Behaviour

If an error occurs while trying to deploy a function from the Function Store, the manual page should be focused upon detection/display of the error.

<img width="1121" alt="screen shot 2018-01-13 at 17 23 47" src="https://user-images.githubusercontent.com/6358735/34908382-af9b9f8e-f886-11e7-8c8e-cb99ca91f018.png">

## Current Behaviour

You get no feedback and have to work o

[2018-01-13 17:44] alexellis opened #482 "Online contributors meeting 1900 GMT - 14th Jan 2018"
Please come and join us for the contributors meeting. If you're not on the invite or slack then message me alex@openfaas.com

The call will be on Zoom. See you there! 👍 💯

[2018-01-13 17:55] #475 closed

[2018-01-14 00:03] Toggi3 commented on #320
So, I'll give you one such function, say you have to transcode/transcribe a proprietary audio format designed for storing call center interactions.  You need to extract from it the audio payload, make it into something that can be understood by a voice transcription engine, as well as extract the other data and store it in a way that it can be digested for its analytics value, and place both of th

[2018-01-14 00:38] alshabib commented on #320
I think that in general the advantage of such a feature would not be to
allow a function to store state but rather enable a function to process
larger data volumes. Of course, it would be hard to prevent a use from
doing the former, but I guess you can only put up so many guard rails.

On January 13, 2018 at 6:03:15 PM, Toggi3 (notifications@github.com) wrote:

[2018-01-14 01:22] Toggi3 commented on #320
I ask that you give us just enough rope to hang ourselves if we so choose.  We understand the spriit of your project, we just want a way out of its limitations that is easy for us to use.

[2018-01-14 02:08] alshabib commented on #320
+1

--
Ali Al-Shabibi

On January 13, 2018 at 7:22:08 PM, Toggi3 (notifications@github.com) wrote:

[2018-01-14 10:26] alexellis opened #483 "Sample function idea - OCR"
Function store idea - Sample function idea - OCR

Would anyone like to dig into this?

A sample function for the store that takes a URL and returns characters recognised via OCR?

Bonus points:
* works on ARM
* can accept RAW file if passed with query-string

[2018-01-14 16:47] viveksyngh commented on #483
I will work on this one.

[2018-01-15 03:22] Toggi3 commented on #320
If you have a different idea for a way out of its limits, that is also very satisfiable.  I really am yearning for something that is basically this project plus volume and network defining functionality.

[2018-01-17 11:03] dungeonmaster18 commented on #478
Hey @rgee0, by minimal you mean no sample functions and by with_sample you mean functions included. If I am wrong till here please correct me. Now I couldn't understand what did you mean by extended?

[2018-01-17 12:20] dungeonmaster18 commented on #462
If anyone is not working on migrating faas-cli I would like to take that.

[2018-01-17 13:18] alexellis commented on #462
Please feel free @dungeonmaster18 - just raise the PR without the vendor folder 👍

[2018-01-17 13:31] BurtonR commented on #482
Derek close

[2018-01-17 13:31] #482 closed

[2018-01-17 19:16] rgee0 commented on #478
@dungeonmaster18 you'll notice that it was @rorpage introduced the idea of minimal.  my interpretation of minimal was an install with the bare minimum required for OpenFaaS to function.  With_samples would effectively be what was the standard install which included samples and not the async elements. Extended existed previously as a means to include the async components but now it has become the s

[2018-01-20 06:23] dungeonmaster18 commented on #462
Hey @stefanprodan migration of faas-cli to dep has been merged. Please mark it done in the description of this issue.

[2018-01-20 08:58] stefanprodan commented on #462
Done. Thanks @dungeonmaster18

[2018-01-20 09:06] stefanprodan commented on #462
@dungeonmaster18 do you want to go for nats-queue-worker next?

[2018-01-20 09:10] dungeonmaster18 commented on #462
Yes, I will create the pr by today. Also I was going through faas-netes it also seems easy but I am not sure due to it's large dependency on k8s. Has anybody tried migrating faas-netes? @stefanprodan

[2018-01-20 09:15] stefanprodan commented on #462
I think we will do faas-netes when porting the code for faas-o6s. I would also wait for the gateway to be merged with the new faas-swarm.

[2018-01-20 09:29] alexellis commented on #462
Hey it doesn't hurt to do this migrating to `dep` now, but we will have to re-vendor again when #460 is complete and the gateway shrinks down to a much smaller since. #460 removes Docker swarm from the gateway.

[2018-01-20 09:43] dungeonmaster18 commented on #462
Okay I will only work on nats-queue-worker.

[2018-01-20 21:31] dungeonmaster18 commented on #462
Hey @stefanprodan mark nats-queue-worker done. Also I seen certify-incubator which also needs to move to dep. But I was thinking of keeping it for good-first-issue.

[2018-01-21 11:52] dungeonmaster18 commented on #478
**Proposal**
* Let's add a minimal docker-compose file without any sample functions.
* Then the setup will change from ```./deploy-stack.sh``` to ```./deploy-stack.sh minimal``` and ```./deploy-stack.sh with_sample```. Same goes to arm64 and armhf as well.

CC / @alexellis @rgee0 for approval. I can work on this if it gets approved by you guys.

[2018-01-21 12:07] rorpage commented on #478
Are you thinking you'd have it default to `extended` then if no args are passed in?

[2018-01-21 12:08] dungeonmaster18 commented on #478
for no arguments I was thinking of let's install all the samples.

[2018-01-21 21:36] alexellis opened #484 "Idea: Browse Function Store outside of OpenFaaS UI"
Someone on Twitter suggested browsing the functions in the store while outside of OpenFaaS.

Possible solution:

Generate something for GitHub pages from our JSON file.

[2018-01-22 09:15] alexellis commented on #320
Using object storage is simple and fast. I'd encourage anyone on this thread to try our recommended approach before pushing back and insisting on volume mounting.

Minio / Ceph are both super easy to setup on Docker or Kubernetes:

https://minio.io

Once you have the daemon running you can access it in the cluster and create buckets / push/fetch objects via a client library.

Here's the Python lib

[2018-01-22 15:32] itscaro commented on #478
Up vote for removing all samples

[2018-01-22 15:36] rorpage commented on #478
Same. Consistency sounds good to me.

[2018-01-22 20:04] rgee0 commented on #478
OK, so it reads to me like we are saying that the default mode of deployment should be standardised with sample functions pulled out of the deployments.  To be consistent with the project value of portability this should provide the same experience across hardware types too (currently there are 2 yaml files for `armhf`).  The deploy script should also be merged to correctly deploy based on hardwar

[2018-01-23 06:11] dungeonmaster18 opened #485 "Proposal: Add try with PWD button in the readme."
**Description** :

So the idea behind this is making the testing of openfaas by new users simple, so that we can draw more people to openfaas and make their first step simple.

Also if things goes well we can also have this on the openfaas website and docs site(WIP) in the near future.

I would love to have a discussion on this.

Cc / @alexellis

[2018-01-23 19:48] alexellis commented on #485
Derek add label: proposal

[2018-01-24 01:13] Toggi3 commented on #320
It's an appealing solution, and I appreciate it for sure, the only problem with it is the preexisting infrastructure and scripts that depend on a volume being there.  I will definitely take a look in any case.

[2018-01-24 08:32] #485 closed

[2018-01-24 09:58] WangSZ opened #487 "Question about timeouts"
## Demo
Dockerfile
[code]
`Handler.java`
[code]

[code]
## Expected Behaviour

`time curl -d "hi" -H "x-sleep: 10000" http://gateway.openfaas:31112/function/java-sleep`should return "hi"
## Current Behaviour

but `curl: (52) Empty reply from server`

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):
[code]
* Are you using Docker Swarm or Kubernetes (FaaS-netes)?
FaaS-n

[2018-01-24 10:18] alexellis commented on #487
Hi @WangSZ thank you for using OpenFaaS.

You will need to consult the documentation for timeouts as from reading your example above I believe you have not set the timeouts correctly where required:

The follow are required, but you've only updated one of those:

- [ ] gateway
- [ ] faas-netesd
- [x] function

https://github.com/openfaas/faas/blob/e7b9f5fec6b8b9caa946af3d07f651cf174f5164/guide/tro

[2018-01-24 10:18] alexellis commented on #487
Derek edit title: Question about timeouts

[2018-01-24 10:18] alexellis commented on #487
Derek add label: question

[2018-01-24 10:21] WangSZ commented on #487
@alexellis  Got it. I`ll try again. Thanks very much !

[2018-01-24 10:33] WangSZ commented on #487
It works ! Thanks again :-D

[2018-01-24 10:33] #487 closed

[2018-01-24 10:39] alexellis commented on #487
Great! if you'd like to join our slack community just send a quick email to alex@openfaas.com - we also have a Java template in testing so you can do `faas new --lang java test-fn` for instance.

[2018-01-24 10:50] rorpage commented on #484
See also [#13](https://github.com/openfaas/store/issues/13) in the `store` repo

[2018-01-24 17:18] dungeonmaster18 commented on #481
I would like to add another suggestion to this i.e why don't we just disable the function if it's already deployed. By disable I mean either it shouldn't be there in store once deployed or deploy button should be disabled(non clickable). Please your thoughts on this.

cc / @alexellis @kenfdev @LucasRoesler

[2018-01-24 17:20] alexellis commented on #481
We have to switch if there is an error deploying so that is going to be needed whatever we do. The current experience leaves the user confused.

[2018-01-24 17:28] dungeonmaster18 commented on #481
True. But I was thinking of adding a filter inside a store that filters already imported function from the store functions. if we add this then we no longer worry about user trying to deploy same function twice. then too we have to refactor error msg to make it more user friendly in the manual tab.

[2018-01-25 08:20] dayuoba opened #488 "Question: can functions be updated by deploying again?"
when i change the handler.js, then build, push, deploy. invoke it, the previous func was invoked.i don't know if miss something
## Expected Behaviour
i think when i modify codes,rebuild and deploy it, it should be updated by faas-server

[2018-01-25 08:20] #483 closed

[2018-01-25 10:40] LucasRoesler commented on #481
@dungeonmaster18  Is there no option to customize a function from the store, e.g. env variables? what about versions in the store? Not sure we want to actually prevent duplicate deploys unless they are exactly the same function with the same config.

[2018-01-25 15:10] RawSanj commented on #320
@alexellis So if I deploy Minio on K8S and have NFS as PersistentVoume for Minio and then store files in Minio from Functions, I will essentially be able to access NFS from the Functions.

Is that correct? And would it be a good idea to do this?

[2018-01-25 15:17] alexellis commented on #320
@raw I'm not sure you've read the blog?

[2018-01-25 15:19] alexellis commented on #320
@Toggi3 If you have a binary that reads a file from the filesystem, then copy the file with Minio's `mc` command into the right location, do your work then use `mc cp` to copy it where it belongs are that. From your description I can't see any hard dependency on volumes.

[2018-01-25 15:39] itscaro commented on #488
what do you choose for `image:` in `stack.yml`?

[2018-01-25 15:40] RawSanj commented on #320
@alexellis I'm sorry, which blog are you talking about? The Getting started OpenFaas on minikube?
Or is there any other blog for Volumes in OpenFaaS?

[2018-01-25 16:06] alexellis commented on #320
https://blog.alexellis.io/openfaas-storage-for-your-functions/

[2018-01-25 16:23] Toggi3 commented on #320
What if that thing is a gpg encrypted archive that is 10GB that has to be decrypted then untar'd, dumps out a ton of proprietary audio files from a call interaction system that have to be transcribed into wav by another process and stored back on the volume for another process to pick up?

I have to first wait for a copy operation from s3, do my operations, then copy it back?  Too much time.

[2018-01-25 16:55] alexellis commented on #488
@dayuoba yes your function will be updated when you deploy a second time providing you have re-built it and re-pushed it and re-deployed it.

Please can you fill out the whole issue template which we provide for your benefit and ours.

[2018-01-25 16:57] alexellis commented on #481
Would either of you be able to do the UI work to focus the error message if it's produced by the UI pop-up?

[2018-01-25 17:15] alexellis commented on #320
@Toggi3 you'd have the same problem(s)/issue(s) with an underlying NFS filesystem. Moving a 10GB file around on the network is a very specialist problem.

[2018-01-25 17:42] Toggi3 commented on #320
Over the weekend I might try to do as you suggest and compare performance.  I agree I have a very specialist problem, for which I have been seeking out specialist solutions...

[2018-01-25 23:42] kenfdev commented on #481
Switching to the manual tab on deployment error?
With an error toastr (or was there already a toastr)
I agree with Lucas that we should be able to deploy multiple functions with different names and versions.
Let me see if I could quickly prototype it.

[2018-01-26 00:40] itscaro commented on #488
@dayuoba Could you try the following command?
[code]

[2018-01-26 07:38] alexellis commented on #488
What is strange is that I can't reproduce this. Is there a specific language template this happens with? What's the docker version? What's the CLI version?

The poster doesn't specify Swarm or K8s.

[2018-01-26 09:28] radu-matei commented on #400
Hi, everyone!
Has there been any progress here?

I am interested in building something that aggregates events from multiple sources (cloud storages, database updates, pub/sub services).

Here's how an S3 blob created event looks like ([taken from AWS docs](https://docs.aws.amazon.com/AmazonS3/latest/dev/notification-content-structure.html)):

[code]

It is very obvious that the event should not co

[2018-01-26 09:28] dayuoba commented on #488
@alexellis
i tried the official bolg https://blog.alexellis.io/quickstart-openfaas-cli/,
 and use node.js template.
docker version is 17.09
swarm
cli :
faas-cli version
Commit: 6ec90d8ed086dddb26fe3a0775975fba3a71e5a5
Version: dev

@itscaro  > faas-cli deploy --replace --update=false -f stack.yml
this works！
but i think it should be same when without --repace --update=false

[2018-01-26 09:33] dayuoba commented on #488
@itscaro image field i filled  with <private-registry/iamge:tag>

[2018-01-26 09:56] itscaro commented on #488
@dayuoba You do in this sequence `build, push, deploy`?

[2018-01-26 10:13] itscaro commented on #488
Derek add label: question

[2018-01-26 10:13] itscaro commented on #473
Derek add label: proposal

[2018-01-26 10:14] itscaro commented on #470
Derek add label: proposal

[2018-01-26 10:20] dayuoba commented on #488
yes.
modify handler.js -> build -> push -> deploy -> invoke

[2018-01-26 10:29] itscaro commented on #488
@dayuoba Can you retry

[code]

Does it work in this sequence?

[2018-01-26 10:34] Templum commented on #400
Hi @radu-matei ,

I have waited for a response to my previous post. In the meanwhile, we started a custom implementation for our company use case. I would say you will require a connector solution which receives the amazon/azure events and then goes ahead and transforms them into a common format. Also, they can handle transforming / forwarding the received response.

[code]

- The `event-source` f

[2018-01-26 15:56] ericstoekl commented on #481
Derek add label: skill/beginner

[2018-01-28 06:31] ericstoekl commented on #471
Derek add label: proposal

[2018-01-28 06:32] ericstoekl commented on #471
@alexellis I think this is a reasonable suggestion. Maybe someone like @kenfdev would like to look into it? :)

[2018-01-28 08:12] alexellis commented on #471
Yes I agree. Javier I think is starting to mock one of the options up for us.

[2018-01-28 15:07] kenfdev commented on #481
![store_deploy_error](https://user-images.githubusercontent.com/3941889/35483615-cef66f64-0487-11e8-947c-62bfc11a2b7d.gif)

Here's a quick fix. Added "Error" toastr and made it switch to the manual tab.
Personal thoughts is that showing 2 effects (toastr and moving the tab) sort of blurs whats happening. Perhaps just showing a toastr like "Error. Check the manual tab for any errors." may be better

[2018-01-28 15:33] dungeonmaster18 commented on #481
Nice @kenfdev +1

[2018-01-28 18:15] ijustyce opened #492 "How to view the log and local debug"
I use aws lambda in the past  and I can view the content of console.log in cloudwatch, by use serverless-offline plugin I can run aws lambda locally and can debug it in vscode.

Now I want to self host my code so I try to use openfaas but I can't find useful docs of how to debug locally or view the output of console.log, forgive me for my poor English please, I already search the result by google

[2018-01-28 20:33] itscaro commented on #492
Derek add label: question

[2018-01-28 20:51] dvdmuckle commented on #492
You can use `docker logs containername` to view the logs from a given container. This command includes tab complete, which is nice as container names are typically appended with some hash, so your command to view logs may look like `docker logs func_markdown.1.8xickg0qnzjm3j6vqpysgjcas`.

[2018-01-28 20:51] alexellis commented on #492
Hey @ijustyce we link to the guides from the main readme, there's also a search bar at the top of GitHub which should help you find what you need.

[Guides index](https://github.com/openfaas/faas/tree/master/guide)

Listed on that page is the [troubleshooting guide](https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md) and some notes on debugging too.

`console log` is returned di

[2018-01-29 02:07] ijustyce commented on #492
Ok, Thanks, I will try it when go home, but I still can't find something like [apigateway custom authorizer](https://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html) Is faas support authorizer function now or how can I add a login interceptor just like spring mvc ?

[2018-01-29 07:37] dayuoba commented on #488
@itscaro yes，i used to do this, that's why i post this issue.
i try your sequence again . don't work

[2018-01-29 12:37] alexellis opened #494 "Research: revise function signatures"
We need to do some research into what the best signature would be for functions moving forward.

We have two primary modes in the function watchdog:

* forking mode (existing)
* HTTP or afterburn mode (new)

## forking mode (existing)

The forking mode uses stdio so can support any Linux or Windows binary as a function - most of the time with no changes needed or knowledge of HTTP. So any "bash" u

[2018-01-29 19:52] duckinator commented on #494
@alexellis unless i'm misreading something or there's context i've missed, this seems to inherently oppose the second sentence of the README for this project.

If you have to add network-related code to the program running in it, then what is the point of using the openfaas at all, instead of just a normal web server?

[2018-01-29 20:02] alexellis commented on #494
You've misread it.

[2018-01-29 20:14] duckinator commented on #494
This is the part I was referring to:

Does that not require pulling in an HTTP or RPC library for the process to communicate with the watchdog?

[2018-01-29 20:25] alexellis commented on #494
Hi Ellen, please could you take some time to read over the notes above detail comparing the two modes available? Also refer to the updated [README of the of-watchdog](https://github.com/openfaas-incubator/of-watchdog) which goes into the low level details.

[2018-01-29 20:34] duckinator commented on #494
Afterburn:

HTTP:

---

This seems to confirm what I said above, not imply that I misread something?

The Afterburn description explicitly says it requires another library, and the HTTP one is literally just an HTTP server running in openfaas. I don't see how this fits the `Any process can be packaged as a function` idea if you're fundamentally changing the behavior of the process to make it work

[2018-01-29 20:38] alexellis commented on #494
No that's still not right. There are only two modes listed:

* forking - any process
* HTTP - any process that exposes a HTTP TCP port

This does not invalidate the statement on the homepage.

[2018-01-29 20:58] duckinator commented on #494
I just noticed you edited the post and multiple comments after telling me I misread. I re-read them all and it is completely different from what it said originally, but makes far more sense now. Thanks for clarifying the original description.

FYI, GitHub doesn't give notifications about description or comment edits, so it's generally a good idea to leave a new comment saying you update something

[2018-01-29 20:58] duckinator commented on #494
I just noticed you edited the issue description and multiple comments after telling me I misread. I re-read them all and it is completely different from what it said originally, but makes far more sense now. Thanks for clarifying the original description.

FYI, GitHub doesn't give notifications about description or comment edits, so it's generally a good idea to leave a new comment saying you upda

[2018-01-29 21:44] rgee0 commented on #494
To clarify, this is a research item, rather than a proposal.  What is written above, to my mind, is describing the current position/options to help elucidate the research direction and the subsequent discussion.  There isnt a suggestion that one mode should be dropped in favour of the other, nor that these options are the only way, rather the description sets out the relative strengths and weaknes

[2018-01-29 21:53] duckinator commented on #494
@rgee0 yes, I understand this. The original unedited issue seemed to imply that these ideas would cause the forking mode to require an HTTP or RPC library. However, as I said in the response immediately prior to yours, Alex edited the issue description and it makes more sense now.

[2018-01-30 11:36] itscaro opened #495 "Proposal: configure polling rate for UI"
## Current Behaviour
The refresh request is set for every second, sometimes it gets the browser to high cpu usage (perhaps it depends on the machine specs).

It would be nice to have a check box to disable fresh requests and re-enable it, or a configuration to change the periodicity of the refresh request

[2018-01-30 11:49] itscaro commented on #495
Derel add label: proposal

[2018-01-30 12:01] alexellis commented on #495
This might be better as a configurable delay for the polling?

[2018-01-30 12:12] alexellis commented on #473
Hi @lzfxxx, please can you raise this issue in the openfaas/of-watchdog repository? The mode you are referring to is part of an incubator project which can be used in OpenFaaS but is not currently part of the main project - the main project is still using openfaas/faas/watchdog. That is the reason the documentation only exists within the of-watchdog README file.

When you open the issue please sta

[2018-01-30 12:13] #473 closed

[2018-01-30 12:14] alexellis commented on #492
@ijustyce the easiest way to add authentication/authorisation would be to use our guide for adding Kong. This is a specialist tool for adding that layer. Please refer to the [guides](https://github.com/openfaas/faas/tree/master/guide) for that. I'll close this issue as I think we've answered the question, but please feel free to keep commenting.

[2018-01-30 12:14] #492 closed

[2018-01-30 12:16] alexellis commented on #488
There are two update modes, by default a rolling update is done, but if you've previously pushed an image to the Docker hub or a registry you'll have to push it after every build. The flag is implicit: `--replace=false --update=true`

Mode two deletes and recreates the function and should not be used. `--replace=true --update=false`

Please can you give the environment details we requested so that

[2018-01-30 12:39] itscaro opened #496 "[UI] invalidate assets cached by browser on changing version of gateway"
## Current Behaviour
asset files are possibly cached by browser, when version changes, these files can be outdated.

## Possible Solution
add `?<sha1sum>` to URI of asset files

[code]

[2018-01-30 12:44] itscaro commented on #495
@alexellis Yes

[2018-01-30 15:00] lzfxxx commented on #473
@alexellis After reading the new documentation in openfaas/of-watchdog and some testing, i think i have no more problems about the modes of the watchdog. Thank you!

[2018-01-30 15:03] alexellis commented on #473
Just curious - what brought you to the of-watchdog over the existing watchdog that we are using in the project now? watchdog in openfaas/faas?

[2018-01-30 15:19] lzfxxx commented on #473
Yes, I found it in the README of watchdog in openfaas/faas. I was trying to find out the solution of openfaas on data exceed the memory.

[2018-01-31 02:30] ericstoekl commented on #496
Very interesting, thanks @itscaro . Does the `shasum` solution cause duplication of cached assets? Is there a way to mark these assets to have them NOT be cached in the first place?

[2018-01-31 02:32] ericstoekl commented on #496
Derek add label: proposal

[2018-01-31 03:26] dayuoba commented on #488
@alexellis
docker version is 17.09, swarm
faas-cli version:
Commit: 6ec90d8ed086dddb26fe3a0775975fba3a71e5a5
Version: dev
macOS 10.13.1

any env i missed?

[2018-01-31 03:37] kenfdev commented on #496
@itscaro I was aware about this, too. For now, maybe a simple version number on the JavaScript files could solve the problem.
In the future we should have a pipeline which auto generates the hash with the filename. (It's pretty much baked in in the project skeletons of recent Frontend stacks)

[2018-02-01 16:12] alexellis commented on #400
I haven't got notifications on this issue recently. I'm interested in defining a pattern for people to follow to provide event-connectors to the OpenFaaS API gateway.

The initial event sources I have in mind are:

* Kakfa
* AWS SNS

The pattern would allow people to implement Azure Blob storage or similar on their own and then contribute that back if they wanted to.

I like the response from @rei

[2018-02-01 16:21] nicholasjackson commented on #400
You could take a look at this, I am currently working on a light weight server which would accept a variety of sources as inputs and take a number of output.  This includes, message queues, openfaas functions, web hooks.  Messages are translatable using go templates and also chainable.

https://github.com/nicholasjackson/faas-nats

My internal proposal to try and figure out the configuration synta

[2018-02-01 16:34] alexellis commented on #400
Thanks for sharing the NATS.io example.

It would be useful to fully understand the problem before coming up with a solution but there are elements of what Nic has put together which could be re-used. It may be that the events are so different that making a generic handler for all is too hard, but defining a pattern may be easier.

We've already defined some of the inputs and the actions that need

[2018-02-02 07:27] thucnc commented on #157
I still unable to use custom status code, say 400/401/404,  in my handler (even with custom Dockerfile like the above 'GetAvatar' sample). All the response fields including the statusCode come into the body, hence the status is always 200.
So may you confirm that this is still a known issue that hasn't been fixed yet ?

[2018-02-02 08:25] phpcodecrafting commented on #320
So a persistent posix compatible volume introduces too much state in the system, but a persistent object store does not? That doesn't even make any sense. State is state.

But let's say that's a valid argument for argument's sake. There is also the fact that there's not an object store out there that can compete with the performance of distributed parallel filesystems designed for high performance

[2018-02-02 08:51] alexellis commented on #157
This thread is already several months old. @thucnc I was referring to serialising Content-Type in that example. See: https://github.com/alexellis/faas-dockercon/blob/master/GetAvatar/handler.py#L27

There is no "issue" to be fixed, the behaviour is by design and a constraint you will need to work within, however there is some more context you will find useful:

We have an alternative option which

[2018-02-02 09:29] nicholasjackson commented on #320
Personally I think mounted volumes are an anti-pattern in the world of containers, it produces a simpler system to manage and administer if you treat containers as they were intended as immutable.  Also from a personal perspective managing storage is a pain in the butt, offloading this to S3 where you get encryption and replication out of the box is always the best option however I agree this is n

[2018-02-02 21:56] alshabib commented on #320
I view this feature as analogous to a pass-by-value vs. pass-by-reference capability of a programming language. In one case, you pass the actual input data directly and in the other you just pass a pointer to where the data resides (on a distributed FS in this case).

Also I do not think that such a feature would change the principle that a lambda (or function) is immutable or an independent unit

[2018-02-03 00:02] andrewb-ms opened #498 "Getting "Cannot find service" when using host name other than localhost"
Here is my file, artist.yml

[code]

Expected: Can use cURL or PostMan to hit the public endpoint

Observed: Hitting localhost:8080 works fine, but the public endpoint does not work.

How to actually get this to attach to the public IP/domain name?  I also tried 0.0.0.0:8080 but that didn't work.

Full source code here: https://github.com/jmkhael/faas-artist

[2018-02-03 00:54] ericstoekl commented on #498
Derek add label: question

[2018-02-03 06:51] rgee0 commented on #498
Hello @andrewb-ms can you please fill out the full issue template. Without the details we request there is an increased potential for assumptions to be made and that detail really does help speed up our gaining an understanding.  It also helps others who may have similar questions in future.

Thank you.

[2018-02-03 14:06] rgee0 opened #499 "Question: Is Docker 17.05 still supported as per the swarm guides?"
## Expected Behaviour
The stack should deploy if the user's Docker configuration matches those described in `guide/deployment_swarm.md` & `guide/deployment_swarm_arm.md`

## Current Behaviour
[code]
## Possible Solution
According to [the Docker docs](https://docs.docker.com/compose/compose-file/compose-versioning/) 3.3 is supported as of 17.06.0, so may just be a case of updating the guides.

If t

[2018-02-03 14:07] rgee0 commented on #499
Derek add label: Question

[2018-02-03 14:09] alexellis commented on #499
As of the change to support configs we need people to use something newer than 17.05. The docker repo has much newer available for arm.. have you tried upgrading? If the docs say 17.05 then that needs changing too.

[2018-02-03 14:12] rgee0 commented on #499
Thanks

[2018-02-03 15:01] rgee0 opened #500 "Question: Is functions/queue-worker:0.4-armhf available from the hub?"
## Expected Behaviour
`$ ./deploy_stack.armhf.sh` deploys fully and successfully.

## Current Behaviour
[code]

## Possible Solution
Checking the tags under [the Docker repo](https://hub.docker.com/r/functions/queue-worker/tags/) suggests the expected image may not have been pushed.

## Steps to Reproduce (for bugs)

1. `$ ./deploy_stack.armhf.sh`
2. Observe no error messages
3. Run `$ ./deploy_st

[2018-02-03 15:01] rgee0 commented on #500
Derek add label: question

[2018-02-03 15:12] alexellis commented on #500
@rgee0 I've pushed this up manually. Do you want to keep a single issue to track the testing you're doing on the RPi Zero?

[2018-02-03 15:38] alexellis opened #501 "Mandate minimum ARM architecture of ARMv7 or ARM64"
## Changes:

Mandate minimum ARM architecture of ARMv7 or ARM64

This removes compatibility with the Raspberry Pi Zero and B+

## Description

Even with advancements in ARM support within projects and Docker images there are still issues that prevent us providing seamless support for ARMv6 (Raspberry Pi Zero)

* No image for NATS Streaming
* Images are often not checked for armv6 - i.e. the recent

[2018-02-03 19:04] rgee0 commented on #500
Derek close: Image now available

[2018-02-03 19:05] #500 closed

[2018-02-04 16:43] alexellis commented on #499
Will you be updating the reference to Docker 17.05?

[2018-02-04 16:51] alexellis commented on #498
@andrewb-ms remote gateways are supported, please can you give us all the extra details and let us know whether you're still running into any issues?

Are you sure that you opened up a firewall port on Azure for your cloudapp endpoint?

[2018-02-04 19:02] alexellis commented on #494
Removing comments as we have clarified the proposal now.

[2018-02-04 19:04] alexellis opened #504 "Proposal: Review function signatures & new option for templates"
We need to do some research into what the best signature would be for functions moving forward.

We have two primary modes in the function watchdog:

* forking mode (existing)
* HTTP mode (new)

## forking mode (existing)

The forking mode uses stdio so can support any Linux or Windows binary as a function - most of the time with no changes needed or knowledge of HTTP. So any "bash" utility that w

[2018-02-04 19:04] alexellis commented on #494
Moving to new issue.

[2018-02-04 19:04] #494 closed

[2018-02-05 17:27] #499 closed

[2018-02-05 19:00] rgee0 commented on #501
I've always been an advocate of providing a consistent experience across all supported hardware architectures.  If external dependancies are making it difficult to support a, or some, hardware platforms then I feel we should favour consistency of experience over breadth of supported hardware architectures.

One positive that ARMv6 would bring was a cheap entry to clustering, however performance wo

[2018-02-05 20:03] horike37 opened #507 "Question: cannot connect to gateway"
I'm getting started to build OpenFaaS via https://github.com/openfaas/faas/blob/master/TestDrive.md.
However, I ran into a problem which I can't connect OpenFaaS UI even though running ./deploy_stack.sh has been successful.

Here is a log what I was doing.

[code]
I have confirmed nothing to build any other service on 8080 port.
Any ideas why? Am I missing anything else?

## Your Environment

* Do

[2018-02-05 22:36] alexellis commented on #507
Something looks weird there. Your Docker client version is much older than the server version. Can you get a web browser open to that address? How about 127.0.0.1:8080 instead?

[2018-02-05 22:38] alexellis commented on #507
Is your Prometheus instance up now too? It was showing 0/1

[2018-02-05 23:59] horike37 commented on #507
Thank you for the response @alexellis :smile:

I tried to get a browser with 127.0.0.1:8080 but I got ERR_CONNECTION_REFUSED. Looks like a web server has not been up yet.

How do I confirm that?

[2018-02-06 01:11] kenfdev commented on #507
Hi @horike37!
As Alex says, I wonder why your docker versions are so different with the server (18.01.0-ce) and client (17.06.1-ce)?
FYI, mine looks like this.

[code]

Anyway,

You can hit `docker service ls` to see what happened to the following line.

[code]

In addition, some possibilities may be that you had `8080` already used by somebody else.
This happened to me and I stopped the service u

[2018-02-06 03:49] Toggi3 commented on #320
if this is an absolute must for people I suggest fission.io which has this issue on their roadmap.  Unfortunately I think kubernetes is a hard constraint at this time.

[2018-02-06 09:10] alexellis commented on #507
@horike37  maybe you can try this for me? It will reset and push you up to the latest version too

[code]

[2018-02-06 12:39] m4r10k commented on #320
@alexellis I would like to mount the docker socket file, as it would be nice to use OpenFaas as function driver for different read Docker Api read functions. I know I can work around it by using the tcp interface of the Docker managers, but that adds complexity with less to no benefit. I would favor to allow bind volume mounts.

[2018-02-06 13:04] alexellis commented on #320
@Toggi3 I think you might be mistaken there. Fission only mentioned this once in 2016 where they also state they cannot support config maps, secrets, cpu or memory constraints - these are all things which OpenFaaS already supports. FYI: Their project will only ever target K8s.

So far I've not seen anyone who is complaining about the lack of Volume support rolling their sleeves up and trying the r

[2018-02-06 16:46] Toggi3 commented on #320
I haven't forgotten @alexellis.  I fully intend to try Minio / S3.  I did try S3 as provided by a cloud provider, but the speed was too slow for the task.  I have some hope minio will be better than the cloud provider S3.  Even if it is perfectly acceptable, I have many custom built tools that do similar things for different data sets and they all depend on a volume.  That is not to say rearchitec

[2018-02-06 20:15] rgee0 opened #509 "Proposal: Use official Golang image as base in the gateway armhf Dockerfile"
## Expected Behaviour
Use official Golang image as base in the gateway armhf Dockerfile

## Current Behaviour
Currently the armhf Dockerfile builds from a non-official build created by @alexellis as at the time of creation there was a [bug in the official image](https://github.com/docker-library/golang/issues/184).

## Possible Solution
Use `golang:1.9.3-alpine3.6` or to stay in line with the x86

[2018-02-06 20:15] rgee0 commented on #509
Derek add label: proposal

[2018-02-06 21:53] alexellis commented on #509
Let's push armhf up to golang-1.9.2. The `faas` / gateway for x86_64 can also be updated since it no-longer depends on Docker.

[2018-02-07 00:09] horike37 commented on #507
@alexellis @kenfdev

I have figured out this problem. Once uninstalled all the docker stuff from my laptop and re-installed those. Then, the docker version has become the same with client and server.
Maybe my docker server was built by boot2docker rather than Docker for Mac in the past.

Thank you guys for the help :smile:

[2018-02-07 00:09] #507 closed

[2018-02-07 07:55] alexellis commented on #488
This may be normal for the few seconds your function is updating. Try `docker service ps functionnamehere`

[2018-02-07 09:10] alexellis opened #510 "Support Go durations for timeout values"
## Description

Support Golang durations such as "10s" or "1m20s" in the gateway configuration.

Current behaviour:

[code]

Expected behaviour:

[code]

This should be backwards compatible with the old method where the configuration for timeouts was assumed to be an integer representing seconds.

See https://github.com/openfaas/faas-netes/blob/master/test/read_config_test.go#L68 for the code I've

[2018-02-07 09:21] viveksyngh commented on #510
I am working on this issue.

[2018-02-10 18:44] alexellis commented on #470
Pinging @dghadi1

[2018-02-10 18:46] #510 closed

[2018-02-10 18:48] alexellis commented on #509
@rgee0 will you be working on this change?

[2018-02-10 18:49] alexellis commented on #501
Thank you for your input on this Richard

[2018-02-10 18:53] rgee0 commented on #509
Yes

[2018-02-12 05:56] ericstoekl commented on #504
Derek add label: proposal

[2018-02-12 06:17] ericstoekl commented on #504
I'm still figuring out how this works. I think we should go with the AWS Lambda format, and we change from `(context, callback)` to `(event, context, callback)`, where the `event` object contains the request body, and `context` contains the Query and Header data. We could also have `context` contain some more interesting and useful stuff like time remaining for function execution (this is somethin

[2018-02-12 07:56] developius commented on #504
I think splitting up the params passed to the handler into `event` and `context` might cause confusion over what `event` actually is. Is it a native javascript event, or is it something custom? I would be in favour of passing one single object to the handler along with a callback (or let it return a promise or use an async function - I have a working example of this), like you tend to with middlew

[2018-02-12 11:47] hypnoglow commented on #436
Upvote for this. Since "ImagePullPolicy" defaults to "Always" and cannot be changed (without `kubectl edit`), the registry cannot be eliminated from the workflow. But for minikube it is much more convenient to push your images directly to its docker and not to use a redundant registry.

[2018-02-12 11:54] alexellis commented on #436
PullAlways is needed for rolling updates.

You should be able to build directly to the minikube library by using minikube environmental variables.

[2018-02-12 13:24] hypnoglow commented on #436
What do you mean? Rolling update is provided by updating image tag, isn't it?

Again, what do you mean? Are you talking about registry plugin?

[2018-02-12 13:29] alexellis commented on #436
https://kubernetes.io/docs/getting-started-guides/minikube/#reusing-the-docker-daemon

I'll try to update the documentation to make it clearer how to use a registry for local development or Minikube's library directly. Thanks for commenting.

[2018-02-12 13:30] alexellis commented on #436
Derek lock: not an issue

[2018-02-12 23:50] michaelmerg commented on #504
Hi all,
I'm playing around with faas the last couple of days and implemented a Java runtime (https://github.com/michaelmerg/serverless-function-runtime-java). I used some ideas of the AWS implementation like the same handler signatures.

I think it would the good define some kind of specification for handlers (signature, input and output types, and so on...) and the capabilities of a `context` obj

[2018-02-14 10:17] malikkal opened #517 "gateway not starting while deploying in swarm."
All services coming online except gateway.

![image](https://user-images.githubusercontent.com/16984768/36192680-95a24774-119d-11e8-9493-3d369cf144c5.png)

Any help is much appreciated. Thanks

[2018-02-14 10:27] alexellis commented on #517
Hi @malikkal raise a new issue and fill out the whole template please. This is mandatory.

Please also consult the troubleshooting guide for information on how to check what's going wrong. https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

In particular you should check the logs for the gateway to determine the error.

[2018-02-14 10:27] alexellis commented on #517
Derek close: missing information

[2018-02-14 10:27] #517 closed

[2018-02-15 01:48] VenkateshSrini opened #518 "How long can a code deployed in openFaas can execute"
@alexellis ,
I have used Azure functions earlier. I also had an opportunity to play with openWhisk. One question that keeps coming to mind is does openFass also has a time restriction on the amount of time a code can execute in openFass? If so what is the max time? Can it be configured based on my need ?

[2018-02-15 06:53] ericstoekl commented on #518
Hi @VenkateshSrini,
Thanks for checking out the project!

You can configure the time limits for function execution using the `read_timeout:` and `write_timeout:` Environment Variable options. You will make these changes in your function YAML file.

See this link for more info: https://github.com/openfaas/faas/blob/6eca86f31e1fa3fb8748198f927aff63c03d1a28/gateway/README.md#environmental-overrides

[2018-02-15 06:53] ericstoekl commented on #518
Derek close

[2018-02-15 06:53] #518 closed

[2018-02-15 09:11] alexellis commented on #518
Thanks @ericstoekl - please see also our troubleshooting guide which goes into detail about the timeouts at the API Gateway / function level: https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md#timeouts

[2018-02-15 15:47] ericstoekl commented on #495
Derek add label: proposal

[2018-02-15 15:47] ericstoekl commented on #495
Derek add label: UI

[2018-02-15 21:48] alexellis commented on #108
@stefanprodan we have this now at the provider level.. but do we need to add it to the gateway still? If so would you mind opening an issue?

[2018-02-15 21:48] alexellis commented on #108
@InTheCloudDan if you fancy working on this let us know. It should be relatively straight-forward to add.

[2018-02-16 09:00] alexellis opened #519 "UI: update portal to work over `kubectl proxy`"
## Expected Behaviour

If possible the portal UI should work over kubectl proxy

## Current Behaviour

This fails with an error due to the browser trying to query the root of the domain. The kubectl proxy forces a deep relative path so the XHR request fails.

## Possible Solution

Make a non-root call to the /system/functions endpoint? Not sure what the best approach is here.

cc @kenfdev @jrevill

[2018-02-16 09:24] alexellis commented on #519
Reported by @id0Sch originally

[2018-02-17 00:52] mjhea0 commented on #107
What's the status of this?

[2018-02-17 09:12] alexellis opened #520 "OpenFaaS Community Roundtable - Sunday Feb 2018 @ 18.30 GMT"
Contributors and the community are welcome to attend a round-table call:

## Time

OpenFaaS Community Roundtable - Sunday Feb 2018 @ 18.30 GMT

## Link

Join from PC, Mac, Linux, iOS or Android: https://zoom.us/j/617416147

If you want to be on a recurring meeting email alex@openfaas.com

Alex

[2018-02-17 09:14] alexellis commented on #520
[iCal-20180217-091327.ics.zip](https://github.com/openfaas/faas/files/1733539/iCal-20180217-091327.ics.zip)

[2018-02-17 16:13] kenfdev commented on #519
I assume we can fix this by using relative paths for the ajax calls.
I think traefik is doing it the same way looking at this [PR](https://github.com/containous/traefik/pull/492).

I can look at this in the following week.

[2018-02-17 18:41] lucasalexander opened #521 "Docker Swarm secret not available to function on remote system"
I have created a secret and granted my function access to it when deploying with faas-cli, and this works in my local environment (Docker 17.12-ce on Windows). When I deploy to my remote system (Docker 17.12-ce on Debian Linux 9), the secret is not available to the function.

## Expected Behaviour
The secret should be available to the function in my remote instance.

## Current Behaviour
I deploy

[2018-02-17 18:47] derailed opened #522 "How to set Docker image version?"
## Expected Behaviour

First off, thank you for your contributions and making this framework available to the community!

I am trying to put together some sample functions and running into issues with docs and general pilot errors...

I would like to be able to version my docker images for my functions. It looks like images are being tagged as latest by default. I can not locate a good document th

[2018-02-17 18:48] BurtonR commented on #521
@lucasalexander have you created the secret on the remote system as well?
Secrets are managed by the Docker Swarm. So for _each_ swarm cluster, you would need to run `echo "something secret" | docker secret create rabbitsecrets -`

[2018-02-17 18:55] BurtonR commented on #522
@derailed you can adjust the `image` value in the `function.yml` file to include the version of your image.

Also, you can specify environment variables in the yml file easily.

Here is an example that should answer both your questions:
[code]

[2018-02-17 19:03] lucasalexander commented on #521
Yes, "docker secret ls" shows it on the remote system.

On February 17, 2018, at 12:48 PM, Burton Rheutan <notifications@github.com> wrote:

@lucasalexander have you created the secret on the remote system as well?
Secrets are managed by the Docker Swarm. So for each swarm cluster, you would need to run echo "something secret" | docker secret create rabbitsecrets -

—
You are receiving this becaus

[2018-02-17 20:26] alexellis commented on #521
@lucasalexander this should work. @BurtonR + I are looking into it.

cc @LucasRoesler

[2018-02-17 20:34] alexellis commented on #521
I've just tried this with a remote host and it worked as expected.

gw: functions/gateway:0.7.0
Docker:

[code]

Host: Ubuntu Linux 16.04

[code]

Remote server:
[code]

My laptop:
[code]

Handler:

[code]

[2018-02-17 23:01] lucasalexander commented on #521
Thanks for the quick responses. I deployed your function to my remote gateway and I am still not seeing the secret available to the deployed function service.

I created this file:
[code]
And ran this deploy command: _.\faas-cli.exe deploy -f .\test-secrets.yml_. When I run the function I get "None" as the response. I did verify that services on the swarm can access the secret by creating a new se

[2018-02-18 05:17] derailed commented on #522
@BurtonR - Thank you so much for the prompt reply! This helped a lot...

Are there any docs on the various settings available on this config file?

Also is it possible to deploy different versions of the image using the same function? ie the same service will front different pods using a different docker image revs?

Thank you!

[2018-02-18 09:26] alexellis commented on #521
@lucasalexander the faas-cli is a REST client and talks over HTTP to the gateway, so Postman or curl could also create a function.

If you're a Windows user, then perhaps you could install [Fiddler](https://www.telerik.com/fiddler) and record the traffic from the faas-cli to see whether the secret list is being sent down the wire correctly?

If you sign up to Slack by emailing alex@openfaas.com we

[2018-02-18 09:28] alexellis commented on #521
One more thing you can do is to delete the function and create it again - then look at the logs via `docker service logs func_faas-swarm --tail 50`

[2018-02-18 09:34] alexellis commented on #521
This is me using a Linux client against the play-with-docker.com environment.

Perhaps you could try this too?

[code]

![screenshot-pwd-admin](https://user-images.githubusercontent.com/6358735/36350332-cb4f4252-148e-11e8-843d-35877c5f7ece.png)
![screenshot-success-pwd](https://user-images.githubusercontent.com/6358735/36350333-cb6f7f68-148e-11e8-8d8d-5d859aa80957.png)

I don't have easy access to