[2019-04-04 12:56] matipan commented on #1127
@alexellis @ewilde of-watchdog already has `Http_Content_Length`: https://github.com/matipan/of-watchdog/blob/master/main.go#L270-L273
So we don't need to change anything there. I validated deploying a new function that prints the contents of `Http_Content_Length` and it does have the correct value.

[2019-04-04 15:52] alexellis commented on #1125
I agree, it is on the backlog.

💯

Are you on the Slack workspace yet? It might be worth joining.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-04-04 16:26] alexellis commented on #1147
Stefan: another alternative is to use a third TCP port and HTTP server for the gateway and serve logs from there.

[2019-04-04 16:28] alexellis commented on #1147
I think go with this:

[2019-04-04 18:43] mercul3s commented on #1125
@alexellis yup, I'm on the slack and in the kubernetes channel.

[2019-04-04 18:47] cheeseandcereal commented on #776
Please add us as well

- [Website](https://dragonchain.com/)
- [Logo](https://drive.google.com/uc?id=1DYJkgWLe1617vegkEItjBSPM_KW5xizy&export=download)

Background for usage:
At Dragonchain, we focus on creating a hybrid blockchain-as-a-service product, with integrations of OpenFaaS as our 'smart contract' platform, to be able to automatically run customer code based on interactions that occur on

[2019-04-04 20:28] #1127 closed

[2019-04-04 20:34] #1110 closed

[2019-04-05 14:13] tobya opened #1155 "Invitation to Slack"
Hello

I've been invited to openfaas on slack, I'm wondering why I have been invited?

Thank you.

[2019-04-05 18:16] alexellis commented on #1155
Hi you're welcome to email me your query. This tracker is for issues with the code only.

Alex

[2019-04-05 18:16] #1155 closed

[2019-04-06 19:47] alexellis commented on #1147
Derek set milestone: 0.13.0

[2019-04-06 20:26] alexellis commented on #886
Derek close

[2019-04-06 20:26] #886 closed

[2019-04-06 20:27] alexellis commented on #886
@padiazg thanks for doing this work. I don't think that an OS which has no ability to add a non-root user is suitable for use in our templates. Let's track this issue and revisit if needed.

[2019-04-06 20:27] alexellis commented on #860
@ewilde has this work been completed now? Would you like to coordinate any remaining work via the issue?

[2019-04-06 21:48] matipan commented on #1147
I agree with @stefanprodan. @alexellis would using a third tcp port and server bring benefits other than leaving the write timeout as is?

[2019-04-07 07:31] alexellis commented on #701
Another example:

https://github.com/rgee0/cloudevents-interop-demo

[2019-04-07 11:20] LucasRoesler commented on #1147
Using another port, is possible, but makes it more awkward for clients that use that API. It is nicer to have the entire public API on a single port. It also introduces cors issues

[2019-04-07 12:38] alexellis commented on #1147
I agree with Lucas

[2019-04-08 15:37] Jerome1337 opened #1156 "Proposal: Allow to create groups of functions inside openfaas portal"
## My actions before raising this issue
- [x] Read/searched [the docs](https://docs.openfaas.com/)

Actually, for example I have some functions on my portal then I have `PORTAL_URL/function/myFunction`, it would be great to have the possibility to create groups directly inside openfaas portal and deploy new functions inside a group.

The result would be `PORTAL_URL/function/myGroup/myFunction`, th

[2019-04-10 22:12] jmreicha commented on #759
@alexellis I got around to spinning this up (along with the faas-idler and operator) and immediately noticed a spike in CPU and memory usage to the Operator Prometheus.  I turned everything off and resources started to mellow out right away.

Any ideas for things to look at?  I checked the logs but didn't see any obvious errors and the openfaas components resource utilization was fairly low while

[2019-04-11 06:35] olyazajj opened #1159 "Autoscaling question about scaling to zero"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

I want to try some caching approaches for scaling on the openfaas platform. For example, LRU, LFU and Popularity-Driven Content Caching with restrictions on the num

[2019-04-11 07:38] alexellis commented on #1159
Derek set title: Autoscaling question about scaling to zero

[2019-04-11 07:39] alexellis commented on #1159
Derek add label: question

[2019-04-11 07:40] alexellis commented on #759
`image: openfaas/faas-idler:0.2.0-arm64` ?

Are you using a low powered arm SoC?

[2019-04-11 16:19] jmreicha commented on #759
It's a cluster of Pine64's.

[2019-04-11 17:39] alexellis commented on #759
You could try using kubectl top node/pod or cadvisor/Weave Scope to try to identify where the bottlenecks are. I had best performance from the Odroid board.

[2019-04-11 22:05] jmreicha commented on #759
Super weird, I must have run into another issue or something else funky when I spun things up originally.  Maybe it was a Prometheus thing?  Anyway, I killed the Prometheus pod and then rebooted the node that Prometheus was scheduled to and things seem to be working now and much more stable.

Here are the metrics for the openfaas components.

[code]

I think I just need to get my servicemonitor ho

[2019-04-13 11:48] LucasRoesler commented on #1147
I have checked several of the projects with servers in the CNCF and have not yet found one that sets the `WriteTimeout`

[2019-04-13 23:17] juandisay commented on #785
Hi, @alexellis
I Need spesifik explanation about Request header GET openfaas.
I've read
https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables,

about python code type like os.env()  have a rules in Openfaas, lik os.env('Http_Query') or etc?

THanks,

[2019-04-14 00:15] juandisay opened #1164 "I Need spesifik explanation about Request header `GET` openfaas."
I've read
https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables,

about python code type like os.env() have a rules in Openfaas, like os.env('Http_Query') or etc?

My goals,
http://gateway:8080/function/some-of-function?query=some-of-value

THanks,

[2019-04-14 08:07] alexellis commented on #1164
Hi, please consult the workshop.

https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-04-14 08:07] #1164 closed

[2019-04-14 11:18] juandisay commented on #1164
after inject config like Http_Query , everything about /some/path  ,
like:
http://gateway:8080/function/env/some-path return Code 200
Can I limit it to env, if I don't have some/path,
if i dont have /some/path return to code 404 or etc.

[2019-04-14 11:25] alexellis commented on #1164
Derek lock

[2019-04-14 11:26] alexellis commented on #1164
For further support please join Slack

[2019-04-14 11:26] alexellis commented on #1164
Derek add label: support

[2019-04-14 14:46] zeerorg commented on #1159
The OpenFaas API has a `/system/scale-function/{functionName}` endpoint that can be called to scale functions as required (even scale them to zero).
You can check the API docs using instructions [here](https://github.com/openfaas/faas/tree/master/api-docs)

[2019-04-14 14:50] zeerorg commented on #1156
If you are not looking for changing how the url works, you can get the grouping functionality inside Portal UI rather easily.

You can use function annotations to set similar value for something like `com.openfaas.group` for functions to be grouped together, and then change the UI code to display a group of functions.

This has the possibility of being a lot more backward compatible.

[2019-04-14 15:27] alexellis commented on #1156
Grouping could be implemented in your own microservice fronting the API gateway. We do similar in OpenFaaS Cloud.

This isn't on the roadmap for core OpenFaaS right now.

OpenFaaS Cloud does grouping by user or organization and would probably your best option for this behaviour.

[2019-04-14 15:32] alexellis commented on #1159
Derek close: all, feel free to keep commenting. This question has been answered

[2019-04-14 15:32] #1159 closed

[2019-04-14 15:32] alexellis commented on #1159
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-04-14 15:33] alexellis commented on #1156
Derek add label: support

[2019-04-14 15:33] alexellis commented on #1148
Please go ahead and work on this when you have time @zeerorg

[2019-04-14 15:34] alexellis commented on #1115
SGTM

[2019-04-14 15:35] alexellis commented on #1082
@lucasroesler @stefanprodan

The URL variant is probably the lowest hanging fruit?

[2019-04-14 15:36] alexellis commented on #1052
Derek close

[2019-04-14 15:36] #1052 closed

[2019-04-14 15:37] alexellis commented on #978
Derek close

[2019-04-14 15:37] #978 closed

[2019-04-14 15:38] alexellis commented on #978
Scale to zero is achieved through use of faas-idler and the label: `com.openfaas.scale.zero: true`

[2019-04-14 15:38] alexellis commented on #913
Derek close

[2019-04-14 15:38] #913 closed

[2019-04-14 15:39] alexellis commented on #913
Please see the latest set of standard HTTP metrics

[2019-04-14 15:39] alexellis commented on #875
Derek close

[2019-04-14 15:39] #875 closed

[2019-04-14 15:39] alexellis commented on #870
Derek close

[2019-04-14 15:39] #870 closed

[2019-04-14 15:40] alexellis commented on #712
Derek close

[2019-04-14 15:40] #712 closed

[2019-04-14 15:40] alexellis commented on #712
Unfortunately if this hasn't happened in 10 months I don't think it will happen at all.

[2019-04-14 15:42] alexellis commented on #612
Derek close: inactivity

[2019-04-14 15:42] #612 closed

[2019-04-14 15:42] #579 closed

[2019-04-14 15:42] alexellis commented on #579
This is now resolved

[2019-04-14 15:42] #574 closed

[2019-04-14 15:42] #547 closed

[2019-04-14 15:43] alexellis commented on #547
I have done this work now

[2019-04-14 15:43] #71 closed

[2019-04-14 15:43] alexellis commented on #71
Derek close: inactivity

[2019-04-14 15:44] alexellis commented on #144
We implemented read-only FS. AWS Lambda also has this feature now.

[2019-04-14 15:44] #144 closed

[2019-04-14 15:44] alexellis commented on #169
Derek close: inactivity

[2019-04-14 15:44] #169 closed

[2019-04-14 15:44] alexellis commented on #262
Derek close: inactivity

[2019-04-14 15:44] #262 closed

[2019-04-14 15:45] alexellis commented on #752
Derek close: this was done through the template store.

[2019-04-14 15:45] #752 closed

[2019-04-14 15:45] alexellis commented on #684
Would you like to work on this?

[2019-04-14 15:46] #663 closed

[2019-04-14 15:46] alexellis commented on #663
Derek close: inactivity

[2019-04-14 15:46] alexellis commented on #635
Derek close: wontfix

[2019-04-14 15:46] #635 closed

[2019-04-14 15:47] alexellis commented on #495
Derek close: inactivity

[2019-04-14 15:47] #495 closed

[2019-04-14 15:47] alexellis commented on #1090
Where are we on this?

[2019-04-14 15:48] alexellis commented on #1031
Resolved through patches to gateway and queue-worker

[2019-04-14 15:48] #1031 closed

[2019-04-15 05:21] viveksyngh commented on #1090
I will start working on this.

[2019-04-15 15:17] alexellis commented on #795
This seems to be more significant on an incorrectly configured Swarm cluster with a single node with a single vCPU and very little RAM. I saw one report where someone was doing this on a single SoC ARM board (again - not a production cluster)

For Docker Swarm health checks are a necessary part of the infrastructure. You can try tuning your checks to run less frequently, but you will also incur a

[2019-04-15 15:18] alexellis commented on #795
I'm going to close the issue for now. If someone else lands here with a proper cluster configuration for production and is noticing a negative effect of Swarm health checks, then please raise an issue on the Moby repo.

[2019-04-15 15:18] #795 closed

[2019-04-15 15:23] alexellis commented on #795
On Swarm health checks run at regular intervals and these are tasks which run on a CPU thus increasing the average CPU consumption. The same is with Kubernetes - although configured differently.

Health checks are required for safe scaling up and down of functions. If 0 % CPU is desired across all functions then scaling them to zero when not in use or when idle may be the best path for users.

See

[2019-04-16 06:48] saboor97 opened #1166 "Question about a python function for running dhcp server as a function"
Hii, i am trying to make dhcp serverless by running dhcp function over openfaas platform.
i'm using dhcp code from this repository, https://github.com/marceleng/py-DHCP-server i've executed this code in linux environment it works fine. But, when i created the openfaas function and imported these files in repository by replacing dhcp-server.py file which is main execution file with handler.py
when

[2019-04-16 06:54] saboor97 commented on #1166
please help me

[2019-04-16 21:30] alexellis commented on #1166
Hi, I'm not sure that this is going to be supported.

You would be better off running it as a plain Kubernetes deployment. You'll also probably need elevated permissions on the pod spec.

Alex

[2019-04-16 21:30] #1166 closed

[2019-04-18 06:56] saboor97 commented on #1166
Mr. Alex, i'll be grateful to you if you let me know that can i build a function consisting of more than one file?
let's say handler.py is my main file can i import other files which are part of the code in handler.py?
@alexellis

[2019-04-18 06:59] saboor97 commented on #1166
i have got a code of 2 files file1.py, file2.py. file1.py is main file which imports file2.py in it, file1.py code i think i'll be adding it to handler.py file  and in case of file2.py what should i do?

[2019-04-21 19:54] LucasRoesler commented on #1082
If I understand the suggestion correctly, the core of this implementation is to add a `Host` header check during the function invocation.

Given the above and reiterating some of what you said, I understand that we need to
- add a "search by annotation" to the `/system/functions`, to be implemented in the providers
- add a in-memory cache to the gateway to cache the "search by annotation"
- add a

[2019-04-23 18:05] alexellis opened #1167 "Move all Dockerfile samples to non-root user"
Move all Dockerfile samples to non-root user

## Expected Behaviour

As an OpenFaaS end-user, I want to run all samples on my OpenFaaS cluster, even with the new non-root feature enabled.

## Current Behaviour

Some functions are/were blocked which are in the samples. An example is the SentimentAnalysis function found by @LucasRoesler

## Possible Solution

I've specifically fixed SentimentAnalysi

[2019-04-23 18:07] alexellis commented on #1167
Example of what this would look like for a function:

https://github.com/openfaas/faas/commit/e903f0ef73db1533ccb2b489c450bbb2723d4842

Other functions which need edits/checking: https://github.com/openfaas/faas/tree/master/sample-functions

Where possible move samples to use the OpenFaaS templates which already use non-root.

[2019-04-23 18:15] alexellis commented on #1167
For the Webhooks stash function, make sure it only writes to `/tmp/`.

[2019-04-23 22:12] J12934 opened #1168 "Incorrect request body description for /system/alert in swagger.yml"
https://github.com/openfaas/faas/blob/e903f0ef73db1533ccb2b489c450bbb2723d4842/api-docs/swagger.yml#L93-L104

Request Body Description is labeled the same for `POST /status/alert` as for `DELETE /system/functions`

## My actions before raising this issue
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour
Request Body Description

[2019-04-24 12:45] dirkkolb commented on #776
Please add us too:

- [Website](https://traversals.com)
- [Logo](https://i2.wp.com/traversals.com/wp-content/uploads/2019/02/Traversals_Logo_2327x451.png)

[2019-04-24 13:12] alexellis commented on #776
@dirkkolb thank you. Can you let us know a bit more about your use case too?

[2019-04-24 14:01] dirkkolb commented on #776
Background for usage:
At Traversals, we use OpenFaaS for processing of incoming data. We take benefit from various programming languages available in OpenFaaS.

[2019-04-24 14:03] alexellis commented on #776
The logo is now live :tada:

Can you speak any more to this or the sector / industry? Feel free to reach out over email or Slack if that's easier. :+1:

[2019-04-24 14:16] cpanato commented on #1167
@alexellis i can take care this one

[2019-04-24 15:10] alexellis commented on #1167
Thank you @cpanato :+1: this change will also help with OpenShift users (something I didn't think of at the time)

[2019-04-24 15:10] alexellis commented on #1167
Join Slack to connect with the community
https://docs.openfaas.com

[2019-04-25 12:34] stephrobert opened #1169 "Support question: help with error stan: connection closed"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

When i submit a async call with docker log-driver to syslog

[code]

Since with log-driver set to json-file

[code]

## Expected Behaviour
Add to documentation this

[2019-04-25 13:01] #969 closed

[2019-04-25 13:02] alexellis commented on #1168
Thanks for the catch. Please can you send a PR to amend?

Note the contribution guide and how to sign off commits (note this is not GPG signing)

[2019-04-25 13:06] alexellis commented on #1169
Hi thanks for the report.

This is the first time I've heard of an error like this. Let me ping the NATS team to see if they can make a suggestion.

Feel free to look into it at your end or with your alternative logging driver (fluentd) - did you see anything in the logs of the various services?

@kozlovic do you have any thoughts?

@padiazg I believe you were using fluentd, did you get this error

[2019-04-25 13:07] alexellis commented on #1169
@stephrobert

Please can you give a list of exact (repeatable) step-by-step instructions as requested by the issue template so that anyone (especially those who don't use fluentd with your config) can reproduce the issue and/or investigate it?

[2019-04-25 13:11] alexellis commented on #1169
Just as a thought here.. doesn't GKE use fluentd? Many of us in the community have or do run OpenFaaS on GKE and don't have any issues. My suspicion is that you may have an unrelated issue caused by restarting NATS or using an old version of OpenFaaS.

[2019-04-25 15:18] kozlovic commented on #1169
@alexellis Not sure how I can help here. It is possible that the connection has been closed due to pings or that you have explicitly closed the connection and then attempt to publish or subscribe, etc..

[2019-04-25 15:46] alexellis commented on #1169
Original poster here suspects that there is some relationship between logging drivers and NATS. I and several people in the community are running NATS with fluentd without issues so wondered if you had seen anything similar before.

All the components have been updated to retry and reconnect unless a very old version is in use?

Alex

[2019-04-25 15:46] #1168 closed

[2019-04-25 20:15] stephrobert commented on #1169
After install docker with syslog as log-driver, kubernetes  and openfaas (with faas-netes) i tried to launch async function with the result said before. As we get direct log with syslog, i decided to remove syslog as log-driver and when i launched again the async function the result was ok. I repeated on another stack with the same result.

[2019-04-25 20:47] stephrobert commented on #1169
I tried on my raspberry cluster at home and i cant reproduce this issue.

[2019-04-27 06:40] LucasRoesler opened #1172 "Typos in the armhf contrib scripts for prom and alertmanager 2.7.1 and 0.16.1"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Context

In the discussion for https://github.com/openfaas/faas-netes/pull/425 we realized that we needed to create new contrib armhf builds for prometheus and a

[2019-04-27 08:18] #1172 closed

[2019-04-27 13:01] alexellis opened #1174 "Update Travis config for each project"
Updates needed due to changes due to the Docker Hub breach.

## Updated

- [x] openfaas-incubator / faas-idler
- [x] openfaas-incubator/kafka-connector
- [x] openfaas/faas-cli
- [x] openfaas/faas
- [x] openfaas/faas-netes
- [x] openfaas/nats-queue-worker
- [x] openfaas/faas-swarm

[2019-04-27 13:46] alexellis opened #1175 "Research task: OAuth2 with OpenFaaS Gateway"
Research task: OAuth2 with OpenFaaS Gateway

## Task

OAuth2 is widely used for authz for microservices, and there have been several requests (although now huge demand) for this in OpenFaaS.

This task would explore what it looks like to configure OAuth2 for an OpenFaaS Gateway deployment.

We can cover authentication with something like OAuth2Proxy for on-premises or for hybrid/public cloud perha

[2019-04-27 16:38] alexellis opened #1176 "Research task: federated gateway/provider"
## Research task

Show how one or more gateways can be federated

## Use-case

* centralised control-plane
* multi-tenancy with hard separation of workloads
* multiple providers - i.e. faas-lambda and faas-netes at the same time
* multi-region / globally distributed cluster i.e. East/West/Europe

## Expected Behaviour

As a user with access to the `faas-cli` I would contact an OpenFaaS gateway and

[2019-04-29 08:47] daikeren opened #1177 "Suggestion: multiple queues for asynchronous functions"
## Summary
Currently all async functions using only one topic `faas-request`, if we want to guarantee the level of parallelism for some function (ex. we will have at least 10 workers to process a particular function), we need multiple topic support to achieve this.

## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooti

[2019-04-29 21:21] #815 closed

[2019-05-01 11:04] zeerorg commented on #1177
I think @LucasRoesler  might be able to take a look at this when he's free. Also more details on your specific use case could be helpful.

You can get more parallelism on your async invocation by deploying more replicas of queue-worker checkout https://docs.openfaas.com/reference/async/#how-it-works

[2019-05-02 03:30] daikeren commented on #1177
Thanks for your reply.

Since nats does not support priority queue, if we to have some functions to be executed as soon as possible, one way to do this is to have a specific group of nats-queue-worker for this.

In current design, even we have multiple queue-worker, when all workers are busy, we need to wait until all jobs are consumed.

[2019-05-02 05:44] alekar commented on #1177
Can we delegate queueing to a queue-provider? Then what queue to pick can be a semantic, or configuration common to the queue-provider and queue-worker.

This also decouples the current gateway from using NATS. People could trivially plugin SQS or Kafka, which are other popular alternatives via configuration.

[2019-05-02 06:01] alekar commented on #1075
Versioning functions is important for  canary testing. In some FaaS offerings, one can achieve this with an alias which directs a percentage of traffic to a version, which is convenient. It's important to be able to dial traffic both ways on aliases to roll back.

One issue with aliases is they are out of band of the container runtime. Which suggests that the control plane needs it's own persisten

[2019-05-02 10:34] zeerorg commented on #1177
Having an ability to plug in a different queue-provider (like kafka instead of nats) could be useful. A proper proposal would certainly help in grasping the requirements.

[2019-05-02 16:05] fadams opened #1178 "Revisiting the discussion on mounting volumes in functions"
Hello,
The discussion in this thread: https://github.com/openfaas/faas/issues/320 is pretty interesting, but I've been pondering some of the arguments.

Now I can generally sympathise with the take from @alexellis and others that some use cases for this might be considered "an anti-pattern for functions which are short-lived and stateless. This will encourage stateful behavior and assumptions." ho

[2019-05-02 17:48] Coinfused commented on #167
In-memory storage has been introduced with Kong v1.1. They call it [Db-less mode](https://docs.konghq.com/1.1.x/db-less-and-declarative-config/). However, most of the authentication plugins still require postgres or cassandra.

[2019-05-02 21:08] alexellis commented on #167
Thank you for this info @coinfused 😄

[2019-05-02 21:09] alexellis commented on #1178
Duplicate of #320

[2019-05-02 21:09] alexellis commented on #1178
Thanks for your thoughts @fadams

What is your specific business use-case? Can you run us through it?

I'm going to close the issue since we already have one tracking it and don't have persistent volumes / claims on the roadmap.

[2019-05-02 21:09] #1178 closed

[2019-05-03 07:10] fadams commented on #1156
I too think that this would be useful. A FaaS platform is not just about the invocation of the functions themselves it's also about the whole lifecycle. Having what amounts to a flat namespace is all well and good when you have a fairly trivial system, but as systems become more complex and in particular when you wish to build multiple subsystems or indeed deploy multiple orthogonal systems then i

[2019-05-03 07:26] fadams commented on #1178
I thought that I'd explained the specific use-case above namely that functions based on machine learning can often depend on extremely large models of multi-giga byte size and that it is pretty much just as much of an anti-pattern to be pushing around multi-GB containers as it is mounting volumes and moreover it is very often the case that the lifecycles of model creation and model usage in ML are

[2019-05-03 07:35] alekar commented on #751
I have a couple of concerns about this proposal.

1. Streaming logs from all instances can be too voluminous to be useful at scale.
2. Making the user specify the instance-id breaks the 'serverless' semantics.

Is there a way to get logs per invocation? There are two scenarios that can be anticipated:

1. Show me logs for my current invocation.
2. Show me logs for invocation with a particular ID.

[2019-05-03 09:02] LucasRoesler commented on #751
I agree that adding an "invocation" filter makes a lot of sense and is not precluded from this design.  We should figure out a way to make it well integrated.  It should even be straight forward to attach an id and propagate it through the headers.  once the value is exposed and emitted in the logs, we can parse it and apply a filter on it.  (this is of course going to work better with ELK or in a

[2019-05-03 10:30] Snixells opened #1179 "High CPU Usage on Kubernetes when functions idle"
## Expected Behaviour
Functions should not use much CPU when not called.

## Current Behaviour
In my case every function I add uses about 5-10% CPU, even when not called.
I tried with a Kubernetes Slave without any pods. I deployed the following functions to that slave (https://raw.githubusercontent.com/openfaas/faas/master/stack.yml, from the OpenFaaS Workshop, lab2). After they are deployed my S

[2019-05-04 19:10] vielmetti commented on #639
Bringing this to @dieterreuter attention, with the Jetson Nano as a target device for experimentation.

[2019-05-04 19:22] alexellis commented on #639
@johnmccabe rebuilt his kennel to use the GPU in Docker.

[2019-05-04 21:42] vielmetti commented on #639
`docker run --device=/dev/nvhost-ctrl --device=/dev/nvhost-ctrl-gpu --device=/dev/nvhost-prof-gpu --device=/dev/nvmap --device=/dev/nvhost-gpu --device=/dev/nvhost-as-gpu -v /usr/lib/aarch64-linux-gnu/tegra:/usr/lib/aarch64-linux-gnu/tegra device_query` - successfully run per instructions from https://github.com/Technica-Corporation/Tegra-Docker

[2019-05-05 11:25] Snixells commented on #1179
When deploying with Helm changing the health-checking probes for functions solves the issue.

When running `helm upgrade openfaas --install openfaas/openfaas` add  `--set faasnetes.httpProbe=true,faasnetes.readinessProbe.periodSeconds=10,faasnetes.livenessProbe.periodSeconds=10`

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#install

[2019-05-05 11:25] #1179 closed

[2019-05-05 20:49] anmtan commented on #1125
We use dedicated nodes to run different functions. It will be great to see openfaas support Kubernetes Tolerations.

[2019-05-06 11:01] alexellis commented on #1125
Hi everyone, this is an important feature on the roadmap. From what I understand so far, a generic or one-time toleration for all functions may be suitable. We could apply this to the OpenFaaS Kubernetes controllers at deploy time.

This is also simpler to add for those who feel this is a blocking issue.

Dedicated node pools can be used with Kubernetes constraints in the stack YAML where taints h

[2019-05-06 13:28] alexellis commented on #751
The idea is that the default for development is to get logs from all pods behind the function, for production it is to use ELK or similar.

Lucas has implementations for the Kubernetes pod streaming based upon nail, which we would appreciate your direct testing on and the ELK library will be developed after that.

The feature is optional and of course you don't _have_ to use it. We do have a reque

[2019-05-06 14:58] alexellis commented on #1156
What is your use-case for "groups" of functions?

Did you hit some kind of crazy limit like 3000 functions and want better paging?

Are you actually looking for multi tenancy controls?

Is it just that you like logical organisation of stuff?

Something else?

I appreciate you are trying to solve a real problem so I'd rather start with the usecase or an actual problem than with the solution.

[2019-05-06 15:00] alexellis commented on #470
Derek close

[2019-05-06 15:01] #470 closed

[2019-05-06 15:01] alexellis commented on #470
Closing due to inactivity. IMHO the scope is too broad and should be broken down into individual items if there is any demand.

[2019-05-06 15:33] zeerorg commented on #1156
I think something like grouping could help if I'm deploying multiple pipelines in a single openfaas instance then I can have better separation of concerns between them.
Also as mentioned the UI could make use of that to better group functions. As people deploy more functions having them separate could be a good solution for power users. But it's definitely not a solution for multitenancy which I t

[2019-05-06 17:24] alexellis commented on #1156
We are currently providing multi-user in OpenFaaS Cloud. Feel free to check it out and see if it's useful for your purposes.

[2019-05-06 17:46] fadams commented on #1156
@alexellis as far as use cases go all the things that you mention and more. Basically grouping of functions along application grounds is conceptually similar to the sort of namespacing provided in many high-level languages. A simple scenario might be where one wishes to identify object type such as text, image, speech, video and have a bunch of functions in each class, sure it's possible to do thi

[2019-05-06 20:32] alexellis commented on #1169
Derek close

[2019-05-06 20:32] #1169 closed

[2019-05-06 20:33] alexellis commented on #1169
Hi, I'm closing this now, but I'll reopen if you can find a way to reproduce the error consistently.

For ad-hoc support please use Slack

Alex

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-05-06 20:35] alexellis commented on #1115
@LucasRoesler I've added this to Trello, please move the card to "In progress" when you start work on it.

[2019-05-06 20:37] kturcios commented on #1167
I'll take this one

[2019-05-06 20:40] alexellis commented on #1156
Thanks for your suggestions, what I'm really looking for is a real-life use-case to justify the feature beyond conceptual (logical) grouping.

I'm going to close this issue because It currently doesn't meet the bar for a *proposal* according to the contribution guide. It is more of a suggestion which we will continue to track and consider revisiting in the future.

Work to support multiple namespa

[2019-05-06 20:40] #1156 closed

[2019-05-06 20:41] alexellis commented on #1156
Derek add label: revisit

[2019-05-06 22:50] matipan commented on #1176
I like the idea of being able to have gateways on different zones and be able to deploy to the one where the resources the function accesses are closer. I'm not sure how helpful this will be for our users, in my case I don't really need it.

I believe that if someone out there is building a FaaS platform on top of OpenFaaS this will definitely be a somewhat necessary feature(so that their users ca

[2019-05-07 07:09] cpanato commented on #1167
@alexellis sorry for the delay, I've been busy :/
I did a first PR to check if this is in the right direction: https://github.com/openfaas/faas/pull/1181

@kturcios feel free to open PR for others sample functions as well, just let syncronize

[2019-05-07 07:11] cpanato opened #1182 "Proposal: update template image to use alpine:3.9 and Go 1.12"
Update https://github.com/openfaas/templates/blob/master/template/go/Dockerfile for example to use GO 1.12 and alpine 3.9

## My actions before raising this issue
- [x] Searched [past issues](/issues)

[2019-05-07 15:54] alexellis commented on #1182
Happy to use `alpine:3.9`, but please don't update Go right now unless it's upgrading to `1.10`.

Alex

[2019-05-07 21:39] ewilde commented on #1176
derek assign: me

[2019-05-07 21:41] ewilde commented on #1176
I'm working on a first version of this that will route functions based on annotations, will report back on this issue when I have something to show

[2019-05-07 22:59] alexellis commented on #1176
`federation.provider_name` is quite verbose. What if we used a constraint or a shorter annotation key?

[2019-05-08 15:45] alexellis commented on #1177
Hi we're talking about two different use-cases here if I am reading correctly.

1) Users are interested in having multiple topics for asynchronous work

I'm not sure that this is a correct assumption. To increase parallelism you just need to scale the queue-worker with additional replicas. This can also be driven through HPAv2 in Kubernetes making it a "no-ops" experience

If this is what you want

[2019-05-08 16:06] matipan commented on #1175
This would be really useful. Another feature that might go well with this is enabling/disabling the authentication for each function individually. Through some form of label maybe.
I recently had a conversation with a co-worker. They were looking into serverless frameworks and deciding where to go. One thing they remarked was necessary for them was this type of plugable authentication and the poss

[2019-05-08 16:13] tmiklas commented on #1175
I think it's very valuable feature, especially if we are talking about OpenFaaS in corporate environments. Where I work, any new apps deployed have to support SSO to limit and enforce who can do what... or they are out of compliance and can't move to prod, so as future- and feature-proofing this is IMvHO an excellent idea.

[2019-05-08 16:14] alexellis commented on #1175
Much of this functionality can be added for free by using an additional Authenticating API Gateway such as Kong, a plugin could be built for Kong in Lua to scan for those labels and apply authentication on each function for instance.

In my example diagram invoke is not part of the workflow, but it could be (as a separate discussion)

[2019-05-08 16:15] alexellis commented on #1175
@tmiklas I would not like to see developers deploying directly to production via their login accounts. This should be restricted to a CI/CD system. Does that change the "SSO is mandatory" requirement at all?

[2019-05-08 16:17] LucasRoesler commented on #1175
The claims part is going to be interesting, openid connect doesn't actually specify a default claim for those kind of actions https://openid.net/specs/openid-connect-core-1_0.html#Claims

Also, those types of allowed action claims are very specific to OF, so it isn't clear to me why a third party auth service would contain the information we want.  We would need to add that as a stateful component

[2019-05-08 16:29] tmiklas commented on #1175
Yes, agreed, code should be deployed ONLY through CI/CD system. Access to any console in my environment or functionality (if it can be called from the outside) still requires SSO and access rights, but that would be more of an equivalent of calling a function, rather than deploying it. Hope I explain myself better now.

[2019-05-08 17:03] alexellis commented on #1175
@LucasRoesler I had an in-person discussion with Ed and a few people in the community how their authz servers build in a custom mapping of claims to users.

@ewilde can you elaborate a bit on this when you have time?

[2019-05-08 19:16] Templum commented on #1176
I hope this is still open for some input. Overall it is a pretty interesting topic. Based on the shared use case I could see the following way of implementing it:

Extend the current implementation of the OpenFaaS Gateway to feature an [Raft Consensus](https://raft.github.io/) Algorithm. Which is used in combination with something like Zookeeper, where Gateway can register themselves and further p

[2019-05-09 08:16] CanerPatir opened #1187 "Suggestion: Async support for c# functions"
I am preparing a PoC on openfaas through using dotnet. However, I noticed that the default dotnet template does not support c#'s async/await capabilities.

For example:
[code]
Is there a way to handle async stack as below.

[code]

It seems not a big problem but growing of your code will lead to bigger problems

[2019-05-09 08:34] ewilde commented on #1175
@alexellis @LucasRoesler

I had imagined an identity server or SaaS provider like auth0 managing authentication and issuing a JWT token with a standard set of pre-defined scopes:

of:read
of:write

Potentially we could explore limiting access to functions ?
of-fn-foo:read

Then OpenFaaS gateway would verify the scopes using identity server public key that signed the JWT and determine what access t

[2019-05-09 08:40] alexellis commented on #1187
Hi @CanerPatir,

Thank you for your suggestion.

Whilst "async" has semantics with a HTTP server, this does not apply to the way the current csharp template works, it would be more applicable to the "of-watchdog".

You may want to explore some of the other csharp templates available in the template store via `faas-cli template store list`.

[code]

There is also one from @burtonr which you may wan

[2019-05-09 08:40] #1187 closed

[2019-05-09 09:10] LucasRoesler commented on #1175
@ewilde this would make the feature highly dependent on the identity service allowing the admin to store custom scopes for us, right? We couldn't use google or github as an identity service

[2019-05-09 09:14] ewilde commented on #1175
@LucasRoesler correct, you would need an identity service that allows custom scopes, it could also support social login as well (google, github). Auth0 and a number of others provide this. The advantage is that OpenFaaS doesn't need to manage users and permissions. The disadvantage might be limiting which identity services you can use

[2019-05-09 10:37] alexellis commented on #1175
I think Ed may be talking about something like this:

* https://auth0.com/docs/tokens/add-custom-claims
* https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims

[2019-05-09 12:12] cjthorpe commented on #776
Hi Alex,

Press Association is using OpenFaaS in development and production as part of our deployment pipeline.

- [PA](https://www.pressassociation.com/)
- [Logo](https://www.pressassociation.com/wp-content/uploads/2017/12/pa-logo-dec-2017.png)

I've also sent you a mail.

Thanks.

Chris Thorpe.

[2019-05-10 13:29] Jerome1337 commented on #776
Hello,

We are a french professional hoster that use OpenFaaS in dev and production inside our private extranet. We use OpenFaaS to split our historic monolith project and then simplify development/maintainability and speed up development times.

* [Website](https://www.nexylan.com/)
* [Logo](https://files.slack.com/files-pri/T0MULK35X-FJL0V1800/rose.png?pub_secret=ea50de2338)

Jérôme

[2019-05-11 15:37] flyhigh-hifi commented on #428
Should be implemented, for swarm mode it's critical feature.

[2019-05-11 16:13] alexellis commented on #428
Hi thanks for your interest in the project. Given that we are now two and a half years in with dozens of production users so I'm not sure how this is a critical feature. Having said that I would still be interested in hearing more from you if you want to raise our own issue and show us how this is critical for your own business.

[2019-05-11 16:13] alexellis commented on #428
Derek lock

[2019-05-20 13:23] xumingxue opened #1192 "Promethus"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [ ] Searched [past issues](/issues)

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI versio

[2019-05-20 13:29] xumingxue opened #1193 "Question about function duration"
I created functions that needed to last for a period of time(mostly several minutes). But I found that the duration of each function would not exceed 1 minute. Is there any option or parameter to be set to cancel this limitation?

[2019-05-20 13:31] burtonr commented on #1193
Be sure to adjust the timeout settings in both the Gateway, as well as your specific function.

Details can be found here: https://docs.openfaas.com/deployment/troubleshooting/#timeouts

[2019-05-20 13:32] burtonr commented on #1192
@xumingxue You've only created an issue with the blank template. Please either edit, and complete the template with your information/question, or close this issue. Thank you

[2019-05-20 13:34] #1192 closed

[2019-05-20 13:45] pavanagrawal123 opened #1194 "Gvisor Discussion"
I was having a discussion with @burtonr on Slack about implementing Gvisor with OpenFaas. Could be interesting as it would allow for privileged containers while still being semi-secure. Does anyone have specific thoughts on this idea?

[2019-05-20 14:20] xumingxue commented on #1193
Thank you for your reply:) I have add environment variables in the .yml file as mentioned in your link page like
...
functions:
  func:
    lang: python3
    handler: ./func
    image: mydockeraccount/func:latest
    environment:
      read_timeout: "100s"
      write_timeout: "100s"
      upstream_timeout: "90s"
      read_timeout: 100s
      write_timeout: 100s
      exec_timeout: 100s

and edit

[2019-05-20 14:30] xumingxue commented on #1193
Thank you for your quick reply:) I had a test function and added environment variables in the .yml file as mentioned in your link page like

[code]
and edited my python function like
[code]
however the function still stopped at about 1 minute. I work with openfaas deployed on minikube. Is there something I missed? Thank you!

[2019-05-20 14:33] burtonr commented on #1193
It's difficult to help any more than pointing to the docs since you had deleted the issue template that would provide the information we need in order to help. Also, you've closed this issue making it appear as though your issue was resolved and working properly.

Please read the documentation carefully and complete the issue template if you are still in need of support

[2019-05-20 14:47] xumingxue commented on #1193
I am sorry for doing that:(. Now the issue has been reopened.

[2019-05-20 16:51] i-walker opened #1195 "Template request: Kotlin with Gradle"
My workflow so far is to have a docker file which builds the gradle project and exposes the binaries to the watchdog.

What are the nessary steps, that faas-cli supports kotlin with gradle?

[2019-05-21 02:59] xumingxue opened #1196 "Question about function duration"
## Expected Behaviour

Create functions that needs to last for a period of time(e.g. several minutes or hours).

## Current Behaviour

The duration of each function cannot exceed 1 minute.

## Possible Solution and Result

Edit .yml file as mentioned in [https://docs.openfaas.com/deployment/troubleshooting/#timeouts](url)
For example, edit my python function like
[code]
And its corresponding deplo

[2019-05-21 02:59] #1193 closed

[2019-05-21 07:52] alexellis commented on #1194
To my knowledge, you can add gVisor to your Kubernetes deployment transparently. Go ahead and let us know how you get on.

In terms of the other thing you said:

Can you tell me more about how you think that would work and what problem it would solve for you?

[2019-05-22 13:52] flaviocysne commented on #146
Just as reference, I ran into this error and I'm under a corporate/firewall network. I ran the command again with the `--no-cache=true` directive and it did the work. I didn't run the `$ docker pull python:2.7-alpine` command though. Hope it helps.

[2019-05-29 08:24] menardorama opened #1206 "Question about context in functions"
Hi,

We are planning to use OpenFaaS for a faas backend on our application.

We wonder how is it possible to have an "isolated" context for each function call ?

Regarding storage for example : memory or disk ?

I don't see anything regarding this in the documentation or previous issues.

Thanks a lot, by the way it's a great product

[2019-05-29 08:46] alexellis commented on #1206
Hi,

Thank you for your interest in our work. Rather than asking for a specific technical implementation, please could we start this conversation with your use case? Tell me as much as you are able to. No confidential data is required.

Alex

Btw. OpenFaaS is a project, not a product.

[2019-05-29 09:30] menardorama commented on #1206
We are building a data lake for science and we are planning to open the application to scientists.

For that we thought that the match would be to provide a FAAS functionality in order to provide access to the stored data (in our data lake).

The whole is hosted on a Kubernetes cluster.

So we use an oauth2 server (internal to the application) and each function call have to be contextualized (ACL,

[2019-05-29 09:36] alexellis commented on #1206
I think what you're asking for by "context" is a brand-new container per invocation. This is not a supported use-case for the project.

If you'd like to have a completely isolated environment for your scientists, then I would suggest that you deploy one function per scientist.

Alternatively, take a look at OpenFaaS Cloud - https://docs.openfaas.com/openfaas-cloud/intro/

Here's an additional ques

[2019-05-29 09:36] #1206 closed

[2019-05-29 09:47] menardorama commented on #1206
I honestly don't know, I'm an Ops....

That question came initialy from our devs

But thanks for the quick feedback

[2019-05-29 12:05] alexellis commented on #1206
It would be great to hear from your developers. Do they have a spec or compliance statement we can use to understand the usecase more? One thing added recently was concurrency limiting. Perhaps we can limit to 1?

[2019-05-29 14:55] HakanL opened #1207 "MQTT Connector"
I'm looking to run OpenFaaS and trigger functions from MQTT topics (they already exist, so the name of the topics has to be completely custom). I've been doing a lot of searches and I can't find much details on any MQTT connectors for OpenFaas. MQTT is displayed in one picture in the docs, but the only relevant information I can find is to set up a connector with Kafka, but that's rather overkill

[2019-05-29 15:17] alexellis commented on #1207
Hi @HakanL,

The connectors that are available from the project and community are displayed in the docs under "triggers" https://docs.openfaas.com/reference/triggers/

You'll also see a link for how to build an MQTT connector using the OpenFaaS connector-sdk. I would suggest you either use this to build your own or reach out to OpenFaaS Ltd if you'd like to comission the work via alex@openfaas.com

[2019-05-29 15:17] alexellis commented on #1207
Derek add label: support

[2019-05-29 15:17] alexellis commented on #1207
Derek add label: question

[2019-05-29 15:23] HakanL commented on #1207
Yea that's the information I found too, but since I saw MQTT in the picture there I was surprised that nobody had implemented a connector like that before, it seems like it would be a very common use case (I may be wrong on that of course), thinking maybe I overlooked or misunderstood something. I'll look at the Connector SDK, thanks for pointing me in the right direction and I think we can close

[2019-05-29 21:38] alexellis commented on #1207
Let me know how you want to proceed.

[2019-05-29 21:38] #1207 closed

[2019-05-29 21:39] alexellis commented on #1207
I'll close the question since it's been answered now. Feel free to keep commenting or join Slack to chat to the community.

[2019-05-31 09:04] alexellis commented on #1207
You may find this interesting which is an MQTT broker written in Python:

https://github.com/alexellis/iot-sensors-mqtt-openfaas/blob/master/mqtt-broker/app.py

[2019-06-04 19:37] affix commented on #1195
You can use Faas-cli to generate a new dockerfile template and build your function using Docker, Kotlin and Gradle.

Alternatively you can create a template yourself and submit it to the template store.

You can also extend this third party template https://github.com/napperley/openfaas-kotlin-templates/ from @napperly

[2019-06-04 20:31] alexellis commented on #1195
Yes, creating a template would be ideal for this.

Is this Kotlin on JVM or "native"?

See also:

https://docs.openfaas.com/cli/templates/#get-started

https://github.com/openfaas/templates/

[2019-06-04 21:29] i-walker commented on #1195
Kotlin JVM. Ok, I'll look into it. I. get back to you, if I have something working

[2019-06-05 10:37] alexellis opened #1209 "Feature: Enable nginx-style pluggable authentication"
Feature: Enable nginx-style pluggable authentication

## Expected Behaviour

A user should be able to specify either a function endpoint or a micro-service to authenticate requests through the API Gateway.

This would extend beyond the current basic-auth validation.

This would be similar to the way Nginx implements external auth:

https://docs.nginx.com/nginx/admin-guide/security-controls/configu

[2019-06-06 07:55] alexellis commented on #1082
If you're worried about this, then I can't be doing a very good job of explaining it.

Let me try to introduce a diagram to help.

![custom-host](https://user-images.githubusercontent.com/6358735/59016126-860c2600-8838-11e9-8170-5c76e3d62037.png)

Users are unsure how to map `pay.example.com` to their function that serves that API i.e. the `pay` function mounted at `http://gateway.openfaas:8080/fu

[2019-06-06 07:58] stefanprodan commented on #1082
Maybe URL is the best representation of this feature, I would call it custom host name.

[2019-06-06 08:49] LucasRoesler commented on #1082
I like the idea of having the ingress handle host name => gateway routing.  And the diagram is really clear.

My only concern is around the caching you originally mentioned.

Would the simplest configuration be to allow the admin to pass a list of allowed host names and then allow matching functions as subdomains of those hosts?

E.g. `--allowed-host=example.com --allowed-host=team1.example.com --

[2019-06-06 19:47] alexellis commented on #1082
https://github.com/openfaas/faas/issues/1082#issuecomment-499390543

^ Yes 👍

Changed that to "custom hostname"

Here's an example of what some users are doing today:

[code]

Sample from Brian Woodward on Slack.

I don't think this would go away, but it wouldn't have the path mappings anymore.

[2019-06-07 07:52] alexellis commented on #669
Derek lock

[2019-06-07 07:54] alexellis commented on #669
A proper use-case needs to be given for such a broad architecture change to even be considered. The contribution guide lays out exactly what is required, so if someone lands here, I'd recommend you read the contribution guide and then write-up a full proposal arguing the case for why you need this feature.

[2019-06-07 07:57] alexellis commented on #1196
Hi @xumingxue it looks like you are on the right lines with your function, but perhaps you have not edited your timeouts for the gateway component? This is part of the troubleshooting documentation that you linked to.

^ you must be using one, you can't say "no"

I see you mentioned Minikube. Did you install with helm or plain YAML files?

Perhaps you can start by redeploying via helm and setting

[2019-06-07 07:57] #1196 closed

[2019-06-07 07:59] alexellis commented on #1196
After you update the gateway please consider this point.

In your example I'm not sure why you have repeated environment variables? For the python3 template it'll be the classic watchdog being used - see "Environmental overrides:" - https://github.com/openfaas/faas/tree/master/watchdog

Thanks for using OpenFaaS :pray:

[2019-06-09 18:47] alexellis opened #1215 "Enable multiple users for basic-auth plugin"
The new basic-auth plugin works from a single secret and single shared account. It could have a flag or option to read a htpasswd or a set of key/values for various users.

Pros:
* remove or revoke a single account
* give out additional access and potentially audit it

## Expected Behaviour

We should have a way to define a number of basic auth credentials.

## Current Behaviour

One shared user i

[2019-06-09 18:54] affix commented on #1215
Derek assign: me

[2019-06-09 18:55] affix commented on #1215
Derek Assign me

[2019-06-09 18:56] affix commented on #1215
Derek assign: affix

[2019-06-09 20:04] affix commented on #1215
Derek assign me

[2019-06-09 20:05] affix commented on #1215
Derek Assign me

[2019-06-09 20:05] affix commented on #1215
Derek assign: me

[2019-06-09 20:06] affix commented on #1215
Derek assign: me

[2019-06-09 20:10] affix opened #1216 "[Feature request] Add Bcrypt to basic auth plugin for logging in"
The new basic auth plugin stores secrets as Kubernetes secrets. After implementing #1215 support for BCrypt should be enabled.

Pros:
* BCrypt is secure by design
* Its easy to implement with https://godoc.org/golang.org/x/crypto/bcrypt

Expected Behaviour

We should use bcrypt to encypt user passwords

Current Behaviour

The admin password depends on cluster configuration for encryption.

Update

[2019-06-09 20:11] affix commented on #1216
Derek add label: proposal

[2019-06-09 20:12] affix commented on #1216
Derek add label: blocked

[2019-06-09 20:48] alexellis commented on #1215
I'll note it that you're working on this, but FYI assign usually only works for org members.

[2019-06-11 16:30] amlee opened #1218 "Feature request: SDK for OpenFaaS Gateway"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [ ] Searched [past issues](/issues)

OpenFaaS has support of CLI to invoke functions and interact with OpenFaaS gateway. But there is use case that the functions need to be invoke from a Java service a

[2019-06-11 20:16] ameier38 opened #1219 "Question about API / envProcess"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

I would expect the `envProcess` value to be populated in the response from `/system/function/<function name>`

## Current Behaviour

`envProc

[2019-06-11 20:41] alexellis commented on #1219
envProcess/fprocess is optional, so it will only come back if it went in via the create. There is no way to bubble up any value that has been set in the Dockerfile.

I'm not sure what the issue is? Can you try creating a deployment using the API and then show whether the value you inputted is coming back or not?

[2019-06-11 20:42] alexellis commented on #1219
Derek set title: Question about API / envProcess

[2019-06-11 20:42] alexellis commented on #1219
Derek add label: question

[2019-06-11 20:44] alexellis commented on #1219
Do you see it set on http://localhost:8080/system/functions ?

[2019-06-11 20:49] ameier38 commented on #1219
I just ran POST http://localhost:8080/system/functions with body
[code]

And the ran GET http://localhost:8080/system/function/figlet-test with response
[code]

[2019-06-11 21:06] ewilde commented on #1219
@ameier38 as you mentioned I think you are running into #848. Perhaps we can get some consensus on the way forward in #848, that should resolve the problem you are seeing

[2019-06-11 21:15] ameier38 commented on #1219
Agree, I would love to help pick up #848 but wasn't sure if this was a bug that should addressed first.

[2019-06-11 21:55] ewilde commented on #1219
@ameier38 looks like in faas-netes it's set as an environment variable during deployment here: https://github.com/openfaas/faas-netes/blob/master/handlers/deploy.go#L283

But its not read back here: https://github.com/openfaas/faas-netes/blob/master/handlers/reader.go#L93

[2019-06-11 23:53] ameier38 commented on #1219
Ahh I see now. Thanks. Sorry just started looking at the code and trying to wrap my head around how it all connects.

I think #848 would address the issue as you said. Ill close this and pick up the conversation there.

[2019-06-11 23:53] #1219 closed

[2019-06-12 01:10] ameier38 commented on #848
Hi all, I would love to help pick this back up as I am trying to use the [openfaas terraform provider](https://github.com/ewilde/terraform-provider-openfaas) but I cannot get some things in the provider to work without the information described in the this issue. What would be the next steps and where I could I help?

[2019-06-12 15:08] ameier38 commented on #848
Also related https://github.com/pulumi/pulumi-openfaas

[2019-06-13 19:38] alexellis commented on #565
@stefanprodan please could you take this on?

[2019-06-13 19:39] stefanprodan commented on #565
Yes, I'll make a v2 branch in ` faas-provider`.

[2019-06-13 20:23] hotjunfeng opened #1222 "Question: How to enable "Scaling up from zero replicas" on Kubernetes"
## Context

I have implemented OpenFaaS on Kubernetes and tried to enable "Scaling up from zero replicas" feature. According to the [document](https://docs.openfaas.com/architecture/autoscaling/) , I should set zero_scale to true for the gateway deployment using the docker-compose.yml. But the docker-compose.yml file is used for Docker Swarm and not works for Kubernetes. So how can I enable "Scali

[2019-06-13 22:36] alexellis commented on #1222
Hi there,

It's enabled by default.

Given that you've not filled out the issue, I'm going to take the issue as a question rather than a bug report or unexpected issue.

Alex

[2019-06-13 22:36] #1222 closed

[2019-06-13 22:37] alexellis commented on #1222
For technical support, please join Slack.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-14 14:38] madmagi opened #1224 "Proposal - Add existing Kubernetes support for secrets on private repositories"
## the Problem
The documentation listed at
(https://github.com/openfaas/faas-netes/blob/master/SECRETS.md)
as a way to pull images from a private repository is overly complex for basic usage.  There is a time where a custom image may make sense, but Kubernetes has the capability to use custom repositories already, it just needs to be exposed to OpenFaas.  (https://kubernetes.io/docs/tasks/configur

[2019-06-14 15:30] alexellis commented on #1224
Hi,

Thank you for your interest in the project.

I'm confused about this statement. Perhaps you could write more objectively about what exactly it is you find complex about Kubernetes secret management?

The community team have documented how to use private registries (there are two ways supported)

1) Create a registry secret per registry and attach it to the function
2) Create a registry secret

[2019-06-14 15:59] madmagi commented on #1224
Alex,

I see how option 2 can work, however, if I have a team of developers wouldn't it be better to set this as an option once and forget about it rather than having to remember to include it every time I created a new function?   I am a fan of the KISS principle, and anytime I have developers needing to constantly remember, go do x, y, and z so it works the chances of problems goes way up.

But

[2019-06-14 16:02] alexellis commented on #1224
I feel like I must be mis-communicating somehow.

Option 2 is exactly what you've asked for.

It sets up a pull secret in the cluster and means developers need to do nothing. Can you at least try it before dismissing it?

Alex

[2019-06-14 16:03] alexellis commented on #1224
Pinging @stefanprodan  @LucasRoesler

[2019-06-14 16:06] madmagi commented on #1224
I am testing as we type :) .  Thanks for your quick response.

[2019-06-14 16:30] madmagi commented on #1224
yup as you expected, I was the obtuse one.  Works like a charm.

[2019-06-14 16:33] madmagi commented on #1224
Just a side note, IF running docker for windows, it installs an old kubectl which causes an issue with this process.  Once I upgraded kubectl it worked.

Thanks.

[2019-06-14 16:39] #1224 closed

[2019-06-14 17:08] alexellis commented on #1224
Thank you for the feedback. There is a note on this in the openfaas/workshop project, which I would encourage you to try out.

If you need technical support again, please join Slack.

Have a great weekend.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-14 17:48] strahe opened #1225 "Cant't deploy function from private repository via API"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

When I deploy a function via the API(`

[2019-06-16 09:03] LucasRoesler commented on #848
@ameier38 the steps you layout look good and if we just extend the current model with the missing fields per https://github.com/openfaas/faas/issues/848#issuecomment-423802184 then it should be straightforward and compatible with the current implementations.

[2019-06-16 09:58] alexellis commented on #848
We will be discussing this issue in our next members call. Will let you know where we get.

[2019-06-16 14:26] alexellis commented on #1225
Hi @strahe, thanks for your interest in the project.

I'm unaware of any issues with our code for using private registries so I'm going to close this issue.

Here are the instructions for deploying from a private repository on Kubernetes - https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-kubernetes

Feel free to continue commenting, after you have shown that you have A)

[2019-06-16 14:26] #1225 closed

[2019-06-16 14:31] alexellis commented on #1209
Derek close: released and available from 0.13.9 and onwards

[2019-06-16 14:31] #1209 closed

[2019-06-16 14:41] burtonr commented on #890
Thinking about maintaining that information, would it make sense to have the store functions include a `howto.md` file in the repo.

That could then be used to display in a modal window in the UI. It would keep the information with the code, and keep the store.json file readable. Maybe add a `includesHowTo: true` property that would show the link?

Alternatively, the additional field could be used

[2019-06-17 21:57] hotjunfeng commented on #979
Is there any update for this issue? Thanks.

[2019-06-17 22:55] alexellis commented on #979
@hotjunfeng there's a new version of faas-idler which you can take from @rgee0.

[2019-06-18 10:15] alexellis commented on #1017
@teo-chenglim do you think you could write this up on the OpenFaaS blog or perhaps on your own?

Alex

[2019-06-18 10:16] alexellis commented on #879
Derek lock: old thread

[2019-06-18 10:22] alexellis commented on #1194
Derek close: due to inactivity. @pavanagrawal123 feel free to discuss further on Slack

[2019-06-18 10:22] #1194 closed

[2019-06-18 10:23] alexellis commented on #1195
@i-walker I don't have anything for you right now, but you can use the Java template since it's geared-up for the JVM and then adapt it for Kotlin:

https://github.com/openfaas/templates/tree/master/template/java8

Alex

[2019-06-18 10:23] #1182 closed

[2019-06-18 10:24] #1174 closed

[2019-06-18 10:25] alexellis commented on #1115
Hi Lucas,

Who is going to work on this? It's been open since March without any progress, so should I close it?

Alex

[2019-06-18 10:25] alexellis commented on #1145
@zeerorg please could you provide an update?

[2019-06-18 10:25] alexellis commented on #1099
Where are we with this @martindekov  ?

[2019-06-18 10:26] #994 closed

[2019-06-18 10:26] alexellis commented on #860
@ewilde Given that we've had no updates since January I'm closing this issue.

Feel free to open a new one if you need it.

[2019-06-18 10:26] #860 closed

[2019-06-18 10:27] alexellis commented on #1148
@zeerorg where are we on this? If you're stalled, please send this issue into the contributors channel, perhaps someone else could take it?

[2019-06-18 10:28] alexellis commented on #848
Related work: https://github.com/openfaas/faas/issues/784

^ this may allow for "exporting" of functions.

[2019-06-18 10:32] alexellis commented on #848
Part of the challenge with this issue is that we encode the "missing" data in the container spec, so limits/requests are parsed and then implemented on the spec.

It's possible that we could do a non-lossy conversion back, but it's more likely that to achieve this what we really need to do is to store the JSON that was used to create / update the function.

i.e.

[code]

The above would be put int

[2019-06-18 11:21] martindekov commented on #1099
I took the part of the creation of the json file. I believe @viveksyngh took the part of the cli and @burtonr took the UI part? Otherwise the comment

was amended to the the [merged](https://github.com/openfaas/store/pull/63) PR

[2019-06-18 11:28] alexellis commented on #1099
@burtonr @viveksyngh do you have updates please?

[2019-06-18 12:39] viveksyngh commented on #1099
I have this PR .. I need to address some of the review comments. Also It has some conflicts, So I will rebase it.

https://github.com/openfaas/faas-cli/pull/620

[2019-06-18 12:50] burtonr commented on #1099
I don't have an update for this as there are comments on #1145  from @zeerorg indicating he would be working on it. Although there hasn't been an update in a while...

[2019-06-18 14:30] alexellis commented on #1099
I think @zeerorg may be away, @burtonr could you run with this?

[2019-06-18 15:24] burtonr commented on #1099
Sure thing!

[2019-06-18 16:47] zeerorg commented on #1145
This has been completed and merged in PR #1153

[2019-06-18 16:50] zeerorg commented on #1145
Derek close

[2019-06-18 16:50] #1145 closed

[2019-06-18 19:13] ewilde commented on #848
@ameier38 we discussed this issue at our members meeting this evening on zoom. @alexellis suggested again the approach in the [above comment](https://github.com/openfaas/faas/issues/848#issuecomment-503047287).

Openfaas-operator is already serialising the full function specification in an annotation see: [deployment.go#L183](https://github.com/openfaas-incubator/openfaas-operator/blob/master/pkg/

[2019-06-18 20:49] alexellis commented on #848
Thoughts on this?

[2019-06-18 22:42] GabrielAraujo commented on #1075
One thing to consider is the faas is widely recommended for mobile backend..

If I have an endpoint that is already implemented in the app and due to some design changes we had to change the scheme of the body response I can't just overlap the function with the new one, I have to version it by using `/v1/..` and `/v2/..` on its path.

The only way it can be done now in openfaas is by using another

[2019-06-18 23:17] hotjunfeng commented on #979
@alexellis I found that the new version of @rgee0 has been merged to [faas-idler](https://github.com/openfaas-incubator/faas-idler). I have run the latest version but it still does not work. In other words, my function can not scale to zero when there is no request for some time.

[2019-06-19 01:22] ameier38 commented on #848
@alexellis  Could [`faas.requests.Function`](https://github.com/openfaas/faas/blob/master/gateway/requests/requests.go#L63) be refactored into something like:
[code]

[As you mentioned](https://github.com/openfaas/faas/issues/848#issuecomment-503047287) we could create an annotation by serializing `CreateFunctionRequest`. This could then be used to populate `FunctionResponse` when requesting a fun

[2019-06-19 07:36] alexellis commented on #979
Which specific version did you use? Richard tests all his changes thoroughly, so I would be surprised if that were the case.

[2019-06-19 09:39] zeerorg commented on #1099
The UI part was done in PR https://github.com/openfaas/faas/pull/1153 which was merged a while back

[2019-06-19 09:49] MarcusNoble commented on #1082
This sounds pretty much like what I'm looking for but I'm curious as to why the Ingress points to the gateway service rather than directly at the functions service? My guess is it's something to do with the scale to zero behaviour?

The way I had envisioned it was you have a function defined something like this:

[code]

When this is created in Kubernetes this code (https://github.com/openfaas/faa

[2019-06-19 22:03] hotjunfeng commented on #979
@alexellis The specific version is:

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):
[code]

* Docker version `docker version` (e.g. Docker 17.0.05 ):
[code]
* Are you using Docker Swarm or Kubernetes (FaaS-netes)?
[code]
* Operating System and version (e.g. Linux, Windows, MacOS):
Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-150-generic x86_64)

* Code example or link to

[2019-06-20 08:14] alexellis commented on #1082
I would suggest you have a look at how OpenFaaS Cloud works, it may be suitable for your use-case.

* [edge-router](https://github.com/openfaas/openfaas-cloud/tree/master/edge-router) - subdomain per user, could be adapted to sub-domain per function
* [conceptual architecture diagram](https://github.com/openfaas/openfaas-cloud#conceptual-architecture-diagram)

1-1 mapping between functions and Kub

[2019-06-20 16:19] alexellis commented on #657
Hi @sheryever you can run for 3-5 mins, no problems. Threads are also fair game. 👍

I don't think you need what I'm calling *long-running jobs* for that.

Alex

[2019-06-21 07:36] alexellis commented on #1175
I have an e2e workflow for the OpenFaaS UI / gateway using a [Cookie and code grant](https://oauth.net/2/grant-types/authorization-code/)

https://gist.github.com/alexellis/117301462366cc7cdb6aa7a9237d371d

And work underway for the CLI using a Bearer token and [implicit flow](https://oauth.net/2/grant-types/implicit/). [PKCE](https://oauth.net/2/pkce/) can be added after this for those auth provi

[2019-06-21 07:44] alexellis commented on #1175
In terms of authz, @LucasRoesler and I think the lowest common denominator may be a subject whitelisting approach.

The subject is generally unique and corresponds to an identifier for the user in the IDP. So in GitLab, my `sub` may be `2` and Lucas may be `3` with Darren being `4`.

[code]

The above would allow myself and Lucas access and deny Darren.

[2019-06-21 08:57] MarcusNoble commented on #1082
Ah yes! This is actually all we need. Thanks!

[2019-06-23 07:43] alexellis opened #1231 "Automatic builds for auth-module and for arm"
## Task

Automatic builds for auth-module on x86_64 (via Travis) and on-demand on-device for arm via `publish.sh`

The basic-auth module is not built or pushed upon 'tag' / 'release' of the faas repo, but it should be:

https://github.com/openfaas/faas/tree/master/auth

We also don't create on-device images for this, but should do for both armhf and arm64.

https://github.com/openfaas/faas/blob/ma

[2019-06-23 07:48] rgee0 commented on #1231
Derek assign: me

[2019-06-23 07:51] alexellis commented on #1231
For the x86_64 piece in https://github.com/openfaas/faas/blob/master/build.sh

I would expect something like:

[code]

Then an extra `docker push` in the travis file.

[2019-06-23 07:52] alexellis commented on #1231
The arm parts work through specific Makefile instructions that call the same sort of build scripts:

https://github.com/openfaas/faas/blob/master/Makefile#L16

So perhaps this:

[code]

would look more like:

[code]

[2019-06-23 07:58] feiniao0308 opened #1232 "Add mount nfs server support to function container"
We have a lot of utilities and libraries stored in an internal NFS server which is maintained by other teams. To write a function, we need to call some libraries from the NFS server. But looks like current function container does not support to mount external NFS server to the container.

I'd like to request this feature support since I'm only blocked by this feature to use OpenFaaS in my project.

[2019-06-23 08:00] feiniao0308 commented on #1232
@alexellis could you please help it? Any way i can workaround it?

[2019-06-23 08:04] alexellis commented on #1232
Please can you fill out the whole issue template? We'll need all the information to make a decision.

[2019-06-23 08:05] alexellis commented on #1232
[code]

[2019-06-23 08:16] feiniao0308 commented on #1232
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [ ] Searched [past issues](/issues)

We have a lot of utilities and libraries stored in an internal NFS server which is maintained by other teams. To write a function, we need to call some libraries fr

[2019-06-23 08:18] feiniao0308 commented on #1232
Thanks @alexellis for the quick response. Just update the issue template. Thanks a lot.

[2019-06-23 08:21] alexellis commented on #1232
You must fill in everything. Looks like you missed the last section.

[2019-06-23 08:26] feiniao0308 commented on #1232
Updated @alexellis :-)

[2019-06-23 13:56] alexellis commented on #1232
Can you give a sample and the error you received?

[2019-06-23 15:50] stefanprodan commented on #1232
You could put those libraries in a container image and use that as the base image for your functions. This approach would allow you to version the libraries and migrate you functions independently between versions.

[2019-06-23 15:51] alexellis commented on #1232
I'd like to see the error. Does this involve mounting a filesystem for instance?

[2019-06-23 17:05] feiniao0308 commented on #1232
@stefanprodan Since the libraries are stored in external NFS server, and they linked to different libraries in the same NFS server. I cannot just extract part of libraries from the NFS server and move them into base image. Also the utitlie libraries are maintained by other teams, the libraries are updated frequently. To keep to use the latest stable libraries, we need to mount the NFS server as a

[2019-06-23 17:10] feiniao0308 commented on #1232
@alexellis there's no way to mount external NFS server as a volume to function container, so no any error. I'm blocked by how I can access the libraries stored in the NFS server. To implement the function, I need call the libraries to access internal resources.

[2019-06-23 17:43] alexellis commented on #1232
At this time we have no plans to add volume mounts for function containers.

Please see the following related issue: https://github.com/openfaas/faas/issues/320

That said, I think we could still help you.

The storage story for functions is normally to utilise SQL, no-sql or s3 (for instance AWS, Ceph, or Minio). I would suggest that you set up a Minio server and have it mirror the NFS server.

T

[2019-06-23 17:43] #1232 closed

[2019-06-23 17:43] alexellis commented on #1232
/add label: wontfix

[2019-06-23 17:55] feiniao0308 commented on #1232
Thanks @alexellis . Does jaas suppor to run against kubernetes?

[2019-06-23 19:39] #1231 closed

[2019-06-26 07:30] LucasRoesler commented on #1115
I am not going to be able to work on this any time soon

[2019-06-26 07:30] #1115 closed

[2019-06-26 08:41] alexellis commented on #1176
Derek close: https://github.com/openfaas-incubator

[2019-06-26 08:41] #1176 closed

[2019-06-26 08:41] alexellis commented on #1176
Thanks for your input @Templum - please see the upstream repo that we put together with @ewilde

[2019-06-26 08:42] alexellis commented on #1167
@ivanayov @kturcios any interest from either of you in continuing this work?

[2019-06-26 08:43] alexellis commented on #1148
@zeerorg what's the status of this? Can you have something ready by Friday or should we find another volunteer?

[2019-06-26 08:45] alexellis commented on #1082
I've started some work on this and would love feedback:

https://github.com/openfaas-incubator/ingress-operator

[2019-06-26 08:46] alexellis commented on #802
/close: inactive

[2019-06-26 08:46] #802 closed

[2019-06-26 08:47] alexellis commented on #563
/close: inactive

[2019-06-26 08:47] #563 closed

[2019-06-26 08:47] ivanayov commented on #1148
I can work on this

[2019-06-26 08:48] alexellis commented on #782
The first middleware is available for authentication:

https://github.com/openfaas/faas/tree/master/auth

[2019-06-26 08:48] alexellis commented on #344
/close: inactive

[2019-06-26 08:48] #344 closed

[2019-06-26 08:49] alexellis commented on #446
:+1: great suggestion.

We have Istio + Linkerd2 tutorials now which can both enable mTLS:

https://docs.openfaas.com/tutorials/featured/#service-mesh

Perhaps consul-connect could be next?

Alex

[2019-06-26 08:49] alexellis commented on #446
/close

[2019-06-26 08:49] #446 closed

[2019-06-26 08:49] paurosello commented on #1167
I can help on this, will open PR as soon as posible

[2019-06-26 08:50] alexellis commented on #565
@stefanprodan please can you do what is effectively a 1.x branch where the only work we do is to move the types without changing them?

Then we can get to the v2 after that. :+1:

Alex

[2019-06-26 08:51] alexellis commented on #1148
Thank you :tada:

[2019-06-26 08:52] alexellis commented on #1148
Do you have any questions?

How long do you think it will take and what would be a good date to circle back and review your PR?

[2019-06-26 08:52] alexellis commented on #1167
Thank you @paurosello that is great to hear.

Whilst inside the Dockerfiles it would be ideal if you can also change from using `curl` to get the watchdog, to using the new approach such as: https://github.com/openfaas/faas/blob/master/sample-functions/AlpineFunction/Dockerfile#L1

[2019-06-26 08:56] ivanayov commented on #1148
I will take a look this afternoon and write back if there're any blockers and give estimates. Seems pretty straightforward from first sight.

[2019-06-26 09:00] alexellis commented on #848
I think this is also related: https://github.com/openfaas/faas/issues/565

[2019-06-26 09:43] MarcusNoble commented on #1082
@alexellis Do you want feedback here on this issue or should I open issue on that repo?

[2019-06-26 09:44] alexellis commented on #1082
Slack would be ideal in the #kubernetes channel.

[2019-06-26 10:04] zeerorg opened #1235 "Move to multi-arch images for prometheus and alertmanager"
Prometheus and alertmanager have published Multi arch images, Move armv7 images from arm tag to multi arch tags.

## Checklist:
- [x] x86_64(https://github.com/openfaas/faas/commit/9690987319a9906d2863c93eee8634f78e6aa0b6)
- [x] armhf (https://github.com/openfaas/faas/commit/9690987319a9906d2863c93eee8634f78e6aa0b6)
- [x] arm64 (https://github.com/openfaas/faas/commit/9690987319a9906d2863c93eee863

[2019-06-26 14:30] alexellis commented on #1148
Thank you @ivanayov

[2019-06-26 14:41] alexellis commented on #848
Do you think all of the data inputted can be retrieved from Kubernetes and Swarm objects, or is using an annotation the only way to make this work reliably?

[2019-06-26 18:52] LucasRoesler commented on #848
I think everything in https://github.com/openfaas/faas/issues/848#issuecomment-503369088 except `InvocationCount` could come from the k8s/swarm objects

[2019-06-26 20:59] ameier38 commented on #848
@LucasRoesler I checked the k8s Deployment type and I think you are right. I also like the idea of just pulling the info from the pod.

Given that, I don't think we would need to update `faas.request.Function` but rather create a new type in faas-netes/faas-swarm, say `FunctionSpec`, with `Function` embeded plus the additional fields. We could then use `FunctionSpec` [here](https://github.com/open

[2019-06-27 05:55] feiniao0308 opened #1238 "Feature: add privileged supported in function"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Expose option privileged to function, so that the function owner can decide if enable privileged or not.

## Expected Behaviour
Able to configure privileged in func

[2019-06-27 10:09] alexellis commented on #1238
Hi thank you for your interest in the project.

Please could you elaborate and give some concrete examples about why you need privileged containers for your functions?

Alex

[2019-06-27 12:05] LucasRoesler commented on #848
@ameier38 i am not sure about using an embedding, but passing around `FunctionSpec` sounds like a good idea to me

[2019-06-28 07:29] ewilde opened #1241 "Go modules support for templates"
## Summary
Add support for Go modules that preserves backwards compatibility

## Proposal
In order to preserve backwards compatibility

- Go module support would be `off` by default

Support for Go modules would be accessed using a [build arguments](https://docs.openfaas.com/cli/build/#30-pass-custom-build-arguments) i.e. `--build-arg gomodule=on`

## Reference

https://github.com/matipan/openfaas

[2019-06-28 13:00] alexellis commented on #1082
The `FunctionIngress` CRD is now documented at: https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/

[2019-06-28 16:57] alexellis commented on #657
Some of the constraints I'm hearing from users:

- run for up to several hours
- status can be checked
- can be cancelled
- new version can be scheduled without cancelling the existing versions executing

Assumed, but need users to confirm:
- uses or looks like a function
- invoked or scheduled in a similar way to a function

A thin wrapper around a Kubernetes Job, or clear documentation on this u

[2019-06-28 18:31] lihaiswu commented on #657
I'd like to add my user case. We have many teams use different automation frameworks with different language.

1. To schedule the tests, we'd like to treat each framework as a function. When there's a new available build, we can just invoke all functions by passing related parameters. Each test may running for several hours

2. When there's code change to the framework and merged, it'll update the

[2019-06-28 18:35] feiniao0308 commented on #1238
Since function cannot support mount volume to the container. I just want to understand if openfass can expose privileged option to the container, so that function owner can take the risk to mount external nfs as needed. Thanks!

[2019-06-28 18:51] alexellis commented on #1238
Could you answer my original question please?

[2019-06-28 19:42] feiniao0308 commented on #1238
Some command/libraries in another shared NFS server, the host name is shared-tools

To implement a function, we need to call the command/libraries. Suppose the command/libraries cannot be move to s3 or minio. In the function container, I need to do:

- mount -t nfs shared-tools:/common /tool/common -o nolock
- /tool/common/bin/xyz argument ...

For above mount command, it requires container has pr

[2019-06-28 20:46] alexellis commented on #1238
I would not recommend using OpenFaaS to schedule containers that are privileged and I think we are unlikely to add that option at present due to the security risks it presents. We have already discussed volume support in #1232 which appears to be what this request is about.

I think you may be served better by using a [Kubernetes Job](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-

[2019-06-28 20:46] #1238 closed

[2019-06-28 20:47] alexellis commented on #1241
Having met with Lucas, Stefan, yourself and Bruno from your team, we decided to go ahead with this change.

It should cover the docs, go template and the two HTTP-golang templates.

Alex

[2019-06-28 21:42] burtonr commented on #657
This is an intriguing problem... more than a couple use cases being described here, but as Alex pointed out, there are some high level similarities/requirements.

Just thinking out loud about this, I can't think of how we would "know" that a function is still executing. Perhaps a "status" function available in the OF core to receive messages from functions. I'm thinking like setting a variable on

[2019-06-29 07:32] LucasRoesler commented on #657
What about a `batch` mode in the of-watchdog.  This would run the function method to finish and then stop. This would make it easy to use the same image as a function of the image in an Argo workflow / k8s job / etc.

By default the watchdog could just send an "empty" request.  But it could also accept a file path and parse any of the files as requests, one at a time, to the method. The response w

[2019-06-29 09:13] alexellis commented on #1235
Hi @zeerorg you'll need to cover .arm64 too and also the regular docker-compose.yml so that we are on the same version on all YAML files.

[2019-06-29 09:15] alexellis commented on #1219
@ameier38 please can you try reading back the env-var from the container spec? I am not sure if it will be available, but you could try?

If you are not sure where to start please ask in #contributors.

Alex

[2019-06-30 10:47] LucasRoesler commented on #657
@alexellis is the goal that "functions" should be compatible with batch jobs, e.g. take an openfaas function and run it in Argo/pure k8s jobs/kubeflow/etc or is it that we want to create another job system in which we will take any docker image that exposes the "function interface" of a server on 8080 and then run it as a one time job?

[2019-06-30 11:46] alexellis commented on #657
That is a good question. Maybe it will be both?

What do our users need?

[2019-07-01 10:31] strahe opened #1243 "invocationCount is always 0"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

When I get the function information th

[2019-07-01 10:38] #1243 closed

[2019-07-01 10:38] alexellis commented on #1243
Hi just to let you know that this is as designed

The invocation count is available through the list API.

Alex

[2019-07-01 10:47] alexellis commented on #1243
I would recommend retrieving your metrics from Prometheus, especially if you are querying a lot of data.

We may update the rest API so that it outputs null instead of zero

[2019-07-01 11:15] srisco commented on #657
Hi, I've been working on different use cases involving long-running batch jobs and these are my thoughts.

After trying different scaling configurations with asyncronous invokations, mainly based on CPU consumption and increasing the number of replicas of the queue-worker, my colleagues and I came to the conclusion that it was more convenient to use kubernetes jobs. However, we wanted to take adva

[2019-07-01 23:22] leesera opened #1244 "[Question] how to add a host device to the deployed container?"
## Expected Behaviour

There is a '--device' option at "docker run" command for passing a host device to a container
Specific command I want to execute is
`docker run -it --device=/dev/isgx -v /var/run/aesmd/aesm.socket:/var/run/aesmd/aesm.socket image_name`

I am sorry that I can't find that option when I try to deploy my image with `faas-cli`

thank you

[2019-07-02 07:25] alexellis commented on #1244
Hi @leesera

Thank you for your interest in the project. Mounting devices and volumes is not in scope for the OpenFaaS roadmap at present.

I would recommend that you either use a Kubernetes Job, or build a microservice which binds the devices you require, then invoke that via a function. This would effectively become a `DaemonSet` on each node and a function could invoke it that way.

I'm going t

[2019-07-02 07:25] #1244 closed

[2019-07-02 10:58] bmcstdio commented on #1241
Linking https://github.com/openfaas-incubator/golang-http-template/pull/24.

[2019-07-03 17:28] alexellis opened #1246 "Story: OpenFaaS SDKs for each language"
## Story: OpenFaaS SDKs for each language

Since this will be a big piece of work and potentially involve multiple languages and features, I'm calling it a *Story*.

## Use-case

We have been asked 4-5 times in as many months for an SDK for Java which can be used to integrate with the OpenFaaS API. This aligns well with the developers-first value of OpenFaaS and the mission: Serverless Functions M

[2019-07-03 17:38] burtonr commented on #1246
What would the SDK _do_?

I'm thinking we would essentially copy the functionality in the CLI that interacts with already deployed functions: `invoke`, `list`, `describe`, etc...

I don't think it would make much sense to include the `new` or `template` functionality since that's more operational, not functional.

Should the SDK enable users to interact with functions that are deployed, or would i

[2019-07-03 17:41] alexellis commented on #1246
We could start with?

1) Invoke (top priority, and no auth needed)
2) CRUD (auth required)
3) List / deploy via Function Store

Another way of looking at it - what would a team in your org need to do in order to integrate with your OpenFaaS functions that were developed in your team?

Alex

[2019-07-04 07:05] ewilde commented on #1246
- Read secrets?

[2019-07-04 07:06] martindekov commented on #1246
So by SDK we want to have means to communicate with the API through code?

I am asking as my first impression was SDK for developing providers, like we do with the faas-provider but on different languages.

Otherwise I am interested in taking a part of this.

[2019-07-04 07:17] stefanprodan commented on #1246
Has anyone tried using Swagger to generate the API clients?

[2019-07-04 07:46] alexellis commented on #848
I would like to see this approached iteratively - we can start with fixing `envProcess` whilst we figure out the game-plan for the bigger picture (not trivial by the looks of it)

[2019-07-04 07:46] alexellis commented on #848
@ameier38 agreed to put up a PR to fix faas-netes reading the envProcess. Let us know when that's ready for review.

[2019-07-04 10:43] LucasRoesler commented on #1246
@stefanprodan we use swagger and the code generator here at work and .... it leaves a lot to be desired, unfortunately. But, I think our spec is relatively simple and straightforward, so it might actually be good enough.

[2019-07-04 14:31] alexellis commented on #1246
Given the generated SDK I saw for Java and how simple our API is, I would recommend a first class implementation in each language.

[2019-07-04 16:39] viveksyngh commented on #1246
I think these SDKs will be useful if we someone is building something and orchestrating openfaas system's API rather than using our CLI or UI. For invoking the deployed function the http client code will be relatively simple, do we need an SDK for that ?

[2019-07-05 13:02] BTony95 opened #1247 "Java application can't read file from Resources"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour
I am currently experimenting with Openfaas and Java. I made a simple function to check the body of an HTTP call against a JSON schema.This JSO

[2019-07-05 15:33] alexellis commented on #1095
Derek lock

[2019-07-06 09:23] alexellis commented on #979
@rgee0 PTAL

[2019-07-06 09:48] LucasRoesler opened #1248 "Document goleak usage for contributors"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

The contribution guide should document the usage of this third party library in unit tests

## Current Behaviour

There are no docs

## Possi

[2019-07-06 10:42] alexellis commented on #565
I've opened up this issue to represent the moving of packages as a 1.x refactor - https://github.com/openfaas/faas-provider/issues/22

[2019-07-08 18:30] gabrielsson opened #1250 "Broken link in swagger documentation"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

The swagger documentation for /async-function/{functionName}
links to deprecated documentation faas/guide

## Expected Behaviour

It should point to

https://docs.o

[2019-07-09 14:19] #1250 closed

[2019-07-09 14:24] alexellis commented on #1250
Thank you for fixing this!

[2019-07-11 21:20] #1248 closed

[2019-07-16 21:14] aklyachkin opened #1257 "Proposal: Add ppc64le support"
I would like to see support for Linux/ppc64le architecture in OpenFaaS.

What I saw till now it should be quite easy task. I didn't test it, but compilation of almost everything went without any problems. I plan to try out what I compiled till now this or next week.

## Expected Behaviour
OpenFaaS works on Linux/ppc64le

## Current Behaviour
OpenFaaS doesn't work on Linux/ppc64le

## Your Environm

[2019-07-16 21:25] alexellis commented on #1257
Thanks for raising this issue. I would think that complication should be relatively straightforward. I'm not aware of any contributors with access to equipment, so testing, support and debugging would be a challenge.

Here are some of the component parts:

https://docs.openfaas.com/contributing/get-started/#openfaas

What kind of involvement or support are you looking for from the project? I notic

[2019-07-16 21:41] aklyachkin commented on #1257
As for now I would like just to push necessary changes to support the platform a "clean" build as far as I can and as near to the original as it possible. That's why I made first PRs to some components used in OpenFaaS:

* https://github.com/teamserverless/license-check/pull/9
* https://github.com/openfaas-incubator/faas-idler/pull/29
* https://github.com/openfaas/nats-queue-worker/pull/63

In my

[2019-07-17 08:28] alexellis commented on #1257
I think there are potentially up to 20 +/- projects (excluding templates) that you may need to rebuild for your architecture. See a complete list at: https://docs.openfaas.com/contributing/get-started/#openfaas

What the difference between s390x and ppc64le? I've had one of your colleagues send a PR to add a binary for s390x to the license-check component. Is this the same thing in other words, or

[2019-07-17 08:29] alexellis commented on #1257
Related PRs:

https://github.com/teamserverless/license-check/pull/6
https://github.com/teamserverless/license-check/pull/9

[2019-07-17 08:33] alexellis commented on #1257
I would suggest that you may also need faas-cli / watchdog / of-watchdog in addition to the server-side components.

How far do you want to go with the experiment before reviewing whether to submit upstream patches to every component? Is there a way or place where the OpenFaaS community can test the patches or test new, breaking changes against the ppc64le platform?

[2019-07-17 08:34] alexellis commented on #1257
https://github.com/openfaas/nats-queue-worker/issues/62
https://github.com/openfaas-incubator/faas-idler/pull/29

[2019-07-17 08:45] alexellis commented on #1257
@aklyachkin see the binary release here that you requested: https://github.com/teamserverless/license-check/releases/tag/0.3.2

[2019-07-17 08:48] aklyachkin commented on #1257
1. I'm not from IBM and I don't know anybody from IBM interesting in this project.

2. s390x and ppc64le are two different platforms. s390x is IBM Z mainframe hardware and ppc64le is little-endian Linux running on IBM Power Systems. I don't have access to s390x, so it is out of scope for me. I recently learned some people who are running Kubernetes on s390x, but they didn't show interest on OpenFa

[2019-07-17 08:55] alexellis commented on #1257
1. I hope they will comment on this thread and introduce themselves. You all appear to be interested in the same result.
2. Thanks for clearing that up. @imdurgadas requested both and Rishi requested just ppc64le
3. For ppc64le to run server-side, you may also need to patch the watchdog and of-watchdog. You can use the faas-cli for x86_64. You should also look at the templates and how they are con

[2019-07-17 08:57] alexellis commented on #1257
I believe Rishi from the IBM enablement team was trying to get [OpenFaaS Cloud](https://github.com/openfaas/openfaas-cloud working) - which would of course also include OpenFaaS (this issue)

[2019-07-17 09:05] #1148 closed

[2019-07-17 10:40] aklyachkin commented on #1257
Pull request https://github.com/openfaas/faas/pull/1258

As you can see Dockerfile for gateway is absolute identical for amd64 and ppc64le.

[2019-07-17 10:41] aklyachkin commented on #1257
I checked also faas-cli. There is no single change needed to compile it on ppc64le.

[2019-07-17 13:09] aklyachkin commented on #1257
At least the most easiest function works:

[code]

[2019-07-17 13:30] alexellis commented on #1257
Somehow I can only see up to `Step 25/29 : USER app` on mobile

[2019-07-17 13:31] alexellis commented on #1257
https://github.com/openfaas/faas/issues/1257#issuecomment-512201195

Any need for a dockerfile then?

[2019-07-17 13:36] aklyachkin commented on #1257
Not really. I needed it first because of license-check. Now I think I can drop it away and it will compile anyway.

[2019-07-17 13:54] aklyachkin commented on #1257
yes, it compiles:

[code]

I change the PR (if I can...)

[2019-07-17 13:59] aklyachkin commented on #1257
I have no clue about NodeJS, but new watchdog and https://github.com/openfaas-incubator/node10-express-template/ work like a charm on ppc64le with small corrections.

[code]

[2019-07-17 14:04] aklyachkin commented on #1257
Pull request for of-watchdog https://github.com/openfaas-incubator/of-watchdog/pull/69

[2019-07-17 14:09] aklyachkin commented on #1257
<img width="1432" alt="Bildschirmfoto 2019-07-17 um 16 08 20" src="https://user-images.githubusercontent.com/3786052/61382511-35fb9700-a8ad-11e9-92d7-0392f028e03d.png">

[2019-07-17 14:26] aklyachkin commented on #1257
wow. it works too - https://github.com/openfaas/workshop/blob/master/lab9.md

[root@k8s faas-ppc64le]# faas-cli list
Function                      	Invocations    	Replicas
go-echo                       	10000          	5
hello-node-ppc64le            	2              	1
hello-ppc64le                 	4              	1

<img width="1423" alt="Bildschirmfoto 2019-07-17 um 16 24 13" src="https://user

[2019-07-17 15:44] alexellis commented on #1257
Is there a way project contributors can access Power environments free of cost?

[2019-07-17 15:52] aklyachkin commented on #1257
2 open alternatives I know:

* http://openpower.ic.unicamp.br/minicloud/
* https://developer.ibm.com/linuxonpower/cloud-resources/

[2019-07-17 17:39] alexellis commented on #1192
/add label: invalid

[2019-07-19 08:00] alexellis commented on #1218
Related to: https://github.com/openfaas/faas/issues/1246

[2019-07-21 14:31] alexellis commented on #1241
@bmcstdio do you have an update on your progress?

[2019-07-21 14:31] alexellis commented on #1195
/message: slack

[2019-07-21 14:37] alexellis commented on #1195
/msg: slack

[2019-07-21 14:38] alexellis commented on #1248
Thanks Lucas

[2019-07-21 19:16] alexellis opened #1261 "Proposal: Marketplace entry for DigitalOcean Kubernetes"
Proposal: Marketplace entry for DigitalOcean Kubernetes

## Expected Behaviour

Digital Ocean have a new marketplace for applications which can be installed onto their Kubernetes service (DOKS).

## Current Behaviour

Install with helm or YAML files using the docs.

## Possible Solution

A PR needs to be sent to: [marketplace-kubernetes](https://github.com/digitalocean/marketplace-kubernetes)

Thi

[2019-07-22 01:46] lihaiswu opened #1262 "Append a task id (uuid) for each function request in the container log"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

In our project, we send all k8s pod logs to log aggregator (such as vRealize Log Insight ). With the unique task id added into container log, we can query the funct

[2019-07-22 07:36] alexellis commented on #1262
Request for comment - @stefanprodan @LucasRoesler

[2019-07-22 07:36] alexellis commented on #1262
/add label: proposal

[2019-07-22 07:37] alexellis commented on #1261
/add label: area/ecosystem

[2019-07-22 10:29] LucasRoesler commented on #1262
The ideal solution, imo, would be to support and document additional headers in the gateway (and watchdog) and then allow the ingress to set this ID value as a header.  The function would then be responsible to extract this information and to put it in their logs (or to set traces, etc). But this would allow integration with various tracing services and this kind of request id behavior. I don't th

[2019-07-22 15:51] lihaiswu commented on #1262
Yes, `write_debug` ENV variable will write the output to container log, but all requests will have same output. No way to filter logs with same context.

After adding `sys.stderr.write("This should be an error message.\n")` to the function, current log will have `2018/04/03 08:35:24 stderr: This should be an error message.`. Is there any way to just change the timestamp string `2018/04/03 08:35:24

[2019-07-23 12:38] Waterdrips commented on #1262
Can this not already be done with `Http_` headers as shown in the workshop? https://github.com/openfaas/workshop/blob/master/lab4.md#inject-configuration-through-environmental-variables

The inclusion of the "unique task id" into the log string format within the function can be controlled by using a Python logger within the code?

[2019-07-23 13:17] ad-si opened #1264 "Proposal: Support directly pushing Docker images"
I wanted to use OpenFaas because of it's ease of use in comparison to other solutions (one click installation on DitigalOcean), but I'll have to abandon this experiment, as it's way too complicated to set up access to a private container registry (Check out https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry. It's insane…).

## Expected Behaviour

`faas up` should push

[2019-07-23 13:48] LucasRoesler commented on #1262
@lihaiswu my original point is that this is currently possible and I think it is the something the function or template author will need to implement. As @Waterdrips says, it should be supported via the Http headers. Not forcing a particular convention allows maximum flexibility to use your preferred tools.

In your example, the `sys.stderr.write` call should include the id:

[code]

of course, yo

[2019-07-23 13:52] Waterdrips commented on #1264
Have you seen this in the docs? https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-kubernetes

I managed to get my OpenFaaS K8s cluster to pull from a private dockerhub registry quite easily using this as reference.

[2019-07-23 14:50] ad-si commented on #1264
My workaround for the time being is a `faas-deploy` makefile target:

[code]

[2019-07-23 18:31] lihaiswu commented on #1262
Thanks very much @LucasRoesler and @Waterdrips for detail explanation. I think the above solution should solve my questions.

[2019-07-23 18:31] #1262 closed

[2019-07-24 07:07] ad-si commented on #1264
Another solution could be to co-deploy the [official registry](https://hub.docker.com/_/registry) on the OpenFaaS image from the Docker Marketplace.

[2019-07-24 12:22] ad-si opened #1265 "Add support for stack.yaml in addition to stack.yml"
According to the docs the official file extension is `.yaml` (https://yaml.org/faq.html) and therefore it should be supported!

[2019-07-24 12:26] ad-si opened #1266 "Add support for openfaas.yaml in addition / instead of stack.yaml"
Haskell's stackage (https://www.stackage.org/) has been using the `stack.yaml` file name for ages. While there is certainly no exclusive right for Stackage to use this name, it would be nonetheless cool if OpenFaaS used something more descriptive. How about using `openfaas.yaml` instead of at least in addition to `stack.yaml`?

[2019-07-26 09:21] alexellis commented on #657
Also potentially useful / interesting relating to workflows - https://github.com/s8sg/faas-flow

[2019-07-28 18:01] kameshchauhan opened #1270 "Implement official OpenFaaS training course on Katacoda platform"
There is no official OpenFaaS training course available on Katacoda, which will allow developers to do hands-on training and learning of OpenFaaS function development.

## My actions before raising this issue
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour
A full training course describing different scenarios should be created

[2019-07-29 14:56] Waterdrips commented on #1264
I'm a little unsure of the motivation behind this proposal still - you can use any private docker repository you want (dockerhub, ECR, GCR ....) by using the link
--> https://docs.openfaas.com/deployment/kubernetes/#use-a-private-registry-with-kubernetes
Follow the steps of creating the secret, then mounting the secret by putting this in your stack.yaml for that function
[code]

which is just a se

[2019-07-30 07:24] ad-si commented on #1264
That's waaaay too complicated, for what's basically a file upload. Sure, a registry makes sense If I want to share the image with several people (e.g. DockerHub), but I'm not sharing anything here, I'm just uploading it to my OpenFaaS installation.

[2019-07-30 07:41] alexellis commented on #1082
I've published a blog / tutorial that walks through this in more detail. https://www.openfaas.com/blog/custom-domains-function-ingress/

Would be good to get feedback from those users who needed this feature.

[2019-07-30 08:12] Waterdrips commented on #1264
The problem with your approach is it will only work with single node clusters - plus it relies on having root ssh access to the node.

I really don't agree that this is `waaaay too complicated` - its 2 lines in the stack.yaml and 1 kubernetes secret. Then authenticating with your container registry - 2 minutes work at most.

Correct me if I'm wrong @alexellis but bundling a container registry with

[2019-07-30 11:38] rrrrover opened #1271 "Autoscaling in openfaas may need improvement"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Openfaas uses prometheus to monitor function calls, and when function QPS is higher than some threshold autoscale will be triggered.

But after functions are scaled

[2019-07-30 11:39] rrrrover commented on #1271
![Screenshot from 2019-07-24 12-32-21](https://user-images.githubusercontent.com/37935058/62126176-b5ec1d00-b301-11e9-8fcc-d197eddcce7c.png)

[2019-07-30 11:41] rrrrover commented on #1271
I the picture I shared above, we could see curl function will be scaled up every 40 seconds, according to the default alertmanager settings.
And after I stopped the funtion call, function replicas drop to 1 immediately

[2019-07-30 13:10] zhl146 commented on #657
Hi everyone! I've been looking for an ideal solution to run long-running ETL that take a few hours to run. They are mostly involved with database to database data transfer. Currently, we're just running on some VMs with an in-house scheduler, but we'd like to do better than this. OpenFaas seemed like a possible solution, as we could run "functions" on demand. However, I am unsure of the suitabilit

[2019-07-30 13:43] burtonr commented on #1264
@Waterdrips you're right in saying that bundling a container registry is outside the scope of this project.

@ad-si what you're asking for is a special scenario that is outside the normal development process for most. Using a private registry (like DockerHub, ECR, GCR, etc) are common uses for uploading private images. This process is well documented and tested with OpenFaaS and is the suggested s

[2019-07-30 13:49] burtonr commented on #1264
I'm going to close this issue as out of scope, but feel free to continue to comment

[2019-07-30 13:49] burtonr commented on #1264
Derek close: out of scope

[2019-07-30 13:49] #1264 closed

[2019-07-30 17:31] alexellis commented on #795
@tarunmangukiya I heard you saw something similar to this.

**an update**

You will see high CPU usage on Docker Swarm if you are running a HEALTHCHECK with a high frequency. This is because a container is effectively started to run each HEALTHCHECK.

This does not apply to the Kubernetes configuration.

Fixes:

* Kubernetes (it uses HTTP probes)

* Persist with Swarm and use HEALTHCHECK with 10s

[2019-07-30 18:52] kd2eom opened #1272 "Asynchronous Functions Not Running in Parallel"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

I have a function that takes about 2 seconds to run. I deployed the function with com.openfaas.scale.max=1 and com.openfaas.scale.min=1 (guaranteeing that there wil

[2019-07-30 18:57] stefanprodan commented on #1272
The concurrency of asyc calls goes up with the number of queue worker replicas. You can scale up the worker with Helm https://github.com/openfaas/faas-netes/blob/master/chart/openfaas/values.yaml#L69

[2019-07-30 19:11] kd2eom commented on #1272
Oh, I see, thank you for pointing that out. So, for asynchronous function calls, it's the number of queue **_worker_** replicas that matters (since they are the ones that process the requests in the queue), not the number of replicas? Does the number of replicas not affect asynchronous functions then?

[2019-07-30 19:21] stefanprodan commented on #1272
The number of queue workers affect the concurrency level while the the number of function replicas affect the parallel processing speed. In most cases you would need to find a balance between the two. If your functions are super fast executing requests then you could just scale up the works.

[2019-07-30 19:34] kd2eom commented on #1272
Got it, thank you so much!

[2019-07-30 19:34] #1272 closed

[2019-07-30 20:54] alexellis commented on #1271
Hi @rrrrover, thanks for your interest in the auto-scaling.

I think you've described how the AlertManager option works reasonably well. It's not the only option and this is customisable.

If you are not satisfied with the default auto-scaling for your use-case, you can edit it:

1) OpenFaaS has an open REST API which you could use to implement your own autoscaling algorithm or controller

2) You

[2019-07-30 20:54] alexellis commented on #1271
--
Join Slack to connect with the community
https://docs.openfaas.com/community

[2019-07-31 01:45] rrrrover commented on #1271
Hi @alexellis , thanks for the reply and the patient guidance.

My use case was inspired by HPAv2 rules in k8s.
HPAv2 rule will ensure each function pod can only use limited resources of the cluster.
In my understanding, each function pod should also handle limited requests per second.

That's why I observe QPS per pod not QPS total in prometheus.

I've tried my new PromQL which fires an alert whe

[2019-07-31 02:07] rrrrover commented on #1271
By this, do you mean the `/system/scale-function/{functionname}` api? This api seems helpful, I can build up my own controller to trigger this api to scale up/down.

My use case is not a real world request, I was just studying openfaas and thought about  the auto-scaling. If this is not openfaas main focus right now, I can close this issue.

BTW I joined the community days ago, very willing to con

[2019-07-31 07:29] alexellis commented on #1271
Hi @rrrrover,

I think you have a valid point and I'd like to see how far you can push AlertManager. It may require a separate Go process similar faas-idler to make sure that the scale-up/down is not orthogonal.

What's your name on Slack?

[2019-07-31 10:10] 486 commented on #479
Hey there, I am currently looking at OpenFaaS and stumbled over this during my evaluation.

- Are there any updates on this topic?
- Is there any ongoing work on the broader topic of provider abstraction? E.g. I saw that I cannot create secrets via OpenFaaS, I need to use the underlying orchestrator.
- On the topic of common vs provider-specific configuration, maybe it makes sense to pass through

[2019-07-31 10:22] rrrrover commented on #1271
Hi @alexellis , my name is also rrrrover on slack

[2019-07-31 12:38] alexellis commented on #479
Hi @486,

You will need to be much more specific. What is your own usecase? What are your needs? Are you using Kubernetes?

You are wrong about this, you can create secrets using the API and CLI.

Thank you for your suggestion. There is an issue in the CLI which you may want to check out.

Alex

[2019-07-31 15:45] 486 commented on #479
@alexellis Thanks for the quick response!

I am studying how provider-agnostic OpenFaaS is currently. So I am looking out for places where the underlying Swarm / k8s leaks through. Yes, we are mostly using Kubernetes now but that might change, that‘s why we are looking for something portable. Common attributes working with the same units is relevant for that.

Thanks for pointing it out, I guess I

[2019-07-31 15:50] alexellis commented on #479
/close

[2019-07-31 15:50] #479 closed

[2019-07-31 15:51] alexellis commented on #479
Whilst I would like to see this implemented, there has been no community interest in developing this feature for well over a year so I'm going to close it.

[2019-07-31 15:52] alexellis commented on #479
OpenFaaS is agnostic and has a faas-provider interface that anyone can implement in a short period of time.

The interface covers crud for functions/services, secrets, scaling and logs.

[2019-07-31 17:17] alexellis commented on #1271
@rrrrover would you also be interested in working on this issue? https://github.com/openfaas/faas-netes/issues/483

[2019-08-01 01:51] rrrrover commented on #1271
@alexellis thank you for your trust, I'd like to work on that issue too.

[2019-08-01 06:18] alexellis commented on #479
@486 I would encourage you to engage with the community via Slack, rather than doing detective/guess-work. I'd rather you got correct answers and help with your usecase.

[2019-08-01 06:18] alexellis commented on #479
/msg: slack

[2019-08-01 17:52] alexellis commented on #1257
Thank you for your great demo in the community meeting today. once a recording is ready I will post a link here for anybody else who is interested in power and OpenFaaS

[2019-08-02 16:29] kwojcicki opened #1273 "Feature Request UI: View functions annotations/labels"
From what I have seen here https://github.com/openfaas/faas/pull/871 the UI is under a code freeze/not being touched much.

Once the transition to a new JS library has been done. It would be nice to see a functions annotations + labels in the UI without resorting to the CLI :)

[2019-08-03 14:23] ChaosCodes opened #1274 "the fuction will be pended when it trys to scale"
## My actions before raising this issue

- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](https://github.com/issues)

## Expected Behaviour
The output of the script will be shown one by one and will not stop until it comes to 1000.

## Current Behaviour
The output was stop at a certain number when the function try to scale maked as Not Ready for several secon

[2019-08-03 16:38] alexellis commented on #1274
Hi I'm going to close this issue because load testing is explained in the documentation.

https://docs.openfaas.com/architecture/performance/

Alex

[2019-08-03 16:38] #1274 closed

[2019-08-03 21:14] alexellis commented on #1270
Hi @kameshchauhan

Thank you for creating learning content for OpenFaaS.

It would be great if you could submit a PR to the community.md file in the faas repo, so that we can track your content and promote it.

As for official content, I will put it on my list to take a look through your labs before deciding whether it should be branded that way, or as community content.

The official training lab

[2019-08-03 21:16] alexellis commented on #1264
Like @burtonr mentioned, there are several registry-as-a-service offerings out there which are very strong and reasonably priced.

If you deploy GitLab (also one-click), it comes with a container registry.

If you need help setting up a private container registry, please feel free to ask us on Slack.

Alex

[2019-08-03 21:19] alexellis commented on #1264
@Waterdrips I think you are right, this is beyond the scope of OpenFaaS and not very modular.

I would be open to deploying an optional registry with OpenFaaS Cloud via ofc-bootstrap: https://github.com/openfaas-incubator/ofc-bootstrap - this is a distribution, and if someone wanted to opt-into it, I think that would be a useful feature request.

As for the core platform, would be helpful to add s

[2019-08-03 21:41] javajon commented on #1270
Thanks Alex.

I just present it 30 minutes ago to a large group of attendies. Everything
went very smooth. The NoFluffJustStuff tour is currently in Des Moines
Iowa. Nfjs.com

Why have one "official" one? Have many learning mediums to point out the
boatload of great and evolving features.

On Sat, Aug 3, 2019, 4:14 PM Alex Ellis <notifications@github.com> wrote:

[2019-08-03 23:45] burtonr commented on #1273
How would you expect to be able to view the annotations, labels, etc?

I worry that the UI would become over crowded with all of that information. Do you have an example from somewhere else to inspire a design? Or, even better if you could mock it up.

The issue you linked shows that we recently added those additional fields when creating a function in the UI. I do agree that those should also be

[2019-08-03 23:50] burtonr commented on #890
Finally finding time to get into mocking things up.

Going off of my previous comment, I'm thinking of adding an additional field to the function store json for a `tutorialUrl`. This URL could be the function's `readme.md` file, or possibly some other more specific markdown file.

Either way, here's my first quick attempt at how we could present this to the user:

![Screenshot from 2019-08-03 18-3

[2019-08-04 08:13] alexellis commented on #890
Can you post a mock-up of how it looks when open and rendered?

[2019-08-04 08:53] alexellis commented on #1273
I would like to see a mock-up of this.

Contributions to the angular UI are welcome. Burton is putting some tweaks and changes together.

[2019-08-04 11:10] ad-si commented on #1264
Thanks for your thoughts on this. I guess the limitation that it would only work on single node clusters is good point.

@alexellis I like the idea of including an option for it in the OpenFaaS Cloud. That would certianly be a good combination!

[2019-08-05 04:49] burtonr commented on #890
It's still quite rough around the edges, but here's an example using `certinfo`. This is rendering the readme.md file from the `raw.githubusercontent` URL. Open to ideas if there's a different or better way to get markdown from Github.

![OpenFaas-Tutorial-1](https://user-images.githubusercontent.com/12687192/62439693-64cd9600-b712-11e9-93ef-125d74269818.gif)

If this is good, I'll clean it up a b

[2019-08-05 12:33] alexellis commented on #565
https://github.com/openfaas/faas-swarm/pull/55

[2019-08-05 13:20] alexellis commented on #890
This looks so good Burton. Exactly what I was hoping to see. As it is, it has a lot of value IMHO, but what I'm really wanting us to get to is this a panel which is part of the main screen.

This is how katacoda did it:

![](http://blog.benhall.me.uk/wp-content/uploads/2017/01/Screenshot-2017-01-10-10.11.12.png)

And Docker's training tool:

![](http://img-src.scoop.it/f1a077f1-f5d4-4181-b294-574d

[2019-08-06 04:26] burtonr commented on #890
@alexellis I was hesitant to do a split screen just to avoid cluttering the UI too much. However, after playing around a bit, I found I was able to something similar to those two examples.

![OpenFaas-Tutorial-2](https://user-images.githubusercontent.com/12687192/62511197-26021380-b7d8-11e9-8d75-f6b46007f02f.gif)

It would be up to the function creators to create a markdown file that would render

[2019-08-06 08:21] Flavsditz opened #1276 "Support request: architecture for triggering functions based upon time"
## Expected Behaviour

Triggering functions in a scheduled manner should allow a granularity smaller than a Minute, i.e. at least having seconds as the possible interval (1 - 59 secs), no need to go to the milliseconds' realm here.

## Current Behaviour

Currently, we are dependant on Cron which allows 1 minute as the smallest possible interval. Although it works for a lot of cases it does not cov

[2019-08-06 08:35] robmarkcole commented on #1207
@HakanL I'm also interested in an MQTT connector, and have found https://github.com/eclipse/paho.mqtt.rust which is MQTT->Redis

[2019-08-06 14:01] doowb commented on #1276
I didn't try this with OpenFaaS yet, but I have on AWS using this pattern:

- SQS (the "db" I was polling)
- CloudWatch (Scheduled Rule every 1 minute)
- Lambda (function to poll SQS every X seconds for 1 minute)

My use case was different and I wouldn't have used this setup if SQS could trigger Lambda directly, but I think it works better for your use case:

- database to poll
- cron job schedule

[2019-08-06 19:02] OmerJog opened #1277 "Feature request: API that allows to monitor the state of an invoked function"
We have integrated OpenFaaS into Apache Airflow which allow us to trigger functions
https://github.com/apache/airflow/pull/4267

Airflow is a platform to programmatically author, schedule and monitor workflows.
In workflows we setup rules where a task must met before it can be executed.
The problem is that  we lack the ability to monitor asynchronous invocations of such functions so, it's very har

[2019-08-07 05:19] rrrrover commented on #1271
Hi @alexellis , I've created a project [here](https://github.com/rrrrover/faas-autoscaler) to do autoscaling for openfaas. Would you mind to take some time to have a look at it?

[2019-08-07 11:31] HakanL commented on #1207
@robmarkcole I wrote a connector for MQTT, but there's more work needed to update the readme, etc before it's ready to be put up here.

[2019-08-07 17:08] kwojcicki commented on #1273
I quite like it how k8s dashboard does it:
![image](https://user-images.githubusercontent.com/2487946/62642522-e7717380-b913-11e9-9f38-22917ab9b6a5.png)

May get slightly congested if someone has 10s of annotations. Could add some drawer type expansion to minimize the clutter.

![image](https://user-images.githubusercontent.com/2487946/62642501-dcb6de80-b913-11e9-8355-cd7a0d51f731.png)

Quick edit

[2019-08-07 22:02] alexellis commented on #1276
/set title: Support request: architecture for triggering functions based upon time

[2019-08-07 22:02] alexellis commented on #1276
/add label: support

[2019-08-07 22:04] alexellis commented on #1276
Hi @Flavsditz

I was initially confused with this issue because it is worded like a bug report.

Please correct me if I'm wrong here, but it looks like you want some commercial support with your architecture? This would probably be best achieved through Slack.

You may also be interested in the [cron-connector](https://github.com/zeerorg/cron-connector) which is a third-party component. It may sup

[2019-08-07 22:05] #1276 closed

[2019-08-07 22:05] alexellis commented on #1276
Other triggers from the project / community - https://docs.openfaas.com/reference/triggers/

[2019-08-09 00:58] burtonr commented on #1273
I think that looks pretty good!

Perhaps, for the implementation, we could use a drawer to hold all the metadata that could slide out if the user chose. That would keep the current UI relatively unchanged, but with the option to show additional information.

That way, we could include showing the annotations, labels, secrets, and env vars. I think all that would be too much to stick in there const

[2019-08-09 09:32] valorl commented on #657
For us, even for things that only run let's say 2-3 minutes, I think we would quite appreciate having the 3 features @zhl146 mentioned: _status_, _retries_ and _cancelling_.

You get all of that by simply just using a Kubernetes [`Job`](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) (@zhl146), which for us is pretty viable, since most of our long-running jobs do

[2019-08-09 14:10] kwojcicki commented on #1273
@burtonr I think the drawer holding the metadata is a good approach.

I will happily work on this feature :smile: probably wont be able to work on it till next week however.

[2019-08-09 14:10] marxenegls opened #1280 "no ~/.openfaas dir nor faas_pass.txt - gateway access errs with code 500"
I cloned and moved the faas dir to an external partition , it runs but when having to cat password i cant find the .openfaas dir anywhere , I have ~/template + functions
faas-cli made use of /tmp and installed at /usr/local/bin

faas linked to >/usr/local/bin/faas-cli
 faas stack deploys but i get an error on gateway; Get : unsupported protocol scheme ""

I also tried changing the url/ip on the st

[2019-08-09 14:12] burtonr commented on #1273
Great to hear! No hurry, but do keep us informed of the progress. If you aren't able to work on it, we can get someone else to jump in. No worries. Thanks for helping out!

Let me know if you need anything!

[2019-08-09 14:24] rgee0 commented on #1280
Can you complete the issue as per the issue template and link to any guide you might be following, please?

[2019-08-09 14:29] marxenegls commented on #1280
hi thankx for quick reply
https://docs.openfaas.com/deployment/docker-swarm/
https://docs.openfaas.com/deployment/troubleshooting/#i-forgot-my-gateway-password
https://blog.alexellis.io/quickstart-openfaas-cli/

i'm wondering if the fact that the external drive is in ntfs ,rather than ext4 might have something to do with it. i have had no issue running tones on images from it before though ...

[2019-08-09 14:55] marxenegls commented on #1280
I moved fass dir to ~/faas
removed the previous images and redeployed anew ,seems like the creds are still seen by the install script and still no ~/.openfass dir or faas_pass.txt

$ ./deploy_stack.sh
Attempting to create credentials for gateway..
Error response from daemon: rpc error: code = AlreadyExists desc = secret basic-auth-user already exists
Error response from daemon: rpc error: code = A

[2019-08-09 15:19] marxenegls commented on #1280
it worked

i moved faas dir to home created ~/.openfaas , removed the secret from portainer's secrets list
redeployed and am now logged in ui
 - i used --no-auth flag but it still wet ahead and created the creds

[2019-08-09 15:19] #1280 closed

[2019-08-09 15:56] alexellis commented on #1280
Hi 👋 thanks for using OpenFaaS.

I would recommend redeploying with the authentication turned on

Use these instructions to find your password - https://docs.openfaas.com/deployment/troubleshooting/#i-forgot-my-gateway-password

The issue template has a link to this guide, and one of the checkboxes states "I have read the troubleshooting guide" 😄 I guess you may have missed that.

Have fun

Alex

[2019-08-09 20:01] cristaloleg opened #1281 "Update Travis to the latest Go releases"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

OpenFaaS should be built with the latest Go release.

## Current Behaviour

Currently on Travis old Go 1.9 version is used.

## Possible Solu

[2019-08-09 20:53] #1281 closed

[2019-08-09 20:55] alexellis commented on #1281
Hi, thank you for your interest in contributing to the project.

Fortunately we don't use go from the Travis runtime to build the code comma we use Docker.

For that reason this pull request is not needed. Going forward I would encourage you to raise any issue and wait for approval before working on any future patches.

Alex

[2019-08-09 20:56] alexellis commented on #1281
/msg: slack

[2019-08-09 20:57] alexellis commented on #1281
I would encourage you to read our project and community contribution guide. There is also a page with helpful resources in the docs.

I'm sure that if you join slack and ask if you can help in the #contributors channel, then somebody will find you something to contribute.

[2019-08-14 14:18] rrrrover commented on #1271
Hi @alexellis , it's been a while since our last talk. I've updated my [faas-autoscaler](https://github.com/rrrrover/faas-autoscaler) project.
Now faas-autoscaler can control replicas by setting only one prometheus rule:
[code]
With this rule set, faas-autoscaler will know the desired metric for each function replica, defined the label `target: 2`. faas-autoscaler will also know current metric , i

[2019-08-15 08:07] haozibi commented on #1246
Hello, I want to ask about the progress of the SDK, I should be able to help in the code.

[2019-08-15 10:23] alexellis commented on #1246
@haozibi

As far as I am aware, nobody in the community - whether end-users, regular contributors or otherwise has worked on this.

I would like to see some discussion and consensus on design and how we will keep the SDKs consistent across several languages.

Your input is welcome on this issue.

[2019-08-15 12:14] lmxia commented on #1271
How about just simply scale down from current replicas to " currentReplicas - math.Ceil(currentReplicas * scalingFactor)"  when resolved event received. Then we need no scale down endpoint.

[2019-08-15 13:20] rrrrover commented on #1271
Hi @lmxia , thanks for the tips. I've improved faas-autoscaler a little, it uses only one endpoint `/system/auto-scale`. Because now we know the desired metrics for function and current value, so we could easily calculate the desired replicas using:
[code]

[2019-08-15 21:15] yevgenypats opened #1285 "Feature request: Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers
- Continuous Fuzzing of master branch which will generate new corpus and look for new crashes
- Regression on eve

[2019-08-16 19:56] zcourts commented on #1246
I've just started working on a Java client. I'm not a huge fan of the generated client either but it does cover a lot of the boiler plate so what I'm doing is providing what I think is a nicer API but it ultimately just wraps it.

I'm expecting to start testing with it later next week. Open sourcing it won't be an issue either under Apache V2, BSD, MIT or similar.

Our integration with OpenFaaS is

[2019-08-19 07:35] alexellis commented on #1271
I think this would be a good topic for the next community call, would you be interested in presenting your scaler @rrrrover ?

[2019-08-20 06:55] nlochschmidt opened #1287 "Swagger/OpenAPI: Syntax error in /system/logs and LogEntry definition"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

When following the instructions as described in https://github.com/openfaas/faas/tree/master/api-docs, the Swagger Editor should render the A

[2019-08-20 07:42] alexellis commented on #1287
Hi @nlochschmidt

Thank you for finding this. I can't think how we let this error slip through, but I've notified the author based upon `git blame`. Going forward, this error-checking would reduce the risk of errors being introduced again.

spectral appears to be a JavaScript tool and I would rather not having to mandate Node.js for development of OpenFaaS, so can we run it in a Docker container p

[2019-08-20 11:28] nlochschmidt commented on #1287
Will do.

Regarding the linter: It's quite easy to run the linter in docker as there is an official docker image from Stoplight. Basically it would work like this:

[code]

The return code will be non-zero in case of errors, I haven't tried yet if warnings lead to non-zero exit code as well, but would hope not.

[2019-08-20 11:45] nlochschmidt commented on #1287
As you can see I have opened an MR for the api docs. I would open a second one for the linter if I get around to understand how the `ci.sh` works :wink:

[2019-08-20 13:32] rrrrover commented on #1271
Hi @alexellis , thanks for this opportunity. But first I want to know when is the community call? Because I'm in China, we have 9 hours jet lag, I might not have time to join.

[2019-08-20 15:08] nlochschmidt commented on #1243
@alexellis just FYI, I tripped over this as well. Not that I want to get the invocationCount through the gateway API, but I was testing the scaling to zero and some other things after an upgrade of openfaas in our cluster and I thought the invocationCount is no longer working, because I was looking only at the responses from `/system/function/{functionName}` 🙈.

I really wonder though, why the det

[2019-08-21 12:38] ameier38 commented on #657
I am very interested in this and would love to help push this forward. For my use case, our team uses Airflow for our ETL processes and OpenFaas functions for the actual processing of files. We have found this to be a really nice combo as we can more easily test each of the different processes without having to bloat our Airflow code. Airflow then simply wires up the different functions and handle

[2019-08-21 14:10] nlochschmidt commented on #1287
I had a look into this but it seems like warnings cause the same non-zero exit code (1) as errors and there is an open issue for this in spectral: https://github.com/stoplightio/spectral/issues/368

Two options:
1.) fix all the warnings (see [spectral-warnings.txt](https://github.com/openfaas/faas/files/3525732/spectral-warnings.txt))
2.) exclude all those rulesets from the linter that cause warni

[2019-08-21 15:01] joaompinto opened #1289 "Unable to build a python sample using docker"
## My actions before raising this issue
- [X ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ X] Read/searched [the docs](https://docs.openfaas.com/)
- [ X] Searched [past issues](/issues)

Trying to build a python based sampled on Fedora 30 failes with an error:
$  faas-cli new callme --lang python # Ran without errors
[code]
## Expected Behaviour

[2019-08-21 15:07] joaompinto commented on #1289
This seems to be related to the docker version (based in the similar issue https://github.com/spotify/docker-maven-plugin/issues/264 ).
This faas-cli should check and report if docker version does not meet the minimum required version.

[2019-08-21 15:12] alexellis commented on #1289
@joaompinto feel free to log your feature request on the faas-cli issue.

@haru01 I'm going to close this issue since you are not using the minimum specified version of Docker. Your version doesn't support multi-stage builds.

Please update Docker, and let us know if you need any other technical support by joining Slack.

Alex

[2019-08-21 15:12] #1289 closed

[2019-08-21 15:13] alexellis commented on #1289
/msg: slack

[2019-08-21 21:27] lihaiswu opened #1290 "User support request: scale from zero on VMware cluster"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

The request will be stuck when invoking 0 replica function until invoking function again

## Expected Behaviour

The cache request should receive response after aut

[2019-08-21 21:41] alexellis commented on #1290
/set title: support request for scale from zero

[2019-08-21 21:43] lihaiswu commented on #1290
Following is the logs from gateway

[code]

[2019-08-21 21:43] alexellis commented on #1290
We discussed this at length on Slack today and were not able to reproduce the issue with either k3s or DigitalOcean Kubernetes across 5 nodes using Cilium for networking.

This may be specific to the Kubernetes networking or distribution you are using at VMware.

[2019-08-21 21:44] alexellis commented on #1290
/add label: support

[2019-08-21 21:46] alexellis commented on #1290
I don't think we will be able to reproduce your environment, but we can keep trying to reproduce the error behaviour on publicly available systems.

[2019-08-21 21:50] lihaiswu commented on #1290
Thanks @alexellis . Let's keep it opened and see if anyone hit the similar issue or not.

[2019-08-21 21:51] alexellis commented on #1290
Could you perhaps try to reproduce it using Minikube, kind, or k3s? Are there specific steps or networking drivers that cause it?

[2019-08-21 21:53] lihaiswu commented on #1290
Sometime, the first request just receives 502 as folloing log:

[code]

After that, all incoming requests work fine.

[2019-08-22 00:22] lihaiswu commented on #1290
Based on the error log `error with upstream request to: , Post http://figlet.scdc1-staging-openfaas-fn.svc.cluster.local:8080: dial tcp 172.21.234.251:8080: connect: connection refused`, I found  `requestURL` is  '' .  From source code https://github.com/openfaas/faas/blob/master/gateway/handlers/forwarding_proxy.go#L65 , what might cause this problem? @alexellis @stefanprodan

Or could you please

[2019-08-22 06:40] alexellis commented on #1290
What Kubernetes distribution are you using?

What networking driver does it use?

[2019-08-22 07:08] lihaiswu commented on #1290
@alexellis we're using Upstream kubernetes 1.14.3 with flannel overlay network.

[2019-08-22 07:34] alexellis commented on #1290
Thanks for the info. The more, the better chance we have to reproduce it for you.

What infrastructure is it running on? Hypervisor etc

What tooling was used to initialize/join nodes?

[2019-08-22 07:42] alexellis commented on #1285
Hi Yevgeny,

Thanks for your interest in OpenFaaS.

Is there a way to try this without committing to using your public service and bounty/reward program?

[2019-08-22 07:43] alexellis commented on #1261
I created this tutorial and guide to show how OpenFaaS should work / be operated after installation to a marketplace.

https://github.com/openfaas-incubator/install-doks

[2019-08-22 07:45] yevgenypats commented on #1285
hi @alexellis , of course. go-fuzz is standalone project and [fuzzit](https://app.fuzzit.dev) has a free tier with 1 CPU and public documentation so you can play around with it. Also feel free to ping me for any question or feature-request (even if don't end up using fuzzit).

[2019-08-22 09:36] LucasRoesler opened #1291 "Update gateway build to go 1.11.13"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update to the Gateway Go version to at least Go 1.11.13

[2019-08-22 09:37] alexellis commented on #1291
:+1:

Anything which states `golang:1.11` should be re-built, since we don't know which "patch/revision" version it may have been built on already.

[2019-08-22 09:37] LucasRoesler commented on #1291
This actually applies to all of the Dockerfiles in this repo (basic-auth, gateway, and watchdog)

[2019-08-22 09:39] alexellis commented on #1291
Also [openfaas/templates](https://github.com/openfaas/templates)

Whilst there, if anyone sees `alpine:` lower than `3.10` please update that tag at the same time.

[2019-08-22 09:43] alexellis commented on #1291
https://github.com/openfaas/templates/commit/56f1b9d833c8fae8549f6234046cdcf0096f22bb

[2019-08-22 09:44] AndrejSchefer opened #1292 "Support question with custom container"
Hello everybody,

When I deploy the callme example, I get this error:

Error: failed to start container "callme": Error response from daemon: OCI runtime create failed: container_linux.go: 348: starting container process caused "chdir to cwd (\" / root \ ") set in config.json failed: permission denied ": unknown

What should I watch out for during deployment?

[2019-08-22 09:49] johnmccabe opened #1293 "Proposal - Update Go to 1.12.8+ - recent CVE mitigations and Go 1.10 no longer receiving security point releases"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [ ] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Moving to a new Go release has been raised in the past but I think its worth considering again for the following reasons.

- 1.10 no longer receives security point

[2019-08-22 09:50] johnmccabe commented on #1293
Happy to help out as needed.

[2019-08-22 13:52] alexellis commented on #1292
@AndrejSchefer thanks for using OpenFaaS.

First of all, please could you fill out the entire issue template?

This is also better served through Slack.

[2019-08-22 13:52] alexellis commented on #1292
/msg: slack

[2019-08-22 13:53] alexellis commented on #1292
I'll let you decide how to proceed, but we won't be able to help unless you fill out everything we ask for.

[code]

[2019-08-22 14:14] alexellis commented on #1292
/msg: slack

[2019-08-22 14:50] alexellis commented on #1291
Release: https://github.com/openfaas/faas/releases/tag/0.17.0

[2019-08-22 14:53] alexellis commented on #1291
Update required to: https://github.com/openfaas/faas/blob/master/docker-compose.yml

[2019-08-22 17:40] lihaiswu commented on #1290
@alexellis we're using vSphere + Ansible

[2019-08-23 00:31] lihaiswu commented on #1290
@alexellis The scale from zero will work after adding "sleep 3 seconds" before calling `res, resErr := proxyClient.Do(upstreamReq.WithContext(ctx))`(https://github.com/openfaas/faas/blob/master/gateway/handlers/forwarding_proxy.go#L128):

[code]

So the problem looks like the Golang webserver is not fully ready before forwarding the request.  I did try sleep 1 and 2 seconds will not work. I tested

[2019-08-23 21:29] lihaiswu commented on #1290
Now, i'm adding sleep 5 seconds after `if queryResponse.AvailableReplicas > 0` (https://github.com/openfaas/faas/blob/master/gateway/scaling/function_scaler.go#L118) to bypass the issue.

[code]

Any other way i can add a check if the Golang server is ready, instead of just waiting. @alexellis @LucasRoesler @stefanprodan

[2019-08-26 06:28] robmarkcole opened #1294 "Doc links 404"
Hi
I am finding that many of the links in the docs are 404, e.g. https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md

[2019-08-26 18:28] alexellis commented on #1294
Would you like to send a fix? The new page is in docs.openfaas.com

[2019-08-26 18:29] alexellis commented on #1294
When you say "many", can you give specific examples so that we can fix it :-) that would be most helpful.

Actual URLs would be perfect

[2019-08-26 18:29] alexellis commented on #1294
/set title: 404 on some links

[2019-08-28 18:51] alexellis commented on #759
@jmreicha

Would you be interested in trying a PoC to have OpenFaaS install without Prometheus and for it to use the operator version instead?

[2019-08-29 14:58] jmreicha commented on #759
@alexellis I would be interested but I don't much time right now to try it out 😢

[2019-08-29 22:27] lihaiswu opened #1298 "Question about async invocations"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

For unexistent function, the async invocation should response 404  not found. Instead of 202 accepted.

## Expected Behaviour
For unexistent async function invocati

[2019-08-29 22:28] alexellis commented on #1298
/set title: Question about async invocations

[2019-08-29 22:29] alexellis commented on #1298
Hi @lihaiswu

Please can you explain how this affects your use-case?

Alex

[2019-08-29 22:30] alexellis commented on #1293
I believe that we have covered this by upgrading Go 1.11 and re-publishing new releases.

@LucasRoesler to confirm

[2019-08-29 22:31] alexellis commented on #1292
@AndrejSchefer hi, please let us know if you'd still like this issue open, and if you can provide the additional info.

[2019-08-29 22:31] alexellis commented on #1293
See also: https://github.com/openfaas/faas/issues/1291

[2019-08-29 22:32] alexellis commented on #1287
@nichochen can this be closed now?

[2019-08-29 22:33] alexellis commented on #1285
/set title: Feature request: Fuzzing

[2019-08-30 01:08] johnmccabe commented on #1293
Happy enough with the pending EOL (effective, no security point releases) of 1.11?

Per the [Go Release Cycle](https://github.com/golang/go/wiki/Go-Release-Cycle#release-maintenance)

[2019-08-30 03:55] lihaiswu commented on #1298
@alexellis it does not affect my usage. Just think the response is not expected. It should 404, instead of 202 for nonexisttent aync function.

[2019-08-30 06:14] nlochschmidt commented on #1287
The issue has been resolved.

[2019-08-30 06:14] #1287 closed

[2019-08-30 09:00] lordvlad commented on #1075
Using a ci pipeline, its easy to accomplish versioning with current means (excluding smart alias, which I don't like anyhow). Just override the function name to include the version: `faas deploy --name $NAME-$VERSION`. Only I would like to have the version separated by a slash: `faas deploy --name $NAME/$VERSION`. Allowing a slash in the version name would already satisfy my needs

[2019-09-02 04:19] burtonr commented on #1298
This is the way that async functions are intended to operate, and explained in the [docs](https://docs.openfaas.com/reference/async/#how-it-works) along with options for getting values back and checking the status.

Think of it as sending a letter in the post. You put the letter in the box, and the carrier accepts it. If the address does not exist, you would not know about it immediately. That is

[2019-09-02 04:19] #1298 closed

[2019-09-02 05:15] burtonr commented on #1277
Hey @OmerJog thanks for the interest in OpenFaaS and creating the hook!

What is required for the monitor/sensor? Is that something you could add to the individual functions you create?

[2019-09-02 17:21] alexellis opened #1300 "[Feature] Publish to asynchronous queue via provider"
[Feature] Publish to asynchronous queue via provider

## Expected Behaviour

I've been made aware of a large enterprise company making use of OpenFaaS in PoC. They have replaced NATS with AWS SQS. Given that they run purely on AWS, they have little concern of lock-in, but would like to be able to swap the NATS queue worker with minimal effort.

## Current Behaviour

When I designed the asynchronou

[2019-09-03 08:23] dokie commented on #1300
We are evaluating OpenFaaS for a new PoC and was thinking how to perhaps make more use of NATS as a message/event Broker in our architecture. In looking into how it is used successfully in OpenFaas I saw it was possible to expose the NATS port(s) but to integrate into it we _might_ have to usurp the Queue Worker (in fact we may need to do this anyway) but I think having the provider model would be

[2019-09-03 18:38] jonatasbaldin opened #1302 "Feature request: mount secret as environment variable"
## Expected Behaviour
Being able to mount the decoded secret content as an environment variable instead of a file.

## Current Behaviour
The secret system used by OpenFaaS only mounts secrets as files.

## Possible Solution
Introduce new way of defining the secrets in the `stack.yml` file and, somehow, inject them into an env var. Here are some examples to illustrate:

*Example 1:*
- Add a "type"

[2019-09-04 00:28] acornies commented on #1300
There's definitely value in decoupling OpenFaaS gateway from NATS as it would provide flexibility for users who have to integrate with existing systems (maybe managed by different teams) like Kafka, RabbitMQ or other message queuing.

For example, at work we're integrating with a Kafka cluster which is managed by a different team. At the same time, I don't know everything there is to know about NA

[2019-09-04 05:53] hotjunfeng opened #1303 "Question about KeepAlive"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)
[issue #1271](https://github.com/openfaas/faas/issues/1271)
[issue #391](https://github.com/openfaas/faas/issues/391)

What is the expected behavior of traffic distr

[2019-09-04 08:07] LucasRoesler commented on #1302
The primary reason that we do not currently support this is that the environment variables are not well protected.  It is common for logging or debugging systems to collect and save the environment variables during errors/crashes and this can result in sensitive values stored in plain text.  This is often not easy to know prior to finding the value in a log somewhere.

This is indirectly noted her

[2019-09-04 09:56] jonatasbaldin commented on #1302
Thanks for the answer, I agree with the design :)

Should we add this blog post in the Secrets docs?

[2019-09-04 11:52] LucasRoesler commented on #1302
I think it makes sense to add more context to the docs. It probably makes the most sense to expand the docs with more details and then link out to the blog as just an example of pre-loading files in general.

This requires changes specifically here
- https://docs.openfaas.com/reference/secrets/#a-note-on-environmental-variables

Additionally, it might make sense to have Lab 10 of the workshop also

[2019-09-04 12:16] alexellis commented on #1302
Is there an issue we can find to mark this as duplicate and close? I think it was asked for before.

[2019-09-04 17:50] LucasRoesler opened #1304 "Proposal Support setting build args via yaml"
This was originally proposed in https://github.com/openfaas/faas-cli/issues/262 but was eventually implemented as flags on the `faas-cli`.  This CLI behavior is documented here https://docs.openfaas.com/cli/build/#30-pass-custom-build-arguments

To ensure reproducible and portable builds, we should support supplying build args via the YAML stack file.

## My actions before raising this issue
- [ ]

[2019-09-04 17:53] alexellis commented on #1304
I think this might fit well under the build options section? Thoughts?

[2019-09-04 17:58] LucasRoesler commented on #1304
I think that would require a refactor and a breaking change, unfortunately. Ithink the original implementation assumes that build options == `ADDITIONAL_PACKAGES`, but I would have to double check

[2019-09-04 18:38] rgee0 commented on #1304
I thought we parsed them for the docker client to pass into the template dockerfile where the user has added the corresponding ARG. The ADDITIONAL_PACKAGES part is how the build_options are passed through & using it as a build-arg was a nice little bi-product of the implementation.

[2019-09-04 22:15] lyuxiaosu opened #1305 "Support request for kubeadm-dind-cluster"
## Expected Behavior
faas-cli can login the serverless platform deployed on kubeadm-dind-cluster.

## Current Behavior
Connection is refused and login failed. kubeadm-dind-cluster is a docker-in-docker kubernetes cluster, but it shouldn't be such connection refused problem. The service type is NodePort, its port 31112 should be accessible outside of the cluster, however, it's not.
[code]
## Steps

[2019-09-04 22:26] alexellis commented on #1305
Hi

You'll need to fill out the whole template if you want us to help. https://github.com/openfaas/faas/blob/master/.github/ISSUE_TEMPLATE.md

It has key fields we need you to provide.

Specifically with `kubeadm-dind-cluster` you'll need to use a kubectl port-forward command. See the Lab 1b for how to do that in https://github.com/openfaas/workshop.

Alex

[2019-09-04 22:26] alexellis commented on #1305
/add label: support

[2019-09-04 22:27] alexellis commented on #1305
/set title: Support request for kubeadm-dind-cluster

[2019-09-04 23:09] hotjunfeng commented on #1303
@alexellis Could you please help clarify this auto-scaling problem?

[2019-09-04 23:14] lyuxiaosu commented on #1305
Thank you for your help. I am sorry I didn't show my question clearly. I used the NodePort service and local kubernetes cluster. It's not a LoadBalancer services. It seems  kubectl port-forward only works for remote cluster or LoadBalancer services, which is not my case. Am I right?

[2019-09-04 23:28] lyuxiaosu commented on #1305
I think port 31112 is accessible for the outer of the kubeadm-dind-cluster because the service type of gateway-external is NodePort. It should work for ```echo -n $PASSWORD | faas-cli login -g http://127.0.0.1:31112 -u admin --password-stdin ```, but I cannot access it.

[2019-09-05 05:44] jonatasbaldin commented on #1302
Hey @LucasRoesler!

Here's the PR updating the docs: https://github.com/openfaas/docs/pull/171

Also a PR updating the Lab10: https://github.com/openfaas/workshop/pull/151

I think with this information it will be easier to understand why Secrets works the way it is ✨

What do you guys think?

[2019-09-05 11:13] koturwaraditi opened #1306 "[Feature request] Template for Javalin framework"
Hi I am  aditi
I am a fresher and I am new  in openfaas and am trying to create a server using javalin framework inside openfaas function. so for that I have provided the same port for javalin which is available in docker file i.e upstream url.
after that i am deploying the openfaas function it is showing 500 internal server error
so can you please help me how to work javalin inside openfaas

[2019-09-05 19:58] alexellis commented on #1304
I'm moving this to openfaas/faas-cli, hope people don't mind.. just let me know otherwise 🛩

[2019-09-05 19:59] alexellis commented on #1261
This is live! 🎉

Check it out and let us know what you think 👇

https://marketplace.digitalocean.com

[2019-09-05 19:59] #1261 closed

[2019-09-05 20:34] briandowns commented on #1246
Happy to help with a C SDK.

[2019-09-05 20:43] alexellis commented on #1306
Hi @koturwaraditi

We are using this issue tracker primarily for tracking issue, please can you seek out support in the #templates channel on Slack?

Alex

[2019-09-05 20:43] #1306 closed

[2019-09-05 20:43] alexellis commented on #1306
/msg: slack

[2019-09-05 20:43] alexellis commented on #1306
We'll also need a complete GitHub repo to take a look and help you. Please provide that when you contact us on Slack 👍

[2019-09-05 20:44] alexellis commented on #1305
You are missing the `port-forward` command. I can't see you running that?

https://github.com/openfaas/workshop/blob/master/lab1b.md#loadbalancer-remote-kubernetes-or-kind

Alex

[2019-09-05 20:45] alexellis commented on #1305
I'm going to close this issue as I'm 99% certain that you're missing the port-forward and that this is an issue with how you're using your dind-cluster rather than anything in OpenFaaS.

Let me know how you get on with the command I gave, and if you need further technical support for this, please seek it out on Slack.

[2019-09-05 20:45] #1305 closed

[2019-09-05 20:45] alexellis commented on #1305
/msg: slack

[2019-09-05 20:46] alexellis commented on #1292
/close: inactive

[2019-09-05 20:46] #1292 closed

[2019-09-05 20:47] alexellis commented on #1177
@alekar @daikeren please could you respond to my comment from May?

[2019-09-05 20:50] alexellis commented on #1246
Looking forward to seeing more @zcourts

@briandowns are there any SDKs for the languages listed above that you'd like to help with?

I'm not sure how widespread the production usage is of C + OpenFaaS at this point.

[2019-09-05 21:00] briandowns commented on #1246
Fair enough. :D I'd be happy to help with the Go client.

[2019-09-05 23:00] lyuxiaosu commented on #1305
@alexellis Your 99% certain is wrong, your recommendation cannot help resolve this problem at all, moreover,  you somehow mislead people. I am not sure if you read my question carefully or not, or if you know what's the difference between Loadbalancer Service type and NodePorts service type. I already stated that I used NodePorts service type for my local cluster, it's not Loadbalancer service typ

[2019-09-06 00:08] burtonr commented on #1305
Hey @lyuxiaosu sorry for the confusion! Glad you were able to resolve it though! And thanks for taking the time to write out the solution you've found as well

Please do join us on Slack, and let us know if you have any other troubles

[2019-09-06 05:57] koturwaraditi commented on #1306
Hi Alexellis,

I have registered with my details to your google form ..Please approve it and help us.

Aditi

[2019-09-06 06:38] alexellis commented on #1305
The workshop covers both NodePort and port-forwarding, including how to find the correct IP address.

We're giving you our own time to provide you with technical support and help, please try to be respectful and use an appropriate tone.

If you're new to Kubernetes and struggling with the networking, I would suggest working through the workshop methodically or trying a Kubernetes 101 training onli

[2019-09-06 06:39] alexellis commented on #1305
/lock: resolved, please seek out any addition support on Slack

[2019-09-08 09:50] spiazzi commented on #1280
Hi all,

I installed OpenFass on a raspberry docker swarm
I followed this
$ git clone https://github.com/alexellis/faas/
$ cd faas
$ ./deploy_stack.sh

Attempting to create credentials for gateway..
x5s3cii94b5h1rwhjabva4hjr
cwpyvwvof553mix7gt8gcbhiq
[Credentials]
 username: admin
 password: xxxx
 echo -n xxxx | faas-cli login --username=admin --password-stdin

Enabling basic authentication for ga

[2019-09-08 09:58] rgee0 commented on #1280
Please create a new issue completing all the template fields. This is to provide use with the minimum amount of info needs for us to be able to help. Thanks.

[2019-09-08 09:59] rgee0 commented on #1280
Derek lock

[2019-09-09 16:54] dan-c-underwood opened #1308 "Use of CLI or Web UI returns status code 500 and 'Get : unsupported protocol scheme ""'"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues) (there was an issue closed yesterday because it didn't follow this template)

## Expected Behaviour

Access to the Web UI or via `faas-cli` after installation should

[2019-09-09 18:16] rgee0 commented on #1308
Hello Dan.

Can you help with the initial steps required in order to reproduce, please?  You mention Portainer, which may or may not be a factor, and if it is then we'd need to assess at that point as to whether it's a supported mode of operation.  I think this is the third of this kind that we've seen in recent times so it looks like it may not be an isolated case.

[2019-09-09 18:44] dan-c-underwood commented on #1308
Hi - yep,

Setup as follows (let me know if you want more information):

### Host

- Raspberry Pi 3B+
- Raspbian Buster

### OpenFaaS

Access was attempted via domain name, IP address, `curl` from command line to 127.0.0.1 (initial redirect from `/` to `/ui/`, and `faas-cli`. All demonstrated the same issue.

Setup commands were (running as user that's in the `docker` group:

1. `git clone https:/

[2019-09-09 20:11] rgee0 commented on #1308
Thanks.  I've been able to reproduce.  Portainer is a red herring.

[code]

Seems this is being triggered:

https://github.com/openfaas/faas/blob/6481b683f233c39f2f724a7a6318e445c4176b8c/gateway/handlers/external_auth.go#L27

I've got a fix lined up.  Shouldn't be too long...

[2019-09-09 20:41] rgee0 commented on #1308
The PR is up in case you want to make the changes locally to test?  It'd be good to get some independent testing feedback.

[2019-09-09 20:50] #1308 closed

[2019-09-09 20:53] dan-c-underwood commented on #1308
I’ll check either tomorrow morning at the weekend - and will comment if the issue is not resolved 🙂 thanks for the speedy fix!

[2019-09-10 01:25] schnable opened #1311 "Gateway fails to start on armhf; /root/ access denied"
## My actions before raising this issue
- [*] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [*] Read/searched [the docs](https://docs.openfaas.com/)
- [*] Searched [past issues](/issues)

I attempting to deploy openfaas using:

`kubectl -f yaml_armhf`

on my raspberry pi 4 cluster, but this results in the gateway pod entering a crashloop.

## Expecte

[2019-09-10 13:10] itaiya commented on #1277
@burtonr - I'm the one who originally opened https://issues.apache.org/jira/browse/AIRFLOW-4960 that @OmerJog mentioned above, and while my OpenFaaS knowledge is limited, I think these are the requirements:
1. The Airflow OpenFaaS hook (created via https://issues.apache.org/jira/browse/AIRFLOW-3411) that invokes the function, should allocate some sort of unique ID of that function's invocation and

[2019-09-10 13:32] alexellis commented on #1277
Hi @itaiya

I am trying to understand the use-case and whether this is something that can be mapped to a HTTP call.

Invocations in OpenFaaS are a HTTP call from a client through the gateway to a service (the service can be any container, as long as it serves HTTP traffic on port 8080)

What you're asking for (running/completed) can be achieved through the use of the asynchronous invocation bus wi

[2019-09-10 17:06] rgee0 commented on #1308
@spiazzi fyi this might also resolve your issue

[2019-09-12 07:05] alexellis commented on #1302
/close

[2019-09-12 07:05] #1302 closed

[2019-09-12 07:06] alexellis commented on #1302
Hi @jonatasbaldin I will take a look at the proposals, but we believe it is already clear through the documentation how secrets work in OpenFaaS.

I was hoping we could link to the past issues if we can find them?

Alex

[2019-09-13 19:47] spiazzi commented on #1308
@rgee0 super! it works

[2019-09-14 07:59] Gopinathp commented on #1195
I would love to contribute for this. Is there some work already done which I can help improve/maintain and release?

[2019-09-14 08:11] alexellis commented on #1195
Please take a look at how the Java template works in the openfaas/templates repo, fork it and translate to Kotlin. That's how I'd approach it.

[2019-09-14 08:12] Gopinathp commented on #1195
Sure.

[2019-09-14 08:14] alexellis commented on #1195
Thanks, it would be great to see what you can come up with.

[2019-09-16 08:03] dkul108 commented on #1195
I also will be happy to help with project in any way I can. I have a decade
of Java experience, etc. Regards, Dmitro Kulinich

On Sat, Sep 14, 2019, 10:15 Alex Ellis <notifications@github.com> wrote:

[2019-09-16 09:31] LucasRoesler opened #1312 "Document: persistant metrics storage in production"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

## Expected Behaviour

When a cluster is restarted or more specifically if the Prometheus pod is restarted, the function metrics should be unaffected

## Current Be

[2019-09-20 18:42] marlexct commented on #902
Hello, Martindekov, the shell command you said worked pretty fine for that step, 9/24, but now I have another error. (By the way, I am a newbie in golang). I am trying to build an updated gohash function following this tutorial https://blog.alexellis.io/serverless-golang-with-openfaas. But I have the following error. I am using openfaas on kubernetes. Although, I can still invoke the gohash functi

[2019-09-20 19:10] alexellis commented on #902
Still having the same problem? It can't be.. let's open a new issue please

Or perhaps ask on Slack?

[2019-09-20 19:11] alexellis commented on #902
/lock: original issue was closed

[2019-09-20 19:11] alexellis commented on #902
/msg: slack

[2019-09-20 23:47] hotjunfeng commented on #1303
We find the reason. The OpenFaaS API gateway will receive the requests from the client and then create new connections (keep-alive) with function pods to distribute the requests to pods. After auto-scaling, the gateway will NOT create new connections to the new created pods, leading to unbalanced workload distribution and no performance improvement.

We find a workaround to make all requests distr

[2019-09-21 06:24] amirmhp98 commented on #1207
@HakanL waiting for your connector, not ready yet? :(

[2019-09-21 06:37] alexellis commented on #1207
If anyone has a pressing business need for this please do get in touch with me so see how we can help.

[2019-09-21 17:20] HakanL commented on #1207
I started building it, but the business need changed so I never finished, sorry :(

[2019-09-24 10:13] ipedrazas commented on #776
I'm using it also 😃

[2019-09-24 13:24] alexellis commented on #776
For anyone who has a case-study, blog post, or can summarise their usage in 2-3 sentences it would be great to have you contribute to the ADOPTERS.md file. I've added a few examples we know about to help you figure out what to write.

https://github.com/openfaas/faas/blob/master/ADOPTERS.md

[2019-09-24 23:26] alekar commented on #1300
We need to consider both aspects of a queue provider: enqueueing work from the gateway, and dequeuing work at the queue provider.

I believe there is big advantage in defining a REST API for queue provider, which allows operators to deploy OpenFaaS with a queue provider of their choice.

Since the queue workers are a separate process, there is not much value in abstracting the dequeues into a REST

[2019-09-27 21:16] alexellis commented on #1303
It's likely that you are only using a single connection / client for this test. When using `hey` with multiple connections, we do observe distribution across replicas.

* If you disable KeepAlive in your client - i.e. hey, the performance will be worse, but there are less changes that the connection will be reused for a client
* If you add > 1 client, this usually load-balances even with keepalive

[2019-09-27 21:16] alexellis commented on #1303
/add label: question

[2019-09-28 07:56] alexellis commented on #751
@LucasRoesler 👋 could we close this tracking issue now? I think we have the feature in faas-netes/swarm and the Operator?

[2019-09-28 08:05] alexellis opened #1322 "[Research] Endpoint load-balancing in the API gateway"
## Description

Endpoint load-balancing in the API gateway

## Details

In a Kubernetes setup, some users have reported that the KeepAlive settings in their client, or in the API Gateway, can lead to one client send a large amount of its traffic to a single Pod, when there are multiple Pods.

If KeepAlive is disabled in the gateway between the gateway and Pods, then the latency will increase under

[2019-09-28 08:26] alexellis commented on #1303
I've raised an issue to track this behaviour and to describe the work-arounds.

Please have a look at the lab for Linkerd2 - a lightweight proxy which once installed will take over load-balancing and counter the keep-alive settings you are seeing in your testing.

https://github.com/openfaas-incubator/openfaas-linkerd2

Your input would also be welcomed on issue 1322.

[2019-09-28 13:53] #751 closed

[2019-09-29 08:38] alexellis commented on #1246
I saw that Rich (@Miserlou) put this together -> https://github.com/Miserlou/Fashion

[2019-09-29 08:38] alexellis commented on #1218
/close: duplicate

[2019-09-29 08:38] #1218 closed

[2019-09-29 08:38] alexellis commented on #1218
/add label: duplicate

[2019-09-29 08:39] alexellis commented on #1293
/close

[2019-09-29 08:39] #1293 closed

[2019-09-29 08:40] alexellis commented on #1293
Thank you for raising this John, we have updated AFAIK all components to a patched version of Go 1.11

[2019-09-29 08:40] #1291 closed

[2019-09-29 08:42] alexellis commented on #1322
I have put together a [PoC patch to show distribution across endpoints](https://github.com/openfaas/faas-netes/pull/524) for faas-netes. Discussion, input and testing are welcomed.

[2019-09-29 16:56] Miserlou opened #1323 "[Proposal] Separate and Unroll Callback URLs // Allow Multiple Callback URLS"
Suppose I am building a OpenFaaS functionalized ETL to modify very large images. I have functions `load`, `flip`, `rotate`, `emboss` and `print`.

As it stands (as far as I can tell), I'll only be able to use the first three functions in my pipeline if I'm being asynchronous without using another function for overseeing everything, which defeats the whole purpose of this. From `load`, I'll invoke

[2019-09-29 17:34] Miserlou commented on #1323
An alternative syntax to consider,

[code]

unrolling to:

[code]

or

[code]

If I want two different prints

[2019-10-01 18:23] rgee0 commented on #1235
Is there anything further required here?  Seems all three compose variants were moved to multi arch under (https://github.com/openfaas/faas/commit/9690987319a9906d2863c93eee8634f78e6aa0b6)

I'll close it and reopen if the answer comes back as yes.

[2019-10-01 18:23] #1235 closed

[2019-10-01 18:47] valdyjunior opened #1330 "[Feature Request] Parallel processing of multiple asynchronous functions"
## Summary
Hey, everybody,

I'm facing some problems using the asynchronous functions of OpenFaas, especially when it comes to parallelism of execution with two or more functions. I've already read the issue [#1177](https://github.com/openfaas/faas/issues/1177) and I'm opening this one for a better explanation of the problem.
If it is better to merge the two discussions please let me know

## My a

[2019-10-01 19:09] JaySunSyn commented on #776
Happy to have Podkite included.

Website https://podkite.com
Logo https://podkite.com/img/logo.png

🎙️

[2019-10-01 19:34] lamw opened #1331 "maintain user TLS context selection after faas-cli login"
# Expected Behavior

I've got an OpenFaaS deployment which uses a custom self-sign certificate. When logging into the OpenFaas endpoint via faas-cli, I need to use **--tls-no-verify** flag as expected. However, upon a successful login, I would not expect to need to pass this argument again as that user selection should be part of the login operation and stored.

Below is an example of logging and

[2019-10-03 00:25] Miserlou opened #1332 "[Feature Request] [UI] Set Callback Url via Web Interface"
As far as I can see, there is no way to set `X-Callback-Url` from the UI. This makes applications a lot harder to debug. It would be great if there was a field to set this and other headers.

![Screen Shot 2019-10-02 at 8 24 30 PM](https://user-images.githubusercontent.com/139987/66090753-b3e94900-e552-11e9-84d3-5d36b1d8c271.png)

[2019-10-03 13:07] mikechernev commented on #1167
Does this still need attention?
If so, I can look into it.

[2019-10-03 13:20] burtonr commented on #1167
@mikechernev Looking through the [sample functions](https://github.com/openfaas/faas/tree/master/sample-functions) It seems _most_ have been updated, however there look to be a handful remaining. In my quick look-through, I see MarkdownRender, Nmap, and WebhookStash. There may be a few others as well.

[2019-10-03 14:31] alexellis commented on #776
@JaySunSyn that's great, can you please send a PR to https://github.com/openfaas/faas/blob/master/ADOPTERS.md with a brief description of how you're using OpenFaaS?

Individual and company sponsorships are also welcome, just pay whatever you want. https://insiders.openfaas.io/

[2019-10-03 18:12] Miserlou opened #1333 "[Feature Request] Expose Requested Content-Type In /system/functions"
Different functions in the OpenFaaS function store behave differently when receiving content with different `Content-Type` headers. Some expect `text/plain` and return null otherwise, some expect `application/json` and return null otherwise, and some return the same thing no matter what.

There is no way to know apriori which the function expects, making it difficult to build complex pipelines wit

[2019-10-03 21:48] alexellis commented on #1323
Thanks for your suggestion Rich.

I would not recommend using the asynchronous pipeline to pass around very large binary data, it has a soft limit of a few MB, so in these cases we generally recommend using Minio or S3 to store each stage. You'll find similar limits with Cloud Functions.

One of the most similar things we've done so far is this -> https://blog.alexellis.io/openfaas-colorisebot-com

[2019-10-03 22:13] alexellis commented on #1216
I thought it would be wise to link to how Kubernetes enables encryption at rest for Secrets, this isn't a default and needs to be enabled by the administrator.

https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

[2019-10-03 22:16] alexellis commented on #1216
/set title: [Feature request] Add Bcrypt to basic auth plugin for logging in

[2019-10-04 15:44] ontehfritz opened #1335 "[Support] Can invocations be retried?"
This is more specific to functions that have been triggered from events (e.g. kafka events), it would be great to specify retries and back-off strategies, and to further the feature, be able to retry functions with the payload that failed; after retries have been exhausted, manually.

This is important in situations where you received the event, but processing failed inside of the function being e

[2019-10-04 16:31] jonatasbaldin commented on #1331
I agree with you @lamw.

We could accomplish this by adding an entry to `~/.openfaas/config.yaml`:

[code]

And check this in the subsequent commands.

[2019-10-04 16:31] jonatasbaldin commented on #1331
If these is an accepted design, I could work on it.

[2019-10-04 16:33] jonatasbaldin commented on #1331
/derek add label: proposal, design/review

[2019-10-04 16:35] jonatasbaldin commented on #1332
@alexellis @LucasRoesler we would need to return this information in the REST API, right? Is it possible today?

[2019-10-04 16:41] jonatasbaldin commented on #1333
My thoughts:

- What if a function accepts different `Content-Type`s depending on the user input? Maybe a very edge case tho
- I think this is more related to the function documentation than the infrastructure, which should not care about which `Content-Type` is being sent or which one the function accepts
- Forcing `application/json` also disables other use cases, like sending binary data

What d

[2019-10-04 18:53] Miserlou commented on #1335
Big +1, this would be a great feature. Would this be a new header? `X-Retry-Strategy: Exponential`, `X-Num-Retries: 5`, etc?

[2019-10-04 18:55] Miserlou commented on #1333
I agree about not wanting to limit the use cases (ex, for binary data), so I think that would be an argument to have this exposed in a manifest (maybe with `application/json` or `text/plain` as an assumed default by convention).

[2019-10-05 09:03] alexellis opened #1337 "[Feature] API documentation for deployed functions"
Feature: API documentation for deployed functions

Several users have asked for the ability to document how to interact with functions which have been deployed on OpenFaaS. This issue is also tracked on the Trello roadmap, see #contributors on Slack.

## Expected Behaviour

As a user of functions deployed to OpenFaaS, I want to know how to interact with them, programatically. This should cover inp

[2019-10-05 09:04] alexellis commented on #1333
/add label: question

[2019-10-05 09:04] alexellis commented on #1333
/add label: duplicate

[2019-10-05 09:04] alexellis commented on #1333
Duplicate of https://github.com/openfaas/faas/issues/1337

[2019-10-05 09:04] alexellis commented on #1333
@Miserlou thank you for your suggestion, it was already being tracked on Trello, but I've created an issue for it too.

[2019-10-05 09:04] #1333 closed

[2019-10-05 09:05] alexellis commented on #1333
/lock: move to the new thread

[2019-10-06 11:32] f43i4n commented on #1207
I have created a simple MQTT connector: [f43i4n/faas-mqtt-connector](https://github.com/f43i4n/faas-mqtt-connector)
It currently only has basic MQTT functionality and few configuration options, but it may fulfil your needs or you could create a PR to improve the connector.

[2019-10-06 17:31] alexellis commented on #1335
/set title: [Support] Can invocations be retried?

[2019-10-06 17:34] alexellis commented on #1335
Thanks for logging your suggestion.

Retries for invocations can be achieved through a "retry budget" with Linkerd, or through your choice of ingress controller such as Heptio Contour.

As regards the event-connector pattern, let's move the discussion over to the conenctor-sdk repo: https://github.com/openfaas-incubator/connector-sdk/issues/28

Thanks again and feel free to search past issues or t

[2019-10-06 17:34] #1335 closed

[2019-10-06 17:34] alexellis commented on #1335
Please also make use of the issue template for any further issues 👍

[2019-10-06 17:35] alexellis commented on #1335
/msg: slack

[2019-10-06 17:36] #1332 closed

[2019-10-06 17:40] alexellis commented on #1332
Thanks for the suggestion @Miserlou, may I ask you to please use the issue template for any issues that you raise against OpenFaaS? This request is effective a "proposal" and much more detailed case is required for those than provided above.

It may also be beneficial to ask some of the questions on Slack before raising an issue here to cut down on work for the maintainers.

Please could you elabo

[2019-10-08 05:27] alekar commented on #1300
The way we are currently implementing this is to create two different HTTP proxies, using `types.NewHTTPClientReverseProxy`.  One points to the function provider, which proxies invocations as a L7 load balancer. The second points to the queue provider, which proxies enqueues. This allows us to define the handlers like so:

[code]
On the queue provider, we respect the same API as the gateway, and s

[2019-10-08 07:09] alexellis commented on #1271
Thank you for your work on this

[2019-10-08 07:55] ziggekatten opened #1340 "Support request for Prometheus"
## My actions before raising this issue
- [X ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X ] Searched [past issues](/issues)

I have a Docker Swarm cluster with an existing Prometheus/Alert Manager/Grafana, and would like to use this. Howerver, there is no way to specify a sub URL, as my

[2019-10-08 08:18] alexellis commented on #1340
Can you explain the use-case? I've personally never had this need and don't fully understand the request.

[2019-10-08 08:20] alexellis commented on #1330
The asynchronous invocation model acts like a FIFO queue - first in, first out. This behaviour is as designed.

Can you confirm that you are sending all the requests for F1, then those for F2?

[2019-10-08 09:39] ziggekatten commented on #1340
The use case is quite simple. We would like to use existing Prometheus/AlrtManager, and since we have everything behind a Traefik reverse proxy and uses URI's instead of domains(everything under paths except TCP proxies) we have to run Prometheus with an "--web.external-url" that matches the path prefix in Traefik, thus causing the /api/v1 to be at path /monitoring/prometheus/apiv1

[2019-10-08 10:05] alexellis commented on #1340
Would you be willing to do all the work and testing for this feature and then to maintain it on an ongoing basis?

[2019-10-08 14:41] ziggekatten commented on #1340
Dang it, I was hopin' that I just haved missed some existing parameter:-)

[2019-10-08 15:31] alexellis commented on #1340
I wonder if you could access Prometheus the same way we do?

What if you deployed it a second time?

[2019-10-08 19:52] audioboxer217 commented on #1167
I'm out of time for today, but I did find a few more that I believe need to be done:
- [ ] BaseFunctions/cobol
- [ ] echo
- [ ] figlet
- [ ] gif-maker
- [ ] HostnameIntent
- [ ] NodeHelloEnv
- [ ] NodeInfo
- [ ] pwgen
- [ ] WordCountFunction

Also, I don't see any Dockerfile at all for:
- [ ] business-strategy-generator
- [ ] haveibeenpwned

Note: I used checkboxes so people can mark when they're

[2019-10-08 21:16] paurosello commented on #1167
Hello @audioboxer217 the image **functions/alpine:latest** is defined in [AlpineFunction](https://github.com/openfaas/faas/tree/master/sample-functions/AlpineFunction) which already contains the modification to make it non root and use the watchdog so it might be better to extend all functions from that one and improve the base.

What do you think?

[2019-10-08 23:42] audioboxer217 commented on #1167
That's a good idea. I didn't even realize that that's what that was.  I was just viewing it as a sort of template to follow based on the way it was laid out with the comment.

I might play around with that idea tomorrow.  Of it does work out then several of the Dockerfiles that are already "done" might be able to be updated this way as well.

[2019-10-09 00:50] blaise-sumo commented on #572
@alexellis , @ericstoekl, @stefanprodan  re:

Perhaps I misunderstand, but I think the discussion conflates *collecting* and *presenting* the log data.
For *collecting* the log data, we could use [systemd](https://www.freedesktop.org/software/systemd/man/systemd-journald.service.html). It's easy to overlook and take for granted, but it's likely to be around for a long time and the binary format av

[2019-10-09 04:27] audioboxer217 commented on #1167
I did some preliminary testing with this.  It seems to cause some permissions issues for some of these if **functions/alpine** is used at the beginning.  For instance, the **nmap** sample has `RUN apk add --no-cache nmap` which fails with:
[code]

I believe this is because it's attempting to use the 1000 user.  Of course, there are ways to get around this with Multi-Stage Builds if we'd still like

[2019-10-09 07:28] stefanprodan commented on #572
We want logs to be accessible from `kubectl logs`, `docker logs`, stackdriver, cloudwatch, kibana, datadog etc Using the systemd format would make OpenFaaS a non-cloud-native platform :))

[2019-10-09 08:14] alexellis opened #1346 "Security update - YAML parsing library (CVE-2019-11253)"
Security update needed in YAML parsing library

## Expected Behaviour

There was a vulnerability found in the YAML library used in Docker / K8s and OpenFaaS, we should update the CLI

https://github.com/docker/cli/pull/2117

https://github.com/kubernetes/kubernetes/issues/83253

## Current Behaviour

Excessive resources can be consumed on the client or server if a particular nested/referential pay

[2019-10-09 16:23] valdyjunior commented on #1330
Yes, @alexellis , I first send all requests to F1 and then all to F2.

I understand that the behavior of the system is as designed, but do you think it would be plausible to modify the behavior? I'm studying the openfaas code to contribute to this modification.

[2019-10-09 21:39] ziggekatten commented on #1340
I’m so stupid...all I really need is a small nginx service that proxy from / on port 9090 to my existing prometheus.... I’ll give that a try tomorrow.

[2019-10-10 10:40] ziggekatten commented on #1340
Allright, added a nginx, and now the gateway can communicate as it should with Prometheus. Attach the nginx below if someone else end up in this scenario
`daemon off;
worker_processes 1;

error_log /dev/stdout;

events {
    worker_connections 1024;
}

http {
    include              /etc/nginx/mime.types;
    default_type         application/octet-stream;
    sendfile             on;
    tcp_nopu

[2019-10-10 14:39] lobermann opened #1349 "Technical support request about timeouts"
## My actions before raising this issue
- [ ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

## Expected Behaviour
I have a very simple function that allows uploading a file and puts it into S3 and create a document for it in a database. All timeouts are se

[2019-10-10 14:49] eduardobcastro opened #1350 "Rate limit"
When I use OpenFaas Portal to invoke functions I see some rate limit headers being sent. Where do they come from? Is there a rate limiter that can be configured?

[2019-10-10 14:51] ziggekatten opened #1351 "Deploying function using private registry with aut does not work"
## My actions before raising this issue
- [X ] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X ] Read/searched [the docs](https://docs.openfaas.com/)
- [X ] Searched [past issues](/issues)

So, deploying a function through either faas-cli returns success (202), and the function shows up in the UI with status not ready.

## Expected Behaviour

The fu

[2019-10-10 14:55] LucasRoesler commented on #1349
Can you share your example project? Or create a small version that we can look at?

As you mentioned there are several timeouts that could be involved and it might be easier to have a fully example to look at and consider instead of going back and forth about all possible timeouts

[2019-10-10 14:59] lobermann commented on #1349
Sure, will create one.

[2019-10-10 14:59] alexellis commented on #1350
Out of curiosity what was your function and what was doing rate-limiting inside it?

Alex

For further questions, please don't open issues, but contact the community on Slack.

[2019-10-10 16:07] ziggekatten commented on #1351
Comment on my self......the service is created, but image is not beeing pulled. Manually downloading the image to the host, the function kicks in and works. Seems to have something with credentials incorrectly beeing passed

[2019-10-10 16:33] ziggekatten commented on #1351
Finally soething shows up in the logs. On the faas-swarm:

"Error creating service: Error response from daemon: rpc error: code = InvalidArgument desc = ContainerSpec: "https://harbor.coreteam.nu/functions/myfunc:1.0.1" is not a valid repository/tag"

This is very interesting. faas-cli Stack file:

`provider:
  name: faas
  gateway: https://tech.int.net/
functions:
  checkcertexp:
    lang: node10

[2019-10-10 17:38] ziggekatten commented on #1351
FInal update for tonight. I think I have narrowed it down to that credentials are not passed with faas-cli. I get exactly the same error message as in the faas-swarm log, trying to do "docker service create" directly on a cluster node and not use --with-registry-auth. So, now I'm stuck:-)

[2019-10-10 17:51] alexellis commented on #1351
What is the full image tag that you are using?

[2019-10-10 18:07] ziggekatten commented on #1351
harbor.coreteam.nu/functions/myfunc:1.0.1

I just did a test, by setting my registry from private to public, and voila, it works. But as son as I set my repo to use credentials, I get the error

[2019-10-10 18:22] rgee0 commented on #1351
Can you provide the output from these commands from where you are running your `faas-cli`, please?
[code]

[2019-10-11 05:55] ziggekatten commented on #1351
I'm running my faas-cli on windows. I have no DOCKER_CONFIG environment variable set,
My HOME varable is H:
H:\.docker have an empty config.json

[2019-10-11 07:43] lobermann commented on #1349
Here is a sample to reproduce it
https://github.com/lobermann/openfaas-upload-issue

[2019-10-11 19:48] ziggekatten commented on #1340
This can be closed. Works like a charm

[2019-10-11 19:57] rgee0 commented on #1340
Derek close

[2019-10-11 19:57] #1340 closed

[2019-10-11 20:38] alexellis commented on #1322
Refactored PR using @LucasRoesler new proxy interface https://github.com/openfaas/faas-netes/pull/533

[2019-10-12 07:19] LucasRoesler commented on #1349
Hi @lobermann I can't get to this today, but I will tomorrow (Sunday). I did a little digging in the openfaas code, and that specific error is most likely related to `upstream_timeout`. Hopefully I will confirm tomorrow

[2019-10-12 07:22] lobermann commented on #1349
Hi @LucasRoesler . Thank you very much. Appreciate your help on this!
I agree with you, as that sounds logical. In the .yml I have set it to `upstream_timeout: 21600s`, so maybe there is an issue with the value.

[2019-10-12 07:23] alexellis commented on #1349
You need to add a readme file to the sample because it is unclear how to either run it or execute it.

in terms of working with large files this is something that I've done a number of times using YouTube videos.

If you were trying to work with 2GB file in memory you should probably use the streaming template. every hop will need to be able to cache the full payload so make sure you have enough r

[2019-10-12 07:25] alexellis commented on #1349
I would actually strongly recommend against passing a file of this sort of size over http. We would generally recommend you use S3 or Minio to store the payload and then pull the file in for processing using the client SDK.

[2019-10-12 07:29] lobermann commented on #1349
@alexellis thanks, I have added a readme.

The idea is to store it in S3 but through that function.
I understand what you mean with file handling. Can you point me to one of those streaming template you mention? So I can try that out.

[2019-10-12 07:30] LucasRoesler commented on #1349
I agree with @alexellis , using s3 or minio is definitely the better way to handle file uploads ... But I still want to explore this error, because I would expect some other kind of error, not a timeout.

[2019-10-12 08:42] alexellis commented on #1349
You would be better off IMHO contacting the S3 API directly rather than proxying through a separate microservice, but it depends on your use-case.

Lucas feel free to experiment.

[2019-10-12 09:41] lobermann commented on #1349
@alexellis thanks. Yeah, need to check. Right now we planed on using just a simple curl command to upload files. That's why the hurdle through the function. I found the streaming template you mentioned but I will also see if we can use different tool on the machines to upload the files directly to S3 and just inform the function about the upload.

[2019-10-13 08:12] alexellis opened #1354 "[Research] Tracing for OpenFaaS Core services"
[Research] Tracing for OpenFaaS Core services

There has been interest expressed in tracing from the community through Slack and issues over the last year and a half. At this time there doesn't seem to be any hard requirement or urgency so the feature hasn't been prioritised. This issue would look into the cost and scope of implementing tracing across the core services in OpenFaaS.

There are also

[2019-10-13 11:11] LucasRoesler commented on #1354
We have been using OpenTracing at Contiamo for most of the last 2 years. Here are a couple of things we  learned as we implemented it

1. every function with `ctx` should immediately start a Span
2. any function that does I/O should be passed a context as a parameter so that it can start a Span. It also allows for cancel propagation
    1. even if a function isn't doing IO, if a function is public

[2019-10-13 15:26] LucasRoesler commented on #1349
@lobermann i am a big fan of the presigned url pattern with s3. You request a URL from s3, it sends one that includes a token, and then the caller can upload to that. https://docs.aws.amazon.com/AmazonS3/latest/dev/PresignedUrlUploadObject.html

You end up with two functions, one for getting the URL and a second to parse the file.

[2019-10-13 16:19] LucasRoesler commented on #1349
@lobermann it occurs to me now while debugging this, you are trying to set the timeouts on your function, but the configuration that controls this error is actually on the gateway.  These lines in your sample will not change the timeout used by the gateway https://github.com/lobermann/openfaas-upload-issue/blob/09570c20e5c5839f4f85e7ba85d98dd5d0475e17/function.yml#L12-L17

You need to set this val

[2019-10-15 09:39] alexellis opened #1355 "Update basic-auth plugin to use latest faas-provider"
##  Expected Behaviour

Update the gateway and basic-auth plugin to use latest faas-provider version

## Possible Solution

### For `/gateway/`

* Edit `Gopkg.toml`

* Use the latest release from faas-provider - https://github.com/openfaas/faas-provider/releases

* Run `dev ensure`

### For `/gateway/`

* Edit `Gopkg.toml`

* Use the latest release from faas-provider - https://github.com/openfaas/

[2019-10-15 09:50] mistikel commented on #1355
I would like to take this

[2019-10-15 10:08] alexellis commented on #1349
`21600s` might also look better using `m` or `h` (minutes/hours)

[2019-10-15 10:20] alexellis commented on #1355
Sure, how long do you think it will take you?

[2019-10-15 10:20] alexellis commented on #1355
More on dep -> https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-need-to-add-a-dependency

[2019-10-15 21:05] Karthik-13 commented on #1355
@alexellis Could you please review and provide feedback on PR?

[2019-10-16 12:43] jmickey commented on #572
I've had good success at work with user-go/zap for structured logs. I've not used zerolog but I don't imagine the differences are significant.

[2019-10-16 16:24] blaise-sumo commented on #572
Hi @stefanprodan , I think I'm not explaining myself properly.
I agree with your point about accessing the data.
I was referring to recording the data using one of the established libraries like
- https://github.com/coreos/go-systemd
- https://godoc.org/github.com/ssgreg/journald
Just from browsing the source code, I suspect we could promote good logging discipline if we choose a package and some

[2019-10-17 21:46] OmerJog commented on #1277
as @itaiya explained airflow doesn't actively listening to anything. It is as a workflow management.
Task is invoked when criteria is met (time, dependency etc). This is why Airflow uses mainly with Sensor. They are tasks that you put your workflow that verify that criteria is met.
For example:
1. File appeared in S3
2. Current day is Monday
3. EMR cluster is on Ready state
4. Table X was created

[2019-10-21 07:55] alexellis opened #1360 "Multi-arch image script is incorrectly detecting images on Docker Hub"
Multi-arch image script is incorrectly detecting images on Docker Hub

## Expected Behaviour

The script on this line, should determine whether an image exists on the Docker Hub before attempting to build.

https://github.com/openfaas/faas/blob/master/contrib/publish-arm.sh#L51

## Current Behaviour

It returns "true" as in the image exists even for those which do not.

## Possible Solution

See i

[2019-10-21 08:05] Waterdrips commented on #1360
I can take a look at this

[2019-10-21 08:11] alexellis commented on #1360
Testing the script needs to be done on Linux or RPi, perhaps `docker run -ti ubuntu` would be suitable for debugging?

Perhaps the issue is that `Not found` is now lowercase in the Docker HUB API? They recently pushed changes to enable robot accounts.

For a tag that doesn't exist: 0.19.0

[code]

For a tag that does from: https://hub.docker.com/r/openfaas/gateway/tags

I am also seeing 2x `//` sy

[2019-10-21 08:12] alexellis commented on #1360
Thanks @Waterdrips, I'll leave it with you.

[2019-10-21 10:56] alexellis commented on #1360
In the future, please add to your commit message or PR the text "Closes: #X"

[2019-10-21 10:56] #1360 closed

[2019-10-21 11:09] paurosello commented on #1167
Hmm you are right... it doesn't feel right to make this change in all Dockerfiles, but installing packages is something that needs to be enabled.

We can either remove that from the top Dockerfile and modify all children Dockerfile or document how to install packages in child images:

[code]

What do you think?

[2019-10-21 22:08] pouledodue opened #1362 "docs says K8s 1.8 to 1.13"
[docs](https://docs.openfaas.com/deployment/kubernetes/) says K8s 1.8 to 1.13, is it still relevant or I can use 1.15?

[2019-10-22 15:44] damingerdai commented on #1308
i also meet this issue, but i use windows10

[2019-10-22 15:55] alexellis commented on #1362
You can use 1.11 and later, feel free to send a PR, but read the contribution guidelines for the DCO

[2019-10-22 15:55] alexellis commented on #1362
Cc @rgee0

[2019-10-24 06:46] lobermann commented on #1349
Thanks for all the help and feedback!

@LucasRoesler is there any way to check if the timeout value has been properly set on the gateway? Because I tried it and I can see no difference. Which lets me assume I did something wrong.

[2019-10-25 15:49] audioboxer217 commented on #1167
yeah, I think that makes sense.  Especially since these are intended to be "samples" which I usually take to mean, "an example of how to do x".

The question is, should these updates be made based on this same Issue or should a new one be opened for that work?

[2019-10-27 09:09] #1362 closed

[2019-10-27 09:11] #1355 closed

[2019-10-28 00:46] samhuss opened #1366 "Nats cluster has fixed cluster ID "faas-cluster""
Hello,

I'm trying OpenFaas for my new project using Nomad with Consul by following Nick Jackson's documentation for faas-nomad provider.
While I'm having my environment already setup with Nats and Nats-Streaming clusters using the default cluster id "test-cluster" there was no way that the OpenFaas gateway would pick it up. I figured out the issue was a hard coded cluster ID in the [source code f